[//]: # (Generated by genapidoc.py on 2025-04-12 14:57:20.151892. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                "block_index": 245,
                "block_time": 1744469822,
                "difficulty": 545259519,
                "previous_block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                "block_index": 245,
                "block_time": 1744469822,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "fee": 0,
                "source": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                "transaction_type": "dispense",
                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "tx_index": 121,
                "utxos_info": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1 05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "out_index": 0,
                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "tx_index": 121,
                "block_time": 1744469822,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                "transaction_count": 1,
                "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                "block_time": 1744469822
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "tx_index": 121
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                "utxo_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                "block_time": 1744469822,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1744469822,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q6xrjec3000p7467mxp7m0y39gcjvv2xujjltyd",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "status": "valid",
                "tx_hash": "c484cb413d539417ec1e2c5edab17d3fe217fe75b43410b016183560b2c8b8ae",
                "tx_index": 77,
                "block_time": 1744469621,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "c484cb413d539417ec1e2c5edab17d3fe217fe75b43410b016183560b2c8b8ae",
            "block_index": 201,
            "block_time": 1744469621
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q6xrjec3000p7467mxp7m0y39gcjvv2xujjltyd",
                "status": "valid",
                "tx_hash": "cb1472e03eff3b5f123df9f5eebf49ecc121dfab47ed2ec83704ba65d74d6432",
                "tx_index": 81,
                "block_time": 1744469637,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "cb1472e03eff3b5f123df9f5eebf49ecc121dfab47ed2ec83704ba65d74d6432",
            "block_index": 205,
            "block_time": 1744469637
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q8kfp839kf6sssnedj3fw99z6pz85x5g5gpnala",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q86vml3pdhp7usv7phqfnhpce2k9r82lh9fad5x",
                "status": "valid",
                "tx_hash": "0e44ad83aff886845d05c9336006cbddf8eaa9751edf3f18ae9aea6ac3c88bb2",
                "tx_index": 65,
                "block_time": 1744469572,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "0e44ad83aff886845d05c9336006cbddf8eaa9751edf3f18ae9aea6ac3c88bb2",
            "block_index": 190,
            "block_time": 1744469572
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "status": "valid",
                "tx_hash": "a72803d19e87b8481c689f03ac4dca9c3d58cb66bbba8f137116e7888ac78b4c",
                "tx_index": 42,
                "block_time": 1744469415,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "a72803d19e87b8481c689f03ac4dca9c3d58cb66bbba8f137116e7888ac78b4c",
            "block_index": 146,
            "block_time": 1744469415
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "status": "valid",
                "transfer": false,
                "tx_hash": "5a994ac3331ae6ed0369a11d0bd7117b09c60abaf8c9921e030c157011f99dd0",
                "tx_index": 117,
                "block_time": 1744469799,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5a994ac3331ae6ed0369a11d0bd7117b09c60abaf8c9921e030c157011f99dd0",
            "block_index": 240,
            "block_time": 1744469799
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1744469811
            },
            "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
            "block_index": 243,
            "block_time": 1744469811
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "status": "valid",
                "transfer": false,
                "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
                "tx_index": 120,
                "block_time": 1744469811,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
            "block_index": 243,
            "block_time": 1744469811
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "5a994ac3331ae6ed0369a11d0bd7117b09c60abaf8c9921e030c157011f99dd0",
                "tx_index": 117,
                "block_time": 1744469799,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "5a994ac3331ae6ed0369a11d0bd7117b09c60abaf8c9921e030c157011f99dd0",
            "block_index": 240,
            "block_time": 1744469799
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "status": "open",
                "tx_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
                "tx_index": 119,
                "block_time": 1744469807,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qlj2h64s0xlqd85vy9yegrr7j973qcw78xu24dl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qlj2h64s0xlqd85vy9yegrr7j973qcw78xu24dl"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
            "block_index": 242,
            "block_time": 1744469807
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "abdeb4cef3543d35a8dd120c0e57188fc08a3bec7dbc1ff92f3417cc8bf06cc5_7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qlj2h64s0xlqd85vy9yegrr7j973qcw78xu24dl",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "abdeb4cef3543d35a8dd120c0e57188fc08a3bec7dbc1ff92f3417cc8bf06cc5",
                "tx0_index": 118,
                "tx1_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
                "tx1_index": 119,
                "block_time": 1744469807,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qlj2h64s0xlqd85vy9yegrr7j973qcw78xu24dl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qlj2h64s0xlqd85vy9yegrr7j973qcw78xu24dl"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
            "block_index": 242,
            "block_time": 1744469807
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7d9d7f38d9f900b401b1beaf46ab84dc6b80737cea15f16910b8e7f3dd25a141",
            "block_index": 242,
            "block_time": 1744469807
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "110aa2ebd05b11f10961d5c03bdbb3e046d505c2d4ba9bc68fa562ff946afe43"
            },
            "tx_hash": "a9b48f9073b9cca6316cc1a1ca507123f4a5b190c6c802522d9332404d5422fc",
            "block_index": 182,
            "block_time": 1744469540
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "cc62970794aa04bdbd54a2d70b27d5bce2a8ff9880aa1a7f5bef540bc4acebf7_4c4c213519d27b2e86c3b4f941ac1e442977909232c1e076ea1056a4a5408846",
                "order_match_id": "cc62970794aa04bdbd54a2d70b27d5bce2a8ff9880aa1a7f5bef540bc4acebf7_4c4c213519d27b2e86c3b4f941ac1e442977909232c1e076ea1056a4a5408846",
                "status": "expired"
            },
            "tx_hash": "ec2c77e1b573b69f07d105e45f6c713e23831ac19c04179703d161b6431ada3a",
            "block_index": 225,
            "block_time": 1744469715
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "order_match_id": "dcf078ecd42e7d37eb64384d4a95e194a1c3487ba72f75f3a12f522e1c3aebd5_110aa2ebd05b11f10961d5c03bdbb3e046d505c2d4ba9bc68fa562ff946afe43",
                "source": "bcrt1q6xrjec3000p7467mxp7m0y39gcjvv2xujjltyd",
                "status": "valid",
                "tx_hash": "a9b48f9073b9cca6316cc1a1ca507123f4a5b190c6c802522d9332404d5422fc",
                "tx_index": 57,
                "block_time": 1744469540,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "a9b48f9073b9cca6316cc1a1ca507123f4a5b190c6c802522d9332404d5422fc",
            "block_index": 182,
            "block_time": 1744469540
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "4dcbab5d0e2452d445b4c007fd74e9af24de04c8096a4f85be798cff7f4be3ae",
                "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "status": "valid",
                "tx_hash": "6b0ecf8c09208aa843656bc1646c76ca57e7050b8ca78c4d2200874f949b3999",
                "tx_index": 63,
                "block_time": 1744469564
            },
            "tx_hash": "6b0ecf8c09208aa843656bc1646c76ca57e7050b8ca78c4d2200874f949b3999",
            "block_index": 188,
            "block_time": 1744469564
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "cc62970794aa04bdbd54a2d70b27d5bce2a8ff9880aa1a7f5bef540bc4acebf7",
                "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "block_time": 1744469662
            },
            "tx_hash": "e976a1ff29a9733177fc72c624d9ba49a4156568a577ff85c815219e82e91369",
            "block_index": 211,
            "block_time": 1744469662
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "cc62970794aa04bdbd54a2d70b27d5bce2a8ff9880aa1a7f5bef540bc4acebf7_4c4c213519d27b2e86c3b4f941ac1e442977909232c1e076ea1056a4a5408846",
                "tx0_address": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "tx1_address": "bcrt1q86vml3pdhp7usv7phqfnhpce2k9r82lh9fad5x",
                "block_time": 1744469715
            },
            "tx_hash": "ec2c77e1b573b69f07d105e45f6c713e23831ac19c04179703d161b6431ada3a",
            "block_index": 225,
            "block_time": 1744469715
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qqdn42vl35nu9jedqsfm8rwmrfnvq6tl75zy0r8",
                "satoshirate": 1,
                "source": "bcrt1qqdn42vl35nu9jedqsfm8rwmrfnvq6tl75zy0r8",
                "status": 0,
                "tx_hash": "1f576e5c841d85842aa4d5f26253d97392469215b2588a52cb8f1a2874b07979",
                "tx_index": 114,
                "block_time": 1744469783,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "1f576e5c841d85842aa4d5f26253d97392469215b2588a52cb8f1a2874b07979",
            "block_index": 236,
            "block_time": 1744469783
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "status": 0,
                "tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mgTQmFDw2ChHJ5HnWAB46bxJxDUpzAPjDu",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "27e7dee9919ee25af59d9f1f89baaf972b3b357a82fd5cff189914f3c86837bc",
                "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                "tx_hash": "8d763891e86fefa28f088568a1e0a9ea49e100a7098b7b219306d8df3fcc49a9",
                "tx_index": 31,
                "block_time": 1744469373,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "8d763891e86fefa28f088568a1e0a9ea49e100a7098b7b219306d8df3fcc49a9",
            "block_index": 135,
            "block_time": 1744469373
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "tx_index": 121,
                "block_time": 1744469822,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "mime_type": "text/plain",
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "898fc4f0b02cd5caeffa954c7d56ba33dc18dafe8db8c9f12bf2d1e98b1f1110",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1744469349,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "898fc4f0b02cd5caeffa954c7d56ba33dc18dafe8db8c9f12bf2d1e98b1f1110",
            "block_index": 129,
            "block_time": 1744469349
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "mime_type": "text/plain",
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "start_block": 0,
                "status": "open",
                "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
                "tx_index": 120,
                "block_time": 1744469811,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
            "block_index": 243,
            "block_time": 1744469811
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "11337bd37f3519bd7434b6cf894d883dc8efa22c7894fe52f689dbd2a7fe4e15"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1744469726
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "9b050bec30d73f9d7533fb1eb144da8aa5525256a4467d90fced8bcba5fd545c",
                "paid_quantity": 100000000,
                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "status": "valid",
                "tx_hash": "451739af17a0fd0930ba739c517d40ca86d0b65c0f25d4fb905eb40bdf947a17",
                "tx_index": 97,
                "block_time": 1744469702,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "451739af17a0fd0930ba739c517d40ca86d0b65c0f25d4fb905eb40bdf947a17",
            "block_index": 221,
            "block_time": 1744469702
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "5ef742dd1d3069fe0f18ad61554e597e8a7285a619bc7636a4e3988fb43ebd4d:0",
                "destination_address": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "status": "valid",
                "tx_hash": "5ef742dd1d3069fe0f18ad61554e597e8a7285a619bc7636a4e3988fb43ebd4d",
                "tx_index": 112,
                "block_time": 1744469778,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5ef742dd1d3069fe0f18ad61554e597e8a7285a619bc7636a4e3988fb43ebd4d",
            "block_index": 235,
            "block_time": 1744469778
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "d2a95017ed93103a77e2c66e1102a40dff75393049cc38767cf1806aa7b4bc75:0",
                "source_address": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                "status": "valid",
                "tx_hash": "b8630a075df99d7705c8c1380cb1a18bd65484cf670b381ce0a4be4175bad8e9",
                "tx_index": 111,
                "block_time": 1744469775,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b8630a075df99d7705c8c1380cb1a18bd65484cf670b381ce0a4be4175bad8e9",
            "block_index": 234,
            "block_time": 1744469775
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                "destination_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                "source_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                "status": "valid",
                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                "tx_index": 121,
                "block_time": 1744469822,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
            "block_index": 245,
            "block_time": 1744469822
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q6xrjec3000p7467mxp7m0y39gcjvv2xujjltyd",
                "status": "valid",
                "tx_hash": "6ed648f0c5174fa88eeda562be65f1c5633f818370bf54c07fabff0b4f4165fb",
                "tx_index": 9,
                "block_time": 1744469280,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "6ed648f0c5174fa88eeda562be65f1c5633f818370bf54c07fabff0b4f4165fb",
            "block_index": 112,
            "block_time": 1744469280
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-rc.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                    "block_time": 1744469822,
                    "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                    "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                    "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                    "previous_block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61",
                    "block_time": 1744469815,
                    "ledger_hash": "178c9c088dbf15abfec5fc7b5615c5a6fc0d453dc1591c29ea856b7d1862b14a",
                    "txlist_hash": "3503f592a3d829934606f8c8a3e742df6a4637513e67c9c4230bb6e32a1c4b15",
                    "messages_hash": "f67bdafe6c2deedfa7b110cdcd1b279b53a99d9ab1efff3fa41be4cfaa608471",
                    "previous_block_hash": "576ac13f8654130472965ad1d12a7c971d67de08dd7289c74f4c7f9bd06b403d",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "576ac13f8654130472965ad1d12a7c971d67de08dd7289c74f4c7f9bd06b403d",
                    "block_time": 1744469811,
                    "ledger_hash": "4938fd945b090e2ff1eb2d016274d320bd511ceecd3089715d9cb649e41714e6",
                    "txlist_hash": "7f2471ead9d7c4cd094b4089c5a3c0dca142217a4dce8e3818f34432fdcbd03f",
                    "messages_hash": "1ebc8ed2a3454b66588d8f94c38c35d1f16fc95ee3b1f9f3d25f8e3d1233b360",
                    "previous_block_hash": "21e4286da5a2bdc58ea0703ac79baf226516a0c345fd247599ded60653ff3434",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "21e4286da5a2bdc58ea0703ac79baf226516a0c345fd247599ded60653ff3434",
                    "block_time": 1744469807,
                    "ledger_hash": "4cb21d9ec36cb0c851c980182e288a9ac1b249ad4620f43a24f651e8720d541d",
                    "txlist_hash": "1fbbec252125d581114379e06d494eb23b24520a0e5ea6866323dc7eece2bdc9",
                    "messages_hash": "2362e6e35dfff73c3f6045596e5cf4b27523dceb809c6e6dfbf1946b1629e03a",
                    "previous_block_hash": "59a4152bf27ea33ffb01b20819f9607478bbf765e943dbf763d5315a05072df2",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "59a4152bf27ea33ffb01b20819f9607478bbf765e943dbf763d5315a05072df2",
                    "block_time": 1744469803,
                    "ledger_hash": "3105361136a1f434508fddbc7502006d6831c714fe17f1061183eb93687e5e34",
                    "txlist_hash": "8da5323d760e74483a84e9474f1840d41a103259ed9d9d986e8ef26546808e7e",
                    "messages_hash": "172174f8c67b70af732a39a04c8419768143d9c820db1738daf103a6a6ccaa47",
                    "previous_block_hash": "71dde4fc4be2146219428a5157db50cc4559a6c245a5041a56f39b9058b29a3b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                "block_time": 1744469822,
                "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                "previous_block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                "block_time": 1744469822,
                "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                "previous_block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                "block_time": 1744469822,
                "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                "previous_block_hash": "2240e739887f1abb942ac422aab49fa231ee36e151a348cc1d2829a529d7df61",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "block_index": 245,
                    "block_hash": "4e2fa916710a571b47ff263693ee74d6994839d60aadd1bb437c2f1aedb86fe5",
                    "block_time": 1744469822,
                    "source": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "destination": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1 05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                                "destination_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                                "source_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                                "status": "valid",
                                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                                "tx_index": 121,
                                "block_time": 1744469822,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                            "block_index": 245,
                            "block_time": 1744469822
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                                "destination_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                                "source_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                                "status": "valid",
                                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                                "tx_index": 121,
                                "block_time": 1744469822,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                            "block_index": 245,
                            "block_time": 1744469822
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                                "status": 0,
                                "tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                            "block_index": 245,
                            "block_time": 1744469822
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                                "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                                "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                                "tx_index": 121,
                                "block_time": 1744469822,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                            "block_index": 245,
                            "block_time": 1744469822
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "9620e2fb32379ade7af8c9ed68f8ca8516d14b903e026d3226b8cd0f74331163",
                        "messages_hash": "a6e6646df3ea75ed1c0c62100224dc13f9ba69bfd1fd836e4c9f86040dbc1af0",
                        "transaction_count": 1,
                        "txlist_hash": "cd173231792bf936bca2f8ca893bca980b109c5ab88d1264d39ff6eac4bbb02e",
                        "block_time": 1744469822
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "tx_index": 121
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                        "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                        "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "tx_index": 121,
                        "block_time": 1744469822,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                        "status": 0,
                        "tx_hash": "b8015291e4a42f0e8e980b67fe671945107f2d5fd25de03ea3423022bdac0ce5",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1744469822,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1744469822,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                        "utxo_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                        "block_time": 1744469822,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                        "utxo_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                        "block_time": 1744469822,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "tx_index": 121,
                    "utxo": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                    "utxo_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "tx_index": 121,
                    "utxo": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                    "utxo_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "tx_index": 121,
                    "utxo": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                    "utxo_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "tx_index": 121,
                    "utxo": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                    "utxo_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "cc62970794aa04bdbd54a2d70b27d5bce2a8ff9880aa1a7f5bef540bc4acebf7",
                    "block_index": 211,
                    "block_time": 1744469662
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "6b0ecf8c09208aa843656bc1646c76ca57e7050b8ca78c4d2200874f949b3999",
                    "block_index": 188,
                    "source": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                    "offer_hash": "4dcbab5d0e2452d445b4c007fd74e9af24de04c8096a4f85be798cff7f4be3ae",
                    "status": "valid",
                    "block_time": 1744469564
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "5a994ac3331ae6ed0369a11d0bd7117b09c60abaf8c9921e030c157011f99dd0",
                    "block_index": 240,
                    "source": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1744469799,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qw2zqwy4mfrmn6w2nvyktacvvtcyja8973lkw03"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "beff412372af599ee0a2c30257c372301bd00cb231f8cea1e562544c8d9391b2",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "issuer": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "mime_type": "text/plain",
                    "block_time": 1744469811,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "block_index": 245,
                    "source": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                    "destination": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "destination_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01",
                    "block_index": 245,
                    "source": "1e6baa038fa776476e1c5ccca976020f617a17db81c7e4a2d8a496413df14448:1",
                    "destination": "05116bb05c2512e7a7cb1dea8b65cf874b0062a7964e2019db9e849e2aa12f01:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qu8euqq6erm4293g5gr363pvpckn6y9xz888d6l",
                    "destination_address": "bcrt1qh085c968c5fhp3pzvs08nenrru2jt48crpe3zd",
                    "block_time": 1744469822,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q46wlkfur2nndj27w5sflvgfftpe0avpzkackau"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
[...]
