[//]: # (Generated by genapidoc.py on 2025-02-07 08:20:22.425550. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                "block_index": 245,
                "block_time": 1738916405,
                "difficulty": 545259519,
                "previous_block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                "block_index": 245,
                "block_time": 1738916405,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "fee": 0,
                "source": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                "transaction_type": "dispense",
                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "tx_index": 121,
                "utxos_info": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1 b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "out_index": 0,
                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "tx_index": 121,
                "block_time": 1738916405,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                "transaction_count": 1,
                "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                "block_time": 1738916405
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "tx_index": 121
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                "utxo_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                "block_time": 1738916405,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738916405,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q7ctfknlrzj0d3tyl8ph9k4l5dx7jcjuxxfzhet",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "status": "valid",
                "tx_hash": "24be6ad050e736c789b67a3a3be3eb50196875a7a6c89050c5ddab1b0920d545",
                "tx_index": 77,
                "block_time": 1738916232,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "24be6ad050e736c789b67a3a3be3eb50196875a7a6c89050c5ddab1b0920d545",
            "block_index": 201,
            "block_time": 1738916232
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q7ctfknlrzj0d3tyl8ph9k4l5dx7jcjuxxfzhet",
                "status": "valid",
                "tx_hash": "671a03792f9b4336ed771d8ca437fe2558d0c40b5910c37312fc8939de564a1a",
                "tx_index": 81,
                "block_time": 1738916245,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "671a03792f9b4336ed771d8ca437fe2558d0c40b5910c37312fc8939de564a1a",
            "block_index": 205,
            "block_time": 1738916245
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qjarmmwlnqtulcpw8rncncqwluwva6ar79f82ks",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8s3zf2u03f8qk6n39xwkzwafhlde44w6dj25r0",
                "status": "valid",
                "tx_hash": "c7cb2f9f8cdb09aa2628225ea67fb354068621fbe8968777338209887acd99e2",
                "tx_index": 65,
                "block_time": 1738916190,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "c7cb2f9f8cdb09aa2628225ea67fb354068621fbe8968777338209887acd99e2",
            "block_index": 190,
            "block_time": 1738916190
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "status": "valid",
                "tx_hash": "101669232805116b3993ed4f932484b4565ecd52079fa0f45ba238bb6a257497",
                "tx_index": 42,
                "block_time": 1738916045,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "101669232805116b3993ed4f932484b4565ecd52079fa0f45ba238bb6a257497",
            "block_index": 146,
            "block_time": 1738916045
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "status": "valid",
                "transfer": false,
                "tx_hash": "c873473445a17163cd8a0eb07b782f37868d00c411a5f563733a1a3bf10d744e",
                "tx_index": 117,
                "block_time": 1738916386,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c873473445a17163cd8a0eb07b782f37868d00c411a5f563733a1a3bf10d744e",
            "block_index": 240,
            "block_time": 1738916386
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738916396
            },
            "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
            "block_index": 243,
            "block_time": 1738916396
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "status": "valid",
                "transfer": false,
                "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
                "tx_index": 120,
                "block_time": 1738916396,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
            "block_index": 243,
            "block_time": 1738916396
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "c873473445a17163cd8a0eb07b782f37868d00c411a5f563733a1a3bf10d744e",
                "tx_index": 117,
                "block_time": 1738916386,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "c873473445a17163cd8a0eb07b782f37868d00c411a5f563733a1a3bf10d744e",
            "block_index": 240,
            "block_time": 1738916386
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "status": "open",
                "tx_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
                "tx_index": 119,
                "block_time": 1738916393,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qufugl3ams2gpaa0dkcv0ure3dkzjgrax8uw02e",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
            "block_index": 242,
            "block_time": 1738916393
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "b25b21621c92f175d4a378c808eb87f35fa6f9b35e08241d51e97b6c1c7af4ca_b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qufugl3ams2gpaa0dkcv0ure3dkzjgrax8uw02e",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "b25b21621c92f175d4a378c808eb87f35fa6f9b35e08241d51e97b6c1c7af4ca",
                "tx0_index": 118,
                "tx1_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
                "tx1_index": 119,
                "block_time": 1738916393,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qufugl3ams2gpaa0dkcv0ure3dkzjgrax8uw02e",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
            "block_index": 242,
            "block_time": 1738916393
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "b87a915d79436a8bb9d3b269167b2d0361a6ae699c9c44e639869af68578e8d5",
            "block_index": 242,
            "block_time": 1738916393
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "39c0f06baebe6d81d99e8fff411b1d2083ef396d8a08d8531ecd560337767dc8"
            },
            "tx_hash": "1aa72b6643ff88288639806297ff6fa58a2beed817b03f025c97de556b978ecd",
            "block_index": 182,
            "block_time": 1738916161
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4aeeaaf0c253ee09db6fb4583f278c83643c323537b75984231531d411be578a_2f86e729d0956c8d058e883ca3a0ac57c20001f5e0e2e982f10e6c79b2beae3a",
                "order_match_id": "4aeeaaf0c253ee09db6fb4583f278c83643c323537b75984231531d411be578a_2f86e729d0956c8d058e883ca3a0ac57c20001f5e0e2e982f10e6c79b2beae3a",
                "status": "expired"
            },
            "tx_hash": "f770e40bb7d3445211b76cf4895aa7a000b039b1ce14b2cc2fe0e3602ad46dd1",
            "block_index": 225,
            "block_time": 1738916316
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "order_match_id": "86576bef3aca54b9643c575c250587f69933001c9b2a1083035aedb2b29f7ab0_39c0f06baebe6d81d99e8fff411b1d2083ef396d8a08d8531ecd560337767dc8",
                "source": "bcrt1q7ctfknlrzj0d3tyl8ph9k4l5dx7jcjuxxfzhet",
                "status": "valid",
                "tx_hash": "1aa72b6643ff88288639806297ff6fa58a2beed817b03f025c97de556b978ecd",
                "tx_index": 57,
                "block_time": 1738916161,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "1aa72b6643ff88288639806297ff6fa58a2beed817b03f025c97de556b978ecd",
            "block_index": 182,
            "block_time": 1738916161
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "33ae55d32045380293ead57f009756f20c73041d26ee1a81ad085250cf74b8f2",
                "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "status": "valid",
                "tx_hash": "04c8eb4363a146c7812cd52758bba118431c1270605d70b298868ead90b2bad7",
                "tx_index": 63,
                "block_time": 1738916183
            },
            "tx_hash": "04c8eb4363a146c7812cd52758bba118431c1270605d70b298868ead90b2bad7",
            "block_index": 188,
            "block_time": 1738916183
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "4aeeaaf0c253ee09db6fb4583f278c83643c323537b75984231531d411be578a",
                "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "block_time": 1738916265
            },
            "tx_hash": "ae6b329ad0664f598ba6bfd9edaf8c7f4e029ab661be33a361e7bf7a287e9006",
            "block_index": 211,
            "block_time": 1738916265
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "4aeeaaf0c253ee09db6fb4583f278c83643c323537b75984231531d411be578a_2f86e729d0956c8d058e883ca3a0ac57c20001f5e0e2e982f10e6c79b2beae3a",
                "tx0_address": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "tx1_address": "bcrt1q8s3zf2u03f8qk6n39xwkzwafhlde44w6dj25r0",
                "block_time": 1738916316
            },
            "tx_hash": "f770e40bb7d3445211b76cf4895aa7a000b039b1ce14b2cc2fe0e3602ad46dd1",
            "block_index": 225,
            "block_time": 1738916316
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qv4mlwg9lljt7pa9ucqcyapn67vu3gvla76wwee",
                "satoshirate": 1,
                "source": "bcrt1qv4mlwg9lljt7pa9ucqcyapn67vu3gvla76wwee",
                "status": 0,
                "tx_hash": "6f3690b8ed60b71a0597a9ff39c588acf61f55c1143fc6f1c72505045715131d",
                "tx_index": 114,
                "block_time": 1738916370,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6f3690b8ed60b71a0597a9ff39c588acf61f55c1143fc6f1c72505045715131d",
            "block_index": 236,
            "block_time": 1738916370
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "status": 0,
                "tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "msncD3TBNqcCCtpwhwsLJbwmFCtwKPDWxH",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "7de934765470c7dd900eef65a1ec11a20cfa9ce001369d201aa9e231c2d63c04",
                "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                "tx_hash": "7467701bcc89e5b25f66dfbd8b6ae766e6a4a6ba5bcb536c083b541c97d06f48",
                "tx_index": 31,
                "block_time": 1738916005,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "7467701bcc89e5b25f66dfbd8b6ae766e6a4a6ba5bcb536c083b541c97d06f48",
            "block_index": 135,
            "block_time": 1738916005
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "tx_index": 121,
                "block_time": 1738916405,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "3c72aebd7b552f38f0c7b38deba6e8e89b005e5fa6efe03550e811c2a7a427a7",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738915983,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "3c72aebd7b552f38f0c7b38deba6e8e89b005e5fa6efe03550e811c2a7a427a7",
            "block_index": 129,
            "block_time": 1738915983
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "start_block": 0,
                "status": "open",
                "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
                "tx_index": 120,
                "block_time": 1738916396,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
            "block_index": 243,
            "block_time": 1738916396
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "cc5770bb6413bf6df168ed417bc3740a5e92ef2e24b080d7e6a78bfca1f84f78"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738916329
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "6a01fad39e366925ba81029607607b28dfe25b10b650d1f6e9874631c413b707",
                "paid_quantity": 100000000,
                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "status": "valid",
                "tx_hash": "8705930de5de6809364200d2a874d1eb689310d43fa764c4a6ea7ee9d953812a",
                "tx_index": 97,
                "block_time": 1738916302,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "8705930de5de6809364200d2a874d1eb689310d43fa764c4a6ea7ee9d953812a",
            "block_index": 221,
            "block_time": 1738916302
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "f1db683ca457c01641ea6657dcbbc1ca15f036f34375a6258d2862a0a528ad58:0",
                "destination_address": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "status": "valid",
                "tx_hash": "f1db683ca457c01641ea6657dcbbc1ca15f036f34375a6258d2862a0a528ad58",
                "tx_index": 112,
                "block_time": 1738916364,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f1db683ca457c01641ea6657dcbbc1ca15f036f34375a6258d2862a0a528ad58",
            "block_index": 235,
            "block_time": 1738916364
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "abcd1487cab9bc891e56f0f8e2af9ebd4375cc6ee08d51c50a8892d192adf1c6:0",
                "source_address": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                "status": "valid",
                "tx_hash": "de226260fea56885ca743c913e91a702b5d4272b628585d48ba333e3d2854f84",
                "tx_index": 111,
                "block_time": 1738916361,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "de226260fea56885ca743c913e91a702b5d4272b628585d48ba333e3d2854f84",
            "block_index": 234,
            "block_time": 1738916361
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                "destination_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                "source_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                "status": "valid",
                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                "tx_index": 121,
                "block_time": 1738916405,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
            "block_index": 245,
            "block_time": 1738916405
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qv4mlwg9lljt7pa9ucqcyapn67vu3gvla76wwee",
                "status": "valid",
                "tx_hash": "e7288410746d06048c61dee1c993a31618e3eb24545710935cf2371844886bc8",
                "tx_index": 9,
                "block_time": 1738915920,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "e7288410746d06048c61dee1c993a31618e3eb24545710935cf2371844886bc8",
            "block_index": 112,
            "block_time": 1738915920
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                    "block_time": 1738916405,
                    "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                    "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                    "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                    "previous_block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8",
                    "block_time": 1738916400,
                    "ledger_hash": "815d38aa3519885bec638d9df823e501fc48d36fc60edd7b1289608af6c979bd",
                    "txlist_hash": "552544e254b806d53f9a9b3974a56e01f821a5c391eb2c4407529a715ee8c749",
                    "messages_hash": "b488d7b57e8e4816ad91d6627b828c5dd643acd7598c58f9632dbbfc45d109c6",
                    "previous_block_hash": "7ed34a9898b649e1efe82457060c0346c4bdc443e31968eaf03b9181e5650ea8",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "7ed34a9898b649e1efe82457060c0346c4bdc443e31968eaf03b9181e5650ea8",
                    "block_time": 1738916396,
                    "ledger_hash": "ae7954519e488274c7f4daade6bdeb438805b0985d7ca3d2a96b8d6bb3e5917e",
                    "txlist_hash": "07f0f9171cb6181cd618e882932720c8d2b677dc5c11c54edf43c0ab6a29b682",
                    "messages_hash": "eab58010d6c6eef3dceeae05e56752b25b6b56d9102fa0ae8feb1d084beb1baa",
                    "previous_block_hash": "0a3cfcdd3b76dc0c671a85342ea5ae1af254d91307f65868fc7b6738266edb59",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "0a3cfcdd3b76dc0c671a85342ea5ae1af254d91307f65868fc7b6738266edb59",
                    "block_time": 1738916393,
                    "ledger_hash": "ee5b0c929e701b63726f11b3fa996d591890f8950230761b80d5725c028717a9",
                    "txlist_hash": "539870cf1550f662b93b62a8bb5b60e55ac1766d6781bbb2922700ad281cd075",
                    "messages_hash": "91d67f895a8fa1e3eea24818271efa2f100f4f5f307bca555ad403ce56f8f7d4",
                    "previous_block_hash": "29d7837d545407e491926afe994e414915c839d039d41d511a7352d5b1225bc5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "29d7837d545407e491926afe994e414915c839d039d41d511a7352d5b1225bc5",
                    "block_time": 1738916390,
                    "ledger_hash": "3b3e233eb49ed99b0465de3563482ac08bc86c564d40bc3e032db90d142e3d78",
                    "txlist_hash": "f35d56ef9ed567371f262cbd8d969299fdf9434b04fd847768e633f0ed54dd14",
                    "messages_hash": "a30000c14fa0025e4028585dee75b2af428220b6c7947b7212722a822511fb0f",
                    "previous_block_hash": "25dddcad93ee5e1df37c01198ac60c0017f6abfb52bd6a3541e7f8b1f07e43e9",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                "block_time": 1738916405,
                "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                "previous_block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                "block_time": 1738916405,
                "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                "previous_block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                "block_time": 1738916405,
                "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                "previous_block_hash": "05c9b30de1495c97a3d8d3a682a2275e88acbe52dd8af9d4ede89053023c67b8",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "block_index": 245,
                    "block_hash": "1f0cf503c72221e99f69fe5b8088d946cf77aaf1b681f09437ec54dd090ea8d1",
                    "block_time": 1738916405,
                    "source": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "destination": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1 b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                                "destination_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                                "source_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                                "status": "valid",
                                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                                "tx_index": 121,
                                "block_time": 1738916405,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                            "block_index": 245,
                            "block_time": 1738916405
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                                "destination_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                                "source_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                                "status": "valid",
                                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                                "tx_index": 121,
                                "block_time": 1738916405,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                            "block_index": 245,
                            "block_time": 1738916405
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                                "status": 0,
                                "tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                            "block_index": 245,
                            "block_time": 1738916405
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                                "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                                "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                                "tx_index": 121,
                                "block_time": 1738916405,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                            "block_index": 245,
                            "block_time": 1738916405
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "5334bc82aef48251a79ad9858877db0865854584718758d91efee479ef9fa87e",
                        "messages_hash": "571aafe4f80d8bcaaaa453241d9d6c43eb2c5a857c173c8097a0ff1a17aea0a9",
                        "transaction_count": 1,
                        "txlist_hash": "43e64087c538640aa8e06f35d9ed8b5b6e75c83769b03bda10d20f34530af195",
                        "block_time": 1738916405
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "tx_index": 121
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                        "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "tx_index": 121,
                        "block_time": 1738916405,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "status": 0,
                        "tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738916405,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738916405,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                        "utxo_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "block_time": 1738916405,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                        "utxo_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "block_time": 1738916405,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "tx_index": 121,
                    "utxo": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                    "utxo_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "tx_index": 121,
                    "utxo": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                    "utxo_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "tx_index": 121,
                    "utxo": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                    "utxo_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "tx_index": 121,
                    "utxo": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                    "utxo_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "4aeeaaf0c253ee09db6fb4583f278c83643c323537b75984231531d411be578a",
                    "block_index": 211,
                    "block_time": 1738916265
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "04c8eb4363a146c7812cd52758bba118431c1270605d70b298868ead90b2bad7",
                    "block_index": 188,
                    "source": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                    "offer_hash": "33ae55d32045380293ead57f009756f20c73041d26ee1a81ad085250cf74b8f2",
                    "status": "valid",
                    "block_time": 1738916183
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "c873473445a17163cd8a0eb07b782f37868d00c411a5f563733a1a3bf10d744e",
                    "block_index": 240,
                    "source": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738916386,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qzn9d6hf60tpfjuvndle4ha8cq4myupq4z094tl",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "748f844eb9319a065b68cb5bd39d530e681f272bc73476dabfec4ee06e88fe7d",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "issuer": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738916396,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "block_index": 245,
                    "source": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                    "destination": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "destination_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "block_index": 245,
                    "source": "83d27200739484713b6b338cdcf2a9fc4756091c2974d26faaa7cbea7dc6204b:1",
                    "destination": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "destination_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q6mvmy3ldy2dmwmjzda7qt8lrrlac3j336kf0rr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "b6f8ab84f8184a7d4165ae698d8b4e1e91d31c2ccbee1c56a675db2e11926084",
                    "block_index": 245,
                    "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                    "destination": "bcrt1qxumd5ua2ms2fl2adeaq2yye0yr840g49g32usn",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "618f8bed00d52bab5e17ffdcc2854e0ba01a37b59a7f2f2710eddfc8a9101791",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qswqxfg0gdfyvus3a6mgjn0lu8628gfqv4gfs6q",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738916405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
