FORMAT: 1A
HOST: https://api.counterparty.io

# Counterparty Core API

The Counterparty Core API is the recommended (and only supported) way to query the state of a Counterparty node. 

API routes are divided into 11 groups:
- [`/blocks`](#/reference/blocks)
- [`/transactions`](#/reference/transactions)
- [`/addresses`](#/reference/addresses)
- [`/assets`](#/reference/assets)
- [`/orders`](#/reference/orders)
- [`/bets`](#/reference/bets)
- [`/dispensers`](#/reference/dispensers)
- [`/burns`](#/reference/burns)
- [`/events`](#/reference/events)
- [`/mempool`](#/reference/mempool)
- [`/backend`](#/reference/backend)

Notes:

- When the server is not ready, that is to say when all the blocks are not yet parsed, all routes return a 503 error except `/` and those in the `/blocks`, `/transactions` and `/backend` groups which always return a result.

- All API responses contain the following 3 headers:

    * `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
    * `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
    * `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

- All API responses follow the following format:

    ```
    {
        "error": <error_messsage_if_success_is_false>,
        "result": <result_of_the_query_if_success_is_true>
    }
    ```

- Routes in the `/backend` group serve as a proxy to make requests to AddrindexRS.

# Counterparty API Root [/]

### Get Server Info [GET]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "server_ready": true,
        "network": "mainnet",
        "version": "10.1.1",
        "backend_height": 840796,
        "counterparty_height": 840796,
        "routes": [
            <API Documentation in JSON>
        ]
    }
    ```


## Group Blocks

### Get Blocks [GET /blocks{?last}{?limit}]

Returns the list of the last ten blocks

+ Parameters
    + last: `840000` (int, optional) - The index of the most recent block to return 
        + Default: `None`
    + limit: `2` (int, optional) - The number of blocks to return 
        + Default: `10`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840000,
                    "block_hash": "0000000000000000000320283a032748cef8227873ff4872689bf23f1cda83a5",
                    "block_time": 1713571767,
                    "previous_block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "difficulty": 86388558925171.02,
                    "ledger_hash": "b91dd54cfbd3aff07b358a038bf6174ddc06f36bd00cdccf048e8281bcd56224",
                    "txlist_hash": "b641c3e190b9941fcd5c84a7c07e66c03559ef26dcea892e2db1cf1d8392a4f2",
                    "messages_hash": "5c5de34009839ee66ebc3097ecd28bd5deee9553966b3ee39e8a08e123ac9adc"
                },
                {
                    "block_index": 839999,
                    "block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "block_time": 1713571533,
                    "previous_block_hash": "00000000000000000001dcce6ce7c8a45872cafd1fb04732b447a14a91832591",
                    "difficulty": 86388558925171.02,
                    "ledger_hash": "e2b2e23c2ac1060dafe2395da01fe5907f323b5a644816f45f003411c612ac30",
                    "txlist_hash": "f33f800ef166e6ef5b3df15a0733f9fd3ebb0b799f39ef1951e6709118b7c0fd",
                    "messages_hash": "16b7d40543b7b80587f4d98c84fcdfdceb2d1c18abba82c7064c09c2795b7ab2"
                }
            ]
        }
    ```

### Get Block [GET /blocks/{block_index}]

Return the information of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d",
                "difficulty": 86388558925171.02,
                "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46",
                "messages_hash": "801d961c45a257f85ef0f10a6a8fdf048a520ae4861c0903f26365b3eaaaf540"
            }
        }
    ```

### Get Transactions By Block [GET /blocks/{block_index}/transactions]

Returns the transactions of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "block_index": 840464,
                    "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                    "block_time": 1713852783,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "destination": "",
                    "btc_amount": 0,
                    "fee": 56565,
                    "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                    "supported": 1
                }
            ]
        }
    ```

### Get Events By Block [GET /blocks/{block_index}/events]

Returns the events of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 14194760,
                    "event": "BLOCK_PARSED",
                    "bindings": {
                        "block_index": 840464,
                        "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                        "messages_hash": "801d961c45a257f85ef0f10a6a8fdf048a520ae4861c0903f26365b3eaaaf540",
                        "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46"
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194759,
                    "event": "TRANSACTION_PARSED",
                    "bindings": {
                        "supported": true,
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194758,
                    "event": "CREDIT",
                    "bindings": {
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "UNNEGOTIABLE",
                        "block_index": 840464,
                        "calling_function": "issuance",
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 1,
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194757,
                    "event": "ASSET_ISSUANCE",
                    "bindings": {
                        "asset": "UNNEGOTIABLE",
                        "asset_longname": null,
                        "block_index": 840464,
                        "call_date": 0,
                        "call_price": 0.0,
                        "callable": false,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "divisible": false,
                        "fee_paid": 50000000,
                        "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "locked": false,
                        "quantity": 1,
                        "reset": false,
                        "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "status": "valid",
                        "transfer": false,
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194756,
                    "event": "ASSET_CREATION",
                    "bindings": {
                        "asset_id": "75313533584419238",
                        "asset_longname": null,
                        "asset_name": "UNNEGOTIABLE",
                        "block_index": 840464
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194755,
                    "event": "DEBIT",
                    "bindings": {
                        "action": "issuance fee",
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "XCP",
                        "block_index": 840464,
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 50000000,
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                },
                {
                    "event_index": 14194754,
                    "event": "NEW_TRANSACTION",
                    "bindings": {
                        "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                        "block_index": 840464,
                        "block_time": 1713852783,
                        "btc_amount": 0,
                        "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                        "destination": "",
                        "fee": 56565,
                        "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852779
                },
                {
                    "event_index": 14194753,
                    "event": "NEW_BLOCK",
                    "bindings": {
                        "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                        "block_index": 840464,
                        "block_time": 1713852783,
                        "difficulty": 86388558925171.02,
                        "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d"
                    },
                    "block_index": 840464,
                    "timestamp": 1713852779
                }
            ]
        }
    ```

### Get Events Counts By Block [GET /blocks/{block_index}/events/counts]

Returns the event counts of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "ASSET_CREATION",
                    "event_count": 1
                },
                {
                    "event": "ASSET_ISSUANCE",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                },
                {
                    "event": "CREDIT",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                }
            ]
        }
    ```

### Get Events By Block And Event [GET /blocks/{block_index}/events/{event}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 
    + event: `CREDIT` (str, required) - The event to filter by 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 14194758,
                    "event": "CREDIT",
                    "bindings": {
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "UNNEGOTIABLE",
                        "block_index": 840464,
                        "calling_function": "issuance",
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 1,
                        "tx_index": 2726605
                    },
                    "block_index": 840464,
                    "timestamp": 1713852780
                }
            ]
        }
    ```

### Get Credits By Block [GET /blocks/{block_index}/credits]

Returns the credits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "calling_function": "issuance",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605
                }
            ]
        }
    ```

### Get Debits By Block [GET /blocks/{block_index}/debits]

Returns the debits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "XCP",
                    "quantity": 50000000,
                    "action": "issuance fee",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605
                }
            ]
        }
    ```

### Get Expirations [GET /blocks/{block_index}/expirations]

Returns the expirations of a block

+ Parameters
    + block_index: `840356` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "533d5c0ecd8ca9c2946d3298cc5e570eee55b62b887dd85c95de6de4fdc7f441"
                },
                {
                    "type": "order",
                    "object_id": "b048661afeee3f266792481168024abc0d7648fe0e019e4a1e0fd9867c2c0ffc"
                }
            ]
        }
    ```

### Get Cancels [GET /blocks/{block_index}/cancels]

Returns the cancels of a block

+ Parameters
    + block_index: `839746` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2725738,
                    "tx_hash": "793af9129c7368f974c3ea0c87ad38131f0d82d19fbaf1adf8aaf2e657ec42b8",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "04b258ac37f73e3b9a8575110320d67c752e1baace0f516da75845f388911735",
                    "status": "valid"
                },
                {
                    "tx_index": 2725739,
                    "tx_hash": "2071e8a6fbc0c443b152d513c754356f8f962db2fa694de8c6826b57413cc190",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "b1622dbe4f0ce740cb6c18f6f136876bc4949c40a62bc8cceefa81fd6679a57f",
                    "status": "valid"
                }
            ]
        }
    ```

### Get Destructions [GET /blocks/{block_index}/destructions]

Returns the destructions of a block

+ Parameters
    + block_index: `839988` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726496,
                    "tx_hash": "f5609facc8dac6cdf70b15c514ea15a9acc24a9bd86dcac2b845d5740fbcc50b",
                    "block_index": 839988,
                    "source": "1FpLAtreZjTVCMcj1pq1AHWuqcs3n7obMm",
                    "asset": "COBBEE",
                    "quantity": 50000,
                    "tag": "",
                    "status": "valid"
                }
            ]
        }
    ```

### Get Issuances By Block [GET /blocks/{block_index}/issuances]

Returns the issuances of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "msg_index": 0,
                    "block_index": 840464,
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "divisible": 0,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "transfer": 0,
                    "callable": 0,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "fee_paid": 50000000,
                    "locked": 0,
                    "status": "valid",
                    "asset_longname": null,
                    "reset": 0
                }
            ]
        }
    ```

### Get Sends Or Receives By Block [GET /blocks/{block_index}/sends{?limit}{?offset}]

Returns the sends of a block

+ Parameters
    + block_index: `840459` (int, required) - The index of the block to return 
    + limit (int, optional) - 
        + Default: `100`
    + offset (int, optional) - 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726604,
                    "tx_hash": "b4bbb14c99dd260eb634243e5c595e1b7213459979857a32850de84989bb71ec",
                    "block_index": 840459,
                    "source": "13Hnmhs5gy2yXKVBx4wSM5HCBdKnaSBZJH",
                    "destination": "1LfT83WAxbN9qKhtrXxcQA6xgdhfZk21Hz",
                    "asset": "GAMESOFTRUMP",
                    "quantity": 1,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null
                }
            ]
        }
    ```

### Get Dispenses By Block [GET /blocks/{block_index}/dispenses]

Returns the dispenses of a block

+ Parameters
    + block_index: `840322` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726580,
                    "dispense_index": 0,
                    "tx_hash": "e7f0f2c9bef7a492b714a5952ec61b283be344419c5bc33f405f9af41ebfa48b",
                    "block_index": 840322,
                    "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                    "destination": "bc1qzcdkhnexpjc8wvkyrpyrsn0f5xzcpu877mjmgj",
                    "asset": "FLOCK",
                    "dispense_quantity": 90000000000,
                    "dispenser_tx_hash": "753787004d6e93e71f6e0aa1e0932cc74457d12276d53856424b2e4088cc542a"
                }
            ]
        }
    ```

### Get Sweeps By Block [GET /blocks/{block_index}/sweeps]

Returns the sweeps of a block

+ Parameters
    + block_index: `836519` (int, required) - The index of the block to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2720536,
                    "tx_hash": "9309a4c0aed426e281a52e5d48acadd1464999269a5e75cf2293edd0277d743d",
                    "block_index": 836519,
                    "source": "1DMVnJuqBobXA9xYioabBsR4mN8bvVtCAW",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                },
                {
                    "tx_index": 2720537,
                    "tx_hash": "d8db6281abffdbf6c320d5ade06aeb6fad2f7bfa1a2c2243c6726020a27107d3",
                    "block_index": 836519,
                    "source": "18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                }
            ]
        }
    ```

## Group Transactions

### Info [GET /transactions/info{?rawtransaction}{?block_index}]

Returns Counterparty information from a raw transaction in hex format.

+ Parameters
    + rawtransaction: `01000000017828697743c03aef6a3a8ba54b22bf579ffcab8161faf20e7b20c4ecd75cc986010000006b483045022100d1bd0531bb1ed2dd2cbf77d6933273e792a3dbfa84327d419169850ddd5976f502205d1ab0f7bcbf1a0cc183f0520c9aa8f711d41cb790c0c4ac39da6da4a093d798012103d3b1f711e907acb556e239f6cafb6a4f7fe40d8dd809b0e06e739c2afd73f202ffffffff0200000000000000004d6a4bf29880b93b0711524c7ef9c76835752088db8bd4113a3daf41fc45ffdc8867ebdbf26817fae377696f36790e52f51005806e9399a427172fedf348cf798ed86e548002ee96909eef0775ec3c2b0100000000001976a91443434cf159cc585fbd74daa9c4b833235b19761b88ac00000000` (str, required) - Raw transaction in hex format 
    + block_index (int, optional) - Block index mandatory for transactions before block 335000
        + Default: `None`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Unpack [GET /transactions/unpack{?datahex}{?block_index}]

Unpacks Counterparty data in hex format and returns the message type and data.

+ Parameters
    + datahex: `16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245` (str, required) - Data in hex format 
    + block_index (int, optional) - Block index of the transaction containing this data
        + Default: `None`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "message_type": "issuance",
                "message_type_id": 22,
                "message_data": {
                    "asset_id": 75313533584419238,
                    "asset": "UNNEGOTIABLE",
                    "subasset_longname": null,
                    "quantity": 1,
                    "divisible": false,
                    "lock": false,
                    "reset": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "status": "valid"
                }
            }
        }
    ```

### Get Transaction By Hash [GET /transactions/{tx_hash}]

Returns a transaction by its hash.

+ Parameters
    + tx_hash: `876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5` (str, required) - The hash of the transaction 

+ Response 200 (application/json)

    ```
        {
            "result": {
                "tx_index": 2726605,
                "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "supported": 1,
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

## Group Addresses

### Get Address Balances [GET /addresses/{address}/balances]

Returns the balances of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000
                }
            ]
        }
    ```

### Get Balance By Address And Asset [GET /addresses/{address}/balances/{asset}]

Returns the balance of an address and asset

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return 
    + asset: `XCP` (str, required) - The asset to return 

+ Response 200 (application/json)

    ```
        {
            "result": {
                "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                "asset": "XCP",
                "quantity": 104200000000
            }
        }
    ```

### Get Credits By Address [GET /addresses/{address}/credits{?limit}{?offset}]

Returns the credits of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return 
    + limit: `5` (int, optional) - The maximum number of credits to return 
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the credits to return 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 830981,
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "calling_function": "send",
                    "event": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "tx_index": 2677412
                }
            ]
        }
    ```

### Get Debits By Address [GET /addresses/{address}/debits{?limit}{?offset}]

Returns the debits of an address

+ Parameters
    + address: `bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y` (str, required) - The address to return 
    + limit: `5` (int, optional) - The maximum number of debits to return 
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the debits to return 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 836949,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 40000000000,
                    "action": "open dispenser",
                    "event": "53ed08176d3479f49986e9282293da85cebc03835b128d8e790ee587f9f1c750",
                    "tx_index": 2721524
                },
                {
                    "block_index": 840388,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 250000000000,
                    "action": "send",
                    "event": "bc54968ba7d0a59a47b276602e2dbdcf01b14009742e0d7b50272cbae529a9a4",
                    "tx_index": 2726594
                }
            ]
        }
    ```

### Get Bet By Feed [GET /addresses/{address}/bets{?status}]

Returns the bets of a feed

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address of the feed 
    + status: `filled` (str, optional) - The status of the bet 
        + Default: `open`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 15106,
                    "tx_hash": "5d097b4729cb74d927b4458d365beb811a26fcee7f8712f049ecbe780eb496ed",
                    "block_index": 304063,
                    "source": "18ZNyaAcH4HugeofwbrpLoUNiayxJRH65c",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 3,
                    "deadline": 1401828300,
                    "wager_quantity": 50000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 50000000,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 11,
                    "expire_index": 304073,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                },
                {
                    "tx_index": 61338,
                    "tx_hash": "0fcc7f5190c028f6c5534554d10ec5b4a9246d63826421cd58be2d572d11f088",
                    "block_index": 320704,
                    "source": "1Ew38GxczvV1KxjzZsq9f8UuRzHkHQrL5C",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 2,
                    "deadline": 1410728400,
                    "wager_quantity": 1000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 1999991,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 13,
                    "expire_index": 320715,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                }
            ]
        }
    ```

### Get Broadcasts By Source [GET /addresses/{address}/broadcasts{?status}{?order_by}]

Returns the broadcasts of a source

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address to return 
    + status: `valid` (str, optional) - The status of the broadcasts to return 
        + Default: `valid`
    + order_by: `ASC` (str, optional) - The order of the broadcasts to return 
        + Default: `DESC`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 15055,
                    "tx_hash": "774887e555a6ae5a8c058ebc0185058307977f01a2d4d326e71f37d6dd977154",
                    "block_index": 304048,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1401815290,
                    "value": -1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": 0,
                    "status": "valid"
                },
                {
                    "tx_index": 61477,
                    "tx_hash": "5d49993bec727622c7b41c84e2b1e65c368f33390d633d217131ffcc5b592f0d",
                    "block_index": 320718,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1410732503,
                    "value": 1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": 0,
                    "status": "valid"
                }
            ]
        }
    ```

### Get Burns By Address [GET /addresses/{address}/burns]

Returns the burns of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 3070,
                    "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                    "block_index": 283810,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "burned": 10000000,
                    "earned": 10000000000,
                    "status": "valid"
                }
            ]
        }
    ```

### Get Send By Address [GET /addresses/{address}/sends{?limit}{?offset}]

Returns the sends of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return 
    + limit: `5` (int, optional) - The maximum number of sends to return 
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the sends to return 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 163106,
                    "tx_hash": "1c447b41816f1cfbb83f125c8e05faeaae70dbf27255745ba7393f809bd388eb",
                    "block_index": 343049,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "destination": "16cRBUNnTWiUh2sXWNn1P7KHyJUmyMkdfH",
                    "asset": "XCP",
                    "quantity": 10000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null
                }
            ]
        }
    ```

### Get Receive By Address [GET /addresses/{address}/receives{?limit}{?offset}]

Returns the receives of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return 
    + limit: `5` (int, optional) - The maximum number of receives to return 
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the receives to return 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2677412,
                    "tx_hash": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "block_index": 830981,
                    "source": "bc1qqxr9grqw73dm95cen3g56mzswuj6eqjedu6csx",
                    "destination": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null
                }
            ]
        }
    ```

### Get Send By Address And Asset [GET /addresses/{address}/sends/{asset}]

Returns the sends of an address and asset

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return 
    + asset: `XCP` (str, required) - The asset to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 163106,
                    "tx_hash": "1c447b41816f1cfbb83f125c8e05faeaae70dbf27255745ba7393f809bd388eb",
                    "block_index": 343049,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "destination": "16cRBUNnTWiUh2sXWNn1P7KHyJUmyMkdfH",
                    "asset": "XCP",
                    "quantity": 10000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null
                }
            ]
        }
    ```

### Get Receive By Address And Asset [GET /addresses/{address}/receives/{asset}{?limit}{?offset}]

Returns the receives of an address and asset

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return 
    + asset: `XCP` (str, required) - The asset to return 
    + limit: `5` (int, optional) - The maximum number of receives to return 
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the receives to return 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2677412,
                    "tx_hash": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "block_index": 830981,
                    "source": "bc1qqxr9grqw73dm95cen3g56mzswuj6eqjedu6csx",
                    "destination": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null
                }
            ]
        }
    ```

### Get Dispensers By Address [GET /addresses/{address}/dispensers{?status}]

Returns the dispensers of an address

+ Parameters
    + address: `bc1qlzkcy8c5fa6y6xvd8zn4axnvmhndfhku3hmdpz` (str, required) - The address to return 
    + status (int, optional) - 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726460,
                    "tx_hash": "b592d8ca4994d182e4ec63e1659dc4282b1a84466b7d71ed68c281ce63ed4897",
                    "block_index": 839964,
                    "source": "bc1qlzkcy8c5fa6y6xvd8zn4axnvmhndfhku3hmdpz",
                    "asset": "ERYKAHPEPU",
                    "give_quantity": 1,
                    "escrow_quantity": 25,
                    "satoshirate": 50000,
                    "status": 0,
                    "give_remaining": 25,
                    "oracle_address": null,
                    "last_status_tx_hash": null,
                    "origin": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "dispense_count": 0
                }
            ]
        }
    ```

### Get Dispensers By Address And Asset [GET /addresses/{address}/dispensers/{asset}{?status}]

Returns the dispensers of an address and an asset

+ Parameters
    + address: `bc1qlzkcy8c5fa6y6xvd8zn4axnvmhndfhku3hmdpz` (str, required) - The address to return 
    + asset: `ERYKAHPEPU` (str, required) - The asset to return 
    + status (int, optional) - 
        + Default: `0`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726460,
                    "tx_hash": "b592d8ca4994d182e4ec63e1659dc4282b1a84466b7d71ed68c281ce63ed4897",
                    "block_index": 839964,
                    "source": "bc1qlzkcy8c5fa6y6xvd8zn4axnvmhndfhku3hmdpz",
                    "asset": "ERYKAHPEPU",
                    "give_quantity": 1,
                    "escrow_quantity": 25,
                    "satoshirate": 50000,
                    "status": 0,
                    "give_remaining": 25,
                    "oracle_address": null,
                    "last_status_tx_hash": null,
                    "origin": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "dispense_count": 0
                }
            ]
        }
    ```

### Get Sweeps By Address [GET /addresses/{address}/sweeps]

Returns the sweeps of an address

+ Parameters
    + address: `18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87` (str, required) - The address to return 

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2720537,
                    "tx_hash": "d8db6281abffdbf6c320d5ade06aeb6fad2f7bfa1a2c2243c6726020a27107d3",
                    "block_index": 836519,
                    "source": "18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                }
            ]
        }
    ```

### Compose Bet [GET /addresses/{address}/compose/bet{?feed_address}{?bet_type}{?deadline}{?wager_quantity}{?counterwager_quantity}{?expiration}{?leverage}{?target_value}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to issue a bet against a feed.

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address that will make the bet 
    + feed_address: `1JDogZS6tQcSxwfxhv6XKKjcyicYA4Feev` (str, required) - The address that hosts the feed to be bet on 
    + bet_type: `2` (int, required) - Bet 0 for Bullish CFD (deprecated), 1 for Bearish CFD (deprecated), 2 for Equal, 3 for NotEqual 
    + deadline: `3000000000` (int, required) - The time at which the bet should be decided/settled, in Unix time (seconds since epoch) 
    + wager_quantity: `1000` (int, required) - The quantities of XCP to wager (in satoshis, hence integer) 
    + counterwager_quantity: `1000` (int, required) - The minimum quantities of XCP to be wagered against, for the bets to match 
    + expiration: `100` (int, required) - The number of blocks after which the bet expires if it remains unmatched 
    + leverage (int, optional) - Leverage, as a fraction of 5040
        + Default: `5040`
    + target_value: `1000` (int, optional) - Target value for Equal/NotEqual bet 
        + Default: `None`
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff0322020000000000001976a914bce6191bf2fd5981313cae869e9fafe164f7dbaf88ac0000000000000000316a2f0d1e454cefefcbe14dffa4c01ecd608ec45d2594e5d27c699f4ef2725648c509bf828ec195ee18f83e052061236deff2db0306000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "feed_address": "1JDogZS6tQcSxwfxhv6XKKjcyicYA4Feev",
                    "bet_type": 2,
                    "deadline": 3000000000,
                    "wager_quantity": 1000,
                    "counterwager_quantity": 1000,
                    "target_value": 1000,
                    "leverage": 5040,
                    "expiration": 100
                },
                "name": "bet"
            }
        }
    ```

### Compose Broadcast [GET /addresses/{address}/compose/broadcast{?timestamp}{?value}{?fee_fraction}{?text}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to broadcast textual and numerical information to the network.

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address that will be sending (must have the necessary quantity of the specified asset) 
    + timestamp: `4003903983` (int, required) - The timestamp of the broadcast, in Unix time 
    + value: `100` (float, required) - Numerical value of the broadcast 
    + fee_fraction: `0.05` (float, required) - How much of every bet on this feed should go to its operator; a fraction of 1, (i.e. 0.05 is five percent) 
    + text: `"Hello, world!"` (str, required) - The textual part of the broadcast 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff0200000000000000002b6a290d1e454cefefcbe17b1100cb21d3398ec45d2594e5d1d822df41d03a332741261ce2f9aee7827cd91c340c0406000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "timestamp": 4003903983,
                    "value": 100.0,
                    "fee_fraction": 0.05,
                    "text": "\"Hello, world!\""
                },
                "name": "broadcast"
            }
        }
    ```

### Compose Btcpay [GET /addresses/{address}/compose/btcpay{?order_match_id}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to pay for a BTC order match.

+ Parameters
    + address: `bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l` (str, required) - The address that will be sending the payment 
    + order_match_id: `e470416a9500fb046835192da013f48e6468a07dba1bede4a0b68e666ed23c8d_4953bde3d9417b103615c2d3d4b284d4fcf7cbd820e5dd19ac0084e9ebd090b2` (str, required) - The ID of the order match to pay for 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "0200000000010161101e1990879ee64168cce92c9caf338bb571e9cb246b1c2ab87124b95091900200000016001482f2ccc569325050e36c13b55a4065113d985066ffffffff0383c3040000000000160014a9943f67bcd30331d5a4ec6d902cbe03789a1b9700000000000000004b6a49aae396d448ed266a7785be1f6fcfa38dbe3e6e043e3d67691f678d6aa3b30e423f66ffad71eaf3231ef8f05dd5cc2f5b1ea14d33274b9cddacca5bd816a1ce6d5b4d498eb66a981db7add758000000000016001482f2ccc569325050e36c13b55a4065113d98506602000000000000",
                "params": {
                    "source": "bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l",
                    "order_match_id": "e470416a9500fb046835192da013f48e6468a07dba1bede4a0b68e666ed23c8d_4953bde3d9417b103615c2d3d4b284d4fcf7cbd820e5dd19ac0084e9ebd090b2"
                },
                "name": "btcpay"
            }
        }
    ```

### Compose Burn [GET /addresses/{address}/compose/burn{?quantity}{?overburn}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to burn a given quantity of BTC for XCP (on mainnet, possible between blocks 278310 and 283810; on testnet it is still available).

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address with the BTC to burn 
    + quantity: `1000` (int, required) - The quantities of BTC to burn (1 BTC maximum burn per address) 
    + overburn (bool, optional) - Whether to allow the burn to exceed 1 BTC for the address
        + Default: `False`
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff02e8030000000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ace61b0406000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "quantity": 1000,
                    "overburn": false
                },
                "name": "burn"
            }
        }
    ```

### Compose Cancel [GET /addresses/{address}/compose/cancel{?offer_hash}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to cancel an open order or bet.

+ Parameters
    + address: `15e15ua6A3FJqjMevtrWcFSzKn9k6bMQeA` (str, required) - The address that placed the order/bet to be cancelled 
    + offer_hash: `8ce3335391bf71f8f12c0573b4f85b9adc4882a9955d9f8e5ababfdd0060279a` (str, required) - The hash of the order/bet to be cancelled 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000014709bd6af5d4d7f518f80539d4fe9acd5220a520a7b4287416a7379af9e66154020000001976a91432dff6deb7ca3bbc14f7037fa6ef8a8cf8e39fb988acffffffff0200000000000000002b6a292f3720d2b8ae7343c6d0456802c531e1216f466ceb12b96c6fbe417a97291a0660e51fc47fcc1ee1a878667900000000001976a91432dff6deb7ca3bbc14f7037fa6ef8a8cf8e39fb988ac00000000",
                "params": {
                    "source": "15e15ua6A3FJqjMevtrWcFSzKn9k6bMQeA",
                    "offer_hash": "8ce3335391bf71f8f12c0573b4f85b9adc4882a9955d9f8e5ababfdd0060279a"
                },
                "name": "cancel"
            }
        }
    ```

### Compose Destroy [GET /addresses/{address}/compose/destroy{?asset}{?quantity}{?tag}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to destroy a quantity of an asset.

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address that will be sending the asset to be destroyed 
    + asset: `XCP` (str, required) - The asset to be destroyed 
    + quantity: `1000` (int, required) - The quantity of the asset to be destroyed 
    + tag: `"bugs!"` (str, required) - A tag for the destruction 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff020000000000000000226a200d1e454cefefcbe10bffa672ce93608ec55d2594e5d1946a776c900731380c6b94160406000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "asset": "XCP",
                    "quantity": 1000,
                    "tag": "\"bugs!\""
                },
                "name": "destroy"
            }
        }
    ```

### Compose Dispenser [GET /addresses/{address}/compose/dispenser{?asset}{?give_quantity}{?escrow_quantity}{?mainchainrate}{?status}{?open_address}{?oracle_address}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Opens or closes a dispenser for a given asset at a given rate of main chain asset (BTC). Escrowed quantity on open must be equal or greater than give_quantity. It is suggested that you escrow multiples of give_quantity to ease dispenser operation.

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address that will be dispensing (must have the necessary escrow_quantity of the specified asset) 
    + asset: `XCP` (str, required) - The asset or subasset to dispense 
    + give_quantity: `1000` (int, required) - The quantity of the asset to dispense 
    + escrow_quantity: `1000` (int, required) - The quantity of the asset to reserve for this dispenser 
    + mainchainrate: `100` (int, required) - The quantity of the main chain asset (BTC) per dispensed portion 
    + status: `0` (int, required) - The state of the dispenser. 0 for open, 1 for open using open_address, 10 for closed 
    + open_address (str, optional) - The address that you would like to open the dispenser on
        + Default: `None`
    + oracle_address (str, optional) - The address that you would like to use as a price oracle for this dispenser
        + Default: `None`
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff0200000000000000002c6a2a0d1e454cefefcbe169ffa672ce93608ec55d2594e5d1946a774ef272564b2d4ad8c28ec195ee18f85a160c0b0406000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "asset": "XCP",
                    "give_quantity": 1000,
                    "escrow_quantity": 1000,
                    "mainchainrate": 100,
                    "status": 0,
                    "open_address": null,
                    "oracle_address": null
                },
                "name": "dispenser"
            }
        }
    ```

### Compose Dividend [GET /addresses/{address}/compose/dividend{?quantity_per_unit}{?asset}{?dividend_asset}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to issue a dividend to holders of a given asset.

+ Parameters
    + address: `1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD` (str, required) - The address that will be issuing the dividend (must have the ownership of the asset which the dividend is being issued on) 
    + quantity_per_unit: `1` (int, required) - The amount of dividend_asset rewarded 
    + asset: `PEPECASH` (str, required) - The asset or subasset that the dividends are being rewarded on 
    + dividend_asset: `XCP` (str, required) - The asset or subasset that the dividends are paid in 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000010af94458ae5aa794c49cd27f7b800a7c68c8dd4f59ff66c99db4e9e353c06d93010000001976a914a9055398b92818794b38b15794096f752167e25f88acffffffff020000000000000000236a21068a00268d252c3a8ed0bddb5ef79f823894aa7de1e196c005510f4d787c936a979b230000000000001976a914a9055398b92818794b38b15794096f752167e25f88ac00000000",
                "params": {
                    "source": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "quantity_per_unit": 1,
                    "asset": "PEPECASH",
                    "dividend_asset": "XCP"
                },
                "name": "dividend"
            }
        }
    ```

### Compose Issuance [GET /addresses/{address}/compose/issuance{?asset}{?quantity}{?transfer_destination}{?divisible}{?lock}{?reset}{?description}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to Issue a new asset, issue more of an existing asset, lock an asset, reset existing supply, or transfer the ownership of an asset.

+ Parameters
    + address: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, required) - The address that will be issuing or transfering the asset 
    + asset: `XCPTEST` (str, required) - The assets to issue or transfer. This can also be a subasset longname for new subasset issuances 
    + quantity: `1000` (int, required) - The quantity of the asset to issue (set to 0 if transferring an asset) 
    + transfer_destination: `1CounterpartyXXXXXXXXXXXXXXXUWLpVr` (str, optional) - The address to receive the asset 
        + Default: `None`
    + divisible (bool, optional) - Whether this asset is divisible or not (if a transfer, this value must match the value specified when the asset was originally issued)
        + Default: `True`
    + lock (bool, optional) - Whether this issuance should lock supply of this asset forever
        + Default: `False`
    + reset (bool, optional) - Wether this issuance should reset any existing supply
        + Default: `False`
    + description (str, optional) - A textual description for the asset
        + Default: `None`
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "rawtransaction": "01000000017004c1186a4a6a11708e1739839488180dbb6dbf4a9bf52228faa5b3173cdb05000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188acffffffff0322020000000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac0000000000000000236a210d1e454cefefcbe173ffa672cf3a36751b5d2594e5d1946a774ff272960578057c17ec0306000000001976a914818895f3dc2c178629d3d2d8fa3ec4a3f817982188ac00000000",
                "params": {
                    "source": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "asset": "XCPTEST",
                    "quantity": 1000,
                    "transfer_destination": "1CounterpartyXXXXXXXXXXXXXXXUWLpVr",
                    "divisible": true,
                    "lock": false,
                    "reset": false,
                    "description": null
                },
                "name": "issuance"
            }
        }
    ```

### Compose Mpma [GET /addresses/{address}/compose/mpma{?assets}{?destinations}{?quantities}{?memo}{?memo_is_hex}{?encoding}{?fee_per_kb}{?regular_dust_size}{?multisig_dust_size}{?op_return_value}{?pubkey}{?allow_unconfirmed_inputs}{?fee}{?fee_provided}{?unspent_tx_hash}{?dust_return_pubkey}{?disable_utxo_locks}{?extended_tx_info}{?p2sh_pretx_txid}{?old_style_api}{?segwit}]

Composes a transaction to send multiple payments to multiple addresses.

+ Parameters
    + address: `1Fv87qmdtjQDP9d4p9E5ncBQvYB4a3Rhy6` (str, required) - The address that will be sending (must have the necessary quantity of the specified asset) 
    + assets: `BAABAABLKSHP,BADHAIRDAY,BADWOJAK` (str, required) - comma-separated list of assets to send 
    + destinations: `1JDogZS6tQcSxwfxhv6XKKjcyicYA4Feev,1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD,1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - comma-separated list of addresses to send to 
    + quantities: `1,2,3` (str, required) - comma-separated list of quantities to send 
    + memo: `"Hello, world!"` (str, required) - The Memo associated with this transaction 
    + memo_is_hex: `False` (bool, required) - Whether the memo field is a hexadecimal string 
    + encoding (str, optional) - The encoding method to use
        + Default: `auto`
    + fee_per_kb (int, optional) - The fee per kilobyte of transaction data constant that the server uses when deciding on the dynamic fee to use (in satoshi)
        + Default: `None`
    + regular_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each non-(bare) multisig output.
        + Default: `546`
    + multisig_dust_size (int, optional) - Specify (in satoshi) to override the (dust) amount of BTC used for each (bare) multisig output
        + Default: `1000`
    + op_return_value (int, optional) - The value (in satoshis) to use with any OP_RETURN outputs in the generated transaction. Defaults to 0. Don't use this, unless you like throwing your money away
        + Default: `0`
    + pubkey (str, optional) - The hexadecimal public key of the source address (or a list of the keys, if multi-sig). Required when using encoding parameter values of multisig or pubkeyhash.
        + Default: `None`
    + allow_unconfirmed_inputs (bool, optional) - Set to true to allow this transaction to utilize unconfirmed UTXOs as inputs
        + Default: `False`
    + fee (int, optional) - If you'd like to specify a custom miners' fee, specify it here (in satoshi). Leave as default for the server to automatically choose
        + Default: `None`
    + fee_provided (int, optional) - If you would like to specify a maximum fee (up to and including which may be used as the transaction fee), specify it here (in satoshi). This differs from fee in that this is an upper bound value, which fee is an exact value
        + Default: `0`
    + unspent_tx_hash (str, optional) - When compiling the UTXOs to use as inputs for the transaction being created, only consider unspent outputs from this specific transaction hash. Defaults to null to consider all UTXOs for the address. Do not use this parameter if you are specifying custom_inputs
        + Default: `None`
    + dust_return_pubkey (str, optional) - The dust return pubkey is used in multi-sig data outputs (as the only real pubkey) to make those the outputs spendable. By default, this pubkey is taken from the pubkey used in the first transaction input. However, it can be overridden here (and is required to be specified if a P2SH input is used and multisig is used as the data output encoding.) If specified, specify the public key (in hex format) where dust will be returned to so that it can be reclaimed. Only valid/useful when used with transactions that utilize multisig data encoding. Note that if this value is set to false, this instructs counterparty-server to use the default dust return pubkey configured at the node level. If this default is not set at the node level, the call will generate an exception
        + Default: `None`
    + disable_utxo_locks (bool, optional) - By default, UTXO's utilized when creating a transaction are 'locked' for a few seconds, to prevent a case where rapidly generating create_ calls reuse UTXOs due to their spent status not being updated in bitcoind yet. Specify true for this parameter to disable this behavior, and not temporarily lock UTXOs
        + Default: `False`
    + extended_tx_info (bool, optional) - When this is not specified or false, the create_ calls return only a hex-encoded string. If this is true, the create_ calls return a data object with the following keys: tx_hex, btc_in, btc_out, btc_change, and btc_fee
        + Default: `False`
    + p2sh_pretx_txid (str, optional) - The previous transaction txid for a two part P2SH message. This txid must be taken from the signed transaction
        + Default: `None`
    + old_style_api (bool, optional) - Use the old style API
        + Default: `True`
    + segwit (bool, optional) - Use segwit
        + Default: `False`

+ Response 200 (application/json)

    ```
        {
            "result": {
[...]
