[//]: # (Generated by genapidoc.py on 2024-09-25 18:26:04.788872. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 537,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                "block_index": 194,
                "block_time": 1727288749,
                "difficulty": 545259519,
                "previous_block_hash": "401d5126cdcb6c7931508f5e7974cb7236db1b50efea75952c2e1cf4c5d95515"
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 525,
    "result_count": 94
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 538,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                "block_index": 194,
                "block_time": 1727288749,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                "tx_index": 60,
                "utxos_info": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 526,
    "result_count": 61
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 277,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "out_index": 0,
                "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
                "tx_index": 34,
                "block_time": 1727288542,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
            "block_index": 147,
            "block_time": 1727288542
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 542,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 194,
                "ledger_hash": "4b87db48a111b9c0417f6f9f2d4ae04c714ba729c02c4ec5b46b19f240ce5a87",
                "messages_hash": "837d7bbe5606eaed4f2b48459d9976858f16ece58e10674e432c79c2c81a254c",
                "transaction_count": 1,
                "txlist_hash": "a4bbb9dc982dab4ab1edd6776fe829a2cffb7f8648e9341b17475c0c6c1534a9",
                "block_time": 1727288749
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 536,
    "result_count": 94
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 541,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                "tx_index": 60
            },
            "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 535,
    "result_count": 48
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 539,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "asset": "XCP",
                "block_index": 194,
                "event": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                "quantity": 1,
                "tx_index": 60,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727288749,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 532,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "asset": "XCP",
                "block_index": 193,
                "calling_function": "sweep",
                "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                "quantity": 74499387833,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727288744,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
            "block_index": 193,
            "block_time": 1727288744
        }
    ],
    "next_cursor": 531,
    "result_count": 68
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 491,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                "status": "valid",
                "tx_hash": "5ab0fc8e5a5ed454dd4cf71728a4ea30333ff21e75ba6cf37e5939807b6f823c",
                "tx_index": 54,
                "block_time": 1727288713,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "5ab0fc8e5a5ed454dd4cf71728a4ea30333ff21e75ba6cf37e5939807b6f823c",
            "block_index": 188,
            "block_time": 1727288713
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 503,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 189,
                "destination": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "valid",
                "tx_hash": "be0f523f465d4d12b77b4bb758ce4eb2076e5b5eeeea0920cd9de5149549267b",
                "tx_index": 55,
                "block_time": 1727288717,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "be0f523f465d4d12b77b4bb758ce4eb2076e5b5eeeea0920cd9de5149549267b",
            "block_index": 189,
            "block_time": 1727288717
        }
    ],
    "next_cursor": 502,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "SWEEP",
            "params": {
                "block_index": 193,
                "destination": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                "status": "valid",
                "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                "tx_index": 59,
                "block_time": 1727288744,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
            "block_index": 193,
            "block_time": 1727288744
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 337,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 154,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "valid",
                "tx_hash": "78b7c21c25960276634db3a63443aae94d1fa1a3011068708a9e8bd216ce01ec",
                "tx_index": 41,
                "block_time": 1727288571,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "78b7c21c25960276634db3a63443aae94d1fa1a3011068708a9e8bd216ce01ec",
            "block_index": 154,
            "block_time": 1727288571
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 387,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 160,
                "block_time": 1727288597
            },
            "tx_hash": "07eb96ab2e1b0fb0258a269a87b21a0c0e54b37a765193ff327f06d9b6a80199",
            "block_index": 160,
            "block_time": 1727288597
        }
    ],
    "next_cursor": 374,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 388,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 160,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "valid",
                "transfer": false,
                "tx_hash": "07eb96ab2e1b0fb0258a269a87b21a0c0e54b37a765193ff327f06d9b6a80199",
                "tx_index": 47,
                "block_time": 1727288597,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "07eb96ab2e1b0fb0258a269a87b21a0c0e54b37a765193ff327f06d9b6a80199",
            "block_index": 160,
            "block_time": 1727288597
        }
    ],
    "next_cursor": 381,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 540,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 194,
                "quantity": 1,
                "source": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                "tx_index": 60,
                "block_time": 1727288749,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
            "block_index": 194,
            "block_time": 1727288749
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 522,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 192,
                "expiration": 21,
                "expire_index": 213,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "open",
                "tx_hash": "bef565766d679849a71cd1444e7f251aa853a2d8b1f49724521c312888599140",
                "tx_index": 58,
                "block_time": 1727288740,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "bef565766d679849a71cd1444e7f251aa853a2d8b1f49724521c312888599140",
            "block_index": 192,
            "block_time": 1727288740
        }
    ],
    "next_cursor": 509,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 187,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9_ffb2b45ca0d4647bf6da314f1386d5f0692f4e3c981a04e3eccdff5bac2ac9df",
                "match_expire_index": 207,
                "status": "pending",
                "tx0_address": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "tx0_block_index": 185,
                "tx0_expiration": 21,
                "tx0_hash": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9",
                "tx0_index": 50,
                "tx1_address": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                "tx1_block_index": 187,
                "tx1_expiration": 21,
                "tx1_hash": "ffb2b45ca0d4647bf6da314f1386d5f0692f4e3c981a04e3eccdff5bac2ac9df",
                "tx1_index": 53,
                "block_time": 1727288710,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ffb2b45ca0d4647bf6da314f1386d5f0692f4e3c981a04e3eccdff5bac2ac9df",
            "block_index": 187,
            "block_time": 1727288710
        }
    ],
    "next_cursor": 468,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 514,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "fc22f6e31a9d88a834653016ca1ae0b7613e13b222129e044b43f0b700aa00be"
            },
            "tx_hash": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8",
            "block_index": 191,
            "block_time": 1727288726
        }
    ],
    "next_cursor": 483,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 475,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2"
            },
            "tx_hash": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1",
            "block_index": 186,
            "block_time": 1727288705
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 474,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9_43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
                "order_match_id": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9_43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
                "status": "completed"
            },
            "tx_hash": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1",
            "block_index": 186,
            "block_time": 1727288705
        }
    ],
    "next_cursor": 447,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 476,
            "event": "BTC_PAY",
            "params": {
                "block_index": 186,
                "btc_amount": 2000,
                "destination": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "order_match_id": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9_43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
                "source": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                "status": "valid",
                "tx_hash": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1",
                "tx_index": 52,
                "block_time": 1727288705,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1",
            "block_index": 186,
            "block_time": 1727288705
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 516,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 191,
                "offer_hash": "fc22f6e31a9d88a834653016ca1ae0b7613e13b222129e044b43f0b700aa00be",
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "valid",
                "tx_hash": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8",
                "tx_index": 57,
                "block_time": 1727288726
            },
            "tx_hash": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8",
            "block_index": 191,
            "block_time": 1727288726
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 455,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_hash": "e66f481d288b7e50e5bc1b1c3d4ae4e4a503d9ae72b1a1418773a86a20c99cbd",
                "source": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                "block_time": 1727288613
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727288613
        }
    ],
    "next_cursor": 453,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_match_id": "cb3ef65825dc8a53560dc586185005f1fcee0d69c4d6892a8d8c18b458daad20_e66f481d288b7e50e5bc1b1c3d4ae4e4a503d9ae72b1a1418773a86a20c99cbd",
                "tx0_address": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "tx1_address": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                "block_time": 1727288613
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727288613
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "origin": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "satoshirate": 1,
                "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "status": 0,
                "tx_hash": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891",
                "tx_index": 33,
                "block_time": 1727288538,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891",
            "block_index": 146,
            "block_time": 1727288538
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 302,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "give_remaining": 0,
                "source": "mt2Zam745x3GRy6wjCQqwPsy2gwmkqjB3X",
                "status": 10,
                "tx_hash": "6dacc8f70a6d461ee43f87290157f586322492a7df359024eae494f43c795b17",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "cf509d0e0f4c50a8237a4c72faacea259d92961808c0ebb3a89673f0f2229673",
            "block_index": 150,
            "block_time": 1727288555
        }
    ],
    "next_cursor": 279,
    "result_count": 6
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mt2Zam745x3GRy6wjCQqwPsy2gwmkqjB3X",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "6dacc8f70a6d461ee43f87290157f586322492a7df359024eae494f43c795b17",
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "tx_hash": "4cc5c05b330b7c554d50b3643c8392406bcdecdc87aa7c9221a0c696b762ef68",
                "tx_index": 31,
                "block_time": 1727288530,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "4cc5c05b330b7c554d50b3643c8392406bcdecdc87aa7c9221a0c696b762ef68",
            "block_index": 144,
            "block_time": 1727288530
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 280,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qhmt7m8v8cd3shyr735a3c7mmug4h4z68m8qknc",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891",
                "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
                "tx_index": 34,
                "block_time": 1727288542,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
            "block_index": 147,
            "block_time": 1727288542
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "b2633cbbb53ad1eed7a25fc87b28a41b482ad7154c3ec36fad9fcda26b745d46",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727288494,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "b2633cbbb53ad1eed7a25fc87b28a41b482ad7154c3ec36fad9fcda26b745d46",
            "block_index": 138,
            "block_time": 1727288494
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "start_block": 0,
                "status": "open",
                "tx_hash": "16b7ae9c08ddf2adea4b9d829ffffe6800ceefe98c862e94ef421af4b07d8bb1",
                "tx_index": 22,
                "block_time": 1727288481
            },
            "tx_hash": "16b7ae9c08ddf2adea4b9d829ffffe6800ceefe98c862e94ef421af4b07d8bb1",
            "block_index": 135,
            "block_time": 1727288481
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ab39248b70a5e9c79b8b84f54f5b068867d4a6ef6c9ecf03ea8ca0110c05b783"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727288460
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "16b7ae9c08ddf2adea4b9d829ffffe6800ceefe98c862e94ef421af4b07d8bb1",
                "paid_quantity": 34,
                "source": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                "status": "valid",
                "tx_hash": "2044b96fa1a46d799dd53ab52a03e70c527d00cbe2e3ea4a14d4683ac700bd03",
                "tx_index": 23,
                "block_time": 1727288485,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "2044b96fa1a46d799dd53ab52a03e70c527d00cbe2e3ea4a14d4683ac700bd03",
            "block_index": 136,
            "block_time": 1727288485
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 319,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 152,
                "destination": "565a68eac3e50255700530a3586ae1bbe35f866dc524a0b069df589352aebb8f:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                "status": "valid",
                "tx_hash": "565a68eac3e50255700530a3586ae1bbe35f866dc524a0b069df589352aebb8f",
                "tx_index": 39,
                "block_time": 1727288564,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "565a68eac3e50255700530a3586ae1bbe35f866dc524a0b069df589352aebb8f",
            "block_index": 152,
            "block_time": 1727288564
        }
    ],
    "next_cursor": 296,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 311,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "bcrt1qfzys9trp9fvj9nphe0vfk0nt40wt9uuccx38a2",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "cf509d0e0f4c50a8237a4c72faacea259d92961808c0ebb3a89673f0f2229673:0",
                "status": "valid",
                "tx_hash": "f73cc7b339fe2a366ca77f4558f79c70f747dda67e8224840578a3134b29d4d3",
                "tx_index": 38,
                "block_time": 1727288559,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f73cc7b339fe2a366ca77f4558f79c70f747dda67e8224840578a3134b29d4d3",
            "block_index": 151,
            "block_time": 1727288559
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 156,
                "destination": "e64b7a02f6655d549c2cc3e622ee9924c70405b8abb5de7cf6defd70d6f565c5:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "c2922565bba40ba6be8f72d1d02b7ccec9935609bea38103a4792f5065ebc2d3:0",
                "status": "valid",
                "tx_hash": "e64b7a02f6655d549c2cc3e622ee9924c70405b8abb5de7cf6defd70d6f565c5",
                "tx_index": 43,
                "block_time": 1727288580,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "e64b7a02f6655d549c2cc3e622ee9924c70405b8abb5de7cf6defd70d6f565c5",
            "block_index": 156,
            "block_time": 1727288580
        }
    ],
    "next_cursor": 353,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qujdtd66k58vzd9z58qd3elhzkdt3k2n958fcr3",
                "status": "valid",
                "tx_hash": "bdb713c72c2be7322339e19955241a53886feef6db36374ff16141c6f230fe09",
                "tx_index": 9,
                "block_time": 1727288422,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "bdb713c72c2be7322339e19955241a53886feef6db36374ff16141c6f230fe09",
            "block_index": 121,
            "block_time": 1727288422
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `194` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                    "block_time": 1727288749,
                    "previous_block_hash": "401d5126cdcb6c7931508f5e7974cb7236db1b50efea75952c2e1cf4c5d95515",
                    "difficulty": 545259519,
                    "ledger_hash": "4b87db48a111b9c0417f6f9f2d4ae04c714ba729c02c4ec5b46b19f240ce5a87",
                    "txlist_hash": "a4bbb9dc982dab4ab1edd6776fe829a2cffb7f8648e9341b17475c0c6c1534a9",
                    "messages_hash": "837d7bbe5606eaed4f2b48459d9976858f16ece58e10674e432c79c2c81a254c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 193,
                    "block_hash": "401d5126cdcb6c7931508f5e7974cb7236db1b50efea75952c2e1cf4c5d95515",
                    "block_time": 1727288744,
                    "previous_block_hash": "6f31230e3b9b27d1d699dde160c2216c44bb70c11457fdfaadba2b7ec2d1e10b",
                    "difficulty": 545259519,
                    "ledger_hash": "3f1efb4d3bc451a5fabe00bdc0e2d13a9a369caf0deaa73ed786803939e9d9eb",
                    "txlist_hash": "b96bd81988ac326f893dedfbe4a5c02f566382d4842a9b331b5e9bbf9d4cc473",
                    "messages_hash": "465cb9d1b6ab3dceac86c0ca5c3d5601cfd93edc11e3c9b36bf755e7e476b75d",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "6f31230e3b9b27d1d699dde160c2216c44bb70c11457fdfaadba2b7ec2d1e10b",
                    "block_time": 1727288740,
                    "previous_block_hash": "54875d3752e6859fd0c00f71b7d81989a42073a2c59beb71c199700ef4d4bd83",
                    "difficulty": 545259519,
                    "ledger_hash": "86e066f6eb311ee57971660ae615237bc2492c67040bbc64639f157973a37643",
                    "txlist_hash": "cf4d21826ea0a1e148e3beec6d716e44bfa89ea80fd668db496b4023d8755bbf",
                    "messages_hash": "f7c3374336ea419377dc042f0c6353ae498bd4e737df6e08b36baa655e301e5b",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "54875d3752e6859fd0c00f71b7d81989a42073a2c59beb71c199700ef4d4bd83",
                    "block_time": 1727288726,
                    "previous_block_hash": "5febe413894d825b9b714cd16e846ca78da518190205a0c15446eee191a760fa",
                    "difficulty": 545259519,
                    "ledger_hash": "8b64bd162312834adeb314b332888e072b9b29f57fbe5a1511deeebd0f88a897",
                    "txlist_hash": "a22476eff622cd6f0f46d3b6f7e4d91ccb9b4dd0a05944d5bb746dc7005078f5",
                    "messages_hash": "892318353d668ba0cac785c6ca813d0941c6a2769ea6d63c416926d9fab54f5c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "5febe413894d825b9b714cd16e846ca78da518190205a0c15446eee191a760fa",
                    "block_time": 1727288722,
                    "previous_block_hash": "6aadd5a9291f17a3476acc58b23a9d82ac0212038e517d1c8719c2e65c3a21f3",
                    "difficulty": 545259519,
                    "ledger_hash": "4c7b4dd859c84e248b6bdc2df6f3aa49f3eb039364f8cfa4cc295e2518bd9934",
                    "txlist_hash": "617ddd89ede28d0187ca6f6e2f25941c66627d40e0b64fe9708f625b1c3c1ad7",
                    "messages_hash": "6a1a805c7df9b22a56aaf83e416acb6a06f48d1ae9886587cded4e47650bd58d",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 189,
            "result_count": 94
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                "block_time": 1727288749,
                "previous_block_hash": "401d5126cdcb6c7931508f5e7974cb7236db1b50efea75952c2e1cf4c5d95515",
                "difficulty": 545259519,
                "ledger_hash": "4b87db48a111b9c0417f6f9f2d4ae04c714ba729c02c4ec5b46b19f240ce5a87",
                "txlist_hash": "a4bbb9dc982dab4ab1edd6776fe829a2cffb7f8648e9341b17475c0c6c1534a9",
                "messages_hash": "837d7bbe5606eaed4f2b48459d9976858f16ece58e10674e432c79c2c81a254c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                "block_time": 1727288749,
                "previous_block_hash": "401d5126cdcb6c7931508f5e7974cb7236db1b50efea75952c2e1cf4c5d95515",
                "difficulty": 545259519,
                "ledger_hash": "4b87db48a111b9c0417f6f9f2d4ae04c714ba729c02c4ec5b46b19f240ce5a87",
                "txlist_hash": "a4bbb9dc982dab4ab1edd6776fe829a2cffb7f8648e9341b17475c0c6c1534a9",
                "messages_hash": "837d7bbe5606eaed4f2b48459d9976858f16ece58e10674e432c79c2c81a254c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor: `60` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                    "block_index": 194,
                    "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
                    "block_time": 1727288749,
                    "source": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `542` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 536,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 193,
                        "ledger_hash": "3f1efb4d3bc451a5fabe00bdc0e2d13a9a369caf0deaa73ed786803939e9d9eb",
                        "messages_hash": "465cb9d1b6ab3dceac86c0ca5c3d5601cfd93edc11e3c9b36bf755e7e476b75d",
                        "transaction_count": 1,
                        "txlist_hash": "b96bd81988ac326f893dedfbe4a5c02f566382d4842a9b331b5e9bbf9d4cc473",
                        "block_time": 1727288744
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 535,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "tx_index": 59
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                },
                {
                    "event_index": 534,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 193,
                        "destination": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                        "status": "valid",
                        "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "tx_index": 59,
                        "block_time": 1727288744,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                },
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727288744,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                },
                {
                    "event_index": 532,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                        "asset": "XCP",
                        "block_index": 193,
                        "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727288744,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                }
            ],
            "next_cursor": 531,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727288744,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                },
                {
                    "event_index": 531,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                        "asset": "MYASSETA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "quantity": 10,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727288744,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                },
                {
                    "event_index": 529,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                        "asset": "FAIRMINTA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                        "quantity": 500000000,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727288744,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727288744,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727288744,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727288744,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "address": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                    "tx_index": 60,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727288749,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `183` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "e66f481d288b7e50e5bc1b1c3d4ae4e4a503d9ae72b1a1418773a86a20c99cbd",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727288613
                },
                {
                    "type": "order",
                    "object_id": "cb3ef65825dc8a53560dc586185005f1fcee0d69c4d6892a8d8c18b458daad20",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727288613
                },
                {
                    "type": "order_match",
                    "object_id": "cb3ef65825dc8a53560dc586185005f1fcee0d69c4d6892a8d8c18b458daad20_e66f481d288b7e50e5bc1b1c3d4ae4e4a503d9ae72b1a1418773a86a20c99cbd",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727288613
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `191` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 57,
                    "tx_hash": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8",
                    "block_index": 191,
                    "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "offer_hash": "fc22f6e31a9d88a834653016ca1ae0b7613e13b222129e044b43f0b700aa00be",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727288726
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
                    "block_index": 194,
                    "source": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727288749,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `160` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 47,
                    "tx_hash": "07eb96ab2e1b0fb0258a269a87b21a0c0e54b37a765193ff327f06d9b6a80199",
                    "msg_index": 0,
                    "block_index": 160,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727288597,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "be0f523f465d4d12b77b4bb758ce4eb2076e5b5eeeea0920cd9de5149549267b",
                    "block_index": 189,
                    "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "destination": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727288717,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "be0f523f465d4d12b77b4bb758ce4eb2076e5b5eeeea0920cd9de5149549267b",
                    "block_index": 189,
                    "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "destination": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727288717,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "be0f523f465d4d12b77b4bb758ce4eb2076e5b5eeeea0920cd9de5149549267b",
                    "block_index": 189,
                    "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                    "destination": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727288717,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `147` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 34,
                    "dispense_index": 0,
                    "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
                    "block_index": 147,
                    "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                    "destination": "bcrt1qhmt7m8v8cd3shyr735a3c7mmug4h4z68m8qknc",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 147,
                        "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727288542,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "51aaf37fb7d48ea99f8cc77a571f8cd7b5c1292c7d0ed3997b5b0b5ee2ef2240",
                    "block_index": 193,
                    "source": "bcrt1q9wx590xfzyu9dmt6zmqm26f03wsywwj8lsv0r3",
                    "destination": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727288744,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "b2633cbbb53ad1eed7a25fc87b28a41b482ad7154c3ec36fad9fcda26b745d46",
        "block_index": 138,
        "block_hash": "45c946978c14f02b43897dbe84579d19a297630dfcf8a90501bb0cb552046e59",
        "block_time": 1727288494,
        "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "b2633cbbb53ad1eed7a25fc87b28a41b482ad7154c3ec36fad9fcda26b745d46:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 52,
        "tx_hash": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1",
        "block_index": 186,
        "block_hash": "259eb3dadf79d63d7ccbb2ac556251da68900f58280a02039eafe0d5ec26b73f",
        "block_time": 1727288705,
        "source": "bcrt1q9p3a3q3lepx8kh2vhna6yhxmtlwrnws598cwsv",
        "destination": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed943be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
        "supported": true,
        "utxos_info": "817744644eac1082d3e4633523294355e54e50153c460077e00beeb9daba42c1:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9",
                "tx1_hash": "43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
                "order_match_id": "64bdc4e53b474241bc104a5fb15ed3e29b8ae4e388e7fdebdec7ffa856561ed9_43be5d08f2c67d4f8c1f9e438728b00b6872be10f34701488a4019c4b5f116d2",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 57,
        "tx_hash": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8",
        "block_index": 191,
        "block_hash": "54875d3752e6859fd0c00f71b7d81989a42073a2c59beb71c199700ef4d4bd83",
        "block_time": 1727288726,
        "source": "bcrt1q9nc9wgxu6ma37n4hxmwq4lq6zqj9cn03xhu6rw",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46fc22f6e31a9d88a834653016ca1ae0b7613e13b222129e044b43f0b700aa00be",
        "supported": true,
        "utxos_info": "c2287cf604e5f61cdb5edd249de74ee2dac1f605aea5438ec76083dc7fda45a8:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "fc22f6e31a9d88a834653016ca1ae0b7613e13b222129e044b43f0b700aa00be",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 60,
        "tx_hash": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1",
        "block_index": 194,
        "block_hash": "57c4f725cdd3e33636490574985dda73b21586eea67de4ad3a47e708f7b05f83",
        "block_time": 1727288749,
        "source": "bcrt1qaxnhnncwn9wndlj6wkzf4qhrlx3w9yjldctucu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "66612aed96143cb887bb9e77d1e857ebd44c90dc8b79047e285b4fe2d3c5d1b1:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891",
        "block_index": 146,
        "block_hash": "7e94654b36b141c17fd497c3b555b1a4742112de328cd03bb3ab3a22c896bdea",
        "block_time": 1727288538,
        "source": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c0000000000000001000000000000000100000000000027100000000000000001008040a0020b87fc2e254f9fc19c80c6a41ec3ba8236",
        "supported": true,
        "utxos_info": "6f2e89186717fd200d78869c40bfe02a586d7e2eb078ce79d4369ac30ffcc891:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 34,
        "tx_hash": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d",
        "block_index": 147,
        "block_hash": "32fd9975f070b7c1c0706f119fb02a458b3afd86c721a80537e461e373eb0508",
        "block_time": 1727288542,
        "source": "bcrt1qhmt7m8v8cd3shyr735a3c7mmug4h4z68m8qknc",
        "destination": "bcrt1qgzsqyzu8lshz2nulcxwgp34yrmpm4q3k28jfsw",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "fa68ab5a781b7b033fc6332a7ca559acb24d10de8c3294c4bf9b7d1def30317d:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 41,
        "tx_hash": "78b7c21c25960276634db3a63443aae94d1fa1a3011068708a9e8bd216ce01ec",
        "block_index": 154,
        "block_hash": "1390faef491d10e85cb4bd91ab7f0dd683d5183b3e17dadbc48ba27e071622a0",
        "block_time": 1727288571,
[...]
