[//]: # (Generated by genapidoc.py on 2025-01-31 16:45:54.783994. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                "block_index": 245,
                "block_time": 1738341936,
                "difficulty": 545259519,
                "previous_block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                "block_index": 245,
                "block_time": 1738341936,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "fee": 0,
                "source": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                "transaction_type": "dispense",
                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "tx_index": 121,
                "utxos_info": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1 c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "out_index": 0,
                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "tx_index": 121,
                "block_time": 1738341936,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                "transaction_count": 1,
                "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                "block_time": 1738341936
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "tx_index": 121
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                "utxo_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                "block_time": 1738341936,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738341936,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q6cnpvsu9j9qsyuctyndjsflzm3de0z05ea9zug",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "status": "valid",
                "tx_hash": "2b268d54709f0c0ef28faacda1030a7cd7c33f316fd89766ceaf4d237d32927a",
                "tx_index": 77,
                "block_time": 1738341762,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "2b268d54709f0c0ef28faacda1030a7cd7c33f316fd89766ceaf4d237d32927a",
            "block_index": 201,
            "block_time": 1738341762
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q6cnpvsu9j9qsyuctyndjsflzm3de0z05ea9zug",
                "status": "valid",
                "tx_hash": "3f7aeb56c5679715b26c594dccc4b77ad6254a1d412e20b79e0428347465fabd",
                "tx_index": 81,
                "block_time": 1738341776,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "3f7aeb56c5679715b26c594dccc4b77ad6254a1d412e20b79e0428347465fabd",
            "block_index": 205,
            "block_time": 1738341776
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q8m6092vje6k7yu7crdsryrk2z03st3crld4wex",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q7jvvkx0ftauypeq9f3fwjglf739pyakrdlzkch",
                "status": "valid",
                "tx_hash": "75035128968a8a5a5c9d91b29c61c7db5bcb57f92278506cd0510263d967b623",
                "tx_index": 65,
                "block_time": 1738341720,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "75035128968a8a5a5c9d91b29c61c7db5bcb57f92278506cd0510263d967b623",
            "block_index": 190,
            "block_time": 1738341720
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "status": "valid",
                "tx_hash": "b1a3483d31b4683800d10a62813c6b4441e40bd77d15b9baad2928d070d83ed5",
                "tx_index": 42,
                "block_time": 1738341576,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "b1a3483d31b4683800d10a62813c6b4441e40bd77d15b9baad2928d070d83ed5",
            "block_index": 146,
            "block_time": 1738341576
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "status": "valid",
                "transfer": false,
                "tx_hash": "55177e5b393d1f53ee1fe8d31a98066a1f0e2c615e4e6661039cd828a9948eec",
                "tx_index": 117,
                "block_time": 1738341918,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "55177e5b393d1f53ee1fe8d31a98066a1f0e2c615e4e6661039cd828a9948eec",
            "block_index": 240,
            "block_time": 1738341918
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738341928
            },
            "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
            "block_index": 243,
            "block_time": 1738341928
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "status": "valid",
                "transfer": false,
                "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
                "tx_index": 120,
                "block_time": 1738341928,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
            "block_index": 243,
            "block_time": 1738341928
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "55177e5b393d1f53ee1fe8d31a98066a1f0e2c615e4e6661039cd828a9948eec",
                "tx_index": 117,
                "block_time": 1738341918,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "55177e5b393d1f53ee1fe8d31a98066a1f0e2c615e4e6661039cd828a9948eec",
            "block_index": 240,
            "block_time": 1738341918
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "status": "open",
                "tx_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
                "tx_index": 119,
                "block_time": 1738341924,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qjqesag3tcreph7djuw0ffan8dqradyhjje8sdd",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
            "block_index": 242,
            "block_time": 1738341924
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "f331e4b031557b673af8274b47d35858be1367d179b9ced349c1dd7feb0a0bd4_32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qjqesag3tcreph7djuw0ffan8dqradyhjje8sdd",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "f331e4b031557b673af8274b47d35858be1367d179b9ced349c1dd7feb0a0bd4",
                "tx0_index": 118,
                "tx1_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
                "tx1_index": 119,
                "block_time": 1738341924,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qjqesag3tcreph7djuw0ffan8dqradyhjje8sdd",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
            "block_index": 242,
            "block_time": 1738341924
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "32bbd13787c3a867a535cda4e6622faa08c8546324974c8900521a90500ce51e",
            "block_index": 242,
            "block_time": 1738341924
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "e8afd81afd36596d1413fa264e10fa23f5c53159187d8c3d6b0fb007734ef40e"
            },
            "tx_hash": "73584829f73f29ba1956cdcc58d29fb2373156738f2964c6d3144121fc3ed922",
            "block_index": 182,
            "block_time": 1738341690
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "d0f6285811a94ea7918f1d82d379391b23a210e847c9950bbc8cf407b326ab13_fcd4a1123e91fb2cd118a2bba8a12b01ffb2ab5dbee93ad43106bc6cbd71f7e4",
                "order_match_id": "d0f6285811a94ea7918f1d82d379391b23a210e847c9950bbc8cf407b326ab13_fcd4a1123e91fb2cd118a2bba8a12b01ffb2ab5dbee93ad43106bc6cbd71f7e4",
                "status": "expired"
            },
            "tx_hash": "1dc211809dcd9ef042c37284e8465ab657e50c3ebc2af690a902b171a61070eb",
            "block_index": 225,
            "block_time": 1738341850
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "order_match_id": "3900b3d46360972f91d3e762ddb645501232ccbcc047300f70db2da463123e3b_e8afd81afd36596d1413fa264e10fa23f5c53159187d8c3d6b0fb007734ef40e",
                "source": "bcrt1q6cnpvsu9j9qsyuctyndjsflzm3de0z05ea9zug",
                "status": "valid",
                "tx_hash": "73584829f73f29ba1956cdcc58d29fb2373156738f2964c6d3144121fc3ed922",
                "tx_index": 57,
                "block_time": 1738341690,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "73584829f73f29ba1956cdcc58d29fb2373156738f2964c6d3144121fc3ed922",
            "block_index": 182,
            "block_time": 1738341690
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "ec33b06aed98d06bacdc6b49f22f8e8eefe531deec0d683c27817783cc906470",
                "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "status": "valid",
                "tx_hash": "89d3533cb43ef2df4d9707e4f650d910e626fb00b4e16c0c885727c86e779451",
                "tx_index": 63,
                "block_time": 1738341712
            },
            "tx_hash": "89d3533cb43ef2df4d9707e4f650d910e626fb00b4e16c0c885727c86e779451",
            "block_index": 188,
            "block_time": 1738341712
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "d0f6285811a94ea7918f1d82d379391b23a210e847c9950bbc8cf407b326ab13",
                "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "block_time": 1738341798
            },
            "tx_hash": "4963ca0162ed3e58382dd7c9ec428966b1499ee5429edfa59986070deb85b86c",
            "block_index": 211,
            "block_time": 1738341798
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "d0f6285811a94ea7918f1d82d379391b23a210e847c9950bbc8cf407b326ab13_fcd4a1123e91fb2cd118a2bba8a12b01ffb2ab5dbee93ad43106bc6cbd71f7e4",
                "tx0_address": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "tx1_address": "bcrt1q7jvvkx0ftauypeq9f3fwjglf739pyakrdlzkch",
                "block_time": 1738341850
            },
            "tx_hash": "1dc211809dcd9ef042c37284e8465ab657e50c3ebc2af690a902b171a61070eb",
            "block_index": 225,
            "block_time": 1738341850
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qp9enhxmp94j0ccc87nt0j3g20n2ymfnzafap5v",
                "satoshirate": 1,
                "source": "bcrt1qp9enhxmp94j0ccc87nt0j3g20n2ymfnzafap5v",
                "status": 0,
                "tx_hash": "3ea7eeb8ff6b04b78e3eb78e0f121c66a77924349fa8d3d1aec81590ee801099",
                "tx_index": 114,
                "block_time": 1738341904,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "3ea7eeb8ff6b04b78e3eb78e0f121c66a77924349fa8d3d1aec81590ee801099",
            "block_index": 236,
            "block_time": 1738341904
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "status": 0,
                "tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mzv3Bj6M2tKQiV2auZtCNm3hYZefyZnU3s",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "c95d839e754d4a49a138f875b4aa901f5af0dca9fa9c994fe5c84144c2a49681",
                "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                "tx_hash": "f8f3746fe7dfaf2a5ce111562cc953d123f6bcb1a103d4a1f77088c703351086",
                "tx_index": 31,
                "block_time": 1738341537,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "f8f3746fe7dfaf2a5ce111562cc953d123f6bcb1a103d4a1f77088c703351086",
            "block_index": 135,
            "block_time": 1738341537
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "tx_index": 121,
                "block_time": 1738341936,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "4a6e56457b618b119ea2fd6bf129f98a3e7e0f783e4e3b3da945e972ad52b0df",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738341514,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "4a6e56457b618b119ea2fd6bf129f98a3e7e0f783e4e3b3da945e972ad52b0df",
            "block_index": 129,
            "block_time": 1738341514
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "start_block": 0,
                "status": "open",
                "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
                "tx_index": 120,
                "block_time": 1738341928,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
            "block_index": 243,
            "block_time": 1738341928
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "4abf4d3dfb50be9569b2e1dc24de57e7b28ffcc0fab6ba0698cbea968946609e"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738341861
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "b238877f0952bd73ed36b89e4299e687b8f0e1a2dab074b5ee9f8564d07e8d88",
                "paid_quantity": 100000000,
                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "status": "valid",
                "tx_hash": "2b9f4274c0e8c76bf16849a1e04c62237d165fdc89467a622ce6c631bd120bf1",
                "tx_index": 97,
                "block_time": 1738341834,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "2b9f4274c0e8c76bf16849a1e04c62237d165fdc89467a622ce6c631bd120bf1",
            "block_index": 221,
            "block_time": 1738341834
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "11cf408411d183486a854df45efc2fc19a131aed01d32ae90561b61c5f90595d:0",
                "destination_address": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "status": "valid",
                "tx_hash": "11cf408411d183486a854df45efc2fc19a131aed01d32ae90561b61c5f90595d",
                "tx_index": 112,
                "block_time": 1738341899,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "11cf408411d183486a854df45efc2fc19a131aed01d32ae90561b61c5f90595d",
            "block_index": 235,
            "block_time": 1738341899
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "cb517ee4514cb00d1586ce6447ff12823c5bee437ff5f37d86c71d0e1b4e2ac8:0",
                "source_address": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                "status": "valid",
                "tx_hash": "79e238dc779b1087bdda2d0c92fc723ddf6c5782547249555a6eecc005c6b811",
                "tx_index": 111,
                "block_time": 1738341895,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "79e238dc779b1087bdda2d0c92fc723ddf6c5782547249555a6eecc005c6b811",
            "block_index": 234,
            "block_time": 1738341895
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                "destination_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                "source_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                "status": "valid",
                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                "tx_index": 121,
                "block_time": 1738341936,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
            "block_index": 245,
            "block_time": 1738341936
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qjqesag3tcreph7djuw0ffan8dqradyhjje8sdd",
                "status": "valid",
                "tx_hash": "bc1a903f6a1cc65bfc844e6c57d0b78467883e447af7397b3bcc8b3935b4aee0",
                "tx_index": 9,
                "block_time": 1738341451,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "bc1a903f6a1cc65bfc844e6c57d0b78467883e447af7397b3bcc8b3935b4aee0",
            "block_index": 112,
            "block_time": 1738341451
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                    "block_time": 1738341936,
                    "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                    "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                    "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                    "previous_block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5",
                    "block_time": 1738341931,
                    "ledger_hash": "b64da9f4e7b7d6839e34c71a351b1aa3d3f8eb044ee3930fa8f948f43b0806d6",
                    "txlist_hash": "e7e4ce3ea7933c97621b64f009cccec4a34afcd3b4c0402dc38a0f2b8689925f",
                    "messages_hash": "10e1fdc55ed05723ead5f31ab735b5fd4c521eba3d702889710ae5e657251577",
                    "previous_block_hash": "67663d41b71d1752c17cf300680f8373ff9ec3275d40cd49e1d0c316d1428686",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "67663d41b71d1752c17cf300680f8373ff9ec3275d40cd49e1d0c316d1428686",
                    "block_time": 1738341928,
                    "ledger_hash": "9bea06069227b11fdeefc11cd29e66b03952d3d1f4edd6b880c264bdfac1382e",
                    "txlist_hash": "2be8cdfee1c2a2c2eee80be13b93e2c8ef3a128226fd0a86a3449f7762c21750",
                    "messages_hash": "f6aff488a6cae4e89afc6f09de0c7bc8e945799739ea9c8bb8f2892da6fd73e7",
                    "previous_block_hash": "5b7e9db335337d7abbadce117f73f20a5ce961c644fa976eb18fedc83d2ae4dc",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "5b7e9db335337d7abbadce117f73f20a5ce961c644fa976eb18fedc83d2ae4dc",
                    "block_time": 1738341924,
                    "ledger_hash": "8a69af00d8c5406675c71dfdf531e12a1a89545fcd5025755015983e1077421e",
                    "txlist_hash": "7ca77ee595fed110a55f105695b5316daecf8bd2334211c6b1cbf657a76af710",
                    "messages_hash": "3c50149ce1223e4398bf2e109a60312ec4fc332f933065d22a83b43e986f6231",
                    "previous_block_hash": "5c462cd1f120e09d7c636b541f1dd05e5bffcab9a9ffcbf22ad43a7dea7c0488",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "5c462cd1f120e09d7c636b541f1dd05e5bffcab9a9ffcbf22ad43a7dea7c0488",
                    "block_time": 1738341921,
                    "ledger_hash": "027ec91e308704b16a234193b70dba113d9dd2b44a4d2a459370048996dabff0",
                    "txlist_hash": "374118dd9a0cc131ef3c3dda1375f56b1459ba4f892916012c3ce4de025c0ed9",
                    "messages_hash": "53a8ffe63231485475cf241a15d5ebf4c1c211f648fd5695a2ed1a5b42192be5",
                    "previous_block_hash": "7d097e08040713f05338f79d90ff67f83faf78f4eab7cafcee1f3e91c865cb9e",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                "block_time": 1738341936,
                "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                "previous_block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                "block_time": 1738341936,
                "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                "previous_block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                "block_time": 1738341936,
                "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                "previous_block_hash": "2e1fc45b89d6a67a33376f0e0f0d52fe38daa4044348015c5f901a66deb540c5",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "block_index": 245,
                    "block_hash": "1219b3af72bd26ace91c7914512dfa4cbbb2111f10e69a676f90aee3fd38ef4a",
                    "block_time": 1738341936,
                    "source": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "destination": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1 c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                                "destination_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                                "source_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                                "status": "valid",
                                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                                "tx_index": 121,
                                "block_time": 1738341936,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                            "block_index": 245,
                            "block_time": 1738341936
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                                "destination_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                                "source_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                                "status": "valid",
                                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                                "tx_index": 121,
                                "block_time": 1738341936,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                            "block_index": 245,
                            "block_time": 1738341936
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                                "status": 0,
                                "tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                            "block_index": 245,
                            "block_time": 1738341936
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                                "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                                "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                                "tx_index": 121,
                                "block_time": 1738341936,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                            "block_index": 245,
                            "block_time": 1738341936
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "1487fee19fe4cbbdf2e8422616c4adcfb0f9b95532e073f8a10893cc4ebdaffe",
                        "messages_hash": "96124d435804bbb1576a0ba18941c380977991087190b007ee3c2c893e6020a2",
                        "transaction_count": 1,
                        "txlist_hash": "300f658acf383eef1c5cce7be9afba4e5e1bfd42e1e3629d9224e1127744de7b",
                        "block_time": 1738341936
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "tx_index": 121
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                        "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "tx_index": 121,
                        "block_time": 1738341936,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "status": 0,
                        "tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738341936,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738341936,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                        "utxo_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "block_time": 1738341936,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                        "utxo_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "block_time": 1738341936,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "tx_index": 121,
                    "utxo": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                    "utxo_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "tx_index": 121,
                    "utxo": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                    "utxo_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "tx_index": 121,
                    "utxo": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                    "utxo_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "tx_index": 121,
                    "utxo": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                    "utxo_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "d0f6285811a94ea7918f1d82d379391b23a210e847c9950bbc8cf407b326ab13",
                    "block_index": 211,
                    "block_time": 1738341798
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "89d3533cb43ef2df4d9707e4f650d910e626fb00b4e16c0c885727c86e779451",
                    "block_index": 188,
                    "source": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                    "offer_hash": "ec33b06aed98d06bacdc6b49f22f8e8eefe531deec0d683c27817783cc906470",
                    "status": "valid",
                    "block_time": 1738341712
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "55177e5b393d1f53ee1fe8d31a98066a1f0e2c615e4e6661039cd828a9948eec",
                    "block_index": 240,
                    "source": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738341918,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qurdzjjdegs60ze6vaez5y89nf706l3sh5qypud",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "75308d7c1cc9cd0348d1926851079164c07b3b773264dd1754881ab89a5356c6",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "issuer": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738341928,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "block_index": 245,
                    "source": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                    "destination": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "destination_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "block_index": 245,
                    "source": "f2f00047f22e1a80334976d593ab704f7fdbf3279451b923633c6da38e7eeed6:1",
                    "destination": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "destination_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3apz3qj57x70sl8kskgx52wy4q2psvf6xwn7lj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "c780c81caad2fdb3ce5368a317e069e70e8d53df47464ac107d306aee532af43",
                    "block_index": 245,
                    "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                    "destination": "bcrt1qqj4mcupsgtd5uw4yxcnvz9vcacvc5sqrvynt57",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "647a9847032bbe7f7a8a0b14d03fea2424b174200fec70a1a9056148f1dfd278",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qcfqqr39n4qqdt2aj6k5uvg0sh76wvssrwu7uhz",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738341936,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
