[//]: # (Generated by genapidoc.py on 2025-03-27 09:52:51.485168. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                "block_index": 245,
                "block_time": 1743069154,
                "difficulty": 545259519,
                "previous_block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                "block_index": 245,
                "block_time": 1743069154,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "fee": 0,
                "source": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                "transaction_type": "dispense",
                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "tx_index": 121,
                "utxos_info": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1 30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "out_index": 0,
                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "tx_index": 121,
                "block_time": 1743069154,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                "transaction_count": 1,
                "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                "block_time": 1743069154
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "tx_index": 121
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                "utxo_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                "block_time": 1743069154,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1743069154,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qaag7n30g9l6e9wzlmctk4zr76y32v70kpfc7yd",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "status": "valid",
                "tx_hash": "8cf4162470b0f3972e7e8485065ae5bec74984a22d28979de3e47ae48427b783",
                "tx_index": 77,
                "block_time": 1743068963,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "8cf4162470b0f3972e7e8485065ae5bec74984a22d28979de3e47ae48427b783",
            "block_index": 201,
            "block_time": 1743068963
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1qaag7n30g9l6e9wzlmctk4zr76y32v70kpfc7yd",
                "status": "valid",
                "tx_hash": "90e25b8080a2c46dc5255895bf01693c53afd21c6caf91ba1b53080d38d1a2bd",
                "tx_index": 81,
                "block_time": 1743068978,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "90e25b8080a2c46dc5255895bf01693c53afd21c6caf91ba1b53080d38d1a2bd",
            "block_index": 205,
            "block_time": 1743068978
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qf4kl5u2wy7euttvc9jjej8nqrlx32s5t9mar4y",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qcue9yhy8v5n9d77mjmfpnrya3qe7ywppg74gz4",
                "status": "valid",
                "tx_hash": "3304f860b28c397c1fbdc4d72f76d6f8c30998b07d4f7cff838121dda61ad82a",
                "tx_index": 65,
                "block_time": 1743068916,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "3304f860b28c397c1fbdc4d72f76d6f8c30998b07d4f7cff838121dda61ad82a",
            "block_index": 190,
            "block_time": 1743068916
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "status": "valid",
                "tx_hash": "3c977687e13ad3701f6bf93a4a6f7319fe42694c4ef84470709937b143883b8b",
                "tx_index": 42,
                "block_time": 1743068772,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "3c977687e13ad3701f6bf93a4a6f7319fe42694c4ef84470709937b143883b8b",
            "block_index": 146,
            "block_time": 1743068772
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "status": "valid",
                "transfer": false,
                "tx_hash": "04f407f33cd6a3c3cbf9b8b1b7eed80b487f81a8c1fdde9af4c59412c094b4f7",
                "tx_index": 117,
                "block_time": 1743069132,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "04f407f33cd6a3c3cbf9b8b1b7eed80b487f81a8c1fdde9af4c59412c094b4f7",
            "block_index": 240,
            "block_time": 1743069132
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1743069144
            },
            "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
            "block_index": 243,
            "block_time": 1743069144
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "status": "valid",
                "transfer": false,
                "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
                "tx_index": 120,
                "block_time": 1743069144,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
            "block_index": 243,
            "block_time": 1743069144
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "04f407f33cd6a3c3cbf9b8b1b7eed80b487f81a8c1fdde9af4c59412c094b4f7",
                "tx_index": 117,
                "block_time": 1743069132,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "04f407f33cd6a3c3cbf9b8b1b7eed80b487f81a8c1fdde9af4c59412c094b4f7",
            "block_index": 240,
            "block_time": 1743069132
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "status": "open",
                "tx_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
                "tx_index": 119,
                "block_time": 1743069140,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qsvy2ppw3ssfu5sl42etfwchy2z47efytk33fwa",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qsvy2ppw3ssfu5sl42etfwchy2z47efytk33fwa"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
            "block_index": 242,
            "block_time": 1743069140
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "a0e62e71f175ef04b064005526bbbffc5cdd862cf3f121bbdcf2d6f3f7bd0e36_11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qsvy2ppw3ssfu5sl42etfwchy2z47efytk33fwa",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "a0e62e71f175ef04b064005526bbbffc5cdd862cf3f121bbdcf2d6f3f7bd0e36",
                "tx0_index": 118,
                "tx1_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
                "tx1_index": 119,
                "block_time": 1743069140,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qsvy2ppw3ssfu5sl42etfwchy2z47efytk33fwa",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qsvy2ppw3ssfu5sl42etfwchy2z47efytk33fwa"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
            "block_index": 242,
            "block_time": 1743069140
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "11d4d2b00403b093280eece1928b8f9f50ed36306dca3c565ed72b6406e95d50",
            "block_index": 242,
            "block_time": 1743069140
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "bd3a5c2631b9ffc0d6058f1de496e2fd5e553c4afb5bb53b12bfeeba762d46dd"
            },
            "tx_hash": "c6748fa0a6ca717b61ff4b1248dacca80e66b3e930f8be4550b6edd6938032de",
            "block_index": 182,
            "block_time": 1743068887
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "2420796cf59aec6cbb08cc64586bc37fa237479018f3e0ff462cae89cbe0c354_12da5dd61b36dfc368279d86fc9cc77dbfe4dcbec317f9e23c6553fbd505751b",
                "order_match_id": "2420796cf59aec6cbb08cc64586bc37fa237479018f3e0ff462cae89cbe0c354_12da5dd61b36dfc368279d86fc9cc77dbfe4dcbec317f9e23c6553fbd505751b",
                "status": "expired"
            },
            "tx_hash": "c72579df90c82a22637d2f4b7eddcf5fc401cc789c7d73538f5a9fc2e2c1a8cb",
            "block_index": 225,
            "block_time": 1743069050
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "order_match_id": "7b7831a8aa3330d74c51a3bbecbb567051398eef485c7af4c61e0184244bbe91_bd3a5c2631b9ffc0d6058f1de496e2fd5e553c4afb5bb53b12bfeeba762d46dd",
                "source": "bcrt1qaag7n30g9l6e9wzlmctk4zr76y32v70kpfc7yd",
                "status": "valid",
                "tx_hash": "c6748fa0a6ca717b61ff4b1248dacca80e66b3e930f8be4550b6edd6938032de",
                "tx_index": 57,
                "block_time": 1743068887,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "c6748fa0a6ca717b61ff4b1248dacca80e66b3e930f8be4550b6edd6938032de",
            "block_index": 182,
            "block_time": 1743068887
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "25d2766b058ec8877911db8df5bd4e50de7977205ddb131d39ace8442f9c5783",
                "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "status": "valid",
                "tx_hash": "f5882a3aed53533aeeaf10adcef3acf0e82278d8c6fa878dfe54fc03b260d4e7",
                "tx_index": 63,
                "block_time": 1743068909
            },
            "tx_hash": "f5882a3aed53533aeeaf10adcef3acf0e82278d8c6fa878dfe54fc03b260d4e7",
            "block_index": 188,
            "block_time": 1743068909
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "2420796cf59aec6cbb08cc64586bc37fa237479018f3e0ff462cae89cbe0c354",
                "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "block_time": 1743069000
            },
            "tx_hash": "7c083f9cbdf6e0599f44742da782efb6d728b4389bff56930d1e61cd9cd09d69",
            "block_index": 211,
            "block_time": 1743069000
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "2420796cf59aec6cbb08cc64586bc37fa237479018f3e0ff462cae89cbe0c354_12da5dd61b36dfc368279d86fc9cc77dbfe4dcbec317f9e23c6553fbd505751b",
                "tx0_address": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "tx1_address": "bcrt1qcue9yhy8v5n9d77mjmfpnrya3qe7ywppg74gz4",
                "block_time": 1743069050
            },
            "tx_hash": "c72579df90c82a22637d2f4b7eddcf5fc401cc789c7d73538f5a9fc2e2c1a8cb",
            "block_index": 225,
            "block_time": 1743069050
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qugcpfdwgnrg2mjdhkqnw6zttk675xw2w7x82ac",
                "satoshirate": 1,
                "source": "bcrt1qugcpfdwgnrg2mjdhkqnw6zttk675xw2w7x82ac",
                "status": 0,
                "tx_hash": "17f3ac141fa2b6628705e06efa7fff89812be7420ba27857fcd13f95ca72fd06",
                "tx_index": 114,
                "block_time": 1743069118,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "17f3ac141fa2b6628705e06efa7fff89812be7420ba27857fcd13f95ca72fd06",
            "block_index": 236,
            "block_time": 1743069118
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "status": 0,
                "tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mwWdmjJxQVSaurrFtABiXiszvrCZnKM3Fc",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "1bb04c4e50662b10064824b5cdd3f751c321697e9ef8350b85727fa96676cae4",
                "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                "tx_hash": "7c3cc1f51e2dd823d79656759d7c1d92450885e1bab94998d235ecc48500a3a8",
                "tx_index": 31,
                "block_time": 1743068733,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "7c3cc1f51e2dd823d79656759d7c1d92450885e1bab94998d235ecc48500a3a8",
            "block_index": 135,
            "block_time": 1743068733
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "tx_index": 121,
                "block_time": 1743069154,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "18f40d0393cd4a05d0c5d2b4692a4c6b62d0511176ba682bc66bb7ef869fa445",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1743068710,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "18f40d0393cd4a05d0c5d2b4692a4c6b62d0511176ba682bc66bb7ef869fa445",
            "block_index": 129,
            "block_time": 1743068710
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "start_block": 0,
                "status": "open",
                "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
                "tx_index": 120,
                "block_time": 1743069144,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
            "block_index": 243,
            "block_time": 1743069144
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "7ec45095713dc7a2089cf785accb6eef0244acd1eae9c0e9c1b2edff3553a1b2"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1743069060
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "0d7e72848f44d62ea5bdc105b07a5cb5080cf0f94cb0a976fa0b395235069fcf",
                "paid_quantity": 100000000,
                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "status": "valid",
                "tx_hash": "7db7e2bcd74f989d3bb4199ed77a3f0dcbcf3726ed22eb343e35148b8dbbdab4",
                "tx_index": 97,
                "block_time": 1743069037,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "7db7e2bcd74f989d3bb4199ed77a3f0dcbcf3726ed22eb343e35148b8dbbdab4",
            "block_index": 221,
            "block_time": 1743069037
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "fae6193f4147110ffc5b91ebac7759163ee29acd3e748474897348a2c9ef31ec:0",
                "destination_address": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "status": "valid",
                "tx_hash": "fae6193f4147110ffc5b91ebac7759163ee29acd3e748474897348a2c9ef31ec",
                "tx_index": 112,
                "block_time": 1743069112,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "fae6193f4147110ffc5b91ebac7759163ee29acd3e748474897348a2c9ef31ec",
            "block_index": 235,
            "block_time": 1743069112
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "ceaccc1c758769c09edf84d583b5ac9da37112aecc8674b4ad3581364cabb74c:0",
                "source_address": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                "status": "valid",
                "tx_hash": "2b86bb1f4022061ad9c66ca5985b0c18f627612bf6d99fc8b7dd004659d43bd5",
                "tx_index": 111,
                "block_time": 1743069109,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2b86bb1f4022061ad9c66ca5985b0c18f627612bf6d99fc8b7dd004659d43bd5",
            "block_index": 234,
            "block_time": 1743069109
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                "destination_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                "source_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                "status": "valid",
                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                "tx_index": 121,
                "block_time": 1743069154,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
            "block_index": 245,
            "block_time": 1743069154
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qf4kl5u2wy7euttvc9jjej8nqrlx32s5t9mar4y",
                "status": "valid",
                "tx_hash": "a0bee7dbea5dcb13ecd5575a68de8e470e60d9eab12bfd48a4c025f1cc05a9fe",
                "tx_index": 9,
                "block_time": 1743068650,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "a0bee7dbea5dcb13ecd5575a68de8e470e60d9eab12bfd48a4c025f1cc05a9fe",
            "block_index": 112,
            "block_time": 1743068650
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                    "block_time": 1743069154,
                    "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                    "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                    "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                    "previous_block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d",
                    "block_time": 1743069148,
                    "ledger_hash": "7e7d3c4d6da9fe3784c43c36689f718a42fe1d6f5a673e9946fb29f845957e4a",
                    "txlist_hash": "278a86f237965b0d7f0ec90cf8e015ee01df7ab0024d12d15656aa784c031583",
                    "messages_hash": "594ad69745d1046623dceea0f9035001bb51071a7da694cb045a9427e7f1c556",
                    "previous_block_hash": "2be0dc81e645bb1b071799fdfb8f5343195544c04729f25b7e69803b4ab0d4ce",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "2be0dc81e645bb1b071799fdfb8f5343195544c04729f25b7e69803b4ab0d4ce",
                    "block_time": 1743069144,
                    "ledger_hash": "f88c772ab1781e769ce70f614c0f389443042b87e3c337f8a4519ed8af59d2a7",
                    "txlist_hash": "fcb3c72693a835742e07e133ddca64621f82711f5a33de36e7174006ad24879c",
                    "messages_hash": "4150e9fd9496f6b956992e01817a6304699ddf6e534fd5ec12e4f7bf4aef7155",
                    "previous_block_hash": "41a54d541b4f2b219d1aa2fcd7ad12512d2544bf99f89f49be128d19d5a7ad09",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "41a54d541b4f2b219d1aa2fcd7ad12512d2544bf99f89f49be128d19d5a7ad09",
                    "block_time": 1743069140,
                    "ledger_hash": "6a8bcc5a3a414c8ef3da6bf9180be6026957aec7362b4b96eb119373c3c9fbaf",
                    "txlist_hash": "37438cde9c7c8091908491debfae837213cc24be46bd8370f11504c0b0d9cfc4",
                    "messages_hash": "d667eebc72699da0b8aa8b9226be2e92bf9965e87d52e0a02a5890643a2781df",
                    "previous_block_hash": "2246a23325ad52939b7d4848b0a5e92e4f6612ebc7eefcd945bddf3a5bb71de1",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "2246a23325ad52939b7d4848b0a5e92e4f6612ebc7eefcd945bddf3a5bb71de1",
                    "block_time": 1743069137,
                    "ledger_hash": "3d3392d9f40de12c14558da666fcdf0106773d1adbb27bcb598f2a08f53489fa",
                    "txlist_hash": "3b781774666e6addcad35a53b828669d276246bcb7c86c7dfbf1c7852d713aa6",
                    "messages_hash": "7b979324d9638a8f430c3d28fdf27ece5b0606fceccb80f3bf523394e2c98ed4",
                    "previous_block_hash": "521e195060d4d01e00f9c962a22b8ddeeff2603b57ca2fd32cb526a1e1f235d1",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                "block_time": 1743069154,
                "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                "previous_block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                "block_time": 1743069154,
                "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                "previous_block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                "block_time": 1743069154,
                "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                "previous_block_hash": "7da312318cbcfc18642e127dabc6367e3c12ec2f141dffc8e0461e88490a8f7d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "block_index": 245,
                    "block_hash": "113632ac0f4e3bcec40e7388546458e3907769864494fa97396ba8b87814f583",
                    "block_time": 1743069154,
                    "source": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "destination": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1 30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                                "destination_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                                "source_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                                "status": "valid",
                                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                                "tx_index": 121,
                                "block_time": 1743069154,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                            "block_index": 245,
                            "block_time": 1743069154
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                                "destination_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                                "source_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                                "status": "valid",
                                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                                "tx_index": 121,
                                "block_time": 1743069154,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                            "block_index": 245,
                            "block_time": 1743069154
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                                "status": 0,
                                "tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                            "block_index": 245,
                            "block_time": 1743069154
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                                "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                                "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                                "tx_index": 121,
                                "block_time": 1743069154,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                            "block_index": 245,
                            "block_time": 1743069154
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "6ddb180d10a5923889be51e2f28c1afc2901a63831c44e8e21d88873d05244c0",
                        "messages_hash": "d1a64961022c08a5b416d1cd8992ef765816c72c360bc8595b1222a0cf1cb21b",
                        "transaction_count": 1,
                        "txlist_hash": "bca18c6479bc4144ecd621e70b8986d81b8f8f4f43f2d6fed8a1df532e2ec622",
                        "block_time": 1743069154
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "tx_index": 121
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                        "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                        "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "tx_index": 121,
                        "block_time": 1743069154,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                        "status": 0,
                        "tx_hash": "88434b1939df31188e247550cbe15aac0542f2aefda181d831327502f33b05ca",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743069154,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743069154,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                        "utxo_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                        "block_time": 1743069154,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                        "utxo_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                        "block_time": 1743069154,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "tx_index": 121,
                    "utxo": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                    "utxo_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "tx_index": 121,
                    "utxo": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                    "utxo_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "tx_index": 121,
                    "utxo": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                    "utxo_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "tx_index": 121,
                    "utxo": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                    "utxo_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "2420796cf59aec6cbb08cc64586bc37fa237479018f3e0ff462cae89cbe0c354",
                    "block_index": 211,
                    "block_time": 1743069000
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "f5882a3aed53533aeeaf10adcef3acf0e82278d8c6fa878dfe54fc03b260d4e7",
                    "block_index": 188,
                    "source": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                    "offer_hash": "25d2766b058ec8877911db8df5bd4e50de7977205ddb131d39ace8442f9c5783",
                    "status": "valid",
                    "block_time": 1743068909
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "04f407f33cd6a3c3cbf9b8b1b7eed80b487f81a8c1fdde9af4c59412c094b4f7",
                    "block_index": 240,
                    "source": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1743069132,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qzv0pv0ywtmp95m38kxrw5wcxpgv92m2yawad5x"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "db99bc88731b225249ea2138ade84505fb17a31e25860c71f05e349fcf2d4b68",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "issuer": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1743069144,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "block_index": 245,
                    "source": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                    "destination": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "destination_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971",
                    "block_index": 245,
                    "source": "011def5e6a909214cf959f169bd6642608a29720c1322acd825d3093d2595a34:1",
                    "destination": "30f47d6e731457efd1c485f3fbfc1a4a9b2916dd3b93815aaf8be95533de2971:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qzht84uz2s36guv4vn6yr2wwy37dcw0dc5h2xe4",
                    "destination_address": "bcrt1qqxxzxmr9z2l7hfuj6uz078cf8xu533480dq3kv",
                    "block_time": 1743069154,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q256cez7kq7fuy4uv2d7efrsnjc8m2fz6004sqz"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
