[//]: # (Generated by genapidoc.py on 2025-04-02 12:48:41.605931. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                "block_index": 245,
                "block_time": 1743598103,
                "difficulty": 545259519,
                "previous_block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                "block_index": 245,
                "block_time": 1743598103,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "fee": 0,
                "source": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                "transaction_type": "dispense",
                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "tx_index": 121,
                "utxos_info": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1 e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "out_index": 0,
                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "tx_index": 121,
                "block_time": 1743598103,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                "transaction_count": 1,
                "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                "block_time": 1743598103
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "tx_index": 121
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                "utxo_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                "block_time": 1743598103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1743598103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q4z99aapwmh6343fq4jyd3vh42wqraql5yyhzrp",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "status": "valid",
                "tx_hash": "43907c7365d53ffb318ba83431643a3f0638d192b6573995605e3e5bb9dff4b0",
                "tx_index": 77,
                "block_time": 1743597897,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "43907c7365d53ffb318ba83431643a3f0638d192b6573995605e3e5bb9dff4b0",
            "block_index": 201,
            "block_time": 1743597897
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q4z99aapwmh6343fq4jyd3vh42wqraql5yyhzrp",
                "status": "valid",
                "tx_hash": "20ab94d6dc02c45027027bf5c4d33aa284fe9aeb1107746f3e049ef31ad513a9",
                "tx_index": 81,
                "block_time": 1743597914,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "20ab94d6dc02c45027027bf5c4d33aa284fe9aeb1107746f3e049ef31ad513a9",
            "block_index": 205,
            "block_time": 1743597914
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q8d26hgztgkdctqltulmsvkjdqh7w473vp2y48q",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6jf8e0mewpcs2leeqy2lzks78u89qza6c560ed",
                "status": "valid",
                "tx_hash": "ed51103374b9613b2e987890c9f0fa81bd17d591d055e2fd1649db7a8a55de93",
                "tx_index": 65,
                "block_time": 1743597848,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "ed51103374b9613b2e987890c9f0fa81bd17d591d055e2fd1649db7a8a55de93",
            "block_index": 190,
            "block_time": 1743597848
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "status": "valid",
                "tx_hash": "d8f9faca89dd9a493d6f70791906b152ad925d75507da37bff85db8665b4762f",
                "tx_index": 42,
                "block_time": 1743597691,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "d8f9faca89dd9a493d6f70791906b152ad925d75507da37bff85db8665b4762f",
            "block_index": 146,
            "block_time": 1743597691
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "status": "valid",
                "transfer": false,
                "tx_hash": "4eca8c1a8b4275ca917d27ab24d07aac7ce28e9ee34326a5e61d19ee08016e1e",
                "tx_index": 117,
                "block_time": 1743598081,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "4eca8c1a8b4275ca917d27ab24d07aac7ce28e9ee34326a5e61d19ee08016e1e",
            "block_index": 240,
            "block_time": 1743598081
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1743598094
            },
            "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
            "block_index": 243,
            "block_time": 1743598094
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": "valid",
                "transfer": false,
                "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
                "tx_index": 120,
                "block_time": 1743598094,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
            "block_index": 243,
            "block_time": 1743598094
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "4eca8c1a8b4275ca917d27ab24d07aac7ce28e9ee34326a5e61d19ee08016e1e",
                "tx_index": 117,
                "block_time": 1743598081,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "4eca8c1a8b4275ca917d27ab24d07aac7ce28e9ee34326a5e61d19ee08016e1e",
            "block_index": 240,
            "block_time": 1743598081
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": "open",
                "tx_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
                "tx_index": 119,
                "block_time": 1743598089,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpuqe6d2lyfapkwmu3fc0fu5ruqr3nz3pnqnfux",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpuqe6d2lyfapkwmu3fc0fu5ruqr3nz3pnqnfux"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
            "block_index": 242,
            "block_time": 1743598089
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "526274b979a23790757b21170e8fc865a5f37883e4c624ecde3194925eceac7e_44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qpuqe6d2lyfapkwmu3fc0fu5ruqr3nz3pnqnfux",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "526274b979a23790757b21170e8fc865a5f37883e4c624ecde3194925eceac7e",
                "tx0_index": 118,
                "tx1_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
                "tx1_index": 119,
                "block_time": 1743598089,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpuqe6d2lyfapkwmu3fc0fu5ruqr3nz3pnqnfux",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpuqe6d2lyfapkwmu3fc0fu5ruqr3nz3pnqnfux"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
            "block_index": 242,
            "block_time": 1743598089
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "44f0aaf443f29029c2730467bd17d59be6d2107879abec2959f45fe8dd5d5563",
            "block_index": 242,
            "block_time": 1743598089
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "2ac7861664a46d268b10f9aa78143728f3a904080367f45694440651202a5f70"
            },
            "tx_hash": "3a813de3e5229f34a2a19049c62d8e7f2b1a7be52101bdbf447d68b7e82dc77d",
            "block_index": 182,
            "block_time": 1743597817
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "8870d7ac6c6df42a5b98b7a692567c48bfb6e2e417b41b64c9240a402b7bcada_80a1aef4799803cb69c19ed30c41e51d98f481cc1b0a12591f5ebb1167019d21",
                "order_match_id": "8870d7ac6c6df42a5b98b7a692567c48bfb6e2e417b41b64c9240a402b7bcada_80a1aef4799803cb69c19ed30c41e51d98f481cc1b0a12591f5ebb1167019d21",
                "status": "expired"
            },
            "tx_hash": "dc1051c5288ff13d049e57361d2493864732c77ca32fc704539fae817dc2caea",
            "block_index": 225,
            "block_time": 1743597994
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "order_match_id": "f780ed440fa97e5d7629f387a3b35dad54d572447e0a9bdb46c561d59261a2a1_2ac7861664a46d268b10f9aa78143728f3a904080367f45694440651202a5f70",
                "source": "bcrt1q4z99aapwmh6343fq4jyd3vh42wqraql5yyhzrp",
                "status": "valid",
                "tx_hash": "3a813de3e5229f34a2a19049c62d8e7f2b1a7be52101bdbf447d68b7e82dc77d",
                "tx_index": 57,
                "block_time": 1743597817,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "3a813de3e5229f34a2a19049c62d8e7f2b1a7be52101bdbf447d68b7e82dc77d",
            "block_index": 182,
            "block_time": 1743597817
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "07fba5e7dd0135949e040f571ca8d04ab6981dfd1b53ca0cd1ca6e07d5fcd478",
                "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "status": "valid",
                "tx_hash": "6f6f41ab23d111feb6326d07ed580de8a4f2856be1f942ba7e6640a57e8ed8ab",
                "tx_index": 63,
                "block_time": 1743597841
            },
            "tx_hash": "6f6f41ab23d111feb6326d07ed580de8a4f2856be1f942ba7e6640a57e8ed8ab",
            "block_index": 188,
            "block_time": 1743597841
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "8870d7ac6c6df42a5b98b7a692567c48bfb6e2e417b41b64c9240a402b7bcada",
                "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "block_time": 1743597939
            },
            "tx_hash": "82d3474bd7872afd628c0b52aca5d73c32085dec82318c4d7373c30a1c523f22",
            "block_index": 211,
            "block_time": 1743597939
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "8870d7ac6c6df42a5b98b7a692567c48bfb6e2e417b41b64c9240a402b7bcada_80a1aef4799803cb69c19ed30c41e51d98f481cc1b0a12591f5ebb1167019d21",
                "tx0_address": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "tx1_address": "bcrt1q6jf8e0mewpcs2leeqy2lzks78u89qza6c560ed",
                "block_time": 1743597994
            },
            "tx_hash": "dc1051c5288ff13d049e57361d2493864732c77ca32fc704539fae817dc2caea",
            "block_index": 225,
            "block_time": 1743597994
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qqjhglgaxdcxjuwa7rmu7t0k4lswnnttcetlz7a",
                "satoshirate": 1,
                "source": "bcrt1qqjhglgaxdcxjuwa7rmu7t0k4lswnnttcetlz7a",
                "status": 0,
                "tx_hash": "7e963a5d5e6433005436200c471c760603c8f166ad334380defbba177b703288",
                "tx_index": 114,
                "block_time": 1743598066,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "7e963a5d5e6433005436200c471c760603c8f166ad334380defbba177b703288",
            "block_index": 236,
            "block_time": 1743598066
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": 0,
                "tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mv1b5tekbchb2WvuYTpV7gRyt2jx4FteiE",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "a1adc62614dbaa3e879ac1503f01596c5579479a7b666f78362eb3bb2b6c67e5",
                "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                "tx_hash": "6d06fa85b6717daecf1b10a54028d120904ffa779934072bdce179ca04135462",
                "tx_index": 31,
                "block_time": 1743597647,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "6d06fa85b6717daecf1b10a54028d120904ffa779934072bdce179ca04135462",
            "block_index": 135,
            "block_time": 1743597647
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "tx_index": 121,
                "block_time": 1743598103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "0629682e3165e13c37c521279aa467a1e3a6da2b93c6bd027fe1f9120f8c3c4b",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1743597624,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "0629682e3165e13c37c521279aa467a1e3a6da2b93c6bd027fe1f9120f8c3c4b",
            "block_index": 129,
            "block_time": 1743597624
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "start_block": 0,
                "status": "open",
                "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
                "tx_index": 120,
                "block_time": 1743598094,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
            "block_index": 243,
            "block_time": 1743598094
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "bbed73089de31a046d92776f971f63127474101675a13908e284b0e571c79a84"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1743598007
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "c5730b56a5d1230675b35f2de6d6e9fe9c242e4ddfecfe0bd2f0fca36ad72545",
                "paid_quantity": 100000000,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": "valid",
                "tx_hash": "b3b012eb8cd26688ce395eead2aee5623205b670da76424f7a5a000720225e84",
                "tx_index": 97,
                "block_time": 1743597978,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "b3b012eb8cd26688ce395eead2aee5623205b670da76424f7a5a000720225e84",
            "block_index": 221,
            "block_time": 1743597978
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "2b9d6f49cc7503a1c806bfc44e1b05330aaaae8b526836d9c7a5e7bd274b65b9:0",
                "destination_address": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "status": "valid",
                "tx_hash": "2b9d6f49cc7503a1c806bfc44e1b05330aaaae8b526836d9c7a5e7bd274b65b9",
                "tx_index": 112,
                "block_time": 1743598059,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2b9d6f49cc7503a1c806bfc44e1b05330aaaae8b526836d9c7a5e7bd274b65b9",
            "block_index": 235,
            "block_time": 1743598059
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "7cca3d51714d736a129e80109fd9805c72f7100f16b0d955716c540d547f9926:0",
                "source_address": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                "status": "valid",
                "tx_hash": "52a800878f655c13392a3b95e8b1719feebfe430bfa86e1a0386627184b88bdf",
                "tx_index": 111,
                "block_time": 1743598055,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "52a800878f655c13392a3b95e8b1719feebfe430bfa86e1a0386627184b88bdf",
            "block_index": 234,
            "block_time": 1743598055
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                "destination_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                "source_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                "status": "valid",
                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                "tx_index": 121,
                "block_time": 1743598103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
            "block_index": 245,
            "block_time": 1743598103
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                "status": "valid",
                "tx_hash": "d39dedb69f21eeb5c9a2888b1be9b2e7a6076a517dbef6336e9f485dc540b9e2",
                "tx_index": 9,
                "block_time": 1743597554,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "d39dedb69f21eeb5c9a2888b1be9b2e7a6076a517dbef6336e9f485dc540b9e2",
            "block_index": 112,
            "block_time": 1743597554
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                    "block_time": 1743598103,
                    "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                    "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                    "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                    "previous_block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b",
                    "block_time": 1743598097,
                    "ledger_hash": "f0fb2218cf8fc5a1a43397207c4473575c4784a76331217e03f82a70eec84781",
                    "txlist_hash": "f9e13712662e955dae423d982e627f8d49b3b076ee7df4344d531ff02b522e6b",
                    "messages_hash": "910b5a0c1aed91fc002c1bb1547971d27d92ca8919024977c34c125653075c98",
                    "previous_block_hash": "4b5ed47ac351ec51c6aaa8a0e3dec4a48c2500770e529e3a9ca588e51f28fcc5",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "4b5ed47ac351ec51c6aaa8a0e3dec4a48c2500770e529e3a9ca588e51f28fcc5",
                    "block_time": 1743598094,
                    "ledger_hash": "d2eac3abcec034c12506d97f597b029d044fd1358343f15dbea4486c0ac6843d",
                    "txlist_hash": "ee9a6187ec42aa58af16693cda05dcf7883b9ba28292e8a3d4c5e954870fcd37",
                    "messages_hash": "d01eae24ac9e855bf684af26709647448c5d2bb240ab31065028ad55207158c9",
                    "previous_block_hash": "4a0a4ac79bd718b921554d11f3f9390eeff557bded4fd8470355d231e53b9ece",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "4a0a4ac79bd718b921554d11f3f9390eeff557bded4fd8470355d231e53b9ece",
                    "block_time": 1743598089,
                    "ledger_hash": "fb6a35997ba004dad3bcb3b115192e6bd6210bef928e2c9863c827fbb7dae99b",
                    "txlist_hash": "41ea0507a140b3ff8c3dac515ffb7ae3b340dfec8199c2a1f3faa715687ae454",
                    "messages_hash": "e728a49423ce54e86f0c848ae87b29b7044d6e9769b6e35e2a59838f2f924949",
                    "previous_block_hash": "6be37b5d0f3cdcba0058a31081bba0a302291d02bed765dc8079e4b6ef46cf02",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "6be37b5d0f3cdcba0058a31081bba0a302291d02bed765dc8079e4b6ef46cf02",
                    "block_time": 1743598085,
                    "ledger_hash": "11c95100454067061e8eca718eb40b0ce871cd5ce83b305ea3a8c0d62c49efcb",
                    "txlist_hash": "4174f9557906ee40c28ca42fa9441c59ddc19c99b26082def6a8a10c954bab9a",
                    "messages_hash": "a3ecb51bed8147c004df7a7fc48f0b55e5056a273e39a03813dd1f1b1b281ae2",
                    "previous_block_hash": "4032c01b2174a0c7d6b2ba2d6b951672a5f40bae7f2aec2c353ffbdb94af451f",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                "block_time": 1743598103,
                "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                "previous_block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                "block_time": 1743598103,
                "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                "previous_block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                "block_time": 1743598103,
                "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                "previous_block_hash": "675086f536d570ff5629a636010399cddc0a7639078c4eb464f0a1ef78c4ac9b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "block_index": 245,
                    "block_hash": "290191619fbfd2d816174df89af987aec670f5d591a94d2988808da8a30d6eaa",
                    "block_time": 1743598103,
                    "source": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "destination": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1 e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                                "destination_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                                "source_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                                "status": "valid",
                                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                                "tx_index": 121,
                                "block_time": 1743598103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                            "block_index": 245,
                            "block_time": 1743598103
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                                "destination_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                                "source_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                                "status": "valid",
                                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                                "tx_index": 121,
                                "block_time": 1743598103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                            "block_index": 245,
                            "block_time": 1743598103
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                                "status": 0,
                                "tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                            "block_index": 245,
                            "block_time": 1743598103
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                                "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                                "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                                "tx_index": 121,
                                "block_time": 1743598103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                            "block_index": 245,
                            "block_time": 1743598103
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "95bf92f80033a4aa97da7e03a243d292d05d480da005ede22795c5e51679e516",
                        "messages_hash": "5f77bf0231ecf446061b703345fd8ac41981a5146031dbbe890c1d7a12f82f03",
                        "transaction_count": 1,
                        "txlist_hash": "5cb26d7463c00f36b8324354012c67485c0c6f292c3926919666aabc9998411e",
                        "block_time": 1743598103
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "tx_index": 121
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                        "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                        "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "tx_index": 121,
                        "block_time": 1743598103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                        "status": 0,
                        "tx_hash": "052e37e948a7a7f63726012c9765ddd2653885969f961622de258b5a862abd50",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743598103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743598103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                        "utxo_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                        "block_time": 1743598103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                        "utxo_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                        "block_time": 1743598103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "tx_index": 121,
                    "utxo": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                    "utxo_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "tx_index": 121,
                    "utxo": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                    "utxo_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "tx_index": 121,
                    "utxo": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                    "utxo_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "tx_index": 121,
                    "utxo": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                    "utxo_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "8870d7ac6c6df42a5b98b7a692567c48bfb6e2e417b41b64c9240a402b7bcada",
                    "block_index": 211,
                    "block_time": 1743597939
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "6f6f41ab23d111feb6326d07ed580de8a4f2856be1f942ba7e6640a57e8ed8ab",
                    "block_index": 188,
                    "source": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                    "offer_hash": "07fba5e7dd0135949e040f571ca8d04ab6981dfd1b53ca0cd1ca6e07d5fcd478",
                    "status": "valid",
                    "block_time": 1743597841
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "4eca8c1a8b4275ca917d27ab24d07aac7ce28e9ee34326a5e61d19ee08016e1e",
                    "block_index": 240,
                    "source": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1743598081,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qwxdszkkmz22yh737m0arzswmar5erw2lay2vcz"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "8cd161d464e0babdf512bc3bc36912b61691490c2bb59e52c7ea69f57d70bdbe",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "issuer": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1743598094,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "block_index": 245,
                    "source": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                    "destination": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "destination_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b",
                    "block_index": 245,
                    "source": "9142cb86a02361fe5f16b366728890568a14e72ed2f03bc0e58605387b3f0f0b:1",
                    "destination": "e1545035fdff18c10bfe76b8845bec085af5265b77488717c246764de589464b:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqqalh3eu7n8nsl2shxwzv8kvlvaf33lx8kwgxp",
                    "destination_address": "bcrt1qpj37vs9du04ydzcsfrkxwz07ycfczmn2zl9c3s",
                    "block_time": 1743598103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2247dkw5umhqyyk9caydphcr4nh8rkn3s68qzg"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
