[//]: # (Generated by genapidoc.py on 2024-09-23 12:11:31.105036. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                "block_index": 193,
                "block_time": 1727093475,
                "difficulty": 545259519,
                "previous_block_hash": "76d9c4e2328b7a0bb5c83d9623d5eaac17568dafeb3f2bb77605779b5986932e"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                "block_index": 193,
                "block_time": 1727093475,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                "tx_index": 59,
                "utxos_info": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "out_index": 0,
                "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
                "tx_index": 33,
                "block_time": 1727093274,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
            "block_index": 146,
            "block_time": 1727093274
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "a00157bdf7ee8a57b4fd9046766c1758a37a192dd6e0437afc243fe78dcb5ffc",
                "messages_hash": "5f3f7a44e6c92073f0955f865ec21fdececfb3d28248cbdaf240d6c36673930e",
                "transaction_count": 1,
                "txlist_hash": "813774f4219158d6e83f4dfe8812a1086aa342ad4c3374eb0ac54365307d9f1a",
                "block_time": 1727093475
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                "tx_index": 59
            },
            "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "asset": "XCP",
                "block_index": 193,
                "event": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727093475,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727093471,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
            "block_index": 192,
            "block_time": 1727093471
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                "status": "valid",
                "tx_hash": "afb4740f7ff7876843cee0711c740dbcdb2c14c4fe494242b55d3106369e12c0",
                "tx_index": 53,
                "block_time": 1727093439,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "afb4740f7ff7876843cee0711c740dbcdb2c14c4fe494242b55d3106369e12c0",
            "block_index": 187,
            "block_time": 1727093439
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "valid",
                "tx_hash": "65cd6a8049f29139bef3d78d44adb652f0a648734aaaf6d1a1ca85b9c7f456e4",
                "tx_index": 54,
                "block_time": 1727093444,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "65cd6a8049f29139bef3d78d44adb652f0a648734aaaf6d1a1ca85b9c7f456e4",
            "block_index": 188,
            "block_time": 1727093444
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                "status": "valid",
                "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                "tx_index": 58,
                "block_time": 1727093471,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
            "block_index": 192,
            "block_time": 1727093471
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "valid",
                "tx_hash": "1bb48b521991d1c96c661144b56f08a01ed87f64f2f21bae02b443411031659e",
                "tx_index": 40,
                "block_time": 1727093314,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "1bb48b521991d1c96c661144b56f08a01ed87f64f2f21bae02b443411031659e",
            "block_index": 153,
            "block_time": 1727093314
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727093340
            },
            "tx_hash": "dce927828a206833190adaaf9af52651327fbab72cef1928e3881812700e0745",
            "block_index": 159,
            "block_time": 1727093340
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "valid",
                "transfer": false,
                "tx_hash": "dce927828a206833190adaaf9af52651327fbab72cef1928e3881812700e0745",
                "tx_index": 46,
                "block_time": 1727093340,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "dce927828a206833190adaaf9af52651327fbab72cef1928e3881812700e0745",
            "block_index": 159,
            "block_time": 1727093340
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                "tx_index": 59,
                "block_time": 1727093475,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
            "block_index": 193,
            "block_time": 1727093475
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "open",
                "tx_hash": "7961682ba31de96a7c5aa16237826f79ba36b3bba02abb2cfd01877e3a7a0043",
                "tx_index": 57,
                "block_time": 1727093467,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7961682ba31de96a7c5aa16237826f79ba36b3bba02abb2cfd01877e3a7a0043",
            "block_index": 191,
            "block_time": 1727093467
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1_12946f6b344c8051191d17cc3c865330c6ebfb4a5ffa243960036b1dbac01956",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1",
                "tx0_index": 49,
                "tx1_address": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "12946f6b344c8051191d17cc3c865330c6ebfb4a5ffa243960036b1dbac01956",
                "tx1_index": 52,
                "block_time": 1727093435,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "12946f6b344c8051191d17cc3c865330c6ebfb4a5ffa243960036b1dbac01956",
            "block_index": 186,
            "block_time": 1727093435
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "c8dcecdfe6c8c366c4584ddb26777f90ac75dfdbe980ace408e47a50f13feb82"
            },
            "tx_hash": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf",
            "block_index": 190,
            "block_time": 1727093462
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047"
            },
            "tx_hash": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b",
            "block_index": 185,
            "block_time": 1727093431
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1_1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
                "order_match_id": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1_1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
                "status": "completed"
            },
            "tx_hash": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b",
            "block_index": 185,
            "block_time": 1727093431
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "order_match_id": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1_1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
                "source": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                "status": "valid",
                "tx_hash": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b",
                "tx_index": 51,
                "block_time": 1727093431,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b",
            "block_index": 185,
            "block_time": 1727093431
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "c8dcecdfe6c8c366c4584ddb26777f90ac75dfdbe980ace408e47a50f13feb82",
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "valid",
                "tx_hash": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf",
                "tx_index": 56,
                "block_time": 1727093462
            },
            "tx_hash": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf",
            "block_index": 190,
            "block_time": 1727093462
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "8d1b72f491fcb8394c3812c1c0decb056c9f98972c7aa15b7ab20ae4fa17d13e",
                "source": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                "block_time": 1727093354
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727093354
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "0549de45c4ec8249f91a97c1282473afb1f3a828fa035727ece411d6efc18f24_8d1b72f491fcb8394c3812c1c0decb056c9f98972c7aa15b7ab20ae4fa17d13e",
                "tx0_address": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "tx1_address": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                "block_time": 1727093354
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727093354
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "origin": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "satoshirate": 1,
                "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "status": 0,
                "tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
                "tx_index": 32,
                "block_time": 1727093270,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
            "block_index": 145,
            "block_time": 1727093270
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "status": 0,
                "tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
            "block_index": 146,
            "block_time": 1727093274
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "n4jPTsoLW457YTSc3XsQ1Y4gHB8Q4kHjcS",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "7445149874ff91aa241f7fbedd7a2445e55fe0fcf308da78876b29a787993d8c",
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "tx_hash": "69e6e449ccddd30e971cac1a51c578ae45dc8a430d8f8998718f7c09f4cfe895",
                "tx_index": 31,
                "block_time": 1727093265,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "69e6e449ccddd30e971cac1a51c578ae45dc8a430d8f8998718f7c09f4cfe895",
            "block_index": 144,
            "block_time": 1727093265
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qq6xjx6vyea0x96mlvc5wv0gqs8aqa538x2qh58",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
                "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
                "tx_index": 33,
                "block_time": 1727093274,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
            "block_index": 146,
            "block_time": 1727093274
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "6d56577fba18853b14a97f2d09cd09fb7df7512d7c43f583a26bd675762e6572",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727093231,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "6d56577fba18853b14a97f2d09cd09fb7df7512d7c43f583a26bd675762e6572",
            "block_index": 138,
            "block_time": 1727093231
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "start_block": 0,
                "status": "open",
                "tx_hash": "8b88cf8c3c7dc220103cf9d2ea72f9e6aa674b9617c7b0e59bfc742e319a2570",
                "tx_index": 22,
                "block_time": 1727093218
            },
            "tx_hash": "8b88cf8c3c7dc220103cf9d2ea72f9e6aa674b9617c7b0e59bfc742e319a2570",
            "block_index": 135,
            "block_time": 1727093218
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "7a9102f321f0d0fa53fc2a72888a63e7fb5ade06068f5a3401438b09db2d6ed7"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727093197
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "8b88cf8c3c7dc220103cf9d2ea72f9e6aa674b9617c7b0e59bfc742e319a2570",
                "paid_quantity": 34,
                "source": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                "status": "valid",
                "tx_hash": "5cadef994ef817048b024cb011579c3e4b9baa49462417190150f05a34a9bcf9",
                "tx_index": 23,
                "block_time": 1727093222,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "5cadef994ef817048b024cb011579c3e4b9baa49462417190150f05a34a9bcf9",
            "block_index": 136,
            "block_time": 1727093222
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "c366f5dc6132022a55cc3fc8f068f21a1dc181cf49add7268aefefe0a091760a:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                "status": "valid",
                "tx_hash": "c366f5dc6132022a55cc3fc8f068f21a1dc181cf49add7268aefefe0a091760a",
                "tx_index": 38,
                "block_time": 1727093305,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c366f5dc6132022a55cc3fc8f068f21a1dc181cf49add7268aefefe0a091760a",
            "block_index": 151,
            "block_time": 1727093305
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qnp9gs7jv296euwdd6e8t4st963wc69hqfjrr3x",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "144554b15a22c114b9c5521d0d24a3c04f73a8b41253e822cc95199c1d067299:0",
                "status": "valid",
                "tx_hash": "c3e06075fdd1fb6f1f7cc6564239be9ec52c5dc566d6dd823aa0af0d61f900dd",
                "tx_index": 37,
                "block_time": 1727093301,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c3e06075fdd1fb6f1f7cc6564239be9ec52c5dc566d6dd823aa0af0d61f900dd",
            "block_index": 150,
            "block_time": 1727093301
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "3429646183991b7bfced8b55dddb86f0504ffe492b1b772e27dde23d1d0ad389:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "5d639f1b9cfaa5336c49782c702d2ce545efb5d09a3a26057c7deb301541e561:0",
                "status": "valid",
                "tx_hash": "3429646183991b7bfced8b55dddb86f0504ffe492b1b772e27dde23d1d0ad389",
                "tx_index": 42,
                "block_time": 1727093323,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "3429646183991b7bfced8b55dddb86f0504ffe492b1b772e27dde23d1d0ad389",
            "block_index": 155,
            "block_time": 1727093323
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qswegegswg6qyw5u90tafnw398gzn5a0d5re8u4",
                "status": "valid",
                "tx_hash": "d460a52fd5533e197907b84dcdc8e7fc885c9e17ede386f2ecc15af162d7113c",
                "tx_index": 9,
                "block_time": 1727093158,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "d460a52fd5533e197907b84dcdc8e7fc885c9e17ede386f2ecc15af162d7113c",
            "block_index": 121,
            "block_time": 1727093158
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                    "block_time": 1727093475,
                    "previous_block_hash": "76d9c4e2328b7a0bb5c83d9623d5eaac17568dafeb3f2bb77605779b5986932e",
                    "difficulty": 545259519,
                    "ledger_hash": "a00157bdf7ee8a57b4fd9046766c1758a37a192dd6e0437afc243fe78dcb5ffc",
                    "txlist_hash": "813774f4219158d6e83f4dfe8812a1086aa342ad4c3374eb0ac54365307d9f1a",
                    "messages_hash": "5f3f7a44e6c92073f0955f865ec21fdececfb3d28248cbdaf240d6c36673930e",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "76d9c4e2328b7a0bb5c83d9623d5eaac17568dafeb3f2bb77605779b5986932e",
                    "block_time": 1727093471,
                    "previous_block_hash": "269fad82fd89d724f3cc62de8d4b398d776c90f5a1740e5a87ff0f56f93e01dd",
                    "difficulty": 545259519,
                    "ledger_hash": "5852d56e0a2f012d49e15dcc8092fe5178fb1531a1bd326ac19c2c67e8785953",
                    "txlist_hash": "5ab6ca165b4d31dbfd0a32b8b80ae8a80544c9d0730426eaf3b993011a35fad0",
                    "messages_hash": "675b22fd17052c818d934beb63c5cc6f13b9f41f8cb99f671b6a6eba0d108804",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "269fad82fd89d724f3cc62de8d4b398d776c90f5a1740e5a87ff0f56f93e01dd",
                    "block_time": 1727093467,
                    "previous_block_hash": "1e78891fe58a2e15a13d98d52c73741c700e2b3b647c004bbd6c3630de502d3e",
                    "difficulty": 545259519,
                    "ledger_hash": "6920554b19671fb917b2fa8b7aac09e3b0b9253020884226bf6847f50ea23f85",
                    "txlist_hash": "c9b0e524fbb98e4c38df0713f6f6665eef5e98cc10dfd1f3065c8418509bc7d4",
                    "messages_hash": "da9623970c1cfb9ca73b6cfdfa30c4deaaabcf060938e09240e4430281109399",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "1e78891fe58a2e15a13d98d52c73741c700e2b3b647c004bbd6c3630de502d3e",
                    "block_time": 1727093462,
                    "previous_block_hash": "08f347c0a8ec608432ef24c00b1b75e5bab12e9a9bff9232e1cfd94c5bd702fb",
                    "difficulty": 545259519,
                    "ledger_hash": "2b276e6aec9a88c841ed7c1f6840420fcbfc1a4517346a6175c5e67dfee23821",
                    "txlist_hash": "0987e29ee5cac999f35d207c44ab61f37af864a55ad58164c9795d93afbf6737",
                    "messages_hash": "5e068890d3800e7de8433544a4ddf7d068e4b7448fd372ae8ee4c5b4d1d0248f",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "08f347c0a8ec608432ef24c00b1b75e5bab12e9a9bff9232e1cfd94c5bd702fb",
                    "block_time": 1727093458,
                    "previous_block_hash": "09999219b91d9f0a2141c7ccbf97cb0bb3518f3b2116061e96668f7d305e7b40",
                    "difficulty": 545259519,
                    "ledger_hash": "913fe15c076fcc652b8fc75af7e2246ef769b71e988d6f6440f7484b1a235a0f",
                    "txlist_hash": "3c0222d5e6f24b1d03ab8469eae9afbf46d70b60d96784d2487414361d94e470",
                    "messages_hash": "a51af0063d7694114190c734fca50c0bc8405727866e72d762f235b141176142",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                "block_time": 1727093475,
                "previous_block_hash": "76d9c4e2328b7a0bb5c83d9623d5eaac17568dafeb3f2bb77605779b5986932e",
                "difficulty": 545259519,
                "ledger_hash": "a00157bdf7ee8a57b4fd9046766c1758a37a192dd6e0437afc243fe78dcb5ffc",
                "txlist_hash": "813774f4219158d6e83f4dfe8812a1086aa342ad4c3374eb0ac54365307d9f1a",
                "messages_hash": "5f3f7a44e6c92073f0955f865ec21fdececfb3d28248cbdaf240d6c36673930e",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                "block_time": 1727093475,
                "previous_block_hash": "76d9c4e2328b7a0bb5c83d9623d5eaac17568dafeb3f2bb77605779b5986932e",
                "difficulty": 545259519,
                "ledger_hash": "a00157bdf7ee8a57b4fd9046766c1758a37a192dd6e0437afc243fe78dcb5ffc",
                "txlist_hash": "813774f4219158d6e83f4dfe8812a1086aa342ad4c3374eb0ac54365307d9f1a",
                "messages_hash": "5f3f7a44e6c92073f0955f865ec21fdececfb3d28248cbdaf240d6c36673930e",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                    "block_index": 193,
                    "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
                    "block_time": 1727093475,
                    "source": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "5852d56e0a2f012d49e15dcc8092fe5178fb1531a1bd326ac19c2c67e8785953",
                        "messages_hash": "675b22fd17052c818d934beb63c5cc6f13b9f41f8cb99f671b6a6eba0d108804",
                        "transaction_count": 1,
                        "txlist_hash": "5ab6ca165b4d31dbfd0a32b8b80ae8a80544c9d0730426eaf3b993011a35fad0",
                        "block_time": 1727093471
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "tx_index": 58
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                        "status": "valid",
                        "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "tx_index": 58,
                        "block_time": 1727093471,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727093471,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727093471,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727093471,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727093471,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727093471,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727093471,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727093471,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727093471,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727093475,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "8d1b72f491fcb8394c3812c1c0decb056c9f98972c7aa15b7ab20ae4fa17d13e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727093354
                },
                {
                    "type": "order",
                    "object_id": "0549de45c4ec8249f91a97c1282473afb1f3a828fa035727ece411d6efc18f24",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727093354
                },
                {
                    "type": "order_match",
                    "object_id": "0549de45c4ec8249f91a97c1282473afb1f3a828fa035727ece411d6efc18f24_8d1b72f491fcb8394c3812c1c0decb056c9f98972c7aa15b7ab20ae4fa17d13e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727093354
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf",
                    "block_index": 190,
                    "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "offer_hash": "c8dcecdfe6c8c366c4584ddb26777f90ac75dfdbe980ace408e47a50f13feb82",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727093462
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
                    "block_index": 193,
                    "source": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727093475,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "dce927828a206833190adaaf9af52651327fbab72cef1928e3881812700e0745",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727093340,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "65cd6a8049f29139bef3d78d44adb652f0a648734aaaf6d1a1ca85b9c7f456e4",
                    "block_index": 188,
                    "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "destination": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727093444,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "65cd6a8049f29139bef3d78d44adb652f0a648734aaaf6d1a1ca85b9c7f456e4",
                    "block_index": 188,
                    "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "destination": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727093444,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "65cd6a8049f29139bef3d78d44adb652f0a648734aaaf6d1a1ca85b9c7f456e4",
                    "block_index": 188,
                    "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                    "destination": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727093444,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
                    "block_index": 146,
                    "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                    "destination": "bcrt1qq6xjx6vyea0x96mlvc5wv0gqs8aqa538x2qh58",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727093274,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "fa56acc32c9424787c91c3244c0686e234dde7e3bd4310ea95841019da9200a3",
                    "block_index": 192,
                    "source": "bcrt1qe9p458ghkpuvy24nkeuntalm4g5wn830037nhd",
                    "destination": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727093471,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "6d56577fba18853b14a97f2d09cd09fb7df7512d7c43f583a26bd675762e6572",
        "block_index": 138,
        "block_hash": "71c121020e5fdfcb2db1fb3adf587388e24b39021132df957d38bb80ffd90794",
        "block_time": 1727093231,
        "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "6d56577fba18853b14a97f2d09cd09fb7df7512d7c43f583a26bd675762e6572:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b",
        "block_index": 185,
        "block_hash": "3379d8745eedf0e59561b011b4fa1b60839abae63aa5e6fe901c8fd353255b44",
        "block_time": 1727093431,
        "source": "bcrt1q9tsv5zrd9q0sg6h6tyn7d80znejqu6nz7vrqsx",
        "destination": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bc5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c11d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
        "supported": true,
        "utxos_info": "4a7e7633801ec1bc3cb009dd7aad4f15900f2153687e6c8ca062b847f433be6b:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1",
                "tx1_hash": "1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
                "order_match_id": "c5c92d179df85047f63a91b8726adc63b323f6fc84c14d96d06cad7ed41f05c1_1d702b9c1627eeb9354abaa448bcf553e5e5e6874602e99c1acbb9e021597047",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf",
        "block_index": 190,
        "block_hash": "1e78891fe58a2e15a13d98d52c73741c700e2b3b647c004bbd6c3630de502d3e",
        "block_time": 1727093462,
        "source": "bcrt1q582v2w3g8x35e0m73mxesy9zzceejt76hcpz7y",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46c8dcecdfe6c8c366c4584ddb26777f90ac75dfdbe980ace408e47a50f13feb82",
        "supported": true,
        "utxos_info": "f81b20fb44fc2d874dff9fe61b71b874f0db8c0e03471f2dcf7d70173129cfbf:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "c8dcecdfe6c8c366c4584ddb26777f90ac75dfdbe980ace408e47a50f13feb82",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f",
        "block_index": 193,
        "block_hash": "6a324c476d8fde46b896439e537f4c75774f1232d6d0e2e5a41ba1e3f582cad9",
        "block_time": 1727093475,
        "source": "bcrt1qfpne5jk5dn8m8yffp98uf6j66yu95p04zzwg2n",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "6d92e40346a070eee7046c9c7a7b500b69122fd18e9e3f715c717b6bf830509f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898",
        "block_index": 145,
        "block_hash": "360186cb45d039b43833b9badc025ae1570b25ddda440dc594daf11dd8cb1b97",
        "block_time": 1727093270,
        "source": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100800dfb8c2149f5da6b8e44bec35ce635b285b4e904",
        "supported": true,
        "utxos_info": "b848a22721d756a16c8d8aba2320d6383ea34adc5e9474ad0f9caa159f4ca898:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480",
        "block_index": 146,
        "block_hash": "3c950b70b188f93aecc6aea2d22fb4be00f926508f97e39a8284fed3d09c77fb",
        "block_time": 1727093274,
        "source": "bcrt1qq6xjx6vyea0x96mlvc5wv0gqs8aqa538x2qh58",
        "destination": "bcrt1qphaccg2f7hdxhrjyhmp4ee34k2zmf6gytjcjrg",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "80232e9de30489531ca622312374458d7daf8f3b5eca9c9001c3027eaaf20480:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "1bb48b521991d1c96c661144b56f08a01ed87f64f2f21bae02b443411031659e",
        "block_index": 153,
        "block_hash": "7375785dd499954b2dc23b93c783bd57d53de2e740cfb38b03d45f53c28be282",
        "block_time": 1727093314,
[...]
