[//]: # (Generated by genapidoc.py on 2024-09-22 10:23:38.464660. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                "block_index": 193,
                "block_time": 1727000592,
                "difficulty": 545259519,
                "previous_block_hash": "37de6e2af21433ed0a841403818af2e8350dae518d3bc1450c4afe15e050f383"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                "block_index": 193,
                "block_time": 1727000592,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                "tx_index": 59,
                "utxos_info": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "out_index": 0,
                "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
                "tx_index": 33,
                "block_time": 1727000400,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
            "block_index": 146,
            "block_time": 1727000400
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "f7682e803959b20d98ad6b8fd94ce96b470326b9ae7659b408977681cf5c5739",
                "messages_hash": "0e45eb2c4fc62a21bbf58003ff4ff00a09e14a7e516d12690f676f5e5480911f",
                "transaction_count": 1,
                "txlist_hash": "27a94cd28c9306f07dc01b2c0df782b044051ea31f560a1a5ae8e17e5e146826",
                "block_time": 1727000592
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                "tx_index": 59
            },
            "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "asset": "XCP",
                "block_index": 193,
                "event": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727000592,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727000588,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
            "block_index": 192,
            "block_time": 1727000588
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                "status": "valid",
                "tx_hash": "b9cab1ab6a9408fb8d75fec91921efdcb5222af48f89ba5cca800951849c6e50",
                "tx_index": 53,
                "block_time": 1727000567,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "b9cab1ab6a9408fb8d75fec91921efdcb5222af48f89ba5cca800951849c6e50",
            "block_index": 187,
            "block_time": 1727000567
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "valid",
                "tx_hash": "2fd2b8dee063661a66991e9430ffd1fb5ffbdf94ada598aec0df55000b9606db",
                "tx_index": 54,
                "block_time": 1727000571,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "2fd2b8dee063661a66991e9430ffd1fb5ffbdf94ada598aec0df55000b9606db",
            "block_index": 188,
            "block_time": 1727000571
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                "status": "valid",
                "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                "tx_index": 58,
                "block_time": 1727000588,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
            "block_index": 192,
            "block_time": 1727000588
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "valid",
                "tx_hash": "6e1bb59e1e84d7bf93d0f504c777f22dc6b88192970b750c5c85013198b55b7b",
                "tx_index": 40,
                "block_time": 1727000430,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "6e1bb59e1e84d7bf93d0f504c777f22dc6b88192970b750c5c85013198b55b7b",
            "block_index": 153,
            "block_time": 1727000430
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727000465
            },
            "tx_hash": "a3962d2bb5d32f29a5eabc5a714cdcc541e9515505c9e00acb812746f2ec1346",
            "block_index": 159,
            "block_time": 1727000465
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "valid",
                "transfer": false,
                "tx_hash": "a3962d2bb5d32f29a5eabc5a714cdcc541e9515505c9e00acb812746f2ec1346",
                "tx_index": 46,
                "block_time": 1727000465,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a3962d2bb5d32f29a5eabc5a714cdcc541e9515505c9e00acb812746f2ec1346",
            "block_index": 159,
            "block_time": 1727000465
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                "tx_index": 59,
                "block_time": 1727000592,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
            "block_index": 193,
            "block_time": 1727000592
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "open",
                "tx_hash": "caf64e355bec3f2713564655cd069cf1e1421bc7d9fe36df20d5d619e4d826d7",
                "tx_index": 57,
                "block_time": 1727000584,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "caf64e355bec3f2713564655cd069cf1e1421bc7d9fe36df20d5d619e4d826d7",
            "block_index": 191,
            "block_time": 1727000584
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74_82d142ce6e272026a4217fadb6d4d15071c47a5aace8f7c91b097fc1d43144ea",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74",
                "tx0_index": 49,
                "tx1_address": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "82d142ce6e272026a4217fadb6d4d15071c47a5aace8f7c91b097fc1d43144ea",
                "tx1_index": 52,
                "block_time": 1727000563,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "82d142ce6e272026a4217fadb6d4d15071c47a5aace8f7c91b097fc1d43144ea",
            "block_index": 186,
            "block_time": 1727000563
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "228897de4caba2088865d83a0412163da0055336d50256731166b998622bec81"
            },
            "tx_hash": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f",
            "block_index": 190,
            "block_time": 1727000580
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7"
            },
            "tx_hash": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0",
            "block_index": 185,
            "block_time": 1727000558
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74_ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
                "order_match_id": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74_ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
                "status": "completed"
            },
            "tx_hash": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0",
            "block_index": 185,
            "block_time": 1727000558
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "order_match_id": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74_ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
                "source": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                "status": "valid",
                "tx_hash": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0",
                "tx_index": 51,
                "block_time": 1727000558,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0",
            "block_index": 185,
            "block_time": 1727000558
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "228897de4caba2088865d83a0412163da0055336d50256731166b998622bec81",
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "valid",
                "tx_hash": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f",
                "tx_index": 56,
                "block_time": 1727000580
            },
            "tx_hash": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f",
            "block_index": 190,
            "block_time": 1727000580
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "142c4031535c999eec027d1d68d333e8246dc252cc6ff6266432c4dc644b723f",
                "source": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                "block_time": 1727000481
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727000481
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "156af48844623792fc9a127d22a45bf1a90d203d428c32b92144122715820237_142c4031535c999eec027d1d68d333e8246dc252cc6ff6266432c4dc644b723f",
                "tx0_address": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "tx1_address": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                "block_time": 1727000481
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727000481
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "origin": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "satoshirate": 1,
                "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "status": 0,
                "tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
                "tx_index": 32,
                "block_time": 1727000396,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
            "block_index": 145,
            "block_time": 1727000396
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "status": 0,
                "tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
            "block_index": 146,
            "block_time": 1727000400
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "n3bwtSMx8SHqqv1MnQA3ciCsFvUSWkfbeo",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d28a6508cf89d6f5c08160cec495c79c116f908f48421ccf5cbdcc55518fad12",
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "tx_hash": "4c6a5cc906f2dbfa0d91de293e9e2831b193f4122ff68273a78c85c46c2b5123",
                "tx_index": 31,
                "block_time": 1727000392,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "4c6a5cc906f2dbfa0d91de293e9e2831b193f4122ff68273a78c85c46c2b5123",
            "block_index": 144,
            "block_time": 1727000392
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qmj57xl2krpsurusxqpt7cdazyt2ltt3c9d7733",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
                "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
                "tx_index": 33,
                "block_time": 1727000400,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
            "block_index": 146,
            "block_time": 1727000400
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "437bc4249a7f1a8386d0bb43c4312d8119f6499b2b02e1e992d1bf70fae41bbf",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727000366,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "437bc4249a7f1a8386d0bb43c4312d8119f6499b2b02e1e992d1bf70fae41bbf",
            "block_index": 138,
            "block_time": 1727000366
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "start_block": 0,
                "status": "open",
                "tx_hash": "cbb10eda58581a795a6da5e688afbf88d1fc1c9bb9e4943240aea2e5014cab1a",
                "tx_index": 22,
                "block_time": 1727000354
            },
            "tx_hash": "cbb10eda58581a795a6da5e688afbf88d1fc1c9bb9e4943240aea2e5014cab1a",
            "block_index": 135,
            "block_time": 1727000354
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "7db72c3a3d73085625f2f30f21a6937c09222727d2b9942e21aec693b24bf08e"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727000322
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "cbb10eda58581a795a6da5e688afbf88d1fc1c9bb9e4943240aea2e5014cab1a",
                "paid_quantity": 34,
                "source": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                "status": "valid",
                "tx_hash": "8a9a1f916ad7518fbbdca58817a4ac2b58533c0a9768c4f1ca05778acb75e7d1",
                "tx_index": 23,
                "block_time": 1727000358,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "8a9a1f916ad7518fbbdca58817a4ac2b58533c0a9768c4f1ca05778acb75e7d1",
            "block_index": 136,
            "block_time": 1727000358
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "ed609511fe8f379abf8e708f34ba68785674bdcf5660a4dcb95dec26814ddd86:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                "status": "valid",
                "tx_hash": "ed609511fe8f379abf8e708f34ba68785674bdcf5660a4dcb95dec26814ddd86",
                "tx_index": 38,
                "block_time": 1727000422,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ed609511fe8f379abf8e708f34ba68785674bdcf5660a4dcb95dec26814ddd86",
            "block_index": 151,
            "block_time": 1727000422
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qgg5sv5tyxlf3mtvuxkzgr75jwkupla27x3p6uv",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "9b353d1cbb0a30108e4f9cc683852d659f4f611c141bab3af77efc10ab93dc4a:0",
                "status": "valid",
                "tx_hash": "804df83cded11a27f2118503527164d631474a075cd88df3e7f0d09a972d3cf6",
                "tx_index": 37,
                "block_time": 1727000417,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "804df83cded11a27f2118503527164d631474a075cd88df3e7f0d09a972d3cf6",
            "block_index": 150,
            "block_time": 1727000417
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "e166c3828b9b8c2449f4d827a024f6d9144c0c217990bbad896bb4b1dcabc0e3:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "d2f206ad620b1c09df2b4c46cc1cb79f7235dd832b265564cc6e267ee5979881:0",
                "status": "valid",
                "tx_hash": "e166c3828b9b8c2449f4d827a024f6d9144c0c217990bbad896bb4b1dcabc0e3",
                "tx_index": 42,
                "block_time": 1727000439,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "e166c3828b9b8c2449f4d827a024f6d9144c0c217990bbad896bb4b1dcabc0e3",
            "block_index": 155,
            "block_time": 1727000439
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qyulh8dt9j6mxay44vsk59ykh3j0sepu4nr8frk",
                "status": "valid",
                "tx_hash": "adfbd46bafe5d0eb02dc42e71c6ebd831574fbcbc27598f3a574cd28a015cc8b",
                "tx_index": 9,
                "block_time": 1727000284,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "adfbd46bafe5d0eb02dc42e71c6ebd831574fbcbc27598f3a574cd28a015cc8b",
            "block_index": 121,
            "block_time": 1727000284
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                    "block_time": 1727000592,
                    "previous_block_hash": "37de6e2af21433ed0a841403818af2e8350dae518d3bc1450c4afe15e050f383",
                    "difficulty": 545259519,
                    "ledger_hash": "f7682e803959b20d98ad6b8fd94ce96b470326b9ae7659b408977681cf5c5739",
                    "txlist_hash": "27a94cd28c9306f07dc01b2c0df782b044051ea31f560a1a5ae8e17e5e146826",
                    "messages_hash": "0e45eb2c4fc62a21bbf58003ff4ff00a09e14a7e516d12690f676f5e5480911f",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "37de6e2af21433ed0a841403818af2e8350dae518d3bc1450c4afe15e050f383",
                    "block_time": 1727000588,
                    "previous_block_hash": "60dcab5a8230b27dbbe36840e8d3f072b85a69b041a8314844298f4007ea905a",
                    "difficulty": 545259519,
                    "ledger_hash": "15632ba5d9e0895c4d08741144412482f4139debf47f441ab56fb1e57ed8138f",
                    "txlist_hash": "368c248e7398223aa41a3340c90cdf4dbb04242b72ff24d17c2f0ca3dc12f278",
                    "messages_hash": "32203dd37a810d45ca8e0e7b7e881a80c4fc0936de0773934100b9e004dec5db",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "60dcab5a8230b27dbbe36840e8d3f072b85a69b041a8314844298f4007ea905a",
                    "block_time": 1727000584,
                    "previous_block_hash": "52ce8354391192adc1549d6a4e70e552a9bf49e64fbe115795e8c12b930962da",
                    "difficulty": 545259519,
                    "ledger_hash": "d18e2ab61c10e86d0af7732ffdd5820eb389929a4e407abb1c365a617f8d6b0b",
                    "txlist_hash": "561be60c6188aaf9b9739b32dd8412cc70dc3617c76e8d632b362b43dee08430",
                    "messages_hash": "2e4972f8597cc95a484278f9dfa38024b000032151b59686982a1fb01db3ba93",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "52ce8354391192adc1549d6a4e70e552a9bf49e64fbe115795e8c12b930962da",
                    "block_time": 1727000580,
                    "previous_block_hash": "54d2df0dc01af39d0d576efb398561deadcc34ad173c7198659cdf1d74b2a381",
                    "difficulty": 545259519,
                    "ledger_hash": "2706a8e0018214c252b27e5fca2d560ee6600592b07c64cbea3f2cce4257a7b5",
                    "txlist_hash": "d69dfbce2e19c5f8c5d37a160dc91344356c819ce0769d700284e5eeeecf451c",
                    "messages_hash": "57cfc46c395bb777cdbec3f62168108639ab667937ee3c36d8b89b914e9e0c73",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "54d2df0dc01af39d0d576efb398561deadcc34ad173c7198659cdf1d74b2a381",
                    "block_time": 1727000575,
                    "previous_block_hash": "3af24eb207ec7c93df870ce901057933a0a9e906e1569a624ebe4cd15e5e7a5e",
                    "difficulty": 545259519,
                    "ledger_hash": "6de3e17e9fa33f63205fb4aaf5fa1490d686da1a69893e7108947f04a2d24e6d",
                    "txlist_hash": "a7ce6c6d7eb0535f61853f5a8a642cbaad7c2abfe166ebcc7428169db11547d1",
                    "messages_hash": "0c694347e9858f45693f03f2e6479294d56ed4a23edb110d3c5c82065de30190",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                "block_time": 1727000592,
                "previous_block_hash": "37de6e2af21433ed0a841403818af2e8350dae518d3bc1450c4afe15e050f383",
                "difficulty": 545259519,
                "ledger_hash": "f7682e803959b20d98ad6b8fd94ce96b470326b9ae7659b408977681cf5c5739",
                "txlist_hash": "27a94cd28c9306f07dc01b2c0df782b044051ea31f560a1a5ae8e17e5e146826",
                "messages_hash": "0e45eb2c4fc62a21bbf58003ff4ff00a09e14a7e516d12690f676f5e5480911f",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                "block_time": 1727000592,
                "previous_block_hash": "37de6e2af21433ed0a841403818af2e8350dae518d3bc1450c4afe15e050f383",
                "difficulty": 545259519,
                "ledger_hash": "f7682e803959b20d98ad6b8fd94ce96b470326b9ae7659b408977681cf5c5739",
                "txlist_hash": "27a94cd28c9306f07dc01b2c0df782b044051ea31f560a1a5ae8e17e5e146826",
                "messages_hash": "0e45eb2c4fc62a21bbf58003ff4ff00a09e14a7e516d12690f676f5e5480911f",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                    "block_index": 193,
                    "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
                    "block_time": 1727000592,
                    "source": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "15632ba5d9e0895c4d08741144412482f4139debf47f441ab56fb1e57ed8138f",
                        "messages_hash": "32203dd37a810d45ca8e0e7b7e881a80c4fc0936de0773934100b9e004dec5db",
                        "transaction_count": 1,
                        "txlist_hash": "368c248e7398223aa41a3340c90cdf4dbb04242b72ff24d17c2f0ca3dc12f278",
                        "block_time": 1727000588
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "tx_index": 58
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                        "status": "valid",
                        "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "tx_index": 58,
                        "block_time": 1727000588,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727000588,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727000588,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727000588,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727000588,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727000588,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727000588,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727000588,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727000588,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727000592,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "142c4031535c999eec027d1d68d333e8246dc252cc6ff6266432c4dc644b723f",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727000481
                },
                {
                    "type": "order",
                    "object_id": "156af48844623792fc9a127d22a45bf1a90d203d428c32b92144122715820237",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727000481
                },
                {
                    "type": "order_match",
                    "object_id": "156af48844623792fc9a127d22a45bf1a90d203d428c32b92144122715820237_142c4031535c999eec027d1d68d333e8246dc252cc6ff6266432c4dc644b723f",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727000481
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f",
                    "block_index": 190,
                    "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "offer_hash": "228897de4caba2088865d83a0412163da0055336d50256731166b998622bec81",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727000580
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
                    "block_index": 193,
                    "source": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727000592,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "a3962d2bb5d32f29a5eabc5a714cdcc541e9515505c9e00acb812746f2ec1346",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727000465,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "2fd2b8dee063661a66991e9430ffd1fb5ffbdf94ada598aec0df55000b9606db",
                    "block_index": 188,
                    "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "destination": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727000571,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "2fd2b8dee063661a66991e9430ffd1fb5ffbdf94ada598aec0df55000b9606db",
                    "block_index": 188,
                    "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "destination": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727000571,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "2fd2b8dee063661a66991e9430ffd1fb5ffbdf94ada598aec0df55000b9606db",
                    "block_index": 188,
                    "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                    "destination": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727000571,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
                    "block_index": 146,
                    "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                    "destination": "bcrt1qmj57xl2krpsurusxqpt7cdazyt2ltt3c9d7733",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727000400,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "9d1fa3fc29471c3e1b2e2517d0caac483bdc196307ec5f1e23537da0c77c5fea",
                    "block_index": 192,
                    "source": "bcrt1q9lj5qanerfhz4sfcauq2hvj0sxzlzfdtfwv7ss",
                    "destination": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727000588,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "437bc4249a7f1a8386d0bb43c4312d8119f6499b2b02e1e992d1bf70fae41bbf",
        "block_index": 138,
        "block_hash": "338cfe79e186d045e36821698a45768046de4a7d361843425a0940472ecc6826",
        "block_time": 1727000366,
        "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "437bc4249a7f1a8386d0bb43c4312d8119f6499b2b02e1e992d1bf70fae41bbf:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0",
        "block_index": 185,
        "block_hash": "6a70586a2d19f9575864a5b42d32a9e9d19c76574dc8d6dfbc76172ca89682c2",
        "block_time": 1727000558,
        "source": "bcrt1q7mjqypk7uhwn8s4zsp8ywysxwle86zxjay7mjt",
        "destination": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
        "supported": true,
        "utxos_info": "c542ab48cb68abe63d55b6688a9660dbfe339acfe3d968213bc398c48284cee0:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74",
                "tx1_hash": "ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
                "order_match_id": "14df8869eed88f4920484618b4495d045e93d8b2b020afbefdbdbc91c78fac74_ee9c15132ffcddbe3705915f56a9fb4b470c93dd3ff663a6271a5ac1cba548d7",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f",
        "block_index": 190,
        "block_hash": "52ce8354391192adc1549d6a4e70e552a9bf49e64fbe115795e8c12b930962da",
        "block_time": 1727000580,
        "source": "bcrt1q26qjpcljt0na45r3dufje0xqam86erw7slp5tr",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46228897de4caba2088865d83a0412163da0055336d50256731166b998622bec81",
        "supported": true,
        "utxos_info": "2361c1edadb675c56a78388e2ed0520a9833b2bcfad938956b902acf390f3a0f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "228897de4caba2088865d83a0412163da0055336d50256731166b998622bec81",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f",
        "block_index": 193,
        "block_hash": "3890761db9969731220bdfe2ad3772d3f2e105c339cf22cd8bdfff0576e2e64d",
        "block_time": 1727000592,
        "source": "bcrt1qa45plex6774jacdr8wrntzzzjvqat0agj9q477",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "2a35d056727b4ea5a652a7fea3031fab0dfa865446d91129e580701beade599f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3",
        "block_index": 145,
        "block_hash": "13fab7fba22dce8e177cd86ff15069c0e503e342b0b501983100830878cc651f",
        "block_time": 1727000396,
        "source": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080baac6eaeb065905681d2acec45f4755b0dcda31b",
        "supported": true,
        "utxos_info": "b2d2bd1741c3c032b2cfb1fb3ed76688995e7a5aaa4840ba13f1d5b2dcb78db3:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680",
        "block_index": 146,
        "block_hash": "10cc7c42de9461c9b74a9f215a94b6dd5b5791a145b649905cca55c036839c10",
        "block_time": 1727000400,
        "source": "bcrt1qmj57xl2krpsurusxqpt7cdazyt2ltt3c9d7733",
        "destination": "bcrt1qh2kxat4svkg9dqwj4nkytar4tvxumgcmrvxg4d",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "47c8fbc7188ee996ddf4cd964fee9b2b85b06617ece6cdb77d6997a3e4e6e680:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "6e1bb59e1e84d7bf93d0f504c777f22dc6b88192970b750c5c85013198b55b7b",
        "block_index": 153,
        "block_hash": "19d21be55eb8771d0c4746adcf2ad32e3b71c4ed19bae4b81a57bb72e89ea449",
        "block_time": 1727000430,
[...]
