[//]: # (Generated by genapidoc.py on 2025-01-30 19:21:04.805788. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                "block_index": 245,
                "block_time": 1738264847,
                "difficulty": 545259519,
                "previous_block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                "block_index": 245,
                "block_time": 1738264847,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "fee": 0,
                "source": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "transaction_type": "dispense",
                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "tx_index": 121,
                "utxos_info": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1 95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "out_index": 0,
                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "tx_index": 121,
                "block_time": 1738264847,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                "transaction_count": 1,
                "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                "block_time": 1738264847
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "tx_index": 121
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                "utxo_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "block_time": 1738264847,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738264847,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qdj7app85ccj90wamy0fwsc7gax7s2ttnu3503j",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "status": "valid",
                "tx_hash": "406012955fbba51a2ed6eb85ffd03ef240e6a10162e6e0fa9a6d11a69e1da03e",
                "tx_index": 77,
                "block_time": 1738264674,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "406012955fbba51a2ed6eb85ffd03ef240e6a10162e6e0fa9a6d11a69e1da03e",
            "block_index": 201,
            "block_time": 1738264674
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1qdj7app85ccj90wamy0fwsc7gax7s2ttnu3503j",
                "status": "valid",
                "tx_hash": "f227659f143e95358b72a45794ca90ebbe54f204ea6e2ed60b0953e97bb5889b",
                "tx_index": 81,
                "block_time": 1738264688,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "f227659f143e95358b72a45794ca90ebbe54f204ea6e2ed60b0953e97bb5889b",
            "block_index": 205,
            "block_time": 1738264688
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qhqc6eu7q2jsy7w8xw7z5tsd2khy4x9mrntqsyn",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qgyea74na2xe42qc7qdau6l09awek2clk9r6ntw",
                "status": "valid",
                "tx_hash": "b2c904445d5d50ed2bad0e6b2541df98bac9a1e09a93edf5042860d5b4aefe54",
                "tx_index": 65,
                "block_time": 1738264628,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "b2c904445d5d50ed2bad0e6b2541df98bac9a1e09a93edf5042860d5b4aefe54",
            "block_index": 190,
            "block_time": 1738264628
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "status": "valid",
                "tx_hash": "fb7674b6294999ca220f5925a1ad5cdce34082cb5918b970f861feda4c0247af",
                "tx_index": 42,
                "block_time": 1738264478,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "fb7674b6294999ca220f5925a1ad5cdce34082cb5918b970f861feda4c0247af",
            "block_index": 146,
            "block_time": 1738264478
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "status": "valid",
                "transfer": false,
                "tx_hash": "864aa954a484bed693249f8132ab0d13035dea6f07ab0f4b27c531ee04c19dcd",
                "tx_index": 117,
                "block_time": 1738264827,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "864aa954a484bed693249f8132ab0d13035dea6f07ab0f4b27c531ee04c19dcd",
            "block_index": 240,
            "block_time": 1738264827
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738264838
            },
            "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
            "block_index": 243,
            "block_time": 1738264838
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "status": "valid",
                "transfer": false,
                "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
                "tx_index": 120,
                "block_time": 1738264838,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
            "block_index": 243,
            "block_time": 1738264838
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "864aa954a484bed693249f8132ab0d13035dea6f07ab0f4b27c531ee04c19dcd",
                "tx_index": 117,
                "block_time": 1738264827,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "864aa954a484bed693249f8132ab0d13035dea6f07ab0f4b27c531ee04c19dcd",
            "block_index": 240,
            "block_time": 1738264827
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "status": "open",
                "tx_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
                "tx_index": 119,
                "block_time": 1738264835,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqcfyfpwr36cgzsvw77ujsg4kv7hmsx9rf9pnfg",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
            "block_index": 242,
            "block_time": 1738264835
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "882bbf1c6724139e63432fa4d43678ab55e140300fa861fc64b8dd90c6e73518_de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qqcfyfpwr36cgzsvw77ujsg4kv7hmsx9rf9pnfg",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "882bbf1c6724139e63432fa4d43678ab55e140300fa861fc64b8dd90c6e73518",
                "tx0_index": 118,
                "tx1_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
                "tx1_index": 119,
                "block_time": 1738264835,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqcfyfpwr36cgzsvw77ujsg4kv7hmsx9rf9pnfg",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
            "block_index": 242,
            "block_time": 1738264835
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "de2c13be2a2f54306925938efd461b8a1ea0c96d808c2a9a7087a2ad58c51bee",
            "block_index": 242,
            "block_time": 1738264835
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "2bae30880ee1b734e4b322ecf4cc0f8fbafa65c330cd873efd6430ffcf61a065"
            },
            "tx_hash": "031f786c35887097df7ca65b252ca6dd731604b4fd477591ab9be95267ccb9bc",
            "block_index": 182,
            "block_time": 1738264598
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "cf1cb79070f0206090b62edd88a026bbcdfa84a25f5b40933a44dbaf2c28c1f5_349e6df6719f3f876bde45f8260fe1f055e8448b4eae57adc70a896df6dbbb21",
                "order_match_id": "cf1cb79070f0206090b62edd88a026bbcdfa84a25f5b40933a44dbaf2c28c1f5_349e6df6719f3f876bde45f8260fe1f055e8448b4eae57adc70a896df6dbbb21",
                "status": "expired"
            },
            "tx_hash": "e2f54f88b53c9903b2aaf68768f341110b08275516e3e9a1744205b35eeda044",
            "block_index": 225,
            "block_time": 1738264759
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "order_match_id": "7fab88bfc401f708af17520fd121f96eaa8d8ca0cecc68dec47be3bc710889c3_2bae30880ee1b734e4b322ecf4cc0f8fbafa65c330cd873efd6430ffcf61a065",
                "source": "bcrt1qdj7app85ccj90wamy0fwsc7gax7s2ttnu3503j",
                "status": "valid",
                "tx_hash": "031f786c35887097df7ca65b252ca6dd731604b4fd477591ab9be95267ccb9bc",
                "tx_index": 57,
                "block_time": 1738264598,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "031f786c35887097df7ca65b252ca6dd731604b4fd477591ab9be95267ccb9bc",
            "block_index": 182,
            "block_time": 1738264598
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "22ad1af6da8abf609ba0e8db5a6cb7a64ec8c7f1b13820d9b9ad4dd967eb2f4f",
                "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "status": "valid",
                "tx_hash": "e6f2884f028cd809ea9d6a12b1b7526532ec987b0c2acdd6bf0e550d5da0d872",
                "tx_index": 63,
                "block_time": 1738264621
            },
            "tx_hash": "e6f2884f028cd809ea9d6a12b1b7526532ec987b0c2acdd6bf0e550d5da0d872",
            "block_index": 188,
            "block_time": 1738264621
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "cf1cb79070f0206090b62edd88a026bbcdfa84a25f5b40933a44dbaf2c28c1f5",
                "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "block_time": 1738264711
            },
            "tx_hash": "8c997360d229fa4d19926185c8ee11e5665cc2d98b314f58086c505208602a2b",
            "block_index": 211,
            "block_time": 1738264711
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "cf1cb79070f0206090b62edd88a026bbcdfa84a25f5b40933a44dbaf2c28c1f5_349e6df6719f3f876bde45f8260fe1f055e8448b4eae57adc70a896df6dbbb21",
                "tx0_address": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "tx1_address": "bcrt1qgyea74na2xe42qc7qdau6l09awek2clk9r6ntw",
                "block_time": 1738264759
            },
            "tx_hash": "e2f54f88b53c9903b2aaf68768f341110b08275516e3e9a1744205b35eeda044",
            "block_index": 225,
            "block_time": 1738264759
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qqef6mwn5hn6y06l98rq399kyr3586jx6pg463e",
                "satoshirate": 1,
                "source": "bcrt1qqef6mwn5hn6y06l98rq399kyr3586jx6pg463e",
                "status": 0,
                "tx_hash": "03e72beec697360073347228b549bb160c16270600b4f8d13f3f9509cdd3d150",
                "tx_index": 114,
                "block_time": 1738264814,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "03e72beec697360073347228b549bb160c16270600b4f8d13f3f9509cdd3d150",
            "block_index": 236,
            "block_time": 1738264814
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "status": 0,
                "tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mh8vWzSyrELkAn9ouBqLNyjrf5rWyziNmu",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "ea384032da6cd1c0b75e7afc02171d6442831a6103a9eba52937c376795cc09c",
                "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                "tx_hash": "f17c70d6c0f106cb35f30f3e37b335c083aea19c9a4586871f9cdc329cbfc220",
                "tx_index": 31,
                "block_time": 1738264433,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "f17c70d6c0f106cb35f30f3e37b335c083aea19c9a4586871f9cdc329cbfc220",
            "block_index": 135,
            "block_time": 1738264433
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "tx_index": 121,
                "block_time": 1738264847,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "6d22a626d66e61ea3b740f457ef4f5d7096c22001a463c475d169f0ff91d3268",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738264411,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "6d22a626d66e61ea3b740f457ef4f5d7096c22001a463c475d169f0ff91d3268",
            "block_index": 129,
            "block_time": 1738264411
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "start_block": 0,
                "status": "open",
                "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
                "tx_index": 120,
                "block_time": 1738264838,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
            "block_index": 243,
            "block_time": 1738264838
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "34ac9098bc6f1378b93e7c74695705933dc688d730eacded45a6d37ce64227e2"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738264770
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "72ec63aa7e0aabde7e73abef6fb9b3372eb6b3fc7e3661d53a0b8976bd69e3e5",
                "paid_quantity": 100000000,
                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "status": "valid",
                "tx_hash": "1c02352750f63eebe35c28895a45d0661f30338494fe2a830b31511eaaaa71e8",
                "tx_index": 97,
                "block_time": 1738264745,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "1c02352750f63eebe35c28895a45d0661f30338494fe2a830b31511eaaaa71e8",
            "block_index": 221,
            "block_time": 1738264745
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "e086246ea35cab7961191d0705bd3b8e22e51232244f0a2b82fd0ba02ac8e428:0",
                "destination_address": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "status": "valid",
                "tx_hash": "e086246ea35cab7961191d0705bd3b8e22e51232244f0a2b82fd0ba02ac8e428",
                "tx_index": 112,
                "block_time": 1738264808,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e086246ea35cab7961191d0705bd3b8e22e51232244f0a2b82fd0ba02ac8e428",
            "block_index": 235,
            "block_time": 1738264808
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "3bdd041ba16b0d47edadc66f5b103362a676c8ae333bb008d2e83cf888c4e7ab:0",
                "source_address": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                "status": "valid",
                "tx_hash": "efe99e3f5d3916162b1c6e529814e348ac5ecf708bf28b30e24cae88e07bf998",
                "tx_index": 111,
                "block_time": 1738264804,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "efe99e3f5d3916162b1c6e529814e348ac5ecf708bf28b30e24cae88e07bf998",
            "block_index": 234,
            "block_time": 1738264804
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                "destination_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                "source_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "status": "valid",
                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                "tx_index": 121,
                "block_time": 1738264847,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
            "block_index": 245,
            "block_time": 1738264847
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                "status": "valid",
                "tx_hash": "b6fd3f1f7c36bf38aba6ffc37abf63a57b61337858fd31f91e10f251ff05eeec",
                "tx_index": 9,
                "block_time": 1738264347,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "b6fd3f1f7c36bf38aba6ffc37abf63a57b61337858fd31f91e10f251ff05eeec",
            "block_index": 112,
            "block_time": 1738264347
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                    "block_time": 1738264847,
                    "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                    "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                    "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                    "previous_block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d",
                    "block_time": 1738264841,
                    "ledger_hash": "5f8916295f9a5f11222b1498a3777487a9b6f42dcfbf317816b71ec5be7ddb4e",
                    "txlist_hash": "501c954676eba8791ae98336ebff375c8123f377dc91cb8f8fc4c3a7db4e4126",
                    "messages_hash": "73c50d3358b8ec3c96721eb78cf574b2ef60ca307122c9d6f1a56dbf3d28fa75",
                    "previous_block_hash": "440a584898253ddc05bca12a47b752c29dce0b6ca9d8021c190bf737411fbb1d",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "440a584898253ddc05bca12a47b752c29dce0b6ca9d8021c190bf737411fbb1d",
                    "block_time": 1738264838,
                    "ledger_hash": "4aa2618f6ac2271402a69cdd67d2a847b2cf6139c43fbc319814734d685051a9",
                    "txlist_hash": "0ee7a653f6ef8d6e9e27280a8329de587a449f45c2ac2ac90b00a50b8e2ec222",
                    "messages_hash": "d8e41f97d9cdbe744bd443ffa41f28de017ea691c7fe5841701e58662a2ce638",
                    "previous_block_hash": "7bc1fa1f7f005aa3f829a9089ece9b438b6e5e7e29a092838e2f4600b48af38a",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "7bc1fa1f7f005aa3f829a9089ece9b438b6e5e7e29a092838e2f4600b48af38a",
                    "block_time": 1738264835,
                    "ledger_hash": "f7f688e79ca45ee6d392bc055d483e139d141409c00695a92435b7d70eb1a38b",
                    "txlist_hash": "5c06cfe2d94842c7b558bac1ced48673c3ac2aed64518218a63327cbb0727b0e",
                    "messages_hash": "d6f69cabc9275ab34429ea16b89f0ec60bae431219e660219ef2dbdefab17d87",
                    "previous_block_hash": "3fb73f4495e324eb4f83bbd3f8bd9bc8b4dd1eb0849c9beb46968f2c63ca29dc",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "3fb73f4495e324eb4f83bbd3f8bd9bc8b4dd1eb0849c9beb46968f2c63ca29dc",
                    "block_time": 1738264831,
                    "ledger_hash": "d01e3d823f68258093fa052306d8e88eab87a66ac1fc02a257f0eb55af901a9f",
                    "txlist_hash": "e99510e3266590be8a3d2743cdf40c7e3e9438413e78f331942e27f47fb24049",
                    "messages_hash": "8f974d09993ad01b5f8e04a6a1b3f2fb3f774382e84371efc891c1f331d4529a",
                    "previous_block_hash": "3e63f1375b0b283c18ab662def15def69ca69ccf3358dae595421b80a51795fd",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                "block_time": 1738264847,
                "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                "previous_block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                "block_time": 1738264847,
                "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                "previous_block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                "block_time": 1738264847,
                "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                "previous_block_hash": "0ada327812f674b6d0ac46c55255ce86b2bc129d9ecc997bf4c4069f1115516d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "block_index": 245,
                    "block_hash": "18a8218e83d8d10323c217b537f280df3b52fb762e82498b9ffe0f76882db8a9",
                    "block_time": 1738264847,
                    "source": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "destination": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1 95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                                "destination_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                                "source_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                                "status": "valid",
                                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                                "tx_index": 121,
                                "block_time": 1738264847,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                            "block_index": 245,
                            "block_time": 1738264847
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                                "destination_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                                "source_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                                "status": "valid",
                                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                                "tx_index": 121,
                                "block_time": 1738264847,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                            "block_index": 245,
                            "block_time": 1738264847
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                                "status": 0,
                                "tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                            "block_index": 245,
                            "block_time": 1738264847
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                                "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                                "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                                "tx_index": 121,
                                "block_time": 1738264847,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                            "block_index": 245,
                            "block_time": 1738264847
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "35f026adae258fce9bfcefa05cf21bba33971ec38b9107cab61255e6791350cb",
                        "messages_hash": "90452b14b7cbfa62586e96e71006a95f99a24da1db96284bb662496ab4e2933e",
                        "transaction_count": 1,
                        "txlist_hash": "b58782dd15db37ec1a8dee9e2d2491d805291f48b6fd1d699415fc9f392b99a3",
                        "block_time": 1738264847
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "tx_index": 121
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                        "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "tx_index": 121,
                        "block_time": 1738264847,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "status": 0,
                        "tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738264847,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738264847,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                        "utxo_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "block_time": 1738264847,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                        "utxo_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "block_time": 1738264847,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "tx_index": 121,
                    "utxo": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                    "utxo_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "tx_index": 121,
                    "utxo": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                    "utxo_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "tx_index": 121,
                    "utxo": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                    "utxo_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "tx_index": 121,
                    "utxo": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                    "utxo_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "cf1cb79070f0206090b62edd88a026bbcdfa84a25f5b40933a44dbaf2c28c1f5",
                    "block_index": 211,
                    "block_time": 1738264711
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "e6f2884f028cd809ea9d6a12b1b7526532ec987b0c2acdd6bf0e550d5da0d872",
                    "block_index": 188,
                    "source": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                    "offer_hash": "22ad1af6da8abf609ba0e8db5a6cb7a64ec8c7f1b13820d9b9ad4dd967eb2f4f",
                    "status": "valid",
                    "block_time": 1738264621
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "864aa954a484bed693249f8132ab0d13035dea6f07ab0f4b27c531ee04c19dcd",
                    "block_index": 240,
                    "source": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738264827,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qutjc9aw6hrg8eqyhr46nfkyv5ewlxyxwa7lr0w",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "816f2d902af0ca47cccb076b470950a25511605dc07388bc93fa5a1f743f990c",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "issuer": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738264838,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "block_index": 245,
                    "source": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                    "destination": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "destination_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "block_index": 245,
                    "source": "e875d7195a959e6ee7923c5d751e056684b36645a15c8aaffb683bf7da4e1930:1",
                    "destination": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "destination_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9837c84whtplaqjmpjrt8udvccstxmz7ka98r5",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "95b13f83b2e9579b8c16b99b80694cbbe75ac2068c9837658528fa2765b139cb",
                    "block_index": 245,
                    "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                    "destination": "bcrt1qt4j8pc83pn7n325kttkpy5789w6ta939e8hz50",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "fc419e01b564e6b993c4ff57aca77c6019857d0c63b7a6480d797ad89793e60c",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qpgalv8mts0s766mt5y4jpakejhuqx34ng46yfd",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738264847,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
