[//]: # (Generated by genapidoc.py on 2025-05-09 09:03:03.781882. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                "block_index": 245,
                "block_time": 1746781365,
                "difficulty": 545259519,
                "previous_block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                "block_index": 245,
                "block_time": 1746781365,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "fee": 0,
                "source": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                "transaction_type": "dispense",
                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "tx_index": 121,
                "utxos_info": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1 7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "out_index": 0,
                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "tx_index": 121,
                "block_time": 1746781365,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                "transaction_count": 1,
                "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                "block_time": 1746781365
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "tx_index": 121
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                "utxo_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                "block_time": 1746781365,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1746781365,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qdasxt952lqttclctxkthehet5nruqeq2u8x6fw",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "status": "valid",
                "tx_hash": "754ac129b348850b5343321078ec6540e8e33834a70ad208095651a0cb77bf72",
                "tx_index": 77,
                "block_time": 1746781154,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "754ac129b348850b5343321078ec6540e8e33834a70ad208095651a0cb77bf72",
            "block_index": 201,
            "block_time": 1746781154
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1qdasxt952lqttclctxkthehet5nruqeq2u8x6fw",
                "status": "valid",
                "tx_hash": "d6a8405a1bdcb290a5c7c3692087239b8590a0f29233fcabfb2477216b8cc4aa",
                "tx_index": 81,
                "block_time": 1746781170,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "d6a8405a1bdcb290a5c7c3692087239b8590a0f29233fcabfb2477216b8cc4aa",
            "block_index": 205,
            "block_time": 1746781170
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qf5gwyjlphgx4zaxpmnacwrt26fj9avrxe09n9s",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qea0get6vgp87vkm3ngvmdcnsjyy0yyh8tn88l0",
                "status": "valid",
                "tx_hash": "64647029c91c5bd125ffd54e2b3d7b0cc9b64d1dcfeea58e1876f0cd54d4eb21",
                "tx_index": 65,
                "block_time": 1746781103,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "64647029c91c5bd125ffd54e2b3d7b0cc9b64d1dcfeea58e1876f0cd54d4eb21",
            "block_index": 190,
            "block_time": 1746781103
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "status": "valid",
                "tx_hash": "227df8cec1a1eb5b76266cd12942c24a50eb035683b00a20e87d0705262c0fce",
                "tx_index": 42,
                "block_time": 1746780946,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "227df8cec1a1eb5b76266cd12942c24a50eb035683b00a20e87d0705262c0fce",
            "block_index": 146,
            "block_time": 1746780946
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "status": "valid",
                "transfer": false,
                "tx_hash": "8edf605a405132f29aff70f569cb8e937fb5d7a4cb85da1177a9c9f9d005761e",
                "tx_index": 117,
                "block_time": 1746781338,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8edf605a405132f29aff70f569cb8e937fb5d7a4cb85da1177a9c9f9d005761e",
            "block_index": 240,
            "block_time": 1746781338
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1746781350
            },
            "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
            "block_index": 243,
            "block_time": 1746781350
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "status": "valid",
                "transfer": false,
                "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
                "tx_index": 120,
                "block_time": 1746781350,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
            "block_index": 243,
            "block_time": 1746781350
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "8edf605a405132f29aff70f569cb8e937fb5d7a4cb85da1177a9c9f9d005761e",
                "tx_index": 117,
                "block_time": 1746781338,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "8edf605a405132f29aff70f569cb8e937fb5d7a4cb85da1177a9c9f9d005761e",
            "block_index": 240,
            "block_time": 1746781338
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "status": "open",
                "tx_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
                "tx_index": 119,
                "block_time": 1746781346,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qml28ztwt246fq9yk6cjp7rrg2p425aschj8dmp",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qml28ztwt246fq9yk6cjp7rrg2p425aschj8dmp"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
            "block_index": 242,
            "block_time": 1746781346
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "a25214e8f208d5a5f7b9e4b57343255d19affea28190f549bb4cb6debdd11b4f_9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qml28ztwt246fq9yk6cjp7rrg2p425aschj8dmp",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "a25214e8f208d5a5f7b9e4b57343255d19affea28190f549bb4cb6debdd11b4f",
                "tx0_index": 118,
                "tx1_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
                "tx1_index": 119,
                "block_time": 1746781346,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qml28ztwt246fq9yk6cjp7rrg2p425aschj8dmp",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qml28ztwt246fq9yk6cjp7rrg2p425aschj8dmp"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
            "block_index": 242,
            "block_time": 1746781346
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9ae1497e8b5e86a2284adbf6d392d72a710d7a16d25c071db0c5be336368c56c",
            "block_index": 242,
            "block_time": 1746781346
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "27553ffc3bfaa69d20925604b41d55be245992f96d53c63be45bba74ea21c3cd"
            },
            "tx_hash": "d2d8da3cf5dcd4956e737fa861602a5f7cd5a4518e40aff61e01c09bb682f0fb",
            "block_index": 182,
            "block_time": 1746781071
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "f2d69adecce180af42828fc6430655b7c5796c8f763e9014519aaced33df444b_9e48718365c4bc1f67dde2e26a844092dfdb3a11ceed88b45bb1e03fc5a5394e",
                "order_match_id": "f2d69adecce180af42828fc6430655b7c5796c8f763e9014519aaced33df444b_9e48718365c4bc1f67dde2e26a844092dfdb3a11ceed88b45bb1e03fc5a5394e",
                "status": "expired"
            },
            "tx_hash": "1cda61d89c0f5a419c0b74dae93728abc01ef5a0e6a7b16ddb0353dd4cec224a",
            "block_index": 225,
            "block_time": 1746781251
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "order_match_id": "9a6eecf105e6835907ab6b16c053693e4210bdf5361fe343f91b1ace3face939_27553ffc3bfaa69d20925604b41d55be245992f96d53c63be45bba74ea21c3cd",
                "source": "bcrt1qdasxt952lqttclctxkthehet5nruqeq2u8x6fw",
                "status": "valid",
                "tx_hash": "d2d8da3cf5dcd4956e737fa861602a5f7cd5a4518e40aff61e01c09bb682f0fb",
                "tx_index": 57,
                "block_time": 1746781071,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "d2d8da3cf5dcd4956e737fa861602a5f7cd5a4518e40aff61e01c09bb682f0fb",
            "block_index": 182,
            "block_time": 1746781071
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "495415dfa7c4b120808191717aa65663be07ffcf3e8035fd30618be1cc1811a2",
                "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "status": "valid",
                "tx_hash": "26b9310b42dedf3c849eab07911a3ac74dc7f7c8a3b0c2cd8b4519140bee90c5",
                "tx_index": 63,
                "block_time": 1746781096
            },
            "tx_hash": "26b9310b42dedf3c849eab07911a3ac74dc7f7c8a3b0c2cd8b4519140bee90c5",
            "block_index": 188,
            "block_time": 1746781096
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "f2d69adecce180af42828fc6430655b7c5796c8f763e9014519aaced33df444b",
                "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "block_time": 1746781195
            },
            "tx_hash": "1449046331beead334cbdc054ceda2286e54ba8a7b30e0637089491df4adb17c",
            "block_index": 211,
            "block_time": 1746781195
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "f2d69adecce180af42828fc6430655b7c5796c8f763e9014519aaced33df444b_9e48718365c4bc1f67dde2e26a844092dfdb3a11ceed88b45bb1e03fc5a5394e",
                "tx0_address": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "tx1_address": "bcrt1qea0get6vgp87vkm3ngvmdcnsjyy0yyh8tn88l0",
                "block_time": 1746781251
            },
            "tx_hash": "1cda61d89c0f5a419c0b74dae93728abc01ef5a0e6a7b16ddb0353dd4cec224a",
            "block_index": 225,
            "block_time": 1746781251
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qte39l8055f8zka5yr0z2s97eaq6v6arqudlnn2",
                "satoshirate": 1,
                "source": "bcrt1qte39l8055f8zka5yr0z2s97eaq6v6arqudlnn2",
                "status": 0,
                "tx_hash": "ab06a61e1d0321a813f1b9fe496592501f2978e58ca3405e20480e0c46755e60",
                "tx_index": 114,
                "block_time": 1746781322,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "ab06a61e1d0321a813f1b9fe496592501f2978e58ca3405e20480e0c46755e60",
            "block_index": 236,
            "block_time": 1746781322
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "status": 0,
                "tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mvbKoqgjTpKyoKcu4WN8E88jaG4wSBjmJn",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "66a085dea51f2f9c2c7991f0d53954c4f602f1f95f4d789c6383f65806e1b7d3",
                "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                "tx_hash": "48b63762318a0efdf5a205a7a3aa726cab900f3a7eb3adc6af345554cc8e4a75",
                "tx_index": 31,
                "block_time": 1746780901,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "48b63762318a0efdf5a205a7a3aa726cab900f3a7eb3adc6af345554cc8e4a75",
            "block_index": 135,
            "block_time": 1746780901
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "tx_index": 121,
                "block_time": 1746781365,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "mime_type": "text/plain",
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "64b9a5deed33054e4171ccccfa7cf881f69fc9f5c6e96f993d6d0ceef2e38974",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1746780877,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "64b9a5deed33054e4171ccccfa7cf881f69fc9f5c6e96f993d6d0ceef2e38974",
            "block_index": 129,
            "block_time": 1746780877
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "mime_type": "text/plain",
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "start_block": 0,
                "status": "open",
                "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
                "tx_index": 120,
                "block_time": 1746781350,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
            "block_index": 243,
            "block_time": 1746781350
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "3777aaba559ecea242fddd5dccd8b6d639496549d6153df784b92365493a4d60"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1746781263
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "5b52f2df4eea7ca3577adf9e75aed2f8e91a60406b01d76bd00b8a178255e755",
                "paid_quantity": 100000000,
                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "status": "valid",
                "tx_hash": "4bcaef633b6518eb050de17aba4abca45d88cd66b8c7b30f455c91f891613bc1",
                "tx_index": 97,
                "block_time": 1746781235,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "4bcaef633b6518eb050de17aba4abca45d88cd66b8c7b30f455c91f891613bc1",
            "block_index": 221,
            "block_time": 1746781235
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "c16e2fafa050ec4dea7daec18292320258bbf838a6173768dac76cd5c04d6d62:0",
                "destination_address": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "status": "valid",
                "tx_hash": "c16e2fafa050ec4dea7daec18292320258bbf838a6173768dac76cd5c04d6d62",
                "tx_index": 112,
                "block_time": 1746781316,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c16e2fafa050ec4dea7daec18292320258bbf838a6173768dac76cd5c04d6d62",
            "block_index": 235,
            "block_time": 1746781316
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "87898a116b82355727c28a0e5650b30a717e6996cd688b34b62cc5ac0b42e2dc:0",
                "source_address": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                "status": "valid",
                "tx_hash": "ea9c9cb43f675b3606d5fc3a622203513222df9f12ea8cb2672eade60cadfbec",
                "tx_index": 111,
                "block_time": 1746781312,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ea9c9cb43f675b3606d5fc3a622203513222df9f12ea8cb2672eade60cadfbec",
            "block_index": 234,
            "block_time": 1746781312
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                "destination_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                "source_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                "status": "valid",
                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                "tx_index": 121,
                "block_time": 1746781365,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
            "block_index": 245,
            "block_time": 1746781365
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qdasxt952lqttclctxkthehet5nruqeq2u8x6fw",
                "status": "valid",
                "tx_hash": "523f55ae78d718f46a8e23c4d9315c294085c7922ec353ee2472543a6db446f0",
                "tx_index": 9,
                "block_time": 1746780807,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "523f55ae78d718f46a8e23c4d9315c294085c7922ec353ee2472543a6db446f0",
            "block_index": 112,
            "block_time": 1746780807
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                    "block_time": 1746781365,
                    "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                    "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                    "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                    "previous_block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb",
                    "block_time": 1746781354,
                    "ledger_hash": "0edd9aa0ba33d0dacc3fc62c782a0af2a13a4e1fb1afc8202db8c38e9e0d0eb2",
                    "txlist_hash": "234506b4ec04829c2463d6c21887aa545ce33f75ce501456f462b43e0910c2fe",
                    "messages_hash": "1e20346b1347202fbf9c7cd01ae78062e4c54ee34dea43b3dbdbb83e86089df6",
                    "previous_block_hash": "60bcc7cf242b1e6416d792bc6316eb8c7eacbc5fc19153c6ac1d0128fbbdd628",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "60bcc7cf242b1e6416d792bc6316eb8c7eacbc5fc19153c6ac1d0128fbbdd628",
                    "block_time": 1746781350,
                    "ledger_hash": "e55a6e7fbc0cc04d27088f3ec674821309e9335d1e450afce014eff63f2f324b",
                    "txlist_hash": "4573abe70bf3a0607fc018578f4d88dba4f711f28f5c7ae5b335ba331c9e9976",
                    "messages_hash": "135cf9d73767070f89f4b745403369299b40dd9f068d8bf0841ee920046061d5",
                    "previous_block_hash": "59cfb0387f4f4661a5bb78e546840d8199461a06f8be3aefb2729cde2e4e2d99",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "59cfb0387f4f4661a5bb78e546840d8199461a06f8be3aefb2729cde2e4e2d99",
                    "block_time": 1746781346,
                    "ledger_hash": "b4413ad94b556c02b854cc135596029b3736c35c8cac48fe7ced118e87ce6ebd",
                    "txlist_hash": "afc56faf342b9a3b3665aea766fea758ad1bffdfbac8e965e16f7c176b3ed71f",
                    "messages_hash": "438abe711ea7a5a477150f5a02c1b55d6ce28fd3915162a95a9c68fac325aec4",
                    "previous_block_hash": "283ef6f2a5f0dbc6dfd3bb75a8d7254d7ba1188ada2b2be439ecf0d459e76361",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "283ef6f2a5f0dbc6dfd3bb75a8d7254d7ba1188ada2b2be439ecf0d459e76361",
                    "block_time": 1746781342,
                    "ledger_hash": "f843e098b56f7193d4eba44654d70edc1d77304bebd45ed6f73e10c6829137b4",
                    "txlist_hash": "4432bbaa0a436651cd0efd9c4a59583ec2013cdc5a28af510faeb68d6bf8b60b",
                    "messages_hash": "08cd386208e21a57ab827e7711c7fb650f52df4511fd7abe83d72a9eaa1018cc",
                    "previous_block_hash": "735ea1d722be5199333fed219aa7e0e4eaf3fce65dba0f6ec801f858ec585efe",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                "block_time": 1746781365,
                "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                "previous_block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                "block_time": 1746781365,
                "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                "previous_block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                "block_time": 1746781365,
                "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                "previous_block_hash": "2096fded466f00c0a0f2da62e7f6a1f5619e5742f098c9b73ba0be5db32a71eb",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "block_index": 245,
                    "block_hash": "3b49f801ac9726ffa988e0a278a082ba2c3f901766976adcf57d5df3552f72fd",
                    "block_time": 1746781365,
                    "source": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "destination": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1 7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                                "destination_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                                "source_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                                "status": "valid",
                                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                                "tx_index": 121,
                                "block_time": 1746781365,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                            "block_index": 245,
                            "block_time": 1746781365
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                                "destination_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                                "source_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                                "status": "valid",
                                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                                "tx_index": 121,
                                "block_time": 1746781365,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                            "block_index": 245,
                            "block_time": 1746781365
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                                "status": 0,
                                "tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                            "block_index": 245,
                            "block_time": 1746781365
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                                "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                                "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                                "tx_index": 121,
                                "block_time": 1746781365,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                            "block_index": 245,
                            "block_time": 1746781365
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "c8d4784d17e2ca3017f330a79e2a479a58258e3da2522716e77ddc3cd83e5445",
                        "messages_hash": "a8c06dd9923010630c26220540257ceb019c9da39aeaaf4784223b6b2a79d1d3",
                        "transaction_count": 1,
                        "txlist_hash": "f85c310ec2951f880340d3fdf2cafaf2eb2a7b868ab2d42eabb1c48d9a4f464a",
                        "block_time": 1746781365
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "tx_index": 121
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                        "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                        "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "tx_index": 121,
                        "block_time": 1746781365,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                        "status": 0,
                        "tx_hash": "1db12c8f728979dc7bc6c5d134f570c5344aeb9974e2e4ba2875d5f5fe81cc28",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1746781365,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1746781365,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                        "utxo_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                        "block_time": 1746781365,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                        "utxo_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                        "block_time": 1746781365,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "tx_index": 121,
                    "utxo": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                    "utxo_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "tx_index": 121,
                    "utxo": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                    "utxo_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "tx_index": 121,
                    "utxo": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                    "utxo_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "tx_index": 121,
                    "utxo": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                    "utxo_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "f2d69adecce180af42828fc6430655b7c5796c8f763e9014519aaced33df444b",
                    "block_index": 211,
                    "block_time": 1746781195
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "26b9310b42dedf3c849eab07911a3ac74dc7f7c8a3b0c2cd8b4519140bee90c5",
                    "block_index": 188,
                    "source": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                    "offer_hash": "495415dfa7c4b120808191717aa65663be07ffcf3e8035fd30618be1cc1811a2",
                    "status": "valid",
                    "block_time": 1746781096
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "8edf605a405132f29aff70f569cb8e937fb5d7a4cb85da1177a9c9f9d005761e",
                    "block_index": 240,
                    "source": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1746781338,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qv0qnj979s3thkn3xthpg84cgn6m85gn7l8u9nm"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "a4dab519372ea3a3185e480ab1d0f6fb923a385bebdc3ea1a8c6ca8bc0f3bad6",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "issuer": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "mime_type": "text/plain",
                    "block_time": 1746781350,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "block_index": 245,
                    "source": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                    "destination": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "destination_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242",
                    "block_index": 245,
                    "source": "2691f2e44d98e5e45b3f8262c2edb69e8b4d590c6be022056077d42e5f6c631d:1",
                    "destination": "7ab5d04716e18468b8da1913503b5b2637f74d625ba667a32263298a5a2a9242:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qukte8fscj4umr83vngtzk95a2hg0457fvpwa0x",
                    "destination_address": "bcrt1qkjdhdx5zv4neszx0l7z528vvkusnyegszvd0d4",
                    "block_time": 1746781365,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0hgw3rqhnxm6nk8nlhpm28w8fz305eeft0jh0n"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
[...]
