[//]: # (Generated by genapidoc.py on 2025-02-01 17:02:15.794203. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                "block_index": 245,
                "block_time": 1738429320,
                "difficulty": 545259519,
                "previous_block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                "block_index": 245,
                "block_time": 1738429320,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "fee": 0,
                "source": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                "transaction_type": "dispense",
                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "tx_index": 121,
                "utxos_info": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1 62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "out_index": 0,
                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "tx_index": 121,
                "block_time": 1738429320,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                "transaction_count": 1,
                "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                "block_time": 1738429320
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "tx_index": 121
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                "utxo_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                "block_time": 1738429320,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738429320,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q4dyfnjv9vlc4wys3ksmffv3xl75rf9hjtgfhnp",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "status": "valid",
                "tx_hash": "cab84b3ca2e2d41f513dc42b13808986aee1f6f5c9464ff5e3faab127dc54013",
                "tx_index": 77,
                "block_time": 1738429152,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "cab84b3ca2e2d41f513dc42b13808986aee1f6f5c9464ff5e3faab127dc54013",
            "block_index": 201,
            "block_time": 1738429152
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q4dyfnjv9vlc4wys3ksmffv3xl75rf9hjtgfhnp",
                "status": "valid",
                "tx_hash": "1556493b9d498561b8917c7d27c90a418f01617125037c6ce3a1912011d94422",
                "tx_index": 81,
                "block_time": 1738429168,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "1556493b9d498561b8917c7d27c90a418f01617125037c6ce3a1912011d94422",
            "block_index": 205,
            "block_time": 1738429168
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qkm2mjdd8curxwl6fqtlqsdjh7kg2r76kgfx7ky",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qaf0m89q0v7mp7zsexsy9qq60hawk4txcd4keyr",
                "status": "valid",
                "tx_hash": "4b855d2f054c46940e6f2404173febd8f4ab353dc0a39bc15ef37893b7aa4068",
                "tx_index": 65,
                "block_time": 1738429113,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "4b855d2f054c46940e6f2404173febd8f4ab353dc0a39bc15ef37893b7aa4068",
            "block_index": 190,
            "block_time": 1738429113
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "status": "valid",
                "tx_hash": "a09f055ec2070f02ac702f1c567086ebd1b68a4703199191c19ff303d0691a4b",
                "tx_index": 42,
                "block_time": 1738428972,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "a09f055ec2070f02ac702f1c567086ebd1b68a4703199191c19ff303d0691a4b",
            "block_index": 146,
            "block_time": 1738428972
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "status": "valid",
                "transfer": false,
                "tx_hash": "7727c95492c29f08e0c62d49a75c494f82148348e956c858c3c84b483cf76e77",
                "tx_index": 117,
                "block_time": 1738429301,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "7727c95492c29f08e0c62d49a75c494f82148348e956c858c3c84b483cf76e77",
            "block_index": 240,
            "block_time": 1738429301
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738429311
            },
            "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
            "block_index": 243,
            "block_time": 1738429311
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "status": "valid",
                "transfer": false,
                "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
                "tx_index": 120,
                "block_time": 1738429311,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
            "block_index": 243,
            "block_time": 1738429311
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "7727c95492c29f08e0c62d49a75c494f82148348e956c858c3c84b483cf76e77",
                "tx_index": 117,
                "block_time": 1738429301,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "7727c95492c29f08e0c62d49a75c494f82148348e956c858c3c84b483cf76e77",
            "block_index": 240,
            "block_time": 1738429301
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "status": "open",
                "tx_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
                "tx_index": 119,
                "block_time": 1738429308,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qs8qumh67p00ez3j5jyfnhnue0xvqcgdwmr64c2",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
            "block_index": 242,
            "block_time": 1738429308
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "46812b4beb7b361921dc59737a59c1219807ce4498e299b89be1c95ff8b62281_5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qs8qumh67p00ez3j5jyfnhnue0xvqcgdwmr64c2",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "46812b4beb7b361921dc59737a59c1219807ce4498e299b89be1c95ff8b62281",
                "tx0_index": 118,
                "tx1_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
                "tx1_index": 119,
                "block_time": 1738429308,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qs8qumh67p00ez3j5jyfnhnue0xvqcgdwmr64c2",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
            "block_index": 242,
            "block_time": 1738429308
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "5c5b88e0771dcde093e1ea487702b1e0f47279644fbfb45f5586ed5ebc7fee3d",
            "block_index": 242,
            "block_time": 1738429308
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "58a900aefe54867b51b97182b278b1b4ba04efe315b3f49a42823dc3d7c9852d"
            },
            "tx_hash": "ad04a526bc6349c93f8c1c6a719dcc3ba200e28ab04f88cec1af3d918c58e925",
            "block_index": 182,
            "block_time": 1738429086
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "bd429e089f8571f3f195c62c10efc58473f9eac1134c291e186695f4acdc21a0_2505e2990d86314e20da4709ce55db1575efb577324df308d8fa8043bae70366",
                "order_match_id": "bd429e089f8571f3f195c62c10efc58473f9eac1134c291e186695f4acdc21a0_2505e2990d86314e20da4709ce55db1575efb577324df308d8fa8043bae70366",
                "status": "expired"
            },
            "tx_hash": "85aa2c850b0239daeb698d4a4586ab9e34e489dd3f41aefdaedc0287e9903bc8",
            "block_index": 225,
            "block_time": 1738429236
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "order_match_id": "7157279911e2519145d0f0a738609e0a06c24b4da68ab2968ee7882b54bdc579_58a900aefe54867b51b97182b278b1b4ba04efe315b3f49a42823dc3d7c9852d",
                "source": "bcrt1q4dyfnjv9vlc4wys3ksmffv3xl75rf9hjtgfhnp",
                "status": "valid",
                "tx_hash": "ad04a526bc6349c93f8c1c6a719dcc3ba200e28ab04f88cec1af3d918c58e925",
                "tx_index": 57,
                "block_time": 1738429086,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "ad04a526bc6349c93f8c1c6a719dcc3ba200e28ab04f88cec1af3d918c58e925",
            "block_index": 182,
            "block_time": 1738429086
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "7cf7fb08dec87312b03c44dbfd9fc33236edd9e98a27ab24023044bf40e9a966",
                "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "status": "valid",
                "tx_hash": "e61bff5f7a1806cbc7e31fce45e66c4e6ead4b2ffbaae8d20749d16a4c9e249a",
                "tx_index": 63,
                "block_time": 1738429107
            },
            "tx_hash": "e61bff5f7a1806cbc7e31fce45e66c4e6ead4b2ffbaae8d20749d16a4c9e249a",
            "block_index": 188,
            "block_time": 1738429107
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "bd429e089f8571f3f195c62c10efc58473f9eac1134c291e186695f4acdc21a0",
                "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "block_time": 1738429189
            },
            "tx_hash": "6e5c9433541da1d6e752ed316da5329ff1e0fc806538ba7ec78a2b5fbc6e912e",
            "block_index": 211,
            "block_time": 1738429189
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "bd429e089f8571f3f195c62c10efc58473f9eac1134c291e186695f4acdc21a0_2505e2990d86314e20da4709ce55db1575efb577324df308d8fa8043bae70366",
                "tx0_address": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "tx1_address": "bcrt1qaf0m89q0v7mp7zsexsy9qq60hawk4txcd4keyr",
                "block_time": 1738429236
            },
            "tx_hash": "85aa2c850b0239daeb698d4a4586ab9e34e489dd3f41aefdaedc0287e9903bc8",
            "block_index": 225,
            "block_time": 1738429236
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qua4jrjalnatelyt40q56448xd320fcnnqgn9kj",
                "satoshirate": 1,
                "source": "bcrt1qua4jrjalnatelyt40q56448xd320fcnnqgn9kj",
                "status": 0,
                "tx_hash": "986c31d2d9f5dbd373207c0ab372206d4f246b924ecd8ac76a6c624365fd1fd9",
                "tx_index": 114,
                "block_time": 1738429287,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "986c31d2d9f5dbd373207c0ab372206d4f246b924ecd8ac76a6c624365fd1fd9",
            "block_index": 236,
            "block_time": 1738429287
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "status": 0,
                "tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mzVuCJevsU4zJAW5Uh2j7RQVeSkrX7G19f",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "ec0d64515cd85e9bd8aeacc9f1d8761e9883a3eba18658c4099e9b9e28ab8ffe",
                "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                "tx_hash": "0aa43b21c1a7e3ef746c4dc77a67142c06068ccf98882b182b707c8e260edd97",
                "tx_index": 31,
                "block_time": 1738428936,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "0aa43b21c1a7e3ef746c4dc77a67142c06068ccf98882b182b707c8e260edd97",
            "block_index": 135,
            "block_time": 1738428936
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "tx_index": 121,
                "block_time": 1738429320,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "3bcea29c77850487c104073a20762a60caa1b8100e4b4f82248c508e5cc8b4d4",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738428914,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "3bcea29c77850487c104073a20762a60caa1b8100e4b4f82248c508e5cc8b4d4",
            "block_index": 129,
            "block_time": 1738428914
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "start_block": 0,
                "status": "open",
                "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
                "tx_index": 120,
                "block_time": 1738429311,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
            "block_index": 243,
            "block_time": 1738429311
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "0ea58ee92bd68ce901d8a43e7cbb1121a4a7d6d5c22e11e7b7fb6d67a190c6a9"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738429246
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "f5d5ad32ed4f32efe8bd67b3218398dfc97499580ae800901909e7b98c5521e8",
                "paid_quantity": 100000000,
                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "status": "valid",
                "tx_hash": "6c1a0204f7e66040c8733a1d83fa16dc2b196a998e98197213175c01d1182e13",
                "tx_index": 97,
                "block_time": 1738429222,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "6c1a0204f7e66040c8733a1d83fa16dc2b196a998e98197213175c01d1182e13",
            "block_index": 221,
            "block_time": 1738429222
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "bb56672e378ade084f966df518d3c99065528284567bfc3dbd7805a16057d3f9:0",
                "destination_address": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "status": "valid",
                "tx_hash": "bb56672e378ade084f966df518d3c99065528284567bfc3dbd7805a16057d3f9",
                "tx_index": 112,
                "block_time": 1738429281,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "bb56672e378ade084f966df518d3c99065528284567bfc3dbd7805a16057d3f9",
            "block_index": 235,
            "block_time": 1738429281
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "412fd02b95c28b0e21c8386cadbc325ea439b1db2fd5cc44224ed21e5fc70e93:0",
                "source_address": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                "status": "valid",
                "tx_hash": "f5d314ba7e843485750eb4c7c0d1ba64ae7e3413b5ee906785799c8e001d4720",
                "tx_index": 111,
                "block_time": 1738429278,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f5d314ba7e843485750eb4c7c0d1ba64ae7e3413b5ee906785799c8e001d4720",
            "block_index": 234,
            "block_time": 1738429278
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                "destination_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                "source_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                "status": "valid",
                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                "tx_index": 121,
                "block_time": 1738429320,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
            "block_index": 245,
            "block_time": 1738429320
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qua4jrjalnatelyt40q56448xd320fcnnqgn9kj",
                "status": "valid",
                "tx_hash": "87265f0e10bdf548b896fc840eccfaca35e2754cd6529970d60cb9dd873428e9",
                "tx_index": 9,
                "block_time": 1738428853,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "87265f0e10bdf548b896fc840eccfaca35e2754cd6529970d60cb9dd873428e9",
            "block_index": 112,
            "block_time": 1738428853
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                    "block_time": 1738429320,
                    "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                    "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                    "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                    "previous_block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113",
                    "block_time": 1738429315,
                    "ledger_hash": "f08d01bf6c1ad0af9a9e4e1bdff22f4e5dda28e116daff88532159a1904d1280",
                    "txlist_hash": "5c216d271315b827d4da8cf234390a2c0c600b1f704df290b2a4409792d5b7f6",
                    "messages_hash": "c5cc58e0ab8debe753f8a55454c4da91786cfbf6227277bd6d64077a28f678c4",
                    "previous_block_hash": "16944e4c7a4ae9bed57522e51912825ea2129adc4096064a32b57f084cdceba5",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "16944e4c7a4ae9bed57522e51912825ea2129adc4096064a32b57f084cdceba5",
                    "block_time": 1738429311,
                    "ledger_hash": "f542177a6a9500dc089db902a8eea7f5648fb89f9f8bdddf9ad2ad1605c6d208",
                    "txlist_hash": "958d6e4be0b96f3e53d72d2ea73736d8f2b021056f6f95abe0f2c197c855e1bd",
                    "messages_hash": "72dd0f2710f7011ca6bec85d9efd1b7465e07f9ba14e487042380a8804d86f63",
                    "previous_block_hash": "421482158b184e930a14c2cd4f1e377441bd3f7a82dabbb0a26d630fbc4e72f8",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "421482158b184e930a14c2cd4f1e377441bd3f7a82dabbb0a26d630fbc4e72f8",
                    "block_time": 1738429308,
                    "ledger_hash": "77a5dea5433b77b67b62fa8c101326dc5ef5123b57b4ffc2a037147c5e837978",
                    "txlist_hash": "2014730ed7b5e95138895449a9d774541a6646b474fac559b9683c5d88de61b5",
                    "messages_hash": "d2c38f7c8ad4fbc2b4c991b7d9151fa25f52ced6e79f944b9e4643a689dd882c",
                    "previous_block_hash": "0ffe387c382f95e7401f594038f6338efc33d6867c8bffbfa9a3083c44704a46",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "0ffe387c382f95e7401f594038f6338efc33d6867c8bffbfa9a3083c44704a46",
                    "block_time": 1738429305,
                    "ledger_hash": "e0d154607fb9c78f238e222eb6d27439b4eac785099eccf73ea00d93318035a9",
                    "txlist_hash": "5ee4e1c733d2f3281ee1b000fc59940e912b09726f84ecf35d4e988002ff5f1a",
                    "messages_hash": "33eb9e67890ec5523f571e06b03b53d0854aaa113d4ee352c313e2c035c8dee8",
                    "previous_block_hash": "6011d6aa56e4cd8cbb1b0a3930b8da0740ff3502e8407ea886a88a9d140fbbe7",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                "block_time": 1738429320,
                "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                "previous_block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                "block_time": 1738429320,
                "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                "previous_block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                "block_time": 1738429320,
                "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                "previous_block_hash": "67b87014bec3b8fb6faed76afa68d8e615a12617ba8be73711733d962e652113",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "block_index": 245,
                    "block_hash": "7e85ba86c6156a475713acc8d7ced5fd733c78545faa2a1b4c70d38a1d2fe8d1",
                    "block_time": 1738429320,
                    "source": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "destination": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1 62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                                "destination_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                                "source_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                                "status": "valid",
                                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                                "tx_index": 121,
                                "block_time": 1738429320,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                            "block_index": 245,
                            "block_time": 1738429320
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                                "destination_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                                "source_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                                "status": "valid",
                                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                                "tx_index": 121,
                                "block_time": 1738429320,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                            "block_index": 245,
                            "block_time": 1738429320
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                                "status": 0,
                                "tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                            "block_index": 245,
                            "block_time": 1738429320
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                                "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                                "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                                "tx_index": 121,
                                "block_time": 1738429320,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                            "block_index": 245,
                            "block_time": 1738429320
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "f02cf18ce14f48bd726e9d5a59e18d0c2dbafcc012c4583ff793b05fe54173d8",
                        "messages_hash": "1c36785dcbb4a11366c884f458cc506ba00ce80440d45a2ef2d1014a9bca2dad",
                        "transaction_count": 1,
                        "txlist_hash": "4a06b4d968ae7edcfca592bb56313c93e880cf4cc2c5d1cff6dacbed31eca330",
                        "block_time": 1738429320
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "tx_index": 121
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                        "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "tx_index": 121,
                        "block_time": 1738429320,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "status": 0,
                        "tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738429320,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738429320,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                        "utxo_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "block_time": 1738429320,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                        "utxo_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "block_time": 1738429320,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "tx_index": 121,
                    "utxo": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                    "utxo_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "tx_index": 121,
                    "utxo": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                    "utxo_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "tx_index": 121,
                    "utxo": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                    "utxo_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "tx_index": 121,
                    "utxo": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                    "utxo_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "bd429e089f8571f3f195c62c10efc58473f9eac1134c291e186695f4acdc21a0",
                    "block_index": 211,
                    "block_time": 1738429189
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "e61bff5f7a1806cbc7e31fce45e66c4e6ead4b2ffbaae8d20749d16a4c9e249a",
                    "block_index": 188,
                    "source": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                    "offer_hash": "7cf7fb08dec87312b03c44dbfd9fc33236edd9e98a27ab24023044bf40e9a966",
                    "status": "valid",
                    "block_time": 1738429107
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "7727c95492c29f08e0c62d49a75c494f82148348e956c858c3c84b483cf76e77",
                    "block_index": 240,
                    "source": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738429301,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qyarrqt0r7j3etn9a4l6k5nrhd4xdpnz5ldul4e",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "a5f6c53bb3694b5b0f22e15b78d76502ad496514b13618dcb6297215d81178f8",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "issuer": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738429311,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "block_index": 245,
                    "source": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                    "destination": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "destination_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "block_index": 245,
                    "source": "f5cdf0d8beb3a784f13ec05f8382f89ff7015215aec44ecec1df211539a57ba3:1",
                    "destination": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "destination_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q24k6ajd0l4v3kkd59p6uzg73m06ehzca20lyxm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "62b9ff83bbc78507b468c37dc07dbd659e7bc9f87718c1b589e6e3a8bf0c8986",
                    "block_index": 245,
                    "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                    "destination": "bcrt1qvh22c40vyv7x9rhdehx4e4842gk9tzyzfs02mc",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "3420a849221c06292d175689f3339cee2cb655323e4359aa07914b3d735a2024",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qr8r8ee2ear9wj30v69nqjzjnxcme9ppd9ryvcz",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738429320,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
