[//]: # (Generated by genapidoc.py on 2024-09-21 18:37:05.556760. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                "block_index": 193,
                "block_time": 1726943809,
                "difficulty": 545259519,
                "previous_block_hash": "20b11544d7612641c441b924b671834c9e85987c12d52c9389bfc6509a65244f"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                "block_index": 193,
                "block_time": 1726943809,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                "tx_index": 59,
                "utxos_info": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "out_index": 0,
                "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
                "tx_index": 33,
                "block_time": 1726943634,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
            "block_index": 146,
            "block_time": 1726943634
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "29d3f4442b291f5e25265497dba3a9b4a0ac3a422d677f92b26df17f8c15ac6d",
                "messages_hash": "efc38f5feaf63d096e79b5d21e13f9e16d41a3de0744c7271c19e1eac5e47952",
                "transaction_count": 1,
                "txlist_hash": "f579ec87949d401c714701d09d35ef820597b76a232c65bd89937ae8670a062a",
                "block_time": 1726943809
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                "tx_index": 59
            },
            "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "asset": "XCP",
                "block_index": 193,
                "event": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726943809,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726943805,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
            "block_index": 192,
            "block_time": 1726943805
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                "status": "valid",
                "tx_hash": "5dee560700b95fa8ead577cbac7dca820326ecf5d67107111cf6b885842d1e9f",
                "tx_index": 53,
                "block_time": 1726943785,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "5dee560700b95fa8ead577cbac7dca820326ecf5d67107111cf6b885842d1e9f",
            "block_index": 187,
            "block_time": 1726943785
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "valid",
                "tx_hash": "24466a80d858dde0184daa0b3a64d805a8384c461935714dce74148a4e2e79f3",
                "tx_index": 54,
                "block_time": 1726943789,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "24466a80d858dde0184daa0b3a64d805a8384c461935714dce74148a4e2e79f3",
            "block_index": 188,
            "block_time": 1726943789
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                "status": "valid",
                "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                "tx_index": 58,
                "block_time": 1726943805,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
            "block_index": 192,
            "block_time": 1726943805
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "valid",
                "tx_hash": "5d16896a6558f198c7a29c6347a9cfa9f073f73df5f5c67c6c44183b45db363c",
                "tx_index": 40,
                "block_time": 1726943663,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "5d16896a6558f198c7a29c6347a9cfa9f073f73df5f5c67c6c44183b45db363c",
            "block_index": 153,
            "block_time": 1726943663
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726943687
            },
            "tx_hash": "193a3a0e332ffc2353dbc109536eb2229958318c32bb8726ff649be86929132c",
            "block_index": 159,
            "block_time": 1726943687
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "valid",
                "transfer": false,
                "tx_hash": "193a3a0e332ffc2353dbc109536eb2229958318c32bb8726ff649be86929132c",
                "tx_index": 46,
                "block_time": 1726943687,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "193a3a0e332ffc2353dbc109536eb2229958318c32bb8726ff649be86929132c",
            "block_index": 159,
            "block_time": 1726943687
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                "tx_index": 59,
                "block_time": 1726943809,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
            "block_index": 193,
            "block_time": 1726943809
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "open",
                "tx_hash": "8503f163bc7361ab31f81e04bdaaacb7be6c7921350feaf902ba04246160040e",
                "tx_index": 57,
                "block_time": 1726943802,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "8503f163bc7361ab31f81e04bdaaacb7be6c7921350feaf902ba04246160040e",
            "block_index": 191,
            "block_time": 1726943802
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f_2a8476712d25f5264608809ceb9fe395a19355e094798d9bc86d7b8b1ed72c5c",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f",
                "tx0_index": 49,
                "tx1_address": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "2a8476712d25f5264608809ceb9fe395a19355e094798d9bc86d7b8b1ed72c5c",
                "tx1_index": 52,
                "block_time": 1726943781,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2a8476712d25f5264608809ceb9fe395a19355e094798d9bc86d7b8b1ed72c5c",
            "block_index": 186,
            "block_time": 1726943781
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "de53e4f671da0071a4b8f3efc43d1d344d83671f73624299e5be0d5f1fcf0ed8"
            },
            "tx_hash": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a",
            "block_index": 190,
            "block_time": 1726943798
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294"
            },
            "tx_hash": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11",
            "block_index": 185,
            "block_time": 1726943776
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f_c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
                "order_match_id": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f_c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
                "status": "completed"
            },
            "tx_hash": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11",
            "block_index": 185,
            "block_time": 1726943776
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "order_match_id": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f_c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
                "source": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                "status": "valid",
                "tx_hash": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11",
                "tx_index": 51,
                "block_time": 1726943776,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11",
            "block_index": 185,
            "block_time": 1726943776
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "de53e4f671da0071a4b8f3efc43d1d344d83671f73624299e5be0d5f1fcf0ed8",
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "valid",
                "tx_hash": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a",
                "tx_index": 56,
                "block_time": 1726943798
            },
            "tx_hash": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a",
            "block_index": 190,
            "block_time": 1726943798
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "136d0a76594c2c95ebfa9dadf27988569c950a3cba75874d27efc0f2f7f4c172",
                "source": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                "block_time": 1726943703
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726943703
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "281bb000500b80707e0bb7efdb8842b629c5e4edb2cd99fb7bbf68897b8c80d8_136d0a76594c2c95ebfa9dadf27988569c950a3cba75874d27efc0f2f7f4c172",
                "tx0_address": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "tx1_address": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                "block_time": 1726943703
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726943703
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "origin": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "satoshirate": 1,
                "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "status": 0,
                "tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
                "tx_index": 32,
                "block_time": 1726943630,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
            "block_index": 145,
            "block_time": 1726943630
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "status": 0,
                "tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
            "block_index": 146,
            "block_time": 1726943634
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mnFNV6wfK94ay8hxrDH4jGrSPTwRBmePWL",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "bb2be0c8573f89e18621a54ee932b71e61a2349ea2d07dcab1f84a0f2d80d98f",
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "tx_hash": "8ee82991c0b27326c3967002388a490584097696bdce50c624fb03d2516758db",
                "tx_index": 31,
                "block_time": 1726943625,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "8ee82991c0b27326c3967002388a490584097696bdce50c624fb03d2516758db",
            "block_index": 144,
            "block_time": 1726943625
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qkag3004gzwkp36r4u624c34epwpz69rndmxzqc",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
                "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
                "tx_index": 33,
                "block_time": 1726943634,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
            "block_index": 146,
            "block_time": 1726943634
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "70c3c50eb1ade60713a417af9791f06d69a30d6a85b506e980b6631e632b9dea",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726943590,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "70c3c50eb1ade60713a417af9791f06d69a30d6a85b506e980b6631e632b9dea",
            "block_index": 138,
            "block_time": 1726943590
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "start_block": 0,
                "status": "open",
                "tx_hash": "a1a2f1798d55e2af58bdbe8ef6d2d22579f1cea52b1b0716d4a94c98daa28bc2",
                "tx_index": 22,
                "block_time": 1726943577
            },
            "tx_hash": "a1a2f1798d55e2af58bdbe8ef6d2d22579f1cea52b1b0716d4a94c98daa28bc2",
            "block_index": 135,
            "block_time": 1726943577
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "f8863d06dd1c63af927665e2741a68593285bb4a52bbadf58685b17809c50470"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726943556
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "a1a2f1798d55e2af58bdbe8ef6d2d22579f1cea52b1b0716d4a94c98daa28bc2",
                "paid_quantity": 34,
                "source": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                "status": "valid",
                "tx_hash": "296a4a2f8facf4a5ccf44ab044c61ea9b9216a3071599a39f70b231bc11801f0",
                "tx_index": 23,
                "block_time": 1726943581,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "296a4a2f8facf4a5ccf44ab044c61ea9b9216a3071599a39f70b231bc11801f0",
            "block_index": 136,
            "block_time": 1726943581
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "db80b4b563214865dcf52ac63219710fd3e438d2a1b629d3d7465a7023a73e98:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                "status": "valid",
                "tx_hash": "db80b4b563214865dcf52ac63219710fd3e438d2a1b629d3d7465a7023a73e98",
                "tx_index": 38,
                "block_time": 1726943654,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "db80b4b563214865dcf52ac63219710fd3e438d2a1b629d3d7465a7023a73e98",
            "block_index": 151,
            "block_time": 1726943654
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qfg9cjkk7kh502gn32hn2040ttyg0jcy6cugxu9",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "cc7990d855f354e057a6e08b954da3db23de867816732e8fc48f06b3fcadb83b:0",
                "status": "valid",
                "tx_hash": "97881a57024ad6e05e14ae9d17fff8be24276335e8f9afefcce9b70168d36808",
                "tx_index": 37,
                "block_time": 1726943651,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "97881a57024ad6e05e14ae9d17fff8be24276335e8f9afefcce9b70168d36808",
            "block_index": 150,
            "block_time": 1726943651
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "2c90e037a2664b6d2d6b34e1df6ecccf1e74d0accbd4b2a7afa4fc19939aad1c:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "9fa1987cc32c1c7ed0d69ac381cc71301104e6bd59d6f9444faa7d7253cde6b1:0",
                "status": "valid",
                "tx_hash": "2c90e037a2664b6d2d6b34e1df6ecccf1e74d0accbd4b2a7afa4fc19939aad1c",
                "tx_index": 42,
                "block_time": 1726943670,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "2c90e037a2664b6d2d6b34e1df6ecccf1e74d0accbd4b2a7afa4fc19939aad1c",
            "block_index": 155,
            "block_time": 1726943670
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qxmw2n03dl0jlw8ap4tg5n9htdske39r04u5amh",
                "status": "valid",
                "tx_hash": "338720d47c7ab728d1364edded99b5ecf28424429f2e3506bb6c2812aa8f8513",
                "tx_index": 9,
                "block_time": 1726943518,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "338720d47c7ab728d1364edded99b5ecf28424429f2e3506bb6c2812aa8f8513",
            "block_index": 121,
            "block_time": 1726943518
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                    "block_time": 1726943809,
                    "previous_block_hash": "20b11544d7612641c441b924b671834c9e85987c12d52c9389bfc6509a65244f",
                    "difficulty": 545259519,
                    "ledger_hash": "29d3f4442b291f5e25265497dba3a9b4a0ac3a422d677f92b26df17f8c15ac6d",
                    "txlist_hash": "f579ec87949d401c714701d09d35ef820597b76a232c65bd89937ae8670a062a",
                    "messages_hash": "efc38f5feaf63d096e79b5d21e13f9e16d41a3de0744c7271c19e1eac5e47952",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "20b11544d7612641c441b924b671834c9e85987c12d52c9389bfc6509a65244f",
                    "block_time": 1726943805,
                    "previous_block_hash": "2f476dfff236cf917d3eba6f6100e1213afff49f0229d7560672f99a24c6ece8",
                    "difficulty": 545259519,
                    "ledger_hash": "412150712c6869e6ac5019ac1af4fca3e25b87cfd959dfdcf50a375eb0a3fb6c",
                    "txlist_hash": "d7164fc59cb695753afe073c5bb4774cd53dae324c7128b4984197951e0ece2c",
                    "messages_hash": "600e929c4505c894ea01a40564eff783657a75a7b33c2369546ae0237130f279",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "2f476dfff236cf917d3eba6f6100e1213afff49f0229d7560672f99a24c6ece8",
                    "block_time": 1726943802,
                    "previous_block_hash": "23b27ef62e72432568ac3d2827afc0d1be45e5a1eb3461f8b58d24ab532f4f66",
                    "difficulty": 545259519,
                    "ledger_hash": "347da26f295ca004a4058551b21f0918e3ccfd4d75b47fae6357f9b7d7577707",
                    "txlist_hash": "ed92b50006ebed219c3b0ee78411f957772394a2d5c189957c6c18bb5bc1d53d",
                    "messages_hash": "c855a1f4f99540f7cb14aaa43f1f4f8d72b4bcf16b50466e82291b6e7ed76ff4",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "23b27ef62e72432568ac3d2827afc0d1be45e5a1eb3461f8b58d24ab532f4f66",
                    "block_time": 1726943798,
                    "previous_block_hash": "26cc98a125105d26459d4cdde73737ee6a87200dd1e260833a753985df7a6e96",
                    "difficulty": 545259519,
                    "ledger_hash": "75841fb8c87cb673361762b82649a7a4382f8d2b00c0ccd7dbdd26a6784664f0",
                    "txlist_hash": "9fa98a107f0760d3ea30ab290ddab051bd95e90474fb50fa8dafaaf2705ec337",
                    "messages_hash": "fcf933ab3251044fb12043cdff6b0895bfc112ad664cbf5ad6787c765180f3d1",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "26cc98a125105d26459d4cdde73737ee6a87200dd1e260833a753985df7a6e96",
                    "block_time": 1726943793,
                    "previous_block_hash": "423947d2489b48a6e1d3a68c229e08b6abe64ea53afa8512a39037e9e3d57ed0",
                    "difficulty": 545259519,
                    "ledger_hash": "dcbbc021e8d75b82eb4a2d623285bed6a64543f2f7f1db436d3f9fb8294c11c1",
                    "txlist_hash": "787f716d594b44792069aa2cfc004ed2396f4f5b82b196181800f97d6d5c23a7",
                    "messages_hash": "63932d87e6b9a88194fdd69f6e03d8e97766771070fb269827c7afbc070cc03a",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                "block_time": 1726943809,
                "previous_block_hash": "20b11544d7612641c441b924b671834c9e85987c12d52c9389bfc6509a65244f",
                "difficulty": 545259519,
                "ledger_hash": "29d3f4442b291f5e25265497dba3a9b4a0ac3a422d677f92b26df17f8c15ac6d",
                "txlist_hash": "f579ec87949d401c714701d09d35ef820597b76a232c65bd89937ae8670a062a",
                "messages_hash": "efc38f5feaf63d096e79b5d21e13f9e16d41a3de0744c7271c19e1eac5e47952",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                "block_time": 1726943809,
                "previous_block_hash": "20b11544d7612641c441b924b671834c9e85987c12d52c9389bfc6509a65244f",
                "difficulty": 545259519,
                "ledger_hash": "29d3f4442b291f5e25265497dba3a9b4a0ac3a422d677f92b26df17f8c15ac6d",
                "txlist_hash": "f579ec87949d401c714701d09d35ef820597b76a232c65bd89937ae8670a062a",
                "messages_hash": "efc38f5feaf63d096e79b5d21e13f9e16d41a3de0744c7271c19e1eac5e47952",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                    "block_index": 193,
                    "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
                    "block_time": 1726943809,
                    "source": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "412150712c6869e6ac5019ac1af4fca3e25b87cfd959dfdcf50a375eb0a3fb6c",
                        "messages_hash": "600e929c4505c894ea01a40564eff783657a75a7b33c2369546ae0237130f279",
                        "transaction_count": 1,
                        "txlist_hash": "d7164fc59cb695753afe073c5bb4774cd53dae324c7128b4984197951e0ece2c",
                        "block_time": 1726943805
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "tx_index": 58
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                        "status": "valid",
                        "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "tx_index": 58,
                        "block_time": 1726943805,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726943805,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726943805,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726943805,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726943805,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726943805,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726943805,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726943805,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726943805,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726943809,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "136d0a76594c2c95ebfa9dadf27988569c950a3cba75874d27efc0f2f7f4c172",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726943703
                },
                {
                    "type": "order",
                    "object_id": "281bb000500b80707e0bb7efdb8842b629c5e4edb2cd99fb7bbf68897b8c80d8",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726943703
                },
                {
                    "type": "order_match",
                    "object_id": "281bb000500b80707e0bb7efdb8842b629c5e4edb2cd99fb7bbf68897b8c80d8_136d0a76594c2c95ebfa9dadf27988569c950a3cba75874d27efc0f2f7f4c172",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726943703
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a",
                    "block_index": 190,
                    "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "offer_hash": "de53e4f671da0071a4b8f3efc43d1d344d83671f73624299e5be0d5f1fcf0ed8",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726943798
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
                    "block_index": 193,
                    "source": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726943809,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "193a3a0e332ffc2353dbc109536eb2229958318c32bb8726ff649be86929132c",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726943687,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "24466a80d858dde0184daa0b3a64d805a8384c461935714dce74148a4e2e79f3",
                    "block_index": 188,
                    "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "destination": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726943789,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "24466a80d858dde0184daa0b3a64d805a8384c461935714dce74148a4e2e79f3",
                    "block_index": 188,
                    "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "destination": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726943789,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "24466a80d858dde0184daa0b3a64d805a8384c461935714dce74148a4e2e79f3",
                    "block_index": 188,
                    "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                    "destination": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726943789,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
                    "block_index": 146,
                    "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                    "destination": "bcrt1qkag3004gzwkp36r4u624c34epwpz69rndmxzqc",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726943634,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "aeec8d6ff347b12d528628e0b274c5d5c2ecf1767339f1d217209dd2d83143bb",
                    "block_index": 192,
                    "source": "bcrt1qcmla2kywg4ywyjvntn77m76hqzy60epn0tuzfk",
                    "destination": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726943805,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "70c3c50eb1ade60713a417af9791f06d69a30d6a85b506e980b6631e632b9dea",
        "block_index": 138,
        "block_hash": "783e3e2d5e4ce450234c83deb77f7bd10f45c8a1b28f8742583d1fcdfd397f6a",
        "block_time": 1726943590,
        "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "70c3c50eb1ade60713a417af9791f06d69a30d6a85b506e980b6631e632b9dea:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11",
        "block_index": 185,
        "block_hash": "096ad85b8b9dd2b5eaeb1be8fe0ddc244c436aacac8adbd2a9fa76e6ab9e712e",
        "block_time": 1726943776,
        "source": "bcrt1q9vyvg55fq2p5nnzefg25q6ewjwglw8ruqejcxh",
        "destination": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bde81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914fc869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
        "supported": true,
        "utxos_info": "39ab063fe272abd025a33a993e914ccefc5975a3abd245bec225daee2cbe9d11:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f",
                "tx1_hash": "c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
                "order_match_id": "de81c550eb47c7bce4849c5e00199478c639414949d3d2095ac3885afe3b914f_c869382cdaced5f53c8794a6cf0dc0ecce384e858035c121b769a65c3f131294",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a",
        "block_index": 190,
        "block_hash": "23b27ef62e72432568ac3d2827afc0d1be45e5a1eb3461f8b58d24ab532f4f66",
        "block_time": 1726943798,
        "source": "bcrt1q82amxwk85s74encl89wwycn5q08xwsx0vulgl9",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46de53e4f671da0071a4b8f3efc43d1d344d83671f73624299e5be0d5f1fcf0ed8",
        "supported": true,
        "utxos_info": "73c2ab5a25f1f47bb5428555d42f1128f0a8d3eb5c05ff82480d4d4f59af7a7a:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "de53e4f671da0071a4b8f3efc43d1d344d83671f73624299e5be0d5f1fcf0ed8",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf",
        "block_index": 193,
        "block_hash": "005c53eade83d94f8c64e0d908656a24a97b96ab0f79e8fcc2e8b24c1d8a1bae",
        "block_time": 1726943809,
        "source": "bcrt1qf4vp88993489y7xueyxpywp9ays2f3uzqfqfg3",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "ba3c3ed30ed8e1140e5204de72aacdf3d4a964f9e5130e17dd1f4c463bc2deaf:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1",
        "block_index": 145,
        "block_hash": "278af4d2c39e5c92ead142aa68a464c75878f7f8cc608f9edf41760044dff7a6",
        "block_time": 1726943630,
        "source": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080459d1fbf1cdf35891e4eb21203b753b1242efc5a",
        "supported": true,
        "utxos_info": "411751446349b5ba7279cb9c2539e9701d79babb22086350a6bb57efa64519a1:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81",
        "block_index": 146,
        "block_hash": "2b906b1f5ade530171b223a5a497350aaf2fc2722586ab90dc18ddc8fc7d8fb0",
        "block_time": 1726943634,
        "source": "bcrt1qkag3004gzwkp36r4u624c34epwpz69rndmxzqc",
        "destination": "bcrt1qgkw3l0cumu6cj8jwkgfq8d6nkyjzalz60yzd5f",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "3314b4c0755ad20b7738bc243567d003d5e0f184eb3a1d42c5d8ec0491042f81:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "5d16896a6558f198c7a29c6347a9cfa9f073f73df5f5c67c6c44183b45db363c",
        "block_index": 153,
        "block_hash": "7a8169d989011e0754ba1483d975e82388545bc4a8ea1044d62d80332d7e9102",
        "block_time": 1726943663,
[...]
