[//]: # (Generated by genapidoc.py on 2024-09-16 18:05:36.857735. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                "block_index": 193,
                "block_time": 1726509912,
                "difficulty": 545259519,
                "previous_block_hash": "356d63b3ac8ed95b008257f61aee3850ec360d8ac8d808d0b0e0ceab8de6ee1e"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                "block_index": 193,
                "block_time": 1726509912,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                "tx_index": 59,
                "utxos_info": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "out_index": 0,
                "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
                "tx_index": 33,
                "block_time": 1726509701,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
            "block_index": 146,
            "block_time": 1726509701
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "260bca5241d162936ae20e643b78cd69f7c3d74370745be7447cbaae1dde9a9c",
                "messages_hash": "a5b39b3745218a45506fcbd2397ab67628c6263f2173159bdf4b259978114bde",
                "transaction_count": 1,
                "txlist_hash": "1ecd81dbebae4723fab572ad7f59f8712a540b524662de521ea50631e83b7e7b",
                "block_time": 1726509912
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                "tx_index": 59
            },
            "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "asset": "XCP",
                "block_index": 193,
                "event": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726509912,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726509908,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
            "block_index": 192,
            "block_time": 1726509908
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                "status": "valid",
                "tx_hash": "f96235259f9722ca1558a6601a39e235c6a60fa33d67cc9e5039890d0ab2fe03",
                "tx_index": 53,
                "block_time": 1726509886,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "f96235259f9722ca1558a6601a39e235c6a60fa33d67cc9e5039890d0ab2fe03",
            "block_index": 187,
            "block_time": 1726509886
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "valid",
                "tx_hash": "e8fda956958ed7de0a98e42d8d28349b9c7b5e20da375c185c5830526df6594f",
                "tx_index": 54,
                "block_time": 1726509890,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "e8fda956958ed7de0a98e42d8d28349b9c7b5e20da375c185c5830526df6594f",
            "block_index": 188,
            "block_time": 1726509890
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                "status": "valid",
                "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                "tx_index": 58,
                "block_time": 1726509908,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
            "block_index": 192,
            "block_time": 1726509908
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "valid",
                "tx_hash": "65e4ec441796883270c7bb0f18ca610e54b1ad0b3ae8a33e572bca985f65ee00",
                "tx_index": 40,
                "block_time": 1726509732,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "65e4ec441796883270c7bb0f18ca610e54b1ad0b3ae8a33e572bca985f65ee00",
            "block_index": 153,
            "block_time": 1726509732
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726509780
            },
            "tx_hash": "3f80ba6dc66be4e5b604bbf8e1e2007161960069d871f7cb00b1d24f9f090491",
            "block_index": 159,
            "block_time": 1726509780
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "valid",
                "transfer": false,
                "tx_hash": "3f80ba6dc66be4e5b604bbf8e1e2007161960069d871f7cb00b1d24f9f090491",
                "tx_index": 46,
                "block_time": 1726509780,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3f80ba6dc66be4e5b604bbf8e1e2007161960069d871f7cb00b1d24f9f090491",
            "block_index": 159,
            "block_time": 1726509780
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                "tx_index": 59,
                "block_time": 1726509912,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
            "block_index": 193,
            "block_time": 1726509912
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "open",
                "tx_hash": "7b7048040c893c69892bd088ce48db79b96b9c1d7221b50d903064ff5a1ed232",
                "tx_index": 57,
                "block_time": 1726509903,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7b7048040c893c69892bd088ce48db79b96b9c1d7221b50d903064ff5a1ed232",
            "block_index": 191,
            "block_time": 1726509903
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1_d87f4afa605375256bce3dab7d014314a751d0d998cdc0842ac2dfc8c2fa2b21",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1",
                "tx0_index": 49,
                "tx1_address": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "d87f4afa605375256bce3dab7d014314a751d0d998cdc0842ac2dfc8c2fa2b21",
                "tx1_index": 52,
                "block_time": 1726509871,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "d87f4afa605375256bce3dab7d014314a751d0d998cdc0842ac2dfc8c2fa2b21",
            "block_index": 186,
            "block_time": 1726509871
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "5e324d551a694d3f6ffc9c67b3db8817d470ba32257047ddee237d3d07c1a1e2"
            },
            "tx_hash": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec",
            "block_index": 190,
            "block_time": 1726509899
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a"
            },
            "tx_hash": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d",
            "block_index": 185,
            "block_time": 1726509867
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1_ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
                "order_match_id": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1_ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
                "status": "completed"
            },
            "tx_hash": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d",
            "block_index": 185,
            "block_time": 1726509867
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "order_match_id": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1_ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
                "source": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                "status": "valid",
                "tx_hash": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d",
                "tx_index": 51,
                "block_time": 1726509867,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d",
            "block_index": 185,
            "block_time": 1726509867
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "5e324d551a694d3f6ffc9c67b3db8817d470ba32257047ddee237d3d07c1a1e2",
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "valid",
                "tx_hash": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec",
                "tx_index": 56,
                "block_time": 1726509899
            },
            "tx_hash": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec",
            "block_index": 190,
            "block_time": 1726509899
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "afd6eab5bb50283dc170ad276157e78db2dc90cb330d559320b9adc3721a1fbc",
                "source": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                "block_time": 1726509796
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726509796
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "e2263719273ed7cbb5496ae9daff21e24a2899e76feea1abbd4e91fa72766b5d_afd6eab5bb50283dc170ad276157e78db2dc90cb330d559320b9adc3721a1fbc",
                "tx0_address": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "tx1_address": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                "block_time": 1726509796
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726509796
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "origin": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "satoshirate": 1,
                "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "status": 0,
                "tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
                "tx_index": 32,
                "block_time": 1726509697,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
            "block_index": 145,
            "block_time": 1726509697
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "status": 0,
                "tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
            "block_index": 146,
            "block_time": 1726509701
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mnLwb4LAYvLe6gesyGs1d34NnRaSRpScfq",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d3713f7f4355cf95ddb00030d4c53655897b901d6827b640ee27cc83efaba2e6",
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "tx_hash": "962792bfe558b1042295417f1b88d03dfa7547cb82ab870bbd57854561acf3b5",
                "tx_index": 31,
                "block_time": 1726509693,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "962792bfe558b1042295417f1b88d03dfa7547cb82ab870bbd57854561acf3b5",
            "block_index": 144,
            "block_time": 1726509693
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qlqcrlvw5t7cnj8r9hjl0qq67c2fyk5kvfra90p",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
                "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
                "tx_index": 33,
                "block_time": 1726509701,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
            "block_index": 146,
            "block_time": 1726509701
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "0b3452fcb5ee0a881ba450a768e89de4e0c89e297785e478dd6fc844975bec3a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726509656,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "0b3452fcb5ee0a881ba450a768e89de4e0c89e297785e478dd6fc844975bec3a",
            "block_index": 138,
            "block_time": 1726509656
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "start_block": 0,
                "status": "open",
                "tx_hash": "d91c1e127adf6010f11ee5d04a4cd804ece0ff8087b450f307ae85b6f5f83137",
                "tx_index": 22,
                "block_time": 1726509644
            },
            "tx_hash": "d91c1e127adf6010f11ee5d04a4cd804ece0ff8087b450f307ae85b6f5f83137",
            "block_index": 135,
            "block_time": 1726509644
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "536537382f35f3fc4bf3bcb4f6957228528eaa802dc49361f6339cd575de0a16"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726509613
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "d91c1e127adf6010f11ee5d04a4cd804ece0ff8087b450f307ae85b6f5f83137",
                "paid_quantity": 34,
                "source": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                "status": "valid",
                "tx_hash": "a899b1a361e0514262442a4a300d7571606a3462d50819092e649c490fbcb1e6",
                "tx_index": 23,
                "block_time": 1726509648,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "a899b1a361e0514262442a4a300d7571606a3462d50819092e649c490fbcb1e6",
            "block_index": 136,
            "block_time": 1726509648
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "a79ea4de3cb6cae0d2b3bbf427028357f9dca64f8d599c93511be263bfda8c8a:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                "status": "valid",
                "tx_hash": "a79ea4de3cb6cae0d2b3bbf427028357f9dca64f8d599c93511be263bfda8c8a",
                "tx_index": 38,
                "block_time": 1726509724,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a79ea4de3cb6cae0d2b3bbf427028357f9dca64f8d599c93511be263bfda8c8a",
            "block_index": 151,
            "block_time": 1726509724
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qghqkpk28xhsruvxjphq0ecx2ec35v90uksf2j0",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "9d48ae21a1caed318e44591060a2d5873ed0ef5b403a5447046052a111c7dd88:0",
                "status": "valid",
                "tx_hash": "05a57c8eb387d6f5e5f5a0ae90eb2873a7750c2f87e65b21b176c88da3be21ba",
                "tx_index": 37,
                "block_time": 1726509719,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "05a57c8eb387d6f5e5f5a0ae90eb2873a7750c2f87e65b21b176c88da3be21ba",
            "block_index": 150,
            "block_time": 1726509719
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "f48f32cde583a1233260e9d07c858726031b0aadb7550a061602ad6cffd5f3a7:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "3f0027dbe860c95e4cea6d1c83db0d8ea3acf7adbeacefd7e8eb56e9399d879b:0",
                "status": "valid",
                "tx_hash": "f48f32cde583a1233260e9d07c858726031b0aadb7550a061602ad6cffd5f3a7",
                "tx_index": 42,
                "block_time": 1726509741,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "f48f32cde583a1233260e9d07c858726031b0aadb7550a061602ad6cffd5f3a7",
            "block_index": 155,
            "block_time": 1726509741
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qyzyw25seaw22494hrmtlwsm3d5mqyp93fd25da",
                "status": "valid",
                "tx_hash": "2504c4bdafa1c2cab23605685e6a8040748f7d6df91f857b42f1cb259d3a91e0",
                "tx_index": 9,
                "block_time": 1726509573,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "2504c4bdafa1c2cab23605685e6a8040748f7d6df91f857b42f1cb259d3a91e0",
            "block_index": 121,
            "block_time": 1726509573
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                    "block_time": 1726509912,
                    "previous_block_hash": "356d63b3ac8ed95b008257f61aee3850ec360d8ac8d808d0b0e0ceab8de6ee1e",
                    "difficulty": 545259519,
                    "ledger_hash": "260bca5241d162936ae20e643b78cd69f7c3d74370745be7447cbaae1dde9a9c",
                    "txlist_hash": "1ecd81dbebae4723fab572ad7f59f8712a540b524662de521ea50631e83b7e7b",
                    "messages_hash": "a5b39b3745218a45506fcbd2397ab67628c6263f2173159bdf4b259978114bde",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "356d63b3ac8ed95b008257f61aee3850ec360d8ac8d808d0b0e0ceab8de6ee1e",
                    "block_time": 1726509908,
                    "previous_block_hash": "44555f5ae4cd1f61f3df9e675ad106b01fca685a76eff37b685758a1f234afb2",
                    "difficulty": 545259519,
                    "ledger_hash": "a352fa09b0c8621cb30776de9b016c7b433da3453f51a01610e0d8a706b94c7e",
                    "txlist_hash": "83367c52c5808cc55d9902d446542239ae36c22d7b7d92678f128ad83f58aaea",
                    "messages_hash": "3172cc5949c44703a36181b1b938faf388d0cf72e686932ee5ee218ee893e4a6",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "44555f5ae4cd1f61f3df9e675ad106b01fca685a76eff37b685758a1f234afb2",
                    "block_time": 1726509903,
                    "previous_block_hash": "214a1e1ed38b3e555167f5f21d78c8c3e487ea62d748cd8200a3b3e18f2b6017",
                    "difficulty": 545259519,
                    "ledger_hash": "20f305d9381284d270d7c1d22ba897f66d072d2f1df42dfeeffdf903e9627921",
                    "txlist_hash": "57455bb363a21c6f49fa641f5bedf87e9eedc785270ddc90711b98f54eb0f113",
                    "messages_hash": "2f8a089ba7d158feab1cd9daea1fc5a85d43e2de099feb80f384f9fafe9efbb5",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "214a1e1ed38b3e555167f5f21d78c8c3e487ea62d748cd8200a3b3e18f2b6017",
                    "block_time": 1726509899,
                    "previous_block_hash": "4147554b4c1d081b097b1c6278509e7da43fbec27bdb1ad6cb8414e44ba4445b",
                    "difficulty": 545259519,
                    "ledger_hash": "5dac3b61245453c5448b8e8ef6eaf53e9ca0a371d3b6524ca97ef99e40551036",
                    "txlist_hash": "5caba1ce46d6c7e9d5a7cb1c794b331dd473323683be48d62b3e03fef3a9cb75",
                    "messages_hash": "a3d30ea5b4343aac41752e3cbe083b2f9a5070adb3e28d3cf3b586d60b13f937",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "4147554b4c1d081b097b1c6278509e7da43fbec27bdb1ad6cb8414e44ba4445b",
                    "block_time": 1726509894,
                    "previous_block_hash": "6af6f23af835e0b3e7515a3d98e43a2ff75b7baf8d552fe27cbaf82dc8974780",
                    "difficulty": 545259519,
                    "ledger_hash": "3f97c50ca5edc66440c05c58badb6d8f26237669ef20c001a05e476404900c94",
                    "txlist_hash": "ed6472060345e91ae8e05a0f6d7a9a0e657098f47eae73e2e644fc7e455e67d3",
                    "messages_hash": "9f629d60ea05b595361922207a4b99e144e342dcc0cef5755d71e920ec551ba7",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                "block_time": 1726509912,
                "previous_block_hash": "356d63b3ac8ed95b008257f61aee3850ec360d8ac8d808d0b0e0ceab8de6ee1e",
                "difficulty": 545259519,
                "ledger_hash": "260bca5241d162936ae20e643b78cd69f7c3d74370745be7447cbaae1dde9a9c",
                "txlist_hash": "1ecd81dbebae4723fab572ad7f59f8712a540b524662de521ea50631e83b7e7b",
                "messages_hash": "a5b39b3745218a45506fcbd2397ab67628c6263f2173159bdf4b259978114bde",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                "block_time": 1726509912,
                "previous_block_hash": "356d63b3ac8ed95b008257f61aee3850ec360d8ac8d808d0b0e0ceab8de6ee1e",
                "difficulty": 545259519,
                "ledger_hash": "260bca5241d162936ae20e643b78cd69f7c3d74370745be7447cbaae1dde9a9c",
                "txlist_hash": "1ecd81dbebae4723fab572ad7f59f8712a540b524662de521ea50631e83b7e7b",
                "messages_hash": "a5b39b3745218a45506fcbd2397ab67628c6263f2173159bdf4b259978114bde",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                    "block_index": 193,
                    "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
                    "block_time": 1726509912,
                    "source": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "a352fa09b0c8621cb30776de9b016c7b433da3453f51a01610e0d8a706b94c7e",
                        "messages_hash": "3172cc5949c44703a36181b1b938faf388d0cf72e686932ee5ee218ee893e4a6",
                        "transaction_count": 1,
                        "txlist_hash": "83367c52c5808cc55d9902d446542239ae36c22d7b7d92678f128ad83f58aaea",
                        "block_time": 1726509908
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "tx_index": 58
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                        "status": "valid",
                        "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "tx_index": 58,
                        "block_time": 1726509908,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726509908,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726509908,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726509908,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726509908,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726509908,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726509908,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726509908,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726509908,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726509912,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "afd6eab5bb50283dc170ad276157e78db2dc90cb330d559320b9adc3721a1fbc",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726509796
                },
                {
                    "type": "order",
                    "object_id": "e2263719273ed7cbb5496ae9daff21e24a2899e76feea1abbd4e91fa72766b5d",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726509796
                },
                {
                    "type": "order_match",
                    "object_id": "e2263719273ed7cbb5496ae9daff21e24a2899e76feea1abbd4e91fa72766b5d_afd6eab5bb50283dc170ad276157e78db2dc90cb330d559320b9adc3721a1fbc",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726509796
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec",
                    "block_index": 190,
                    "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "offer_hash": "5e324d551a694d3f6ffc9c67b3db8817d470ba32257047ddee237d3d07c1a1e2",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726509899
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
                    "block_index": 193,
                    "source": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726509912,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "3f80ba6dc66be4e5b604bbf8e1e2007161960069d871f7cb00b1d24f9f090491",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726509780,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "e8fda956958ed7de0a98e42d8d28349b9c7b5e20da375c185c5830526df6594f",
                    "block_index": 188,
                    "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "destination": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726509890,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "e8fda956958ed7de0a98e42d8d28349b9c7b5e20da375c185c5830526df6594f",
                    "block_index": 188,
                    "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "destination": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726509890,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "e8fda956958ed7de0a98e42d8d28349b9c7b5e20da375c185c5830526df6594f",
                    "block_index": 188,
                    "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                    "destination": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726509890,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
                    "block_index": 146,
                    "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                    "destination": "bcrt1qlqcrlvw5t7cnj8r9hjl0qq67c2fyk5kvfra90p",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726509701,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "dba7a5e5bcc1d3d892483a82eeafb64e004cd90c0a18224efca4444c0d5e2d2b",
                    "block_index": 192,
                    "source": "bcrt1q3ds7n4l97tumdkgcr3vyhe04zaxce8ujr8fmr2",
                    "destination": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726509908,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "0b3452fcb5ee0a881ba450a768e89de4e0c89e297785e478dd6fc844975bec3a",
        "block_index": 138,
        "block_hash": "453294ea1f1df8257210f9e7a253332b3347be306ceef8957771aff657052d9f",
        "block_time": 1726509656,
        "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "0b3452fcb5ee0a881ba450a768e89de4e0c89e297785e478dd6fc844975bec3a:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d",
        "block_index": 185,
        "block_hash": "7bb18fb36cb1bd5cb99d781fabe17b43d4b67ee7530bd6ab46356fdb3e139fa6",
        "block_time": 1726509867,
        "source": "bcrt1q27zp64q9t2gw6vdy06vzrlf3rrnw0pvja32j8t",
        "destination": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
        "supported": true,
        "utxos_info": "d749fed653092a4854ac8c9773d9610edfb2b12db4c962aa3795cc653e8a624d:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1",
                "tx1_hash": "ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
                "order_match_id": "675f8dccad4bdcf4b54ce5aca7ddc442f642d63e518d64ad6068a264fb9894e1_ebe20caac209f665277d0ac456ab451b4934a7d86529e24fd43b97535e62746a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec",
        "block_index": 190,
        "block_hash": "214a1e1ed38b3e555167f5f21d78c8c3e487ea62d748cd8200a3b3e18f2b6017",
        "block_time": 1726509899,
        "source": "bcrt1q0mfg7g243m5we4u2xwgstem4vgfeqxmwzstddj",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "465e324d551a694d3f6ffc9c67b3db8817d470ba32257047ddee237d3d07c1a1e2",
        "supported": true,
        "utxos_info": "18a9b72fc9e67470cff556297fa5f3dd95ea7d472693f42d597db7ad598c05ec:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "5e324d551a694d3f6ffc9c67b3db8817d470ba32257047ddee237d3d07c1a1e2",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce",
        "block_index": 193,
        "block_hash": "0c078dccb9971fd739e4646df2613ddf86bea7f006a0ec0aabf2253f9f835f58",
        "block_time": 1726509912,
        "source": "bcrt1q4c4scyy4h00jxarlw6ey90n3dqthqxmc065u30",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "f79c39d2a2896a86ef0bb2370101c664b69f2b9387afcd377d8226b839d419ce:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d",
        "block_index": 145,
        "block_hash": "08bdc1edfb36f1d85bc67defec2acfd268f4883895a7c3d6fe6817a5438a4f25",
        "block_time": 1726509697,
        "source": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080feeb565d4498d6075cf256c2b70c424b5f5c0a04",
        "supported": true,
        "utxos_info": "5c8374a3882f222038bbf9a0cce7589e84b790915b9228d66af1a5b0eb61ea2d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535",
        "block_index": 146,
        "block_hash": "4de0e42039680e9c42b597fd03acd28e9a5efe8146eeb01f3fdc17e0544a27e8",
        "block_time": 1726509701,
        "source": "bcrt1qlqcrlvw5t7cnj8r9hjl0qq67c2fyk5kvfra90p",
        "destination": "bcrt1qlm44vh2ynrtqwh8j2mptwrzzfd04czsya4wxcd",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "516159be9547a87a0ab0ce652ce9daebb10796eb67509fa50780dca28d813535:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "65e4ec441796883270c7bb0f18ca610e54b1ad0b3ae8a33e572bca985f65ee00",
        "block_index": 153,
        "block_hash": "7e887e2e71767fce9ed7d481be87683d41eaed909607ad9a84d0cdaf822fd36f",
        "block_time": 1726509732,
[...]
