[//]: # (Generated by genapidoc.py on 2025-02-28 15:36:06.661553. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                "block_index": 245,
                "block_time": 1740756949,
                "difficulty": 545259519,
                "previous_block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                "block_index": 245,
                "block_time": 1740756949,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "fee": 0,
                "source": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                "transaction_type": "dispense",
                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "tx_index": 121,
                "utxos_info": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1 434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "out_index": 0,
                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "tx_index": 121,
                "block_time": 1740756949,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                "transaction_count": 1,
                "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                "block_time": 1740756949
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "tx_index": 121
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                "utxo_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                "block_time": 1740756949,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1740756949,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q8ldhlx5splth6xxsqhvh6vde7xls6e02acyqe0",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "status": "valid",
                "tx_hash": "6502ad34c485b2513b830526e53de4f8543fb5b87b6847ec606702fca6131cf2",
                "tx_index": 77,
                "block_time": 1740756759,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "6502ad34c485b2513b830526e53de4f8543fb5b87b6847ec606702fca6131cf2",
            "block_index": 201,
            "block_time": 1740756759
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q8ldhlx5splth6xxsqhvh6vde7xls6e02acyqe0",
                "status": "valid",
                "tx_hash": "b13967f1626ea6ae279d757880583ae48b8b37f49be978065978a90fc314978f",
                "tx_index": 81,
                "block_time": 1740756774,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "b13967f1626ea6ae279d757880583ae48b8b37f49be978065978a90fc314978f",
            "block_index": 205,
            "block_time": 1740756774
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qn0ps9ughjv3malzajy74dnmhhzq4gx7rasr73u",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qhkf57a0mmdkezu5awj50vugnkcf9awal94a73c",
                "status": "valid",
                "tx_hash": "df64fd0b7cba9feba702f433f35a998e4b5a41e68c175124cda519b52c33a98d",
                "tx_index": 65,
                "block_time": 1740756712,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "df64fd0b7cba9feba702f433f35a998e4b5a41e68c175124cda519b52c33a98d",
            "block_index": 190,
            "block_time": 1740756712
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "status": "valid",
                "tx_hash": "8215118ce1d820b62a13bd4ae9f3c84bae3b987db757c43ec7ddb1f8568b8e43",
                "tx_index": 42,
                "block_time": 1740756566,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "8215118ce1d820b62a13bd4ae9f3c84bae3b987db757c43ec7ddb1f8568b8e43",
            "block_index": 146,
            "block_time": 1740756566
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "status": "valid",
                "transfer": false,
                "tx_hash": "683920c8bb469b18955469800eba614d3ef30bcedb245d1243a0c96f53e3cd53",
                "tx_index": 117,
                "block_time": 1740756929,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "683920c8bb469b18955469800eba614d3ef30bcedb245d1243a0c96f53e3cd53",
            "block_index": 240,
            "block_time": 1740756929
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1740756940
            },
            "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
            "block_index": 243,
            "block_time": 1740756940
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "status": "valid",
                "transfer": false,
                "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
                "tx_index": 120,
                "block_time": 1740756940,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
            "block_index": 243,
            "block_time": 1740756940
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "683920c8bb469b18955469800eba614d3ef30bcedb245d1243a0c96f53e3cd53",
                "tx_index": 117,
                "block_time": 1740756929,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "683920c8bb469b18955469800eba614d3ef30bcedb245d1243a0c96f53e3cd53",
            "block_index": 240,
            "block_time": 1740756929
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "status": "open",
                "tx_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
                "tx_index": 119,
                "block_time": 1740756936,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpqq7y37smfnpr5uu45ayccpwatt4t4wwf0l3ln",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpqq7y37smfnpr5uu45ayccpwatt4t4wwf0l3ln"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
            "block_index": 242,
            "block_time": 1740756936
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "24bb6cebda96260b14536946a3d2917b641acd702ea1bb77f9703c47a583c7cf_e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qpqq7y37smfnpr5uu45ayccpwatt4t4wwf0l3ln",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "24bb6cebda96260b14536946a3d2917b641acd702ea1bb77f9703c47a583c7cf",
                "tx0_index": 118,
                "tx1_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
                "tx1_index": 119,
                "block_time": 1740756936,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpqq7y37smfnpr5uu45ayccpwatt4t4wwf0l3ln",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpqq7y37smfnpr5uu45ayccpwatt4t4wwf0l3ln"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
            "block_index": 242,
            "block_time": 1740756936
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e4c2b657c9a1421280ce01981b32491d0e177c2f677e0f0f25ea6857c5ad199b",
            "block_index": 242,
            "block_time": 1740756936
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "22eefa9cad9c0dae766103240d7c5ab8e0bbaac2dfb0da58a696408ef931ad46"
            },
            "tx_hash": "4b8d3ae6fac0f28ecdf42ad6811514a628886cff4d1068960ae23bdb7aca75bd",
            "block_index": 182,
            "block_time": 1740756682
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "6ef918f8d9a6928bb8cd0ee7177a5fa0e0e75c39ad8193b822890ee9ac8789d7_49359b40303c9ae104d30eb907a56757c77e7a1d04955c2c4e3e48ab70c27d05",
                "order_match_id": "6ef918f8d9a6928bb8cd0ee7177a5fa0e0e75c39ad8193b822890ee9ac8789d7_49359b40303c9ae104d30eb907a56757c77e7a1d04955c2c4e3e48ab70c27d05",
                "status": "expired"
            },
            "tx_hash": "720fe37db1a1bd5b0082a76e0a0f3c4c0741e1f2af2f597d85ec3ede4f6126a1",
            "block_index": 225,
            "block_time": 1740756848
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "order_match_id": "d46582b7455358a9a66532caf1df7d20944650c6002d37ef580964bf39376e87_22eefa9cad9c0dae766103240d7c5ab8e0bbaac2dfb0da58a696408ef931ad46",
                "source": "bcrt1q8ldhlx5splth6xxsqhvh6vde7xls6e02acyqe0",
                "status": "valid",
                "tx_hash": "4b8d3ae6fac0f28ecdf42ad6811514a628886cff4d1068960ae23bdb7aca75bd",
                "tx_index": 57,
                "block_time": 1740756682,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "4b8d3ae6fac0f28ecdf42ad6811514a628886cff4d1068960ae23bdb7aca75bd",
            "block_index": 182,
            "block_time": 1740756682
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "836718a7d75ba40f39bdaf8634f934de36909778ecc7a6277293988525a216ce",
                "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "status": "valid",
                "tx_hash": "feccdf992ddbb49e4895bb98e1e6660a1972d2a3e645ba658daa5cac36112869",
                "tx_index": 63,
                "block_time": 1740756703
            },
            "tx_hash": "feccdf992ddbb49e4895bb98e1e6660a1972d2a3e645ba658daa5cac36112869",
            "block_index": 188,
            "block_time": 1740756703
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "6ef918f8d9a6928bb8cd0ee7177a5fa0e0e75c39ad8193b822890ee9ac8789d7",
                "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "block_time": 1740756796
            },
            "tx_hash": "63c58c8c2296acb068db3933f3dbefe4023078b7bd580ee125a47041512e8ff5",
            "block_index": 211,
            "block_time": 1740756796
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "6ef918f8d9a6928bb8cd0ee7177a5fa0e0e75c39ad8193b822890ee9ac8789d7_49359b40303c9ae104d30eb907a56757c77e7a1d04955c2c4e3e48ab70c27d05",
                "tx0_address": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "tx1_address": "bcrt1qhkf57a0mmdkezu5awj50vugnkcf9awal94a73c",
                "block_time": 1740756848
            },
            "tx_hash": "720fe37db1a1bd5b0082a76e0a0f3c4c0741e1f2af2f597d85ec3ede4f6126a1",
            "block_index": 225,
            "block_time": 1740756848
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qqa4mnqwnk7y9557dyjsj0q08y24wjkehp6vx73",
                "satoshirate": 1,
                "source": "bcrt1qqa4mnqwnk7y9557dyjsj0q08y24wjkehp6vx73",
                "status": 0,
                "tx_hash": "4ac66721cd33de8d0e74a74959f7c0ebbe6afdb2263dda2e04b6238b7aea9153",
                "tx_index": 114,
                "block_time": 1740756915,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "4ac66721cd33de8d0e74a74959f7c0ebbe6afdb2263dda2e04b6238b7aea9153",
            "block_index": 236,
            "block_time": 1740756915
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "status": 0,
                "tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mqj2enpUxcXStJZYaBxKTnkjT5dmCyY9RN",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "c7db86c998ea7b7926da73a7d4d648cfce4ff04450024e6d760fe232a9d04a5e",
                "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                "tx_hash": "7fb969bb9bec07dcb18a53b3ed2bec6056340ed679162a9a0bde5913cfcbf115",
                "tx_index": 31,
                "block_time": 1740756524,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "7fb969bb9bec07dcb18a53b3ed2bec6056340ed679162a9a0bde5913cfcbf115",
            "block_index": 135,
            "block_time": 1740756524
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "tx_index": 121,
                "block_time": 1740756949,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "3dd4b42a2b05d059552346dad3eee3befbe000f97d23a76513c14f559a695c24",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1740756504,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "3dd4b42a2b05d059552346dad3eee3befbe000f97d23a76513c14f559a695c24",
            "block_index": 129,
            "block_time": 1740756504
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "start_block": 0,
                "status": "open",
                "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
                "tx_index": 120,
                "block_time": 1740756940,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
            "block_index": 243,
            "block_time": 1740756940
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "1a26bf876742a16f20f3682bc90e66d18b3a280c4c2747aa78bb4f67220145e7"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1740756858
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "4bea57bee86de46e3155990d80c31339cd28e8c64a757923a62dcd88302b9458",
                "paid_quantity": 100000000,
                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "status": "valid",
                "tx_hash": "7a838c25d2d319284a496b4b3bcbac706b8884e52a5cdb0c1c1a9710b28bb829",
                "tx_index": 97,
                "block_time": 1740756833,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "7a838c25d2d319284a496b4b3bcbac706b8884e52a5cdb0c1c1a9710b28bb829",
            "block_index": 221,
            "block_time": 1740756833
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "3379dd1dd13c84e75c589e29e640b5f1c26b04ea0253e65e375d9b00aaa22fbd:0",
                "destination_address": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "status": "valid",
                "tx_hash": "3379dd1dd13c84e75c589e29e640b5f1c26b04ea0253e65e375d9b00aaa22fbd",
                "tx_index": 112,
                "block_time": 1740756910,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3379dd1dd13c84e75c589e29e640b5f1c26b04ea0253e65e375d9b00aaa22fbd",
            "block_index": 235,
            "block_time": 1740756910
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "029fc42de0cffc6ddc735b00452a6bc71d842948d1475754df22bfd601100f5a:0",
                "source_address": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                "status": "valid",
                "tx_hash": "04de5ec972920106082453840138051b3b3adbf146281ecd608bfe85b952cc05",
                "tx_index": 111,
                "block_time": 1740756906,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "04de5ec972920106082453840138051b3b3adbf146281ecd608bfe85b952cc05",
            "block_index": 234,
            "block_time": 1740756906
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                "destination_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                "source_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                "status": "valid",
                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                "tx_index": 121,
                "block_time": 1740756949,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
            "block_index": 245,
            "block_time": 1740756949
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qnedf8vpmey7kyptyw9rsygwe2awdx56n5w62v9",
                "status": "valid",
                "tx_hash": "d5f87adc9f1110b2a20051229ffdedc0e62dcc03546c0399a604bd9b93dacbd3",
                "tx_index": 9,
                "block_time": 1740756442,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "d5f87adc9f1110b2a20051229ffdedc0e62dcc03546c0399a604bd9b93dacbd3",
            "block_index": 112,
            "block_time": 1740756442
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                    "block_time": 1740756949,
                    "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                    "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                    "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                    "previous_block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216",
                    "block_time": 1740756944,
                    "ledger_hash": "349ca9a431b3dd49877c57f3b4260c57ee26a15fbdf990e833136aad4560e97c",
                    "txlist_hash": "047435b5f5f050f003592e8fe69d8bb71630ee3fa0efcb6b07ab427627e8deed",
                    "messages_hash": "84f40994c8b57009a1da030e3883b0337695f2bd2bfb620e89500d7de8572506",
                    "previous_block_hash": "2880114ae0142aed7d6dcdc5ce5bd1a27dcc442613181763f19ef419e65039a4",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "2880114ae0142aed7d6dcdc5ce5bd1a27dcc442613181763f19ef419e65039a4",
                    "block_time": 1740756940,
                    "ledger_hash": "6719dbdc3c067513fe7870e0f96d3fbeb9385c00a66aa5b1dd1beb7ee9c47b2b",
                    "txlist_hash": "5cf834aa322e31b89b079ff119890c9cdfc6b9849b7808b29a125aa709354052",
                    "messages_hash": "8cbcdaaa89c14445f61ea3cebe4166a2bc771e39cc5b5174a4a80fbb8ad7b447",
                    "previous_block_hash": "45b46d7e8a2aee1a6eeae4ee77e8a195159818e116dafdb235e96f32e62e1d0b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "45b46d7e8a2aee1a6eeae4ee77e8a195159818e116dafdb235e96f32e62e1d0b",
                    "block_time": 1740756936,
                    "ledger_hash": "3dbb1402bd6bcb3383dbb504160bb1062a688fe0900b59b413aed3159e3b006d",
                    "txlist_hash": "c17e468c48b3c2c99c98a999d2e2036aa70a5173fcc802b8954156d392d124d2",
                    "messages_hash": "569aa259049023bc0770cfc1259c832d6b8b34af1a73bef7676906b4152b61ec",
                    "previous_block_hash": "3a91209e2f5cdb11bfae63114b64adfb15f285bfdf6cf37a1664875075373c9c",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "3a91209e2f5cdb11bfae63114b64adfb15f285bfdf6cf37a1664875075373c9c",
                    "block_time": 1740756932,
                    "ledger_hash": "795d6b3c81208da84794e28730ef991912ec9fe745b858ce9d91ef36d89f702d",
                    "txlist_hash": "ee4dd9ac823123a87d54580e6db04c2e2a1ace016a9353da10958eba16c91341",
                    "messages_hash": "d88c921a6c87ca1fc870953f0e31f5b46582fc809fe31d860586d8439895f11f",
                    "previous_block_hash": "2f9244effa15d1be9ba76fdfefe61a6b414c4fe680858d75aba1b1be80ce1248",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                "block_time": 1740756949,
                "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                "previous_block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                "block_time": 1740756949,
                "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                "previous_block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                "block_time": 1740756949,
                "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                "previous_block_hash": "3f8df5d7378303ffcd06bd007adb3bdefff79db5a9af3f93a62a7ef0e3a11216",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "block_index": 245,
                    "block_hash": "567bc6993d1928b325c3de01c49fb21dfad175f50c3052f1fcc3901b19f14f82",
                    "block_time": 1740756949,
                    "source": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "destination": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1 434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                                "destination_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                                "source_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                                "status": "valid",
                                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                                "tx_index": 121,
                                "block_time": 1740756949,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                            "block_index": 245,
                            "block_time": 1740756949
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                                "destination_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                                "source_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                                "status": "valid",
                                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                                "tx_index": 121,
                                "block_time": 1740756949,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                            "block_index": 245,
                            "block_time": 1740756949
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                                "status": 0,
                                "tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                            "block_index": 245,
                            "block_time": 1740756949
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                                "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                                "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                                "tx_index": 121,
                                "block_time": 1740756949,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                            "block_index": 245,
                            "block_time": 1740756949
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "81b3b5e85e5d60a5e71b21bd34b75beb41fc42ca3f5a0b270b506205e2035771",
                        "messages_hash": "03008226ec47774ca58f15572a681b9191515206f5b6c39ad31f8bd15e454ff3",
                        "transaction_count": 1,
                        "txlist_hash": "415b3be1ee8588f4793b4782837ce0e6abb5f0a615306b19be8764720e1deba7",
                        "block_time": 1740756949
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "tx_index": 121
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                        "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                        "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "tx_index": 121,
                        "block_time": 1740756949,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                        "status": 0,
                        "tx_hash": "2c40c1a971626fe394d7a8e05e3e328615bbbe120893c227c0a0b04cfe0c9e4d",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740756949,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740756949,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                        "utxo_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                        "block_time": 1740756949,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                        "utxo_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                        "block_time": 1740756949,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "tx_index": 121,
                    "utxo": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                    "utxo_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "tx_index": 121,
                    "utxo": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                    "utxo_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "tx_index": 121,
                    "utxo": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                    "utxo_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "tx_index": 121,
                    "utxo": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                    "utxo_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "6ef918f8d9a6928bb8cd0ee7177a5fa0e0e75c39ad8193b822890ee9ac8789d7",
                    "block_index": 211,
                    "block_time": 1740756796
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "feccdf992ddbb49e4895bb98e1e6660a1972d2a3e645ba658daa5cac36112869",
                    "block_index": 188,
                    "source": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                    "offer_hash": "836718a7d75ba40f39bdaf8634f934de36909778ecc7a6277293988525a216ce",
                    "status": "valid",
                    "block_time": 1740756703
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "683920c8bb469b18955469800eba614d3ef30bcedb245d1243a0c96f53e3cd53",
                    "block_index": 240,
                    "source": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1740756929,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qzregu4xgncw2kxrs6ffmhggm3s0n5vywlkfj8u"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "bcc61fc8b1799bf2da8803908dbd777c12771ac4afe720b594fa05988bf94cc4",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "issuer": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1740756940,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "block_index": 245,
                    "source": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                    "destination": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "destination_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee",
                    "block_index": 245,
                    "source": "4dacaa8a4f0620d11df541dd3fdcb679c41e1f5916385a239d1e32485b9c2414:1",
                    "destination": "434d79c6bffd17ddbfbe2445d34015d9f37927d1377528fd5cc0c3645d12c4ee:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqjse2jjkw5lhhhlf3ecqp9qq7qw6jljqsxen5k",
                    "destination_address": "bcrt1qnfvzzgxza2rthqep52d29peqhk43cnz7u6fxyw",
                    "block_time": 1740756949,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q5yaz22p3gl5r0ex2kec4cd63dhfqmv6hnm062f"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
[...]
