[//]: # (Generated by genapidoc.py on 2024-12-17 07:55:18.521948. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 941,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                "block_index": 235,
                "block_time": 1734422103,
                "difficulty": 545259519,
                "previous_block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482"
            },
            "tx_hash": null,
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 939,
    "result_count": 135
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 942,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                "block_index": 235,
                "block_time": 1734422103,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "fee": 0,
                "source": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                "transaction_type": "dispense",
                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "tx_index": 110,
                "utxos_info": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1 c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 932,
    "result_count": 111
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 943,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 235,
                "btc_amount": 1000,
                "destination": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "out_index": 0,
                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "tx_index": 110,
                "block_time": 1734422103,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 592,
    "result_count": 5
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 954,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 235,
                "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                "transaction_count": 1,
                "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                "block_time": 1734422103
            },
            "tx_hash": null,
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 940,
    "result_count": 135
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 953,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "tx_index": 110
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 937,
    "result_count": 111
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 947,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 235,
                "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "quantity": 2000000000,
                "tx_index": 110,
                "utxo": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                "utxo_address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                "block_time": 1734422103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 944,
    "result_count": 94
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 950,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                "asset": "XCP",
                "block_index": 235,
                "calling_function": "dispense",
                "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "quantity": 66,
                "tx_index": 110,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1734422103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 948,
    "result_count": 114
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qafw3gqx8jkn6pqs234z6r2azzzxfx2xfqqhf3z",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "status": "valid",
                "tx_hash": "105f3b7dadb54462d56b2b72b7e3ce4e129fa7fe630e45eeeee1c3f8e5238421",
                "tx_index": 77,
                "block_time": 1734421940,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "105f3b7dadb54462d56b2b72b7e3ce4e129fa7fe630e45eeeee1c3f8e5238421",
            "block_index": 201,
            "block_time": 1734421940
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1qafw3gqx8jkn6pqs234z6r2azzzxfx2xfqqhf3z",
                "status": "valid",
                "tx_hash": "da46a640742e8e4399fbca3f9e6c53d219160c15ab12fc256fd571b5ea8c8d8b",
                "tx_index": 81,
                "block_time": 1734421965,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "da46a640742e8e4399fbca3f9e6c53d219160c15ab12fc256fd571b5ea8c8d8b",
            "block_index": 205,
            "block_time": 1734421965
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qj3w3glp6ch8wglq7dcfuv7aqdhe5fd2dc0wtj3",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qcu85yqp7jgsqjgvza96eur34n7luglzsdl0jn6",
                "status": "valid",
                "tx_hash": "43e27cb6c4c16e8809ee750b41fc6041b4b10236d07e4f4586f89d0c2f097469",
                "tx_index": 65,
                "block_time": 1734421879,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "43e27cb6c4c16e8809ee750b41fc6041b4b10236d07e4f4586f89d0c2f097469",
            "block_index": 190,
            "block_time": 1734421879
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "status": "valid",
                "tx_hash": "f2482c70038f468b5744fe572b792b71f5a41b6ff59c1d93ffd48b05c8d20daf",
                "tx_index": 42,
                "block_time": 1734421700,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "f2482c70038f468b5744fe572b792b71f5a41b6ff59c1d93ffd48b05c8d20daf",
            "block_index": 146,
            "block_time": 1734421700
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 934,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 233,
                "block_time": 1734422093
            },
            "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
            "block_index": 233,
            "block_time": 1734422093
        }
    ],
    "next_cursor": 899,
    "result_count": 27
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 935,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 233,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "status": "valid",
                "transfer": false,
                "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
                "tx_index": 109,
                "block_time": 1734422093,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
            "block_index": 233,
            "block_time": 1734422093
        }
    ],
    "next_cursor": 900,
    "result_count": 52
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 885,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "PREMINT",
                "block_index": 228,
                "quantity": 50,
                "source": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                "status": "valid",
                "tag": "soft cap not reached",
                "tx_hash": "bbf2fb08f23e2433cd0d8259dcbc975b053656adb30fdec81da5fe3f8b003d22",
                "tx_index": 101,
                "block_time": 1734422067,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super description",
                    "issuer": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000050"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1734422067
        }
    ],
    "next_cursor": 832,
    "result_count": 4
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 925,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 232,
                "expiration": 21,
                "expire_index": 253,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "status": "open",
                "tx_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
                "tx_index": 108,
                "block_time": 1734422089,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qrw6a67v6pahxyqz3wecl8yvll986ss7gj2m890",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
            "block_index": 232,
            "block_time": 1734422089
        }
    ],
    "next_cursor": 920,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 928,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 232,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "99597fb65442649d03bbf2f6251755be32b7f577c36660000828340fa5563aed_3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
                "match_expire_index": 252,
                "status": "pending",
                "tx0_address": "bcrt1qrw6a67v6pahxyqz3wecl8yvll986ss7gj2m890",
                "tx0_block_index": 231,
                "tx0_expiration": 21,
                "tx0_hash": "99597fb65442649d03bbf2f6251755be32b7f577c36660000828340fa5563aed",
                "tx0_index": 107,
                "tx1_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "tx1_block_index": 232,
                "tx1_expiration": 21,
                "tx1_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
                "tx1_index": 108,
                "block_time": 1734422089,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qrw6a67v6pahxyqz3wecl8yvll986ss7gj2m890",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
            "block_index": 232,
            "block_time": 1734422089
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 927,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "3772df2bef0fb8cb6f6533cd3987febb7191557e2e459ed1acfd972aba7f80d8",
            "block_index": 232,
            "block_time": 1734422089
        }
    ],
    "next_cursor": 926,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "00cbdd448fa6efc76d153c6fad9b8c2332da6bda8c2aa4173123a9cdcdf86ec2"
            },
            "tx_hash": "b647094a8fa453118dd2c0097bab225b4d9c930e21fd49e417510535d1852e0e",
            "block_index": 182,
            "block_time": 1734421838
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "bf87d2ee61f01edd21734c6bfe016d94e4eda4e2a6c28c290bee2c1301461c0b_4df13d8f66064b039170082753476589432544eede9a3fe49b21a2b6c04abf9c",
                "order_match_id": "bf87d2ee61f01edd21734c6bfe016d94e4eda4e2a6c28c290bee2c1301461c0b_4df13d8f66064b039170082753476589432544eede9a3fe49b21a2b6c04abf9c",
                "status": "expired"
            },
            "tx_hash": "e6f5631100e035f9590bc5a6c4a030ad895390005fc17b3e225e103720ceea72",
            "block_index": 225,
            "block_time": 1734422057
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "order_match_id": "4c2dbe4544fdaa91a3098d5e32a2225e35a063bf48563ef5b797f1c1949dc61f_00cbdd448fa6efc76d153c6fad9b8c2332da6bda8c2aa4173123a9cdcdf86ec2",
                "source": "bcrt1qafw3gqx8jkn6pqs234z6r2azzzxfx2xfqqhf3z",
                "status": "valid",
                "tx_hash": "b647094a8fa453118dd2c0097bab225b4d9c930e21fd49e417510535d1852e0e",
                "tx_index": 57,
                "block_time": 1734421838,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "b647094a8fa453118dd2c0097bab225b4d9c930e21fd49e417510535d1852e0e",
            "block_index": 182,
            "block_time": 1734421838
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "dda8856ccd8f80255e15ab25c54eba1ffe4a26096567a4f18f0b2d168fb9d51e",
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "status": "valid",
                "tx_hash": "d404d4b7d9725db6025cd8c780c7be3333a9a87371ce79ccf220fea916fe6209",
                "tx_index": 63,
                "block_time": 1734421871
            },
            "tx_hash": "d404d4b7d9725db6025cd8c780c7be3333a9a87371ce79ccf220fea916fe6209",
            "block_index": 188,
            "block_time": 1734421871
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "bf87d2ee61f01edd21734c6bfe016d94e4eda4e2a6c28c290bee2c1301461c0b",
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "block_time": 1734421997
            },
            "tx_hash": "e2ea4a69a815eee9376c6db3e766fbaac9bc88d6f8e211afbcae07f7d1858d0b",
            "block_index": 211,
            "block_time": 1734421997
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "bf87d2ee61f01edd21734c6bfe016d94e4eda4e2a6c28c290bee2c1301461c0b_4df13d8f66064b039170082753476589432544eede9a3fe49b21a2b6c04abf9c",
                "tx0_address": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "tx1_address": "bcrt1qcu85yqp7jgsqjgvza96eur34n7luglzsdl0jn6",
                "block_time": 1734422057
            },
            "tx_hash": "e6f5631100e035f9590bc5a6c4a030ad895390005fc17b3e225e103720ceea72",
            "block_index": 225,
            "block_time": 1734422057
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 587,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "TESTLOCKDESC",
                "block_index": 193,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": null,
                "origin": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "satoshirate": 1,
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "status": 0,
                "tx_hash": "6e5d770f62f07c63124846967c7f99a90a68e3d4a86e365fac923b0ba6cf3616",
                "tx_index": 68,
                "block_time": 1734421899,
                "asset_info": {
                    "asset_longname": null,
                    "description": "Test Locking Description",
                    "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6e5d770f62f07c63124846967c7f99a90a68e3d4a86e365fac923b0ba6cf3616",
            "block_index": 193,
            "block_time": 1734421899
        }
    ],
    "next_cursor": 264,
    "result_count": 5
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 951,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "status": 0,
                "tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 594,
    "result_count": 8
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mnvMfWutEKv2DtwHfLqf1LTiXzBngySrV7",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "bdc4bd3995c62b3e42dfa71928b7be75ce0168471a48cf1a0d81a82021b4b548",
                "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                "tx_hash": "42e040285eceb340165b32a5957e8499bfbace358c169296c66017b311c0c3fb",
                "tx_index": 31,
                "block_time": 1734421658,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "42e040285eceb340165b32a5957e8499bfbace358c169296c66017b311c0c3fb",
            "block_index": 135,
            "block_time": 1734421658
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 952,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 235,
                "btc_amount": 1000,
                "destination": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "tx_index": 110,
                "block_time": 1734422103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 595,
    "result_count": 5
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "bf2a2812d145677d9bf5b1842fbba26cb6496b29172eaa2fc1cbd6f28a252ed1",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1734421636,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "bf2a2812d145677d9bf5b1842fbba26cb6496b29172eaa2fc1cbd6f28a252ed1",
            "block_index": 129,
            "block_time": 1734421636
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 933,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 233,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "start_block": 0,
                "status": "open",
                "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
                "tx_index": 109,
                "block_time": 1734422093,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
            "block_index": 233,
            "block_time": 1734422093
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "bbf2fb08f23e2433cd0d8259dcbc975b053656adb30fdec81da5fe3f8b003d22"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1734422067
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "9f02cf4ea3e41bfbef5fc23767764c39c6cdc5f9880650a7873d49526e9a2812",
                "paid_quantity": 100000000,
                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                "status": "valid",
                "tx_hash": "14a0f5b0a2f0ff7ddfa0075f74468c2f4e505d370c30db6d2de57a5f10f49fb6",
                "tx_index": 97,
                "block_time": 1734422041,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "14a0f5b0a2f0ff7ddfa0075f74468c2f4e505d370c30db6d2de57a5f10f49fb6",
            "block_index": 221,
            "block_time": 1734422041
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 906,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "CHAINING",
                "block_index": 230,
                "destination": "3a7442f366ee5d86452d1fee34c680a3a578ced7b7de12c24bb9d2726487aa9b:0",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "source": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                "status": "valid",
                "tx_hash": "3a7442f366ee5d86452d1fee34c680a3a578ced7b7de12c24bb9d2726487aa9b",
                "tx_index": 104,
                "block_time": 1734422083,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset CHAINING",
                    "issuer": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3a7442f366ee5d86452d1fee34c680a3a578ced7b7de12c24bb9d2726487aa9b",
            "block_index": 230,
            "block_time": 1734422083
        }
    ],
    "next_cursor": 638,
    "result_count": 6
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 914,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "CHAINING",
                "block_index": 230,
                "destination": "bcrt1qsw0ekc9dvucak785m4ppra6ejcczml2ahm0dfq",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "source": "c32f9610d7a15c60b5b671a48da5d5e6026b002153cfc62f406fd4e7c55e321e:0",
                "status": "valid",
                "tx_hash": "06f7c17fd6279874f30302c2376ea2edbecb040b7994b47da43d82c4e1a770b5",
                "tx_index": 106,
                "block_time": 1734422083,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset CHAINING",
                    "issuer": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "06f7c17fd6279874f30302c2376ea2edbecb040b7994b47da43d82c4e1a770b5",
            "block_index": 230,
            "block_time": 1734422083
        }
    ],
    "next_cursor": 630,
    "result_count": 3
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 949,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 235,
                "destination": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                "msg_index": 1,
                "quantity": 2000000000,
                "source": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                "status": "valid",
                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                "tx_index": 110,
                "block_time": 1734422103,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
            "block_index": 235,
            "block_time": 1734422103
        }
    ],
    "next_cursor": 946,
    "result_count": 12
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qmejuf224w6qnfe3mhdmekc3234n7ntt2m9z60c",
                "status": "valid",
                "tx_hash": "692a0d2f6e355e5f8be5ab856fd7eba3e09aefd4e524c157e449bcb37bad3fe7",
                "tx_index": 9,
                "block_time": 1734421570,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "692a0d2f6e355e5f8be5ab856fd7eba3e09aefd4e524c157e449bcb37bad3fe7",
            "block_index": 112,
            "block_time": 1734421570
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.8.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `235` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 235,
                    "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                    "block_time": 1734422103,
                    "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                    "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                    "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                    "previous_block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 234,
                    "block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482",
                    "block_time": 1734422098,
                    "ledger_hash": "6663e1d104fdd0bae2c9b81cf45da615c1897dfd6c4a8e08c9222cabbbcf5142",
                    "txlist_hash": "491c64cac10e6e7c567e1f698a0a2afd19c382285d268e8c174d9c85e504f5c5",
                    "messages_hash": "f4155ecfdf2c6286d5c2f2bb75c4c9470b3d0e30afb722d3196f08a46c895654",
                    "previous_block_hash": "63e05614755b701fdcfce46bd7a1a69b3e403b01a166a25884902109e28eeb4b",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 233,
                    "block_hash": "63e05614755b701fdcfce46bd7a1a69b3e403b01a166a25884902109e28eeb4b",
                    "block_time": 1734422093,
                    "ledger_hash": "67c38746f92fdba8a7751bc891a82d068336b02bd85d3a6da0730d2715ace406",
                    "txlist_hash": "d73e94ee09d4b814955303880d7b4032856ff1c219539d854a8e0fea960c833b",
                    "messages_hash": "bc9140683ad2677410387dc7963c2b2a2443c3cd7e34dc9ef9c97404f923581e",
                    "previous_block_hash": "28f40ce6fe8f7c4185258c735a4e17a35d408b03ff2c80910f5a6c88c1f49053",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 232,
                    "block_hash": "28f40ce6fe8f7c4185258c735a4e17a35d408b03ff2c80910f5a6c88c1f49053",
                    "block_time": 1734422089,
                    "ledger_hash": "9c609d70d57a29308105c08d735135b03e82b687566e672a7cedbad5e92c3c6f",
                    "txlist_hash": "4c823b2bcf94e50e5e7e4347598a35a20a42972228a3952c3c2543131d8486a0",
                    "messages_hash": "45bc72e6146ba4835a7e81f1c7faa9038aac00f4e3366dcff4f94ce052670735",
                    "previous_block_hash": "24b3239ea00ce6dcb974215fc1b6ab39b715b48d99fdb8c0279d143b85898864",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 231,
                    "block_hash": "24b3239ea00ce6dcb974215fc1b6ab39b715b48d99fdb8c0279d143b85898864",
                    "block_time": 1734422086,
                    "ledger_hash": "3eed6decd94b75901ffc6027f63a50e39e9f30debd84ea1d133d61277b428a89",
                    "txlist_hash": "eddfe8af4f94a31ac877484b4ce2546dc69cd05601b32d9c8a039d46513e8522",
                    "messages_hash": "fb989b43fddbb2ba0d2523fbe87fd6da03c6fa59ad9aaf19d592694a6b5b72de",
                    "previous_block_hash": "58799825c89ac7db17b7926c4124371dff0515b109fc51152db9cca4a65ce2d5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 230,
            "result_count": 135
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 235,
                "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                "block_time": 1734422103,
                "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                "previous_block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 235,
                "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                "block_time": 1734422103,
                "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                "previous_block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 235,
                "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                "block_time": 1734422103,
                "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                "previous_block_hash": "7ce820b8b38e6ee8bfa75aec08a7a18c8995192d7ec069e49406e86252ca4482",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `110` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 110,
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "block_index": 235,
                    "block_hash": "4bffd6153a771f8c7c552281670e02bdba8d7052b31415bd727cc8630b2b5a49",
                    "block_time": 1734422103,
                    "source": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                    "destination": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1 c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 946,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 235,
                                "destination": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "source": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                                "status": "valid",
                                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                                "tx_index": 110,
                                "block_time": 1734422103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                            "block_index": 235,
                            "block_time": 1734422103
                        },
                        {
                            "event_index": 949,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 235,
                                "destination": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "source": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                                "status": "valid",
                                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                                "tx_index": 110,
                                "block_time": 1734422103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                            "block_index": 235,
                            "block_time": 1734422103
                        },
                        {
                            "event_index": 951,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                                "status": 0,
                                "tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                            "block_index": 235,
                            "block_time": 1734422103
                        },
                        {
                            "event_index": 952,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 235,
                                "btc_amount": 1000,
                                "destination": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                                "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                                "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                                "tx_index": 110,
                                "block_time": 1734422103,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                            "block_index": 235,
                            "block_time": 1734422103
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `110` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `954` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 954,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 235,
                        "ledger_hash": "a8522fdd24364bc0f5328cb4daca11c3d9399463617cf34a01fa4537816dd0e0",
                        "messages_hash": "f7ee8fc66c14e9af1cefca682294c55c45b30903672140f909c584e908b56fec",
                        "transaction_count": 1,
                        "txlist_hash": "01b5d833aaa898876c3aae4f3686ad79def3510b45f44a650e1502366f41e80f",
                        "block_time": 1734422103
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 953,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "tx_index": 110
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                },
                {
                    "event_index": 952,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 235,
                        "btc_amount": 1000,
                        "destination": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                        "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "tx_index": 110,
                        "block_time": 1734422103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                },
                {
                    "event_index": 951,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "status": 0,
                        "tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                },
                {
                    "event_index": 950,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                        "asset": "XCP",
                        "block_index": 235,
                        "calling_function": "dispense",
                        "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "quantity": 66,
                        "tx_index": 110,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1734422103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                }
            ],
            "next_cursor": 949,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 950,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                        "asset": "XCP",
                        "block_index": 235,
                        "calling_function": "dispense",
                        "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "quantity": 66,
                        "tx_index": 110,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1734422103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                },
                {
                    "event_index": 948,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 235,
                        "calling_function": "utxo move",
                        "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "quantity": 2000000000,
                        "tx_index": 110,
                        "utxo": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                        "utxo_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "block_time": 1734422103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                },
                {
                    "event_index": 945,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 235,
                        "calling_function": "utxo move",
                        "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                        "quantity": 2000000000,
                        "tx_index": 110,
                        "utxo": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                        "utxo_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "block_time": 1734422103,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 235,
                    "address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "tx_index": 110,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 235,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "tx_index": 110,
                    "utxo": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                    "utxo_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 235,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "tx_index": 110,
                    "utxo": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                    "utxo_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 235,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "tx_index": 110,
                    "utxo": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                    "utxo_address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 235,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "tx_index": 110,
                    "utxo": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                    "utxo_address": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "bf87d2ee61f01edd21734c6bfe016d94e4eda4e2a6c28c290bee2c1301461c0b",
                    "block_index": 211,
                    "block_time": 1734421997
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "d404d4b7d9725db6025cd8c780c7be3333a9a87371ce79ccf220fea916fe6209",
                    "block_index": 188,
                    "source": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                    "offer_hash": "dda8856ccd8f80255e15ab25c54eba1ffe4a26096567a4f18f0b2d168fb9d51e",
                    "status": "valid",
                    "block_time": 1734421871
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `228` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 101,
                    "tx_hash": "bbf2fb08f23e2433cd0d8259dcbc975b053656adb30fdec81da5fe3f8b003d22",
                    "block_index": 228,
                    "source": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                    "asset": "PREMINT",
                    "quantity": 50,
                    "tag": "soft cap not reached",
                    "status": "valid",
                    "block_time": 1734422067,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super description",
                        "issuer": "bcrt1qxghy7sh3c3kj4l3pmw5suet70wcvcuxa9qhu8h",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000050"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `233` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 109,
                    "tx_hash": "23c0e58b7e21d49a46b66d80ecdad6e3bc2dad2851c2f123c1fffebc476b8013",
                    "msg_index": 0,
                    "block_index": 233,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "issuer": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "locked": false,
                    "status": "valid",
                    "asset_longname": null,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "block_time": 1734422093,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 110,
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "block_index": 235,
                    "source": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                    "destination": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 110,
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "block_index": 235,
                    "source": "9f5d3d91d6b4220a60cd0093de3f5bdc38deb9d2234ec188aae0a322fec3798c:1",
                    "destination": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5hpm2umhhhasjcv0auxlulz5ee66a5ufch3ryg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `235` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 110,
                    "dispense_index": 0,
                    "tx_hash": "c8c806c611be8238aea3a2dba26cbd8ee7f44420902e9996a1e8d42f95d2b65d",
                    "block_index": 235,
                    "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                    "destination": "bcrt1qvwfzsrqy4auzqj2jvrmvjjkqy969whkw979gfs",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "ee5e9dd9b0cf87ad95f872176249ac1060932546f7d6aa0a1a8ef5dcdf123320",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 235,
                        "source": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qps0ku5utakyu6ma4n3lfnedprqjyrgtsg25h96",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1734422103,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "dispense_quantity_normalized": "0.00000066",
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}]

Returns the sweeps of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 65,
                    "tx_hash": "43e27cb6c4c16e8809ee750b41fc6041b4b10236d07e4f4586f89d0c2f097469",
                    "block_index": 190,
                    "source": "bcrt1qcu85yqp7jgsqjgvza96eur34n7luglzsdl0jn6",
                    "destination": "bcrt1qj3w3glp6ch8wglq7dcfuv7aqdhe5fd2dc0wtj3",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "block_time": 1734421879,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Fairminters By Block [GET /v2/blocks/{block_index}/fairminters{?status}{&cursor}{&limit}{&offset}{&verbose}]

Returns the fairminters by its block index

+ Parameters
    + block_index: `233` (int, required) - The block index of the fairminter to return
    + status (enum[str], optional) - The status of the fairminters to return
        + Default: `all`
        + Members
            + `all`
            + `open`
            + `closed`
            + `pending`
    + cursor (str, optional) - The last index of the fairminter to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of fairminter to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before
        + Default: `None`
[...]
