<<<<<<< HEAD
[//]: # (Generated by genapidoc.py on 2025-03-12 15:09:35.396802. Do not edit manually.)
=======
[//]: # (Generated by genapidoc.py on 2025-03-05 11:13:29.686223. Do not edit manually.)
>>>>>>> e42b7172 (fix sweep memo decoding)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_index": 245,
                "block_time": 1741792157,
                "difficulty": 545259519,
                "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741792157
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                "block_index": 245,
                "block_time": 1741173189,
                "difficulty": 545259519,
                "previous_block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_index": 245,
                "block_time": 1741792157,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "fee": 0,
                "source": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "transaction_type": "dispense",
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "utxos_info": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1 3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                "block_index": 245,
                "block_time": 1741173189,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "fee": 0,
                "source": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "transaction_type": "dispense",
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "tx_index": 121,
                "utxos_info": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1 898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
<<<<<<< HEAD
                "destination": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "out_index": 0,
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "block_time": 1741792157,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "destination": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "out_index": 0,
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "tx_index": 121,
                "block_time": 1741173189,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
<<<<<<< HEAD
                "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                "transaction_count": 1,
                "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                "block_time": 1741792157
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741792157
=======
                "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602",
                "transaction_count": 1,
                "txlist_hash": "49e6194db36b7bdc4d5c430bf811ccc118e3fb313bb0d75530695ac151095804",
                "block_time": 1741173189
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
<<<<<<< HEAD
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "tx_index": 121
            },
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
<<<<<<< HEAD
                "event": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1",
                "utxo_address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "block_time": 1741792157,
=======
                "event": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1",
                "utxo_address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
<<<<<<< HEAD
                "address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
=======
                "address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
<<<<<<< HEAD
                "block_time": 1741792157,
=======
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
<<<<<<< HEAD
                "destination": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
=======
                "destination": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
<<<<<<< HEAD
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "d100fbb726b6c20965dcd05208a620ac6a1fa9ddf7563ef014d5f6db73c744c6",
                "tx_index": 77,
                "block_time": 1741791969,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "d100fbb726b6c20965dcd05208a620ac6a1fa9ddf7563ef014d5f6db73c744c6",
            "block_index": 201,
            "block_time": 1741791969
=======
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "status": "valid",
                "tx_hash": "52b964beee6e32b45e1de7e0a3a32fcf6ad1c7275f26b49d067ad503d7215542",
                "tx_index": 77,
                "block_time": 1741173010,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "52b964beee6e32b45e1de7e0a3a32fcf6ad1c7275f26b49d067ad503d7215542",
            "block_index": 201,
            "block_time": 1741173010
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
<<<<<<< HEAD
                "destination": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
=======
                "destination": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
<<<<<<< HEAD
                "source": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
                "status": "valid",
                "tx_hash": "968a2ff92c34e6477328085dab440705fa216cd13f23be338ebdb707ba3fb3f2",
                "tx_index": 81,
                "block_time": 1741791984,
=======
                "source": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
                "status": "valid",
                "tx_hash": "be43b288ec5094791c8d220c8bb5c624f51ca608ef5036c449462a48267e713c",
                "tx_index": 81,
                "block_time": 1741173024,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
<<<<<<< HEAD
            "tx_hash": "968a2ff92c34e6477328085dab440705fa216cd13f23be338ebdb707ba3fb3f2",
            "block_index": 205,
            "block_time": 1741791984
=======
            "tx_hash": "be43b288ec5094791c8d220c8bb5c624f51ca608ef5036c449462a48267e713c",
            "block_index": 205,
            "block_time": 1741173024
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
<<<<<<< HEAD
                "destination": "bcrt1q8dkcdnk53mtp63y4tmdylzm95mdjw7ddu5lwuy",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6cvz8t4h9xyr2ftsrp7vf3jz50upf7fmfcxmqk",
                "status": "valid",
                "tx_hash": "a9db053e79abc37688e503561e26f641dd9ee30796b277bc5d4aa979193df21b",
                "tx_index": 65,
                "block_time": 1741791922,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "a9db053e79abc37688e503561e26f641dd9ee30796b277bc5d4aa979193df21b",
            "block_index": 190,
            "block_time": 1741791922
=======
                "destination": "bcrt1qkl3au7j5mavkakclnntdj3s69v69d34mktn27e",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qkeumt4e3armhffxmtywx2609dh3fvms9cru46a",
                "status": "valid",
                "tx_hash": "47ccbe59bd7745bb4da845193b8a233c5bb4ca7295ad4a25ef62d0473ad4c79a",
                "tx_index": 65,
                "block_time": 1741172965,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "47ccbe59bd7745bb4da845193b8a233c5bb4ca7295ad4a25ef62d0473ad4c79a",
            "block_index": 190,
            "block_time": 1741172965
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
<<<<<<< HEAD
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "a8741b43a023e17859a9174a381d278a8b2edcdb488d6efedbd1cb04afe13d33",
                "tx_index": 42,
                "block_time": 1741791774,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6"
=======
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "status": "valid",
                "tx_hash": "457c912b6cd7c5cdefd665c4cb4f67e8ffd35439285cdfd181572013d1183e6a",
                "tx_index": 42,
                "block_time": 1741172823,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
<<<<<<< HEAD
            "tx_hash": "a8741b43a023e17859a9174a381d278a8b2edcdb488d6efedbd1cb04afe13d33",
            "block_index": 146,
            "block_time": 1741791774
=======
            "tx_hash": "457c912b6cd7c5cdefd665c4cb4f67e8ffd35439285cdfd181572013d1183e6a",
            "block_index": 146,
            "block_time": 1741172823
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
<<<<<<< HEAD
                "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "transfer": false,
                "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
                "tx_index": 117,
                "block_time": 1741792137,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
            "block_index": 240,
            "block_time": 1741792137
=======
                "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                "status": "valid",
                "transfer": false,
                "tx_hash": "55708349ac0dfabac343a08ddea1fc6a428e1e7fd621dbdbc4d49d1ed3752960",
                "tx_index": 117,
                "block_time": 1741173170,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "55708349ac0dfabac343a08ddea1fc6a428e1e7fd621dbdbc4d49d1ed3752960",
            "block_index": 240,
            "block_time": 1741173170
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
<<<<<<< HEAD
                "block_time": 1741792148
            },
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
                "block_time": 1741173180
            },
            "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
            "block_index": 243,
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
<<<<<<< HEAD
                "issuer": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "transfer": false,
                "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
                "tx_index": 120,
                "block_time": 1741792148,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
                "issuer": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": "valid",
                "transfer": false,
                "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
                "tx_index": 120,
                "block_time": 1741173180,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
            "block_index": 243,
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
<<<<<<< HEAD
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
                "tx_index": 117,
                "block_time": 1741792137,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
            "block_index": 240,
            "block_time": 1741792137
=======
                "source": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "55708349ac0dfabac343a08ddea1fc6a428e1e7fd621dbdbc4d49d1ed3752960",
                "tx_index": 117,
                "block_time": 1741173170,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "55708349ac0dfabac343a08ddea1fc6a428e1e7fd621dbdbc4d49d1ed3752960",
            "block_index": 240,
            "block_time": 1741173170
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "open",
                "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "tx_index": 119,
                "block_time": 1741792145,
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": "open",
                "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
                "tx_index": 119,
                "block_time": 1741173177,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
<<<<<<< HEAD
                    "issuer": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88"
=======
                    "issuer": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
<<<<<<< HEAD
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
            "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
            "block_index": 242,
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
<<<<<<< HEAD
                "id": "42f6c1dfc99d87316244d18172c4a3bbfe0c694b7173d52772d7348996d09b2a_9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "42f6c1dfc99d87316244d18172c4a3bbfe0c694b7173d52772d7348996d09b2a",
                "tx0_index": 118,
                "tx1_address": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "tx1_index": 119,
                "block_time": 1741792145,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88"
=======
                "id": "112b394126aed6b0434e584ca52dfdf7dd83b54886ebd5d33098c1aebdb25f58_1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "112b394126aed6b0434e584ca52dfdf7dd83b54886ebd5d33098c1aebdb25f58",
                "tx0_index": 118,
                "tx1_address": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
                "tx1_index": 119,
                "block_time": 1741173177,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
            "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
            "block_index": 242,
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
<<<<<<< HEAD
                "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
                "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
            "block_index": 242,
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
<<<<<<< HEAD
                "tx_hash": "76bee617b6868b75e50edbe25fa09499db4bc0e52401ca12593b5cb8dca8ffa6"
            },
            "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
            "block_index": 182,
            "block_time": 1741791893
=======
                "tx_hash": "987a493a818f28e3f8998714771efbc5f3bf8f1bde61fdbc9970260e21d7b188"
            },
            "tx_hash": "55dfdcf3dc034f4a30b209dc085f3bcf05f9e828dcf014b22bf33021c03daa50",
            "block_index": 182,
            "block_time": 1741172937
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
<<<<<<< HEAD
                "id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "order_match_id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "status": "expired"
            },
            "tx_hash": "f051b95ed1a7a51187feab5160df1f2d964e3cb8693f503d0f625b3b76769b3a",
            "block_index": 225,
            "block_time": 1741792055
=======
                "id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
                "order_match_id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
                "status": "expired"
            },
            "tx_hash": "873268535aa63f879fecbab76529218bcff801173f9c55146a0ef290d296a3f9",
            "block_index": 225,
            "block_time": 1741173091
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
<<<<<<< HEAD
                "destination": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "order_match_id": "6ba31025dff909df9aa9b08585890b2b679bbb0f7fce8408221aa44624270f3d_76bee617b6868b75e50edbe25fa09499db4bc0e52401ca12593b5cb8dca8ffa6",
                "source": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
                "status": "valid",
                "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
                "tx_index": 57,
                "block_time": 1741791893,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
            "block_index": 182,
            "block_time": 1741791893
=======
                "destination": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "order_match_id": "fe78a9f08f10d4e50fef654056908f56510136cff4fe5ed0dda58cde1cde6199_987a493a818f28e3f8998714771efbc5f3bf8f1bde61fdbc9970260e21d7b188",
                "source": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
                "status": "valid",
                "tx_hash": "55dfdcf3dc034f4a30b209dc085f3bcf05f9e828dcf014b22bf33021c03daa50",
                "tx_index": 57,
                "block_time": 1741172937,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "55dfdcf3dc034f4a30b209dc085f3bcf05f9e828dcf014b22bf33021c03daa50",
            "block_index": 182,
            "block_time": 1741172937
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
<<<<<<< HEAD
                "offer_hash": "dbfcf393fc38ee8869fe5ec00467f65225fc05397a98657e0df0f30148f56335",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "a90920d9df135735fe87a9234b6a724b2453702992f0ed287842f701c48b0dac",
                "tx_index": 63,
                "block_time": 1741791914
            },
            "tx_hash": "a90920d9df135735fe87a9234b6a724b2453702992f0ed287842f701c48b0dac",
            "block_index": 188,
            "block_time": 1741791914
=======
                "offer_hash": "ef25b73ebd3f87f4611787d009414105894cb55e615a62f92743c846b74a42cd",
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "status": "valid",
                "tx_hash": "7e01ee80101d6ac338d1516d315a2e04cc53b364f3a62790110f434706d11301",
                "tx_index": 63,
                "block_time": 1741172958
            },
            "tx_hash": "7e01ee80101d6ac338d1516d315a2e04cc53b364f3a62790110f434706d11301",
            "block_index": 188,
            "block_time": 1741172958
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
<<<<<<< HEAD
                "order_hash": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "block_time": 1741792006
            },
            "tx_hash": "0edc7ef2e87c6fbd03f460b282bd73a6dadce931cb6e35f09e4659cfbefc76a8",
            "block_index": 211,
            "block_time": 1741792006
=======
                "order_hash": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36",
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "block_time": 1741173045
            },
            "tx_hash": "d826adc12fb260b34714df7d900c703e8e2a1386328da5b47889301bbecd43ae",
            "block_index": 211,
            "block_time": 1741173045
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
<<<<<<< HEAD
                "order_match_id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "tx0_address": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "tx1_address": "bcrt1q6cvz8t4h9xyr2ftsrp7vf3jz50upf7fmfcxmqk",
                "block_time": 1741792055
            },
            "tx_hash": "f051b95ed1a7a51187feab5160df1f2d964e3cb8693f503d0f625b3b76769b3a",
            "block_index": 225,
            "block_time": 1741792055
=======
                "order_match_id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
                "tx0_address": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "tx1_address": "bcrt1qkeumt4e3armhffxmtywx2609dh3fvms9cru46a",
                "block_time": 1741173091
            },
            "tx_hash": "873268535aa63f879fecbab76529218bcff801173f9c55146a0ef290d296a3f9",
            "block_index": 225,
            "block_time": 1741173091
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
<<<<<<< HEAD
                "origin": "bcrt1quznnnkcjdregs5e2933x7v3az7gk5aqqa0rsjc",
                "satoshirate": 1,
                "source": "bcrt1quznnnkcjdregs5e2933x7v3az7gk5aqqa0rsjc",
                "status": 0,
                "tx_hash": "0cc35229d8ead9ca194ffeca9777f5519e65b3ce6c9b4afccc3facdece314cc5",
                "tx_index": 114,
                "block_time": 1741792123,
=======
                "origin": "bcrt1qtlyfec3pluhqd9cxdxzfvhza4s6ce27t6uldu0",
                "satoshirate": 1,
                "source": "bcrt1qtlyfec3pluhqd9cxdxzfvhza4s6ce27t6uldu0",
                "status": 0,
                "tx_hash": "2ffaf68cecbad028985760a0f0645d7df8ea784e5ae0b00e21c11d38989fe547",
                "tx_index": 114,
                "block_time": 1741173157,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
<<<<<<< HEAD
            "tx_hash": "0cc35229d8ead9ca194ffeca9777f5519e65b3ce6c9b4afccc3facdece314cc5",
            "block_index": 236,
            "block_time": 1741792123
=======
            "tx_hash": "2ffaf68cecbad028985760a0f0645d7df8ea784e5ae0b00e21c11d38989fe547",
            "block_index": 236,
            "block_time": 1741173157
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": 0,
                "tx_hash": "7637af6cc40f73bcc49ddb15c509586c99077b885ee70ef2f15d3ea7a0dc510c",
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": 0,
                "tx_hash": "a12a0ed6059ccb7fe8e170a7273327def2c002e98356b899e2da456b45856be8",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
<<<<<<< HEAD
                "destination": "mqcLPqMwQdruuS8DBoutcGgsKUDq8dLseu",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d5ead63b541def8e2c2653d7e457c49880b201fd67f76ad80a0bc40080bf65a0",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "tx_hash": "1089060c132199f74bbbb34fd6fbabf9d4110a1a4780772589d722ff46f0517b",
                "tx_index": 31,
                "block_time": 1741791735,
=======
                "destination": "mw8gBPTw7kWS7YzirKdA1yG2N2Vg3226bi",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "50624302a9751da52e4e7ddd14084d60bc36a3bb4cbf63ab3ed240f6ac9b2c1c",
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "tx_hash": "037d3330a3ec2900160fa54f185344573997b9530d553082ab43da8a0b97fd70",
                "tx_index": 31,
                "block_time": 1741172787,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
<<<<<<< HEAD
            "tx_hash": "1089060c132199f74bbbb34fd6fbabf9d4110a1a4780772589d722ff46f0517b",
            "block_index": 135,
            "block_time": 1741791735
=======
            "tx_hash": "037d3330a3ec2900160fa54f185344573997b9530d553082ab43da8a0b97fd70",
            "block_index": 135,
            "block_time": 1741172787
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
<<<<<<< HEAD
                "destination": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "7637af6cc40f73bcc49ddb15c509586c99077b885ee70ef2f15d3ea7a0dc510c",
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "block_time": 1741792157,
=======
                "destination": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "a12a0ed6059ccb7fe8e170a7273327def2c002e98356b899e2da456b45856be8",
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "tx_index": 121,
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "5aa1ec7579790ace025c65a26394251002eee2c75035b42a8c77f3800a3399a8",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741791712,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "5aa1ec7579790ace025c65a26394251002eee2c75035b42a8c77f3800a3399a8",
            "block_index": 129,
            "block_time": 1741791712
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "5eda32b713dbfbc7f1973ce0b67ced06da436108815466638797b8656063d242",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741172764,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "5eda32b713dbfbc7f1973ce0b67ced06da436108815466638797b8656063d242",
            "block_index": 129,
            "block_time": 1741172764
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "start_block": 0,
                "status": "open",
                "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
                "tx_index": 120,
                "block_time": 1741792148,
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "start_block": 0,
                "status": "open",
                "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
                "tx_index": 120,
                "block_time": 1741173180,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
            "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
            "block_index": 243,
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
<<<<<<< HEAD
                "tx_hash": "1fd269a1fc45df381a939ff75d7310840e5fca5461a34ab88cd6cce6d975cfdb"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741792065
=======
                "tx_hash": "d11f64d0b732c76e94d118564e289100da821f1bb5734592487dce8bbe9d0594"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741173101
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
<<<<<<< HEAD
                "fairminter_tx_hash": "c2d1fb1c9390beef8008f73bb845d995d69df2a9965932d22b5d1f98cd53f712",
                "paid_quantity": 100000000,
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "tx_hash": "856a6cb1f4c7e70dc890fca11a5ceb39956fba7430682506d63d4749e37b7596",
                "tx_index": 97,
                "block_time": 1741792040,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "fairminter_tx_hash": "a82931a46c020f77fca80bbdd1237e5dc2acf81d975009123f8391dff2835819",
                "paid_quantity": 100000000,
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": "valid",
                "tx_hash": "0c35ed1b958ffc3deec5a3ceaa74d56c73abe8626300b0feccf4f03e8a4b27c7",
                "tx_index": 97,
                "block_time": 1741173078,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "856a6cb1f4c7e70dc890fca11a5ceb39956fba7430682506d63d4749e37b7596",
            "block_index": 221,
            "block_time": 1741792040
=======
            "tx_hash": "0c35ed1b958ffc3deec5a3ceaa74d56c73abe8626300b0feccf4f03e8a4b27c7",
            "block_index": 221,
            "block_time": 1741173078
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
<<<<<<< HEAD
                "destination": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2:0",
                "destination_address": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
=======
                "destination": "02d0f527652836d82e559537fd83309072305507c2acf08d95417767ce97ef25:0",
                "destination_address": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
<<<<<<< HEAD
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tx_hash": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2",
                "tx_index": 112,
                "block_time": 1741792117,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "source": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                "status": "valid",
                "tx_hash": "02d0f527652836d82e559537fd83309072305507c2acf08d95417767ce97ef25",
                "tx_index": 112,
                "block_time": 1741173151,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2",
            "block_index": 235,
            "block_time": 1741792117
=======
            "tx_hash": "02d0f527652836d82e559537fd83309072305507c2acf08d95417767ce97ef25",
            "block_index": 235,
            "block_time": 1741173151
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
<<<<<<< HEAD
                "destination": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
=======
                "destination": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
<<<<<<< HEAD
                "source": "6acf82abd0b96d52141cbdd969118f88544c4ed631ac0804161aa0b981f11a91:0",
                "source_address": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tx_hash": "1cef8c0078a185451f1698c3d2e749fca9cfcf54c99395e6108bd364da7c6780",
                "tx_index": 111,
                "block_time": 1741792114,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "source": "7c502c62deec23740ba96d94b247a70dfc2de6652754fa305f9a7ad5970c08ea:0",
                "source_address": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                "status": "valid",
                "tx_hash": "d5e2d8df25ddff3e4f34d2dc1cd807acd8872b6d42d8c2cf4ea8d93c8f32d555",
                "tx_index": 111,
                "block_time": 1741173147,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "1cef8c0078a185451f1698c3d2e749fca9cfcf54c99395e6108bd364da7c6780",
            "block_index": 234,
            "block_time": 1741792114
=======
            "tx_hash": "d5e2d8df25ddff3e4f34d2dc1cd807acd8872b6d42d8c2cf4ea8d93c8f32d555",
            "block_index": 234,
            "block_time": 1741173147
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
<<<<<<< HEAD
                "destination": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0",
                "destination_address": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1",
                "source_address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "status": "valid",
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "block_time": 1741792157,
=======
                "destination": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252:0",
                "destination_address": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1",
                "source_address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "status": "valid",
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "tx_index": 121,
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
<<<<<<< HEAD
                "source": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
                "status": "valid",
                "tx_hash": "880281d006b3b0f79918b1af75a0de73d6012037fbf01e3deea47bf8068264b7",
                "tx_index": 9,
                "block_time": 1741791643,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "880281d006b3b0f79918b1af75a0de73d6012037fbf01e3deea47bf8068264b7",
            "block_index": 112,
            "block_time": 1741791643
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": "valid",
                "tx_hash": "c6b3080b8577eb553bdada2076b2f003045235f79a97e825c907afd525e5a4e4",
                "tx_index": 9,
                "block_time": 1741172702,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "c6b3080b8577eb553bdada2076b2f003045235f79a97e825c907afd525e5a4e4",
            "block_index": 112,
            "block_time": 1741172702
>>>>>>> e42b7172 (fix sweep memo decoding)
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
<<<<<<< HEAD
                    "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                    "block_time": 1741792157,
                    "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                    "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                    "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                    "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff",
=======
                    "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                    "block_time": 1741173189,
                    "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                    "txlist_hash": "49e6194db36b7bdc4d5c430bf811ccc118e3fb313bb0d75530695ac151095804",
                    "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                    "previous_block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602"
                },
                {
                    "block_index": 244,
<<<<<<< HEAD
                    "block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff",
                    "block_time": 1741792151,
                    "ledger_hash": "a4b1a21c92a149e979f9ccd30df2abd8f6d0bfd2b4b96cb10cd3c7f0af26de02",
                    "txlist_hash": "338ddf360b4dd028f0ef87376ae20a4ed7af641b5c9b0e62518577fd6e4e9171",
                    "messages_hash": "a59347df5e0b935a76e77cca16aeb2651f13c6349b9aa9927e960864df5ed938",
                    "previous_block_hash": "159ba3536665ea02ec3208ba0e5e99d2a7d283d9c56848370c557bf5e5356fb4",
=======
                    "block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c",
                    "block_time": 1741173183,
                    "ledger_hash": "d34f21860b4cd69f9ff4feafabe85b82c95c99ed871f3797e19b19253d6071d1",
                    "txlist_hash": "198c8f9c58d4fd5ab0e3d1df780a0247744fdbc50f4bd6935d99dcc9d1061032",
                    "messages_hash": "c5d03aa209a633f52fcf5015b370903162d885d50319738102f9288eb0f7ebb8",
                    "previous_block_hash": "6e9e21f3ea2047e17f29074136f3d7b5cdf5e8c2618daf70d6eebb5bf697e9fa",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "difficulty": 545259519,
                    "transaction_count": 0,
                    "migration_hash": "234045dd5736533334e575b8b11c1b89791879313e5e1c3aabedf802ea0e0d0b"
                },
                {
                    "block_index": 243,
<<<<<<< HEAD
                    "block_hash": "159ba3536665ea02ec3208ba0e5e99d2a7d283d9c56848370c557bf5e5356fb4",
                    "block_time": 1741792148,
                    "ledger_hash": "f1e87454382c0033a8e76c869356458ea8732275b4da61d4e3f0b1043c1b2e5c",
                    "txlist_hash": "31a477865ae253d94ecc6c698283d552b1f63abb9dab1f21a576e8e0a3b2c7d9",
                    "messages_hash": "afbeec51b3d0200ec8b4c518b5ca949662dd28bb26814f5280337e637bf453c9",
                    "previous_block_hash": "588fe9fa057581f9b72d24818a5b036e1d4e9a4101d33043659015ccdcdb9e42",
=======
                    "block_hash": "6e9e21f3ea2047e17f29074136f3d7b5cdf5e8c2618daf70d6eebb5bf697e9fa",
                    "block_time": 1741173180,
                    "ledger_hash": "0773bc044ab7041e2f12548be559d1f49080cbd0fa661cd4fe148167b67c913e",
                    "txlist_hash": "2b38cc8c63d3ca97286d48c15bc594f7444e2a88936ffdd0a7d657160843d3d3",
                    "messages_hash": "a75c3df0c72932df5f597708fb2b888761720e2b4c58bcb247c6ad052c248255",
                    "previous_block_hash": "2fdd524c6b9efadaf6b44f8e4834c76e6cb3b9b0ddac53f29f7ade4a909d6365",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "fc286b01ffb6eec3cf072e4220913e4b778214737f9dff845d8c4c0f8d61cc4a"
                },
                {
                    "block_index": 242,
<<<<<<< HEAD
                    "block_hash": "588fe9fa057581f9b72d24818a5b036e1d4e9a4101d33043659015ccdcdb9e42",
                    "block_time": 1741792145,
                    "ledger_hash": "0557b7b3738cb82fe4422edf1df249e00906568918ee410e3c24e2a1b6dc2d5a",
                    "txlist_hash": "cb2ba901b04ed08334fa8891c53e869da572b29ebc7647c8844cfe6a39fe2f74",
                    "messages_hash": "9a838ceb78a11e7bead36fdbc5105e75e781aaaf1fa93055dcc16dce4a7bec5e",
                    "previous_block_hash": "1317c07fc2044a32d735b79d7018f24995dc7ba255f052e49bb866c910b7ee7c",
=======
                    "block_hash": "2fdd524c6b9efadaf6b44f8e4834c76e6cb3b9b0ddac53f29f7ade4a909d6365",
                    "block_time": 1741173177,
                    "ledger_hash": "9f4b7907888a0d129c062f9199d0c4ab82f94ec332c5b398df835d099688824b",
                    "txlist_hash": "b86093b304500e1bca8cfe417d18f238a1db524fc4eb56743b0e569a37ace1bf",
                    "messages_hash": "8f65abaf8b2ccc6bd616c9f04c4766867e4be08d33a2697ff3e2e75515843d0f",
                    "previous_block_hash": "77a332d7e7842d969d0634b043a0b65d2a717e90c5cc5dedd47e895549a11127",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "fe5e10080460bdbf21f820b3309adb91fa091cf92a0a4c8f07425754be4415c2"
                },
                {
                    "block_index": 241,
<<<<<<< HEAD
                    "block_hash": "1317c07fc2044a32d735b79d7018f24995dc7ba255f052e49bb866c910b7ee7c",
                    "block_time": 1741792142,
                    "ledger_hash": "a22d1e537d238a8b9fdb77af6faae8ad589ad2cfb8005e0abebe8c2d49ecde4f",
                    "txlist_hash": "0b9887e9b86e646bf862fd16586a8a806e2a2724549c63100cfd417b9de6b144",
                    "messages_hash": "ffeebe5dffa2df504b2bf00857ad3c05a58886126667ad96a57faf749e894a09",
                    "previous_block_hash": "2fb2d3a23ee2ffd68e21efcf72b249ebd5c2b57027cac3cc86476ed33f118e84",
=======
                    "block_hash": "77a332d7e7842d969d0634b043a0b65d2a717e90c5cc5dedd47e895549a11127",
                    "block_time": 1741173173,
                    "ledger_hash": "ee4721da377e090df131432e55d3386baee158db95c1b8f7d776d43584cbe803",
                    "txlist_hash": "e03a2f421df840e6230cae33852b44d5379889738ae5dc8c71869e16bec65a01",
                    "messages_hash": "a4b90994e4b2bdfe25d1c095e297e46a7ad0c5329e7b7600f7600747ca8ca3dd",
                    "previous_block_hash": "41b2adbda4b8b6b62cfe07245e7d97adb60758e1f95c221100546da131bee8d3",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "b6355146d65ee99847f1e912422c12ace344524a841b953fb4c6db6b5e860f40"
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_time": 1741792157,
                "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff",
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                "block_time": 1741173189,
                "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                "txlist_hash": "49e6194db36b7bdc4d5c430bf811ccc118e3fb313bb0d75530695ac151095804",
                "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                "previous_block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602"
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_time": 1741792157,
                "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff",
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                "block_time": 1741173189,
                "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                "txlist_hash": "49e6194db36b7bdc4d5c430bf811ccc118e3fb313bb0d75530695ac151095804",
                "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                "previous_block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602"
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
<<<<<<< HEAD
    + block_hash: `6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021` (str, required) - The index of the block to return
=======
    + block_hash: `37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac` (str, required) - The index of the block to return
>>>>>>> e42b7172 (fix sweep memo decoding)
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_time": 1741792157,
                "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff",
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                "block_time": 1741173189,
                "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                "txlist_hash": "49e6194db36b7bdc4d5c430bf811ccc118e3fb313bb0d75530695ac151095804",
                "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                "previous_block_hash": "6dfc47ebc336d1506d229cd08c7bd28275219d555a6e8103ec99ad1ad3dca58c",
>>>>>>> e42b7172 (fix sweep memo decoding)
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602"
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
<<<<<<< HEAD
                    "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                    "block_index": 245,
                    "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                    "block_time": 1741792157,
                    "source": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                    "destination": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
=======
                    "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                    "block_index": 245,
                    "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
                    "block_time": 1741173189,
                    "source": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                    "destination": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
<<<<<<< HEAD
                    "utxos_info": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1 3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0 3 1",
=======
                    "utxos_info": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1 898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252:0 3 1",
>>>>>>> e42b7172 (fix sweep memo decoding)
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
<<<<<<< HEAD
                                "destination": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0",
                                "destination_address": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1",
                                "source_address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                                "status": "valid",
                                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                                "tx_index": 121,
                                "block_time": 1741792157,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                            "block_index": 245,
                            "block_time": 1741792157
=======
                                "destination": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252:0",
                                "destination_address": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1",
                                "source_address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                                "status": "valid",
                                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                                "tx_index": 121,
                                "block_time": 1741173189,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                            "block_index": 245,
                            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
<<<<<<< HEAD
                                "destination": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0",
                                "destination_address": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1",
                                "source_address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                                "status": "valid",
                                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                                "tx_index": 121,
                                "block_time": 1741792157,
=======
                                "destination": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252:0",
                                "destination_address": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1",
                                "source_address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                                "status": "valid",
                                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                                "tx_index": 121,
                                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
<<<<<<< HEAD
                            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                            "block_index": 245,
                            "block_time": 1741792157
=======
                            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                            "block_index": 245,
                            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
<<<<<<< HEAD
                                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                                "status": 0,
[...]
