[//]: # (Generated by genapidoc.py on 2025-05-28 12:45:22.505750. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                "block_index": 245,
                "block_time": 1748436304,
                "difficulty": 545259519,
                "previous_block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                "block_index": 245,
                "block_time": 1748436304,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "fee": 0,
                "source": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                "transaction_type": "dispense",
                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "tx_index": 121,
                "utxos_info": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1 3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "out_index": 0,
                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "tx_index": 121,
                "block_time": 1748436304,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                "transaction_count": 1,
                "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                "block_time": 1748436304
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "tx_index": 121
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                "utxo_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                "block_time": 1748436304,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1748436304,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q6dglhnk2mpcm8nnelvmsstvjuqe9jfn024nkfm",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "status": "valid",
                "tx_hash": "9e5594c8694f96e002e6e7f3847257be227c9ebcf83d2c2a17f7e1f302fde367",
                "tx_index": 77,
                "block_time": 1748436100,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "9e5594c8694f96e002e6e7f3847257be227c9ebcf83d2c2a17f7e1f302fde367",
            "block_index": 201,
            "block_time": 1748436100
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q6dglhnk2mpcm8nnelvmsstvjuqe9jfn024nkfm",
                "status": "valid",
                "tx_hash": "fab1df5a274b484a94138a59494257e8d3c76df98ec4f094efab465aa96db90b",
                "tx_index": 81,
                "block_time": 1748436117,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "fab1df5a274b484a94138a59494257e8d3c76df98ec4f094efab465aa96db90b",
            "block_index": 205,
            "block_time": 1748436117
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qc4zcmukxfpr59psuc80jkgnqnu9m8gdnel39r2",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6g0sll54lquhtda8aacvh3pttvrdnuzp2fxxsr",
                "status": "valid",
                "tx_hash": "94a45ab3f29e27f9a955d94561a3f38f529d67fb30d052ed6a9e3b7b1e52325f",
                "tx_index": 65,
                "block_time": 1748436054,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "94a45ab3f29e27f9a955d94561a3f38f529d67fb30d052ed6a9e3b7b1e52325f",
            "block_index": 190,
            "block_time": 1748436054
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "status": "valid",
                "tx_hash": "3d4de1c896e0875641785557ca6972f1a1860341b46acaceec8b5c7b0c3f70b5",
                "tx_index": 42,
                "block_time": 1748435895,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "3d4de1c896e0875641785557ca6972f1a1860341b46acaceec8b5c7b0c3f70b5",
            "block_index": 146,
            "block_time": 1748435895
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "status": "valid",
                "transfer": false,
                "tx_hash": "8b11195c3c0170cc1b2d9c1ac27893e04c1be33969f084d30d29ea340a4dfa37",
                "tx_index": 117,
                "block_time": 1748436281,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8b11195c3c0170cc1b2d9c1ac27893e04c1be33969f084d30d29ea340a4dfa37",
            "block_index": 240,
            "block_time": 1748436281
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1748436293
            },
            "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
            "block_index": 243,
            "block_time": 1748436293
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "status": "valid",
                "transfer": false,
                "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
                "tx_index": 120,
                "block_time": 1748436293,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
            "block_index": 243,
            "block_time": 1748436293
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "8b11195c3c0170cc1b2d9c1ac27893e04c1be33969f084d30d29ea340a4dfa37",
                "tx_index": 117,
                "block_time": 1748436281,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "8b11195c3c0170cc1b2d9c1ac27893e04c1be33969f084d30d29ea340a4dfa37",
            "block_index": 240,
            "block_time": 1748436281
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "status": "open",
                "tx_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
                "tx_index": 119,
                "block_time": 1748436289,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1ql9npnqv2ndnjn7f8ml0h24qum2075x7ghz32vx",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1ql9npnqv2ndnjn7f8ml0h24qum2075x7ghz32vx"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
            "block_index": 242,
            "block_time": 1748436289
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "dd945dabd64bed6537fe95e4b71942f84b62c3011cd9fe9b5dd24dab75e2aeb5_0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1ql9npnqv2ndnjn7f8ml0h24qum2075x7ghz32vx",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "dd945dabd64bed6537fe95e4b71942f84b62c3011cd9fe9b5dd24dab75e2aeb5",
                "tx0_index": 118,
                "tx1_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
                "tx1_index": 119,
                "block_time": 1748436289,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1ql9npnqv2ndnjn7f8ml0h24qum2075x7ghz32vx",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1ql9npnqv2ndnjn7f8ml0h24qum2075x7ghz32vx"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
            "block_index": 242,
            "block_time": 1748436289
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "0a19bf73ba61b2d837882bcee9c30f1cd2fedd37970e9771918cbfa8dcea79a2",
            "block_index": 242,
            "block_time": 1748436289
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "614e9d55467238557885f22b5380ebfcefc636138d8df4ffa1987d180d06f50a"
            },
            "tx_hash": "3550a6f7b46d34028374e2b1370433508333dfb3b28e6ade090207abd2371192",
            "block_index": 182,
            "block_time": 1748436022
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "69910dce4479ca74c42fb00bfc7bc998eaffd8df894d9419e7874f40d4e2dbbf_0fe6c3bc8231406b362efcedcefc6282822bedc9b1c131ef90a046ee94b28210",
                "order_match_id": "69910dce4479ca74c42fb00bfc7bc998eaffd8df894d9419e7874f40d4e2dbbf_0fe6c3bc8231406b362efcedcefc6282822bedc9b1c131ef90a046ee94b28210",
                "status": "expired"
            },
            "tx_hash": "e7cef9459212f64a3bf7a929cb842071ee6451716f8e963a0ceb3fcc55b7b83a",
            "block_index": 225,
            "block_time": 1748436196
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "order_match_id": "86c4c17ce9022d68b275aba08f1fe028fd5bae46ebe2fc5455ec8ab417307dba_614e9d55467238557885f22b5380ebfcefc636138d8df4ffa1987d180d06f50a",
                "source": "bcrt1q6dglhnk2mpcm8nnelvmsstvjuqe9jfn024nkfm",
                "status": "valid",
                "tx_hash": "3550a6f7b46d34028374e2b1370433508333dfb3b28e6ade090207abd2371192",
                "tx_index": 57,
                "block_time": 1748436022,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "3550a6f7b46d34028374e2b1370433508333dfb3b28e6ade090207abd2371192",
            "block_index": 182,
            "block_time": 1748436022
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "c6f0f3df61c554b99ae9eef2ac48953d2b5f274e87bc6c87bca95796a0647843",
                "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "status": "valid",
                "tx_hash": "5ae804a06cda6868d37212c480f0adb126cb77bd549f9e2ce8903f435dd60b6d",
                "tx_index": 63,
                "block_time": 1748436046
            },
            "tx_hash": "5ae804a06cda6868d37212c480f0adb126cb77bd549f9e2ce8903f435dd60b6d",
            "block_index": 188,
            "block_time": 1748436046
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "69910dce4479ca74c42fb00bfc7bc998eaffd8df894d9419e7874f40d4e2dbbf",
                "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "block_time": 1748436140
            },
            "tx_hash": "d445d97eb1ed95cc761a44e5180417f5ef36c3b94849f5f8b9dc770e296892e5",
            "block_index": 211,
            "block_time": 1748436140
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "69910dce4479ca74c42fb00bfc7bc998eaffd8df894d9419e7874f40d4e2dbbf_0fe6c3bc8231406b362efcedcefc6282822bedc9b1c131ef90a046ee94b28210",
                "tx0_address": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "tx1_address": "bcrt1q6g0sll54lquhtda8aacvh3pttvrdnuzp2fxxsr",
                "block_time": 1748436196
            },
            "tx_hash": "e7cef9459212f64a3bf7a929cb842071ee6451716f8e963a0ceb3fcc55b7b83a",
            "block_index": 225,
            "block_time": 1748436196
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qlev0lj70mmt22jnsk8j7sgwk0h4xjhspq25wyz",
                "satoshirate": 1,
                "source": "bcrt1qlev0lj70mmt22jnsk8j7sgwk0h4xjhspq25wyz",
                "status": 0,
                "tx_hash": "55545b4da26d2558cf4784b6124ff7b792671c3d5ba338d862beb05e5a0d6675",
                "tx_index": 114,
                "block_time": 1748436265,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "55545b4da26d2558cf4784b6124ff7b792671c3d5ba338d862beb05e5a0d6675",
            "block_index": 236,
            "block_time": 1748436265
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "status": 0,
                "tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "miUBNXS7j495UJVxm9REbfyXKgYWbWSsZa",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "81b1988ef611b8ab182b591dd514bc9359fd9c23edc861bfc85b20daf076b699",
                "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                "tx_hash": "491b493845decf01bff661d4df597c63a84d86d759bb5dd0d2899c611213b6c5",
                "tx_index": 31,
                "block_time": 1748435851,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "491b493845decf01bff661d4df597c63a84d86d759bb5dd0d2899c611213b6c5",
            "block_index": 135,
            "block_time": 1748435851
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "tx_index": 121,
                "block_time": 1748436304,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "mime_type": "text/plain",
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "50de20e46d12e3d958b86e7f24ed27b901dc4cfded84f385d48db62c4eb5859e",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1748435828,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "50de20e46d12e3d958b86e7f24ed27b901dc4cfded84f385d48db62c4eb5859e",
            "block_index": 129,
            "block_time": 1748435828
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "mime_type": "text/plain",
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "start_block": 0,
                "status": "open",
                "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
                "tx_index": 120,
                "block_time": 1748436293,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
            "block_index": 243,
            "block_time": 1748436293
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "7cb99309772280db0c6b27550955614f4b00586998839dfd8092e7c04c465d40"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1748436207
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "9dd3fa11f6818a1bf130f7b66b61731afc5cbd1fcde6d4ecaf88dcd650c5562b",
                "paid_quantity": 100000000,
                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "status": "valid",
                "tx_hash": "eeab6c816edcedbe949954383651e899ad5db74e4f4d9b7c74db51b6f09d543b",
                "tx_index": 97,
                "block_time": 1748436181,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "eeab6c816edcedbe949954383651e899ad5db74e4f4d9b7c74db51b6f09d543b",
            "block_index": 221,
            "block_time": 1748436181
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "6dface4feb4d08fe0d0e68e0a13346e0455f9b72d69d21acd88832fa73b61acf:0",
                "destination_address": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "status": "valid",
                "tx_hash": "6dface4feb4d08fe0d0e68e0a13346e0455f9b72d69d21acd88832fa73b61acf",
                "tx_index": 112,
                "block_time": 1748436259,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "6dface4feb4d08fe0d0e68e0a13346e0455f9b72d69d21acd88832fa73b61acf",
            "block_index": 235,
            "block_time": 1748436259
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "bbbbd98e0e08f634d3610c31ae5f52644cf9eb49a69608fc7527197dec682fa7:0",
                "source_address": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                "status": "valid",
                "tx_hash": "85761e606278b09b6d91190875d45daff7cde0708544e62848c5f69873d0be98",
                "tx_index": 111,
                "block_time": 1748436255,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "85761e606278b09b6d91190875d45daff7cde0708544e62848c5f69873d0be98",
            "block_index": 234,
            "block_time": 1748436255
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                "destination_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                "source_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                "status": "valid",
                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                "tx_index": 121,
                "block_time": 1748436304,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
            "block_index": 245,
            "block_time": 1748436304
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q6dglhnk2mpcm8nnelvmsstvjuqe9jfn024nkfm",
                "status": "valid",
                "tx_hash": "47500f5bbf35b1de4b4f71bf3a0aa632005c2c5782cca2be0e737644bc8a59f9",
                "tx_index": 9,
                "block_time": 1748435758,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "47500f5bbf35b1de4b4f71bf3a0aa632005c2c5782cca2be0e737644bc8a59f9",
            "block_index": 112,
            "block_time": 1748435758
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                    "block_time": 1748436304,
                    "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                    "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                    "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                    "previous_block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf",
                    "block_time": 1748436298,
                    "ledger_hash": "7503f8015587f045a616ea6c83b952b47b348f205df2919f205642cfb10afae6",
                    "txlist_hash": "c492af705703e03d5b9919cebd9e6420ddbc1f0ff66b7851e891abc5410f0755",
                    "messages_hash": "a03616a985ff16a60f4b66905e133d7555cd5684235b26039167563ea465bd39",
                    "previous_block_hash": "31f6f494387123d91dc675aad129b8e036d88d2f8055b419ec71f11c5af3e10c",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "31f6f494387123d91dc675aad129b8e036d88d2f8055b419ec71f11c5af3e10c",
                    "block_time": 1748436293,
                    "ledger_hash": "b5d50a8bbc3497dfaceb5814aed22a97a7d973f5994f0a863dd893fe22f5cdb5",
                    "txlist_hash": "16aed26968aa1175ea877a7c7286eeb546e414792ed3e008d1b33453f6d3b0b5",
                    "messages_hash": "ff63b609ee4d0f00ad2f63d563b8dd7799d14c2691eebd25aec19dda12afff1d",
                    "previous_block_hash": "28d256b776ea9f773b3b2118d6217c0a822b7f6963959121ce8db55d75659eba",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "28d256b776ea9f773b3b2118d6217c0a822b7f6963959121ce8db55d75659eba",
                    "block_time": 1748436289,
                    "ledger_hash": "fa08251100b366bf4e1831c9559536062afb95342e4df6c763cce3cdbc2c8fd7",
                    "txlist_hash": "0fd763b39acc4b5e50fbbd1dfdce06e7acb1146c48a0fe8690be0a95c220beeb",
                    "messages_hash": "e46625f79cdb94215c4848dfa89546cd42c5918aa37850924bf3f8f81356cf7b",
                    "previous_block_hash": "632be879271bfa7ab14d2df785424e42019803f6b08fdd7b91e859ef4648aa34",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "632be879271bfa7ab14d2df785424e42019803f6b08fdd7b91e859ef4648aa34",
                    "block_time": 1748436285,
                    "ledger_hash": "0b7037b03794f5b38c99c77fd0c3140517b84141e5c75a375f6cf3a877d25de2",
                    "txlist_hash": "ef0f67bcca1b5b791ef327b1d9fdf1eb91a38c7b67b1ea546f628b99f54f2511",
                    "messages_hash": "d9e2399587d4b06da91813650b16034f18513436e81fa9385b09ddcce86a1910",
                    "previous_block_hash": "503a8ace19152b55a091d882295545815573e156986b46d3d570bfa84559c921",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                "block_time": 1748436304,
                "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                "previous_block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                "block_time": 1748436304,
                "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                "previous_block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                "block_time": 1748436304,
                "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                "previous_block_hash": "18d0ae1ebae67be2dbc5194d0bf571db5542002af210ce6ec8e2c02593d245cf",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,valid,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + valid (bool, optional) - If True, only return valid transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "block_index": 245,
                    "block_hash": "73ca7fc7a416b1a19db7a406157c9adce802675f873661c9c4356c199463a89c",
                    "block_time": 1748436304,
                    "source": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "destination": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1 3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0 3 1",
                    "transaction_type": "dispense",
                    "valid": 1,
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                                "destination_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                                "source_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                                "status": "valid",
                                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                                "tx_index": 121,
                                "block_time": 1748436304,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                            "block_index": 245,
                            "block_time": 1748436304
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                                "destination_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                                "source_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                                "status": "valid",
                                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                                "tx_index": 121,
                                "block_time": 1748436304,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                            "block_index": 245,
                            "block_time": 1748436304
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                                "status": 0,
                                "tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                            "block_index": 245,
                            "block_time": 1748436304
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                                "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                                "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                                "tx_index": 121,
                                "block_time": 1748436304,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                            "block_index": 245,
                            "block_time": 1748436304
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "66acab7ffcc54cfb43b0f8f523fd1ae749c65e3c8eccb628dfb235af8771ad78",
                        "messages_hash": "c623675f3d03803b587c1a8e01f6ae327b8ed2718a015d5f1aaa7368d4d7d31d",
                        "transaction_count": 1,
                        "txlist_hash": "723b075f99fa629ebc6d3d017baa68074247ea07bec1b3a47ef0cb787b132f8d",
                        "block_time": 1748436304
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "tx_index": 121
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                        "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                        "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "tx_index": 121,
                        "block_time": 1748436304,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                        "status": 0,
                        "tx_hash": "fb52adbf80625b4a74294db67ea247f279517a7b2ebfcc025c171933775ec25d",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1748436304,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1748436304,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                        "utxo_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                        "block_time": 1748436304,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                        "utxo_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                        "block_time": 1748436304,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "tx_index": 121,
                    "utxo": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                    "utxo_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "tx_index": 121,
                    "utxo": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                    "utxo_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "tx_index": 121,
                    "utxo": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                    "utxo_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "tx_index": 121,
                    "utxo": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                    "utxo_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "69910dce4479ca74c42fb00bfc7bc998eaffd8df894d9419e7874f40d4e2dbbf",
                    "block_index": 211,
                    "block_time": 1748436140
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "5ae804a06cda6868d37212c480f0adb126cb77bd549f9e2ce8903f435dd60b6d",
                    "block_index": 188,
                    "source": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                    "offer_hash": "c6f0f3df61c554b99ae9eef2ac48953d2b5f274e87bc6c87bca95796a0647843",
                    "status": "valid",
                    "block_time": 1748436046
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "8b11195c3c0170cc1b2d9c1ac27893e04c1be33969f084d30d29ea340a4dfa37",
                    "block_index": 240,
                    "source": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1748436281,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qrlsh9p28nrj04yuv9nm870lsagywfxdx5qdlz6"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "d24386dfa61615062f6dd333e1aa282590072a4f20f69c443b0df5756b401926",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "issuer": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "mime_type": "text/plain",
                    "block_time": 1748436293,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "block_index": 245,
                    "source": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                    "destination": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "destination_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385",
                    "block_index": 245,
                    "source": "36935bd9205d26650f6868dcb9caf608f3942853a18441348d64cc96fa991b72:1",
                    "destination": "3e34f15e20cb141ded529966a18a6e9cfdbb7394c1f20f1370d3233b4dadf385:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qls7pq9xjszgp0qdk34ctrk87pmpy8003q7edra",
                    "destination_address": "bcrt1qjlywf44wn4x28jmfuncg00qzwx4zn6v0fqfxz5",
                    "block_time": 1748436304,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2ut33xjtwuua5gk5ld7azngfqfcfgsefams9ak"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
[...]
