[//]: # (Generated by genapidoc.py on 2025-03-06 16:02:27.662574. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                "block_index": 245,
                "block_time": 1741276930,
                "difficulty": 545259519,
                "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                "block_index": 245,
                "block_time": 1741276930,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "fee": 0,
                "source": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "transaction_type": "dispense",
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "utxos_info": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1 047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "out_index": 0,
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "block_time": 1741276930,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761",
                "transaction_count": 1,
                "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                "block_time": 1741276930
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                "utxo_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "block_time": 1741276930,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1741276930,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "status": "valid",
                "tx_hash": "812933e0368527f091636201fb4146984e7b5810a45b85981bb77b99092a1d7d",
                "tx_index": 77,
                "block_time": 1741276742,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "812933e0368527f091636201fb4146984e7b5810a45b85981bb77b99092a1d7d",
            "block_index": 201,
            "block_time": 1741276742
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
                "status": "valid",
                "tx_hash": "6db1c83aa79012615c68e66c2754f3348a97292a3318f7621dcaa023c0d4dc29",
                "tx_index": 81,
                "block_time": 1741276757,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "6db1c83aa79012615c68e66c2754f3348a97292a3318f7621dcaa023c0d4dc29",
            "block_index": 205,
            "block_time": 1741276757
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qj8273jwgpywf0npnfd2xznmt37ek57dwg4luzs",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qhj8hl8wvdu7umcclrcjry078rda4dw9f4ljms5",
                "status": "valid",
                "tx_hash": "7bb859084a6f68d8d5876610841b55e1cfeed610982b6facd793c8ede0bae295",
                "tx_index": 65,
                "block_time": 1741276693,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "7bb859084a6f68d8d5876610841b55e1cfeed610982b6facd793c8ede0bae295",
            "block_index": 190,
            "block_time": 1741276693
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "status": "valid",
                "tx_hash": "b68b421bdd0c927543d2ce4d1a7b020e05b429d68d2f97582d472595bd254ddd",
                "tx_index": 42,
                "block_time": 1741276545,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "b68b421bdd0c927543d2ce4d1a7b020e05b429d68d2f97582d472595bd254ddd",
            "block_index": 146,
            "block_time": 1741276545
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "status": "valid",
                "transfer": false,
                "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
                "tx_index": 117,
                "block_time": 1741276912,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
            "block_index": 240,
            "block_time": 1741276912
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1741276922
            },
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
            "block_time": 1741276922
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "transfer": false,
                "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
                "tx_index": 120,
                "block_time": 1741276922,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
            "block_time": 1741276922
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
                "tx_index": 117,
                "block_time": 1741276912,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
            "block_index": 240,
            "block_time": 1741276912
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "open",
                "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "tx_index": 119,
                "block_time": 1741276918,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
            "block_time": 1741276918
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "e8fe00170b398256b86e71a3f6bd9f435a23e1707446e148bfe1f9859b2c0471_abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "e8fe00170b398256b86e71a3f6bd9f435a23e1707446e148bfe1f9859b2c0471",
                "tx0_index": 118,
                "tx1_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "tx1_index": 119,
                "block_time": 1741276918,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
            "block_time": 1741276918
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
            "block_time": 1741276918
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "2d378102e1c7cbc3e9650a35a8dd1a7868915926b5a516ecbef0b7ca66f307bb"
            },
            "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
            "block_index": 182,
            "block_time": 1741276663
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
                "order_match_id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
                "status": "expired"
            },
            "tx_hash": "c01feeb107a78f35e1f028ef7cb68616a102a076ef6c3ac167f97718ec9fbd4f",
            "block_index": 225,
            "block_time": 1741276833
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "order_match_id": "ca154fd454d003d6c6c342680e755dd2dbb42f3d19d74b3dc2ed495926cd30c4_2d378102e1c7cbc3e9650a35a8dd1a7868915926b5a516ecbef0b7ca66f307bb",
                "source": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
                "status": "valid",
                "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
                "tx_index": 57,
                "block_time": 1741276663,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
            "block_index": 182,
            "block_time": 1741276663
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "667cf1ac4dd12a00d84102e43ed175ae1c9462aff658fe87c09091e1f177c3c3",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "status": "valid",
                "tx_hash": "f488cd53269bc204093e2d6bd7cbc90f17e12bfdd94b5cda45edb4de3cf149ad",
                "tx_index": 63,
                "block_time": 1741276685
            },
            "tx_hash": "f488cd53269bc204093e2d6bd7cbc90f17e12bfdd94b5cda45edb4de3cf149ad",
            "block_index": 188,
            "block_time": 1741276685
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "block_time": 1741276780
            },
            "tx_hash": "ae3e677945453d9d2e7d5734b8b93d787c5d5458a8661c4ad4cd02c9b79a79e9",
            "block_index": 211,
            "block_time": 1741276780
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
                "tx0_address": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "tx1_address": "bcrt1qhj8hl8wvdu7umcclrcjry078rda4dw9f4ljms5",
                "block_time": 1741276833
            },
            "tx_hash": "c01feeb107a78f35e1f028ef7cb68616a102a076ef6c3ac167f97718ec9fbd4f",
            "block_index": 225,
            "block_time": 1741276833
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qqtxp8wxv5pgv7pp7jv569cl632q7dfnhyu9kxr",
                "satoshirate": 1,
                "source": "bcrt1qqtxp8wxv5pgv7pp7jv569cl632q7dfnhyu9kxr",
                "status": 0,
                "tx_hash": "9080d87844e2547e1854c18efaf001759ae07477349d143938557b8ad84b47d5",
                "tx_index": 114,
                "block_time": 1741276898,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "9080d87844e2547e1854c18efaf001759ae07477349d143938557b8ad84b47d5",
            "block_index": 236,
            "block_time": 1741276898
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": 0,
                "tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "n2MXuy9L1wYePWVFDtVCBUQ9PwvoMtovKM",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "738b13b37c75df99223a1c956ad338b6904617f1959eedc5c801a242c4519e16",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "tx_hash": "84db64c2e122a54c92b195f541f2e710bffca15d4f3b812b7dfd29a4bbbd9cfa",
                "tx_index": 31,
                "block_time": 1741276507,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "84db64c2e122a54c92b195f541f2e710bffca15d4f3b812b7dfd29a4bbbd9cfa",
            "block_index": 135,
            "block_time": 1741276507
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "block_time": 1741276930,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "87a1029a9dd47536d1e0a2612e5c5d657087492b9f649f58e5dad7bdad93778d",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741276485,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "87a1029a9dd47536d1e0a2612e5c5d657087492b9f649f58e5dad7bdad93778d",
            "block_index": 129,
            "block_time": 1741276485
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "start_block": 0,
                "status": "open",
                "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
                "tx_index": 120,
                "block_time": 1741276922,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
            "block_time": 1741276922
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "cf316f9789127684b0cbefa6f41a256fc6181f927ffd4ddaa874e90058ec842c"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741276844
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "f78c43f7c43b93139166c265a4997e51a94fc41039e72e78e121f836e6b3a776",
                "paid_quantity": 100000000,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "tx_hash": "205b2acc0eabea3f114fb522aac8e1505a88aabafa5b62d9426c3affa944283a",
                "tx_index": 97,
                "block_time": 1741276817,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "205b2acc0eabea3f114fb522aac8e1505a88aabafa5b62d9426c3affa944283a",
            "block_index": 221,
            "block_time": 1741276817
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e:0",
                "destination_address": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "status": "valid",
                "tx_hash": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e",
                "tx_index": 112,
                "block_time": 1741276893,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e",
            "block_index": 235,
            "block_time": 1741276893
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "ee53703ce282a192f8f5204290bec8d1b4b302445e0cd4aace1960132f3832af:0",
                "source_address": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "status": "valid",
                "tx_hash": "faef0291dc1b21d44a483a2c6913d7728bb39c39c2d043c98d770e6d75d07c5c",
                "tx_index": 111,
                "block_time": 1741276890,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "faef0291dc1b21d44a483a2c6913d7728bb39c39c2d043c98d770e6d75d07c5c",
            "block_index": 234,
            "block_time": 1741276890
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                "destination_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                "source_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "status": "valid",
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "block_time": 1741276930,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "tx_hash": "54112f08c927edfe557308afa70839308e60c282f6bf10a767f7c9bb78fd85f7",
                "tx_index": 9,
                "block_time": 1741276420,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "54112f08c927edfe557308afa70839308e60c282f6bf10a767f7c9bb78fd85f7",
            "block_index": 112,
            "block_time": 1741276420
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                    "block_time": 1741276930,
                    "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                    "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                    "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                    "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761"
                },
                {
                    "block_index": 244,
                    "block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58",
                    "block_time": 1741276925,
                    "ledger_hash": "f62a8c9a5511d82cbfb15600f0dc1431684b0ff7f386a1e64c2da639f984ac38",
                    "txlist_hash": "706a317b86d9d3cb390b8861ea7a7ae9becf45ca01d5b8356bf7f598dc38e92c",
                    "messages_hash": "47f44c3df185b831bdd737cbcc9e1aa8962211d44bd8d32a6da406842943b8d3",
                    "previous_block_hash": "1b271ac2e71a8bc8b3e84247ba2da71e799dab1f943bd5d6b4dc533fa90c9467",
                    "difficulty": 545259519,
                    "transaction_count": 0,
                    "migration_hash": "01147130876e1db840cad61f1c5470fad789d38e6fe1f53b2655405535af6064"
                },
                {
                    "block_index": 243,
                    "block_hash": "1b271ac2e71a8bc8b3e84247ba2da71e799dab1f943bd5d6b4dc533fa90c9467",
                    "block_time": 1741276922,
                    "ledger_hash": "73ab04830e10d2b8786c1efa5273c94d78172eba193cd74c55a5aef62d1e1417",
                    "txlist_hash": "ce0d7ff11ef59c0e0b19adb86c03ca42e21a1ed54143931b2edec6170fa993bd",
                    "messages_hash": "5c1ffd1a35072a4e339858e1a1d9c349df9eeaab37094eac58645039125fc47a",
                    "previous_block_hash": "26148e68bed8d43cac1bbcffeeae6fe74786dc8618887353c7b3a930cabf3269",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "3bdc7277d84b73a55fb31789a78bcfbbf31af15e31dcf4542ca38af45d10ffa0"
                },
                {
                    "block_index": 242,
                    "block_hash": "26148e68bed8d43cac1bbcffeeae6fe74786dc8618887353c7b3a930cabf3269",
                    "block_time": 1741276918,
                    "ledger_hash": "9594823ad0a159fdd3ce7ed3f5e52b52dc483fd7fffd8c2b7c9b13a78c0f42d1",
                    "txlist_hash": "15a77514c7d6347263c375bec62a9c66c01b1fc6c04ec527b05cff11a8c1fe88",
                    "messages_hash": "57441e73419ff2164020b698b84ce3af6814a8e4200154d3258b97e05e4182f6",
                    "previous_block_hash": "6fa9b0da0099b592f466b04ff4bc2755f1f96074cae8f666ff599d217e05ca96",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "6dd058421fc08c2238d65322008efd62bd28f2f4108cf96cfbdcbfb54f271968"
                },
                {
                    "block_index": 241,
                    "block_hash": "6fa9b0da0099b592f466b04ff4bc2755f1f96074cae8f666ff599d217e05ca96",
                    "block_time": 1741276915,
                    "ledger_hash": "6d7ae39e1e8338cc9fae6ce4a2aeff91103ab80b7b2ef24e3b39cdb4f2ce3c92",
                    "txlist_hash": "5799b5625f86e1b9e414dddcefd4dea968c89c0f922dae6a7d2d5f61091be183",
                    "messages_hash": "4b2202c933af6a2081607b8cd65276b405b146358036daa7f8866b00822f9ff5",
                    "previous_block_hash": "48c77c7d3b68a2ce039d9c785afbfc9ab5c63c5665a05783620466d146e43728",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "f6d8926c3e81ef294b83ccc5f9fea24b7196357fe1fe8b67a7a17cc069d586d1"
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                "block_time": 1741276930,
                "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761"
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                "block_time": 1741276930,
                "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761"
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                "block_time": 1741276930,
                "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761"
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "block_index": 245,
                    "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
                    "block_time": 1741276930,
                    "source": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "destination": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1 047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                                "destination_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                                "source_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                                "status": "valid",
                                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                                "tx_index": 121,
                                "block_time": 1741276930,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                            "block_index": 245,
                            "block_time": 1741276930
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                                "destination_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                                "source_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                                "status": "valid",
                                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                                "tx_index": 121,
                                "block_time": 1741276930,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                            "block_index": 245,
                            "block_time": 1741276930
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                                "status": 0,
                                "tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                            "block_index": 245,
                            "block_time": 1741276930
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                                "tx_index": 121,
                                "block_time": 1741276930,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                            "block_index": 245,
                            "block_time": 1741276930
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                        "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                        "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761",
                        "transaction_count": 1,
                        "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                        "block_time": 1741276930
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "tx_index": 121
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                        "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                        "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "tx_index": 121,
                        "block_time": 1741276930,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                        "status": 0,
                        "tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741276930,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741276930,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                        "utxo_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                        "block_time": 1741276930,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                        "utxo_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                        "block_time": 1741276930,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "tx_index": 121,
                    "utxo": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                    "utxo_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "tx_index": 121,
                    "utxo": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                    "utxo_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "tx_index": 121,
                    "utxo": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                    "utxo_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "tx_index": 121,
                    "utxo": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                    "utxo_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31",
                    "block_index": 211,
                    "block_time": 1741276780
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "f488cd53269bc204093e2d6bd7cbc90f17e12bfdd94b5cda45edb4de3cf149ad",
                    "block_index": 188,
                    "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                    "offer_hash": "667cf1ac4dd12a00d84102e43ed175ae1c9462aff658fe87c09091e1f177c3c3",
                    "status": "valid",
                    "block_time": 1741276685
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
                    "block_index": 240,
                    "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1741276912,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "issuer": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1741276922,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "block_index": 245,
                    "source": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                    "destination": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "destination_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                    "block_index": 245,
                    "source": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                    "destination": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                    "destination_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                    "block_time": 1741276930,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                        "divisible": true,
                        "locked": false,
[...]
