[//]: # (Generated by genapidoc.py on 2024-09-15 15:11:56.720886. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                "block_index": 193,
                "block_time": 1726413098,
                "difficulty": 545259519,
                "previous_block_hash": "2b1c54fff48cc02a94054479c0ff6c02ac2e48a5db70b69556ca3b511ced7b20"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                "block_index": 193,
                "block_time": 1726413098,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                "tx_index": 59,
                "utxos_info": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "out_index": 0,
                "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
                "tx_index": 33,
                "block_time": 1726412903,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
            "block_index": 146,
            "block_time": 1726412903
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "e5b1065f1463ef9424e5eee4310cdb5186f61f4e0a5fcaf39268754db11e3969",
                "messages_hash": "995d6d6537774343da5678a57603b17b17e20dbdff91b545baf66f591571178b",
                "transaction_count": 1,
                "txlist_hash": "89633ccb2640a4393452243fb7b58750f048447485fe0f130f7a8dac9af3aae5",
                "block_time": 1726413098
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                "tx_index": 59
            },
            "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "asset": "XCP",
                "block_index": 193,
                "event": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726413098,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726413094,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
            "block_index": 192,
            "block_time": 1726413094
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                "status": "valid",
                "tx_hash": "ca818de7e57c8972bcb8ee202e8c15d0e6446b009fed53b19a7ec2cfb94dbdd1",
                "tx_index": 53,
                "block_time": 1726413072,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "ca818de7e57c8972bcb8ee202e8c15d0e6446b009fed53b19a7ec2cfb94dbdd1",
            "block_index": 187,
            "block_time": 1726413072
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "valid",
                "tx_hash": "c2150a16b55d7cb4fabc2154a4bc72360fb771da659d3e13cd5d8a459c284b4a",
                "tx_index": 54,
                "block_time": 1726413076,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "c2150a16b55d7cb4fabc2154a4bc72360fb771da659d3e13cd5d8a459c284b4a",
            "block_index": 188,
            "block_time": 1726413076
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                "status": "valid",
                "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                "tx_index": 58,
                "block_time": 1726413094,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
            "block_index": 192,
            "block_time": 1726413094
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "valid",
                "tx_hash": "5896e2c86ed35f13be16a3ce9ea01f838c67938909de526ba8ae453db1b2e5b7",
                "tx_index": 40,
                "block_time": 1726412933,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "5896e2c86ed35f13be16a3ce9ea01f838c67938909de526ba8ae453db1b2e5b7",
            "block_index": 153,
            "block_time": 1726412933
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726412961
            },
            "tx_hash": "ea29ba69549f7ade0d639f5d7eb88e4eee0267fc95a708305ea0068d6e92484b",
            "block_index": 159,
            "block_time": 1726412961
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "valid",
                "transfer": false,
                "tx_hash": "ea29ba69549f7ade0d639f5d7eb88e4eee0267fc95a708305ea0068d6e92484b",
                "tx_index": 46,
                "block_time": 1726412961,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ea29ba69549f7ade0d639f5d7eb88e4eee0267fc95a708305ea0068d6e92484b",
            "block_index": 159,
            "block_time": 1726412961
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                "tx_index": 59,
                "block_time": 1726413098,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
            "block_index": 193,
            "block_time": 1726413098
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "open",
                "tx_hash": "db0150199fd0528f9736e4af3f05d28d17a2d8735a105efdc19ff97750ebe9ef",
                "tx_index": 57,
                "block_time": 1726413089,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "db0150199fd0528f9736e4af3f05d28d17a2d8735a105efdc19ff97750ebe9ef",
            "block_index": 191,
            "block_time": 1726413089
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698_50385c513e7926e6809ef8e24ed577b731c1e5002d79f71cd0c2d5ff258bf5c1",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698",
                "tx0_index": 49,
                "tx1_address": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "50385c513e7926e6809ef8e24ed577b731c1e5002d79f71cd0c2d5ff258bf5c1",
                "tx1_index": 52,
                "block_time": 1726413068,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "50385c513e7926e6809ef8e24ed577b731c1e5002d79f71cd0c2d5ff258bf5c1",
            "block_index": 186,
            "block_time": 1726413068
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "ed783b943f07f8309f635c3a910ca4110ab3f31801d6b91b7a4237fe97925e8c"
            },
            "tx_hash": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e",
            "block_index": 190,
            "block_time": 1726413085
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a"
            },
            "tx_hash": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5",
            "block_index": 185,
            "block_time": 1726413063
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698_032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
                "order_match_id": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698_032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
                "status": "completed"
            },
            "tx_hash": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5",
            "block_index": 185,
            "block_time": 1726413063
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "order_match_id": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698_032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
                "source": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                "status": "valid",
                "tx_hash": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5",
                "tx_index": 51,
                "block_time": 1726413063,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5",
            "block_index": 185,
            "block_time": 1726413063
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "ed783b943f07f8309f635c3a910ca4110ab3f31801d6b91b7a4237fe97925e8c",
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "valid",
                "tx_hash": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e",
                "tx_index": 56,
                "block_time": 1726413085
            },
            "tx_hash": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e",
            "block_index": 190,
            "block_time": 1726413085
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "ce6c2c764e2c10b9049f90c36c57ded20c5ff637baaa2dc4fbbef9c26b5f5701",
                "source": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                "block_time": 1726412976
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726412976
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "c165c8b82c895379486c3ea809cf022f41c22c345468420b865bb36ab5248b51_ce6c2c764e2c10b9049f90c36c57ded20c5ff637baaa2dc4fbbef9c26b5f5701",
                "tx0_address": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "tx1_address": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                "block_time": 1726412976
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726412976
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "origin": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "satoshirate": 1,
                "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "status": 0,
                "tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
                "tx_index": 32,
                "block_time": 1726412899,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
            "block_index": 145,
            "block_time": 1726412899
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "status": 0,
                "tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
            "block_index": 146,
            "block_time": 1726412903
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mfabNZdW5jAJW3wjaRrDYxf7zxB5j89GQw",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "961edad767431c781bd6552b22ac71c4024d7033193941b7928d2b5f4128ef46",
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "tx_hash": "c98567d85a0b783863f22975e3162c196162039303e5757748536ddd73fc7e9e",
                "tx_index": 31,
                "block_time": 1726412895,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "c98567d85a0b783863f22975e3162c196162039303e5757748536ddd73fc7e9e",
            "block_index": 144,
            "block_time": 1726412895
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qxdkz7tp9efgnvlzuzrph23mhccs7ax0q97ffla",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
                "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
                "tx_index": 33,
                "block_time": 1726412903,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
            "block_index": 146,
            "block_time": 1726412903
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "c58bb4a19d247dd9df9ebdaeb0c4d05e768b37fe08ec2b16fae269dc16f272db",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726412869,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "c58bb4a19d247dd9df9ebdaeb0c4d05e768b37fe08ec2b16fae269dc16f272db",
            "block_index": 138,
            "block_time": 1726412869
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "start_block": 0,
                "status": "open",
                "tx_hash": "36d59fb913146be9b82f36f76da973c54aed949df51de7440ac77a52748dfd1a",
                "tx_index": 22,
                "block_time": 1726412856
            },
            "tx_hash": "36d59fb913146be9b82f36f76da973c54aed949df51de7440ac77a52748dfd1a",
            "block_index": 135,
            "block_time": 1726412856
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "344c5e5bf2d7b7aa857bc566dd691cd1c7d2ae71df1a4c854ecaaa45a110524e"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726412826
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "36d59fb913146be9b82f36f76da973c54aed949df51de7440ac77a52748dfd1a",
                "paid_quantity": 34,
                "source": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                "status": "valid",
                "tx_hash": "375aa43a6d0bd9981bea74ffa8aefc6676ed4bc46e601f00523b4434958c2bee",
                "tx_index": 23,
                "block_time": 1726412861,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "375aa43a6d0bd9981bea74ffa8aefc6676ed4bc46e601f00523b4434958c2bee",
            "block_index": 136,
            "block_time": 1726412861
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "92635e2e697a5f19ba42b501819130a350d51eed682e3bb39adea5e97ca72d36:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                "status": "valid",
                "tx_hash": "92635e2e697a5f19ba42b501819130a350d51eed682e3bb39adea5e97ca72d36",
                "tx_index": 38,
                "block_time": 1726412925,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "92635e2e697a5f19ba42b501819130a350d51eed682e3bb39adea5e97ca72d36",
            "block_index": 151,
            "block_time": 1726412925
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1quwkyd7ttp43s2y8re00fwyqfqrk9kcx9gu44g9",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "2e8c5e66216265102d67a7abf7e8e1e79c2c830906420c059c151cf5890591d1:0",
                "status": "valid",
                "tx_hash": "1309b60b15a1b3c7b96752532f9b9f575d82764efe12dca13f2ff46c91079bdc",
                "tx_index": 37,
                "block_time": 1726412920,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "1309b60b15a1b3c7b96752532f9b9f575d82764efe12dca13f2ff46c91079bdc",
            "block_index": 150,
            "block_time": 1726412920
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "3f0c7995278920264a6c33d07dbc5ec9382d438ee32d5448fa5bb9bd3436f061:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "3f123c532913407e03e366b12694188032775739481d27c8c44b39e61357a234:0",
                "status": "valid",
                "tx_hash": "3f0c7995278920264a6c33d07dbc5ec9382d438ee32d5448fa5bb9bd3436f061",
                "tx_index": 42,
                "block_time": 1726412944,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "3f0c7995278920264a6c33d07dbc5ec9382d438ee32d5448fa5bb9bd3436f061",
            "block_index": 155,
            "block_time": 1726412944
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qzem3gwnzfh7qge3q8tv6j8zkg3qwngqpg08405",
                "status": "valid",
                "tx_hash": "760cc5e6b210fd4d1fcf283df19ed47d62d0e9e96302d41dddc518296cba068d",
                "tx_index": 9,
                "block_time": 1726412787,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "760cc5e6b210fd4d1fcf283df19ed47d62d0e9e96302d41dddc518296cba068d",
            "block_index": 121,
            "block_time": 1726412787
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                    "block_time": 1726413098,
                    "previous_block_hash": "2b1c54fff48cc02a94054479c0ff6c02ac2e48a5db70b69556ca3b511ced7b20",
                    "difficulty": 545259519,
                    "ledger_hash": "e5b1065f1463ef9424e5eee4310cdb5186f61f4e0a5fcaf39268754db11e3969",
                    "txlist_hash": "89633ccb2640a4393452243fb7b58750f048447485fe0f130f7a8dac9af3aae5",
                    "messages_hash": "995d6d6537774343da5678a57603b17b17e20dbdff91b545baf66f591571178b",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "2b1c54fff48cc02a94054479c0ff6c02ac2e48a5db70b69556ca3b511ced7b20",
                    "block_time": 1726413094,
                    "previous_block_hash": "317f86fca133b29981008690a4b8bdb83c4184c1a6d6d580ead4e23cc4a7f8b8",
                    "difficulty": 545259519,
                    "ledger_hash": "b90b27a8ac8122e9b041262376b7ad6aa8425e1e2b8be80b6fe0c0718f4c0888",
                    "txlist_hash": "dc813e69d78437049bd92bb128b88f336a8cbec4ce4cd86a1ea01226eb80e7b7",
                    "messages_hash": "5626c54c6de0d365e3cc730a2bdd3729d8bf1759ac3f73f13593fce34e9ff4b5",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "317f86fca133b29981008690a4b8bdb83c4184c1a6d6d580ead4e23cc4a7f8b8",
                    "block_time": 1726413089,
                    "previous_block_hash": "6327ed6f75585334e07cddfbe26f37cf31f94ee7832b7449cf25d44d959f318f",
                    "difficulty": 545259519,
                    "ledger_hash": "a01bdeeb09c53bef905618faf5dfe911b6c429e86418f358c1f126d7bbf9cd0c",
                    "txlist_hash": "4e5754d0feace10f572c99b5f8d41cd961d28ddd97cadb3f2ece063732138e2b",
                    "messages_hash": "50b634e3fe4b347cc7378f0bbd583b79e0e8caa7da286464531db5498d294f0a",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "6327ed6f75585334e07cddfbe26f37cf31f94ee7832b7449cf25d44d959f318f",
                    "block_time": 1726413085,
                    "previous_block_hash": "187c27edb2d8a08a40eb7901486cb56538a2d80bde86e2f697bd1914836a9b6a",
                    "difficulty": 545259519,
                    "ledger_hash": "acd5b16a9bac29f11a7ded20a8213cedf17fad5db5dbbb5396b4138c66c22acc",
                    "txlist_hash": "275f2f0bb2a12404d37d196a644ea20aff96d03366c6e7bf3f91fb3bbaf74759",
                    "messages_hash": "97bef0048a8accb780327003c1bbad0836c0c76a54d4a5d69425a7dc784c5ff4",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "187c27edb2d8a08a40eb7901486cb56538a2d80bde86e2f697bd1914836a9b6a",
                    "block_time": 1726413081,
                    "previous_block_hash": "4fa639c2693c934e882043616743ce8df8516c2b3007cf162310da0429332712",
                    "difficulty": 545259519,
                    "ledger_hash": "3646ad730b8665b34355302ad0c7422d696d8382788a7a5f70a9bc6abd3fb87c",
                    "txlist_hash": "02b7a4a56ac707e93c465e87b77f8f80553bb48f9706dc10e6192ad3e2acb2e8",
                    "messages_hash": "08cf2a13995df5410d0f72c9e835a276122ea3b8d4daa8ed57b2ef1da7ce1634",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                "block_time": 1726413098,
                "previous_block_hash": "2b1c54fff48cc02a94054479c0ff6c02ac2e48a5db70b69556ca3b511ced7b20",
                "difficulty": 545259519,
                "ledger_hash": "e5b1065f1463ef9424e5eee4310cdb5186f61f4e0a5fcaf39268754db11e3969",
                "txlist_hash": "89633ccb2640a4393452243fb7b58750f048447485fe0f130f7a8dac9af3aae5",
                "messages_hash": "995d6d6537774343da5678a57603b17b17e20dbdff91b545baf66f591571178b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                "block_time": 1726413098,
                "previous_block_hash": "2b1c54fff48cc02a94054479c0ff6c02ac2e48a5db70b69556ca3b511ced7b20",
                "difficulty": 545259519,
                "ledger_hash": "e5b1065f1463ef9424e5eee4310cdb5186f61f4e0a5fcaf39268754db11e3969",
                "txlist_hash": "89633ccb2640a4393452243fb7b58750f048447485fe0f130f7a8dac9af3aae5",
                "messages_hash": "995d6d6537774343da5678a57603b17b17e20dbdff91b545baf66f591571178b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                    "block_index": 193,
                    "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
                    "block_time": 1726413098,
                    "source": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "b90b27a8ac8122e9b041262376b7ad6aa8425e1e2b8be80b6fe0c0718f4c0888",
                        "messages_hash": "5626c54c6de0d365e3cc730a2bdd3729d8bf1759ac3f73f13593fce34e9ff4b5",
                        "transaction_count": 1,
                        "txlist_hash": "dc813e69d78437049bd92bb128b88f336a8cbec4ce4cd86a1ea01226eb80e7b7",
                        "block_time": 1726413094
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "tx_index": 58
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                        "status": "valid",
                        "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "tx_index": 58,
                        "block_time": 1726413094,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726413094,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726413094,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726413094,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726413094,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726413094,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726413094,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726413094,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726413094,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726413098,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "ce6c2c764e2c10b9049f90c36c57ded20c5ff637baaa2dc4fbbef9c26b5f5701",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726412976
                },
                {
                    "type": "order",
                    "object_id": "c165c8b82c895379486c3ea809cf022f41c22c345468420b865bb36ab5248b51",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726412976
                },
                {
                    "type": "order_match",
                    "object_id": "c165c8b82c895379486c3ea809cf022f41c22c345468420b865bb36ab5248b51_ce6c2c764e2c10b9049f90c36c57ded20c5ff637baaa2dc4fbbef9c26b5f5701",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726412976
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e",
                    "block_index": 190,
                    "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "offer_hash": "ed783b943f07f8309f635c3a910ca4110ab3f31801d6b91b7a4237fe97925e8c",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726413085
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
                    "block_index": 193,
                    "source": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726413098,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "ea29ba69549f7ade0d639f5d7eb88e4eee0267fc95a708305ea0068d6e92484b",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726412961,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "c2150a16b55d7cb4fabc2154a4bc72360fb771da659d3e13cd5d8a459c284b4a",
                    "block_index": 188,
                    "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "destination": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726413076,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "c2150a16b55d7cb4fabc2154a4bc72360fb771da659d3e13cd5d8a459c284b4a",
                    "block_index": 188,
                    "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "destination": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726413076,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "c2150a16b55d7cb4fabc2154a4bc72360fb771da659d3e13cd5d8a459c284b4a",
                    "block_index": 188,
                    "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                    "destination": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726413076,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
                    "block_index": 146,
                    "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                    "destination": "bcrt1qxdkz7tp9efgnvlzuzrph23mhccs7ax0q97ffla",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726412903,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "c25e2f3d426cf36644d9ad91da4f9e71e61d55af5d017a15bb3de22eee699a6c",
                    "block_index": 192,
                    "source": "bcrt1qg4j0npkn29jr90gje6qp49c0fzlrsdselj6e5c",
                    "destination": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726413094,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "c58bb4a19d247dd9df9ebdaeb0c4d05e768b37fe08ec2b16fae269dc16f272db",
        "block_index": 138,
        "block_hash": "301ee55a56e20eb4e8afc1b936328bda51bf132f29b1a089798c14db99f7c43a",
        "block_time": 1726412869,
        "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "c58bb4a19d247dd9df9ebdaeb0c4d05e768b37fe08ec2b16fae269dc16f272db:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5",
        "block_index": 185,
        "block_hash": "6b77f3d943ed6e138bb8e0d275ec15cb163fee572b29435237133cf159728386",
        "block_time": 1726413063,
        "source": "bcrt1qac03z2t6xygfs5nfc2vqy4kexz33f6yr46fwfk",
        "destination": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0ba42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
        "supported": true,
        "utxos_info": "6df3b21857771fb61dd1758f0b28cc5f2f85101a68b18f813f9ca6c77292f7f5:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698",
                "tx1_hash": "032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
                "order_match_id": "a42109c66745e6c2ae2d14d001a3fa374e891d81f56b0d5cc8465f2a01e0e698_032a6dfdd45883fbc86f6a50749f5064d3a23f373ead38861edd06d51981ce2a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e",
        "block_index": 190,
        "block_hash": "6327ed6f75585334e07cddfbe26f37cf31f94ee7832b7449cf25d44d959f318f",
        "block_time": 1726413085,
        "source": "bcrt1q504tvnmhef5g4zmmzh29g3frskn3p4fs7v9vgn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46ed783b943f07f8309f635c3a910ca4110ab3f31801d6b91b7a4237fe97925e8c",
        "supported": true,
        "utxos_info": "386b2fe65c1ec330e5a2adf7ae2b29142b62e30b0398dc606742283e444c409e:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "ed783b943f07f8309f635c3a910ca4110ab3f31801d6b91b7a4237fe97925e8c",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec",
        "block_index": 193,
        "block_hash": "196c9321923431682bdc2e1af08e48735044f0014771ab386563a4c9bbe27deb",
        "block_time": 1726413098,
        "source": "bcrt1qmwejsxtpxelkaqjqrd6pezad6tmcrxrlr936lu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "ddca5d8c67e6f0fca626bad7515d70e17fd49cf028df3e0e08b18e2243ec3cec:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f",
        "block_index": 145,
        "block_hash": "14fd42e723521e60ea078c5945f4ad5dc13c0cd56e7f093accaf20f97b0b64ba",
        "block_time": 1726412899,
        "source": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100807014595faa00a59b665fcf11a7539e07a78f4233",
        "supported": true,
        "utxos_info": "3c253118e97a88961b69a3b18d81b738aa99f9b8cee626006d10b6798c3bfc4f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181",
        "block_index": 146,
        "block_hash": "747f0de60e56489f589b55fba27df369457788c694a89fd444a58bbc169f4a9b",
        "block_time": 1726412903,
        "source": "bcrt1qxdkz7tp9efgnvlzuzrph23mhccs7ax0q97ffla",
        "destination": "bcrt1qwq29jha2qzjekejleug6w5u7q7nc7s3nymku45",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "bcd7e9aa3cb5465b61d3a1c142241b6af16dc986b9a00a21c3d2fa605b11e181:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "5896e2c86ed35f13be16a3ce9ea01f838c67938909de526ba8ae453db1b2e5b7",
        "block_index": 153,
        "block_hash": "052cfe3eb215e2ff24096021291a8476cf289b4077dacf32e86605f6324c5f34",
        "block_time": 1726412933,
[...]
