[//]: # (Generated by genapidoc.py on 2024-09-19 10:37:17.989867. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                "block_index": 193,
                "block_time": 1726742211,
                "difficulty": 545259519,
                "previous_block_hash": "060f16b3c01cd84e3df6fecebaeb350562efe1925c7d3b8c94a82cddb4cafc8f"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                "block_index": 193,
                "block_time": 1726742211,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                "tx_index": 59,
                "utxos_info": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "out_index": 0,
                "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
                "tx_index": 33,
                "block_time": 1726742026,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
            "block_index": 146,
            "block_time": 1726742026
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "70a450056d19fb650bbcc71f61ba5ef182d2e62bd011c67bead57dc183dfc75e",
                "messages_hash": "de6184d927762cb48813f3e5bc58cbe8a5caadb7e7877499037ee370679b83bd",
                "transaction_count": 1,
                "txlist_hash": "7ce414267e0fa1e4c80aedcf2ee79e93437462041dbda7db9aa35943b9fd429a",
                "block_time": 1726742211
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                "tx_index": 59
            },
            "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "asset": "XCP",
                "block_index": 193,
                "event": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726742211,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726742207,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
            "block_index": 192,
            "block_time": 1726742207
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                "status": "valid",
                "tx_hash": "dc5aee8c69e5c1ccd3ad2801fef11e7d690af6c10f8ca3d849a72f70fc72442a",
                "tx_index": 53,
                "block_time": 1726742186,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "dc5aee8c69e5c1ccd3ad2801fef11e7d690af6c10f8ca3d849a72f70fc72442a",
            "block_index": 187,
            "block_time": 1726742186
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "valid",
                "tx_hash": "550d0922694aecfdd1e34b23805d94db8198857eda826e948a499332c148d5ff",
                "tx_index": 54,
                "block_time": 1726742190,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "550d0922694aecfdd1e34b23805d94db8198857eda826e948a499332c148d5ff",
            "block_index": 188,
            "block_time": 1726742190
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                "status": "valid",
                "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                "tx_index": 58,
                "block_time": 1726742207,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
            "block_index": 192,
            "block_time": 1726742207
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "valid",
                "tx_hash": "1442c5dadf24a9c7149fc3de760377657a50b4c675238007686e30ed0fdb4a28",
                "tx_index": 40,
                "block_time": 1726742056,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "1442c5dadf24a9c7149fc3de760377657a50b4c675238007686e30ed0fdb4a28",
            "block_index": 153,
            "block_time": 1726742056
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726742082
            },
            "tx_hash": "b547990915743f9dfa2fbe570fd01c7a01e2bc9bccb5f0e70bfb092b46e70655",
            "block_index": 159,
            "block_time": 1726742082
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "valid",
                "transfer": false,
                "tx_hash": "b547990915743f9dfa2fbe570fd01c7a01e2bc9bccb5f0e70bfb092b46e70655",
                "tx_index": 46,
                "block_time": 1726742082,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b547990915743f9dfa2fbe570fd01c7a01e2bc9bccb5f0e70bfb092b46e70655",
            "block_index": 159,
            "block_time": 1726742082
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                "tx_index": 59,
                "block_time": 1726742211,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
            "block_index": 193,
            "block_time": 1726742211
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "open",
                "tx_hash": "010fd9714b0fbe41328dcfd153c499eccb3b1e8d203a9b500c8365cbad052e6d",
                "tx_index": 57,
                "block_time": 1726742203,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "010fd9714b0fbe41328dcfd153c499eccb3b1e8d203a9b500c8365cbad052e6d",
            "block_index": 191,
            "block_time": 1726742203
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d_353ed1142f146061bcbd64d33047ef59b1f915bc72b7ec754f01a710b1890285",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d",
                "tx0_index": 49,
                "tx1_address": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "353ed1142f146061bcbd64d33047ef59b1f915bc72b7ec754f01a710b1890285",
                "tx1_index": 52,
                "block_time": 1726742182,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "353ed1142f146061bcbd64d33047ef59b1f915bc72b7ec754f01a710b1890285",
            "block_index": 186,
            "block_time": 1726742182
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "975eb9d55bdc2daaa5e239165db9b6a81117cf2ba663b6510c1a8958aedb1fe0"
            },
            "tx_hash": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259",
            "block_index": 190,
            "block_time": 1726742198
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac"
            },
            "tx_hash": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e",
            "block_index": 185,
            "block_time": 1726742178
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d_3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
                "order_match_id": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d_3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
                "status": "completed"
            },
            "tx_hash": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e",
            "block_index": 185,
            "block_time": 1726742178
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "order_match_id": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d_3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
                "source": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                "status": "valid",
                "tx_hash": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e",
                "tx_index": 51,
                "block_time": 1726742178,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e",
            "block_index": 185,
            "block_time": 1726742178
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "975eb9d55bdc2daaa5e239165db9b6a81117cf2ba663b6510c1a8958aedb1fe0",
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "valid",
                "tx_hash": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259",
                "tx_index": 56,
                "block_time": 1726742198
            },
            "tx_hash": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259",
            "block_index": 190,
            "block_time": 1726742198
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "c49a472a3f19b686055ab249b41bba884579fbed879f58a7083cbed9cf77bed6",
                "source": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                "block_time": 1726742099
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726742099
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "f585b0abe87b22e245647b5441b86dbe42120eabe82454a22ddbf7b9750d6a72_c49a472a3f19b686055ab249b41bba884579fbed879f58a7083cbed9cf77bed6",
                "tx0_address": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "tx1_address": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                "block_time": 1726742099
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726742099
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "origin": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "satoshirate": 1,
                "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "status": 0,
                "tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
                "tx_index": 32,
                "block_time": 1726742021,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
            "block_index": 145,
            "block_time": 1726742021
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "status": 0,
                "tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
            "block_index": 146,
            "block_time": 1726742026
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mvp1Wt3dDXLsTRMaAirFTs5YbHsGGJvZUe",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "a1fc2463aef2b4097db31b2ba1308a4e6b9a6a6eff82085855829e3e25e6574d",
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "tx_hash": "9695b1501e32ae3c6f4f24caeca727bd3bfa7c6d0ddb866fab4880ba12f4f658",
                "tx_index": 31,
                "block_time": 1726742017,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "9695b1501e32ae3c6f4f24caeca727bd3bfa7c6d0ddb866fab4880ba12f4f658",
            "block_index": 144,
            "block_time": 1726742017
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qtwkem3phh6lnjxy3dkqrewrr9r6geenrr0svrs",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
                "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
                "tx_index": 33,
                "block_time": 1726742026,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
            "block_index": 146,
            "block_time": 1726742026
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "52f9c185027ddb83c79b32e02666b625497045542f2c6c709399bcc899183696",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726741991,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "52f9c185027ddb83c79b32e02666b625497045542f2c6c709399bcc899183696",
            "block_index": 138,
            "block_time": 1726741991
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "start_block": 0,
                "status": "open",
                "tx_hash": "b3d6300efc9dd06509a43daadd2849451d39d92ec23d3b895ae472fc9a7a0318",
                "tx_index": 22,
                "block_time": 1726741978
            },
            "tx_hash": "b3d6300efc9dd06509a43daadd2849451d39d92ec23d3b895ae472fc9a7a0318",
            "block_index": 135,
            "block_time": 1726741978
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ac047163f3cd9094f4ee2103b832d0064228aa5f2a7fc8e3104ee775fb181f84"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726741947
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "b3d6300efc9dd06509a43daadd2849451d39d92ec23d3b895ae472fc9a7a0318",
                "paid_quantity": 34,
                "source": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                "status": "valid",
                "tx_hash": "4ef19e15a942cd317edd6f0705b17761dac9a1c56bd3d92c4b636cf5b7102c7c",
                "tx_index": 23,
                "block_time": 1726741983,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "4ef19e15a942cd317edd6f0705b17761dac9a1c56bd3d92c4b636cf5b7102c7c",
            "block_index": 136,
            "block_time": 1726741983
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "4b4c0a7b76a6e12f0fe575aa8dc384cd41cf30e63acb9f8bb585c8fd9dcd84f9:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                "status": "valid",
                "tx_hash": "4b4c0a7b76a6e12f0fe575aa8dc384cd41cf30e63acb9f8bb585c8fd9dcd84f9",
                "tx_index": 38,
                "block_time": 1726742048,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "4b4c0a7b76a6e12f0fe575aa8dc384cd41cf30e63acb9f8bb585c8fd9dcd84f9",
            "block_index": 151,
            "block_time": 1726742048
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qnavufevt06yng5cpgtawx0fs3vswcj9dscgmcy",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "daabc4181b5c356b166fd9efb6056720fec8a1d81871b9c5b091a499e81e663f:0",
                "status": "valid",
                "tx_hash": "e4c8f0c552dea7470e5d2ef98ff6568f869c3e95231b43879b3a1fabea2cff64",
                "tx_index": 37,
                "block_time": 1726742043,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e4c8f0c552dea7470e5d2ef98ff6568f869c3e95231b43879b3a1fabea2cff64",
            "block_index": 150,
            "block_time": 1726742043
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "7154a57dce44946ba53779bf3ef2db85048a42ed7d4de50c40ba410282cad1b0:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "6fca1cf812fee28a0f3b93ab2f45ee0e6517c7768660d5c25374ab222d624e53:0",
                "status": "valid",
                "tx_hash": "7154a57dce44946ba53779bf3ef2db85048a42ed7d4de50c40ba410282cad1b0",
                "tx_index": 42,
                "block_time": 1726742065,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "7154a57dce44946ba53779bf3ef2db85048a42ed7d4de50c40ba410282cad1b0",
            "block_index": 155,
            "block_time": 1726742065
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qzg7g6s9ckm9rsj4q55s6l4fjzlnzjs60l2vdx3",
                "status": "valid",
                "tx_hash": "9f284d873f6c69ac2600ac8d935d6f4a50e0fff2ed36747baffff21663a4e8cb",
                "tx_index": 9,
                "block_time": 1726741908,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "9f284d873f6c69ac2600ac8d935d6f4a50e0fff2ed36747baffff21663a4e8cb",
            "block_index": 121,
            "block_time": 1726741908
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                    "block_time": 1726742211,
                    "previous_block_hash": "060f16b3c01cd84e3df6fecebaeb350562efe1925c7d3b8c94a82cddb4cafc8f",
                    "difficulty": 545259519,
                    "ledger_hash": "70a450056d19fb650bbcc71f61ba5ef182d2e62bd011c67bead57dc183dfc75e",
                    "txlist_hash": "7ce414267e0fa1e4c80aedcf2ee79e93437462041dbda7db9aa35943b9fd429a",
                    "messages_hash": "de6184d927762cb48813f3e5bc58cbe8a5caadb7e7877499037ee370679b83bd",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "060f16b3c01cd84e3df6fecebaeb350562efe1925c7d3b8c94a82cddb4cafc8f",
                    "block_time": 1726742207,
                    "previous_block_hash": "1dce3790b4a43b33d277824f6ad616519653e18b18355cafeb53670ff8c983f4",
                    "difficulty": 545259519,
                    "ledger_hash": "0a2bdb38999b534fd2b576ff3c06e3eee38ebf1647458e5728700cedd6efcaed",
                    "txlist_hash": "7e202711cfe7c8b899866f52138b5f970ae744974e861db8fe7d22b284b88dbf",
                    "messages_hash": "48160ef2e284595aa7d8f136206cd029ffd17325ffe6584f96a3113dc2f097b5",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "1dce3790b4a43b33d277824f6ad616519653e18b18355cafeb53670ff8c983f4",
                    "block_time": 1726742203,
                    "previous_block_hash": "54cd9caaa8fce8a78011bf573033e5c66827b4f054205f1a89eb72cf7264f412",
                    "difficulty": 545259519,
                    "ledger_hash": "6e9a0d3d0c0ba20e2081bb9a2dacbdffcf05aaf850bb5ea1debda78f465e48a4",
                    "txlist_hash": "55c720e469b176ebab9b107f55fa2fa4b81a7b709f5d0d320aec4d0418b30ced",
                    "messages_hash": "7230316bb7908deaf56674f65e5f861f91d1870c5239f1b17708d290d18d940d",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "54cd9caaa8fce8a78011bf573033e5c66827b4f054205f1a89eb72cf7264f412",
                    "block_time": 1726742198,
                    "previous_block_hash": "49dc4ddb70d192b54a5ca94706a766771f5d75e7013ccde319624e804335bc20",
                    "difficulty": 545259519,
                    "ledger_hash": "2faa91e8fbe01eb0b87717d897b1f78e3f12a5842cc77bf58dc38fd3f37a3482",
                    "txlist_hash": "e52ebece08054449aa8a477cd7c19b1542b342af81df4f866eb76be8f24284fd",
                    "messages_hash": "a1e98cfa9d9ad01e5c9ea206c95f169a6be5152237df625e719b8f648a50ec4a",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "49dc4ddb70d192b54a5ca94706a766771f5d75e7013ccde319624e804335bc20",
                    "block_time": 1726742194,
                    "previous_block_hash": "1223a9ebf3f56e035752b5244d0710e06d19b8d943c71c76b43631da6557211c",
                    "difficulty": 545259519,
                    "ledger_hash": "7f3d92b28bcfa9cb4f9fe9cf2704a600db7cb3775f3d60b40df6ebbf3190c01b",
                    "txlist_hash": "0ed5cbda0c2184cbfa3c21efaf00573bb0f99adb32b260680a69892879d63afd",
                    "messages_hash": "eb0dbf67a7c239e8a9800ca126627178fffcefff09d7867dd7a1e9c2de4380fd",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                "block_time": 1726742211,
                "previous_block_hash": "060f16b3c01cd84e3df6fecebaeb350562efe1925c7d3b8c94a82cddb4cafc8f",
                "difficulty": 545259519,
                "ledger_hash": "70a450056d19fb650bbcc71f61ba5ef182d2e62bd011c67bead57dc183dfc75e",
                "txlist_hash": "7ce414267e0fa1e4c80aedcf2ee79e93437462041dbda7db9aa35943b9fd429a",
                "messages_hash": "de6184d927762cb48813f3e5bc58cbe8a5caadb7e7877499037ee370679b83bd",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                "block_time": 1726742211,
                "previous_block_hash": "060f16b3c01cd84e3df6fecebaeb350562efe1925c7d3b8c94a82cddb4cafc8f",
                "difficulty": 545259519,
                "ledger_hash": "70a450056d19fb650bbcc71f61ba5ef182d2e62bd011c67bead57dc183dfc75e",
                "txlist_hash": "7ce414267e0fa1e4c80aedcf2ee79e93437462041dbda7db9aa35943b9fd429a",
                "messages_hash": "de6184d927762cb48813f3e5bc58cbe8a5caadb7e7877499037ee370679b83bd",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                    "block_index": 193,
                    "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
                    "block_time": 1726742211,
                    "source": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "0a2bdb38999b534fd2b576ff3c06e3eee38ebf1647458e5728700cedd6efcaed",
                        "messages_hash": "48160ef2e284595aa7d8f136206cd029ffd17325ffe6584f96a3113dc2f097b5",
                        "transaction_count": 1,
                        "txlist_hash": "7e202711cfe7c8b899866f52138b5f970ae744974e861db8fe7d22b284b88dbf",
                        "block_time": 1726742207
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "tx_index": 58
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                        "status": "valid",
                        "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "tx_index": 58,
                        "block_time": 1726742207,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726742207,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726742207,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726742207,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726742207,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726742207,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726742207,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726742207,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726742207,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726742211,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "c49a472a3f19b686055ab249b41bba884579fbed879f58a7083cbed9cf77bed6",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726742099
                },
                {
                    "type": "order",
                    "object_id": "f585b0abe87b22e245647b5441b86dbe42120eabe82454a22ddbf7b9750d6a72",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726742099
                },
                {
                    "type": "order_match",
                    "object_id": "f585b0abe87b22e245647b5441b86dbe42120eabe82454a22ddbf7b9750d6a72_c49a472a3f19b686055ab249b41bba884579fbed879f58a7083cbed9cf77bed6",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726742099
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259",
                    "block_index": 190,
                    "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "offer_hash": "975eb9d55bdc2daaa5e239165db9b6a81117cf2ba663b6510c1a8958aedb1fe0",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726742198
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
                    "block_index": 193,
                    "source": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726742211,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "b547990915743f9dfa2fbe570fd01c7a01e2bc9bccb5f0e70bfb092b46e70655",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726742082,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "550d0922694aecfdd1e34b23805d94db8198857eda826e948a499332c148d5ff",
                    "block_index": 188,
                    "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "destination": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726742190,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "550d0922694aecfdd1e34b23805d94db8198857eda826e948a499332c148d5ff",
                    "block_index": 188,
                    "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "destination": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726742190,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "550d0922694aecfdd1e34b23805d94db8198857eda826e948a499332c148d5ff",
                    "block_index": 188,
                    "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                    "destination": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726742190,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
                    "block_index": 146,
                    "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                    "destination": "bcrt1qtwkem3phh6lnjxy3dkqrewrr9r6geenrr0svrs",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726742026,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "1ab74ff349e60d357cb7208e771ff11172f5ff7277454a90bceb2f4434f44a08",
                    "block_index": 192,
                    "source": "bcrt1qje504zwrlvpv3dagjyqr5dmn7mhdffjkcfpell",
                    "destination": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726742207,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "52f9c185027ddb83c79b32e02666b625497045542f2c6c709399bcc899183696",
        "block_index": 138,
        "block_hash": "647a8b592e07b4e44323c9f8cc00cfd55804bbc1e54298977e8e6a7095c8639c",
        "block_time": 1726741991,
        "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "52f9c185027ddb83c79b32e02666b625497045542f2c6c709399bcc899183696:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e",
        "block_index": 185,
        "block_hash": "592f49ff43d18849d9b56671fedc5a4de889bebd46b34f08efcc8fa908b1e928",
        "block_time": 1726742178,
        "source": "bcrt1qhzrx0zeptqgje8tlu7epfgffg0pv40vkr08eqn",
        "destination": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
        "supported": true,
        "utxos_info": "1d330c3c03aad157f515b7aae1a9b50ec34638620ae893ea53938c51c7d0290e:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d",
                "tx1_hash": "3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
                "order_match_id": "4dfb01b4a14a0bcbdfc725edc77719a2731441fee5d061506f0483cca3a5c90d_3bccb6c323bb0f104846885bbc482376a007f2bdcbe5f607cf3747a457f637ac",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259",
        "block_index": 190,
        "block_hash": "54cd9caaa8fce8a78011bf573033e5c66827b4f054205f1a89eb72cf7264f412",
        "block_time": 1726742198,
        "source": "bcrt1q3ehqn66azenwn6etwq9zpls95fex7m4z984rr3",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46975eb9d55bdc2daaa5e239165db9b6a81117cf2ba663b6510c1a8958aedb1fe0",
        "supported": true,
        "utxos_info": "95cbcd3909acb831b38083ddd0f7fd1d1fc2ec59b759f5704e0a807a5c150259:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "975eb9d55bdc2daaa5e239165db9b6a81117cf2ba663b6510c1a8958aedb1fe0",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02",
        "block_index": 193,
        "block_hash": "7ee3e71c605a074281e59a3f9007430126e509a5b4e59c0efab8b4cc785a7fcd",
        "block_time": 1726742211,
        "source": "bcrt1qka6yrglv5pwpxcyqu5z0uvs3f7ne73qxj5v6xf",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "672e789cb5024a272cef946f724c6580ecd9e2f9f23d4899bccc35fb8cbfab02:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763",
        "block_index": 145,
        "block_hash": "78b23f6904604532f3b6bb7ec8565e2ba4b3701295e761f8ac9271c0e087628a",
        "block_time": 1726742021,
        "source": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080811a085375d61029cc6716db8f89076467dc91a6",
        "supported": true,
        "utxos_info": "9218917bc9518cacdb7c9eb708520b38b5960fd46cacc7c6fdd3c54ad3a84763:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503",
        "block_index": 146,
        "block_hash": "35eadbc6e30d4ee1de99b3c477150bfc633a78c2193e56bd3c7b570578cb3b87",
        "block_time": 1726742026,
        "source": "bcrt1qtwkem3phh6lnjxy3dkqrewrr9r6geenrr0svrs",
        "destination": "bcrt1qsydqs5m46cgznnr8zmdclzg8v3naeydxkx500v",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "363f6a0882de513e7d741650bd32a1b2271966fc6040b63223921acee909c503:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "1442c5dadf24a9c7149fc3de760377657a50b4c675238007686e30ed0fdb4a28",
        "block_index": 153,
        "block_hash": "3c5f4025ab216fcb035812b273ba6d6f0d1eafba3e557abd82363a6f88e5675c",
        "block_time": 1726742056,
[...]
