[//]: # (Generated by genapidoc.py on 2025-03-12 16:13:05.463448. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                "block_index": 245,
                "block_time": 1741795962,
                "difficulty": 545259519,
                "previous_block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                "block_index": 245,
                "block_time": 1741795962,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "fee": 0,
                "source": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                "transaction_type": "dispense",
                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "tx_index": 121,
                "utxos_info": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1 b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "out_index": 0,
                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "tx_index": 121,
                "block_time": 1741795962,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                "transaction_count": 1,
                "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                "block_time": 1741795962
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "tx_index": 121
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                "utxo_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                "block_time": 1741795962,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1741795962,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q4kywhtrpsge20dghl28pf8w9mvvndg9924axxp",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "status": "valid",
                "tx_hash": "51373a1a130dbc40c217e863be72cbc7916884f7f11c3b5301237ad932e5dbf0",
                "tx_index": 77,
                "block_time": 1741795777,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "51373a1a130dbc40c217e863be72cbc7916884f7f11c3b5301237ad932e5dbf0",
            "block_index": 201,
            "block_time": 1741795777
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q4kywhtrpsge20dghl28pf8w9mvvndg9924axxp",
                "status": "valid",
                "tx_hash": "8020cf42a4f85b37fa65c7b42c85cdf4925dbdd94a91c7d5f276b1bc757966d8",
                "tx_index": 81,
                "block_time": 1741795792,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "8020cf42a4f85b37fa65c7b42c85cdf4925dbdd94a91c7d5f276b1bc757966d8",
            "block_index": 205,
            "block_time": 1741795792
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q8ygx7adpnavqgmwm0msg4elkf8d0zm85dzrugt",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q66stra9lamckr2waur266lf3eq6w8s8g7p6w7d",
                "status": "valid",
                "tx_hash": "8ed493100a3be0a7736c95add3d4070e969d261d2bba9e606addb6985fcba43e",
                "tx_index": 65,
                "block_time": 1741795731,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "8ed493100a3be0a7736c95add3d4070e969d261d2bba9e606addb6985fcba43e",
            "block_index": 190,
            "block_time": 1741795731
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "status": "valid",
                "tx_hash": "8ce59f6eb7bb67a18ba19adf6a105c39e6f88690f7b2434b563917a7604a5027",
                "tx_index": 42,
                "block_time": 1741795589,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "8ce59f6eb7bb67a18ba19adf6a105c39e6f88690f7b2434b563917a7604a5027",
            "block_index": 146,
            "block_time": 1741795589
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "status": "valid",
                "transfer": false,
                "tx_hash": "07cb903ba37304005b602bbaeee10f76bc2278fa2ce34278ddb46641bf3d7318",
                "tx_index": 117,
                "block_time": 1741795942,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "07cb903ba37304005b602bbaeee10f76bc2278fa2ce34278ddb46641bf3d7318",
            "block_index": 240,
            "block_time": 1741795942
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1741795953
            },
            "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
            "block_index": 243,
            "block_time": 1741795953
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "status": "valid",
                "transfer": false,
                "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
                "tx_index": 120,
                "block_time": 1741795953,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
            "block_index": 243,
            "block_time": 1741795953
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "07cb903ba37304005b602bbaeee10f76bc2278fa2ce34278ddb46641bf3d7318",
                "tx_index": 117,
                "block_time": 1741795942,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "07cb903ba37304005b602bbaeee10f76bc2278fa2ce34278ddb46641bf3d7318",
            "block_index": 240,
            "block_time": 1741795942
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "status": "open",
                "tx_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
                "tx_index": 119,
                "block_time": 1741795949,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhm36pxx8agg8azsfqjhvaj09e2u0fd228pr9gk",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qhm36pxx8agg8azsfqjhvaj09e2u0fd228pr9gk"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
            "block_index": 242,
            "block_time": 1741795949
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "d582c4a40b495133df62fe82cce1f9569e4fbf885e337661f85540d5ddac9da5_33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qhm36pxx8agg8azsfqjhvaj09e2u0fd228pr9gk",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "d582c4a40b495133df62fe82cce1f9569e4fbf885e337661f85540d5ddac9da5",
                "tx0_index": 118,
                "tx1_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
                "tx1_index": 119,
                "block_time": 1741795949,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhm36pxx8agg8azsfqjhvaj09e2u0fd228pr9gk",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qhm36pxx8agg8azsfqjhvaj09e2u0fd228pr9gk"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
            "block_index": 242,
            "block_time": 1741795949
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "33e4a60907d1ef7c26f4f9e9ce11f18dd2b058ad21257798c37b36bc00427778",
            "block_index": 242,
            "block_time": 1741795949
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "15d668a3eed36c9ade48ca628bf83c87afe86fcb6cbdc0b24d2f7d3c943691e1"
            },
            "tx_hash": "34a8b44e91b7419afe62fbf89f089c79b121aa2e85643918680025e5a4f2409a",
            "block_index": 182,
            "block_time": 1741795702
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "f0d067951b29a185a5c176207ab3c1e2bf3123d0cf9b70dc8b99e25db976fe6a_5f286d800be512a13bf4d7ec0caf1d8ea7a84e5704e725e51a719350c01d8869",
                "order_match_id": "f0d067951b29a185a5c176207ab3c1e2bf3123d0cf9b70dc8b99e25db976fe6a_5f286d800be512a13bf4d7ec0caf1d8ea7a84e5704e725e51a719350c01d8869",
                "status": "expired"
            },
            "tx_hash": "4f46c487923a1d78f7592b1edceabfd1071346b9232dccd7032e6859985be8fd",
            "block_index": 225,
            "block_time": 1741795861
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "order_match_id": "16fa0065d6496d869b079ab41f06913cd8315025e039c715beeb3b310064b767_15d668a3eed36c9ade48ca628bf83c87afe86fcb6cbdc0b24d2f7d3c943691e1",
                "source": "bcrt1q4kywhtrpsge20dghl28pf8w9mvvndg9924axxp",
                "status": "valid",
                "tx_hash": "34a8b44e91b7419afe62fbf89f089c79b121aa2e85643918680025e5a4f2409a",
                "tx_index": 57,
                "block_time": 1741795702,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "34a8b44e91b7419afe62fbf89f089c79b121aa2e85643918680025e5a4f2409a",
            "block_index": 182,
            "block_time": 1741795702
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "f45796f1555ec1f41bd3b52293ec935e6d17df36fd6b37d977b9a5cbcc98282f",
                "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "status": "valid",
                "tx_hash": "5aafc213bfd2723302534074af57789f9facb1a32a9061ae20e695b988f7d3da",
                "tx_index": 63,
                "block_time": 1741795724
            },
            "tx_hash": "5aafc213bfd2723302534074af57789f9facb1a32a9061ae20e695b988f7d3da",
            "block_index": 188,
            "block_time": 1741795724
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "f0d067951b29a185a5c176207ab3c1e2bf3123d0cf9b70dc8b99e25db976fe6a",
                "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "block_time": 1741795813
            },
            "tx_hash": "597b553c1e7e739ce461a511eac5caaa68026372f347751d741a85857b4b6f69",
            "block_index": 211,
            "block_time": 1741795813
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "f0d067951b29a185a5c176207ab3c1e2bf3123d0cf9b70dc8b99e25db976fe6a_5f286d800be512a13bf4d7ec0caf1d8ea7a84e5704e725e51a719350c01d8869",
                "tx0_address": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "tx1_address": "bcrt1q66stra9lamckr2waur266lf3eq6w8s8g7p6w7d",
                "block_time": 1741795861
            },
            "tx_hash": "4f46c487923a1d78f7592b1edceabfd1071346b9232dccd7032e6859985be8fd",
            "block_index": 225,
            "block_time": 1741795861
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qhruhq45a3pu06kvhddnl56m8s6hkmlcqwtx5y4",
                "satoshirate": 1,
                "source": "bcrt1qhruhq45a3pu06kvhddnl56m8s6hkmlcqwtx5y4",
                "status": 0,
                "tx_hash": "9bfa1427af50da37c70d0adcd4c2116c6d926b87494de46240564d4fd476f088",
                "tx_index": 114,
                "block_time": 1741795927,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "9bfa1427af50da37c70d0adcd4c2116c6d926b87494de46240564d4fd476f088",
            "block_index": 236,
            "block_time": 1741795927
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "status": 0,
                "tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "n4bhWYgLmFzS2r8biU5uV6AiyfoxCe8iuf",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "2a2b0dae4eb1c05c0fe8b12df91412e5a0071b914a46bfe049314548fb5c3655",
                "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                "tx_hash": "33b24af03744f41231ff2c761c4af3c69f0810ab6cc4ae5739334abfebc13d55",
                "tx_index": 31,
                "block_time": 1741795551,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "33b24af03744f41231ff2c761c4af3c69f0810ab6cc4ae5739334abfebc13d55",
            "block_index": 135,
            "block_time": 1741795551
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "tx_index": 121,
                "block_time": 1741795962,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "639556fc930a58e7306d1d310d5fc9d46a560e7725138caa247a2c3fab289cce",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741795530,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "639556fc930a58e7306d1d310d5fc9d46a560e7725138caa247a2c3fab289cce",
            "block_index": 129,
            "block_time": 1741795530
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "start_block": 0,
                "status": "open",
                "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
                "tx_index": 120,
                "block_time": 1741795953,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
            "block_index": 243,
            "block_time": 1741795953
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "41ed996f4fee88a5bc1cc4ecdb59fef5e07adc452f9d13f2c94979307c322b4e"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741795871
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "6a67861c7d7d1ce434a42c446f8ed5e67f6761bb4b888b103901682ee2f87589",
                "paid_quantity": 100000000,
                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "status": "valid",
                "tx_hash": "e3bfdad763ffa8d42be457d2f09cb342a952ef0e1bacdb7e88fb80f5ee12f103",
                "tx_index": 97,
                "block_time": 1741795848,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "e3bfdad763ffa8d42be457d2f09cb342a952ef0e1bacdb7e88fb80f5ee12f103",
            "block_index": 221,
            "block_time": 1741795848
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "a552801293a861f53902a6f5b4fa1c42e254475b880e56cf98bf5cbd91ff9041:0",
                "destination_address": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "status": "valid",
                "tx_hash": "a552801293a861f53902a6f5b4fa1c42e254475b880e56cf98bf5cbd91ff9041",
                "tx_index": 112,
                "block_time": 1741795921,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a552801293a861f53902a6f5b4fa1c42e254475b880e56cf98bf5cbd91ff9041",
            "block_index": 235,
            "block_time": 1741795921
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "fc26d162be5175a4c6d5bdeb97c60e8bd1849af3a57f49a81ff91c196ab6c653:0",
                "source_address": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                "status": "valid",
                "tx_hash": "e7df22b19cdd93f94d1f19077b3cc26c1c4632cc68738d5ad9f8bc9d4466df32",
                "tx_index": 111,
                "block_time": 1741795918,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e7df22b19cdd93f94d1f19077b3cc26c1c4632cc68738d5ad9f8bc9d4466df32",
            "block_index": 234,
            "block_time": 1741795918
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                "destination_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                "source_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                "status": "valid",
                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                "tx_index": 121,
                "block_time": 1741795962,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
            "block_index": 245,
            "block_time": 1741795962
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q4kywhtrpsge20dghl28pf8w9mvvndg9924axxp",
                "status": "valid",
                "tx_hash": "e5a6c8fbf9c9d32f0e0d8b5762cad7c5caf5bd170eaaa26157eafc87cdba16e5",
                "tx_index": 9,
                "block_time": 1741795466,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "e5a6c8fbf9c9d32f0e0d8b5762cad7c5caf5bd170eaaa26157eafc87cdba16e5",
            "block_index": 112,
            "block_time": 1741795466
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                    "block_time": 1741795962,
                    "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                    "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                    "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                    "previous_block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc",
                    "block_time": 1741795956,
                    "ledger_hash": "3316899e67aa7b5204c52e762c7f72275b430992b13ccea43e17547c977a0718",
                    "txlist_hash": "fc1718ed97d071f143a0de144f3392e868ee508dcd317a839833c60f0b4567d2",
                    "messages_hash": "8307c1b382764aa0b65c68c0289ecbb4ee59154b96e2cb4e723f73e1fb82f1d2",
                    "previous_block_hash": "616e6cffa52548b3a2a3ccff32a1638dd13979f9f66ea83a6fb5867eadaa230a",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "616e6cffa52548b3a2a3ccff32a1638dd13979f9f66ea83a6fb5867eadaa230a",
                    "block_time": 1741795953,
                    "ledger_hash": "a48abfb550396884a77d04062b7e9ac0ee50a53a2d632d23ac24068372f41f95",
                    "txlist_hash": "36f709b8e0d557817074edca544a4b422d2423976dfe4d4958addb8b686d0ff6",
                    "messages_hash": "3c3270b098f373c9547e5993a8f3a997ad0bc58035f045b180555ac1a8e8d4cd",
                    "previous_block_hash": "653778230c42b7a11bbcf9b67221fc74181c2b1b79ae3de7abff0fffaa33cec2",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "653778230c42b7a11bbcf9b67221fc74181c2b1b79ae3de7abff0fffaa33cec2",
                    "block_time": 1741795949,
                    "ledger_hash": "6da5abfd14a4566e0407840478b56776484e157d984bcaed11ebfcfdda5bf592",
                    "txlist_hash": "fb46271eb747117f4bc4d9067eba6ec5a20f04a04cfd073e9d85c7ab9eb51b7a",
                    "messages_hash": "cb62e0c884e9c600729f67c0d83c6d02e8cc478d74e8e07425538c511a7cabed",
                    "previous_block_hash": "1c43f8fa1a44e213fcde82ce670407d27cc751ea9923dd3646185df402e55028",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "1c43f8fa1a44e213fcde82ce670407d27cc751ea9923dd3646185df402e55028",
                    "block_time": 1741795946,
                    "ledger_hash": "c66fc0681483de83d6ae34132b0de55cb42a6757146a07dbf8d01849a8068f40",
                    "txlist_hash": "cdc9e57c73bd6337962afeb2dee998b5256742efbe64ffda55f65da1e93c3ee1",
                    "messages_hash": "af4ed9c5940a9ab4dc3f0306210366a096395960cf6f54b57155ef14b710bab1",
                    "previous_block_hash": "4a58c47963156f158b2b00022bf6d2772252412a62766c9428dbe19d48ab674d",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                "block_time": 1741795962,
                "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                "previous_block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                "block_time": 1741795962,
                "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                "previous_block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                "block_time": 1741795962,
                "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                "previous_block_hash": "78fa8bab5436c0a45ebd362ce5145b42015d33228099cd6ef70ac5f04fd94ffc",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "block_index": 245,
                    "block_hash": "5e824f206854c9e93330ffe5b3d1af1b094455d1faad539780d364903c6f7100",
                    "block_time": 1741795962,
                    "source": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "destination": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1 b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                                "destination_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                                "source_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                                "status": "valid",
                                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                                "tx_index": 121,
                                "block_time": 1741795962,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                            "block_index": 245,
                            "block_time": 1741795962
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                                "destination_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                                "source_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                                "status": "valid",
                                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                                "tx_index": 121,
                                "block_time": 1741795962,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                            "block_index": 245,
                            "block_time": 1741795962
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                                "status": 0,
                                "tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                            "block_index": 245,
                            "block_time": 1741795962
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                                "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                                "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                                "tx_index": 121,
                                "block_time": 1741795962,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                            "block_index": 245,
                            "block_time": 1741795962
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "f6f7f574a1d9ff0364ef3030c91e82d08a3a819466f9134dde7ea220be517fa9",
                        "messages_hash": "7ab09c586ca9db160baf4d9ec8f8f9964c481296471370ad290726e2682c7236",
                        "transaction_count": 1,
                        "txlist_hash": "5edac5eafc8d6f5fb949bd15a3941c9d49e508aa1d834e6810a506a40bb55e7f",
                        "block_time": 1741795962
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "tx_index": 121
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                        "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                        "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "tx_index": 121,
                        "block_time": 1741795962,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                        "status": 0,
                        "tx_hash": "2a572b1e7f65663d7f7e12a9a8b2c10d758bd81d0d250e75e3b0f9656facb0db",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741795962,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741795962,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                        "utxo_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                        "block_time": 1741795962,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                        "utxo_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                        "block_time": 1741795962,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "tx_index": 121,
                    "utxo": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                    "utxo_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "tx_index": 121,
                    "utxo": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                    "utxo_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "tx_index": 121,
                    "utxo": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                    "utxo_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "tx_index": 121,
                    "utxo": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                    "utxo_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "f0d067951b29a185a5c176207ab3c1e2bf3123d0cf9b70dc8b99e25db976fe6a",
                    "block_index": 211,
                    "block_time": 1741795813
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "5aafc213bfd2723302534074af57789f9facb1a32a9061ae20e695b988f7d3da",
                    "block_index": 188,
                    "source": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                    "offer_hash": "f45796f1555ec1f41bd3b52293ec935e6d17df36fd6b37d977b9a5cbcc98282f",
                    "status": "valid",
                    "block_time": 1741795724
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "07cb903ba37304005b602bbaeee10f76bc2278fa2ce34278ddb46641bf3d7318",
                    "block_index": 240,
                    "source": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1741795942,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qp20vzqglrgmrzq4h5rxkf70appk77qhmjkw72u"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "4af2c92d830ca2a8b4f9c996262c30197bf3547895f32aea1a7751d7937b3dba",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "issuer": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1741795953,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "block_index": 245,
                    "source": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                    "destination": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "destination_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80",
                    "block_index": 245,
                    "source": "6ace4a9d35ae2834da5892c9495ceef917aeb8535d05c188430036f5498e77eb:1",
                    "destination": "b1aada759787a657bb76691cc5fa4fcccd0cdc49d0ebcdd45eb3dff9cf93ca80:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qhuw9x4765sl9vwughwmddjatlp85ys5h2n7sxs",
                    "destination_address": "bcrt1qd26a7svt0plsefgw7knh5cqvwpmwf06hy4ewpc",
                    "block_time": 1741795962,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2sshppse8lt2m2f00h360hqhvz3ejkr73peccp"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
