[//]: # (Generated by genapidoc.py on 2025-02-25 13:28:49.443500. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                "block_index": 245,
                "block_time": 1740490111,
                "difficulty": 545259519,
                "previous_block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                "block_index": 245,
                "block_time": 1740490111,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "fee": 0,
                "source": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                "transaction_type": "dispense",
                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "tx_index": 121,
                "utxos_info": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1 d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "out_index": 0,
                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "tx_index": 121,
                "block_time": 1740490111,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                "transaction_count": 1,
                "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                "block_time": 1740490111
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "tx_index": 121
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                "utxo_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                "block_time": 1740490111,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1740490111,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1qdj4ckly3lwmjqld7pu60qu9myggm6pnd58ntz6",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "status": "valid",
                "tx_hash": "0022913062f0470672f6b471ff669c43b45ce767fa522bcd64b909f606d59cd0",
                "tx_index": 77,
                "block_time": 1740489923,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "0022913062f0470672f6b471ff669c43b45ce767fa522bcd64b909f606d59cd0",
            "block_index": 201,
            "block_time": 1740489923
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1qdj4ckly3lwmjqld7pu60qu9myggm6pnd58ntz6",
                "status": "valid",
                "tx_hash": "10823d6a8b3b44da8361e887a02942fa28973b782e59ec26ece5a7c88b8d974d",
                "tx_index": 81,
                "block_time": 1740489939,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "10823d6a8b3b44da8361e887a02942fa28973b782e59ec26ece5a7c88b8d974d",
            "block_index": 205,
            "block_time": 1740489939
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qndrj8uy6the35p3gpjuuss7l29hwe0npylexmz",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qj7zsv3gv750c8mr02eytgp5xen2ke6fpak6ztc",
                "status": "valid",
                "tx_hash": "e0043724de46115717f26d5126665cd592e152dc397d4ecbcd7e41809a575b49",
                "tx_index": 65,
                "block_time": 1740489877,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "e0043724de46115717f26d5126665cd592e152dc397d4ecbcd7e41809a575b49",
            "block_index": 190,
            "block_time": 1740489877
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "status": "valid",
                "tx_hash": "6404a2478fe98ef828070b2da13ef824ea7cebae41e377cfdee911728b8c926a",
                "tx_index": 42,
                "block_time": 1740489729,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "6404a2478fe98ef828070b2da13ef824ea7cebae41e377cfdee911728b8c926a",
            "block_index": 146,
            "block_time": 1740489729
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "status": "valid",
                "transfer": false,
                "tx_hash": "49aaaa4a39e9fd16889036cae02cf2fdb65f96d4447a92dce1c811b959105a85",
                "tx_index": 117,
                "block_time": 1740490091,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "49aaaa4a39e9fd16889036cae02cf2fdb65f96d4447a92dce1c811b959105a85",
            "block_index": 240,
            "block_time": 1740490091
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1740490102
            },
            "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
            "block_index": 243,
            "block_time": 1740490102
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "status": "valid",
                "transfer": false,
                "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
                "tx_index": 120,
                "block_time": 1740490102,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
            "block_index": 243,
            "block_time": 1740490102
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "49aaaa4a39e9fd16889036cae02cf2fdb65f96d4447a92dce1c811b959105a85",
                "tx_index": 117,
                "block_time": 1740490091,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "49aaaa4a39e9fd16889036cae02cf2fdb65f96d4447a92dce1c811b959105a85",
            "block_index": 240,
            "block_time": 1740490091
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "status": "open",
                "tx_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
                "tx_index": 119,
                "block_time": 1740490099,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qs8qhqqz7us7w5kt08wqmxmqsl8h6jknlejhyru",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qs8qhqqz7us7w5kt08wqmxmqsl8h6jknlejhyru"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
            "block_index": 242,
            "block_time": 1740490099
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "a420cfa1fd7462a7c3ed97e8f1ce5784e74a29c16ef5e371c51591c325999106_896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qs8qhqqz7us7w5kt08wqmxmqsl8h6jknlejhyru",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "a420cfa1fd7462a7c3ed97e8f1ce5784e74a29c16ef5e371c51591c325999106",
                "tx0_index": 118,
                "tx1_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
                "tx1_index": 119,
                "block_time": 1740490099,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qs8qhqqz7us7w5kt08wqmxmqsl8h6jknlejhyru",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qs8qhqqz7us7w5kt08wqmxmqsl8h6jknlejhyru"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
            "block_index": 242,
            "block_time": 1740490099
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "896df8fca70776cb0b38bd40c0f30d6cf657a8e5a62fb5542597d23bca4cbcd2",
            "block_index": 242,
            "block_time": 1740490099
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "16693d3e8624b05db62587be692a301eba7dc962293096694f84142bc3bfc5fd"
            },
            "tx_hash": "5752b590a88afde0a2481b5ca3de5c7cc18ccb4d6ebcfc87e4c59512324d399e",
            "block_index": 182,
            "block_time": 1740489847
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "9198a9256ee36ffaa1c68b2098d9920bf461858924c70baa1e2e616814a81c54_c0b993f438e82940a24a6f2e74bca15b60d197c7afa93aea4d0f82b02cc89f96",
                "order_match_id": "9198a9256ee36ffaa1c68b2098d9920bf461858924c70baa1e2e616814a81c54_c0b993f438e82940a24a6f2e74bca15b60d197c7afa93aea4d0f82b02cc89f96",
                "status": "expired"
            },
            "tx_hash": "3672a9093ed26f6be9b0f343040f560e1986e2ad87d26b05fc56b45061b87010",
            "block_index": 225,
            "block_time": 1740490010
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "order_match_id": "6a8b04722b5121498713e9ca34b3a634f0ef5f0cf3ee9a0753bd79b8c3f0cc10_16693d3e8624b05db62587be692a301eba7dc962293096694f84142bc3bfc5fd",
                "source": "bcrt1qdj4ckly3lwmjqld7pu60qu9myggm6pnd58ntz6",
                "status": "valid",
                "tx_hash": "5752b590a88afde0a2481b5ca3de5c7cc18ccb4d6ebcfc87e4c59512324d399e",
                "tx_index": 57,
                "block_time": 1740489847,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "5752b590a88afde0a2481b5ca3de5c7cc18ccb4d6ebcfc87e4c59512324d399e",
            "block_index": 182,
            "block_time": 1740489847
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "6514dc909d289a00f85ba5b8db7b7198c6fafe5ed2e140773835a3fe73615f94",
                "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "status": "valid",
                "tx_hash": "f93a585e39ef051fa3b8ece892fc7e7c312af255705851e42df9fbb47f0983b0",
                "tx_index": 63,
                "block_time": 1740489870
            },
            "tx_hash": "f93a585e39ef051fa3b8ece892fc7e7c312af255705851e42df9fbb47f0983b0",
            "block_index": 188,
            "block_time": 1740489870
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "9198a9256ee36ffaa1c68b2098d9920bf461858924c70baa1e2e616814a81c54",
                "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "block_time": 1740489959
            },
            "tx_hash": "1a71a7497b56636da3130da795d86244e4bf66cc5fb4a0c3779caa71c7abb167",
            "block_index": 211,
            "block_time": 1740489959
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "9198a9256ee36ffaa1c68b2098d9920bf461858924c70baa1e2e616814a81c54_c0b993f438e82940a24a6f2e74bca15b60d197c7afa93aea4d0f82b02cc89f96",
                "tx0_address": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "tx1_address": "bcrt1qj7zsv3gv750c8mr02eytgp5xen2ke6fpak6ztc",
                "block_time": 1740490010
            },
            "tx_hash": "3672a9093ed26f6be9b0f343040f560e1986e2ad87d26b05fc56b45061b87010",
            "block_index": 225,
            "block_time": 1740490010
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qv82qg4jp6nn6wahdnx2d2u6cdfxyc2zuw7u9mv",
                "satoshirate": 1,
                "source": "bcrt1qv82qg4jp6nn6wahdnx2d2u6cdfxyc2zuw7u9mv",
                "status": 0,
                "tx_hash": "c54957b9cbb662e2cc9eee1c09950f7365365a09abad1bdf1afb3cca05d63705",
                "tx_index": 114,
                "block_time": 1740490077,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "c54957b9cbb662e2cc9eee1c09950f7365365a09abad1bdf1afb3cca05d63705",
            "block_index": 236,
            "block_time": 1740490077
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "status": 0,
                "tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mzKzGcYgawRDhSwKMs48ivyc7kq6eDFnxX",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d1c103ac8f76875e2c7f2ff452e9c73ec80534fd6513ae02abc9ca5bca4bcdb4",
                "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                "tx_hash": "cb40de33d4321bfb96d78e0ed8873b8dcd2e696825da637b73b8e91618285b79",
                "tx_index": 31,
                "block_time": 1740489688,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "cb40de33d4321bfb96d78e0ed8873b8dcd2e696825da637b73b8e91618285b79",
            "block_index": 135,
            "block_time": 1740489688
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "tx_index": 121,
                "block_time": 1740490111,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "e730b05d65034f972ffd6833c069ea0b65aaf6edf2cd4a4388b21d2889a3280f",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1740489665,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "e730b05d65034f972ffd6833c069ea0b65aaf6edf2cd4a4388b21d2889a3280f",
            "block_index": 129,
            "block_time": 1740489665
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "start_block": 0,
                "status": "open",
                "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
                "tx_index": 120,
                "block_time": 1740490102,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
            "block_index": 243,
            "block_time": 1740490102
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "0b85ece9496719a0822cb5b2d262896ad04c7ba9da111b4a240e1f9f5b5630d6"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1740490019
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "2efa348123c9d59037cd1352f1074a77e6c56630f04c6a742623c0d403824cb8",
                "paid_quantity": 100000000,
                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "status": "valid",
                "tx_hash": "f008cc467441d6088b240484737bc7c3a9665fca802126e7724a0e297fec8adc",
                "tx_index": 97,
                "block_time": 1740489996,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "f008cc467441d6088b240484737bc7c3a9665fca802126e7724a0e297fec8adc",
            "block_index": 221,
            "block_time": 1740489996
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "a702c044a28ed7855dac07e2dd7b9c5925db98cae259cfb2ca1c29158149b5d6:0",
                "destination_address": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "status": "valid",
                "tx_hash": "a702c044a28ed7855dac07e2dd7b9c5925db98cae259cfb2ca1c29158149b5d6",
                "tx_index": 112,
                "block_time": 1740490071,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a702c044a28ed7855dac07e2dd7b9c5925db98cae259cfb2ca1c29158149b5d6",
            "block_index": 235,
            "block_time": 1740490071
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "20c0fc221da530e6e260f1ee566d166e62abc63cb109a4b309b1a76a06aaa7a5:0",
                "source_address": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                "status": "valid",
                "tx_hash": "0d1319c529b7c96f1df0c028a6b1fcb99341b7ecb0dbd8f5626ad9afad76b1c8",
                "tx_index": 111,
                "block_time": 1740490068,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0d1319c529b7c96f1df0c028a6b1fcb99341b7ecb0dbd8f5626ad9afad76b1c8",
            "block_index": 234,
            "block_time": 1740490068
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                "destination_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                "source_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                "status": "valid",
                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                "tx_index": 121,
                "block_time": 1740490111,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
            "block_index": 245,
            "block_time": 1740490111
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qqus708ucy6kecks0w8pykqmghard6kqf8tus06",
                "status": "valid",
                "tx_hash": "beda70b3db805311a89d8cd707eac784473ce3a6d7e7b6230b6533a7a242c0db",
                "tx_index": 9,
                "block_time": 1740489603,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "beda70b3db805311a89d8cd707eac784473ce3a6d7e7b6230b6533a7a242c0db",
            "block_index": 112,
            "block_time": 1740489603
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                    "block_time": 1740490111,
                    "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                    "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                    "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                    "previous_block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846",
                    "block_time": 1740490105,
                    "ledger_hash": "7fed50b3951df996f161009a6069791fec11c4ae8deea6a93765ded7160ae69f",
                    "txlist_hash": "389cc49dc24b7263b22e06557573f666f3a0488b491e69d12d35d8938a29686c",
                    "messages_hash": "cf6397c19916bd9c89433867a3fea591a39ac8f4bb81b0ed06ab13fd87904a0b",
                    "previous_block_hash": "12d4f9dd3786b1c71eb33af5170df7a0adb67864ea43afa06da43431972140c6",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "12d4f9dd3786b1c71eb33af5170df7a0adb67864ea43afa06da43431972140c6",
                    "block_time": 1740490102,
                    "ledger_hash": "3de385b0f3e90e527064422c1fd6d674e9365daf9637d337337d0d2b439e202e",
                    "txlist_hash": "0f5e83a92d6cd8b3b621efd4d762472f219feea92ee6f5909ddb2929847c5250",
                    "messages_hash": "fd9704ed65591d9a2060f35d184993bce62a7148def67749a45aefc9dca92335",
                    "previous_block_hash": "535e3df082a630fbd8213a240a46545bd1bc7b94346c2b337dbe86265f72b50f",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "535e3df082a630fbd8213a240a46545bd1bc7b94346c2b337dbe86265f72b50f",
                    "block_time": 1740490099,
                    "ledger_hash": "2ddd2079b238f1e0c394a657b267baebe1c0196c53f37bf734a96bfb8d6dd17f",
                    "txlist_hash": "844cd40ad6fd2868fd0482d7aeb3379d6832c5aff037150426032512d999ec85",
                    "messages_hash": "e45226d562642906dc393fa820a8130ec520d05c8f36db37e7ac0e0da9200c9e",
                    "previous_block_hash": "7842890bfb89f95456258b0a4ddf608559a50a845e23b9e9c0ee9d8d62468742",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "7842890bfb89f95456258b0a4ddf608559a50a845e23b9e9c0ee9d8d62468742",
                    "block_time": 1740490094,
                    "ledger_hash": "66ffe0376d748bf907cb2964943ba10c0b4877dac752c039994a596a10fa6cc4",
                    "txlist_hash": "acd6ba42a10fa3f0944faa4f6d74158a5a277d9597df134d424165a3d5f82c76",
                    "messages_hash": "bfde5efbed61be01fe764fda114d7e2adc06000cbc630313cad82e0fefab0dd9",
                    "previous_block_hash": "2d83010c2269342ae95a9f94f19429b42ca16c40d4c17b843e62bf722a556452",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                "block_time": 1740490111,
                "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                "previous_block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                "block_time": 1740490111,
                "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                "previous_block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                "block_time": 1740490111,
                "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                "previous_block_hash": "59abc6ae9e93883361d2127f5c13f5228d604f6c47f2855b3d6410f8eb826846",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&show_unconfirmed}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `False`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "block_index": 245,
                    "block_hash": "44fcdffec36869bfac0fcbe3dee59bfa74c885e0fd9b7f4eb83f716eecd633fc",
                    "block_time": 1740490111,
                    "source": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "destination": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1 d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                                "destination_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                                "source_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                                "status": "valid",
                                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                                "tx_index": 121,
                                "block_time": 1740490111,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                            "block_index": 245,
                            "block_time": 1740490111
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                                "destination_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                                "source_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                                "status": "valid",
                                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                                "tx_index": 121,
                                "block_time": 1740490111,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                            "block_index": 245,
                            "block_time": 1740490111
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                                "status": 0,
                                "tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                            "block_index": 245,
                            "block_time": 1740490111
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                                "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                                "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                                "tx_index": 121,
                                "block_time": 1740490111,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                            "block_index": 245,
                            "block_time": 1740490111
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed}{&verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `False`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "b9137879674322b25ee447b5c225d662c1acf3be0757f8b5e365950c1478ed55",
                        "messages_hash": "a49feef7ed0848b13a8640617cd2f1339afe84eca2fa74e11a09d16cfe074612",
                        "transaction_count": 1,
                        "txlist_hash": "54253e0fb81873afdb56f96b0951b0600ee982e8ad70c7e45270dcc9ed2f1bbb",
                        "block_time": 1740490111
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "tx_index": 121
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                        "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                        "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "tx_index": 121,
                        "block_time": 1740490111,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                        "status": 0,
                        "tx_hash": "1e6f693fe2759c736df4febc587f45124e79e5d8d1ce2b79f8c0bbf0f18fd87d",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740490111,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740490111,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                        "utxo_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                        "block_time": 1740490111,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                        "utxo_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                        "block_time": 1740490111,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "tx_index": 121,
                    "utxo": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                    "utxo_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "tx_index": 121,
                    "utxo": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                    "utxo_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "tx_index": 121,
                    "utxo": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                    "utxo_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "tx_index": 121,
                    "utxo": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                    "utxo_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "9198a9256ee36ffaa1c68b2098d9920bf461858924c70baa1e2e616814a81c54",
                    "block_index": 211,
                    "block_time": 1740489959
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "f93a585e39ef051fa3b8ece892fc7e7c312af255705851e42df9fbb47f0983b0",
                    "block_index": 188,
                    "source": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                    "offer_hash": "6514dc909d289a00f85ba5b8db7b7198c6fafe5ed2e140773835a3fe73615f94",
                    "status": "valid",
                    "block_time": 1740489870
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "49aaaa4a39e9fd16889036cae02cf2fdb65f96d4447a92dce1c811b959105a85",
                    "block_index": 240,
                    "source": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1740490091,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qyyjgcgnjrxkznrdk8pc9dwp98twx5qesptttlg"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "c6043e9ceafa1ced581e48b9bb273a6b703ad6717ff27494f1a137dfcd039321",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "issuer": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1740490102,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "block_index": 245,
                    "source": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                    "destination": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "destination_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3",
                    "block_index": 245,
                    "source": "e1da70a78196a01b1d83828ad454578cd9ccd3a37215d0732042f9cd20028b65:1",
                    "destination": "d66c519e0f46c35c747dcf363d3f31bf77b283c0537bd1392c3fb707b3a43ad3:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qwats7crkdl4z6ac6tz2fn6pz6a5dt7hxzjustu",
                    "destination_address": "bcrt1qquwz9xkh3dv34l49v32lk3kc283utd58ung2cn",
                    "block_time": 1740490111,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q9ya6f4flznjaqud9999zzcnfc324r8c3cqml2n"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

[...]
