[//]: # (Generated by genapidoc.py on 2025-03-27 17:51:20.369834. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                "block_index": 245,
                "block_time": 1743097858,
                "difficulty": 545259519,
                "previous_block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                "block_index": 245,
                "block_time": 1743097858,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "fee": 0,
                "source": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                "transaction_type": "dispense",
                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "tx_index": 121,
                "utxos_info": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1 4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "out_index": 0,
                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "tx_index": 121,
                "block_time": 1743097858,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                "transaction_count": 1,
                "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                "block_time": 1743097858
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "tx_index": 121
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                "utxo_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                "block_time": 1743097858,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1743097858,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q7ptkqkyaku5tmdd2gwdk0dfephwege93c50jwd",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "status": "valid",
                "tx_hash": "7aa8a7086391a2be5712bbe12606fbe5c70fc3d5d85b155c8ead022d15575127",
                "tx_index": 77,
                "block_time": 1743097675,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "7aa8a7086391a2be5712bbe12606fbe5c70fc3d5d85b155c8ead022d15575127",
            "block_index": 201,
            "block_time": 1743097675
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q7ptkqkyaku5tmdd2gwdk0dfephwege93c50jwd",
                "status": "valid",
                "tx_hash": "4399045f9ebd804c04f41d392b631faae9ab5fcf55b6a8380ddd7f5606c7fb4a",
                "tx_index": 81,
                "block_time": 1743097689,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "4399045f9ebd804c04f41d392b631faae9ab5fcf55b6a8380ddd7f5606c7fb4a",
            "block_index": 205,
            "block_time": 1743097689
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qeel8004j4skarh3ya67xf56nwef3j89kgrgxct",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q878uvk3mvee7aqqg52ajzvw7qlnfp53rwxug48",
                "status": "valid",
                "tx_hash": "c1615864a8a99bc120698c2d5f94d52f324bd0240c32ab130ee828c46088b3b2",
                "tx_index": 65,
                "block_time": 1743097632,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "c1615864a8a99bc120698c2d5f94d52f324bd0240c32ab130ee828c46088b3b2",
            "block_index": 190,
            "block_time": 1743097632
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "status": "valid",
                "tx_hash": "1083cdc11157fd61900266a59a9b1cf429e46f4ccb1375090ea3d7feec2ffa63",
                "tx_index": 42,
                "block_time": 1743097489,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "1083cdc11157fd61900266a59a9b1cf429e46f4ccb1375090ea3d7feec2ffa63",
            "block_index": 146,
            "block_time": 1743097489
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "status": "valid",
                "transfer": false,
                "tx_hash": "c514895fb1ed2cee5052f91159583106412b179f79e27aff9b87ef923073324f",
                "tx_index": 117,
                "block_time": 1743097839,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c514895fb1ed2cee5052f91159583106412b179f79e27aff9b87ef923073324f",
            "block_index": 240,
            "block_time": 1743097839
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1743097849
            },
            "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
            "block_index": 243,
            "block_time": 1743097849
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "status": "valid",
                "transfer": false,
                "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
                "tx_index": 120,
                "block_time": 1743097849,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
            "block_index": 243,
            "block_time": 1743097849
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "c514895fb1ed2cee5052f91159583106412b179f79e27aff9b87ef923073324f",
                "tx_index": 117,
                "block_time": 1743097839,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "c514895fb1ed2cee5052f91159583106412b179f79e27aff9b87ef923073324f",
            "block_index": 240,
            "block_time": 1743097839
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "status": "open",
                "tx_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
                "tx_index": 119,
                "block_time": 1743097846,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qrclzkpvl4zac84slyqxj9supf42rcnugc3z27e",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qrclzkpvl4zac84slyqxj9supf42rcnugc3z27e"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
            "block_index": 242,
            "block_time": 1743097846
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "f422cd529966ee673264908bbdbbba42fc111e2045bd4f99ee0cd23830ad7391_9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qrclzkpvl4zac84slyqxj9supf42rcnugc3z27e",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "f422cd529966ee673264908bbdbbba42fc111e2045bd4f99ee0cd23830ad7391",
                "tx0_index": 118,
                "tx1_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
                "tx1_index": 119,
                "block_time": 1743097846,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qrclzkpvl4zac84slyqxj9supf42rcnugc3z27e",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qrclzkpvl4zac84slyqxj9supf42rcnugc3z27e"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
            "block_index": 242,
            "block_time": 1743097846
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9c99d654ea4643e353c9154762f52448091325a1bc988776eb9ff4bf4ed6f970",
            "block_index": 242,
            "block_time": 1743097846
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "b048e9887d2351d7db7621cfdb4f5ea8dab452ae993cce7be009ebd443ed37b2"
            },
            "tx_hash": "a640718a56a048c0b9cb4164aa50e55ef6021369771e6c58c0b2e604916892e0",
            "block_index": 182,
            "block_time": 1743097603
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "c53f0c1c1d9de3d73cb43a8f2708b48d504a13bae0e8bd95ab8cd1f664ac3217_8207720c169b3ffab48e7fa9e845a8e1938df692e622ba12f96701265c3d5ca0",
                "order_match_id": "c53f0c1c1d9de3d73cb43a8f2708b48d504a13bae0e8bd95ab8cd1f664ac3217_8207720c169b3ffab48e7fa9e845a8e1938df692e622ba12f96701265c3d5ca0",
                "status": "expired"
            },
            "tx_hash": "06d0c3f2d5b6ef04444333bc89930b0e3e88d8435f888f0f6d0687fbb37e0da7",
            "block_index": 225,
            "block_time": 1743097758
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "order_match_id": "de61ac2af842990f8d3ed51ddddb55fda360b053014227f022f1cecd647253da_b048e9887d2351d7db7621cfdb4f5ea8dab452ae993cce7be009ebd443ed37b2",
                "source": "bcrt1q7ptkqkyaku5tmdd2gwdk0dfephwege93c50jwd",
                "status": "valid",
                "tx_hash": "a640718a56a048c0b9cb4164aa50e55ef6021369771e6c58c0b2e604916892e0",
                "tx_index": 57,
                "block_time": 1743097603,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "a640718a56a048c0b9cb4164aa50e55ef6021369771e6c58c0b2e604916892e0",
            "block_index": 182,
            "block_time": 1743097603
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "56aaccb43a0a43605c20ac1feb497c79f8d2c19f13cb93593c0a28281e15dae0",
                "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "status": "valid",
                "tx_hash": "75eeecf09ad55281cb52a24879e30a830043f66e00f87568dce9afac6afecdf3",
                "tx_index": 63,
                "block_time": 1743097625
            },
            "tx_hash": "75eeecf09ad55281cb52a24879e30a830043f66e00f87568dce9afac6afecdf3",
            "block_index": 188,
            "block_time": 1743097625
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "c53f0c1c1d9de3d73cb43a8f2708b48d504a13bae0e8bd95ab8cd1f664ac3217",
                "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "block_time": 1743097710
            },
            "tx_hash": "7a3f1e032150dfe75a1c2070ac8b28c58e2124feece2dce43a5b8947b0d1cdf0",
            "block_index": 211,
            "block_time": 1743097710
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "c53f0c1c1d9de3d73cb43a8f2708b48d504a13bae0e8bd95ab8cd1f664ac3217_8207720c169b3ffab48e7fa9e845a8e1938df692e622ba12f96701265c3d5ca0",
                "tx0_address": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "tx1_address": "bcrt1q878uvk3mvee7aqqg52ajzvw7qlnfp53rwxug48",
                "block_time": 1743097758
            },
            "tx_hash": "06d0c3f2d5b6ef04444333bc89930b0e3e88d8435f888f0f6d0687fbb37e0da7",
            "block_index": 225,
            "block_time": 1743097758
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qvmm3c8kte2ggyg0mgmgg9de49mukdhcg02ltyk",
                "satoshirate": 1,
                "source": "bcrt1qvmm3c8kte2ggyg0mgmgg9de49mukdhcg02ltyk",
                "status": 0,
                "tx_hash": "1cce9aa68c99f6ea47327bbb61d2494694384b3c2f81baa46629cf94fc9a0f8a",
                "tx_index": 114,
                "block_time": 1743097825,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "1cce9aa68c99f6ea47327bbb61d2494694384b3c2f81baa46629cf94fc9a0f8a",
            "block_index": 236,
            "block_time": 1743097825
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "status": 0,
                "tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mx4mHNWT2dbp8DhU5531WxYYpibWGnjqh4",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "94510699e896cadb8bee0722191d03d241f74598c0c065ca8dfdf4c6f31c50a8",
                "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                "tx_hash": "937e390ceca36b57bcb8658a2e2257bb176b24ff77078ab15a74ccb634f2fa9f",
                "tx_index": 31,
                "block_time": 1743097451,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "937e390ceca36b57bcb8658a2e2257bb176b24ff77078ab15a74ccb634f2fa9f",
            "block_index": 135,
            "block_time": 1743097451
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "tx_index": 121,
                "block_time": 1743097858,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "d9fcc477313a04447ea10539476e2514eaa4cc40a5a588842822551a3c31934a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1743097430,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "d9fcc477313a04447ea10539476e2514eaa4cc40a5a588842822551a3c31934a",
            "block_index": 129,
            "block_time": 1743097430
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "start_block": 0,
                "status": "open",
                "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
                "tx_index": 120,
                "block_time": 1743097849,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
            "block_index": 243,
            "block_time": 1743097849
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "80957a62616e019eb1b6b1ede121fbbbcc56f7a334c1cac220f591df7dfc87fb"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1743097768
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "567fbd32d0a3b83d8fccf06e60ecc287e6c262b98149a48c4a0f10fbd31dd277",
                "paid_quantity": 100000000,
                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "status": "valid",
                "tx_hash": "ea1e8a6e315dad4d8b9283eea517578730b643e024554c0e32675b9f94d1c595",
                "tx_index": 97,
                "block_time": 1743097744,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "ea1e8a6e315dad4d8b9283eea517578730b643e024554c0e32675b9f94d1c595",
            "block_index": 221,
            "block_time": 1743097744
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "8e9899362992a122b53064e88e4bc20bbe173604e76adf07ffd4d0c14be82dcb:0",
                "destination_address": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "status": "valid",
                "tx_hash": "8e9899362992a122b53064e88e4bc20bbe173604e76adf07ffd4d0c14be82dcb",
                "tx_index": 112,
                "block_time": 1743097820,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8e9899362992a122b53064e88e4bc20bbe173604e76adf07ffd4d0c14be82dcb",
            "block_index": 235,
            "block_time": 1743097820
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "4fbf59d0f655c5a3fc239780f48cc47b91883ab3c6400b2f02f637f0e24ba54c:0",
                "source_address": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                "status": "valid",
                "tx_hash": "993a214be4883142b2e3f230ec347d0cc6b017be80269e07cb1e96ed4760f902",
                "tx_index": 111,
                "block_time": 1743097816,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "993a214be4883142b2e3f230ec347d0cc6b017be80269e07cb1e96ed4760f902",
            "block_index": 234,
            "block_time": 1743097816
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                "destination_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                "source_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                "status": "valid",
                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                "tx_index": 121,
                "block_time": 1743097858,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
            "block_index": 245,
            "block_time": 1743097858
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qgsq88jskpm2d4dg2udj7mwlnkptrq8q6fdyr7d",
                "status": "valid",
                "tx_hash": "561efc36e8e172d3611888201df70683da67d7722063e1a399cb52d0b4d0a6d8",
                "tx_index": 9,
                "block_time": 1743097368,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "561efc36e8e172d3611888201df70683da67d7722063e1a399cb52d0b4d0a6d8",
            "block_index": 112,
            "block_time": 1743097368
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                    "block_time": 1743097858,
                    "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                    "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                    "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                    "previous_block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002",
                    "block_time": 1743097853,
                    "ledger_hash": "9dc71bc6dc3220fe1e72d708e3248e22f41b65ad369e183d2684094792075968",
                    "txlist_hash": "0d3f40a0fa7a66dc21f0ba393cc272f7cedb53c043d05a23bb0a5c73c56dbecd",
                    "messages_hash": "b1e5a72245c9314cdf3a99471de0147bcf061a2b594a94eda291978634a13f00",
                    "previous_block_hash": "7472f2f75dce740c07a780d5f1365e3becee0b68ac4cb6d3be9b27f4faf03d26",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "7472f2f75dce740c07a780d5f1365e3becee0b68ac4cb6d3be9b27f4faf03d26",
                    "block_time": 1743097849,
                    "ledger_hash": "e11988c798dbdbde23ad332aee5c5e1ee540d6b71817f56706470bfbdd933d05",
                    "txlist_hash": "10d68d9c79d3cf8cfb8caebe1874ecc28aea5f0decf2a70d66e9d1795f0f49b8",
                    "messages_hash": "d01ad31620d03702d0af09dcf0d6a70bedf87e25a67c7a27da71cf8dde79aeb7",
                    "previous_block_hash": "22028e229a9aca217cb754d5bdfb4b99c6d5b5e2e13a90070acba98db2b4b357",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "22028e229a9aca217cb754d5bdfb4b99c6d5b5e2e13a90070acba98db2b4b357",
                    "block_time": 1743097846,
                    "ledger_hash": "50d0b8909f496ec7bda369867fab24252164dfa100e819491e80cea687d28925",
                    "txlist_hash": "a7d7b05270062b86460e38956a62b794ef9087a39dc3c4b31f2995c6966640c2",
                    "messages_hash": "2f68120bd4ed9d254119ed5319128a7ed477a403267b722cc33d214084694ffb",
                    "previous_block_hash": "054b9ffd42749ff88236a3ff75ec6e9071d17fc779c3af96384bfe3bdb98817e",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "054b9ffd42749ff88236a3ff75ec6e9071d17fc779c3af96384bfe3bdb98817e",
                    "block_time": 1743097843,
                    "ledger_hash": "ebeb52a15ed8e6477dd7eb22644c32e24c519ed232c00d473a96c1e324a71961",
                    "txlist_hash": "b62e64b2c01a682fdd49c71214853860a435727b46d46641882a270de34c9453",
                    "messages_hash": "677fe4464f39e6e1eb72ab778df21d32a3f0d414ad75cd3ea5af51e6abae7746",
                    "previous_block_hash": "66a6923ce22e58a30b63ffcc78604f0897af68a174dd4c3b45771d6fba49347c",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                "block_time": 1743097858,
                "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                "previous_block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                "block_time": 1743097858,
                "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                "previous_block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                "block_time": 1743097858,
                "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                "previous_block_hash": "6c6ad397919d1c77a8407325c51da3326bc60087cecadbf4c69eda4cfd297002",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "block_index": 245,
                    "block_hash": "72becbd0557c01e68e2d59879c30c369f475fccac64449929ce54033d1dbd47d",
                    "block_time": 1743097858,
                    "source": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "destination": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1 4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                                "destination_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                                "source_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                                "status": "valid",
                                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                                "tx_index": 121,
                                "block_time": 1743097858,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                            "block_index": 245,
                            "block_time": 1743097858
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                                "destination_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                                "source_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                                "status": "valid",
                                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                                "tx_index": 121,
                                "block_time": 1743097858,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                            "block_index": 245,
                            "block_time": 1743097858
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                                "status": 0,
                                "tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                            "block_index": 245,
                            "block_time": 1743097858
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                                "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                                "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                                "tx_index": 121,
                                "block_time": 1743097858,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                            "block_index": 245,
                            "block_time": 1743097858
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "1be9d63c64d578c00340f70af26f527d31471bdcc4d05baf440365cc64f81021",
                        "messages_hash": "e6285a94f1f3ce327571bdc27a3e6f972e79fe78d91cf0ac238c6c7b5718818e",
                        "transaction_count": 1,
                        "txlist_hash": "0482d9e3d2e7547628c7ccad1300f657288bac02af3125c004f6b519ae4987bf",
                        "block_time": 1743097858
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "tx_index": 121
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                        "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                        "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "tx_index": 121,
                        "block_time": 1743097858,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                        "status": 0,
                        "tx_hash": "0c9aa2136ec8e9d04520b4b16f7ceea6c91de88c02d16261e25fe2178694252e",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743097858,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1743097858,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                        "utxo_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                        "block_time": 1743097858,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                        "utxo_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                        "block_time": 1743097858,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "tx_index": 121,
                    "utxo": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                    "utxo_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "tx_index": 121,
                    "utxo": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                    "utxo_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "tx_index": 121,
                    "utxo": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                    "utxo_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "tx_index": 121,
                    "utxo": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                    "utxo_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "c53f0c1c1d9de3d73cb43a8f2708b48d504a13bae0e8bd95ab8cd1f664ac3217",
                    "block_index": 211,
                    "block_time": 1743097710
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "75eeecf09ad55281cb52a24879e30a830043f66e00f87568dce9afac6afecdf3",
                    "block_index": 188,
                    "source": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                    "offer_hash": "56aaccb43a0a43605c20ac1feb497c79f8d2c19f13cb93593c0a28281e15dae0",
                    "status": "valid",
                    "block_time": 1743097625
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "c514895fb1ed2cee5052f91159583106412b179f79e27aff9b87ef923073324f",
                    "block_index": 240,
                    "source": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1743097839,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qyuf28rumy2jg738fphduuf7trkmfzzjdpupekm"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "ee84216b7e009cd32b5aa61794c9f1cd593886a78c0760a88e72c0959b5121ed",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "issuer": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1743097849,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "block_index": 245,
                    "source": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                    "destination": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "destination_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3",
                    "block_index": 245,
                    "source": "31fdcc0fbb8c673289b13fe2fa9d725f4338dea76b1b5322204f748cacb0886b:1",
                    "destination": "4a88b1599e6d5c1c88711268289483192c9c4e6bafbf69d32cdfb93293991ba3:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxw62736ag67zzdwn3fvvsz20apl337mfeam43g",
                    "destination_address": "bcrt1qh9dvuxvmcr0vytk3dqps6mdp0qxj6ftlguu62v",
                    "block_time": 1743097858,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q0tenx0fzq5m2dlgdvxe3uplnrze50gj3uhmxt6"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
