[//]: # (Generated by genapidoc.py on 2024-09-13 12:20:03.406383. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                "block_index": 193,
                "block_time": 1726229985,
                "difficulty": 545259519,
                "previous_block_hash": "0e9922e7b1b4051c64993ae2cd33dcd4a0e5e77d304b0f0e0de4fef5460b82b8"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                "block_index": 193,
                "block_time": 1726229985,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                "tx_index": 59,
                "utxos_info": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "out_index": 0,
                "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
                "tx_index": 33,
                "block_time": 1726229784,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
            "block_index": 146,
            "block_time": 1726229784
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "33bf13d4aa1fe372132855565e46f0f9c0374ded3d5c77080dc3543138a83d1e",
                "messages_hash": "7093db9519932de6e49e77bc383e0ab2c55b102eb22593c1d4c9155f43578d66",
                "transaction_count": 1,
                "txlist_hash": "5fb03b067fa930d7b2ee4ec1c9c1f82bab1132dcc5647740a0577c0a970edfd0",
                "block_time": 1726229985
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                "tx_index": 59
            },
            "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "asset": "XCP",
                "block_index": 193,
                "event": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726229985,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726229981,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
            "block_index": 192,
            "block_time": 1726229981
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                "status": "valid",
                "tx_hash": "320d9153bd13f90339b75bf21716bd011ab23354f144fd784c09fe4dfcd86bf9",
                "tx_index": 53,
                "block_time": 1726229951,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "320d9153bd13f90339b75bf21716bd011ab23354f144fd784c09fe4dfcd86bf9",
            "block_index": 187,
            "block_time": 1726229951
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "valid",
                "tx_hash": "d6c93858ac4016f0d8af5d96a7f6d2e60a25da4100eca0d3da9ee79902eb66eb",
                "tx_index": 54,
                "block_time": 1726229955,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "d6c93858ac4016f0d8af5d96a7f6d2e60a25da4100eca0d3da9ee79902eb66eb",
            "block_index": 188,
            "block_time": 1726229955
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                "status": "valid",
                "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                "tx_index": 58,
                "block_time": 1726229981,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
            "block_index": 192,
            "block_time": 1726229981
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "valid",
                "tx_hash": "f5c28b9004e5038860b4d13991d1dd73d0a2695391571caf258de144aba27864",
                "tx_index": 40,
                "block_time": 1726229813,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "f5c28b9004e5038860b4d13991d1dd73d0a2695391571caf258de144aba27864",
            "block_index": 153,
            "block_time": 1726229813
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726229849
            },
            "tx_hash": "31c197e9044b69d87ce52f39646e0aa632d02d55468005cfda8a281610cd4c02",
            "block_index": 159,
            "block_time": 1726229849
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "valid",
                "transfer": false,
                "tx_hash": "31c197e9044b69d87ce52f39646e0aa632d02d55468005cfda8a281610cd4c02",
                "tx_index": 46,
                "block_time": 1726229849,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "31c197e9044b69d87ce52f39646e0aa632d02d55468005cfda8a281610cd4c02",
            "block_index": 159,
            "block_time": 1726229849
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                "tx_index": 59,
                "block_time": 1726229985,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
            "block_index": 193,
            "block_time": 1726229985
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "open",
                "tx_hash": "644b8855ab68aa6d9d611a25e8ab7d5717c3587cb2f468caf1bc007645a3e30e",
                "tx_index": 57,
                "block_time": 1726229977,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "644b8855ab68aa6d9d611a25e8ab7d5717c3587cb2f468caf1bc007645a3e30e",
            "block_index": 191,
            "block_time": 1726229977
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3_4379815b3db59bf00eb5018f01c981c5a5abf811879902a1868f6c466fcc8668",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3",
                "tx0_index": 49,
                "tx1_address": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "4379815b3db59bf00eb5018f01c981c5a5abf811879902a1868f6c466fcc8668",
                "tx1_index": 52,
                "block_time": 1726229946,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "4379815b3db59bf00eb5018f01c981c5a5abf811879902a1868f6c466fcc8668",
            "block_index": 186,
            "block_time": 1726229946
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "1c5046df570323f418584cdd0f6a0af9396ac2297f10be3d766f9a559268f253"
            },
            "tx_hash": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9",
            "block_index": 190,
            "block_time": 1726229973
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca"
            },
            "tx_hash": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc",
            "block_index": 185,
            "block_time": 1726229942
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3_284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
                "order_match_id": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3_284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
                "status": "completed"
            },
            "tx_hash": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc",
            "block_index": 185,
            "block_time": 1726229942
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "order_match_id": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3_284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
                "source": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                "status": "valid",
                "tx_hash": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc",
                "tx_index": 51,
                "block_time": 1726229942,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc",
            "block_index": 185,
            "block_time": 1726229942
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "1c5046df570323f418584cdd0f6a0af9396ac2297f10be3d766f9a559268f253",
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "valid",
                "tx_hash": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9",
                "tx_index": 56,
                "block_time": 1726229973
            },
            "tx_hash": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9",
            "block_index": 190,
            "block_time": 1726229973
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "899f195bb41cb285b7969b1abc5dff081140f529eab3dcaa33d9262f49dd8535",
                "source": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                "block_time": 1726229865
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726229865
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "71f5fa9b067e26ad3f53401c76c5cbe721016554eda4d06993347c52ac41171d_899f195bb41cb285b7969b1abc5dff081140f529eab3dcaa33d9262f49dd8535",
                "tx0_address": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "tx1_address": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                "block_time": 1726229865
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726229865
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "origin": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "satoshirate": 1,
                "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "status": 0,
                "tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
                "tx_index": 32,
                "block_time": 1726229780,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
            "block_index": 145,
            "block_time": 1726229780
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "status": 0,
                "tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
            "block_index": 146,
            "block_time": 1726229784
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mtkWX4RacnFMrdvMiBFk83bDb2ecqBJ5Ho",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "90da72e33e6b2cf25f6cecd919940a059a766b5ad67c9311870a39d39a7221cf",
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "tx_hash": "4a0270ecf7a1b2736bfe1aed134306b2aabf8b207b3883904f4d108017eb81ec",
                "tx_index": 31,
                "block_time": 1726229776,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "4a0270ecf7a1b2736bfe1aed134306b2aabf8b207b3883904f4d108017eb81ec",
            "block_index": 144,
            "block_time": 1726229776
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qgpdsk4rywax88z5hjt7pktze35hxv6ws0lfrz5",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
                "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
                "tx_index": 33,
                "block_time": 1726229784,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
            "block_index": 146,
            "block_time": 1726229784
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "b193a965d9b1763305cc02a24aab226b74c3491a924fdddec2c752657dbd86a5",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726229742,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "b193a965d9b1763305cc02a24aab226b74c3491a924fdddec2c752657dbd86a5",
            "block_index": 138,
            "block_time": 1726229742
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "start_block": 0,
                "status": "open",
                "tx_hash": "a4038491f88325010e8975825ef5d55f33bd29f5b410d94c1383cab9853a821d",
                "tx_index": 22,
                "block_time": 1726229729
            },
            "tx_hash": "a4038491f88325010e8975825ef5d55f33bd29f5b410d94c1383cab9853a821d",
            "block_index": 135,
            "block_time": 1726229729
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "6df302cd59b4cf0e58d3dbdc64419a32d50b2dc9d5661b2818ff31107a9c2881"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726229708
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "a4038491f88325010e8975825ef5d55f33bd29f5b410d94c1383cab9853a821d",
                "paid_quantity": 34,
                "source": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                "status": "valid",
                "tx_hash": "7ba5848aa06370ee36b440f1361eb19565102cbe604789f0f6d9f4f9504f8fb7",
                "tx_index": 23,
                "block_time": 1726229733,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "7ba5848aa06370ee36b440f1361eb19565102cbe604789f0f6d9f4f9504f8fb7",
            "block_index": 136,
            "block_time": 1726229733
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "cef1122bb8cf3e54ab3605040125fc698a0631791fa491a25b5745a6cd687477:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                "status": "valid",
                "tx_hash": "cef1122bb8cf3e54ab3605040125fc698a0631791fa491a25b5745a6cd687477",
                "tx_index": 38,
                "block_time": 1726229804,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "cef1122bb8cf3e54ab3605040125fc698a0631791fa491a25b5745a6cd687477",
            "block_index": 151,
            "block_time": 1726229804
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1q9fuslmqqh5xalrkjz0nqsmtsmnkffqd8cfx03v",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "7f58f669c66cd38e498fc0ef370564a0458e05a0b66afd1e451f7886768c04df:0",
                "status": "valid",
                "tx_hash": "86baca7de57304931137bd16a5e7088ace498e1a9272e8cb1275723c2ca714a3",
                "tx_index": 37,
                "block_time": 1726229800,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "86baca7de57304931137bd16a5e7088ace498e1a9272e8cb1275723c2ca714a3",
            "block_index": 150,
            "block_time": 1726229800
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "1d1949f02cc5e9b8a29848d005d54c825b9189b2a10a59b07122ad2044e72dda:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "50941140792c3dc7e6ba47b33444983a87033725b99f728daaf37934c86f9d01:0",
                "status": "valid",
                "tx_hash": "1d1949f02cc5e9b8a29848d005d54c825b9189b2a10a59b07122ad2044e72dda",
                "tx_index": 42,
                "block_time": 1726229822,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "1d1949f02cc5e9b8a29848d005d54c825b9189b2a10a59b07122ad2044e72dda",
            "block_index": 155,
            "block_time": 1726229822
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qwggf8lzj4pmlzj4eh04zfnh770y7e4tkuzqpwu",
                "status": "valid",
                "tx_hash": "cb8787d73713dc2435c42a8752811bc18b2bf107570b1cfdc54e68dae2f17511",
                "tx_index": 9,
                "block_time": 1726229669,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "cb8787d73713dc2435c42a8752811bc18b2bf107570b1cfdc54e68dae2f17511",
            "block_index": 121,
            "block_time": 1726229669
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                    "block_time": 1726229985,
                    "previous_block_hash": "0e9922e7b1b4051c64993ae2cd33dcd4a0e5e77d304b0f0e0de4fef5460b82b8",
                    "difficulty": 545259519,
                    "ledger_hash": "33bf13d4aa1fe372132855565e46f0f9c0374ded3d5c77080dc3543138a83d1e",
                    "txlist_hash": "5fb03b067fa930d7b2ee4ec1c9c1f82bab1132dcc5647740a0577c0a970edfd0",
                    "messages_hash": "7093db9519932de6e49e77bc383e0ab2c55b102eb22593c1d4c9155f43578d66",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "0e9922e7b1b4051c64993ae2cd33dcd4a0e5e77d304b0f0e0de4fef5460b82b8",
                    "block_time": 1726229981,
                    "previous_block_hash": "4f93bfb5e08bba98cb17d06ca522a5c04db70434fb4980bdbe2a3284ef05d30f",
                    "difficulty": 545259519,
                    "ledger_hash": "f1f7bff3d428e23b351d88d5cd5ce8c097e1f34c3e83fee245a13000e24fdcc8",
                    "txlist_hash": "745166ee71a9d7bb238b8e4a8a5f34d5102eff9ff4a0903688f622c9f1a90fc4",
                    "messages_hash": "332c5c99d17e7ddb93c63cb48490679f3eb27959d25f9f472c046319a5ade36d",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "4f93bfb5e08bba98cb17d06ca522a5c04db70434fb4980bdbe2a3284ef05d30f",
                    "block_time": 1726229977,
                    "previous_block_hash": "52199f7eef28a35dcaa8166fd9436ccfc331f0d09f366aa2e6ce6c8de7df09a8",
                    "difficulty": 545259519,
                    "ledger_hash": "27687c534b2cf027f12ddf0a83a3ff2f42e6c2255d19057b7b085f7ef2ef8115",
                    "txlist_hash": "9bd88f035e8ebd4eb0607aca11039cca7de58fc3fa3a0fa231db2b12456cb485",
                    "messages_hash": "3d746257c3b69a19830e5f99036bb0af144a705f35880280874a519d34d61bc8",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "52199f7eef28a35dcaa8166fd9436ccfc331f0d09f366aa2e6ce6c8de7df09a8",
                    "block_time": 1726229973,
                    "previous_block_hash": "692192939c688a0e529b421e71d296e481cd49078a58c20fe9c53743b416ca58",
                    "difficulty": 545259519,
                    "ledger_hash": "9c87750762dc31a12b6143152af47c2128cc826cec85a1275ec5cafade775ae0",
                    "txlist_hash": "c26a7b9713458c15e8667ebbd228a3c5b8090d29e748f0b1715fa63fbba82bf2",
                    "messages_hash": "44567df83f6a42b17c68292e1439fb7e623d12d88e855d0c37b029a3a5571306",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "692192939c688a0e529b421e71d296e481cd49078a58c20fe9c53743b416ca58",
                    "block_time": 1726229969,
                    "previous_block_hash": "09aa4bdb4db7af31573fa14b0f9a8244183ab0cbaba3458c03a39f5e6e0fc8f1",
                    "difficulty": 545259519,
                    "ledger_hash": "456f0cbc572e0ee23ff8b05ea303e9fbf78c9ae2aa75e1ea98273da2fd0d911f",
                    "txlist_hash": "0ebc1a2611438ba0b1a474f7b9ceadcd32de04c174edf8a33a846a6196d192bd",
                    "messages_hash": "e57d23e6438bdbfcdded93450410a4eb4e5dba522a1b4ee59df14aba41ba311b",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                "block_time": 1726229985,
                "previous_block_hash": "0e9922e7b1b4051c64993ae2cd33dcd4a0e5e77d304b0f0e0de4fef5460b82b8",
                "difficulty": 545259519,
                "ledger_hash": "33bf13d4aa1fe372132855565e46f0f9c0374ded3d5c77080dc3543138a83d1e",
                "txlist_hash": "5fb03b067fa930d7b2ee4ec1c9c1f82bab1132dcc5647740a0577c0a970edfd0",
                "messages_hash": "7093db9519932de6e49e77bc383e0ab2c55b102eb22593c1d4c9155f43578d66",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                "block_time": 1726229985,
                "previous_block_hash": "0e9922e7b1b4051c64993ae2cd33dcd4a0e5e77d304b0f0e0de4fef5460b82b8",
                "difficulty": 545259519,
                "ledger_hash": "33bf13d4aa1fe372132855565e46f0f9c0374ded3d5c77080dc3543138a83d1e",
                "txlist_hash": "5fb03b067fa930d7b2ee4ec1c9c1f82bab1132dcc5647740a0577c0a970edfd0",
                "messages_hash": "7093db9519932de6e49e77bc383e0ab2c55b102eb22593c1d4c9155f43578d66",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                    "block_index": 193,
                    "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
                    "block_time": 1726229985,
                    "source": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "f1f7bff3d428e23b351d88d5cd5ce8c097e1f34c3e83fee245a13000e24fdcc8",
                        "messages_hash": "332c5c99d17e7ddb93c63cb48490679f3eb27959d25f9f472c046319a5ade36d",
                        "transaction_count": 1,
                        "txlist_hash": "745166ee71a9d7bb238b8e4a8a5f34d5102eff9ff4a0903688f622c9f1a90fc4",
                        "block_time": 1726229981
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "tx_index": 58
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                        "status": "valid",
                        "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "tx_index": 58,
                        "block_time": 1726229981,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726229981,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726229981,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726229981,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726229981,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726229981,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726229981,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726229981,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726229981,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726229985,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "899f195bb41cb285b7969b1abc5dff081140f529eab3dcaa33d9262f49dd8535",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726229865
                },
                {
                    "type": "order",
                    "object_id": "71f5fa9b067e26ad3f53401c76c5cbe721016554eda4d06993347c52ac41171d",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726229865
                },
                {
                    "type": "order_match",
                    "object_id": "71f5fa9b067e26ad3f53401c76c5cbe721016554eda4d06993347c52ac41171d_899f195bb41cb285b7969b1abc5dff081140f529eab3dcaa33d9262f49dd8535",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726229865
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9",
                    "block_index": 190,
                    "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "offer_hash": "1c5046df570323f418584cdd0f6a0af9396ac2297f10be3d766f9a559268f253",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726229973
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
                    "block_index": 193,
                    "source": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726229985,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "31c197e9044b69d87ce52f39646e0aa632d02d55468005cfda8a281610cd4c02",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726229849,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "d6c93858ac4016f0d8af5d96a7f6d2e60a25da4100eca0d3da9ee79902eb66eb",
                    "block_index": 188,
                    "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "destination": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726229955,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "d6c93858ac4016f0d8af5d96a7f6d2e60a25da4100eca0d3da9ee79902eb66eb",
                    "block_index": 188,
                    "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "destination": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726229955,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "d6c93858ac4016f0d8af5d96a7f6d2e60a25da4100eca0d3da9ee79902eb66eb",
                    "block_index": 188,
                    "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                    "destination": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726229955,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
                    "block_index": 146,
                    "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                    "destination": "bcrt1qgpdsk4rywax88z5hjt7pktze35hxv6ws0lfrz5",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726229784,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "52650614b38401d25796eeedda392eb170798f7f0ef8276276a10f838f8b4ff6",
                    "block_index": 192,
                    "source": "bcrt1q33m96kjsn4uehyjg6ncv2sty7d0987k5ys42hf",
                    "destination": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726229981,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "b193a965d9b1763305cc02a24aab226b74c3491a924fdddec2c752657dbd86a5",
        "block_index": 138,
        "block_hash": "0d8ce11a887e0d193bf527c9970224c06f0a3f6a6e9ca6cd077d0d45a3679fdc",
        "block_time": 1726229742,
        "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "b193a965d9b1763305cc02a24aab226b74c3491a924fdddec2c752657dbd86a5:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc",
        "block_index": 185,
        "block_hash": "1265102d38a6153dac544a1e02c71b3e6761540e77fdd026a87cb1ec50e33440",
        "block_time": 1726229942,
        "source": "bcrt1q2sxp9yskm759qlg7y5c7ee95x8r4jpml9578zg",
        "destination": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
        "supported": true,
        "utxos_info": "ff0fd46dea54974fccd0ac332fcd1f56d2d1d52e8ab26a816d5738586b5df0dc:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3",
                "tx1_hash": "284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
                "order_match_id": "4f9e9ce3b6a1b3466ee72482e952bee90ce1aff87b0210a16b33f267818bd2a3_284b04c0c794c4818e7bc1d4e26612628fd6d7443c19f7495b7fc156b5871dca",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9",
        "block_index": 190,
        "block_hash": "52199f7eef28a35dcaa8166fd9436ccfc331f0d09f366aa2e6ce6c8de7df09a8",
        "block_time": 1726229973,
        "source": "bcrt1q2j7ry2humnye2mgxzdrzzphljcgw38st4c2d3t",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "461c5046df570323f418584cdd0f6a0af9396ac2297f10be3d766f9a559268f253",
        "supported": true,
        "utxos_info": "034c83ad9f83c57243459ad73c4b5e64856b8038ed51ed8593d9acf39f5b40d9:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "1c5046df570323f418584cdd0f6a0af9396ac2297f10be3d766f9a559268f253",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1",
        "block_index": 193,
        "block_hash": "3169ba979979908978f30d8a606890da1a07d55f930112e7304e02f10d34a52b",
        "block_time": 1726229985,
        "source": "bcrt1q3pd8vsxs89t2llhewq08ks7xqpna426h0fmssh",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "74ee1ecaceebd981960da8e93570a3008ee841cbebd8a66a2a4ff25d6c11eeb1:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735",
        "block_index": 145,
        "block_hash": "31ab57bb265716fec83ba38028ae0e029d45d0386a69110e843141344bb736c8",
        "block_time": 1726229780,
        "source": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080edf9883160dc80974e387055806f6d8940d2ad7a",
        "supported": true,
        "utxos_info": "48100f0024206c4a76a0fe35002496ba0a7439a3d8b2c77a8f3e23e017e14735:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54",
        "block_index": 146,
        "block_hash": "2f65016a1b625e96599a8c5c41c539ad4f39c16fe2257db839d4f25e0faf676b",
        "block_time": 1726229784,
        "source": "bcrt1qgpdsk4rywax88z5hjt7pktze35hxv6ws0lfrz5",
        "destination": "bcrt1qahucsvtqmjqfwn3cwp2cqmmd39qd9tt6u0wasn",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "5f4da78bf12e87f32ca46fc7ca7560bc5c42e591d565fb5c7ec9be19dc807e54:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "f5c28b9004e5038860b4d13991d1dd73d0a2695391571caf258de144aba27864",
        "block_index": 153,
        "block_hash": "6ca0b60ecccc54edc6935e218971ef3ea00afa165f0191098de0d33760dab474",
        "block_time": 1726229813,
[...]
