<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
[//]: # (Generated by genapidoc.py on 2025-03-12 15:09:35.396802. Do not edit manually.)
=======
[//]: # (Generated by genapidoc.py on 2025-03-05 11:13:29.686223. Do not edit manually.)
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
[//]: # (Generated by genapidoc.py on 2025-03-06 14:57:50.624064. Do not edit manually.)
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
[//]: # (Generated by genapidoc.py on 2025-03-06 16:02:27.662574. Do not edit manually.)
>>>>>>> 9720b105 (new encoding format for fairmint)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_index": 245,
                "block_time": 1741792157,
                "difficulty": 545259519,
                "previous_block_hash": "094eb6446a75cab3c43b02ecad54f5ba4cde89dcb9b19831fe535f6baff8c8ff"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741792157
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
=======
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "block_index": 245,
                "block_time": 1741276930,
                "difficulty": 545259519,
                "previous_block_hash": "0a9e6c5254a988bfcde0940e5ba5e432232af40074ade3d1c39ae25a07852b58"
            },
            "tx_hash": null,
            "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "block_hash": "6544e267e793ac411066f0ba54acce13b4e76acc0723035c2f66e5d7e3b5b021",
                "block_index": 245,
                "block_time": 1741792157,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "fee": 0,
                "source": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "transaction_type": "dispense",
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "utxos_info": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1 3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "block_hash": "37c20b7f71cbcbd8f3d461d3f831821804ddf89260553205ca6123ec0ff5a8ac",
=======
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_hash": "72cfee02d2e934b4c5cf9616bdb50acadfd8e15383bed19c95229e84adac6080",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "block_index": 245,
                "block_time": 1741276930,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "fee": 0,
                "source": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "transaction_type": "dispense",
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "utxos_info": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1 047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "out_index": 0,
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "block_time": 1741792157,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "destination": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
=======
                "destination": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "out_index": 0,
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
                "block_time": 1741276930,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "ledger_hash": "0f1815cc9d62e2f043123b2f16a318e088a3c889377999277f397e870699973f",
                "messages_hash": "5e03b13080595f0b38d0a56de141d8cf343c6a3fdc46fe56869a5409d86dbc8a",
                "transaction_count": 1,
                "txlist_hash": "58d9f3028c07f4e2adadcbcbaeac1562b7da4194da6c31bf4d504f95e69ea5e9",
                "block_time": 1741792157
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741792157
=======
                "ledger_hash": "0d8f964985e407023e5238b446f396a816175c85d65020daa7014dbabe2fc965",
                "messages_hash": "f0bc358910a08ec7afeb2c1a5f06054a2854c9d53a5c692d05ba9f6da37856bb",
                "migration_hash": "588d39605c7d1dc1c13da7212b4b9f09e0c26dcacfe5e749541f15d8bc8bc602",
=======
                "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "ledger_hash": "b9a35002ce315ed4055a9a7a26cf074f9f0d4b9ae1c04edf1204bacfb647a4a7",
                "messages_hash": "436f04f4885bd36add0abe7a7560d7fcd9f6a8605435742ebeb66e97742885c9",
                "migration_hash": "186bd1b2dc910c6402e9443ec84b83f1798f95f558f7806582390ac84a2e6761",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "transaction_count": 1,
                "txlist_hash": "d8c3b9efbc87243ca3598c9af89834632bd7d55f8bdae85c87bfc2c9bda8fa4d",
                "block_time": 1741276930
            },
            "tx_hash": null,
            "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121
            },
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
                "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
=======
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "tx_index": 121
            },
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "event": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "5b23cdd0525b54f854bbfe3a72c61cf9cc5c7673c778f69d4f2edd4b93aa4286:1",
                "utxo_address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "block_time": 1741792157,
=======
                "event": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "9f22acf0275afc158ef9e3324488dfa24a883205a09f137b8b50ce3ec359aaf1:1",
                "utxo_address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                "utxo_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "block_time": 1741273052,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "3dfedb206e72cdb7d3b6c925731264cfd8ea4fe309ecffaa56e963510c3b9adf:1",
                "utxo_address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "block_time": 1741276930,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "address": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
=======
                "address": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "address": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741792157,
=======
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741273052,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276930,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
=======
                "destination": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "destination": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "d100fbb726b6c20965dcd05208a620ac6a1fa9ddf7563ef014d5f6db73c744c6",
                "tx_index": 77,
                "block_time": 1741791969,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "d100fbb726b6c20965dcd05208a620ac6a1fa9ddf7563ef014d5f6db73c744c6",
            "block_index": 201,
            "block_time": 1741791969
=======
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
=======
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "812933e0368527f091636201fb4146984e7b5810a45b85981bb77b99092a1d7d",
                "tx_index": 77,
                "block_time": 1741276742,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "812933e0368527f091636201fb4146984e7b5810a45b85981bb77b99092a1d7d",
            "block_index": 201,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173010
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272866
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276742
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
=======
                "destination": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "destination": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
                "status": "valid",
                "tx_hash": "968a2ff92c34e6477328085dab440705fa216cd13f23be338ebdb707ba3fb3f2",
                "tx_index": 81,
                "block_time": 1741791984,
=======
                "source": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
=======
                "source": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "6db1c83aa79012615c68e66c2754f3348a97292a3318f7621dcaa023c0d4dc29",
                "tx_index": 81,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741173024,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741272880,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276757,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "968a2ff92c34e6477328085dab440705fa216cd13f23be338ebdb707ba3fb3f2",
            "block_index": 205,
            "block_time": 1741791984
=======
            "tx_hash": "be43b288ec5094791c8d220c8bb5c624f51ca608ef5036c449462a48267e713c",
            "block_index": 205,
            "block_time": 1741173024
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "118db62960004454700e5c4630df7ecb6ab9c313dd624cc4d75bd4a269a86db6",
            "block_index": 205,
            "block_time": 1741272880
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "6db1c83aa79012615c68e66c2754f3348a97292a3318f7621dcaa023c0d4dc29",
            "block_index": 205,
            "block_time": 1741276757
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1q8dkcdnk53mtp63y4tmdylzm95mdjw7ddu5lwuy",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6cvz8t4h9xyr2ftsrp7vf3jz50upf7fmfcxmqk",
                "status": "valid",
                "tx_hash": "a9db053e79abc37688e503561e26f641dd9ee30796b277bc5d4aa979193df21b",
                "tx_index": 65,
                "block_time": 1741791922,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "a9db053e79abc37688e503561e26f641dd9ee30796b277bc5d4aa979193df21b",
            "block_index": 190,
            "block_time": 1741791922
=======
                "destination": "bcrt1qkl3au7j5mavkakclnntdj3s69v69d34mktn27e",
=======
                "destination": "bcrt1qfe3p9wur3yl9z678hu2fjqmp6vp0secnsw5axa",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1qj8273jwgpywf0npnfd2xznmt37ek57dwg4luzs",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qhj8hl8wvdu7umcclrcjry078rda4dw9f4ljms5",
                "status": "valid",
                "tx_hash": "7bb859084a6f68d8d5876610841b55e1cfeed610982b6facd793c8ede0bae295",
                "tx_index": 65,
                "block_time": 1741276693,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "7bb859084a6f68d8d5876610841b55e1cfeed610982b6facd793c8ede0bae295",
            "block_index": 190,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741172965
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272821
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276693
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "a8741b43a023e17859a9174a381d278a8b2edcdb488d6efedbd1cb04afe13d33",
                "tx_index": 42,
                "block_time": 1741791774,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6"
=======
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
=======
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "b68b421bdd0c927543d2ce4d1a7b020e05b429d68d2f97582d472595bd254ddd",
                "tx_index": 42,
                "block_time": 1741276545,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                    "divisible": true,
                    "locked": false,
<<<<<<< HEAD
<<<<<<< HEAD
                    "owner": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                    "owner": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq"
>>>>>>> 9720b105 (new encoding format for fairmint)
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "a8741b43a023e17859a9174a381d278a8b2edcdb488d6efedbd1cb04afe13d33",
            "block_index": 146,
            "block_time": 1741791774
=======
            "tx_hash": "457c912b6cd7c5cdefd665c4cb4f67e8ffd35439285cdfd181572013d1183e6a",
            "block_index": 146,
            "block_time": 1741172823
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "6a6bdb86063319c82be0c48444caf69c322e623b9efba7b0c7b71916e4845a97",
            "block_index": 146,
            "block_time": 1741272678
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "b68b421bdd0c927543d2ce4d1a7b020e05b429d68d2f97582d472595bd254ddd",
            "block_index": 146,
            "block_time": 1741276545
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "transfer": false,
                "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
                "tx_index": 117,
                "block_time": 1741792137,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
            "block_index": 240,
            "block_time": 1741792137
=======
                "issuer": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
=======
                "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                "status": "valid",
                "transfer": false,
                "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
                "tx_index": 117,
                "block_time": 1741276912,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
            "block_index": 240,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173170
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273032
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276912
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741792148
            },
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
                "block_time": 1741173180
=======
                "block_time": 1741273043
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276922
>>>>>>> 9720b105 (new encoding format for fairmint)
            },
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273043
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276922
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "issuer": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "transfer": false,
                "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
                "tx_index": 120,
                "block_time": 1741792148,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
                "issuer": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
=======
                "issuer": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "issuer": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "transfer": false,
                "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
                "tx_index": 120,
                "block_time": 1741276922,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273043
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276922
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
                "tx_index": 117,
                "block_time": 1741792137,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "3c3505e43b717a4a2b5f35189c968d0e03faf8adaab2dcac327c6e013cb4ed8d",
            "block_index": 240,
            "block_time": 1741792137
=======
                "source": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
=======
                "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tag": "reset",
                "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
                "tx_index": 117,
                "block_time": 1741276912,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "364581a257653198cc475b8aaa3cd3143492d006a1d61372f0909b454641d808",
            "block_index": 240,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173170
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273032
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276912
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "open",
                "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "tx_index": 119,
                "block_time": 1741792145,
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
=======
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "open",
                "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "tx_index": 119,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741173177,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741273039,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276918,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                    "issuer": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88"
=======
                    "issuer": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "issuer": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                    "issuer": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7"
>>>>>>> 9720b105 (new encoding format for fairmint)
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
            "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
            "block_index": 242,
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
            "block_index": 242,
            "block_time": 1741273039
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
            "block_time": 1741276918
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "id": "42f6c1dfc99d87316244d18172c4a3bbfe0c694b7173d52772d7348996d09b2a_9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "42f6c1dfc99d87316244d18172c4a3bbfe0c694b7173d52772d7348996d09b2a",
                "tx0_index": 118,
                "tx1_address": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "tx1_index": 119,
                "block_time": 1741792145,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qj8exhtpv4j9re8cnrk0w92vlw42gxxstgy3j88"
=======
                "id": "112b394126aed6b0434e584ca52dfdf7dd83b54886ebd5d33098c1aebdb25f58_1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
=======
                "id": "7c295231580c030d036fc1f05d5c5ff1d4ede567be1389713232b5143ece42dc_510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "id": "e8fe00170b398256b86e71a3f6bd9f435a23e1707446e148bfe1f9859b2c0471_abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "e8fe00170b398256b86e71a3f6bd9f435a23e1707446e148bfe1f9859b2c0471",
                "tx0_index": 118,
                "tx1_address": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
                "tx1_index": 119,
                "block_time": 1741276918,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7",
                    "divisible": true,
                    "locked": false,
<<<<<<< HEAD
<<<<<<< HEAD
                    "owner": "bcrt1qqrjkuz287g9vv34tha54ff6y5ekdx6ftz0xpzc"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "owner": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                    "owner": "bcrt1qqr6a7x75jg85a5gtlst84h7kzydwuljdrxyhe7"
>>>>>>> 9720b105 (new encoding format for fairmint)
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
            "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
            "block_index": 242,
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
            "block_index": 242,
            "block_time": 1741273039
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
            "block_time": 1741276918
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "9695d8ef2d2d0e324553f0bf968abe2ef7e6945b1a2217977b84b747a400d7c9",
            "block_index": 242,
            "block_time": 1741792145
=======
                "tx_hash": "1226850c3bff870c20063a45b46bf4690813d949f1c4bcf0dc4d218b5aae6e74",
=======
                "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "abcda6fc8bde8c8cb74f44329125e98a9f333e26007ac17365ba33d18283bb61",
            "block_index": 242,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173177
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741273039
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276918
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "tx_hash": "76bee617b6868b75e50edbe25fa09499db4bc0e52401ca12593b5cb8dca8ffa6"
            },
            "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
            "block_index": 182,
            "block_time": 1741791893
=======
                "tx_hash": "987a493a818f28e3f8998714771efbc5f3bf8f1bde61fdbc9970260e21d7b188"
=======
                "tx_hash": "d3cb7bcc639536b899603ec688d5715ed84b7be25a15198d83a0e837739084d8"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "tx_hash": "2d378102e1c7cbc3e9650a35a8dd1a7868915926b5a516ecbef0b7ca66f307bb"
>>>>>>> 9720b105 (new encoding format for fairmint)
            },
            "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
            "block_index": 182,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741172937
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272793
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276663
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "order_match_id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "status": "expired"
            },
            "tx_hash": "f051b95ed1a7a51187feab5160df1f2d964e3cb8693f503d0f625b3b76769b3a",
            "block_index": 225,
            "block_time": 1741792055
=======
                "id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
                "order_match_id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
=======
                "id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
                "order_match_id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
                "order_match_id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "expired"
            },
            "tx_hash": "c01feeb107a78f35e1f028ef7cb68616a102a076ef6c3ac167f97718ec9fbd4f",
            "block_index": 225,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173091
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272950
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276833
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "order_match_id": "6ba31025dff909df9aa9b08585890b2b679bbb0f7fce8408221aa44624270f3d_76bee617b6868b75e50edbe25fa09499db4bc0e52401ca12593b5cb8dca8ffa6",
                "source": "bcrt1q4a837we49ccsau3cxuukgrn82qkrug3fwnuwrf",
                "status": "valid",
                "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
                "tx_index": 57,
                "block_time": 1741791893,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "4f5fe9abc7e83657a6a534147d57a6d89d1c3aa06e4b5adfc8d28ef3388953e9",
            "block_index": 182,
            "block_time": 1741791893
=======
                "destination": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "order_match_id": "fe78a9f08f10d4e50fef654056908f56510136cff4fe5ed0dda58cde1cde6199_987a493a818f28e3f8998714771efbc5f3bf8f1bde61fdbc9970260e21d7b188",
                "source": "bcrt1qhea9wk9707gy80a23yjzyhhf2uztr7v0u3sep6",
=======
                "destination": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "order_match_id": "dbeb49fa8cfa5eaaa10f109c5c2fafcfa6f348679bde6b474dc043e6acd561d4_d3cb7bcc639536b899603ec688d5715ed84b7be25a15198d83a0e837739084d8",
                "source": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "order_match_id": "ca154fd454d003d6c6c342680e755dd2dbb42f3d19d74b3dc2ed495926cd30c4_2d378102e1c7cbc3e9650a35a8dd1a7868915926b5a516ecbef0b7ca66f307bb",
                "source": "bcrt1qgfccq9a5mpesamgcjdph8hkc5q2r5jz4q90ztt",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
                "tx_index": 57,
                "block_time": 1741276663,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "b4522aaa3f6555932e8d19b706617660c589d4a29bfe31a3baef95fcae4774bc",
            "block_index": 182,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741172937
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272793
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276663
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "offer_hash": "dbfcf393fc38ee8869fe5ec00467f65225fc05397a98657e0df0f30148f56335",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "status": "valid",
                "tx_hash": "a90920d9df135735fe87a9234b6a724b2453702992f0ed287842f701c48b0dac",
                "tx_index": 63,
                "block_time": 1741791914
            },
            "tx_hash": "a90920d9df135735fe87a9234b6a724b2453702992f0ed287842f701c48b0dac",
            "block_index": 188,
            "block_time": 1741791914
=======
                "offer_hash": "ef25b73ebd3f87f4611787d009414105894cb55e615a62f92743c846b74a42cd",
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
=======
                "offer_hash": "5d511b3ce8304f2425b097aa1ec5ea1e18d98cdd2762b555073165638143a3f4",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "offer_hash": "667cf1ac4dd12a00d84102e43ed175ae1c9462aff658fe87c09091e1f177c3c3",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "f488cd53269bc204093e2d6bd7cbc90f17e12bfdd94b5cda45edb4de3cf149ad",
                "tx_index": 63,
                "block_time": 1741276685
            },
            "tx_hash": "f488cd53269bc204093e2d6bd7cbc90f17e12bfdd94b5cda45edb4de3cf149ad",
            "block_index": 188,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741172958
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272813
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276685
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "order_hash": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "block_time": 1741792006
            },
            "tx_hash": "0edc7ef2e87c6fbd03f460b282bd73a6dadce931cb6e35f09e4659cfbefc76a8",
            "block_index": 211,
            "block_time": 1741792006
=======
                "order_hash": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36",
                "source": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "block_time": 1741173045
=======
                "order_hash": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "block_time": 1741272901
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "order_hash": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "block_time": 1741276780
>>>>>>> 9720b105 (new encoding format for fairmint)
            },
            "tx_hash": "ae3e677945453d9d2e7d5734b8b93d787c5d5458a8661c4ad4cd02c9b79a79e9",
            "block_index": 211,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173045
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272901
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276780
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "order_match_id": "1523c21cde076de929d838f25251b960ca810c9d011797fc6e2f210c6f5846f0_55aea40be29fa4627583a715d25f1b1be29b370d6f6098d6adfaffa285ca5d55",
                "tx0_address": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "tx1_address": "bcrt1q6cvz8t4h9xyr2ftsrp7vf3jz50upf7fmfcxmqk",
                "block_time": 1741792055
            },
            "tx_hash": "f051b95ed1a7a51187feab5160df1f2d964e3cb8693f503d0f625b3b76769b3a",
            "block_index": 225,
            "block_time": 1741792055
=======
                "order_match_id": "c2a0b294dac8aaab36bd912d0b5b7270bd32db8a04cc8f73bb7a5e3a52c9dc36_a17d2865be8837b3cfb89ca1b49334ccb7149071ffd9fb9f0b448ab83f490306",
                "tx0_address": "bcrt1q3pzrjukcg05j4tjw8709gqzjpftljdcy5yrhtj",
                "tx1_address": "bcrt1qkeumt4e3armhffxmtywx2609dh3fvms9cru46a",
                "block_time": 1741173091
=======
                "order_match_id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
                "tx0_address": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "tx1_address": "bcrt1q6nz23m6nsgwwt5y33x8vk7pp9cv22l25v7sg8d",
                "block_time": 1741272950
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "order_match_id": "9e91fd2ed7e7c84ea2143c2875e088250fbf0d5c1bc8b29283662e9e4dc5ec31_28181869790f00ec2a23642bcd640356a00ba45325d3291b5947f773f1094838",
                "tx0_address": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "tx1_address": "bcrt1qhj8hl8wvdu7umcclrcjry078rda4dw9f4ljms5",
                "block_time": 1741276833
>>>>>>> 9720b105 (new encoding format for fairmint)
            },
            "tx_hash": "c01feeb107a78f35e1f028ef7cb68616a102a076ef6c3ac167f97718ec9fbd4f",
            "block_index": 225,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741173091
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272950
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276833
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "origin": "bcrt1quznnnkcjdregs5e2933x7v3az7gk5aqqa0rsjc",
                "satoshirate": 1,
                "source": "bcrt1quznnnkcjdregs5e2933x7v3az7gk5aqqa0rsjc",
                "status": 0,
                "tx_hash": "0cc35229d8ead9ca194ffeca9777f5519e65b3ce6c9b4afccc3facdece314cc5",
                "tx_index": 114,
                "block_time": 1741792123,
=======
                "origin": "bcrt1qtlyfec3pluhqd9cxdxzfvhza4s6ce27t6uldu0",
=======
                "origin": "bcrt1qny0l5uly78duc3059lee4rtfvk6nxrmzcgk0vd",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "origin": "bcrt1qqtxp8wxv5pgv7pp7jv569cl632q7dfnhyu9kxr",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "satoshirate": 1,
                "source": "bcrt1qqtxp8wxv5pgv7pp7jv569cl632q7dfnhyu9kxr",
                "status": 0,
                "tx_hash": "9080d87844e2547e1854c18efaf001759ae07477349d143938557b8ad84b47d5",
                "tx_index": 114,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741173157,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741273017,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276898,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "0cc35229d8ead9ca194ffeca9777f5519e65b3ce6c9b4afccc3facdece314cc5",
            "block_index": 236,
            "block_time": 1741792123
=======
            "tx_hash": "2ffaf68cecbad028985760a0f0645d7df8ea784e5ae0b00e21c11d38989fe547",
            "block_index": 236,
            "block_time": 1741173157
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "2e2487d5836071d903c7c4b59c8863b4e5db0db458e3adabc49994e1802d51f4",
            "block_index": 236,
            "block_time": 1741273017
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "9080d87844e2547e1854c18efaf001759ae07477349d143938557b8ad84b47d5",
            "block_index": 236,
            "block_time": 1741276898
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": 0,
                "tx_hash": "7637af6cc40f73bcc49ddb15c509586c99077b885ee70ef2f15d3ea7a0dc510c",
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
                "status": 0,
                "tx_hash": "a12a0ed6059ccb7fe8e170a7273327def2c002e98356b899e2da456b45856be8",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": 0,
                "tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": 0,
                "tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "mqcLPqMwQdruuS8DBoutcGgsKUDq8dLseu",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d5ead63b541def8e2c2653d7e457c49880b201fd67f76ad80a0bc40080bf65a0",
                "source": "bcrt1q2ueqaktmrc2kw9c6qdza36lz7j0wdplm4pylz6",
                "tx_hash": "1089060c132199f74bbbb34fd6fbabf9d4110a1a4780772589d722ff46f0517b",
                "tx_index": 31,
                "block_time": 1741791735,
=======
                "destination": "mw8gBPTw7kWS7YzirKdA1yG2N2Vg3226bi",
=======
                "destination": "mmrkSH3MqMjz84uDQQi7DVFwGrxVWrDcZr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "n2MXuy9L1wYePWVFDtVCBUQ9PwvoMtovKM",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "dispense_quantity": 10,
                "dispenser_tx_hash": "738b13b37c75df99223a1c956ad338b6904617f1959eedc5c801a242c4519e16",
                "source": "bcrt1q0prxj6jzy6vvkascptf7u8aq0s4alyyhpvrnmq",
                "tx_hash": "84db64c2e122a54c92b195f541f2e710bffca15d4f3b812b7dfd29a4bbbd9cfa",
                "tx_index": 31,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741172787,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741272638,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276507,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "1089060c132199f74bbbb34fd6fbabf9d4110a1a4780772589d722ff46f0517b",
            "block_index": 135,
            "block_time": 1741791735
=======
            "tx_hash": "037d3330a3ec2900160fa54f185344573997b9530d553082ab43da8a0b97fd70",
            "block_index": 135,
            "block_time": 1741172787
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "62279c047615a9ead7ab5ad455768a8fbb6b0e353c82bed0028b43122f45b826",
            "block_index": 135,
            "block_time": 1741272638
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "84db64c2e122a54c92b195f541f2e710bffca15d4f3b812b7dfd29a4bbbd9cfa",
            "block_index": 135,
            "block_time": 1741276507
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1qvntmwx7m2msgeyefuem8qfzhp0357xl9p8ehxu",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "7637af6cc40f73bcc49ddb15c509586c99077b885ee70ef2f15d3ea7a0dc510c",
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
                "tx_index": 121,
                "block_time": 1741792157,
=======
                "destination": "bcrt1qy6mca6l04gd66eu35wtvj5j5h3a2a8zqfgg0eh",
=======
                "destination": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1qsddzgvqxcftuuyafrwpnn7mdam09ldr4k29hjq",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "86d1ea1c3ec87c10ec664deb08c5db183e0e50579a0f4b406e7310623163496b",
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
                "tx_index": 121,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741173189,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741273052,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276930,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "3eaad678050f567102ce7d931953c63f6f2c520e42ddfec9512988cd462d6738",
            "block_index": 245,
            "block_time": 1741792157
=======
            "tx_hash": "898c756f3b0615f415021703e83183b21cf39a25b9a7734331e094cd72146252",
            "block_index": 245,
            "block_time": 1741173189
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "047648c5970f0d2dcb968405891b7daa27c0c0deb27e445bb43d36f75e4433a5",
            "block_index": 245,
            "block_time": 1741276930
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "5aa1ec7579790ace025c65a26394251002eee2c75035b42a8c77f3800a3399a8",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741791712,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "5aa1ec7579790ace025c65a26394251002eee2c75035b42a8c77f3800a3399a8",
            "block_index": 129,
            "block_time": 1741791712
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
=======
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "87a1029a9dd47536d1e0a2612e5c5d657087492b9f649f58e5dad7bdad93778d",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741276485,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "87a1029a9dd47536d1e0a2612e5c5d657087492b9f649f58e5dad7bdad93778d",
            "block_index": 129,
<<<<<<< HEAD
<<<<<<< HEAD
            "block_time": 1741172764
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "block_time": 1741272616
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "block_time": 1741276485
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "start_block": 0,
                "status": "open",
                "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
                "tx_index": 120,
                "block_time": 1741792148,
=======
                "source": "bcrt1qpduvt2zqhanw0rczaud0jl3pt02s2lmd3zecrv",
=======
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "start_block": 0,
                "status": "open",
                "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
                "tx_index": 120,
<<<<<<< HEAD
<<<<<<< HEAD
                "block_time": 1741173180,
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "block_time": 1741273043,
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "block_time": 1741276922,
>>>>>>> 9720b105 (new encoding format for fairmint)
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "8de2d5bad2700f77a1447d868887c61723a150914a2f8213887df0ef3c89116b",
            "block_index": 243,
            "block_time": 1741792148
=======
            "tx_hash": "66ef123c6528ab4de4958860f9465660e22f8cf6f8234c1c673bf9c6f96ba7d5",
            "block_index": 243,
            "block_time": 1741173180
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
            "block_index": 243,
            "block_time": 1741273043
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "e423891deb4e1287728cfc9e45aed96887c8b3acf251979386404fd89afb6d51",
            "block_index": 243,
            "block_time": 1741276922
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "tx_hash": "1fd269a1fc45df381a939ff75d7310840e5fca5461a34ab88cd6cce6d975cfdb"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741792065
=======
                "tx_hash": "d11f64d0b732c76e94d118564e289100da821f1bb5734592487dce8bbe9d0594"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741173101
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "tx_hash": "e6a5e5b5f26681fedee12730ae39a6d7e3e9d042cf604539ee2e02c2e6cb4e60"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741272960
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "tx_hash": "cf316f9789127684b0cbefa6f41a256fc6181f927ffd4ddaa874e90058ec842c"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741276844
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "fairminter_tx_hash": "c2d1fb1c9390beef8008f73bb845d995d69df2a9965932d22b5d1f98cd53f712",
                "paid_quantity": 100000000,
                "source": "bcrt1qhs0qgumpgth5dptw8aruxwxl526u6gh3sftj66",
                "status": "valid",
                "tx_hash": "856a6cb1f4c7e70dc890fca11a5ceb39956fba7430682506d63d4749e37b7596",
                "tx_index": 97,
                "block_time": 1741792040,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "fairminter_tx_hash": "a82931a46c020f77fca80bbdd1237e5dc2acf81d975009123f8391dff2835819",
=======
                "fairminter_tx_hash": "fa4ac3c56fc4628b4f9c6174cf40472778a8e4ea9effdc03c4ec73eb95f067ab",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "fairminter_tx_hash": "f78c43f7c43b93139166c265a4997e51a94fc41039e72e78e121f836e6b3a776",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "paid_quantity": 100000000,
                "source": "bcrt1qm23sxxtpg0y3fdwk66pgl3qmtmcskarxw03jth",
                "status": "valid",
                "tx_hash": "205b2acc0eabea3f114fb522aac8e1505a88aabafa5b62d9426c3affa944283a",
                "tx_index": 97,
                "block_time": 1741276817,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": true,
<<<<<<< HEAD
<<<<<<< HEAD
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
>>>>>>> 9720b105 (new encoding format for fairmint)
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "856a6cb1f4c7e70dc890fca11a5ceb39956fba7430682506d63d4749e37b7596",
            "block_index": 221,
            "block_time": 1741792040
=======
            "tx_hash": "0c35ed1b958ffc3deec5a3ceaa74d56c73abe8626300b0feccf4f03e8a4b27c7",
            "block_index": 221,
            "block_time": 1741173078
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "aa6d41c074354f32e36a6d7ea73c408fdbf372e6135f72b727b7a8e66a9149f7",
            "block_index": 221,
            "block_time": 1741272937
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "205b2acc0eabea3f114fb522aac8e1505a88aabafa5b62d9426c3affa944283a",
            "block_index": 221,
            "block_time": 1741276817
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2:0",
                "destination_address": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
=======
                "destination": "02d0f527652836d82e559537fd83309072305507c2acf08d95417767ce97ef25:0",
                "destination_address": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "destination": "6399cdd1b72daa6fe4ff1e533eb0e39cd5b54fc029e7a9fd52a37c88a10f3aea:0",
                "destination_address": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e:0",
                "destination_address": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tx_hash": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2",
                "tx_index": 112,
                "block_time": 1741792117,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "source": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
=======
                "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e",
                "tx_index": 112,
                "block_time": 1741276893,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
<<<<<<< HEAD
<<<<<<< HEAD
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                    "owner": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd"
>>>>>>> 9720b105 (new encoding format for fairmint)
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            "tx_hash": "5230372c0849b8f3105003e217c566b4fa0d83f98048a9b036b49b405a11c0e2",
            "block_index": 235,
            "block_time": 1741792117
=======
            "tx_hash": "02d0f527652836d82e559537fd83309072305507c2acf08d95417767ce97ef25",
            "block_index": 235,
            "block_time": 1741173151
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
            "tx_hash": "6399cdd1b72daa6fe4ff1e533eb0e39cd5b54fc029e7a9fd52a37c88a10f3aea",
            "block_index": 235,
            "block_time": 1741273012
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
            "tx_hash": "ac1db16302d649e14d4c5652bd2023ddb0a1551297a02ac327e8d0bc6fbef88e",
            "block_index": 235,
            "block_time": 1741276893
>>>>>>> 9720b105 (new encoding format for fairmint)
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "destination": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
=======
                "destination": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                "destination": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "destination": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                "source": "6acf82abd0b96d52141cbdd969118f88544c4ed631ac0804161aa0b981f11a91:0",
                "source_address": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                "status": "valid",
                "tx_hash": "1cef8c0078a185451f1698c3d2e749fca9cfcf54c99395e6108bd364da7c6780",
                "tx_index": 111,
                "block_time": 1741792114,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwu4ks4l9f4ukzjzcq56tx695sdzrdzt5yfk56k"
=======
                "source": "7c502c62deec23740ba96d94b247a70dfc2de6652754fa305f9a7ad5970c08ea:0",
                "source_address": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s",
=======
                "source": "ddea1e2c2a160beadf01d3542fd66fd599f6a266941f29cdbebd6940cce14e67:0",
                "source_address": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
                "source": "ee53703ce282a192f8f5204290bec8d1b4b302445e0cd4aace1960132f3832af:0",
                "source_address": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
>>>>>>> 9720b105 (new encoding format for fairmint)
                "status": "valid",
                "tx_hash": "faef0291dc1b21d44a483a2c6913d7728bb39c39c2d043c98d770e6d75d07c5c",
                "tx_index": 111,
                "block_time": 1741276890,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qtyd6pu4899rsff4nqae6qeckgyu2xthle8z5vd",
                    "divisible": true,
                    "locked": false,
<<<<<<< HEAD
<<<<<<< HEAD
                    "owner": "bcrt1qzesyn0e7t2yqrncw365nzhs892l22ujvpvjc7s"
>>>>>>> e42b7172 (fix sweep memo decoding)
=======
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
>>>>>>> fb3dd4fd (update blueprint; fix regtest)
=======
[...]
