[//]: # (Generated by genapidoc.py on 2024-09-13 16:35:22.868366. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                "block_index": 193,
                "block_time": 1726245307,
                "difficulty": 545259519,
                "previous_block_hash": "68982c30c0c453c677eb7eea37266cf45e1c696d18858149244d10c03df13783"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                "block_index": 193,
                "block_time": 1726245307,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                "tx_index": 59,
                "utxos_info": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "out_index": 0,
                "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
                "tx_index": 33,
                "block_time": 1726245115,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
            "block_index": 146,
            "block_time": 1726245115
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "41519fbc850f251cba4013f5fbdf6daba853dca5a32b52451d0dcad63ece4730",
                "messages_hash": "0ea8e7c088917dd3a4453536eacebdc291ba65c865632f5d94b1891833fb319d",
                "transaction_count": 1,
                "txlist_hash": "cb1afff78bb819e6babc8b0822d95845b03a446b9455cfe3aa218c129a871c35",
                "block_time": 1726245307
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                "tx_index": 59
            },
            "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "asset": "XCP",
                "block_index": 193,
                "event": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726245307,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726245302,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
            "block_index": 192,
            "block_time": 1726245302
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                "status": "valid",
                "tx_hash": "6d45bac79cdd4ff3a1432675d85bbdc26d9be5de1c56113cd40f6d05a0d46031",
                "tx_index": 53,
                "block_time": 1726245281,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "6d45bac79cdd4ff3a1432675d85bbdc26d9be5de1c56113cd40f6d05a0d46031",
            "block_index": 187,
            "block_time": 1726245281
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "valid",
                "tx_hash": "d5b136bdf741415c900f113ea4213cec65a36f1977245dffe04f138a7c731e6b",
                "tx_index": 54,
                "block_time": 1726245285,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "d5b136bdf741415c900f113ea4213cec65a36f1977245dffe04f138a7c731e6b",
            "block_index": 188,
            "block_time": 1726245285
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                "status": "valid",
                "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                "tx_index": 58,
                "block_time": 1726245302,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
            "block_index": 192,
            "block_time": 1726245302
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "valid",
                "tx_hash": "af0252c60c2212e882d74e11245b342820cd389376a3336ceb26bab0573eb094",
                "tx_index": 40,
                "block_time": 1726245144,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "af0252c60c2212e882d74e11245b342820cd389376a3336ceb26bab0573eb094",
            "block_index": 153,
            "block_time": 1726245144
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726245180
            },
            "tx_hash": "31be818711c00cabbf1fae8bae2c47e288da5771e753caf9af832d5c319d9216",
            "block_index": 159,
            "block_time": 1726245180
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "valid",
                "transfer": false,
                "tx_hash": "31be818711c00cabbf1fae8bae2c47e288da5771e753caf9af832d5c319d9216",
                "tx_index": 46,
                "block_time": 1726245180,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "31be818711c00cabbf1fae8bae2c47e288da5771e753caf9af832d5c319d9216",
            "block_index": 159,
            "block_time": 1726245180
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                "tx_index": 59,
                "block_time": 1726245307,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
            "block_index": 193,
            "block_time": 1726245307
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "open",
                "tx_hash": "8662010175f10a737c94a80b9067bcfdbf9429ddfe1bef6b33a8438d0cc3fc7d",
                "tx_index": 57,
                "block_time": 1726245298,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "8662010175f10a737c94a80b9067bcfdbf9429ddfe1bef6b33a8438d0cc3fc7d",
            "block_index": 191,
            "block_time": 1726245298
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16_b2f5aa0683fc4b85bfc78da863234083f42c24be7a1b4859cf5f2301fcfcdce8",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16",
                "tx0_index": 49,
                "tx1_address": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "b2f5aa0683fc4b85bfc78da863234083f42c24be7a1b4859cf5f2301fcfcdce8",
                "tx1_index": 52,
                "block_time": 1726245277,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b2f5aa0683fc4b85bfc78da863234083f42c24be7a1b4859cf5f2301fcfcdce8",
            "block_index": 186,
            "block_time": 1726245277
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "36d2086e0e52768b2fa6b220982e3ebed5387bb6efda1dcd49067a6fe2419881"
            },
            "tx_hash": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582",
            "block_index": 190,
            "block_time": 1726245294
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d"
            },
            "tx_hash": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54",
            "block_index": 185,
            "block_time": 1726245274
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16_1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
                "order_match_id": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16_1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
                "status": "completed"
            },
            "tx_hash": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54",
            "block_index": 185,
            "block_time": 1726245274
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "order_match_id": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16_1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
                "source": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                "status": "valid",
                "tx_hash": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54",
                "tx_index": 51,
                "block_time": 1726245274,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54",
            "block_index": 185,
            "block_time": 1726245274
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "36d2086e0e52768b2fa6b220982e3ebed5387bb6efda1dcd49067a6fe2419881",
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "valid",
                "tx_hash": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582",
                "tx_index": 56,
                "block_time": 1726245294
            },
            "tx_hash": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582",
            "block_index": 190,
            "block_time": 1726245294
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "b40edfa5af922253fb062d31eccc61aa7a844e7300ad66ec7879589164974a85",
                "source": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                "block_time": 1726245196
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726245196
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "9f21e752d1bd0c45ab82ff840d512ef3aff94cd8712a7264b0112f5748744bd2_b40edfa5af922253fb062d31eccc61aa7a844e7300ad66ec7879589164974a85",
                "tx0_address": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "tx1_address": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                "block_time": 1726245196
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726245196
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "origin": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "satoshirate": 1,
                "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "status": 0,
                "tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
                "tx_index": 32,
                "block_time": 1726245110,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
            "block_index": 145,
            "block_time": 1726245110
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "status": 0,
                "tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
            "block_index": 146,
            "block_time": 1726245115
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "n44YqQuyP35zdvRaAiTSPtruqvNqU2Thvn",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "f1003ae32286b341ac741545479a401405637155edc384b6625f3ba5487757a6",
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "tx_hash": "3828d623d73dabac7d36daa8940d2b634467afc13514e598f0ca35ae95effeda",
                "tx_index": 31,
                "block_time": 1726245106,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "3828d623d73dabac7d36daa8940d2b634467afc13514e598f0ca35ae95effeda",
            "block_index": 144,
            "block_time": 1726245106
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qjlkwwvaqhc29cwup89uzcdzfdlymay5p9f0txg",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
                "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
                "tx_index": 33,
                "block_time": 1726245115,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
            "block_index": 146,
            "block_time": 1726245115
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "3a795a52954fb3e6f812c6c461d2eb0fb918aa35443f88829f3d0f8196e4b248",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726245080,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "3a795a52954fb3e6f812c6c461d2eb0fb918aa35443f88829f3d0f8196e4b248",
            "block_index": 138,
            "block_time": 1726245080
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "start_block": 0,
                "status": "open",
                "tx_hash": "100b38a4d90307210ab67ba875e51a0f01b1bff7c1907cc6a3af6f0764c71ffc",
                "tx_index": 22,
                "block_time": 1726245067
            },
            "tx_hash": "100b38a4d90307210ab67ba875e51a0f01b1bff7c1907cc6a3af6f0764c71ffc",
            "block_index": 135,
            "block_time": 1726245067
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "e2f8fcc0a488b4306af0e18ffe47b9d18745b8ed094863b13de98bcdc1280f92"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726245046
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "100b38a4d90307210ab67ba875e51a0f01b1bff7c1907cc6a3af6f0764c71ffc",
                "paid_quantity": 34,
                "source": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                "status": "valid",
                "tx_hash": "f00e39f6a646e2760a90d321525ab899831b74a2d63e318c7cf7e66b944d038d",
                "tx_index": 23,
                "block_time": 1726245072,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "f00e39f6a646e2760a90d321525ab899831b74a2d63e318c7cf7e66b944d038d",
            "block_index": 136,
            "block_time": 1726245072
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "a6d7d0515ff73b97cee57b31d554e8eeb498e63828ed7333ca4a0f6156372e47:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                "status": "valid",
                "tx_hash": "a6d7d0515ff73b97cee57b31d554e8eeb498e63828ed7333ca4a0f6156372e47",
                "tx_index": 38,
                "block_time": 1726245136,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a6d7d0515ff73b97cee57b31d554e8eeb498e63828ed7333ca4a0f6156372e47",
            "block_index": 151,
            "block_time": 1726245136
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qdsym00a3yltgyd2fjfqdy4aa9n868e7k4pj5pp",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "272e6d3f76cfefcc808b40442574ce3854c26908dbfd53908b32544914655fb2:0",
                "status": "valid",
                "tx_hash": "c195709d887d9080d07f2143f1a80f93ecf2cd84d226dd6645504f08f32d19a5",
                "tx_index": 37,
                "block_time": 1726245132,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c195709d887d9080d07f2143f1a80f93ecf2cd84d226dd6645504f08f32d19a5",
            "block_index": 150,
            "block_time": 1726245132
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "5e3213d13447c6fddd88cb5c538b84687bf95600d4c1087c98ab340d2e472ec6:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "b45cfbe1f48cb09f4c893775e4864f373717beca599919f558c724a2e0ab22df:0",
                "status": "valid",
                "tx_hash": "5e3213d13447c6fddd88cb5c538b84687bf95600d4c1087c98ab340d2e472ec6",
                "tx_index": 42,
                "block_time": 1726245153,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "5e3213d13447c6fddd88cb5c538b84687bf95600d4c1087c98ab340d2e472ec6",
            "block_index": 155,
            "block_time": 1726245153
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qzjkp6f73dmu6jppq8mcy6q8na6nwuxtn9w7zyv",
                "status": "valid",
                "tx_hash": "b88dd96abcf166084bec2aa4ae945e98b53f5bfa5f5db4aae8425eda6141c1bd",
                "tx_index": 9,
                "block_time": 1726245008,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "b88dd96abcf166084bec2aa4ae945e98b53f5bfa5f5db4aae8425eda6141c1bd",
            "block_index": 121,
            "block_time": 1726245008
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                    "block_time": 1726245307,
                    "previous_block_hash": "68982c30c0c453c677eb7eea37266cf45e1c696d18858149244d10c03df13783",
                    "difficulty": 545259519,
                    "ledger_hash": "41519fbc850f251cba4013f5fbdf6daba853dca5a32b52451d0dcad63ece4730",
                    "txlist_hash": "cb1afff78bb819e6babc8b0822d95845b03a446b9455cfe3aa218c129a871c35",
                    "messages_hash": "0ea8e7c088917dd3a4453536eacebdc291ba65c865632f5d94b1891833fb319d",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "68982c30c0c453c677eb7eea37266cf45e1c696d18858149244d10c03df13783",
                    "block_time": 1726245302,
                    "previous_block_hash": "71eb544f458e4976d2af475b373e0e3dc2e2205116f3058799b5fdc55db7d37b",
                    "difficulty": 545259519,
                    "ledger_hash": "4c03a98cb2df41b0de257316348842a7aa255945e645b7c572608cef0c4b2ed9",
                    "txlist_hash": "6bf3380df83b0ff528cd54cfad855a8e7c4b35300d8cb12ca6870f5bfed5b0d4",
                    "messages_hash": "b3870252075bc3c2a65ade44ff3d1106841889d73e99869867fa72fcfe807c96",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "71eb544f458e4976d2af475b373e0e3dc2e2205116f3058799b5fdc55db7d37b",
                    "block_time": 1726245298,
                    "previous_block_hash": "755f25baa7ce091a8badced9238c7aa5c4a7afafe0cf2fa958661393693344ec",
                    "difficulty": 545259519,
                    "ledger_hash": "663d7725a5cab600da2fa9aba722787e6d2a963e08581d245ad69b89418ead9b",
                    "txlist_hash": "b8196b9813e41d89811ca8cafb74d7632ade6469eeb35d4254cb6fa3ffd781ca",
                    "messages_hash": "be225999be65089443600ff6e660f34e4b9351ce5d44050685e6f1f8437d5c7a",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "755f25baa7ce091a8badced9238c7aa5c4a7afafe0cf2fa958661393693344ec",
                    "block_time": 1726245294,
                    "previous_block_hash": "10b4ead2c6a77c6b6d5826adeb521dc0c53419042464a2991384ef102d908c30",
                    "difficulty": 545259519,
                    "ledger_hash": "88fc111f1a4bb2c2bf3d768a2fea797b31fbbba418074a609a4d24968d3ea89e",
                    "txlist_hash": "ceebd5dbfc3432a4012e63b8bb4ecae14babc968b74992bf84a265dc04485c7b",
                    "messages_hash": "8c2badb3242f94fc1319909cf3ad30d3b8c7025fcfe79b287d71a7b5f72b7341",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "10b4ead2c6a77c6b6d5826adeb521dc0c53419042464a2991384ef102d908c30",
                    "block_time": 1726245290,
                    "previous_block_hash": "2b9ba7f55d89ad909b2a598046e9e256eb8c43f555bdadfeafe1c163b999c930",
                    "difficulty": 545259519,
                    "ledger_hash": "b88660900374be7372664148131586f48e1dcf453b3b6d090a8861414959dde6",
                    "txlist_hash": "30b9bc5e60c31f5e1c6f6a1fb7e90282f7a1891560db397bc758e09166ec4074",
                    "messages_hash": "f6cc3572a2fbc7d624394e11053a1d458ec2f6ce732edce1483f9e7b6fae872f",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                "block_time": 1726245307,
                "previous_block_hash": "68982c30c0c453c677eb7eea37266cf45e1c696d18858149244d10c03df13783",
                "difficulty": 545259519,
                "ledger_hash": "41519fbc850f251cba4013f5fbdf6daba853dca5a32b52451d0dcad63ece4730",
                "txlist_hash": "cb1afff78bb819e6babc8b0822d95845b03a446b9455cfe3aa218c129a871c35",
                "messages_hash": "0ea8e7c088917dd3a4453536eacebdc291ba65c865632f5d94b1891833fb319d",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                "block_time": 1726245307,
                "previous_block_hash": "68982c30c0c453c677eb7eea37266cf45e1c696d18858149244d10c03df13783",
                "difficulty": 545259519,
                "ledger_hash": "41519fbc850f251cba4013f5fbdf6daba853dca5a32b52451d0dcad63ece4730",
                "txlist_hash": "cb1afff78bb819e6babc8b0822d95845b03a446b9455cfe3aa218c129a871c35",
                "messages_hash": "0ea8e7c088917dd3a4453536eacebdc291ba65c865632f5d94b1891833fb319d",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                    "block_index": 193,
                    "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
                    "block_time": 1726245307,
                    "source": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "4c03a98cb2df41b0de257316348842a7aa255945e645b7c572608cef0c4b2ed9",
                        "messages_hash": "b3870252075bc3c2a65ade44ff3d1106841889d73e99869867fa72fcfe807c96",
                        "transaction_count": 1,
                        "txlist_hash": "6bf3380df83b0ff528cd54cfad855a8e7c4b35300d8cb12ca6870f5bfed5b0d4",
                        "block_time": 1726245302
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "tx_index": 58
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                        "status": "valid",
                        "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "tx_index": 58,
                        "block_time": 1726245302,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726245302,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726245302,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726245302,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726245302,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726245302,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726245302,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726245302,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726245302,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726245307,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "b40edfa5af922253fb062d31eccc61aa7a844e7300ad66ec7879589164974a85",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726245196
                },
                {
                    "type": "order",
                    "object_id": "9f21e752d1bd0c45ab82ff840d512ef3aff94cd8712a7264b0112f5748744bd2",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726245196
                },
                {
                    "type": "order_match",
                    "object_id": "9f21e752d1bd0c45ab82ff840d512ef3aff94cd8712a7264b0112f5748744bd2_b40edfa5af922253fb062d31eccc61aa7a844e7300ad66ec7879589164974a85",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726245196
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582",
                    "block_index": 190,
                    "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "offer_hash": "36d2086e0e52768b2fa6b220982e3ebed5387bb6efda1dcd49067a6fe2419881",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726245294
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
                    "block_index": 193,
                    "source": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726245307,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "31be818711c00cabbf1fae8bae2c47e288da5771e753caf9af832d5c319d9216",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726245180,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "d5b136bdf741415c900f113ea4213cec65a36f1977245dffe04f138a7c731e6b",
                    "block_index": 188,
                    "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "destination": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726245285,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "d5b136bdf741415c900f113ea4213cec65a36f1977245dffe04f138a7c731e6b",
                    "block_index": 188,
                    "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "destination": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726245285,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "d5b136bdf741415c900f113ea4213cec65a36f1977245dffe04f138a7c731e6b",
                    "block_index": 188,
                    "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                    "destination": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726245285,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
                    "block_index": 146,
                    "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                    "destination": "bcrt1qjlkwwvaqhc29cwup89uzcdzfdlymay5p9f0txg",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726245115,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "4328680b213df14028fb205bfb6921fd076916a144ce7908303ed92f9984e398",
                    "block_index": 192,
                    "source": "bcrt1q5s7dn9zz9dukea3drtpkxz5traxdc6ed90mclg",
                    "destination": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726245302,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "3a795a52954fb3e6f812c6c461d2eb0fb918aa35443f88829f3d0f8196e4b248",
        "block_index": 138,
        "block_hash": "2e0174521cd842cef7256d1c8259a5065957cb3ad67b9a6b565d6da26f64059b",
        "block_time": 1726245080,
        "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "3a795a52954fb3e6f812c6c461d2eb0fb918aa35443f88829f3d0f8196e4b248:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54",
        "block_index": 185,
        "block_hash": "5bc2d247756ad9c71bbb434a5f4c9674a4dca67171a793f40ab3a737157776ee",
        "block_time": 1726245274,
        "source": "bcrt1q32rpkjutzewsrsuytuufv74jmx2upsj8g4xh6s",
        "destination": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d161181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
        "supported": true,
        "utxos_info": "61eddb242e80e1754a9d36f9aabaa11c2392f2762577e2de8601e08910673c54:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16",
                "tx1_hash": "1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
                "order_match_id": "4f75807e66a3a214fe95134cb33d4af82ebe522bb0053877fa751d5319258d16_1181c0d4aa91f8ac343ffd40f3e46ac3d4aa855169e15440d77a3af0c9190a5d",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582",
        "block_index": 190,
        "block_hash": "755f25baa7ce091a8badced9238c7aa5c4a7afafe0cf2fa958661393693344ec",
        "block_time": 1726245294,
        "source": "bcrt1q2sqs6whh0wvdavg00rf8c6ugwsemfz29wgltwq",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4636d2086e0e52768b2fa6b220982e3ebed5387bb6efda1dcd49067a6fe2419881",
        "supported": true,
        "utxos_info": "0c53bd8b29c4cc3f8514feff324314bc51ffd8b4e251f99ef5bdfe0b17ef9582:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "36d2086e0e52768b2fa6b220982e3ebed5387bb6efda1dcd49067a6fe2419881",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75",
        "block_index": 193,
        "block_hash": "7b9391f658ad496a69a5913e144964f5720f42e7a87529ab591afa14dc91cc13",
        "block_time": 1726245307,
        "source": "bcrt1q6vzmakyq9glnpt0a3xudenvz8pttxzwuseem9f",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "0ef2aa3c9ec2c16ed4840588c7635e61e660b94ea2c08b2f50746f8f111e4d75:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa",
        "block_index": 145,
        "block_hash": "29004b2b7995e377c51bbeb66a32a4e98a2fd3adf0bfb87716162860f1badc20",
        "block_time": 1726245110,
        "source": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100804ae9b642c44f2a9daebc8a5bebb959e03e84879b",
        "supported": true,
        "utxos_info": "30f78e4d0013aa085cafc772c9f3c06899f4bab5f8a629a2463fa0243943dcfa:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee",
        "block_index": 146,
        "block_hash": "40ac817fdf12ec90fc7813665f7ea935ae861c61ee64db3eb5cb839b5952bdcb",
        "block_time": 1726245115,
        "source": "bcrt1qjlkwwvaqhc29cwup89uzcdzfdlymay5p9f0txg",
        "destination": "bcrt1qft5mvskyfu4fmt4u3fd7hw2euqlgfpumn3z552",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "67d09c5cbd5935da10c6c67652c25b5af5cbded48c4d5418a7ec0b66c0f215ee:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "af0252c60c2212e882d74e11245b342820cd389376a3336ceb26bab0573eb094",
        "block_index": 153,
        "block_hash": "15aa0bb1cef3c500ce2f9121b0d090a0618325caf995e5dce4bcf281425430fb",
        "block_time": 1726245144,
[...]
