[//]: # (Generated by genapidoc.py on 2024-09-22 19:02:43.111130. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                "block_index": 193,
                "block_time": 1727031747,
                "difficulty": 545259519,
                "previous_block_hash": "64f477fca0e3a65153bf04d3302f922e0fa1de8210ecc2f91644a9c0e371e736"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                "block_index": 193,
                "block_time": 1727031747,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                "tx_index": 59,
                "utxos_info": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "out_index": 0,
                "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
                "tx_index": 33,
                "block_time": 1727031536,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
            "block_index": 146,
            "block_time": 1727031536
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "476f654b4eff99f9693f2283d385cd0d4b7a0a983d701fa74906ba5420a276e1",
                "messages_hash": "0591755991446617f8f5965feba0c9accca862f56454bb156d143358e7203048",
                "transaction_count": 1,
                "txlist_hash": "aba312c219f8ee5055a9d5b5f7b3e5d5a4f43ee4de6a17abc11f0dee214b688c",
                "block_time": 1727031747
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                "tx_index": 59
            },
            "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "asset": "XCP",
                "block_index": 193,
                "event": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727031747,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727031743,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
            "block_index": 192,
            "block_time": 1727031743
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                "status": "valid",
                "tx_hash": "44df4871c7daf984199da9b30459ff4df4c46b6cf9832cfcd897aa3c81a55763",
                "tx_index": 53,
                "block_time": 1727031711,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "44df4871c7daf984199da9b30459ff4df4c46b6cf9832cfcd897aa3c81a55763",
            "block_index": 187,
            "block_time": 1727031711
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "valid",
                "tx_hash": "43382202754e19340e289738df74a982b8078e4303f40239c2a37caa09428cf6",
                "tx_index": 54,
                "block_time": 1727031716,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "43382202754e19340e289738df74a982b8078e4303f40239c2a37caa09428cf6",
            "block_index": 188,
            "block_time": 1727031716
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                "status": "valid",
                "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                "tx_index": 58,
                "block_time": 1727031743,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
            "block_index": 192,
            "block_time": 1727031743
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "valid",
                "tx_hash": "581a5e94bf77649d0b5aee84e63b02cd76a09c0dd16fa2e114307a01872e23fa",
                "tx_index": 40,
                "block_time": 1727031565,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "581a5e94bf77649d0b5aee84e63b02cd76a09c0dd16fa2e114307a01872e23fa",
            "block_index": 153,
            "block_time": 1727031565
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727031601
            },
            "tx_hash": "867f980a7db6bd58670f5e19d86cf969e17658c53dfb4629e2bf37b50c61993b",
            "block_index": 159,
            "block_time": 1727031601
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "valid",
                "transfer": false,
                "tx_hash": "867f980a7db6bd58670f5e19d86cf969e17658c53dfb4629e2bf37b50c61993b",
                "tx_index": 46,
                "block_time": 1727031601,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "867f980a7db6bd58670f5e19d86cf969e17658c53dfb4629e2bf37b50c61993b",
            "block_index": 159,
            "block_time": 1727031601
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                "tx_index": 59,
                "block_time": 1727031747,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
            "block_index": 193,
            "block_time": 1727031747
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "open",
                "tx_hash": "71b15a03923b763e77d4179f51fdd9671907df80f3e40f3018462c71b83de00d",
                "tx_index": 57,
                "block_time": 1727031738,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "71b15a03923b763e77d4179f51fdd9671907df80f3e40f3018462c71b83de00d",
            "block_index": 191,
            "block_time": 1727031738
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a_399d435d448f7b3ebb8e8db847ff49da56b8ed436b1949b4a67a909b3f5e781f",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a",
                "tx0_index": 49,
                "tx1_address": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "399d435d448f7b3ebb8e8db847ff49da56b8ed436b1949b4a67a909b3f5e781f",
                "tx1_index": 52,
                "block_time": 1727031707,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "399d435d448f7b3ebb8e8db847ff49da56b8ed436b1949b4a67a909b3f5e781f",
            "block_index": 186,
            "block_time": 1727031707
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "95e5356ed811f3182b96ed85d14213aad666d4f19be50f8054d760c3750b9b3a"
            },
            "tx_hash": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84",
            "block_index": 190,
            "block_time": 1727031724
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4"
            },
            "tx_hash": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549",
            "block_index": 185,
            "block_time": 1727031703
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a_ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
                "order_match_id": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a_ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
                "status": "completed"
            },
            "tx_hash": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549",
            "block_index": 185,
            "block_time": 1727031703
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "order_match_id": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a_ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
                "source": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                "status": "valid",
                "tx_hash": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549",
                "tx_index": 51,
                "block_time": 1727031703,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549",
            "block_index": 185,
            "block_time": 1727031703
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "95e5356ed811f3182b96ed85d14213aad666d4f19be50f8054d760c3750b9b3a",
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "valid",
                "tx_hash": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84",
                "tx_index": 56,
                "block_time": 1727031724
            },
            "tx_hash": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84",
            "block_index": 190,
            "block_time": 1727031724
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "05c20a5150f3bea6e6bc7880bdb2ff303d5526814290905f5aa3368df2757eb2",
                "source": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                "block_time": 1727031616
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727031616
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "a8f2f09d9eb1c29c4fad73bd44caef58a29b7e8adc1fb5d002981d2a9e50a6af_05c20a5150f3bea6e6bc7880bdb2ff303d5526814290905f5aa3368df2757eb2",
                "tx0_address": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "tx1_address": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                "block_time": 1727031616
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727031616
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "origin": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "satoshirate": 1,
                "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "status": 0,
                "tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
                "tx_index": 32,
                "block_time": 1727031531,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
            "block_index": 145,
            "block_time": 1727031531
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "status": 0,
                "tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
            "block_index": 146,
            "block_time": 1727031536
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "n2FYo3mrzKRadxtnoovPfHyBikXVxXta5Y",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "8e626bb554643fec68f07b753329479127fc0cd9944ce6e8ce3afc99876297c7",
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "tx_hash": "12cff7ed44f7f2a7e9a0fca9448cafbb92641815b36160fff5a0181d181bf0d0",
                "tx_index": 31,
                "block_time": 1727031527,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "12cff7ed44f7f2a7e9a0fca9448cafbb92641815b36160fff5a0181d181bf0d0",
            "block_index": 144,
            "block_time": 1727031527
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qp30kkgq4uxpyurftss0z8z50arj0ugldhenzf8",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
                "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
                "tx_index": 33,
                "block_time": 1727031536,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
            "block_index": 146,
            "block_time": 1727031536
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "fcfdb6a111e93304254c341c3a432364dcf48da66f395a319ea7ec0d28e48d06",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727031502,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "fcfdb6a111e93304254c341c3a432364dcf48da66f395a319ea7ec0d28e48d06",
            "block_index": 138,
            "block_time": 1727031502
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "start_block": 0,
                "status": "open",
                "tx_hash": "c0434e39999fc883b4a4d911e3fe85da9a69bceadb37c40793f7d782bc140054",
                "tx_index": 22,
                "block_time": 1727031489
            },
            "tx_hash": "c0434e39999fc883b4a4d911e3fe85da9a69bceadb37c40793f7d782bc140054",
            "block_index": 135,
            "block_time": 1727031489
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "f0dfc17c191520c1e2ba90abccbcc857553adf8a4e40722685a17b81ff2f781a"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727031468
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "c0434e39999fc883b4a4d911e3fe85da9a69bceadb37c40793f7d782bc140054",
                "paid_quantity": 34,
                "source": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                "status": "valid",
                "tx_hash": "ede174d6ebd168d04cfbc10891f9d7eb903c0d105cd7455db87566871ceb66a4",
                "tx_index": 23,
                "block_time": 1727031494,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "ede174d6ebd168d04cfbc10891f9d7eb903c0d105cd7455db87566871ceb66a4",
            "block_index": 136,
            "block_time": 1727031494
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "91d064a4bbd8ac201ad7c59370fd3a413a0f08bdc2a01877e9b3782377d66450:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                "status": "valid",
                "tx_hash": "91d064a4bbd8ac201ad7c59370fd3a413a0f08bdc2a01877e9b3782377d66450",
                "tx_index": 38,
                "block_time": 1727031557,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "91d064a4bbd8ac201ad7c59370fd3a413a0f08bdc2a01877e9b3782377d66450",
            "block_index": 151,
            "block_time": 1727031557
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qlulaqmc8sx6k2rvmkyf84uzz4m4nfpcrsdw9j0",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "eabb3b7be615850b99b1401f3f242c8fa8e18d2d0ba58915a003fa589718cf11:0",
                "status": "valid",
                "tx_hash": "b24c9eeabf64bf130cf647b5b044590691cd4d002ece233465f257abf436ad6c",
                "tx_index": 37,
                "block_time": 1727031553,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b24c9eeabf64bf130cf647b5b044590691cd4d002ece233465f257abf436ad6c",
            "block_index": 150,
            "block_time": 1727031553
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "21a9706510171240480b403bd8466734412dc2b6892f0d0efffa3d31ea2a817a:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "42bf5619a999b6fe8e3264dddb9f9a8b5ebfc7f9d5590089d545b8f2ab4b5bc1:0",
                "status": "valid",
                "tx_hash": "21a9706510171240480b403bd8466734412dc2b6892f0d0efffa3d31ea2a817a",
                "tx_index": 42,
                "block_time": 1727031574,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "21a9706510171240480b403bd8466734412dc2b6892f0d0efffa3d31ea2a817a",
            "block_index": 155,
            "block_time": 1727031574
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qyqvw64v3g6jjw0hkydjnz03emknd689c9m445j",
                "status": "valid",
                "tx_hash": "6428abb0788142a72920efd1a8b5dcdde89c7f503ca062322bcd573acac0e136",
                "tx_index": 9,
                "block_time": 1727031432,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "6428abb0788142a72920efd1a8b5dcdde89c7f503ca062322bcd573acac0e136",
            "block_index": 121,
            "block_time": 1727031432
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                    "block_time": 1727031747,
                    "previous_block_hash": "64f477fca0e3a65153bf04d3302f922e0fa1de8210ecc2f91644a9c0e371e736",
                    "difficulty": 545259519,
                    "ledger_hash": "476f654b4eff99f9693f2283d385cd0d4b7a0a983d701fa74906ba5420a276e1",
                    "txlist_hash": "aba312c219f8ee5055a9d5b5f7b3e5d5a4f43ee4de6a17abc11f0dee214b688c",
                    "messages_hash": "0591755991446617f8f5965feba0c9accca862f56454bb156d143358e7203048",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "64f477fca0e3a65153bf04d3302f922e0fa1de8210ecc2f91644a9c0e371e736",
                    "block_time": 1727031743,
                    "previous_block_hash": "4fdc71ebae41dbea319a8bca36f4c50e5605a2d46f4fd7e3058c7bdb836fb65e",
                    "difficulty": 545259519,
                    "ledger_hash": "fa0b578aced75a2921d789d45e44adfd47e5d88461643b2ce6ea1ceb910adad1",
                    "txlist_hash": "2c7de06f03054aca49c6c2f06ddc5ec8bd61983af282e627ed9f50585bd202d8",
                    "messages_hash": "090feaaedca28407d3331bc3fe26eebf0530ca50ebd9e2da53bf8540c21f8a62",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "4fdc71ebae41dbea319a8bca36f4c50e5605a2d46f4fd7e3058c7bdb836fb65e",
                    "block_time": 1727031738,
                    "previous_block_hash": "1e1af2aaab6cfea61a31d3c2cda9e566643cab68018f3b8071bf25da826b9a80",
                    "difficulty": 545259519,
                    "ledger_hash": "819df0c3e08eb202c13f42015c631ff2930b5d88e353a12cb0dd87a665b3161f",
                    "txlist_hash": "a7a675b242b6d548ce6ec2e153192f4585eded5175a62fd9e05fdf51c56cf8c1",
                    "messages_hash": "eb0766f796663bf744df95fd3479e7fd22221c5d7c916d4fa8db0b30f36fb871",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "1e1af2aaab6cfea61a31d3c2cda9e566643cab68018f3b8071bf25da826b9a80",
                    "block_time": 1727031724,
                    "previous_block_hash": "4b4c3d089292ec004e7c2f38f68a929bba6d7c6e6101db9616fe21b785fae411",
                    "difficulty": 545259519,
                    "ledger_hash": "0099ef580927aaadd3a4cdd5697bf92e1a50a1fd8e2d3170753ce6630c24d405",
                    "txlist_hash": "86415c7a3a453a12483a9aae337e80e414bcbff7c90b489516acb9d140b6b861",
                    "messages_hash": "683adc9e8b2cc2d071e0c233d29de6e5bd98870cb12cc2b80ca5c5180df7ba76",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "4b4c3d089292ec004e7c2f38f68a929bba6d7c6e6101db9616fe21b785fae411",
                    "block_time": 1727031720,
                    "previous_block_hash": "7aebb16eecf937a615a0835e17c17a727757a47eff751dbe07bf38199690cf08",
                    "difficulty": 545259519,
                    "ledger_hash": "0b26ae6a4101f8ee1171c73abb8eb127ce3858e0636eb007e197d874f6585c14",
                    "txlist_hash": "774182af21312f5df376340be52610f164eb091908d4fc958181a876965bbb3a",
                    "messages_hash": "48c2cfa20f6d110df351d1f08373fc78ec72329ff9baa5ed0e3e0c895348c7ef",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                "block_time": 1727031747,
                "previous_block_hash": "64f477fca0e3a65153bf04d3302f922e0fa1de8210ecc2f91644a9c0e371e736",
                "difficulty": 545259519,
                "ledger_hash": "476f654b4eff99f9693f2283d385cd0d4b7a0a983d701fa74906ba5420a276e1",
                "txlist_hash": "aba312c219f8ee5055a9d5b5f7b3e5d5a4f43ee4de6a17abc11f0dee214b688c",
                "messages_hash": "0591755991446617f8f5965feba0c9accca862f56454bb156d143358e7203048",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                "block_time": 1727031747,
                "previous_block_hash": "64f477fca0e3a65153bf04d3302f922e0fa1de8210ecc2f91644a9c0e371e736",
                "difficulty": 545259519,
                "ledger_hash": "476f654b4eff99f9693f2283d385cd0d4b7a0a983d701fa74906ba5420a276e1",
                "txlist_hash": "aba312c219f8ee5055a9d5b5f7b3e5d5a4f43ee4de6a17abc11f0dee214b688c",
                "messages_hash": "0591755991446617f8f5965feba0c9accca862f56454bb156d143358e7203048",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                    "block_index": 193,
                    "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
                    "block_time": 1727031747,
                    "source": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "fa0b578aced75a2921d789d45e44adfd47e5d88461643b2ce6ea1ceb910adad1",
                        "messages_hash": "090feaaedca28407d3331bc3fe26eebf0530ca50ebd9e2da53bf8540c21f8a62",
                        "transaction_count": 1,
                        "txlist_hash": "2c7de06f03054aca49c6c2f06ddc5ec8bd61983af282e627ed9f50585bd202d8",
                        "block_time": 1727031743
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "tx_index": 58
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                        "status": "valid",
                        "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "tx_index": 58,
                        "block_time": 1727031743,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727031743,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727031743,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727031743,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727031743,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727031743,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727031743,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727031743,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727031743,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727031747,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "05c20a5150f3bea6e6bc7880bdb2ff303d5526814290905f5aa3368df2757eb2",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727031616
                },
                {
                    "type": "order",
                    "object_id": "a8f2f09d9eb1c29c4fad73bd44caef58a29b7e8adc1fb5d002981d2a9e50a6af",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727031616
                },
                {
                    "type": "order_match",
                    "object_id": "a8f2f09d9eb1c29c4fad73bd44caef58a29b7e8adc1fb5d002981d2a9e50a6af_05c20a5150f3bea6e6bc7880bdb2ff303d5526814290905f5aa3368df2757eb2",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727031616
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84",
                    "block_index": 190,
                    "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "offer_hash": "95e5356ed811f3182b96ed85d14213aad666d4f19be50f8054d760c3750b9b3a",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727031724
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
                    "block_index": 193,
                    "source": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727031747,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "867f980a7db6bd58670f5e19d86cf969e17658c53dfb4629e2bf37b50c61993b",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727031601,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "43382202754e19340e289738df74a982b8078e4303f40239c2a37caa09428cf6",
                    "block_index": 188,
                    "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "destination": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727031716,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "43382202754e19340e289738df74a982b8078e4303f40239c2a37caa09428cf6",
                    "block_index": 188,
                    "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "destination": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727031716,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "43382202754e19340e289738df74a982b8078e4303f40239c2a37caa09428cf6",
                    "block_index": 188,
                    "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                    "destination": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727031716,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
                    "block_index": 146,
                    "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                    "destination": "bcrt1qp30kkgq4uxpyurftss0z8z50arj0ugldhenzf8",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727031536,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "2034b7a91415ad4263a1eb9e40e0ebb3f8304b5100eb02cb3208b6b00b334703",
                    "block_index": 192,
                    "source": "bcrt1qdhllkvlln0ecqz04ycgx0lg6lxx6mnpuhwxg7m",
                    "destination": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727031743,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "fcfdb6a111e93304254c341c3a432364dcf48da66f395a319ea7ec0d28e48d06",
        "block_index": 138,
        "block_hash": "5f982af3c65034ce60720bc0971b614787c8a1c1a66de3dd342bdfac501c9ad3",
        "block_time": 1727031502,
        "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "fcfdb6a111e93304254c341c3a432364dcf48da66f395a319ea7ec0d28e48d06:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549",
        "block_index": 185,
        "block_hash": "1f5af0e7cec205944b080b4ab1df4487aa0f0dc1b8acf9bfe09a4004e1f6afc7",
        "block_time": 1727031703,
        "source": "bcrt1q5n9ycv8syqttn5e3rvrz9z7w63s95eed6tcv0d",
        "destination": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bbb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874aca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
        "supported": true,
        "utxos_info": "a96cbc3376ee3c285462c70be52ee7220aebe343c938aead41468d19a1c16549:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a",
                "tx1_hash": "ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
                "order_match_id": "bb021d5c2e1e74364e42b2b4bc90bffdb2c72d4fcb93911a65db622a0f3b874a_ca668340c5187956843ffaeb65edc5eea80f07128e918ad35470f39ffd4080b4",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84",
        "block_index": 190,
        "block_hash": "1e1af2aaab6cfea61a31d3c2cda9e566643cab68018f3b8071bf25da826b9a80",
        "block_time": 1727031724,
        "source": "bcrt1q4vw2pxr0u5y0kdcttym3d9mzkcegeyqvzlvjdj",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4695e5356ed811f3182b96ed85d14213aad666d4f19be50f8054d760c3750b9b3a",
        "supported": true,
        "utxos_info": "e4af8d6537f1656840ff80b1e8ed4280a733e4415c3798f218bed8af49c72a84:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "95e5356ed811f3182b96ed85d14213aad666d4f19be50f8054d760c3750b9b3a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e",
        "block_index": 193,
        "block_hash": "64e068795dbdab7f32e9859d48d0d045e3161743a08bce47698afe74a12d232c",
        "block_time": 1727031747,
        "source": "bcrt1qln20a7gmhdm4ysqmmgqf2r2vjpraqspg0ur2dt",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "50e9cc430d5a7d6fabe7cb708a4bb2c204e1a91a56bfac2cdd10c6a18803de0e:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef",
        "block_index": 145,
        "block_hash": "610ad86374eefe1f302e145fa36877414dec80a0bc70bd581be537bedf11db58",
        "block_time": 1727031531,
        "source": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100809f7bc8991f02bb53759fc277a064da3bf9e483a4",
        "supported": true,
        "utxos_info": "880a0764df90f8e0397c414a4d4a1ad019d1e1b0590378117680a0924ac132ef:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c",
        "block_index": 146,
        "block_hash": "26f4c4e5dc2f9d5f8d6e0cbb28c316837e22df1669d9fb1db405a9f284e28acd",
        "block_time": 1727031536,
        "source": "bcrt1qp30kkgq4uxpyurftss0z8z50arj0ugldhenzf8",
        "destination": "bcrt1qnaau3xglq2a4xavlcfm6qex680u7fqay9vm48x",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "c8913ebe52e6f47329e98c38b83a352271d0835e15b4fc9462c3b659f477a16c:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "581a5e94bf77649d0b5aee84e63b02cd76a09c0dd16fa2e114307a01872e23fa",
        "block_index": 153,
        "block_hash": "240a225bd3522f5d2457a60d7771510b2f9745533de15df215e9286896d2ec5a",
        "block_time": 1727031565,
[...]
