[//]: # (Generated by genapidoc.py on 2024-09-23 11:14:18.402472. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                "block_index": 193,
                "block_time": 1727090032,
                "difficulty": 545259519,
                "previous_block_hash": "32d89dc243e691569c449bf27f50ef9460d303ae5d1698855a38a6c1b673e697"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                "block_index": 193,
                "block_time": 1727090032,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                "tx_index": 59,
                "utxos_info": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "out_index": 0,
                "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
                "tx_index": 33,
                "block_time": 1727089824,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
            "block_index": 146,
            "block_time": 1727089824
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "8a3412535084564e0b57a4012db0715c02175004c31a81128c7d3be67a98efed",
                "messages_hash": "8014042aba57243999b64a0089375b6d43deccd408e8d362383f5d5b93469cff",
                "transaction_count": 1,
                "txlist_hash": "a812ae61afaa504e2235928d4221a5843f7a45ac35620d7acf0a3e0b7356458a",
                "block_time": 1727090032
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                "tx_index": 59
            },
            "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "asset": "XCP",
                "block_index": 193,
                "event": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727090032,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727090028,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
            "block_index": 192,
            "block_time": 1727090028
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                "status": "valid",
                "tx_hash": "69e5e07725f8be27863111c0edc80a2bdd0a9eb32435a8f96a3d4331b4b8f794",
                "tx_index": 53,
                "block_time": 1727090007,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "69e5e07725f8be27863111c0edc80a2bdd0a9eb32435a8f96a3d4331b4b8f794",
            "block_index": 187,
            "block_time": 1727090007
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "valid",
                "tx_hash": "3978d6cb3fe0a6da805a620714ad2bc304e082d73142cd810729c85c8b4b12d0",
                "tx_index": 54,
                "block_time": 1727090011,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "3978d6cb3fe0a6da805a620714ad2bc304e082d73142cd810729c85c8b4b12d0",
            "block_index": 188,
            "block_time": 1727090011
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                "status": "valid",
                "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                "tx_index": 58,
                "block_time": 1727090028,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
            "block_index": 192,
            "block_time": 1727090028
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "valid",
                "tx_hash": "b261322b74b14cadd7866ed5e9d426394f6a6fdc4a7231f47f94447a7bfb46bb",
                "tx_index": 40,
                "block_time": 1727089854,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "b261322b74b14cadd7866ed5e9d426394f6a6fdc4a7231f47f94447a7bfb46bb",
            "block_index": 153,
            "block_time": 1727089854
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727089900
            },
            "tx_hash": "1338cc0f667b864f9cb57cfa4144116e1cc5ddf10179d2bff37b65880621e1fa",
            "block_index": 159,
            "block_time": 1727089900
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "valid",
                "transfer": false,
                "tx_hash": "1338cc0f667b864f9cb57cfa4144116e1cc5ddf10179d2bff37b65880621e1fa",
                "tx_index": 46,
                "block_time": 1727089900,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "1338cc0f667b864f9cb57cfa4144116e1cc5ddf10179d2bff37b65880621e1fa",
            "block_index": 159,
            "block_time": 1727089900
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                "tx_index": 59,
                "block_time": 1727090032,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
            "block_index": 193,
            "block_time": 1727090032
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "open",
                "tx_hash": "bf33ab9592332113cb53c30911c920f3e7c61831e64a636b29a3ba43b856302d",
                "tx_index": 57,
                "block_time": 1727090024,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "bf33ab9592332113cb53c30911c920f3e7c61831e64a636b29a3ba43b856302d",
            "block_index": 191,
            "block_time": 1727090024
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d_51c6f04927f39a6bbc355c41d88be918fcf4a7ce658f7947a4f86412dea366a8",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d",
                "tx0_index": 49,
                "tx1_address": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "51c6f04927f39a6bbc355c41d88be918fcf4a7ce658f7947a4f86412dea366a8",
                "tx1_index": 52,
                "block_time": 1727090002,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "51c6f04927f39a6bbc355c41d88be918fcf4a7ce658f7947a4f86412dea366a8",
            "block_index": 186,
            "block_time": 1727090002
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "0233885103de2e5ea786acba8985ef3da30eec6968d64dc4b43492355385717b"
            },
            "tx_hash": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7",
            "block_index": 190,
            "block_time": 1727090019
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628"
            },
            "tx_hash": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de",
            "block_index": 185,
            "block_time": 1727089998
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d_b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
                "order_match_id": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d_b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
                "status": "completed"
            },
            "tx_hash": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de",
            "block_index": 185,
            "block_time": 1727089998
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "order_match_id": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d_b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
                "source": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                "status": "valid",
                "tx_hash": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de",
                "tx_index": 51,
                "block_time": 1727089998,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de",
            "block_index": 185,
            "block_time": 1727089998
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "0233885103de2e5ea786acba8985ef3da30eec6968d64dc4b43492355385717b",
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "valid",
                "tx_hash": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7",
                "tx_index": 56,
                "block_time": 1727090019
            },
            "tx_hash": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7",
            "block_index": 190,
            "block_time": 1727090019
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "6a4327905f756b3754ee69650c0020031b8afb7ef187f5751c3679a6facb0f4c",
                "source": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                "block_time": 1727089916
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727089916
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "01f5953c1c74522df0564fe2d2cbef7a593559c31d7664c59997b1db179cf878_6a4327905f756b3754ee69650c0020031b8afb7ef187f5751c3679a6facb0f4c",
                "tx0_address": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "tx1_address": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                "block_time": 1727089916
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727089916
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "origin": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "satoshirate": 1,
                "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "status": 0,
                "tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
                "tx_index": 32,
                "block_time": 1727089820,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
            "block_index": 145,
            "block_time": 1727089820
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "status": 0,
                "tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
            "block_index": 146,
            "block_time": 1727089824
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mrr2jyjX3kFi5rrXMeDj3zYkjr6YetBX9M",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "5f760b8a72e9a4dad9037ead775c9719c476fa7731458bf0a8aab3747d44127b",
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "tx_hash": "682a8a0b6713f471954fb331bfb65eac76796efa2f1bdf8d22e67daedd57150e",
                "tx_index": 31,
                "block_time": 1727089816,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "682a8a0b6713f471954fb331bfb65eac76796efa2f1bdf8d22e67daedd57150e",
            "block_index": 144,
            "block_time": 1727089816
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qq8vyph7xmsnqw3dwdyyy0p05sfvwk3d6kfryn3",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
                "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
                "tx_index": 33,
                "block_time": 1727089824,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
            "block_index": 146,
            "block_time": 1727089824
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "6704a0a97145ed7be3f3040aea3132fc4f676188a52048eacca5c553df18535d",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727089781,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "6704a0a97145ed7be3f3040aea3132fc4f676188a52048eacca5c553df18535d",
            "block_index": 138,
            "block_time": 1727089781
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "start_block": 0,
                "status": "open",
                "tx_hash": "933badd29424969531e91f94519b0991d8e860e33a9533d6c7c384576c8d0f7c",
                "tx_index": 22,
                "block_time": 1727089768
            },
            "tx_hash": "933badd29424969531e91f94519b0991d8e860e33a9533d6c7c384576c8d0f7c",
            "block_index": 135,
            "block_time": 1727089768
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "bb99ad8dc9e2abcd6ec3a52b9cd21471fcbbf9b4d21c6a72ea69dcec59436f48"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727089747
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "933badd29424969531e91f94519b0991d8e860e33a9533d6c7c384576c8d0f7c",
                "paid_quantity": 34,
                "source": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                "status": "valid",
                "tx_hash": "336b5e03756508a441266e3629a6ea97f2652ea3ccdc9453459d825b38a65a17",
                "tx_index": 23,
                "block_time": 1727089772,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "336b5e03756508a441266e3629a6ea97f2652ea3ccdc9453459d825b38a65a17",
            "block_index": 136,
            "block_time": 1727089772
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "feaea73ea2c65b0660667a69f5506ce29bdd49b3960c8c65321988c506631505:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                "status": "valid",
                "tx_hash": "feaea73ea2c65b0660667a69f5506ce29bdd49b3960c8c65321988c506631505",
                "tx_index": 38,
                "block_time": 1727089845,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "feaea73ea2c65b0660667a69f5506ce29bdd49b3960c8c65321988c506631505",
            "block_index": 151,
            "block_time": 1727089845
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qmhp4v06gcql2plkje86svfgz8hgg3n8weh0nmq",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "9c20a315f9dd83391105db586e409f6b237d721fe234db96ff0cab43fa5174af:0",
                "status": "valid",
                "tx_hash": "a592122f19e7c7afd8e7ca3b3fa6c680c8fe697a5efbe3b3c4f6c2758f87370f",
                "tx_index": 37,
                "block_time": 1727089841,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a592122f19e7c7afd8e7ca3b3fa6c680c8fe697a5efbe3b3c4f6c2758f87370f",
            "block_index": 150,
            "block_time": 1727089841
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "a29984aa1a831cfae90b53c80900ff9d108e575a3ec76ca8decf6f618e1c5a0c:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "1375c72c804bcbe95d9b50c3f390dbdfd9909c999e1837ffb69e29e41dfb67c7:0",
                "status": "valid",
                "tx_hash": "a29984aa1a831cfae90b53c80900ff9d108e575a3ec76ca8decf6f618e1c5a0c",
                "tx_index": 42,
                "block_time": 1727089863,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "a29984aa1a831cfae90b53c80900ff9d108e575a3ec76ca8decf6f618e1c5a0c",
            "block_index": 155,
            "block_time": 1727089863
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qwp3vs8yzyz6lc0udjsz37s78rwa908kzgnm7yu",
                "status": "valid",
                "tx_hash": "6a8c5d264053a3fe132a67dfd75f6b75be30fbcc6338e9b6df1e8537ac9908e3",
                "tx_index": 9,
                "block_time": 1727089709,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "6a8c5d264053a3fe132a67dfd75f6b75be30fbcc6338e9b6df1e8537ac9908e3",
            "block_index": 121,
            "block_time": 1727089709
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                    "block_time": 1727090032,
                    "previous_block_hash": "32d89dc243e691569c449bf27f50ef9460d303ae5d1698855a38a6c1b673e697",
                    "difficulty": 545259519,
                    "ledger_hash": "8a3412535084564e0b57a4012db0715c02175004c31a81128c7d3be67a98efed",
                    "txlist_hash": "a812ae61afaa504e2235928d4221a5843f7a45ac35620d7acf0a3e0b7356458a",
                    "messages_hash": "8014042aba57243999b64a0089375b6d43deccd408e8d362383f5d5b93469cff",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "32d89dc243e691569c449bf27f50ef9460d303ae5d1698855a38a6c1b673e697",
                    "block_time": 1727090028,
                    "previous_block_hash": "325587a0452f26b481b849e3bf6df47c61b1ae1f305eae901f241ce30d29888b",
                    "difficulty": 545259519,
                    "ledger_hash": "d46c9a79ea9f28e5a8abedc26ec0f354521174a4b6ebe4c696652f7ba6d3eaf6",
                    "txlist_hash": "9707feba25739b7012ed85043e312c25f56921b21aa328e4be348e4425527ad8",
                    "messages_hash": "75b5676163832b1dabee3d864b37620ada5061afe4a69701e9e2cc694b8e9e5f",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "325587a0452f26b481b849e3bf6df47c61b1ae1f305eae901f241ce30d29888b",
                    "block_time": 1727090024,
                    "previous_block_hash": "4b99bbc6808e4b765e983849737aafe5ef708306f5c65833991a73d0cce49c33",
                    "difficulty": 545259519,
                    "ledger_hash": "55612d24a38e775d9ae90229d537d96b0165d975b8fbe0ed5bdd85e8dd396c1f",
                    "txlist_hash": "8a77df6642e1fcfe0beb18b335a1ad317013b9b9a86929d6d436707327271eab",
                    "messages_hash": "0eeda5ff9e6480091916f110f8d7aeda363c7c9188d40f33b2a33e0e5e5f6846",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "4b99bbc6808e4b765e983849737aafe5ef708306f5c65833991a73d0cce49c33",
                    "block_time": 1727090019,
                    "previous_block_hash": "2923560e2bcacf6e73d9eff03c6d1595137115cb81061d215b3edaa9ff0e70ca",
                    "difficulty": 545259519,
                    "ledger_hash": "a3a3134ddd4dd5c9ecad8e689725219ba0e003405f6f4fa8d227a19f8495d5d0",
                    "txlist_hash": "40d6882b32b7c28fa05a9fda718c7d60a0dbc9039a8a1b7b19a1713f988e4859",
                    "messages_hash": "4a5594b373b41e3b2556bb42861d4e775adad70ffdae75e67864cc8797bec351",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "2923560e2bcacf6e73d9eff03c6d1595137115cb81061d215b3edaa9ff0e70ca",
                    "block_time": 1727090015,
                    "previous_block_hash": "3fa9c2277a64ed52b884ca2a17da14b49509020652eb361abe768ef64c58a8b1",
                    "difficulty": 545259519,
                    "ledger_hash": "9493cb79f2b216820d42d4c9138cac197dc6cad664473c5fd95156f9ce96127b",
                    "txlist_hash": "8154a4708a00d17782cfdfe4cbb99ae6b5369bb2abe59c809b471190edc2abe6",
                    "messages_hash": "17b8c592cef8a595dae2b4c23cf034ec7c522b339169fe4209d65a6f86869d5f",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                "block_time": 1727090032,
                "previous_block_hash": "32d89dc243e691569c449bf27f50ef9460d303ae5d1698855a38a6c1b673e697",
                "difficulty": 545259519,
                "ledger_hash": "8a3412535084564e0b57a4012db0715c02175004c31a81128c7d3be67a98efed",
                "txlist_hash": "a812ae61afaa504e2235928d4221a5843f7a45ac35620d7acf0a3e0b7356458a",
                "messages_hash": "8014042aba57243999b64a0089375b6d43deccd408e8d362383f5d5b93469cff",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                "block_time": 1727090032,
                "previous_block_hash": "32d89dc243e691569c449bf27f50ef9460d303ae5d1698855a38a6c1b673e697",
                "difficulty": 545259519,
                "ledger_hash": "8a3412535084564e0b57a4012db0715c02175004c31a81128c7d3be67a98efed",
                "txlist_hash": "a812ae61afaa504e2235928d4221a5843f7a45ac35620d7acf0a3e0b7356458a",
                "messages_hash": "8014042aba57243999b64a0089375b6d43deccd408e8d362383f5d5b93469cff",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                    "block_index": 193,
                    "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
                    "block_time": 1727090032,
                    "source": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "d46c9a79ea9f28e5a8abedc26ec0f354521174a4b6ebe4c696652f7ba6d3eaf6",
                        "messages_hash": "75b5676163832b1dabee3d864b37620ada5061afe4a69701e9e2cc694b8e9e5f",
                        "transaction_count": 1,
                        "txlist_hash": "9707feba25739b7012ed85043e312c25f56921b21aa328e4be348e4425527ad8",
                        "block_time": 1727090028
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "tx_index": 58
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                        "status": "valid",
                        "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "tx_index": 58,
                        "block_time": 1727090028,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727090028,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727090028,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727090028,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727090028,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727090028,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727090028,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727090028,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727090028,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727090032,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "6a4327905f756b3754ee69650c0020031b8afb7ef187f5751c3679a6facb0f4c",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727089916
                },
                {
                    "type": "order",
                    "object_id": "01f5953c1c74522df0564fe2d2cbef7a593559c31d7664c59997b1db179cf878",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727089916
                },
                {
                    "type": "order_match",
                    "object_id": "01f5953c1c74522df0564fe2d2cbef7a593559c31d7664c59997b1db179cf878_6a4327905f756b3754ee69650c0020031b8afb7ef187f5751c3679a6facb0f4c",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727089916
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7",
                    "block_index": 190,
                    "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "offer_hash": "0233885103de2e5ea786acba8985ef3da30eec6968d64dc4b43492355385717b",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727090019
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
                    "block_index": 193,
                    "source": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727090032,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "1338cc0f667b864f9cb57cfa4144116e1cc5ddf10179d2bff37b65880621e1fa",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727089900,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "3978d6cb3fe0a6da805a620714ad2bc304e082d73142cd810729c85c8b4b12d0",
                    "block_index": 188,
                    "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "destination": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727090011,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "3978d6cb3fe0a6da805a620714ad2bc304e082d73142cd810729c85c8b4b12d0",
                    "block_index": 188,
                    "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "destination": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727090011,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "3978d6cb3fe0a6da805a620714ad2bc304e082d73142cd810729c85c8b4b12d0",
                    "block_index": 188,
                    "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                    "destination": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727090011,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
                    "block_index": 146,
                    "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                    "destination": "bcrt1qq8vyph7xmsnqw3dwdyyy0p05sfvwk3d6kfryn3",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727089824,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "53712a005661b7bc4eca4fc002f2398bdb3be32e20d9c7758be05a4dfdbc5e33",
                    "block_index": 192,
                    "source": "bcrt1qkfx28v77k5ttc9fy3wxfeykafzs4rr98f6ux0g",
                    "destination": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727090028,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "6704a0a97145ed7be3f3040aea3132fc4f676188a52048eacca5c553df18535d",
        "block_index": 138,
        "block_hash": "0e9ac7f24e41046c5436ccbf3f9dffc040d503d0521df3c966f06d7864d735ec",
        "block_time": 1727089781,
        "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "6704a0a97145ed7be3f3040aea3132fc4f676188a52048eacca5c553df18535d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de",
        "block_index": 185,
        "block_hash": "2616d6c33121a5276f3fae0f4b3abae36a5e125ba76f11aef7c8404c03cc9576",
        "block_time": 1727089998,
        "source": "bcrt1qcldz2stv3gz77ajpr9e42m09v77uj752xp0z7x",
        "destination": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2db7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
        "supported": true,
        "utxos_info": "831ca6213f6388d0bc87fb599237ce09709b7ff73e6cb9839507b828830ea3de:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d",
                "tx1_hash": "b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
                "order_match_id": "5daf91d174131872b2488269668a56d261ce9612fd0bba81b7454dd9ab7fcd2d_b7bf2203b6c8367af7b1cd38bb7e0265ce25c7c4ed1f9b146640b5dbd0487628",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7",
        "block_index": 190,
        "block_hash": "4b99bbc6808e4b765e983849737aafe5ef708306f5c65833991a73d0cce49c33",
        "block_time": 1727090019,
        "source": "bcrt1q8e28nkgw59nyw9ky9lmv63s80sfue4rnukkdcz",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "460233885103de2e5ea786acba8985ef3da30eec6968d64dc4b43492355385717b",
        "supported": true,
        "utxos_info": "5c0b6f3f1ecf82c4de85319265a49f14f77a9da1a8ae44d5c87d4edd1406eff7:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "0233885103de2e5ea786acba8985ef3da30eec6968d64dc4b43492355385717b",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9",
        "block_index": 193,
        "block_hash": "45722ae861d4d22340578d5c62782c0dc4349d5cd0b691e3e938e4923f501a09",
        "block_time": 1727090032,
        "source": "bcrt1qlgt8zcsqf0gs3l7yk8867chl2qx3f36pwkq8nt",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "7eeb1d330f3dfb26eb77c7e8e3f37ab786190b699f2354ab5af4718ae700adb9:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da",
        "block_index": 145,
        "block_hash": "03e461c6ad0cfe961a51c95b835548a90c70a1fd3bdfe06686e389e4266ad40d",
        "block_time": 1727089820,
        "source": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100809ee631a2a2bedb89041e0e62cd8ee6280fe11ac7",
        "supported": true,
        "utxos_info": "3bfd2edf795ba3614dff75ab3e91f67a55b94e7943986cde39b8bee5f84660da:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a",
        "block_index": 146,
        "block_hash": "235ce840ac465e93541518c2a3ffb1decbd73350483032e5732cab51197f4f23",
        "block_time": 1727089824,
        "source": "bcrt1qq8vyph7xmsnqw3dwdyyy0p05sfvwk3d6kfryn3",
        "destination": "bcrt1qnmnrrg4zhmdcjpq7pe3vmrhx9q87zxk8t80du3",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "ccaa6e7789eb66f335d563452e1c8bb2ea7658c7c938048dd442f57fa4d63c2a:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "b261322b74b14cadd7866ed5e9d426394f6a6fdc4a7231f47f94447a7bfb46bb",
        "block_index": 153,
        "block_hash": "55611241590a0110dc6ebd56714ecbda76a0d395d7b22c795f0922392ee5ba1f",
        "block_time": 1727089854,
[...]
