[//]: # (Generated by genapidoc.py on 2024-09-23 08:27:25.448540. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                "block_index": 193,
                "block_time": 1727080029,
                "difficulty": 545259519,
                "previous_block_hash": "62a5a0581f3129f6c59cd7e1a71f17d82a2be32c5a9fa850fe39e048bb75aebf"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                "block_index": 193,
                "block_time": 1727080029,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                "tx_index": 59,
                "utxos_info": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "out_index": 0,
                "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
                "tx_index": 33,
                "block_time": 1727079818,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
            "block_index": 146,
            "block_time": 1727079818
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "66f269b0c2afc943d51facfa830dd556f527ffd724f7c756a723fd03818c666c",
                "messages_hash": "82a11ad1793e42246c2aa13ab5ff3c6383089057ebbfa50f1169145f8141c9c4",
                "transaction_count": 1,
                "txlist_hash": "e7d6c12cf12468862d87d990f690413c4b9cf98ffc701d4ce3f04057151be95e",
                "block_time": 1727080029
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                "tx_index": 59
            },
            "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "asset": "XCP",
                "block_index": 193,
                "event": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727080029,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727080026,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
            "block_index": 192,
            "block_time": 1727080026
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                "status": "valid",
                "tx_hash": "f1221ac05f583fb068777b846369af752305495621fbb0159b25143a421a1c68",
                "tx_index": 53,
                "block_time": 1727079984,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "f1221ac05f583fb068777b846369af752305495621fbb0159b25143a421a1c68",
            "block_index": 187,
            "block_time": 1727079984
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "valid",
                "tx_hash": "965dccb6d32e7bcc488213073dd64c8fa4fd6ee40ff07a627d4faba11994bc8e",
                "tx_index": 54,
                "block_time": 1727079989,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "965dccb6d32e7bcc488213073dd64c8fa4fd6ee40ff07a627d4faba11994bc8e",
            "block_index": 188,
            "block_time": 1727079989
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                "status": "valid",
                "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                "tx_index": 58,
                "block_time": 1727080026,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
            "block_index": 192,
            "block_time": 1727080026
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "valid",
                "tx_hash": "311b1434ad51f41a8f686fdc5697158d326d6fc7c7b3d820856599c14b9a55ba",
                "tx_index": 40,
                "block_time": 1727079846,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "311b1434ad51f41a8f686fdc5697158d326d6fc7c7b3d820856599c14b9a55ba",
            "block_index": 153,
            "block_time": 1727079846
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727079873
            },
            "tx_hash": "1133a5869ad4943469ee5b6df1f639d4d412037ea3d1fb6fc07f86a5cefacab1",
            "block_index": 159,
            "block_time": 1727079873
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "valid",
                "transfer": false,
                "tx_hash": "1133a5869ad4943469ee5b6df1f639d4d412037ea3d1fb6fc07f86a5cefacab1",
                "tx_index": 46,
                "block_time": 1727079873,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "1133a5869ad4943469ee5b6df1f639d4d412037ea3d1fb6fc07f86a5cefacab1",
            "block_index": 159,
            "block_time": 1727079873
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                "tx_index": 59,
                "block_time": 1727080029,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
            "block_index": 193,
            "block_time": 1727080029
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "open",
                "tx_hash": "42351e3bc757477040edac21bac201b72f75c8c5d8c1981c638f0ae9f9e3ca0f",
                "tx_index": 57,
                "block_time": 1727080022,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "42351e3bc757477040edac21bac201b72f75c8c5d8c1981c638f0ae9f9e3ca0f",
            "block_index": 191,
            "block_time": 1727080022
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d_61e538596dcab1aaaaec0b8e71cfde284e8d3fea6101a6d6fea3cc04521d0587",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d",
                "tx0_index": 49,
                "tx1_address": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "61e538596dcab1aaaaec0b8e71cfde284e8d3fea6101a6d6fea3cc04521d0587",
                "tx1_index": 52,
                "block_time": 1727079980,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "61e538596dcab1aaaaec0b8e71cfde284e8d3fea6101a6d6fea3cc04521d0587",
            "block_index": 186,
            "block_time": 1727079980
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "c34882901d998a24fe958ddcfc31a1564d56f3ff4486c62aa3ff90894e77175d"
            },
            "tx_hash": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18",
            "block_index": 190,
            "block_time": 1727080007
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674"
            },
            "tx_hash": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff",
            "block_index": 185,
            "block_time": 1727079976
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d_21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
                "order_match_id": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d_21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
                "status": "completed"
            },
            "tx_hash": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff",
            "block_index": 185,
            "block_time": 1727079976
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "order_match_id": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d_21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
                "source": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                "status": "valid",
                "tx_hash": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff",
                "tx_index": 51,
                "block_time": 1727079976,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff",
            "block_index": 185,
            "block_time": 1727079976
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "c34882901d998a24fe958ddcfc31a1564d56f3ff4486c62aa3ff90894e77175d",
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "valid",
                "tx_hash": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18",
                "tx_index": 56,
                "block_time": 1727080007
            },
            "tx_hash": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18",
            "block_index": 190,
            "block_time": 1727080007
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "3be92236586f3ab6f1f1291bb44f6f1ef553f533ff1af5947a2e76f42d226937",
                "source": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                "block_time": 1727079898
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727079898
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "89cf251653c5a6c3893513b0b10d8a0c08950e223d3616f8a0f529e5d84972f8_3be92236586f3ab6f1f1291bb44f6f1ef553f533ff1af5947a2e76f42d226937",
                "tx0_address": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "tx1_address": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                "block_time": 1727079898
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727079898
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "origin": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "satoshirate": 1,
                "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "status": 0,
                "tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
                "tx_index": 32,
                "block_time": 1727079813,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
            "block_index": 145,
            "block_time": 1727079813
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "status": 0,
                "tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
            "block_index": 146,
            "block_time": 1727079818
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mkJcSPmH7qxK3hZtjfj2T3TuuHiGZh3VFp",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "05ddfadbb63a0b9f67dd28890c84f9986c161154ed2a4ac537cef4fc37c990ba",
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "tx_hash": "677868f74ae703fe6e541c7a6b9bc66ccbfa9996472a98fa16bbecd9bcc1a9f0",
                "tx_index": 31,
                "block_time": 1727079809,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "677868f74ae703fe6e541c7a6b9bc66ccbfa9996472a98fa16bbecd9bcc1a9f0",
            "block_index": 144,
            "block_time": 1727079809
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qdlq7p8fayk5t0ryngk4lgueukr2csgjqa37hcj",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
                "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
                "tx_index": 33,
                "block_time": 1727079818,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
            "block_index": 146,
            "block_time": 1727079818
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "b09b2ec5170f396a0b6afae622e9506a09157917ab5cbaf83eaeba4cfb6bf3d3",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727079784,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "b09b2ec5170f396a0b6afae622e9506a09157917ab5cbaf83eaeba4cfb6bf3d3",
            "block_index": 138,
            "block_time": 1727079784
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "start_block": 0,
                "status": "open",
                "tx_hash": "9066bc25a39f102ab08b486c01a7a90f1ff56623620cccddd9bbe06c51e9d95a",
                "tx_index": 22,
                "block_time": 1727079772
            },
            "tx_hash": "9066bc25a39f102ab08b486c01a7a90f1ff56623620cccddd9bbe06c51e9d95a",
            "block_index": 135,
            "block_time": 1727079772
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "569b5d76c793d1fbd773e4c21c313d8d9bd4c08354834bd7fff4de4ba36e79c5"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727079751
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "9066bc25a39f102ab08b486c01a7a90f1ff56623620cccddd9bbe06c51e9d95a",
                "paid_quantity": 34,
                "source": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                "status": "valid",
                "tx_hash": "14b14a8360be741c147b158caf79d5fcf98f9986207c8fe5fe42526940d1ddc1",
                "tx_index": 23,
                "block_time": 1727079776,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "14b14a8360be741c147b158caf79d5fcf98f9986207c8fe5fe42526940d1ddc1",
            "block_index": 136,
            "block_time": 1727079776
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "3163d37b53fd688095bc3cd4ae4ae010f748ad56609d4a415cb903800fc678a8:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                "status": "valid",
                "tx_hash": "3163d37b53fd688095bc3cd4ae4ae010f748ad56609d4a415cb903800fc678a8",
                "tx_index": 38,
                "block_time": 1727079839,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3163d37b53fd688095bc3cd4ae4ae010f748ad56609d4a415cb903800fc678a8",
            "block_index": 151,
            "block_time": 1727079839
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qctrttkxawk6cf33k802ms4ksxl5kllw2ydvvyd",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "e0fb6c717053ccace6058ea89673a15dff5b190c77211ffd001c4094c8df382a:0",
                "status": "valid",
                "tx_hash": "989604467561753724a036703d19ac691dfe4a5ced843c42f9d1834068e7158f",
                "tx_index": 37,
                "block_time": 1727079835,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "989604467561753724a036703d19ac691dfe4a5ced843c42f9d1834068e7158f",
            "block_index": 150,
            "block_time": 1727079835
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "ab95aef70994011636c4cf5a6b493e62ba85b6ee6dad560073f76370722caec6:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "7fedffa622e7b12624bb45a7946c3bd3b1fb4ab4f4787e1cc978707b8d22faa9:0",
                "status": "valid",
                "tx_hash": "ab95aef70994011636c4cf5a6b493e62ba85b6ee6dad560073f76370722caec6",
                "tx_index": 42,
                "block_time": 1727079855,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "ab95aef70994011636c4cf5a6b493e62ba85b6ee6dad560073f76370722caec6",
            "block_index": 155,
            "block_time": 1727079855
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qtlpkqnw458wcn6ggjgl0qhncr5azj57dwx79c9",
                "status": "valid",
                "tx_hash": "913a6e309d29d939a9b42c5b239eda58fd12b57ab1aefd856fe908cc2f03c87a",
                "tx_index": 9,
                "block_time": 1727079713,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "913a6e309d29d939a9b42c5b239eda58fd12b57ab1aefd856fe908cc2f03c87a",
            "block_index": 121,
            "block_time": 1727079713
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                    "block_time": 1727080029,
                    "previous_block_hash": "62a5a0581f3129f6c59cd7e1a71f17d82a2be32c5a9fa850fe39e048bb75aebf",
                    "difficulty": 545259519,
                    "ledger_hash": "66f269b0c2afc943d51facfa830dd556f527ffd724f7c756a723fd03818c666c",
                    "txlist_hash": "e7d6c12cf12468862d87d990f690413c4b9cf98ffc701d4ce3f04057151be95e",
                    "messages_hash": "82a11ad1793e42246c2aa13ab5ff3c6383089057ebbfa50f1169145f8141c9c4",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "62a5a0581f3129f6c59cd7e1a71f17d82a2be32c5a9fa850fe39e048bb75aebf",
                    "block_time": 1727080026,
                    "previous_block_hash": "1a5528b36801a6265f442091aa835cd3dde947c089da6295ff0f8fc630f0e0a5",
                    "difficulty": 545259519,
                    "ledger_hash": "0a01bff8eb1c310d8222e4ccb4760085675430d12422c8dd6c1406862fd2bcd5",
                    "txlist_hash": "cd465c4124d8f65b6f8d4112a5934530f16fcb6a7ac9f405937f60b64cac9f03",
                    "messages_hash": "3fc52191dfde04576e3cd5974b4af5b7e1c3ec66fa0d275067d2c8ece10ef148",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "1a5528b36801a6265f442091aa835cd3dde947c089da6295ff0f8fc630f0e0a5",
                    "block_time": 1727080022,
                    "previous_block_hash": "27631674929a77b7907c42d4559d560e994bddb1c5dc880e51ac065952ccc04b",
                    "difficulty": 545259519,
                    "ledger_hash": "c918416572951e1e48365514f20bdd3d512f8a1ceef0accbc5e41f80724e81ba",
                    "txlist_hash": "300cac11ea531e4e01f87018a1e392ed79f5273964799d1f25a4d70f2df71439",
                    "messages_hash": "d004ba210b48210939040d6d03420f5eecfeeb330a2c32b5cf9be077a32818fc",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "27631674929a77b7907c42d4559d560e994bddb1c5dc880e51ac065952ccc04b",
                    "block_time": 1727080007,
                    "previous_block_hash": "6fb0ca06b43613ffed61018fcb6082c59452492ba985576337703460a5a270f0",
                    "difficulty": 545259519,
                    "ledger_hash": "51469f0e92c07c9a475dddf1df377bdd6b740d6cec92661eaf9fff84113fddcc",
                    "txlist_hash": "97b3b22f1089946ec419f2824b21c0c0d7810013a5fbeb5bf8d9cb15d4d0e015",
                    "messages_hash": "52a4e5b87f05460ee8c0a6d8c8d7b6444216529a0e072a6a4e90e4b7a6ac2205",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "6fb0ca06b43613ffed61018fcb6082c59452492ba985576337703460a5a270f0",
                    "block_time": 1727079993,
                    "previous_block_hash": "48b2d19d551135b795db9414be8cef12acb0b131f1d153c2e457362aee6f39fa",
                    "difficulty": 545259519,
                    "ledger_hash": "53951e46fc709ae22d91dde1f09c776635c86a1f6148f4509e0a2bd3e5dab77a",
                    "txlist_hash": "1e2450020fb89ed8fbfa6b65fc361d79b6ffaa2a7c0d1c0a1ba8f07b8e820fd2",
                    "messages_hash": "92c69ccbc7509d2230f7338d7e4a1877e33012a84995ba281e76d99fc4709d67",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                "block_time": 1727080029,
                "previous_block_hash": "62a5a0581f3129f6c59cd7e1a71f17d82a2be32c5a9fa850fe39e048bb75aebf",
                "difficulty": 545259519,
                "ledger_hash": "66f269b0c2afc943d51facfa830dd556f527ffd724f7c756a723fd03818c666c",
                "txlist_hash": "e7d6c12cf12468862d87d990f690413c4b9cf98ffc701d4ce3f04057151be95e",
                "messages_hash": "82a11ad1793e42246c2aa13ab5ff3c6383089057ebbfa50f1169145f8141c9c4",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                "block_time": 1727080029,
                "previous_block_hash": "62a5a0581f3129f6c59cd7e1a71f17d82a2be32c5a9fa850fe39e048bb75aebf",
                "difficulty": 545259519,
                "ledger_hash": "66f269b0c2afc943d51facfa830dd556f527ffd724f7c756a723fd03818c666c",
                "txlist_hash": "e7d6c12cf12468862d87d990f690413c4b9cf98ffc701d4ce3f04057151be95e",
                "messages_hash": "82a11ad1793e42246c2aa13ab5ff3c6383089057ebbfa50f1169145f8141c9c4",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                    "block_index": 193,
                    "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
                    "block_time": 1727080029,
                    "source": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "0a01bff8eb1c310d8222e4ccb4760085675430d12422c8dd6c1406862fd2bcd5",
                        "messages_hash": "3fc52191dfde04576e3cd5974b4af5b7e1c3ec66fa0d275067d2c8ece10ef148",
                        "transaction_count": 1,
                        "txlist_hash": "cd465c4124d8f65b6f8d4112a5934530f16fcb6a7ac9f405937f60b64cac9f03",
                        "block_time": 1727080026
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "tx_index": 58
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                        "status": "valid",
                        "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "tx_index": 58,
                        "block_time": 1727080026,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727080026,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727080026,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727080026,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727080026,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727080026,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727080026,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727080026,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727080026,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727080029,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "3be92236586f3ab6f1f1291bb44f6f1ef553f533ff1af5947a2e76f42d226937",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727079898
                },
                {
                    "type": "order",
                    "object_id": "89cf251653c5a6c3893513b0b10d8a0c08950e223d3616f8a0f529e5d84972f8",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727079898
                },
                {
                    "type": "order_match",
                    "object_id": "89cf251653c5a6c3893513b0b10d8a0c08950e223d3616f8a0f529e5d84972f8_3be92236586f3ab6f1f1291bb44f6f1ef553f533ff1af5947a2e76f42d226937",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727079898
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18",
                    "block_index": 190,
                    "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "offer_hash": "c34882901d998a24fe958ddcfc31a1564d56f3ff4486c62aa3ff90894e77175d",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727080007
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
                    "block_index": 193,
                    "source": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727080029,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "1133a5869ad4943469ee5b6df1f639d4d412037ea3d1fb6fc07f86a5cefacab1",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727079873,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "965dccb6d32e7bcc488213073dd64c8fa4fd6ee40ff07a627d4faba11994bc8e",
                    "block_index": 188,
                    "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "destination": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727079989,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "965dccb6d32e7bcc488213073dd64c8fa4fd6ee40ff07a627d4faba11994bc8e",
                    "block_index": 188,
                    "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "destination": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727079989,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "965dccb6d32e7bcc488213073dd64c8fa4fd6ee40ff07a627d4faba11994bc8e",
                    "block_index": 188,
                    "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                    "destination": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727079989,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
                    "block_index": 146,
                    "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                    "destination": "bcrt1qdlq7p8fayk5t0ryngk4lgueukr2csgjqa37hcj",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727079818,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "52a880117ed88d6814e5dfb73628eb8e0f943819d48b93fd91dcb0928e62de36",
                    "block_index": 192,
                    "source": "bcrt1q8k8446msllgas652tcdpjc543kanmd4uhsclss",
                    "destination": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727080026,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "b09b2ec5170f396a0b6afae622e9506a09157917ab5cbaf83eaeba4cfb6bf3d3",
        "block_index": 138,
        "block_hash": "4b9568c3a5c2fe5daa9f5c819f4fe2ea7b3680d52ec8b57aed75ef6c8f66ab54",
        "block_time": 1727079784,
        "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "b09b2ec5170f396a0b6afae622e9506a09157917ab5cbaf83eaeba4cfb6bf3d3:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff",
        "block_index": 185,
        "block_hash": "0019336d8185362941e07f3b889ad1fcec836b89b1848ef0b1acd905e5d68e55",
        "block_time": 1727079976,
        "source": "bcrt1q5dpg324pdjm2n3cxtah7mh0s7905qrkfsj3ku9",
        "destination": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bf1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
        "supported": true,
        "utxos_info": "a0d998820328c94cd4b8c8229185687223c34e4a501e503b81823d2b4a682cff:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d",
                "tx1_hash": "21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
                "order_match_id": "f1a8be6a4b6433a09e717ef4e6a4af7a55fff4336e0044779b114f041c95f27d_21780b5b42392c121c5fd0d69597403cac520f62fd57024f55a434bb64ea2674",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18",
        "block_index": 190,
        "block_hash": "27631674929a77b7907c42d4559d560e994bddb1c5dc880e51ac065952ccc04b",
        "block_time": 1727080007,
        "source": "bcrt1q2tjg5fpqmhd5653eae84p8df5d9l7am6latnms",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46c34882901d998a24fe958ddcfc31a1564d56f3ff4486c62aa3ff90894e77175d",
        "supported": true,
        "utxos_info": "ae9d65568445d04aa9ac548e94af2e2a26e19ee428f12a8b2ef808883f80ed18:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "c34882901d998a24fe958ddcfc31a1564d56f3ff4486c62aa3ff90894e77175d",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527",
        "block_index": 193,
        "block_hash": "134137568116e7221a36eb3aaf1843493bca0140ad133029763597094475127e",
        "block_time": 1727080029,
        "source": "bcrt1qcnandwfdfc68vznl4n9spnrngzl0kxqf4334rj",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "b2916561d4fef387546a0076b40594e9d96f1edddaa5a7d0d17103e95751d527:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2",
        "block_index": 145,
        "block_hash": "76a7eaf478893df47acccb9677142398a1b3cd19a82c0d2c91f1b069dcdb05ac",
        "block_time": 1727079813,
        "source": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100806fd5bdc821a1503fefcb043e805b05d47d3f147d",
        "supported": true,
        "utxos_info": "da9c318eb46ee0e7a0a162fc48dd8c47a45922721e35b38ad0e4f698b103c6c2:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31",
        "block_index": 146,
        "block_hash": "0b732a89eb8e6d3f82f25a54955bb1877642df0dc58009adbcfeaa8eb5ac49d7",
        "block_time": 1727079818,
        "source": "bcrt1qdlq7p8fayk5t0ryngk4lgueukr2csgjqa37hcj",
        "destination": "bcrt1qdl2mmjpp59grlm7tqslgqkc9637n79ramyd7ge",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "740fddf54b1da94cb706622569e45c69d0499398f2b32f0374b8c475f4bc8d31:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "311b1434ad51f41a8f686fdc5697158d326d6fc7c7b3d820856599c14b9a55ba",
        "block_index": 153,
        "block_hash": "404bcb97e657b6a3c7b0d8c4ae8e3136f6c1f06012d858e0d71d8b2a4d68faef",
        "block_time": 1727079846,
[...]
