[//]: # (Generated by genapidoc.py on 2025-03-06 14:57:50.624064. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                "block_index": 245,
                "block_time": 1741273052,
                "difficulty": 545259519,
                "previous_block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                "block_index": 245,
                "block_time": 1741273052,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "fee": 0,
                "source": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "transaction_type": "dispense",
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "tx_index": 121,
                "utxos_info": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1 1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "out_index": 0,
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "tx_index": 121,
                "block_time": 1741273052,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b",
                "transaction_count": 1,
                "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                "block_time": 1741273052
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "tx_index": 121
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                "utxo_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "block_time": 1741273052,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1741273052,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "status": "valid",
                "tx_hash": "fa98fe4a61b55acd10ff486b6034725978a00391df538922cfe1747930b8ae48",
                "tx_index": 77,
                "block_time": 1741272866,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "fa98fe4a61b55acd10ff486b6034725978a00391df538922cfe1747930b8ae48",
            "block_index": 201,
            "block_time": 1741272866
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
                "status": "valid",
                "tx_hash": "118db62960004454700e5c4630df7ecb6ab9c313dd624cc4d75bd4a269a86db6",
                "tx_index": 81,
                "block_time": 1741272880,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "118db62960004454700e5c4630df7ecb6ab9c313dd624cc4d75bd4a269a86db6",
            "block_index": 205,
            "block_time": 1741272880
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qfe3p9wur3yl9z678hu2fjqmp6vp0secnsw5axa",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6nz23m6nsgwwt5y33x8vk7pp9cv22l25v7sg8d",
                "status": "valid",
                "tx_hash": "db082263d63dacb4bd6d9cb03be6c0e42eddbd3fa1a108ce39f869f50f113d96",
                "tx_index": 65,
                "block_time": 1741272821,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "db082263d63dacb4bd6d9cb03be6c0e42eddbd3fa1a108ce39f869f50f113d96",
            "block_index": 190,
            "block_time": 1741272821
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "status": "valid",
                "tx_hash": "6a6bdb86063319c82be0c48444caf69c322e623b9efba7b0c7b71916e4845a97",
                "tx_index": 42,
                "block_time": 1741272678,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "6a6bdb86063319c82be0c48444caf69c322e623b9efba7b0c7b71916e4845a97",
            "block_index": 146,
            "block_time": 1741272678
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "status": "valid",
                "transfer": false,
                "tx_hash": "2d6d2ee864ec20ab3e13d2285131b27e90640ca49e389844632fb88c2619e828",
                "tx_index": 117,
                "block_time": 1741273032,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2d6d2ee864ec20ab3e13d2285131b27e90640ca49e389844632fb88c2619e828",
            "block_index": 240,
            "block_time": 1741273032
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1741273043
            },
            "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
            "block_index": 243,
            "block_time": 1741273043
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": "valid",
                "transfer": false,
                "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
                "tx_index": 120,
                "block_time": 1741273043,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
            "block_index": 243,
            "block_time": 1741273043
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "2d6d2ee864ec20ab3e13d2285131b27e90640ca49e389844632fb88c2619e828",
                "tx_index": 117,
                "block_time": 1741273032,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "2d6d2ee864ec20ab3e13d2285131b27e90640ca49e389844632fb88c2619e828",
            "block_index": 240,
            "block_time": 1741273032
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": "open",
                "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
                "tx_index": 119,
                "block_time": 1741273039,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
            "block_index": 242,
            "block_time": 1741273039
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "7c295231580c030d036fc1f05d5c5ff1d4ede567be1389713232b5143ece42dc_510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "7c295231580c030d036fc1f05d5c5ff1d4ede567be1389713232b5143ece42dc",
                "tx0_index": 118,
                "tx1_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
                "tx1_index": 119,
                "block_time": 1741273039,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qll4289rqtl9pkpwylvg5zwhqymac822yp40m2q"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
            "block_index": 242,
            "block_time": 1741273039
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "510a3e042a599eae97ea4edf78f29ac2f1d17d6eaf6b81c1e4d73f7a24861da3",
            "block_index": 242,
            "block_time": 1741273039
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "d3cb7bcc639536b899603ec688d5715ed84b7be25a15198d83a0e837739084d8"
            },
            "tx_hash": "f40cee5d80a2f6bbe7dfa3d275fc28a36cc622a662ad3d4316208d44acf19576",
            "block_index": 182,
            "block_time": 1741272793
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
                "order_match_id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
                "status": "expired"
            },
            "tx_hash": "088e9e1510f6b27c5b0a3dfc387c293365e2e3db543e11d207ac2350fe7b5ccc",
            "block_index": 225,
            "block_time": 1741272950
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "order_match_id": "dbeb49fa8cfa5eaaa10f109c5c2fafcfa6f348679bde6b474dc043e6acd561d4_d3cb7bcc639536b899603ec688d5715ed84b7be25a15198d83a0e837739084d8",
                "source": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
                "status": "valid",
                "tx_hash": "f40cee5d80a2f6bbe7dfa3d275fc28a36cc622a662ad3d4316208d44acf19576",
                "tx_index": 57,
                "block_time": 1741272793,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "f40cee5d80a2f6bbe7dfa3d275fc28a36cc622a662ad3d4316208d44acf19576",
            "block_index": 182,
            "block_time": 1741272793
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "5d511b3ce8304f2425b097aa1ec5ea1e18d98cdd2762b555073165638143a3f4",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "status": "valid",
                "tx_hash": "2e5cf032b85becd9474dd09a13b31d80e7d9bd0ee01b01ee5ee8330248f71998",
                "tx_index": 63,
                "block_time": 1741272813
            },
            "tx_hash": "2e5cf032b85becd9474dd09a13b31d80e7d9bd0ee01b01ee5ee8330248f71998",
            "block_index": 188,
            "block_time": 1741272813
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "block_time": 1741272901
            },
            "tx_hash": "a5157135c2947b9ae7127f1f25ed1a5d3929f35b684317065e956c87651e886c",
            "block_index": 211,
            "block_time": 1741272901
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674_fbca09e0a102cb296461813e48c726a3e5b138d04cf7801191e5605e3c136128",
                "tx0_address": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "tx1_address": "bcrt1q6nz23m6nsgwwt5y33x8vk7pp9cv22l25v7sg8d",
                "block_time": 1741272950
            },
            "tx_hash": "088e9e1510f6b27c5b0a3dfc387c293365e2e3db543e11d207ac2350fe7b5ccc",
            "block_index": 225,
            "block_time": 1741272950
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qny0l5uly78duc3059lee4rtfvk6nxrmzcgk0vd",
                "satoshirate": 1,
                "source": "bcrt1qny0l5uly78duc3059lee4rtfvk6nxrmzcgk0vd",
                "status": 0,
                "tx_hash": "2e2487d5836071d903c7c4b59c8863b4e5db0db458e3adabc49994e1802d51f4",
                "tx_index": 114,
                "block_time": 1741273017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "2e2487d5836071d903c7c4b59c8863b4e5db0db458e3adabc49994e1802d51f4",
            "block_index": 236,
            "block_time": 1741273017
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": 0,
                "tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mmrkSH3MqMjz84uDQQi7DVFwGrxVWrDcZr",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "7f3ec68e352d8b933077584f3ccd96af44ed257aafff418e00989d80255d8bda",
                "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                "tx_hash": "62279c047615a9ead7ab5ad455768a8fbb6b0e353c82bed0028b43122f45b826",
                "tx_index": 31,
                "block_time": 1741272638,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "62279c047615a9ead7ab5ad455768a8fbb6b0e353c82bed0028b43122f45b826",
            "block_index": 135,
            "block_time": 1741272638
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "tx_index": 121,
                "block_time": 1741273052,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "a6de9415ea438af53c10884a69ca5e0538d4a48eb6060e9cbb69e34c08e974d3",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1741272616,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "a6de9415ea438af53c10884a69ca5e0538d4a48eb6060e9cbb69e34c08e974d3",
            "block_index": 129,
            "block_time": 1741272616
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "start_block": 0,
                "status": "open",
                "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
                "tx_index": 120,
                "block_time": 1741273043,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
            "block_index": 243,
            "block_time": 1741273043
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "e6a5e5b5f26681fedee12730ae39a6d7e3e9d042cf604539ee2e02c2e6cb4e60"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1741272960
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "fa4ac3c56fc4628b4f9c6174cf40472778a8e4ea9effdc03c4ec73eb95f067ab",
                "paid_quantity": 100000000,
                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "status": "valid",
                "tx_hash": "aa6d41c074354f32e36a6d7ea73c408fdbf372e6135f72b727b7a8e66a9149f7",
                "tx_index": 97,
                "block_time": 1741272937,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "aa6d41c074354f32e36a6d7ea73c408fdbf372e6135f72b727b7a8e66a9149f7",
            "block_index": 221,
            "block_time": 1741272937
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "6399cdd1b72daa6fe4ff1e533eb0e39cd5b54fc029e7a9fd52a37c88a10f3aea:0",
                "destination_address": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "status": "valid",
                "tx_hash": "6399cdd1b72daa6fe4ff1e533eb0e39cd5b54fc029e7a9fd52a37c88a10f3aea",
                "tx_index": 112,
                "block_time": 1741273012,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "6399cdd1b72daa6fe4ff1e533eb0e39cd5b54fc029e7a9fd52a37c88a10f3aea",
            "block_index": 235,
            "block_time": 1741273012
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "ddea1e2c2a160beadf01d3542fd66fd599f6a266941f29cdbebd6940cce14e67:0",
                "source_address": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                "status": "valid",
                "tx_hash": "b34ad92694558f15cf9d1124816791ae8ebd1891099b2889320480f58457e725",
                "tx_index": 111,
                "block_time": 1741273008,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b34ad92694558f15cf9d1124816791ae8ebd1891099b2889320480f58457e725",
            "block_index": 234,
            "block_time": 1741273008
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                "destination_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                "source_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                "status": "valid",
                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                "tx_index": 121,
                "block_time": 1741273052,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
            "block_index": 245,
            "block_time": 1741273052
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q40lsqc2ywg2kt5wcd9ah45car4avf8y2gaxnky",
                "status": "valid",
                "tx_hash": "8bdebbb5d3ca7cd874a01ea13aa50cf1b48c77f9e501a82b93be94ccd746a7d4",
                "tx_index": 9,
                "block_time": 1741272553,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "8bdebbb5d3ca7cd874a01ea13aa50cf1b48c77f9e501a82b93be94ccd746a7d4",
            "block_index": 112,
            "block_time": 1741272553
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                    "block_time": 1741273052,
                    "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                    "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                    "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                    "previous_block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b"
                },
                {
                    "block_index": 244,
                    "block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5",
                    "block_time": 1741273047,
                    "ledger_hash": "008035b882f9cc40742d53561e80f76357f53f3f863fb504f722d12ec849c0f7",
                    "txlist_hash": "0d386762b264af87c1e73effc5c5d4ad6f13ae761ff57e068ad376384a0a2aea",
                    "messages_hash": "48aa500eb1b022eb85ac31ce7d0165a104c19d1d9f86f4d2d75cb989d68cbbbf",
                    "previous_block_hash": "3e912509f706a17b81006374b56fbbf3665fef25217443b0fe22fd6a21d943b7",
                    "difficulty": 545259519,
                    "transaction_count": 0,
                    "migration_hash": "c1e33bffa5b46618259748b5d1ffc67094319aa41dbb026c3a76bf0394aa2078"
                },
                {
                    "block_index": 243,
                    "block_hash": "3e912509f706a17b81006374b56fbbf3665fef25217443b0fe22fd6a21d943b7",
                    "block_time": 1741273043,
                    "ledger_hash": "df4306913cc402f58d7f4db1767d295f1d99b3fb7163e44b5438ad41084f65c3",
                    "txlist_hash": "62ac596a0539630082f53fc4e3727643fdf9229ce30ef7f7cf8fc498d2c6b44d",
                    "messages_hash": "b701bcab3ac3e7901b5ade23367098608898001c93896ec99f03664f8cb9c810",
                    "previous_block_hash": "5c70b1d9fa587f74365b0977ba1e34fbbd77fbceccd9e9d7f6b7953cc13bc6df",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "cbbcf508aa0982dc599f1bdf70336d6683e555d8f3b663152445664a40ca5cfe"
                },
                {
                    "block_index": 242,
                    "block_hash": "5c70b1d9fa587f74365b0977ba1e34fbbd77fbceccd9e9d7f6b7953cc13bc6df",
                    "block_time": 1741273039,
                    "ledger_hash": "5c94cddb7289c0f2c0b3e9cb5d6ed3b5826211b0257051976489decfb88743c1",
                    "txlist_hash": "420678424f90765549b1529423dfd18384977593918e11a16c23bb78994657aa",
                    "messages_hash": "7e8afffde23025d7ed021e69dc01b2bcb3b03a14c08ba9967925d093c71fb991",
                    "previous_block_hash": "524e0e2f43d4432bab3d5e0ab5d2b5a5a38b19b9bc705bc2fc50605f66a4e47e",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "f89f2e02a59eae9d85df2f12064e99a63eaa21a690ad742324bc757b1cc8c6c4"
                },
                {
                    "block_index": 241,
                    "block_hash": "524e0e2f43d4432bab3d5e0ab5d2b5a5a38b19b9bc705bc2fc50605f66a4e47e",
                    "block_time": 1741273035,
                    "ledger_hash": "52dc790eab479de948b76f077680985a4fef6421e7848cc2fac57db8e5c03b4f",
                    "txlist_hash": "e6f183747f054bcbbab86451907e1571303a0147b5cab9222d4e4ed09619ce82",
                    "messages_hash": "be039bae3448463fede3cf9bdf87b94d131ad41b2c42082a0bfc2616ceea0351",
                    "previous_block_hash": "2d430396b272f1a3cb9fca8fe24cc5fb19002591381e3cc9ea1428b029849edc",
                    "difficulty": 545259519,
                    "transaction_count": 1,
                    "migration_hash": "681580a3d665f33e41621ae72a42ebe54d40d8551009e8f9daf1fdf0df1e5cae"
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                "block_time": 1741273052,
                "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                "previous_block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b"
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                "block_time": 1741273052,
                "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                "previous_block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b"
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                "block_time": 1741273052,
                "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                "previous_block_hash": "32eea6e8b9d6c67a55cb68ac32c2e77f1e03b783a0fd796246f385eb125bcbd5",
                "difficulty": 545259519,
                "transaction_count": 1,
                "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b"
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "block_index": 245,
                    "block_hash": "23b8c6a7fd34126d3cf13dd149d619ef230d5be9a42cdc5a7b0bd5023846cc38",
                    "block_time": 1741273052,
                    "source": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "destination": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1 1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                                "destination_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                                "source_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                                "status": "valid",
                                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                                "tx_index": 121,
                                "block_time": 1741273052,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                            "block_index": 245,
                            "block_time": 1741273052
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                                "destination_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                                "source_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                                "status": "valid",
                                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                                "tx_index": 121,
                                "block_time": 1741273052,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                            "block_index": 245,
                            "block_time": 1741273052
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                                "status": 0,
                                "tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                            "block_index": 245,
                            "block_time": 1741273052
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                                "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                                "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                                "tx_index": 121,
                                "block_time": 1741273052,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                            "block_index": 245,
                            "block_time": 1741273052
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "1d1bb4641acee884b13436b77cd1d889d0fd8b0dc725596129101bd57f1945ab",
                        "messages_hash": "723610f3963120c7f1fef3bf2b76ad8b349682e6e8c991cc2e0e30e8e4c3595e",
                        "migration_hash": "4af2ab2052386b731886c9c057bb57ed54467b111121690255b98aa5e6cfb35b",
                        "transaction_count": 1,
                        "txlist_hash": "d87c71a0d72bd6f2b83e2bb8f74d777fc927d981311c6ca00c63b62d128329eb",
                        "block_time": 1741273052
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "tx_index": 121
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                        "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                        "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "tx_index": 121,
                        "block_time": 1741273052,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                        "status": 0,
                        "tx_hash": "29afec150d2197a6efb3ed403fe12b6771d3d46c3fead380a4c85ea65a9ee43a",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741273052,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1741273052,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                        "utxo_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                        "block_time": 1741273052,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                        "utxo_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                        "block_time": 1741273052,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "tx_index": 121,
                    "utxo": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                    "utxo_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "tx_index": 121,
                    "utxo": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                    "utxo_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "tx_index": 121,
                    "utxo": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                    "utxo_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "tx_index": 121,
                    "utxo": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                    "utxo_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "3863c4659eca6d0993a1a3420d35006813504d8479c981e533beabf668888674",
                    "block_index": 211,
                    "block_time": 1741272901
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "2e5cf032b85becd9474dd09a13b31d80e7d9bd0ee01b01ee5ee8330248f71998",
                    "block_index": 188,
                    "source": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                    "offer_hash": "5d511b3ce8304f2425b097aa1ec5ea1e18d98cdd2762b555073165638143a3f4",
                    "status": "valid",
                    "block_time": 1741272813
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "2d6d2ee864ec20ab3e13d2285131b27e90640ca49e389844632fb88c2619e828",
                    "block_index": 240,
                    "source": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1741273032,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qv2vdcz8xq0l3nfa8hw6ntks99vau7el3x8c8lz"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "17fdc603e8d50a226416d79e8b77dc7ae5dc5cff4601c10f398f01e34f0c4f7d",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "issuer": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1741273043,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "block_index": 245,
                    "source": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                    "destination": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "destination_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c",
                    "block_index": 245,
                    "source": "85cb05108030cf95d25374daba534eab24cf5612d36ff08a26f3f56e28312f74:1",
                    "destination": "1a30cd56095353835d87fbb9920e2f49d9653cf8bd7bb4d43d18d121a6d8aa0c:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qqjvsjjh0ncxnptrlcv86pv58dm6kanwvzxmaxq",
                    "destination_address": "bcrt1qkzg8gc8a4efthaxla3g8syfnwwgkads0g0v9zr",
                    "block_time": 1741273052,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q26kccxzxw0zlvqrwf4smumn64dkvm685t7cpp4",
                        "divisible": true,
                        "locked": false,
[...]
