[//]: # (Generated by genapidoc.py on 2025-03-01 11:37:55.720017. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                "block_index": 245,
                "block_time": 1740829057,
                "difficulty": 545259519,
                "previous_block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                "block_index": 245,
                "block_time": 1740829057,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "fee": 0,
                "source": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                "transaction_type": "dispense",
                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "tx_index": 121,
                "utxos_info": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1 5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "out_index": 0,
                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "tx_index": 121,
                "block_time": 1740829057,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                "transaction_count": 1,
                "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                "block_time": 1740829057
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "tx_index": 121
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                "utxo_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                "block_time": 1740829057,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1740829057,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q49fda5h0jxa0tzl0n56nvs94l5yayz04tfjc5f",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "status": "valid",
                "tx_hash": "469dbbf4907b7617d285482169d25cd856bb1c7e36cfd4aa2299e5c0ffd4ff83",
                "tx_index": 77,
                "block_time": 1740828867,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "469dbbf4907b7617d285482169d25cd856bb1c7e36cfd4aa2299e5c0ffd4ff83",
            "block_index": 201,
            "block_time": 1740828867
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q49fda5h0jxa0tzl0n56nvs94l5yayz04tfjc5f",
                "status": "valid",
                "tx_hash": "5f1c485239417f60656530d4cfe0633c34df78c46137f28d2dd37ef16e7bad43",
                "tx_index": 81,
                "block_time": 1740828881,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "5f1c485239417f60656530d4cfe0633c34df78c46137f28d2dd37ef16e7bad43",
            "block_index": 205,
            "block_time": 1740828881
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qag3nh0tw0kunkkgrj5299aece4gjcyl0jfwlht",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8dk38auzauzclc4002dcr98nyjlwnum6yht7uz",
                "status": "valid",
                "tx_hash": "72123381d3d5f2f6456953edbe047571c6a9ec0b83df3f82d191c130c1312308",
                "tx_index": 65,
                "block_time": 1740828820,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "72123381d3d5f2f6456953edbe047571c6a9ec0b83df3f82d191c130c1312308",
            "block_index": 190,
            "block_time": 1740828820
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "status": "valid",
                "tx_hash": "99d36be41498610f317041e44269b50021d097e81ef4da4f2662e26d4a5b2046",
                "tx_index": 42,
                "block_time": 1740828677,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "99d36be41498610f317041e44269b50021d097e81ef4da4f2662e26d4a5b2046",
            "block_index": 146,
            "block_time": 1740828677
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "status": "valid",
                "transfer": false,
                "tx_hash": "f4d12929bf09e18a3f5e5a434ce9f7147a5e36c1530c3f3ea69e67d9378627dc",
                "tx_index": 117,
                "block_time": 1740829037,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f4d12929bf09e18a3f5e5a434ce9f7147a5e36c1530c3f3ea69e67d9378627dc",
            "block_index": 240,
            "block_time": 1740829037
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1740829048
            },
            "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
            "block_index": 243,
            "block_time": 1740829048
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "status": "valid",
                "transfer": false,
                "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
                "tx_index": 120,
                "block_time": 1740829048,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
            "block_index": 243,
            "block_time": 1740829048
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "f4d12929bf09e18a3f5e5a434ce9f7147a5e36c1530c3f3ea69e67d9378627dc",
                "tx_index": 117,
                "block_time": 1740829037,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "f4d12929bf09e18a3f5e5a434ce9f7147a5e36c1530c3f3ea69e67d9378627dc",
            "block_index": 240,
            "block_time": 1740829037
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "status": "open",
                "tx_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
                "tx_index": 119,
                "block_time": 1740829045,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qjs0rju8h4cyel9gr9vefq8xgkq3qrh3r5gywm2",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qjs0rju8h4cyel9gr9vefq8xgkq3qrh3r5gywm2"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
            "block_index": 242,
            "block_time": 1740829045
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "c174aa5a034d7a5f1fb5c83bfa68efaeda8770ac9c390f464ef29e2eb5dc3224_09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qjs0rju8h4cyel9gr9vefq8xgkq3qrh3r5gywm2",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "c174aa5a034d7a5f1fb5c83bfa68efaeda8770ac9c390f464ef29e2eb5dc3224",
                "tx0_index": 118,
                "tx1_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
                "tx1_index": 119,
                "block_time": 1740829045,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qjs0rju8h4cyel9gr9vefq8xgkq3qrh3r5gywm2",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qjs0rju8h4cyel9gr9vefq8xgkq3qrh3r5gywm2"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
            "block_index": 242,
            "block_time": 1740829045
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "09a9ea40d09b684df4217ebf24d162a34cb7edfb0e1d3059128cc3b5c78ee602",
            "block_index": 242,
            "block_time": 1740829045
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "0da9f1752c4ca6ee37cda5df51af6264728d86ed00ce2615db55a58b86510462"
            },
            "tx_hash": "06412ffcbd6edb35c1e8d3675fc49dd9ab65261b7b073c802b28bcdb94f87378",
            "block_index": 182,
            "block_time": 1740828793
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "532f1c4e954b8db13f95a5fce9e503fb8d4076f472d897a96c51903f6657333e_8194c59152c7c4aa71fb100dac3e45fc8d527cc3434147c298a45b4c9d8216d0",
                "order_match_id": "532f1c4e954b8db13f95a5fce9e503fb8d4076f472d897a96c51903f6657333e_8194c59152c7c4aa71fb100dac3e45fc8d527cc3434147c298a45b4c9d8216d0",
                "status": "expired"
            },
            "tx_hash": "c56bb59a7fa00b660b25fb879b69505f26d598089e43c0d142b93a1ff819071d",
            "block_index": 225,
            "block_time": 1740828957
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "order_match_id": "6db18ed5ccfe798fe90df575a303f04e5a7f7971596ecb643f9a9229b80644b4_0da9f1752c4ca6ee37cda5df51af6264728d86ed00ce2615db55a58b86510462",
                "source": "bcrt1q49fda5h0jxa0tzl0n56nvs94l5yayz04tfjc5f",
                "status": "valid",
                "tx_hash": "06412ffcbd6edb35c1e8d3675fc49dd9ab65261b7b073c802b28bcdb94f87378",
                "tx_index": 57,
                "block_time": 1740828793,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "06412ffcbd6edb35c1e8d3675fc49dd9ab65261b7b073c802b28bcdb94f87378",
            "block_index": 182,
            "block_time": 1740828793
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "a7cd369191f065c10ebe7453c34b8e450714f388bebb16660c94bd96f42875d3",
                "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "status": "valid",
                "tx_hash": "83bc5dd0f53f39e7505579a9c61725c4fb59c71b12596600530d9ac52b4b6ccc",
                "tx_index": 63,
                "block_time": 1740828813
            },
            "tx_hash": "83bc5dd0f53f39e7505579a9c61725c4fb59c71b12596600530d9ac52b4b6ccc",
            "block_index": 188,
            "block_time": 1740828813
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "532f1c4e954b8db13f95a5fce9e503fb8d4076f472d897a96c51903f6657333e",
                "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "block_time": 1740828904
            },
            "tx_hash": "3dcd739f3d64c30c0f72a1e633f6f67c1785c989d9ea4e2fd970c0197bb35ef7",
            "block_index": 211,
            "block_time": 1740828904
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "532f1c4e954b8db13f95a5fce9e503fb8d4076f472d897a96c51903f6657333e_8194c59152c7c4aa71fb100dac3e45fc8d527cc3434147c298a45b4c9d8216d0",
                "tx0_address": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "tx1_address": "bcrt1q8dk38auzauzclc4002dcr98nyjlwnum6yht7uz",
                "block_time": 1740828957
            },
            "tx_hash": "c56bb59a7fa00b660b25fb879b69505f26d598089e43c0d142b93a1ff819071d",
            "block_index": 225,
            "block_time": 1740828957
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qraxmhl5se0nasyycw0pmjsqg0p0ns262dkgvm3",
                "satoshirate": 1,
                "source": "bcrt1qraxmhl5se0nasyycw0pmjsqg0p0ns262dkgvm3",
                "status": 0,
                "tx_hash": "bad25a9b2a401e6deb9bb92d2db817b52cf1bca6baaa182726858cec4ce578ee",
                "tx_index": 114,
                "block_time": 1740829024,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "bad25a9b2a401e6deb9bb92d2db817b52cf1bca6baaa182726858cec4ce578ee",
            "block_index": 236,
            "block_time": 1740829024
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "status": 0,
                "tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mkgCt5bWwpkA2HQdGiiT1rze51mhWogVr7",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "4eb706f51f3a49926966500d7077fcdb0bce5acbbc8fda7fe1f0a81916a56c4b",
                "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                "tx_hash": "906523a300f28ded76e1797ad5f3a607391dda02aa54478f2ef967e0dddf57b9",
                "tx_index": 31,
                "block_time": 1740828639,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "906523a300f28ded76e1797ad5f3a607391dda02aa54478f2ef967e0dddf57b9",
            "block_index": 135,
            "block_time": 1740828639
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "tx_index": 121,
                "block_time": 1740829057,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "849687ba372cccfc60c8dff203c79510d9fd69ef2911131a7d9b2ff2c42cc97d",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1740828614,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "849687ba372cccfc60c8dff203c79510d9fd69ef2911131a7d9b2ff2c42cc97d",
            "block_index": 129,
            "block_time": 1740828614
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "start_block": 0,
                "status": "open",
                "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
                "tx_index": 120,
                "block_time": 1740829048,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
            "block_index": 243,
            "block_time": 1740829048
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "f79a7fe3790050694cd12ea2d9a6d982e56b1143b1a5795c07eadf1d74b7b4db"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1740828968
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "0ed86bb695761399b0309987199ec5de9c0ef5264d1fc71ac75c88b887160038",
                "paid_quantity": 100000000,
                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "status": "valid",
                "tx_hash": "96b3adc55c1b6ad57cd78dd14626b34bab64cd19469f6bc607375e92c184f763",
                "tx_index": 97,
                "block_time": 1740828943,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "96b3adc55c1b6ad57cd78dd14626b34bab64cd19469f6bc607375e92c184f763",
            "block_index": 221,
            "block_time": 1740828943
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "caaac41bbe80da514532a41b65401868ce5008dc5a03325c5b7f9a581d9619f3:0",
                "destination_address": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "status": "valid",
                "tx_hash": "caaac41bbe80da514532a41b65401868ce5008dc5a03325c5b7f9a581d9619f3",
                "tx_index": 112,
                "block_time": 1740829017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "caaac41bbe80da514532a41b65401868ce5008dc5a03325c5b7f9a581d9619f3",
            "block_index": 235,
            "block_time": 1740829017
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "74155460d43b3b1d3ec00cf5780bb5420c04685c1c47a5a9d1cd47880e906907:0",
                "source_address": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                "status": "valid",
                "tx_hash": "145ccd57765fa92d2bab9632124e5db981b1c51d1d6bd4a1cae97e72d90f64a7",
                "tx_index": 111,
                "block_time": 1740829014,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "145ccd57765fa92d2bab9632124e5db981b1c51d1d6bd4a1cae97e72d90f64a7",
            "block_index": 234,
            "block_time": 1740829014
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                "destination_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                "source_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                "status": "valid",
                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                "tx_index": 121,
                "block_time": 1740829057,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
            "block_index": 245,
            "block_time": 1740829057
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qag3nh0tw0kunkkgrj5299aece4gjcyl0jfwlht",
                "status": "valid",
                "tx_hash": "d2148757ac842c5f93a46eda14257170736dd4843312724e9de80159089bd3f4",
                "tx_index": 9,
                "block_time": 1740828550,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "d2148757ac842c5f93a46eda14257170736dd4843312724e9de80159089bd3f4",
            "block_index": 112,
            "block_time": 1740828550
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                    "block_time": 1740829057,
                    "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                    "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                    "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                    "previous_block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79",
                    "block_time": 1740829051,
                    "ledger_hash": "3c41527e3a59dab18f0a3d3c6ee5452d0206fa276f8a855d480c9dfb38c056c7",
                    "txlist_hash": "f358e68183bcc663b13423215f0769102059d890a10cc197f94f83233f7b0d3a",
                    "messages_hash": "8a97d2183590cc154698b500f608b70e482c31e9230be8f2b67bb3c2ae69a9d5",
                    "previous_block_hash": "6fff51e803e99e0f4b459178803a5bbe30f7ac7bbc5002da114a5dd3908cc1d2",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "6fff51e803e99e0f4b459178803a5bbe30f7ac7bbc5002da114a5dd3908cc1d2",
                    "block_time": 1740829048,
                    "ledger_hash": "a304b67733f1ce6539afb9f6b20061e4038a949d6fb0d7b935a4f3902bea04fa",
                    "txlist_hash": "99d4126d54a1ede6273d6ec4a41b06513ac9cfdb299dc3edeabae555ac098c2c",
                    "messages_hash": "b7e62f66331a802bd8066a64df778e7e778dc92879e387ae56b0a101f0806d5d",
                    "previous_block_hash": "18f2f869c7a16297a7af98039708a93d444f0397acf7123601a3e8b758b2f88b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "18f2f869c7a16297a7af98039708a93d444f0397acf7123601a3e8b758b2f88b",
                    "block_time": 1740829045,
                    "ledger_hash": "1f1e6bf50ec870475d8e8774ce3575a25e9e2891fd20eb59ef3490e438482406",
                    "txlist_hash": "5ff38efb3ad715957de698dca984deb630377ec6c3c35f580ea993e9c3f81160",
                    "messages_hash": "872cb5b05ce2bb2b7ab8c5b3340fb0b1c736589efb553aaf645dc893ec1f7a59",
                    "previous_block_hash": "79f4e3c7b88806d4110bdde6fec64b0dbea6237fc9f01ba8a78267678194dc89",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "79f4e3c7b88806d4110bdde6fec64b0dbea6237fc9f01ba8a78267678194dc89",
                    "block_time": 1740829042,
                    "ledger_hash": "660434dd10f81388375f8a32f85ab08cd6b2d2170ab50dd9b3b44bb0c77631d6",
                    "txlist_hash": "f5465c81811fea7bc81044776a10ad07ed01eeeec4f7ca771906293e4b203366",
                    "messages_hash": "62ffe70882dd3dbdee87181c927d5b08699a685ec2ec8749ac768d6365e2efe8",
                    "previous_block_hash": "23c6cb0aad5240b09874e056b9df369fc393eab12c8f0bb78b9f7edb5e0fd1e8",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                "block_time": 1740829057,
                "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                "previous_block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                "block_time": 1740829057,
                "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                "previous_block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                "block_time": 1740829057,
                "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                "previous_block_hash": "328079132fb07c130d9e9ca79fc0e011f0df928084d8a6e08e2d26d59bb62d79",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "block_index": 245,
                    "block_hash": "584e94805a525a0cd089eac6b17da6fa81ecd9b89207ec7b6bd099f5945a2603",
                    "block_time": 1740829057,
                    "source": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "destination": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1 5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                                "destination_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                                "source_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                                "status": "valid",
                                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                                "tx_index": 121,
                                "block_time": 1740829057,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                            "block_index": 245,
                            "block_time": 1740829057
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                                "destination_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                                "source_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                                "status": "valid",
                                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                                "tx_index": 121,
                                "block_time": 1740829057,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                            "block_index": 245,
                            "block_time": 1740829057
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                                "status": 0,
                                "tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                            "block_index": 245,
                            "block_time": 1740829057
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                                "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                                "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                                "tx_index": 121,
                                "block_time": 1740829057,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                            "block_index": 245,
                            "block_time": 1740829057
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "ebef3aae800476295d0b74454f81e5e150b5337edbb860ba126329b74a2f0619",
                        "messages_hash": "a9e07cbe1d45046a30ccfaaa6ff19a8a14692a1f3b9babef48c7a5d7b51631a6",
                        "transaction_count": 1,
                        "txlist_hash": "dd4612f219ea5359cff45f287a761b3806f59b3c0a0a1f0859196bb7b8f80988",
                        "block_time": 1740829057
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "tx_index": 121
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                        "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                        "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "tx_index": 121,
                        "block_time": 1740829057,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                        "status": 0,
                        "tx_hash": "9a06035be4331fa9a3dfa3847731ddd670ccb0ff02468a5dfb38b35dcb8f2be4",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740829057,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740829057,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                        "utxo_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                        "block_time": 1740829057,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                        "utxo_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                        "block_time": 1740829057,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "tx_index": 121,
                    "utxo": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                    "utxo_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "tx_index": 121,
                    "utxo": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                    "utxo_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "tx_index": 121,
                    "utxo": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                    "utxo_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "tx_index": 121,
                    "utxo": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                    "utxo_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "532f1c4e954b8db13f95a5fce9e503fb8d4076f472d897a96c51903f6657333e",
                    "block_index": 211,
                    "block_time": 1740828904
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "83bc5dd0f53f39e7505579a9c61725c4fb59c71b12596600530d9ac52b4b6ccc",
                    "block_index": 188,
                    "source": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                    "offer_hash": "a7cd369191f065c10ebe7453c34b8e450714f388bebb16660c94bd96f42875d3",
                    "status": "valid",
                    "block_time": 1740828813
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "f4d12929bf09e18a3f5e5a434ce9f7147a5e36c1530c3f3ea69e67d9378627dc",
                    "block_index": 240,
                    "source": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1740829037,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qukwfd6trxakygpqy5rdt0h69p8m56x70dgnsch"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "22957b497506e54ed5af74f3c274b2b14d2fbf2cd38da80682e21b2be1fd4472",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "issuer": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1740829048,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "block_index": 245,
                    "source": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                    "destination": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "destination_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a",
                    "block_index": 245,
                    "source": "5957cd9a628079a6cba7b3b9c206dddddc3e7c701dcf4381227f372c89d9d70d:1",
                    "destination": "5c6fa65482e0057a1dfefc46afce6fa0044c2082ac1d1a4e878af7ca34c8611a:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qu66rp85y7nzg3gtsu4e36x9nhvw9xglev3u075",
                    "destination_address": "bcrt1qg8rg85jnknum7739emq6xgqgrueh58vgzrz87m",
                    "block_time": 1740829057,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q420sjm8vfll2e8hfeje5ga4xedc7e5qnawe56w"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
[...]
