[//]: # (Generated by genapidoc.py on 2025-01-31 17:24:47.159132. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                "block_index": 245,
                "block_time": 1738344268,
                "difficulty": 545259519,
                "previous_block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                "block_index": 245,
                "block_time": 1738344268,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "fee": 0,
                "source": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                "transaction_type": "dispense",
                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "tx_index": 121,
                "utxos_info": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1 f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "out_index": 0,
                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "tx_index": 121,
                "block_time": 1738344268,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                "transaction_count": 1,
                "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                "block_time": 1738344268
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "tx_index": 121
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                "utxo_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                "block_time": 1738344268,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738344268,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q3dcw6nj8lsf525uwagqd9lglhgur933wpyej62",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "status": "valid",
                "tx_hash": "56bef1f77828f8ef22940f69e33544f5f6c40544e98ef85359992060d4f7106a",
                "tx_index": 77,
                "block_time": 1738344098,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "56bef1f77828f8ef22940f69e33544f5f6c40544e98ef85359992060d4f7106a",
            "block_index": 201,
            "block_time": 1738344098
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q3dcw6nj8lsf525uwagqd9lglhgur933wpyej62",
                "status": "valid",
                "tx_hash": "697ebd28ac4f8e75a40635f3063f6322479550e5cf7553ad84376eb5c0ed7a62",
                "tx_index": 81,
                "block_time": 1738344112,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "697ebd28ac4f8e75a40635f3063f6322479550e5cf7553ad84376eb5c0ed7a62",
            "block_index": 205,
            "block_time": 1738344112
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q5n4t8xe0uyc7lynm8qu45pke86yx78mp5v0zyn",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q5l470w5xkq6pm90ax0qcsxj7p8wrya9y789w3m",
                "status": "valid",
                "tx_hash": "0bb0217dd78bbfdb27b0c97a766addc620dff1d0eb7f573da1045ad34a2065bf",
                "tx_index": 65,
                "block_time": 1738344056,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "0bb0217dd78bbfdb27b0c97a766addc620dff1d0eb7f573da1045ad34a2065bf",
            "block_index": 190,
            "block_time": 1738344056
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "status": "valid",
                "tx_hash": "65dd3a4111f18b722eea75cd1bf29d4c09073516fcfcfd27cfd230d2447d4316",
                "tx_index": 42,
                "block_time": 1738343912,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "65dd3a4111f18b722eea75cd1bf29d4c09073516fcfcfd27cfd230d2447d4316",
            "block_index": 146,
            "block_time": 1738343912
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "status": "valid",
                "transfer": false,
                "tx_hash": "45e6d86cb60d69114efe774149b4dad79f276b30a75e0e5833a579d024d2fd5d",
                "tx_index": 117,
                "block_time": 1738344248,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "45e6d86cb60d69114efe774149b4dad79f276b30a75e0e5833a579d024d2fd5d",
            "block_index": 240,
            "block_time": 1738344248
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738344259
            },
            "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
            "block_index": 243,
            "block_time": 1738344259
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "status": "valid",
                "transfer": false,
                "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
                "tx_index": 120,
                "block_time": 1738344259,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
            "block_index": 243,
            "block_time": 1738344259
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "45e6d86cb60d69114efe774149b4dad79f276b30a75e0e5833a579d024d2fd5d",
                "tx_index": 117,
                "block_time": 1738344248,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "45e6d86cb60d69114efe774149b4dad79f276b30a75e0e5833a579d024d2fd5d",
            "block_index": 240,
            "block_time": 1738344248
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "status": "open",
                "tx_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
                "tx_index": 119,
                "block_time": 1738344256,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpur076jkcnjl8prdmp4djfs9g5ajhghnek6nh0",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
            "block_index": 242,
            "block_time": 1738344256
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "75d9fef84710f47f4db88f7a4a26dc257d24d0c244587cdd1c6aceed74f586de_b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qpur076jkcnjl8prdmp4djfs9g5ajhghnek6nh0",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "75d9fef84710f47f4db88f7a4a26dc257d24d0c244587cdd1c6aceed74f586de",
                "tx0_index": 118,
                "tx1_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
                "tx1_index": 119,
                "block_time": 1738344256,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpur076jkcnjl8prdmp4djfs9g5ajhghnek6nh0",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
            "block_index": 242,
            "block_time": 1738344256
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "b0c656ac211e0f252bffedc60b9e9def5ab86f7ab7572613e4aab30303108e23",
            "block_index": 242,
            "block_time": 1738344256
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "7f5d924cd65457599bdae93340a052802ab96e7373857f13adece2ed24a18a92"
            },
            "tx_hash": "d74ed2354e4138f1740df9e740e6490890a4c60a4060ac9e543d7e3f1af37fd7",
            "block_index": 182,
            "block_time": 1738344028
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "b03720501ab67d3c14fc4d5b32995623320a66ae4c26c4be685a057c46ef3877_f81c4fd4e8ec56ad400187a11c3e53f4b9b763599b2d96cb356e6972bdbd24c2",
                "order_match_id": "b03720501ab67d3c14fc4d5b32995623320a66ae4c26c4be685a057c46ef3877_f81c4fd4e8ec56ad400187a11c3e53f4b9b763599b2d96cb356e6972bdbd24c2",
                "status": "expired"
            },
            "tx_hash": "a7053ff5b350b2bd3257ee022f43c9e61c5d2e6e6d0b26d24f93d06ec7418041",
            "block_index": 225,
            "block_time": 1738344183
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "order_match_id": "ea7e0b683374bb59d1d1eadd015e9e9f0f6617120188a04222986169bbeb722f_7f5d924cd65457599bdae93340a052802ab96e7373857f13adece2ed24a18a92",
                "source": "bcrt1q3dcw6nj8lsf525uwagqd9lglhgur933wpyej62",
                "status": "valid",
                "tx_hash": "d74ed2354e4138f1740df9e740e6490890a4c60a4060ac9e543d7e3f1af37fd7",
                "tx_index": 57,
                "block_time": 1738344028,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "d74ed2354e4138f1740df9e740e6490890a4c60a4060ac9e543d7e3f1af37fd7",
            "block_index": 182,
            "block_time": 1738344028
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "9648e94a34539b7c450e7eda5315751a2341e3698cbf10c99d3370b7ca71eaeb",
                "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "status": "valid",
                "tx_hash": "9a4180b4f83f8e3ceefef910ceeb713b95fd8cd70a9697dd0b17b339f2cde02b",
                "tx_index": 63,
                "block_time": 1738344050
            },
            "tx_hash": "9a4180b4f83f8e3ceefef910ceeb713b95fd8cd70a9697dd0b17b339f2cde02b",
            "block_index": 188,
            "block_time": 1738344050
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "b03720501ab67d3c14fc4d5b32995623320a66ae4c26c4be685a057c46ef3877",
                "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "block_time": 1738344134
            },
            "tx_hash": "deef909c2f61b22924192721434bc97e2d7dfa3c154f4b4e8a15bf03d973000a",
            "block_index": 211,
            "block_time": 1738344134
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "b03720501ab67d3c14fc4d5b32995623320a66ae4c26c4be685a057c46ef3877_f81c4fd4e8ec56ad400187a11c3e53f4b9b763599b2d96cb356e6972bdbd24c2",
                "tx0_address": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "tx1_address": "bcrt1q5l470w5xkq6pm90ax0qcsxj7p8wrya9y789w3m",
                "block_time": 1738344183
            },
            "tx_hash": "a7053ff5b350b2bd3257ee022f43c9e61c5d2e6e6d0b26d24f93d06ec7418041",
            "block_index": 225,
            "block_time": 1738344183
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qw7c3tjdax4wf0deef2uvwh2542kvuj8pkxymfx",
                "satoshirate": 1,
                "source": "bcrt1qw7c3tjdax4wf0deef2uvwh2542kvuj8pkxymfx",
                "status": 0,
                "tx_hash": "64da5ff41fbed2304f9a2f61400113685c2ae48d55ed1df5558fd83fcf4aa742",
                "tx_index": 114,
                "block_time": 1738344234,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "64da5ff41fbed2304f9a2f61400113685c2ae48d55ed1df5558fd83fcf4aa742",
            "block_index": 236,
            "block_time": 1738344234
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "status": 0,
                "tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "ms7FfFiMnxfNb7mQJqXSPo7uhSePJSYX8U",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "654c00df7b20368644b650a68f59f7737689809cb604c2c4bbb72671359f1963",
                "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                "tx_hash": "f6d907da1d4552cfc1d53158512a70f298c7a74c31f206f38855a76ea8d58b07",
                "tx_index": 31,
                "block_time": 1738343870,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "f6d907da1d4552cfc1d53158512a70f298c7a74c31f206f38855a76ea8d58b07",
            "block_index": 135,
            "block_time": 1738343870
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "tx_index": 121,
                "block_time": 1738344268,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "fb91c5fae83f594ec89aad9a7da28ce43d24d11cda9e211387369a40806b8c3a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738343849,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "fb91c5fae83f594ec89aad9a7da28ce43d24d11cda9e211387369a40806b8c3a",
            "block_index": 129,
            "block_time": 1738343849
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "start_block": 0,
                "status": "open",
                "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
                "tx_index": 120,
                "block_time": 1738344259,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
            "block_index": 243,
            "block_time": 1738344259
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ac58a2fcf2f7d282e3ddc304e675c5429110d509ebc1f22a7fdb5f89df1a456a"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738344193
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "9dd10e79d39be22dccc9e02d3f4246be382cbd3316e108d88fb54f9b10408f88",
                "paid_quantity": 100000000,
                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "status": "valid",
                "tx_hash": "49ccec99954a3ca94e29c91bb21ed1c6f4ce9052ffeff7da1da1aa0edc709c0f",
                "tx_index": 97,
                "block_time": 1738344168,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "49ccec99954a3ca94e29c91bb21ed1c6f4ce9052ffeff7da1da1aa0edc709c0f",
            "block_index": 221,
            "block_time": 1738344168
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "e092b4095bb3892aaef6776dc9d107ef5519d8aa497f30dfc65541d546ea17ec:0",
                "destination_address": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "status": "valid",
                "tx_hash": "e092b4095bb3892aaef6776dc9d107ef5519d8aa497f30dfc65541d546ea17ec",
                "tx_index": 112,
                "block_time": 1738344229,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e092b4095bb3892aaef6776dc9d107ef5519d8aa497f30dfc65541d546ea17ec",
            "block_index": 235,
            "block_time": 1738344229
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "4d7b1acfd608e1ae385482db46e8a0cb6c5fe55c00315c55541d8a26daefc951:0",
                "source_address": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                "status": "valid",
                "tx_hash": "32c60034126c1b9d265125e1cf6dfffd0e65e4b437ea183ebcb907d79b279198",
                "tx_index": 111,
                "block_time": 1738344225,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "32c60034126c1b9d265125e1cf6dfffd0e65e4b437ea183ebcb907d79b279198",
            "block_index": 234,
            "block_time": 1738344225
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                "destination_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                "source_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                "status": "valid",
                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                "tx_index": 121,
                "block_time": 1738344268,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
            "block_index": 245,
            "block_time": 1738344268
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qw7c3tjdax4wf0deef2uvwh2542kvuj8pkxymfx",
                "status": "valid",
                "tx_hash": "5a5b604d3350eedc1a9cf069a6e2a38298be5d9dd271d7745370331e5fa2a6bc",
                "tx_index": 9,
                "block_time": 1738343785,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "5a5b604d3350eedc1a9cf069a6e2a38298be5d9dd271d7745370331e5fa2a6bc",
            "block_index": 112,
            "block_time": 1738343785
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                    "block_time": 1738344268,
                    "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                    "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                    "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                    "previous_block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575",
                    "block_time": 1738344262,
                    "ledger_hash": "3e772fe2134f902698a32a7f6b2c5e642334cd29b9b22b00fff2961f2328fec5",
                    "txlist_hash": "a6e918d765f58b7d5a538c8431222c3a0253ffc4ceb12be5fd59b3690a4e6471",
                    "messages_hash": "2ba895c3deca3053d74824ccc94fb96f605b2d7294ba9d918b3096875c8a4d5c",
                    "previous_block_hash": "249320034fd9da89d0ca91eb210c3cf4709f6aac51b6dcef534f58869e18019d",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "249320034fd9da89d0ca91eb210c3cf4709f6aac51b6dcef534f58869e18019d",
                    "block_time": 1738344259,
                    "ledger_hash": "10fa03f988a69f228068c9c2429115e84849076eadbe4d9b7943e0bff336d4c1",
                    "txlist_hash": "af6ad00fa9b20e842f282ac4454ebf174cf7641fc3e787d6073ff66bc1f242b2",
                    "messages_hash": "484c42dc89bdae6cd358e3be10b72cdb41ce6b1994c425f09a576a9362ed9af7",
                    "previous_block_hash": "4b92a6c274d22b8af5e4f3e8cb7be1d0d16448da4b2e6cb6808028d73fff27a0",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "4b92a6c274d22b8af5e4f3e8cb7be1d0d16448da4b2e6cb6808028d73fff27a0",
                    "block_time": 1738344256,
                    "ledger_hash": "61c0508bb99e03bbedb2ccf65227f58f938aafdf3fd938666a6cf3ece5f8960d",
                    "txlist_hash": "4158029ddadf1c6ac1e88a8263ec647a38346b70d87ee7d68120a9b026335f61",
                    "messages_hash": "3b184fa64f3c6aac1a9b6b2c029ff9877fa5b0d42a5b08a5feaa1931288a7e9f",
                    "previous_block_hash": "62b7f738b1465a72dbd605a7c985fbacbc734192a5916e47c0578a039dfd0e2a",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "62b7f738b1465a72dbd605a7c985fbacbc734192a5916e47c0578a039dfd0e2a",
                    "block_time": 1738344251,
                    "ledger_hash": "71071720cbfb868472d2f7c969db523a6c6ebeec4c224016d40a5575fae42fda",
                    "txlist_hash": "9dee93e36080295f38032eb6c52ab5fefc956b7f92fe0144b09968023f860e56",
                    "messages_hash": "cf24f253c38cf25c325853f198599aa88d49063d4fb181a269d5873b8ecf47f4",
                    "previous_block_hash": "48d0a049d78f78f063f07cf2b36c83fd15f7c8d7bcd08f4808d4bd9b16a9bc2d",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                "block_time": 1738344268,
                "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                "previous_block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                "block_time": 1738344268,
                "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                "previous_block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                "block_time": 1738344268,
                "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                "previous_block_hash": "19eb35de0ab17c008d36c946194f4b330b4ca6a122c28caa4a1b5ae5ce110575",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "block_index": 245,
                    "block_hash": "1f979ed4d2d0f6cffca955563e06c974c1a9db8831b7913d0e343440eb40a221",
                    "block_time": 1738344268,
                    "source": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "destination": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1 f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                                "destination_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                                "source_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                                "status": "valid",
                                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                                "tx_index": 121,
                                "block_time": 1738344268,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                            "block_index": 245,
                            "block_time": 1738344268
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                                "destination_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                                "source_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                                "status": "valid",
                                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                                "tx_index": 121,
                                "block_time": 1738344268,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                            "block_index": 245,
                            "block_time": 1738344268
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                                "status": 0,
                                "tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                            "block_index": 245,
                            "block_time": 1738344268
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                                "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                                "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                                "tx_index": 121,
                                "block_time": 1738344268,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                            "block_index": 245,
                            "block_time": 1738344268
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "3ed46c4ccc9eb55ad7cc80a6cd813bdb4cb9aadb2c9ea048bc3fdc420dd087c2",
                        "messages_hash": "3cfc2419f160da2642ada6c9c3b8c0990a95703b966c6a441bc73bb8603863d8",
                        "transaction_count": 1,
                        "txlist_hash": "f953f33b84e132c81f5eb54268d7b344b96b2494654b821f816f07996e64229e",
                        "block_time": 1738344268
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "tx_index": 121
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                        "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "tx_index": 121,
                        "block_time": 1738344268,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "status": 0,
                        "tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738344268,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738344268,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                        "utxo_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "block_time": 1738344268,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                        "utxo_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "block_time": 1738344268,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "tx_index": 121,
                    "utxo": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                    "utxo_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "tx_index": 121,
                    "utxo": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                    "utxo_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "tx_index": 121,
                    "utxo": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                    "utxo_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "tx_index": 121,
                    "utxo": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                    "utxo_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "b03720501ab67d3c14fc4d5b32995623320a66ae4c26c4be685a057c46ef3877",
                    "block_index": 211,
                    "block_time": 1738344134
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "9a4180b4f83f8e3ceefef910ceeb713b95fd8cd70a9697dd0b17b339f2cde02b",
                    "block_index": 188,
                    "source": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                    "offer_hash": "9648e94a34539b7c450e7eda5315751a2341e3698cbf10c99d3370b7ca71eaeb",
                    "status": "valid",
                    "block_time": 1738344050
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "45e6d86cb60d69114efe774149b4dad79f276b30a75e0e5833a579d024d2fd5d",
                    "block_index": 240,
                    "source": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738344248,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qxx5g9cje8kcvc3yztu9k2akkn6m83lxvsvzeac",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "98337d4f69b428209f3ab0c7f50f42a4dfcdc4f683a3628cbd1b2a0f4e4c5074",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "issuer": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738344259,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "block_index": 245,
                    "source": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                    "destination": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "destination_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "block_index": 245,
                    "source": "4da188ebe26e2ff494ff40d2ea9d79489bd59986c76b2e40e3674987da127c1e:1",
                    "destination": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "destination_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q347qkmph0yzwc69ay9w59geplrlzv0lgdw6xda",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "f6a70d4ba3816038e9ec0bfd0b967f7dd0cbf1f11e0592ab9dbc851ad35c8164",
                    "block_index": 245,
                    "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                    "destination": "bcrt1qxlzkqex9aez0hq8z0v9ydt9nrs97n9e3jvad5a",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "e96b1f3b3d9f60437277d2c338ed373303758083cc989b3e0308e787cbd0329e",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q74yqyax0xzgg8lgc4qvxq5945t4s95mnsdcq35",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738344268,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
