[//]: # (Generated by genapidoc.py on 2024-09-21 20:27:25.622373. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                "block_index": 193,
                "block_time": 1726950429,
                "difficulty": 545259519,
                "previous_block_hash": "5377165a0880d53ad173e3c10117760b17ebb154e9ec02c2429cf811a5c7878e"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                "block_index": 193,
                "block_time": 1726950429,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                "tx_index": 59,
                "utxos_info": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "out_index": 0,
                "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
                "tx_index": 33,
                "block_time": 1726950217,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
            "block_index": 146,
            "block_time": 1726950217
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "63a6c629a7931bf4ab95199c14d72b7107f4b67fe1016fd7ef86c46cda08f525",
                "messages_hash": "23842303434d08be147fa466bf64d349514dfe974632337ad9fa811889fd80b9",
                "transaction_count": 1,
                "txlist_hash": "f5c69e96eafa7a1001b041ef560463cbfce7d7e02b0a1b444b6a16ccbbfd5d89",
                "block_time": 1726950429
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                "tx_index": 59
            },
            "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "asset": "XCP",
                "block_index": 193,
                "event": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726950429,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726950425,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
            "block_index": 192,
            "block_time": 1726950425
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                "status": "valid",
                "tx_hash": "2f2a275f2575cdfaf4b75ac1ce536b9e2db124de976957d1af7bd10319a5ca5d",
                "tx_index": 53,
                "block_time": 1726950394,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "2f2a275f2575cdfaf4b75ac1ce536b9e2db124de976957d1af7bd10319a5ca5d",
            "block_index": 187,
            "block_time": 1726950394
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "valid",
                "tx_hash": "c41c35e53f1085213addb1e4536f40de562d2173c06c2d84ad1d5b39222378f4",
                "tx_index": 54,
                "block_time": 1726950398,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "c41c35e53f1085213addb1e4536f40de562d2173c06c2d84ad1d5b39222378f4",
            "block_index": 188,
            "block_time": 1726950398
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                "status": "valid",
                "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                "tx_index": 58,
                "block_time": 1726950425,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
            "block_index": 192,
            "block_time": 1726950425
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "valid",
                "tx_hash": "cccec4da49d1a3328017341c39fac2ae50ad5a4e22a54c0ae27551c7b6a9bd85",
                "tx_index": 40,
                "block_time": 1726950256,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "cccec4da49d1a3328017341c39fac2ae50ad5a4e22a54c0ae27551c7b6a9bd85",
            "block_index": 153,
            "block_time": 1726950256
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726950282
            },
            "tx_hash": "9272039e373fbe1c5b5b826d9dacb5dd3614beee9afc35f106c162a4f2ecec88",
            "block_index": 159,
            "block_time": 1726950282
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "valid",
                "transfer": false,
                "tx_hash": "9272039e373fbe1c5b5b826d9dacb5dd3614beee9afc35f106c162a4f2ecec88",
                "tx_index": 46,
                "block_time": 1726950282,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "9272039e373fbe1c5b5b826d9dacb5dd3614beee9afc35f106c162a4f2ecec88",
            "block_index": 159,
            "block_time": 1726950282
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                "tx_index": 59,
                "block_time": 1726950429,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
            "block_index": 193,
            "block_time": 1726950429
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "open",
                "tx_hash": "b662398699fb4a0310f85da9cb71bbc80bb91b674e2a7f7a54f99f688f08f055",
                "tx_index": 57,
                "block_time": 1726950421,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "b662398699fb4a0310f85da9cb71bbc80bb91b674e2a7f7a54f99f688f08f055",
            "block_index": 191,
            "block_time": 1726950421
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0_f18a6458ec42b6ffb621a67ed5c17c36aa768f14d0087e3ae0e74f0830d93448",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0",
                "tx0_index": 49,
                "tx1_address": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "f18a6458ec42b6ffb621a67ed5c17c36aa768f14d0087e3ae0e74f0830d93448",
                "tx1_index": 52,
                "block_time": 1726950389,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f18a6458ec42b6ffb621a67ed5c17c36aa768f14d0087e3ae0e74f0830d93448",
            "block_index": 186,
            "block_time": 1726950389
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "b6256205e1c61ba42dd9ad6871dadc772e31facaec3a5b2d8d221c60f1fbfc26"
            },
            "tx_hash": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd",
            "block_index": 190,
            "block_time": 1726950417
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec"
            },
            "tx_hash": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5",
            "block_index": 185,
            "block_time": 1726950385
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0_1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
                "order_match_id": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0_1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
                "status": "completed"
            },
            "tx_hash": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5",
            "block_index": 185,
            "block_time": 1726950385
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "order_match_id": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0_1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
                "source": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                "status": "valid",
                "tx_hash": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5",
                "tx_index": 51,
                "block_time": 1726950385,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5",
            "block_index": 185,
            "block_time": 1726950385
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "b6256205e1c61ba42dd9ad6871dadc772e31facaec3a5b2d8d221c60f1fbfc26",
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "valid",
                "tx_hash": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd",
                "tx_index": 56,
                "block_time": 1726950417
            },
            "tx_hash": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd",
            "block_index": 190,
            "block_time": 1726950417
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "6ff8c85d0471568ece5040d63f699350c321a01d71daf0f6059dd5c4c4019f4d",
                "source": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                "block_time": 1726950308
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726950308
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "e4cf7100c7e91a2c52abb813ac1fc16ab410f9d46d76c49cf05cb3ee83754888_6ff8c85d0471568ece5040d63f699350c321a01d71daf0f6059dd5c4c4019f4d",
                "tx0_address": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "tx1_address": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                "block_time": 1726950308
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726950308
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "origin": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "satoshirate": 1,
                "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "status": 0,
                "tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
                "tx_index": 32,
                "block_time": 1726950213,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
            "block_index": 145,
            "block_time": 1726950213
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "status": 0,
                "tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
            "block_index": 146,
            "block_time": 1726950217
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "myw2gnUjyQk3M8df2PczAdDghPFxkySJAb",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "4aef4b2cfe62258d0d0baa1b587dca3ff62ce9f1e220dcda0e2afc785991e4d8",
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "tx_hash": "da3e84b4976d41d317b9af30be69bf3e402f496316d4b7be76dfa6882ef99186",
                "tx_index": 31,
                "block_time": 1726950210,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "da3e84b4976d41d317b9af30be69bf3e402f496316d4b7be76dfa6882ef99186",
            "block_index": 144,
            "block_time": 1726950210
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qn2r56n89hd7vdl8c38vdvx3u6en703pamf2lgh",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
                "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
                "tx_index": 33,
                "block_time": 1726950217,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
            "block_index": 146,
            "block_time": 1726950217
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "499f4bc62f161e1a8d876263aa7b1a5d6633b04b86e914aade540ba251375198",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726950185,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "499f4bc62f161e1a8d876263aa7b1a5d6633b04b86e914aade540ba251375198",
            "block_index": 138,
            "block_time": 1726950185
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "start_block": 0,
                "status": "open",
                "tx_hash": "8673e4373d50ca2ce83017ee98bd6ef0d0d20ae81e537f54b430df38c6bc172d",
                "tx_index": 22,
                "block_time": 1726950172
            },
            "tx_hash": "8673e4373d50ca2ce83017ee98bd6ef0d0d20ae81e537f54b430df38c6bc172d",
            "block_index": 135,
            "block_time": 1726950172
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "e69f3ddbfd1ba8c631b757819d7664ca2bc7041fcd5a75be8e2711eea2cac9f8"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726950151
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "8673e4373d50ca2ce83017ee98bd6ef0d0d20ae81e537f54b430df38c6bc172d",
                "paid_quantity": 34,
                "source": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                "status": "valid",
                "tx_hash": "34bec257ccf1f8c374493fc15f7cbb1af6846494d3b097680b0826b82f088d9d",
                "tx_index": 23,
                "block_time": 1726950177,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "34bec257ccf1f8c374493fc15f7cbb1af6846494d3b097680b0826b82f088d9d",
            "block_index": 136,
            "block_time": 1726950177
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "2bd8ebce63bdb40be9a384aeaed3b28d260bcd84679b61ea8dd5e233f5d27aae:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                "status": "valid",
                "tx_hash": "2bd8ebce63bdb40be9a384aeaed3b28d260bcd84679b61ea8dd5e233f5d27aae",
                "tx_index": 38,
                "block_time": 1726950248,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2bd8ebce63bdb40be9a384aeaed3b28d260bcd84679b61ea8dd5e233f5d27aae",
            "block_index": 151,
            "block_time": 1726950248
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qjtaw0zshvxcpkp63ek9dueqz0hgqkgxxgx7fuj",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "facd73ce7e552dab11a369e33253c91a09a63e697ed4542f29c5e0a118eb3a01:0",
                "status": "valid",
                "tx_hash": "c687f93269aa03f150204db384563efed1dfa9dd7319d77a879e3a346e36471c",
                "tx_index": 37,
                "block_time": 1726950243,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c687f93269aa03f150204db384563efed1dfa9dd7319d77a879e3a346e36471c",
            "block_index": 150,
            "block_time": 1726950243
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "4e17c5cb4bc3142270a0570745ca581775fb483156941e8b10593adfcf6c68ee:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "163c20b3bb4f0e8a127d2398d6a1fe9d182e9bf75be3f3af24aa8cbd4651f78f:0",
                "status": "valid",
                "tx_hash": "4e17c5cb4bc3142270a0570745ca581775fb483156941e8b10593adfcf6c68ee",
                "tx_index": 42,
                "block_time": 1726950266,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "4e17c5cb4bc3142270a0570745ca581775fb483156941e8b10593adfcf6c68ee",
            "block_index": 155,
            "block_time": 1726950266
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qwqs0vxzwhmrrq95fnvdhz0dlywewnjusllcjc7",
                "status": "valid",
                "tx_hash": "b59307cc2ac4f942129759aae2c01c6787c312068f1f9274b9fca33b37cf2b5b",
                "tx_index": 9,
                "block_time": 1726950113,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "b59307cc2ac4f942129759aae2c01c6787c312068f1f9274b9fca33b37cf2b5b",
            "block_index": 121,
            "block_time": 1726950113
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                    "block_time": 1726950429,
                    "previous_block_hash": "5377165a0880d53ad173e3c10117760b17ebb154e9ec02c2429cf811a5c7878e",
                    "difficulty": 545259519,
                    "ledger_hash": "63a6c629a7931bf4ab95199c14d72b7107f4b67fe1016fd7ef86c46cda08f525",
                    "txlist_hash": "f5c69e96eafa7a1001b041ef560463cbfce7d7e02b0a1b444b6a16ccbbfd5d89",
                    "messages_hash": "23842303434d08be147fa466bf64d349514dfe974632337ad9fa811889fd80b9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "5377165a0880d53ad173e3c10117760b17ebb154e9ec02c2429cf811a5c7878e",
                    "block_time": 1726950425,
                    "previous_block_hash": "21be7e7db81fd99163595b3c26a0e1b7d8b50ae837cd339fc3602693702ebc38",
                    "difficulty": 545259519,
                    "ledger_hash": "dae4aa18c818cf73356ae2538c5a128aab9652e31d3624deab317f635f240de3",
                    "txlist_hash": "2c6782906fccd6b50403d5f0cde890b85661d684650a67eeea3fbb61d893ea5a",
                    "messages_hash": "768e34bdb9fdd5c9805b7cc009eb4dc2d616c0eb60b0e69406f3d7a296973085",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "21be7e7db81fd99163595b3c26a0e1b7d8b50ae837cd339fc3602693702ebc38",
                    "block_time": 1726950421,
                    "previous_block_hash": "27e860cc72fbd13d937f5d53894473cdec16612f8b3a5c708a5cf6676b57a478",
                    "difficulty": 545259519,
                    "ledger_hash": "d03e39607e9fd68726675c128d69cfaa1cd44a77ab03dd23287e4de22ce338e3",
                    "txlist_hash": "a2d3060eb32f38f0ef6849fcc09c56112eceec36516dbc142534648915a0e59b",
                    "messages_hash": "808eb90f60258406e139d977da28defeaa59b9f188b7a234cd729feba830dd25",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "27e860cc72fbd13d937f5d53894473cdec16612f8b3a5c708a5cf6676b57a478",
                    "block_time": 1726950417,
                    "previous_block_hash": "5aa33299fee53ddd0fb4f86ddb1dbd45d1fdaa8332537a4fdb69892979db6de0",
                    "difficulty": 545259519,
                    "ledger_hash": "a4bcdd2aeceb344ca201fadf8783f0124ec2261604874ec80cd2b43000af0774",
                    "txlist_hash": "a5d93acd26bd4f1fb7d65fd0ec9106b4b157a717b293ecb06ae1d59fa5991917",
                    "messages_hash": "22fa8a357331aa52a6479b19d56d72967c2dc8b06421543347709ce788c43fa9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "5aa33299fee53ddd0fb4f86ddb1dbd45d1fdaa8332537a4fdb69892979db6de0",
                    "block_time": 1726950402,
                    "previous_block_hash": "0d5917e665af2adf0e67fa25a3703c9fec72d0d4fead388ec0fd867bb676dd3a",
                    "difficulty": 545259519,
                    "ledger_hash": "9ffe2f005d1d4cba5d039c3c09312f34813be6ce60cec8137b5f3351b2b2f0fc",
                    "txlist_hash": "534af2b951fb094ca3cbdc5db77d750a7b0ac403cc3cceced1c6993f27896e1c",
                    "messages_hash": "1ea76d522ee2dc6e8dccdef6d972f84ed3253a08faabd3b8f87f50eedbb8124c",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                "block_time": 1726950429,
                "previous_block_hash": "5377165a0880d53ad173e3c10117760b17ebb154e9ec02c2429cf811a5c7878e",
                "difficulty": 545259519,
                "ledger_hash": "63a6c629a7931bf4ab95199c14d72b7107f4b67fe1016fd7ef86c46cda08f525",
                "txlist_hash": "f5c69e96eafa7a1001b041ef560463cbfce7d7e02b0a1b444b6a16ccbbfd5d89",
                "messages_hash": "23842303434d08be147fa466bf64d349514dfe974632337ad9fa811889fd80b9",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                "block_time": 1726950429,
                "previous_block_hash": "5377165a0880d53ad173e3c10117760b17ebb154e9ec02c2429cf811a5c7878e",
                "difficulty": 545259519,
                "ledger_hash": "63a6c629a7931bf4ab95199c14d72b7107f4b67fe1016fd7ef86c46cda08f525",
                "txlist_hash": "f5c69e96eafa7a1001b041ef560463cbfce7d7e02b0a1b444b6a16ccbbfd5d89",
                "messages_hash": "23842303434d08be147fa466bf64d349514dfe974632337ad9fa811889fd80b9",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                    "block_index": 193,
                    "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
                    "block_time": 1726950429,
                    "source": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "dae4aa18c818cf73356ae2538c5a128aab9652e31d3624deab317f635f240de3",
                        "messages_hash": "768e34bdb9fdd5c9805b7cc009eb4dc2d616c0eb60b0e69406f3d7a296973085",
                        "transaction_count": 1,
                        "txlist_hash": "2c6782906fccd6b50403d5f0cde890b85661d684650a67eeea3fbb61d893ea5a",
                        "block_time": 1726950425
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "tx_index": 58
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                        "status": "valid",
                        "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "tx_index": 58,
                        "block_time": 1726950425,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726950425,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726950425,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726950425,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726950425,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726950425,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726950425,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726950425,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726950425,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726950429,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "6ff8c85d0471568ece5040d63f699350c321a01d71daf0f6059dd5c4c4019f4d",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726950308
                },
                {
                    "type": "order",
                    "object_id": "e4cf7100c7e91a2c52abb813ac1fc16ab410f9d46d76c49cf05cb3ee83754888",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726950308
                },
                {
                    "type": "order_match",
                    "object_id": "e4cf7100c7e91a2c52abb813ac1fc16ab410f9d46d76c49cf05cb3ee83754888_6ff8c85d0471568ece5040d63f699350c321a01d71daf0f6059dd5c4c4019f4d",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726950308
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd",
                    "block_index": 190,
                    "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "offer_hash": "b6256205e1c61ba42dd9ad6871dadc772e31facaec3a5b2d8d221c60f1fbfc26",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726950417
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
                    "block_index": 193,
                    "source": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726950429,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "9272039e373fbe1c5b5b826d9dacb5dd3614beee9afc35f106c162a4f2ecec88",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726950282,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "c41c35e53f1085213addb1e4536f40de562d2173c06c2d84ad1d5b39222378f4",
                    "block_index": 188,
                    "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "destination": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726950398,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "c41c35e53f1085213addb1e4536f40de562d2173c06c2d84ad1d5b39222378f4",
                    "block_index": 188,
                    "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "destination": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726950398,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "c41c35e53f1085213addb1e4536f40de562d2173c06c2d84ad1d5b39222378f4",
                    "block_index": 188,
                    "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                    "destination": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726950398,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
                    "block_index": 146,
                    "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                    "destination": "bcrt1qn2r56n89hd7vdl8c38vdvx3u6en703pamf2lgh",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726950217,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "5592cfe7615af21968458eadb208585ec074acdef378ac947409a7390b491199",
                    "block_index": 192,
                    "source": "bcrt1q9kyjm8fptglrt58llv4nul9tmv2dy32fcmw779",
                    "destination": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726950425,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "499f4bc62f161e1a8d876263aa7b1a5d6633b04b86e914aade540ba251375198",
        "block_index": 138,
        "block_hash": "33c0f76ab4ba6d9125e62c88b27cf97b4dc96d0de734bc7b608b573ea4a1ed4e",
        "block_time": 1726950185,
        "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "499f4bc62f161e1a8d876263aa7b1a5d6633b04b86e914aade540ba251375198:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5",
        "block_index": 185,
        "block_hash": "22a6951b71290ec238ef452a688ef8e9c800dd277ca4be3253aed7072d440d06",
        "block_time": 1726950385,
        "source": "bcrt1q5teeh6veyfl58y3nly4leysh2vrsfypn4z2p7h",
        "destination": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0be78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc01b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
        "supported": true,
        "utxos_info": "f93a7e8d4c35e3d8b52b5e6983b05bca7668e09ca514bdfbb1e972332fc6f8f5:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0",
                "tx1_hash": "1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
                "order_match_id": "e78b6cd1adc54c627555204a7126ddf5cc047b1340fea47403c86a1c80470bc0_1b44ecadb2bbf69ab8b0984672c7b2e26295e522a8993173f93d9824f55867ec",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd",
        "block_index": 190,
        "block_hash": "27e860cc72fbd13d937f5d53894473cdec16612f8b3a5c708a5cf6676b57a478",
        "block_time": 1726950417,
        "source": "bcrt1q0z3ep8wjwxpajplygjd9a7u2dmkygw7jhph2k2",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46b6256205e1c61ba42dd9ad6871dadc772e31facaec3a5b2d8d221c60f1fbfc26",
        "supported": true,
        "utxos_info": "cd7f56c0f08e130bc2dfbfadceec890e3be23830c8f7824ab57c466eb1d269fd:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "b6256205e1c61ba42dd9ad6871dadc772e31facaec3a5b2d8d221c60f1fbfc26",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98",
        "block_index": 193,
        "block_hash": "473bdaafcb3e0e6034d0d9ec27da92e4b0b8ccb1e9e134bfff5d0e2923a71b7c",
        "block_time": 1726950429,
        "source": "bcrt1qh67hvrfwr95xleqc2c2zl3z78svtagjfdvlday",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "e24261fc938f783e7ddacf601c58e58a1b7c2367aab61c521efc8cba6048db98:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851",
        "block_index": 145,
        "block_hash": "29a578dbdeeb8b9ba80c386bfa1cbba4c46fb3b48039039f9211b37c2f044d31",
        "block_time": 1726950213,
        "source": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080dd4517099b8b4e454678a0633383dc61ed965b29",
        "supported": true,
        "utxos_info": "6bcf78b7127f71971f15fa8a59692e822cb8dd9a0eeb37c97fe40113fc928851:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387",
        "block_index": 146,
        "block_hash": "034a31457a21c374ac9398ad3b7ef6d4a67c7ccfd4face71a1394bc5feef88d4",
        "block_time": 1726950217,
        "source": "bcrt1qn2r56n89hd7vdl8c38vdvx3u6en703pamf2lgh",
        "destination": "bcrt1qm4z3wzvm3d8y23nc5p3n8q7uv8kevkefk54d2h",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "240a08a451797add73f8b01407ae47da0d0d0ac232be424989f080cf86751387:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "cccec4da49d1a3328017341c39fac2ae50ad5a4e22a54c0ae27551c7b6a9bd85",
        "block_index": 153,
        "block_hash": "3a6fbe16988afba5aca1ea6a5021c0a35d9332b45e32b1f81c113e786c6c4dec",
        "block_time": 1726950256,
[...]
