[//]: # (Generated by genapidoc.py on 2025-02-01 15:00:03.836826. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                "block_index": 245,
                "block_time": 1738421988,
                "difficulty": 545259519,
                "previous_block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                "block_index": 245,
                "block_time": 1738421988,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "fee": 0,
                "source": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                "transaction_type": "dispense",
                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "tx_index": 121,
                "utxos_info": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1 8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "out_index": 0,
                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "tx_index": 121,
                "block_time": 1738421988,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                "transaction_count": 1,
                "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                "block_time": 1738421988
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "tx_index": 121
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                "utxo_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                "block_time": 1738421988,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738421988,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q9e29ehayjveedw9nh7lwq42r0ddsjc4g3lr3pt",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "status": "valid",
                "tx_hash": "5784bf4e97aeb4b1d3640237cb672d9d8f7ae0f4ed59852fe5f268f843d046e7",
                "tx_index": 77,
                "block_time": 1738421818,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "5784bf4e97aeb4b1d3640237cb672d9d8f7ae0f4ed59852fe5f268f843d046e7",
            "block_index": 201,
            "block_time": 1738421818
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q9e29ehayjveedw9nh7lwq42r0ddsjc4g3lr3pt",
                "status": "valid",
                "tx_hash": "a439e2ff82d9966325003e351ceb7bbca3853c83187180700a7a41dc64eab8da",
                "tx_index": 81,
                "block_time": 1738421833,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "a439e2ff82d9966325003e351ceb7bbca3853c83187180700a7a41dc64eab8da",
            "block_index": 205,
            "block_time": 1738421833
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qd2e0qpjynrcnfrk2d2hl0qmaa9naaucp039lyw",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9tlxc8xljslcjddy88c2uw2l8sahtm8tjh04vu",
                "status": "valid",
                "tx_hash": "783f606ef97b9eb855c3b09f267bc2c3b2df2b3ce1afbb366075543fa1b90aeb",
                "tx_index": 65,
                "block_time": 1738421779,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "783f606ef97b9eb855c3b09f267bc2c3b2df2b3ce1afbb366075543fa1b90aeb",
            "block_index": 190,
            "block_time": 1738421779
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "status": "valid",
                "tx_hash": "c1aae163c71c2ccb47bfb626530c2e92c9cc57bd7cc44376c328092916beaa73",
                "tx_index": 42,
                "block_time": 1738421637,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "c1aae163c71c2ccb47bfb626530c2e92c9cc57bd7cc44376c328092916beaa73",
            "block_index": 146,
            "block_time": 1738421637
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "status": "valid",
                "transfer": false,
                "tx_hash": "a9ea79c1d7bc95be01dd5672396aaae94793e7d868acd21ceaee57d9eb5518b8",
                "tx_index": 117,
                "block_time": 1738421969,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a9ea79c1d7bc95be01dd5672396aaae94793e7d868acd21ceaee57d9eb5518b8",
            "block_index": 240,
            "block_time": 1738421969
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738421979
            },
            "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
            "block_index": 243,
            "block_time": 1738421979
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": "valid",
                "transfer": false,
                "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
                "tx_index": 120,
                "block_time": 1738421979,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
            "block_index": 243,
            "block_time": 1738421979
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "a9ea79c1d7bc95be01dd5672396aaae94793e7d868acd21ceaee57d9eb5518b8",
                "tx_index": 117,
                "block_time": 1738421969,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "a9ea79c1d7bc95be01dd5672396aaae94793e7d868acd21ceaee57d9eb5518b8",
            "block_index": 240,
            "block_time": 1738421969
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": "open",
                "tx_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
                "tx_index": 119,
                "block_time": 1738421976,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qlmk0xuyrjcuanls8n0fct3kz9496v3jcxmqwu3",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
            "block_index": 242,
            "block_time": 1738421976
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "b0008022586acd31b0bdf85eaddee2706b005fbea613556a306f95560ba38854_644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qlmk0xuyrjcuanls8n0fct3kz9496v3jcxmqwu3",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "b0008022586acd31b0bdf85eaddee2706b005fbea613556a306f95560ba38854",
                "tx0_index": 118,
                "tx1_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
                "tx1_index": 119,
                "block_time": 1738421976,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qlmk0xuyrjcuanls8n0fct3kz9496v3jcxmqwu3",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
            "block_index": 242,
            "block_time": 1738421976
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "644a3af27b2d0f42f6283bc0a242a93d9c1d1d314285a4f4db3d3ecb0b54af43",
            "block_index": 242,
            "block_time": 1738421976
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "00882ba16bd98936361783171be8513f525e2bd1896dabc4e86f28d6340d5e37"
            },
            "tx_hash": "5a10d015a86e09367ec5ab3b1aa74c0b0822725a77e313aab9e3672365b73cda",
            "block_index": 182,
            "block_time": 1738421751
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "c2af993baf32f3877af17f295838fb42aaf16abb66c3210ba8b97e73dc1358e6_26d8bde7a767ea733b88024eb2290d926d538e48a103c41f57eacf6ead0f16e6",
                "order_match_id": "c2af993baf32f3877af17f295838fb42aaf16abb66c3210ba8b97e73dc1358e6_26d8bde7a767ea733b88024eb2290d926d538e48a103c41f57eacf6ead0f16e6",
                "status": "expired"
            },
            "tx_hash": "2d64b235d4d580c64749a31a815320d4cac2cbf31dd187fa94a7d380d3eccbe4",
            "block_index": 225,
            "block_time": 1738421902
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "order_match_id": "285bc2fa1b0493c2a6b84328ce799dab90ccc39e7355cbb25ffe50ba6b398683_00882ba16bd98936361783171be8513f525e2bd1896dabc4e86f28d6340d5e37",
                "source": "bcrt1q9e29ehayjveedw9nh7lwq42r0ddsjc4g3lr3pt",
                "status": "valid",
                "tx_hash": "5a10d015a86e09367ec5ab3b1aa74c0b0822725a77e313aab9e3672365b73cda",
                "tx_index": 57,
                "block_time": 1738421751,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "5a10d015a86e09367ec5ab3b1aa74c0b0822725a77e313aab9e3672365b73cda",
            "block_index": 182,
            "block_time": 1738421751
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "96cafc6ac2a252dc9b30521d94e9cbd5432bb5d92a1eb4d0409bc67cab5fa767",
                "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "status": "valid",
                "tx_hash": "5cbbbcf62bf347dc317a5d1c5267297889d164b934abe532e21bdeacb651cfca",
                "tx_index": 63,
                "block_time": 1738421772
            },
            "tx_hash": "5cbbbcf62bf347dc317a5d1c5267297889d164b934abe532e21bdeacb651cfca",
            "block_index": 188,
            "block_time": 1738421772
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "c2af993baf32f3877af17f295838fb42aaf16abb66c3210ba8b97e73dc1358e6",
                "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "block_time": 1738421854
            },
            "tx_hash": "5890b97db18bfe396e13498891c701b8248c916040e48d5eeffb73ff444d996d",
            "block_index": 211,
            "block_time": 1738421854
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "c2af993baf32f3877af17f295838fb42aaf16abb66c3210ba8b97e73dc1358e6_26d8bde7a767ea733b88024eb2290d926d538e48a103c41f57eacf6ead0f16e6",
                "tx0_address": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "tx1_address": "bcrt1q9tlxc8xljslcjddy88c2uw2l8sahtm8tjh04vu",
                "block_time": 1738421902
            },
            "tx_hash": "2d64b235d4d580c64749a31a815320d4cac2cbf31dd187fa94a7d380d3eccbe4",
            "block_index": 225,
            "block_time": 1738421902
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qmkaa36p77wv797yy8hvyv777n9wwtvelk353qc",
                "satoshirate": 1,
                "source": "bcrt1qmkaa36p77wv797yy8hvyv777n9wwtvelk353qc",
                "status": 0,
                "tx_hash": "aecbe5b9fbbe27cb99fbe18ced5d23975ea919a607b59c59f4eebb5a87a6e904",
                "tx_index": 114,
                "block_time": 1738421955,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "aecbe5b9fbbe27cb99fbe18ced5d23975ea919a607b59c59f4eebb5a87a6e904",
            "block_index": 236,
            "block_time": 1738421955
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": 0,
                "tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mg99WZoxfC8aawe3psRngHXzMEBqJfYArs",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "417cbc4c6c714020cb2872fa4d3dd0da40e772b1acd924d27528872500f3aeda",
                "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                "tx_hash": "5607b65ca4df286db9b138e517170971ecbcabe32ab19359c34bb3a77b8260b4",
                "tx_index": 31,
                "block_time": 1738421600,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "5607b65ca4df286db9b138e517170971ecbcabe32ab19359c34bb3a77b8260b4",
            "block_index": 135,
            "block_time": 1738421600
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "tx_index": 121,
                "block_time": 1738421988,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "4c76f8b2526f1d12e46f9f22ce750ac36175f2cf82ef5058c90b02a1ba952e57",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738421579,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "4c76f8b2526f1d12e46f9f22ce750ac36175f2cf82ef5058c90b02a1ba952e57",
            "block_index": 129,
            "block_time": 1738421579
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "start_block": 0,
                "status": "open",
                "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
                "tx_index": 120,
                "block_time": 1738421979,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
            "block_index": 243,
            "block_time": 1738421979
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "53ab16adad6b60cef77adffefbea1bf64a4516bc44c57ded5f6f6090f5f3af0c"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738421913
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "6c172fd159a1b20354139241ca0f27fcd2ddeac289ee1f6b5085f780c155c778",
                "paid_quantity": 100000000,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": "valid",
                "tx_hash": "c4a0c61a37f03a0852df1f1c1fee9eace9532aeb5a6c55cd787c97479927ebf9",
                "tx_index": 97,
                "block_time": 1738421888,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "c4a0c61a37f03a0852df1f1c1fee9eace9532aeb5a6c55cd787c97479927ebf9",
            "block_index": 221,
            "block_time": 1738421888
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "ce88bfedd347d3994693e5013da07f6b1d2121fc1b4359e7d94a9d372a84e589:0",
                "destination_address": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "status": "valid",
                "tx_hash": "ce88bfedd347d3994693e5013da07f6b1d2121fc1b4359e7d94a9d372a84e589",
                "tx_index": 112,
                "block_time": 1738421949,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ce88bfedd347d3994693e5013da07f6b1d2121fc1b4359e7d94a9d372a84e589",
            "block_index": 235,
            "block_time": 1738421949
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "9e4dd70d3e5c268563f17272623cb46d4dc6280165d6aead960c9895516ce53d:0",
                "source_address": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                "status": "valid",
                "tx_hash": "f07a959b460d4f4c4b7539d587d30c035a409c552fa3a14fdc436bf6e43006c8",
                "tx_index": 111,
                "block_time": 1738421945,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f07a959b460d4f4c4b7539d587d30c035a409c552fa3a14fdc436bf6e43006c8",
            "block_index": 234,
            "block_time": 1738421945
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                "destination_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                "source_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                "status": "valid",
                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                "tx_index": 121,
                "block_time": 1738421988,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
            "block_index": 245,
            "block_time": 1738421988
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                "status": "valid",
                "tx_hash": "c556dcb0faef82cd591ab535e8c21874c964891d401fd5b7ce8eb6b6bc421bea",
                "tx_index": 9,
                "block_time": 1738421519,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "c556dcb0faef82cd591ab535e8c21874c964891d401fd5b7ce8eb6b6bc421bea",
            "block_index": 112,
            "block_time": 1738421519
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                    "block_time": 1738421988,
                    "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                    "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                    "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                    "previous_block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71",
                    "block_time": 1738421983,
                    "ledger_hash": "d75fc22ed0ccb679ec527a0c2a0a55d601e6cc90486e9fe0d81e6ddfc9d552ee",
                    "txlist_hash": "b168a04566529d514d5b2e2156c1086c51a73a37d5d32fb1e367b4307ba2dd90",
                    "messages_hash": "32f893d73d8ef0e16d233587cb2660ed96f4a750080ebce2f8530057d81fffa0",
                    "previous_block_hash": "47fdd18ca96ddec87aa354bedabc7f74d653bbeb6eda41765a959dd64b781b61",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "47fdd18ca96ddec87aa354bedabc7f74d653bbeb6eda41765a959dd64b781b61",
                    "block_time": 1738421979,
                    "ledger_hash": "ecf5f2ad96b92b6cb03a0a0719f7c0dfcc9e63ac74641cabce4d87ca046f4676",
                    "txlist_hash": "00f96565da3072de2f3d778d619d300eb4a456d09ab3b0ae700df1340994944f",
                    "messages_hash": "613ec5e4125dbcbdecf0cf51a6e3218de923378f3fd669d06d1c1e9760f28dd4",
                    "previous_block_hash": "5406117125d543d5c45eac533edf11131a37b9ee04774b35be79a39efbdf2206",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "5406117125d543d5c45eac533edf11131a37b9ee04774b35be79a39efbdf2206",
                    "block_time": 1738421976,
                    "ledger_hash": "9b66c84a691baa7bf03a7cd4a87e84d11e2b2a54e3b6ea8f5bb76897ebe3241e",
                    "txlist_hash": "550b6d4f051ebb177e3d089de6f9b3e18b5b797992c62c8d2c9ea5ce11f8535e",
                    "messages_hash": "c379582cde20fe8ffc6520f7e30a65af96fea97df1aba46b1481741cc49a556c",
                    "previous_block_hash": "0ea0c93c78264a7ed9c1a0b275c8a7d1b685be80039c2a4e4e87e670aae3aed3",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "0ea0c93c78264a7ed9c1a0b275c8a7d1b685be80039c2a4e4e87e670aae3aed3",
                    "block_time": 1738421973,
                    "ledger_hash": "eb127ed6012268d03a7f5b7290c42d43a68e3252435cb8cd41af6151847042af",
                    "txlist_hash": "65ffad38cc600daff64f07957667b71af100e06e42a5319e1e74aa39068c13c7",
                    "messages_hash": "46a68b462bf2b17293ab1a8c7d1f951368c09177f4f692211d7a65d7bb645d32",
                    "previous_block_hash": "43009e2c82d956b09d8df80a12dbfcf5f76f1a1f5b51dda06fb887f40b218b91",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                "block_time": 1738421988,
                "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                "previous_block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                "block_time": 1738421988,
                "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                "previous_block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                "block_time": 1738421988,
                "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                "previous_block_hash": "5150b1d8ae78338a09312cae4e5fc8385b3cdf127af95ce9f8c3726f22ed1b71",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "block_index": 245,
                    "block_hash": "5e05320aed81a333e34b3af69456e21c2a8cf2f9448615a5a95aba0a6b64eb33",
                    "block_time": 1738421988,
                    "source": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "destination": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1 8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                                "destination_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                                "source_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                                "status": "valid",
                                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                                "tx_index": 121,
                                "block_time": 1738421988,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                            "block_index": 245,
                            "block_time": 1738421988
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                                "destination_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                                "source_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                                "status": "valid",
                                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                                "tx_index": 121,
                                "block_time": 1738421988,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                            "block_index": 245,
                            "block_time": 1738421988
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                                "status": 0,
                                "tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                            "block_index": 245,
                            "block_time": 1738421988
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                                "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                                "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                                "tx_index": 121,
                                "block_time": 1738421988,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                            "block_index": 245,
                            "block_time": 1738421988
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "8867bfe5b63bdd5f8c2ce7ab18ecf16fe7feae81e0057446034d5f35a5343ad2",
                        "messages_hash": "660f72cd4b26596a875348b8d5007e88305dcd7359fc0f5269e8164c4e725386",
                        "transaction_count": 1,
                        "txlist_hash": "4e42ee5bdef0ee2c87a96588bab1567520c5e1f4eed13340c24cb38c8259e782",
                        "block_time": 1738421988
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "tx_index": 121
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                        "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "tx_index": 121,
                        "block_time": 1738421988,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "status": 0,
                        "tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738421988,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738421988,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                        "utxo_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "block_time": 1738421988,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                        "utxo_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "block_time": 1738421988,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "tx_index": 121,
                    "utxo": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                    "utxo_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "tx_index": 121,
                    "utxo": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                    "utxo_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "tx_index": 121,
                    "utxo": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                    "utxo_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "tx_index": 121,
                    "utxo": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                    "utxo_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "c2af993baf32f3877af17f295838fb42aaf16abb66c3210ba8b97e73dc1358e6",
                    "block_index": 211,
                    "block_time": 1738421854
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "5cbbbcf62bf347dc317a5d1c5267297889d164b934abe532e21bdeacb651cfca",
                    "block_index": 188,
                    "source": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                    "offer_hash": "96cafc6ac2a252dc9b30521d94e9cbd5432bb5d92a1eb4d0409bc67cab5fa767",
                    "status": "valid",
                    "block_time": 1738421772
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "a9ea79c1d7bc95be01dd5672396aaae94793e7d868acd21ceaee57d9eb5518b8",
                    "block_index": 240,
                    "source": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738421969,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qze24hjklf8hvezkskstm64svmduh96anr8hacc",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "89a1d6a9bd4f6b63e55243c4a1ba38106d6affeb0485f20e6c4961a1da769cc8",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "issuer": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738421979,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "block_index": 245,
                    "source": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                    "destination": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "destination_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "block_index": 245,
                    "source": "563e0316efa193003e8f9c91aee5d22f48bb62cce56a9977940cad924cad420d:1",
                    "destination": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "destination_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2g0hlh0l88fr52fmvxrxjys3wlx327yv3e0qqw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "8f94d2b0d1a9a83a280fb30cb32ffc29c52dba428a6eecc32983189d14b5423d",
                    "block_index": 245,
                    "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                    "destination": "bcrt1quezsjxvm4t33sx3acrlccthta2wtvahyslqrpc",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "d8d506479e4fdc54bbc0139d86ad125d9a430adb9f7f3835290090c2aa0db491",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qk9fhvlewkg6tw3vwg2gydzp2v90mjw8m7pvstc",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738421988,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
