[//]: # (Generated by genapidoc.py on 2024-09-12 19:30:51.657625. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 504,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                "block_index": 189,
                "block_time": 1726169436,
                "difficulty": 545259519,
                "previous_block_hash": "6aacf32dfdcc7cf8335cce93edbc6afa9ce95e4efcbb7c504999497f68043f8c"
            },
            "tx_hash": null,
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 492,
    "result_count": 89
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 505,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                "block_index": 189,
                "block_time": 1726169436,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                "tx_index": 55,
                "utxos_info": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 493,
    "result_count": 56
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 227,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "out_index": 0,
                "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
                "tx_index": 26,
                "block_time": 1726169215,
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
            "block_index": 139,
            "block_time": 1726169215
        }
    ],
    "next_cursor": 219,
    "result_count": 2
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 189,
                "ledger_hash": "232b7a52a33de30781abe9b653e882755c52e809ac126c05f8bea2dac4fe0279",
                "messages_hash": "6205a303f43687629d4808a945475f61d7138820bba5d5e6ca0693f4c504245b",
                "transaction_count": 1,
                "txlist_hash": "9391c6873b76bcacf680963769430f82fefec944a18ba941cadc81feb6791676",
                "block_time": 1726169436
            },
            "tx_hash": null,
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 503,
    "result_count": 89
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                "tx_index": 55
            },
            "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 502,
    "result_count": 43
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 506,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "asset": "XCP",
                "block_index": 189,
                "event": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                "quantity": 1,
                "tx_index": 55,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726169436,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 499,
    "result_count": 52
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 500,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "asset": "XCP",
                "block_index": 188,
                "calling_function": "sweep",
                "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                "quantity": 74499387833,
                "tx_index": 54,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726169432,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
            "block_index": 188,
            "block_time": 1726169432
        }
    ],
    "next_cursor": 498,
    "result_count": 66
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 458,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 183,
                "destination": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                "status": "valid",
                "tx_hash": "b1cb1693375627dfc99489b7988b870c57f7774745a05382b47c1a5281d874db",
                "tx_index": 49,
                "block_time": 1726169401,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "b1cb1693375627dfc99489b7988b870c57f7774745a05382b47c1a5281d874db",
            "block_index": 183,
            "block_time": 1726169401
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 470,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 184,
                "destination": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "tx_hash": "3bf05e30f99d43ea99acdf76121cd096693a24e1b374aa6c08f17ff0e1dcff86",
                "tx_index": 50,
                "block_time": 1726169405,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "3bf05e30f99d43ea99acdf76121cd096693a24e1b374aa6c08f17ff0e1dcff86",
            "block_index": 184,
            "block_time": 1726169405
        }
    ],
    "next_cursor": 469,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 501,
            "event": "SWEEP",
            "params": {
                "block_index": 188,
                "destination": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                "status": "valid",
                "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                "tx_index": 54,
                "block_time": 1726169432,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
            "block_index": 188,
            "block_time": 1726169432
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 299,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 148,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "tx_hash": "be96ac1a872ff42e12b86d2e06f79e374597295f4e0b2911e3fc85ce7c6362bf",
                "tx_index": 35,
                "block_time": 1726169262,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "be96ac1a872ff42e12b86d2e06f79e374597295f4e0b2911e3fc85ce7c6362bf",
            "block_index": 148,
            "block_time": 1726169262
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 154,
                "block_time": 1726169290
            },
            "tx_hash": "56787785c4993bfd2ec2389364498494b5fc7b267cb71bb74f4b2ca98cd1a75b",
            "block_index": 154,
            "block_time": 1726169290
        }
    ],
    "next_cursor": 336,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 350,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 154,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "transfer": false,
                "tx_hash": "56787785c4993bfd2ec2389364498494b5fc7b267cb71bb74f4b2ca98cd1a75b",
                "tx_index": 41,
                "block_time": 1726169290,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "56787785c4993bfd2ec2389364498494b5fc7b267cb71bb74f4b2ca98cd1a75b",
            "block_index": 154,
            "block_time": 1726169290
        }
    ],
    "next_cursor": 343,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 189,
                "quantity": 1,
                "source": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                "tx_index": 55,
                "block_time": 1726169436,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
            "block_index": 189,
            "block_time": 1726169436
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 489,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 187,
                "expiration": 21,
                "expire_index": 208,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "open",
                "tx_hash": "bde9f84eb673caf82f07f16d4d9b7b24ffcc8c7d28101ec4babe0c5c98fd8be3",
                "tx_index": 53,
                "block_time": 1726169427,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "bde9f84eb673caf82f07f16d4d9b7b24ffcc8c7d28101ec4babe0c5c98fd8be3",
            "block_index": 187,
            "block_time": 1726169427
        }
    ],
    "next_cursor": 476,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 451,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 182,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db_a4e9611d9ea3962bdf298da6ec6760198fa3a605fd241327a3c49d43f2bbd821",
                "match_expire_index": 202,
                "status": "pending",
                "tx0_address": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "tx0_block_index": 180,
                "tx0_expiration": 21,
                "tx0_hash": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db",
                "tx0_index": 45,
                "tx1_address": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                "tx1_block_index": 182,
                "tx1_expiration": 21,
                "tx1_hash": "a4e9611d9ea3962bdf298da6ec6760198fa3a605fd241327a3c49d43f2bbd821",
                "tx1_index": 48,
                "block_time": 1726169397,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a4e9611d9ea3962bdf298da6ec6760198fa3a605fd241327a3c49d43f2bbd821",
            "block_index": 182,
            "block_time": 1726169397
        }
    ],
    "next_cursor": 435,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 481,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "2eff6cb38fcc65f0a03ade9ba3ecd2df72260a0d037310f30eb46749ddb4ad94"
            },
            "tx_hash": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3",
            "block_index": 186,
            "block_time": 1726169423
        }
    ],
    "next_cursor": 450,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 442,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40"
            },
            "tx_hash": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5",
            "block_index": 181,
            "block_time": 1726169393
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 441,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db_2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
                "order_match_id": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db_2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
                "status": "completed"
            },
            "tx_hash": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5",
            "block_index": 181,
            "block_time": 1726169393
        }
    ],
    "next_cursor": 414,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "BTC_PAY",
            "params": {
                "block_index": 181,
                "btc_amount": 2000,
                "destination": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "order_match_id": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db_2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
                "source": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "status": "valid",
                "tx_hash": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5",
                "tx_index": 47,
                "block_time": 1726169393,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5",
            "block_index": 181,
            "block_time": 1726169393
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 483,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 186,
                "offer_hash": "2eff6cb38fcc65f0a03ade9ba3ecd2df72260a0d037310f30eb46749ddb4ad94",
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "tx_hash": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3",
                "tx_index": 52,
                "block_time": 1726169423
            },
            "tx_hash": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3",
            "block_index": 186,
            "block_time": 1726169423
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 422,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 178,
                "order_hash": "8d219fac25ba45f840d6df9db4d4b260913712cf2e503c892ffd63e19b2d3e9b",
                "source": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "block_time": 1726169310
            },
            "tx_hash": null,
            "block_index": 178,
            "block_time": 1726169310
        }
    ],
    "next_cursor": 420,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 417,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 178,
                "order_match_id": "e354ab111cbb21b45702cc355240932f513c50a9979a1844e46b7afc73d29801_8d219fac25ba45f840d6df9db4d4b260913712cf2e503c892ffd63e19b2d3e9b",
                "tx0_address": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "tx1_address": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "block_time": 1726169310
            },
            "tx_hash": null,
            "block_index": 178,
            "block_time": 1726169310
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 244,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 141,
                "dispense_count": 0,
                "escrow_quantity": 10,
                "give_quantity": 1,
                "give_remaining": 10,
                "oracle_address": null,
                "origin": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "satoshirate": 1,
                "source": "mpf8Gj8YEYCB6ZZYfHnbHhyagQTjV6zUpb",
                "status": 0,
                "tx_hash": "1124b2f0dae1cca3d747fa15f2f4c91f92d6975a9b60a6c86b83a893fe0f9089",
                "tx_index": 28,
                "block_time": 1726169223,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00000010",
                "escrow_quantity_normalized": "0.00000010",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "1124b2f0dae1cca3d747fa15f2f4c91f92d6975a9b60a6c86b83a893fe0f9089",
            "block_index": 141,
            "block_time": 1726169223
        }
    ],
    "next_cursor": 236,
    "result_count": 3
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 229,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 0,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": 10,
                "tx_hash": "7b6a0a2054d6d39e9cd5c98acda97d3c510e171a8e0670a5404896158d07899f",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
            "block_index": 139,
            "block_time": 1726169215
        }
    ],
    "next_cursor": 221,
    "result_count": 2
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 230,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "dispense_index": 0,
                "dispense_quantity": 4000,
                "dispenser_tx_hash": "7b6a0a2054d6d39e9cd5c98acda97d3c510e171a8e0670a5404896158d07899f",
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
                "tx_index": 26,
                "block_time": 1726169215,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00004000",
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
            "block_index": 139,
            "block_time": 1726169215
        }
    ],
    "next_cursor": 222,
    "result_count": 2
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "BROADCAST",
            "params": {
                "block_index": 155,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "text": "Hello, world!",
                "timestamp": 4003903983,
                "tx_hash": "b85946a204a4af91baa793550ed41de6fabaf0cb3257b8bc1eb90c0a12b0ca6f",
                "tx_index": 42,
                "value": 999.0,
                "block_time": 1726169295,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "b85946a204a4af91baa793550ed41de6fabaf0cb3257b8bc1eb90c0a12b0ca6f",
            "block_index": 155,
            "block_time": 1726169295
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "start_block": 0,
                "status": "open",
                "tx_hash": "548cbe625e240d017542a6154d49b2cd9d4d176f352b2cbbd2c1000a457a9423",
                "tx_index": 22,
                "block_time": 1726169198
            },
            "tx_hash": "548cbe625e240d017542a6154d49b2cd9d4d176f352b2cbbd2c1000a457a9423",
            "block_index": 135,
            "block_time": 1726169198
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "fbb98737a37f794be4a54af722831448da6b7154871ac32ec19b92ac3af06d7d"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726169177
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "548cbe625e240d017542a6154d49b2cd9d4d176f352b2cbbd2c1000a457a9423",
                "paid_quantity": 34,
                "source": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                "status": "valid",
                "tx_hash": "a4dcfa24b365b5e310f5b48b76e3b58c7b53f9bd1e90108c8da95b0c60cb4bcd",
                "tx_index": 23,
                "block_time": 1726169202,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "a4dcfa24b365b5e310f5b48b76e3b58c7b53f9bd1e90108c8da95b0c60cb4bcd",
            "block_index": 136,
            "block_time": 1726169202
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 281,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "destination": "0907299557986997a9c2e4f2a07b9f4bead098efbba1027abbd8c403ea9cc3a7:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                "status": "valid",
                "tx_hash": "0907299557986997a9c2e4f2a07b9f4bead098efbba1027abbd8c403ea9cc3a7",
                "tx_index": 33,
                "block_time": 1726169254,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0907299557986997a9c2e4f2a07b9f4bead098efbba1027abbd8c403ea9cc3a7",
            "block_index": 146,
            "block_time": 1726169254
        }
    ],
    "next_cursor": 260,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 273,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 145,
                "destination": "bcrt1qk20xr950kwfqu8ppycmx96ugzwelj2za4gzffz",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "7614852e3e5b9a5bfb0eaddf48f2431cac74864b5760a18a335e18cd47de166f:0",
                "status": "valid",
                "tx_hash": "e391d68035c690c8206b508423f51f61b195f471c14f69021cf4f942c7a26405",
                "tx_index": 32,
                "block_time": 1726169250,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e391d68035c690c8206b508423f51f61b195f471c14f69021cf4f942c7a26405",
            "block_index": 145,
            "block_time": 1726169250
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 318,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 150,
                "destination": "fb9740d6bbce305f714773bc7f6e86f154fbc1b8b2918fca897260913276b341:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "d226cf7cb0f93460933dfad5636bc4d90ec9969d009fdab4d0615371d9abe8f9:0",
                "status": "valid",
                "tx_hash": "fb9740d6bbce305f714773bc7f6e86f154fbc1b8b2918fca897260913276b341",
                "tx_index": 37,
                "block_time": 1726169273,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "fb9740d6bbce305f714773bc7f6e86f154fbc1b8b2918fca897260913276b341",
            "block_index": 150,
            "block_time": 1726169273
        }
    ],
    "next_cursor": 315,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qu6xru2frvr5flnkjrngxaje90hhuyx69r87hn9",
                "status": "valid",
                "tx_hash": "4a64136a54816d128619106a57f9cac5b46dcc265185e331aec0250c0fdf36e9",
                "tx_index": 9,
                "block_time": 1726169139,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "4a64136a54816d128619106a57f9cac5b46dcc265185e331aec0250c0fdf36e9",
            "block_index": 121,
            "block_time": 1726169139
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `189` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 189,
                    "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                    "block_time": 1726169436,
                    "previous_block_hash": "6aacf32dfdcc7cf8335cce93edbc6afa9ce95e4efcbb7c504999497f68043f8c",
                    "difficulty": 545259519,
                    "ledger_hash": "232b7a52a33de30781abe9b653e882755c52e809ac126c05f8bea2dac4fe0279",
                    "txlist_hash": "9391c6873b76bcacf680963769430f82fefec944a18ba941cadc81feb6791676",
                    "messages_hash": "6205a303f43687629d4808a945475f61d7138820bba5d5e6ca0693f4c504245b",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 188,
                    "block_hash": "6aacf32dfdcc7cf8335cce93edbc6afa9ce95e4efcbb7c504999497f68043f8c",
                    "block_time": 1726169432,
                    "previous_block_hash": "3687fe0e56f93707c91558de788ce44045747e5c81e239e63404176ae2bdf342",
                    "difficulty": 545259519,
                    "ledger_hash": "9f5c0ab33cd490f6746eb60d06ee3daab96dcfb6219058d47b6c10f989bb2cdd",
                    "txlist_hash": "6cc5cf1c48f05d4df6930680877989cb817682f3a5624d14a91165ee36c403fb",
                    "messages_hash": "7c64907f50b2790f6675f3190d6e913802ad49ec1cd4001f40d54f8af6816f28",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 187,
                    "block_hash": "3687fe0e56f93707c91558de788ce44045747e5c81e239e63404176ae2bdf342",
                    "block_time": 1726169427,
                    "previous_block_hash": "30800bd7ed9c1c147b167df6e2597a3b9d1072696539465d6c1c604ae896bbe2",
                    "difficulty": 545259519,
                    "ledger_hash": "c17d7be2bafb86eac42cf586496973f64ace614a50512718b3a0021016159b02",
                    "txlist_hash": "39784382cc2f4e2bae62bc00e31d66af2c83efba3a5e5024c6289e3cb075f45f",
                    "messages_hash": "d287f07eed638c61c48165b1b368496eb5bd4c4e765602d565a39783155a3f30",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 186,
                    "block_hash": "30800bd7ed9c1c147b167df6e2597a3b9d1072696539465d6c1c604ae896bbe2",
                    "block_time": 1726169423,
                    "previous_block_hash": "127f81b191ead929c502e917fd16aa96ffbe1b9909d754eed8442957e59d233d",
                    "difficulty": 545259519,
                    "ledger_hash": "8891cc482a559e7ea9fe4c1baaa767aa907940a73f4387daaf510b0613a4afdb",
                    "txlist_hash": "3d6f78101799ddf164f5dc2e6b71ed1dda1c65c9f8363dcb1a1f699e6868ea8e",
                    "messages_hash": "d3b5f32d3000898554aa934db37767262bfd44a63b8c50a48824ee3e61921924",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 185,
                    "block_hash": "127f81b191ead929c502e917fd16aa96ffbe1b9909d754eed8442957e59d233d",
                    "block_time": 1726169409,
                    "previous_block_hash": "65c6d4663708f1d90b51fc00ae098e3859ba4276c44632de31fd709432640094",
                    "difficulty": 545259519,
                    "ledger_hash": "5de098f5cdfe0ec8e02419110f290fb60fea95678c501871d19deaa653a02645",
                    "txlist_hash": "e044fce3dfed2169030b6ad37622deb6ddff6fcbc2e39be47ce2f62e2729822f",
                    "messages_hash": "21d3bffd2276a944cfc3d9b346d6bb2ff5bc2f0280c76ca6b4c441d9ef1f6de4",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 184,
            "result_count": 89
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 189,
                "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                "block_time": 1726169436,
                "previous_block_hash": "6aacf32dfdcc7cf8335cce93edbc6afa9ce95e4efcbb7c504999497f68043f8c",
                "difficulty": 545259519,
                "ledger_hash": "232b7a52a33de30781abe9b653e882755c52e809ac126c05f8bea2dac4fe0279",
                "txlist_hash": "9391c6873b76bcacf680963769430f82fefec944a18ba941cadc81feb6791676",
                "messages_hash": "6205a303f43687629d4808a945475f61d7138820bba5d5e6ca0693f4c504245b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 189,
                "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                "block_time": 1726169436,
                "previous_block_hash": "6aacf32dfdcc7cf8335cce93edbc6afa9ce95e4efcbb7c504999497f68043f8c",
                "difficulty": 545259519,
                "ledger_hash": "232b7a52a33de30781abe9b653e882755c52e809ac126c05f8bea2dac4fe0279",
                "txlist_hash": "9391c6873b76bcacf680963769430f82fefec944a18ba941cadc81feb6791676",
                "messages_hash": "6205a303f43687629d4808a945475f61d7138820bba5d5e6ca0693f4c504245b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor: `55` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                    "block_index": 189,
                    "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
                    "block_time": 1726169436,
                    "source": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `509` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 503,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 188,
                        "ledger_hash": "9f5c0ab33cd490f6746eb60d06ee3daab96dcfb6219058d47b6c10f989bb2cdd",
                        "messages_hash": "7c64907f50b2790f6675f3190d6e913802ad49ec1cd4001f40d54f8af6816f28",
                        "transaction_count": 1,
                        "txlist_hash": "6cc5cf1c48f05d4df6930680877989cb817682f3a5624d14a91165ee36c403fb",
                        "block_time": 1726169432
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 502,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "tx_index": 54
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                },
                {
                    "event_index": 501,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 188,
                        "destination": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                        "status": "valid",
                        "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "tx_index": 54,
                        "block_time": 1726169432,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                },
                {
                    "event_index": 500,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                        "asset": "XCP",
                        "block_index": 188,
                        "calling_function": "sweep",
                        "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "quantity": 74499387833,
                        "tx_index": 54,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726169432,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                },
                {
                    "event_index": 499,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                        "asset": "XCP",
                        "block_index": 188,
                        "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "quantity": 74499387833,
                        "tx_index": 54,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726169432,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                }
            ],
            "next_cursor": 498,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 500,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                        "asset": "XCP",
                        "block_index": 188,
                        "calling_function": "sweep",
                        "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "quantity": 74499387833,
                        "tx_index": 54,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726169432,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                },
                {
                    "event_index": 498,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                        "asset": "MYASSETA",
                        "block_index": 188,
                        "calling_function": "sweep",
                        "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "quantity": 10,
                        "tx_index": 54,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726169432,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                },
                {
                    "event_index": 496,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                        "asset": "FAIRMINTA",
                        "block_index": 188,
                        "calling_function": "sweep",
                        "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                        "quantity": 500000000,
                        "tx_index": 54,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726169432,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 188,
                    "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                    "tx_index": 54,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726169432,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 188,
                    "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                    "tx_index": 54,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726169432,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 188,
                    "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                    "tx_index": 54,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726169432,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 189,
                    "address": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                    "tx_index": 55,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726169436,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `178` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "8d219fac25ba45f840d6df9db4d4b260913712cf2e503c892ffd63e19b2d3e9b",
                    "block_index": 178,
                    "confirmed": true,
                    "block_time": 1726169310
                },
                {
                    "type": "order",
                    "object_id": "e354ab111cbb21b45702cc355240932f513c50a9979a1844e46b7afc73d29801",
                    "block_index": 178,
                    "confirmed": true,
                    "block_time": 1726169310
                },
                {
                    "type": "order_match",
                    "object_id": "e354ab111cbb21b45702cc355240932f513c50a9979a1844e46b7afc73d29801_8d219fac25ba45f840d6df9db4d4b260913712cf2e503c892ffd63e19b2d3e9b",
                    "block_index": 178,
                    "confirmed": true,
                    "block_time": 1726169310
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `186` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 52,
                    "tx_hash": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3",
                    "block_index": 186,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "offer_hash": "2eff6cb38fcc65f0a03ade9ba3ecd2df72260a0d037310f30eb46749ddb4ad94",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726169423
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
                    "block_index": 189,
                    "source": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726169436,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `154` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 41,
                    "tx_hash": "56787785c4993bfd2ec2389364498494b5fc7b267cb71bb74f4b2ca98cd1a75b",
                    "msg_index": 0,
                    "block_index": 154,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726169290,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `184` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 50,
                    "tx_hash": "3bf05e30f99d43ea99acdf76121cd096693a24e1b374aa6c08f17ff0e1dcff86",
                    "block_index": 184,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "destination": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726169405,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 50,
                    "tx_hash": "3bf05e30f99d43ea99acdf76121cd096693a24e1b374aa6c08f17ff0e1dcff86",
                    "block_index": 184,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "destination": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726169405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 50,
                    "tx_hash": "3bf05e30f99d43ea99acdf76121cd096693a24e1b374aa6c08f17ff0e1dcff86",
                    "block_index": 184,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "destination": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726169405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `139` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 26,
                    "dispense_index": 0,
                    "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
                    "block_index": 139,
                    "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "destination": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
                    "asset": "XCP",
                    "dispense_quantity": 4000,
                    "dispenser_tx_hash": "7b6a0a2054d6d39e9cd5c98acda97d3c510e171a8e0670a5404896158d07899f",
                    "btc_amount": 4000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 24,
                        "block_index": 139,
                        "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 10,
                        "give_remaining": 0,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": null,
                        "oracle_price": null,
                        "fiat_unit": null,
                        "oracle_price_last_updated": null,
                        "satoshi_price": 1,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00000000",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000001"
                    },
                    "block_time": 1726169215,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00004000",
                    "btc_amount_normalized": "0.00004000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "746cbcda26777380881b99bcf1200e57df5ad264d169d85b285132bcdae7b773",
                    "block_index": 188,
                    "source": "bcrt1q8dkyajwg6eyr36vssasweag3msum82tpynmvs9",
                    "destination": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726169432,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 42,
        "tx_hash": "b85946a204a4af91baa793550ed41de6fabaf0cb3257b8bc1eb90c0a12b0ca6f",
        "block_index": 155,
        "block_hash": "52440f1d86c4545bcddc70ddfb2e0f118e04c7b5c6b81a0cb0d28bee283c0553",
        "block_time": 1726169295,
        "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef408f380000000000000000000d48656c6c6f2c20776f726c6421",
        "supported": true,
        "utxos_info": "b85946a204a4af91baa793550ed41de6fabaf0cb3257b8bc1eb90c0a12b0ca6f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 999.0,
                "fee_fraction_int": 0,
                "text": "Hello, world!",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 47,
        "tx_hash": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5",
        "block_index": 181,
        "block_hash": "51bbe9c4bcaa4141f161ba2ea647944bc5728b743c103e46df26aa395b9ad785",
        "block_time": 1726169393,
        "source": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
        "destination": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
        "supported": true,
        "utxos_info": "210741fab2a34cb2881e6426bb816e73d40620bc5bc6ae946fa98dba401199c5:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db",
                "tx1_hash": "2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
                "order_match_id": "515981408a4200d92341cb0bf8a0ddecd67f24ffbf85a15505c0dd74342339db_2b759f2cba2e7ebc1c1736c606a39216723c20d80e770c1bd518fd0c11cd6b40",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 52,
        "tx_hash": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3",
        "block_index": 186,
        "block_hash": "30800bd7ed9c1c147b167df6e2597a3b9d1072696539465d6c1c604ae896bbe2",
        "block_time": 1726169423,
        "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "462eff6cb38fcc65f0a03ade9ba3ecd2df72260a0d037310f30eb46749ddb4ad94",
        "supported": true,
        "utxos_info": "f4a592f038d83cabba83eb6f6035df0d0e44e27747e898f51f0ce95ba836b5d3:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "2eff6cb38fcc65f0a03ade9ba3ecd2df72260a0d037310f30eb46749ddb4ad94",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 55,
        "tx_hash": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c",
        "block_index": 189,
        "block_hash": "2690e6679dbb3c87517c340f0265d3d5e59fc9953350798094ba3ac9c4f55a34",
        "block_time": 1726169436,
        "source": "bcrt1qjccz2nspsjjlwvvzmf0fex7mw34vncd34fkwfw",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "baafe51613d0cd7a2581630f51cd31102180fad2127b55c34bc4c0c6eb6dc19c:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 28,
        "tx_hash": "1124b2f0dae1cca3d747fa15f2f4c91f92d6975a9b60a6c86b83a893fe0f9089",
        "block_index": 141,
        "block_hash": "4d1f44ac381af15f2318f5455fcda874997289dbb8c7c141c133d1338cb77f8c",
        "block_time": 1726169223,
        "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000000a0000000000000001016f6444c9c98e6ff8f4d6ce3525bd2a70d0411349e3",
        "supported": true,
        "utxos_info": "1124b2f0dae1cca3d747fa15f2f4c91f92d6975a9b60a6c86b83a893fe0f9089:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10,
                "mainchainrate": 1,
                "dispenser_status": 1,
                "action_address": "mpf8Gj8YEYCB6ZZYfHnbHhyagQTjV6zUpb",
                "oracle_address": null,
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00000010"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 26,
        "tx_hash": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7",
        "block_index": 139,
        "block_hash": "5a6c50f609f54e3da75a11425486a8d4da717c6655836f71b464d24e1fd201aa",
        "block_time": 1726169215,
        "source": "bcrt1q5fuww90usujgx87j20p5qvggzsj8v8vyp077w0",
        "destination": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "btc_amount": 4000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "42e4cfa5e9ad5305f8aad4601f259628d1b321331f6b3ee7291dfd5cd5aabdb7:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00004000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 35,
        "tx_hash": "be96ac1a872ff42e12b86d2e06f79e374597295f4e0b2911e3fc85ce7c6362bf",
        "block_index": 148,
        "block_hash": "4209e3015677566a34e641c12319493988c0a687bc74ca2397a2acf64b295113",
        "block_time": 1726169262,
        "source": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "320000000005f5e100000000182b37176e0000000000000001",
        "supported": true,
        "utxos_info": "be96ac1a872ff42e12b86d2e06f79e374597295f4e0b2911e3fc85ce7c6362bf:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dividend",
            "message_type_id": 50,
            "message_data": {
                "asset": "MYASSETA",
                "quantity_per_unit": 100000000,
                "dividend_asset": "XCP",
                "status": "valid",
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q242zdvh8nexxdrqy0ktxtkzm7yt7quawfyaqdn",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000"
            }
[...]
