[//]: # (Generated by genapidoc.py on 2024-09-12 20:29:13.412109. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 511,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                "block_index": 190,
                "block_time": 1726172938,
                "difficulty": 545259519,
                "previous_block_hash": "52ef47b22e3cabbbb32c98dcae4d81be5932c144acce8564879462e8ffe2d3e9"
            },
            "tx_hash": null,
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 499,
    "result_count": 90
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 512,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                "block_index": 190,
                "block_time": 1726172938,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                "tx_index": 56,
                "utxos_info": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 500,
    "result_count": 57
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 227,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "out_index": 0,
                "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
                "tx_index": 26,
                "block_time": 1726172715,
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
            "block_index": 139,
            "block_time": 1726172715
        }
    ],
    "next_cursor": 219,
    "result_count": 2
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 516,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 190,
                "ledger_hash": "8313af47254b45f40a53e9d36667e8aba4369c18aa8c0286a180b130307825a6",
                "messages_hash": "fffb068af98ac84f269562d1fc86a256fa39f28318c641aa8ed52b3cb640af47",
                "transaction_count": 1,
                "txlist_hash": "e7fb558e8416f338163bd4f74470e24f3570d421b26908767e309dfa6c420752",
                "block_time": 1726172938
            },
            "tx_hash": null,
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 510,
    "result_count": 90
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                "tx_index": 56
            },
            "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 509,
    "result_count": 44
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 513,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "asset": "XCP",
                "block_index": 190,
                "event": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                "quantity": 1,
                "tx_index": 56,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726172938,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 506,
    "result_count": 53
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "asset": "XCP",
                "block_index": 189,
                "calling_function": "sweep",
                "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                "quantity": 74499387833,
                "tx_index": 55,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726172933,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
            "block_index": 189,
            "block_time": 1726172933
        }
    ],
    "next_cursor": 505,
    "result_count": 66
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 465,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 184,
                "destination": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                "status": "valid",
                "tx_hash": "77b2164e8a595e441b467ef90f9433ccb22171d3dcdd776ea39b282066b9fb44",
                "tx_index": 50,
                "block_time": 1726172902,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "77b2164e8a595e441b467ef90f9433ccb22171d3dcdd776ea39b282066b9fb44",
            "block_index": 184,
            "block_time": 1726172902
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 185,
                "destination": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "tx_hash": "dac903020b17aa2f31ad546313e96a3268b984a3ee9c65821e3b6fe18c99c67a",
                "tx_index": 51,
                "block_time": 1726172906,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "dac903020b17aa2f31ad546313e96a3268b984a3ee9c65821e3b6fe18c99c67a",
            "block_index": 185,
            "block_time": 1726172906
        }
    ],
    "next_cursor": 476,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "SWEEP",
            "params": {
                "block_index": 189,
                "destination": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                "status": "valid",
                "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                "tx_index": 55,
                "block_time": 1726172933,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
            "block_index": 189,
            "block_time": 1726172933
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 306,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 149,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "tx_hash": "1f00bd9c23e61d78a7e1b045b53eff7f7ba28e98de12ae75e6a5479e728618c9",
                "tx_index": 36,
                "block_time": 1726172757,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "1f00bd9c23e61d78a7e1b045b53eff7f7ba28e98de12ae75e6a5479e728618c9",
            "block_index": 149,
            "block_time": 1726172757
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 155,
                "block_time": 1726172785
            },
            "tx_hash": "9fc8bfdedfeb59db705695895f2593b73662eec455875d2871ebdca67f1a9366",
            "block_index": 155,
            "block_time": 1726172785
        }
    ],
    "next_cursor": 343,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 357,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 155,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "transfer": false,
                "tx_hash": "9fc8bfdedfeb59db705695895f2593b73662eec455875d2871ebdca67f1a9366",
                "tx_index": 42,
                "block_time": 1726172785,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "9fc8bfdedfeb59db705695895f2593b73662eec455875d2871ebdca67f1a9366",
            "block_index": 155,
            "block_time": 1726172785
        }
    ],
    "next_cursor": 350,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 514,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 190,
                "quantity": 1,
                "source": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                "tx_index": 56,
                "block_time": 1726172938,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
            "block_index": 190,
            "block_time": 1726172938
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 188,
                "expiration": 21,
                "expire_index": 209,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "open",
                "tx_hash": "e8023895a20a80261919414b2de1a42bd63a90c7e89a609731e549ba7dc326e0",
                "tx_index": 54,
                "block_time": 1726172929,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e8023895a20a80261919414b2de1a42bd63a90c7e89a609731e549ba7dc326e0",
            "block_index": 188,
            "block_time": 1726172929
        }
    ],
    "next_cursor": 483,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 458,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 183,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50_cf747fadac0a3a4389fbed75ab767562e46bb1b66dda1dad0b9803c1537b99a2",
                "match_expire_index": 203,
                "status": "pending",
                "tx0_address": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "tx0_block_index": 181,
                "tx0_expiration": 21,
                "tx0_hash": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50",
                "tx0_index": 46,
                "tx1_address": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                "tx1_block_index": 183,
                "tx1_expiration": 21,
                "tx1_hash": "cf747fadac0a3a4389fbed75ab767562e46bb1b66dda1dad0b9803c1537b99a2",
                "tx1_index": 49,
                "block_time": 1726172898,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "cf747fadac0a3a4389fbed75ab767562e46bb1b66dda1dad0b9803c1537b99a2",
            "block_index": 183,
            "block_time": 1726172898
        }
    ],
    "next_cursor": 442,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 488,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "60e937de1b5c8d108ca04e76ca55de978f1d38cb90c317a51d945b9e82f135de"
            },
            "tx_hash": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272",
            "block_index": 187,
            "block_time": 1726172925
        }
    ],
    "next_cursor": 457,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 449,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea"
            },
            "tx_hash": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7",
            "block_index": 182,
            "block_time": 1726172893
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50_b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
                "order_match_id": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50_b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
                "status": "completed"
            },
            "tx_hash": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7",
            "block_index": 182,
            "block_time": 1726172893
        }
    ],
    "next_cursor": 421,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "order_match_id": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50_b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
                "source": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "status": "valid",
                "tx_hash": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7",
                "tx_index": 48,
                "block_time": 1726172893,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7",
            "block_index": 182,
            "block_time": 1726172893
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 490,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 187,
                "offer_hash": "60e937de1b5c8d108ca04e76ca55de978f1d38cb90c317a51d945b9e82f135de",
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "tx_hash": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272",
                "tx_index": 53,
                "block_time": 1726172925
            },
            "tx_hash": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272",
            "block_index": 187,
            "block_time": 1726172925
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 429,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 179,
                "order_hash": "d5aa416f612493afce412409e91b6a594602c8e24d1046f7896de0bedfb774cf",
                "source": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "block_time": 1726172815
            },
            "tx_hash": null,
            "block_index": 179,
            "block_time": 1726172815
        }
    ],
    "next_cursor": 427,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 424,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 179,
                "order_match_id": "f0a50300a1ce126ad00e81889edd6578c4f3e2b03a396a55c3ef74786f38ad8c_d5aa416f612493afce412409e91b6a594602c8e24d1046f7896de0bedfb774cf",
                "tx0_address": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "tx1_address": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "block_time": 1726172815
            },
            "tx_hash": null,
            "block_index": 179,
            "block_time": 1726172815
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 244,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 141,
                "dispense_count": 0,
                "escrow_quantity": 10,
                "give_quantity": 1,
                "give_remaining": 10,
                "oracle_address": null,
                "origin": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "satoshirate": 1,
                "source": "mwxmPfWaM6BDfT3ABz92d4VUPDUMe2nyW9",
                "status": 0,
                "tx_hash": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f",
                "tx_index": 28,
                "block_time": 1726172723,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00000010",
                "escrow_quantity_normalized": "0.00000010",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f",
            "block_index": 141,
            "block_time": 1726172723
        }
    ],
    "next_cursor": 236,
    "result_count": 3
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 250,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 0,
                "give_remaining": 20,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": 0,
                "tx_hash": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000020"
            },
            "tx_hash": "c057f6c1a180b1c30d6b8fac4ce7cca442a2a36eb09c1501b4a99306aea9342c",
            "block_index": 142,
            "block_time": 1726172727
        }
    ],
    "next_cursor": 229,
    "result_count": 3
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 251,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 142,
                "destination": "mwxmPfWaM6BDfT3ABz92d4VUPDUMe2nyW9",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f",
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "tx_hash": "c057f6c1a180b1c30d6b8fac4ce7cca442a2a36eb09c1501b4a99306aea9342c",
                "tx_index": 29,
                "block_time": 1726172727,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "c057f6c1a180b1c30d6b8fac4ce7cca442a2a36eb09c1501b4a99306aea9342c",
            "block_index": 142,
            "block_time": 1726172727
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 230,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "dispense_index": 0,
                "dispense_quantity": 4000,
                "dispenser_tx_hash": "4b977a44c0f7edade194152d3b981a382ec13851d5dc7dce23ad210e627751b8",
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
                "tx_index": 26,
                "block_time": 1726172715,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00004000",
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
            "block_index": 139,
            "block_time": 1726172715
        }
    ],
    "next_cursor": 222,
    "result_count": 2
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 363,
            "event": "BROADCAST",
            "params": {
                "block_index": 156,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "text": "Hello, world!",
                "timestamp": 4003903983,
                "tx_hash": "e56ea19baae509942e2c330da8479f523fc58d9bcdbe3288c9d66485f8c552f7",
                "tx_index": 43,
                "value": 999.0,
                "block_time": 1726172799,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "e56ea19baae509942e2c330da8479f523fc58d9bcdbe3288c9d66485f8c552f7",
            "block_index": 156,
            "block_time": 1726172799
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "start_block": 0,
                "status": "open",
                "tx_hash": "998a00eb927c07b9138356a6f40d3a82667dcd46d8cbf02301da89af5167e0cf",
                "tx_index": 22,
                "block_time": 1726172698
            },
            "tx_hash": "998a00eb927c07b9138356a6f40d3a82667dcd46d8cbf02301da89af5167e0cf",
            "block_index": 135,
            "block_time": 1726172698
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "b830a0a461a883d9accef80a636dc9f25dad3352a64e0bf15a883c398f9cbe0c"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726172668
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "998a00eb927c07b9138356a6f40d3a82667dcd46d8cbf02301da89af5167e0cf",
                "paid_quantity": 34,
                "source": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                "status": "valid",
                "tx_hash": "2771f161c660127ded03f2b7e26d6cf7c1a3a9aaea52817819df02700974243c",
                "tx_index": 23,
                "block_time": 1726172703,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "2771f161c660127ded03f2b7e26d6cf7c1a3a9aaea52817819df02700974243c",
            "block_index": 136,
            "block_time": 1726172703
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 288,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 147,
                "destination": "52693f511ff98d1cb561cebe61a55c0c73eeea12ea836c7a02be80081368f3ec:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                "status": "valid",
                "tx_hash": "52693f511ff98d1cb561cebe61a55c0c73eeea12ea836c7a02be80081368f3ec",
                "tx_index": 34,
                "block_time": 1726172748,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "52693f511ff98d1cb561cebe61a55c0c73eeea12ea836c7a02be80081368f3ec",
            "block_index": 147,
            "block_time": 1726172748
        }
    ],
    "next_cursor": 267,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 280,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "destination": "bcrt1qh249scwhnpptyc7ld4n9ckp8xf29y8q5xpwa5f",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "55a2e8e061e14130261f36d52a9fb0273cbaa405306cbf57c91b3969d82adb0a:0",
                "status": "valid",
                "tx_hash": "0c4a94e22f97e072b935e881c7c50e9000295fcd8ada442bd3e791971f7b10b3",
                "tx_index": 33,
                "block_time": 1726172744,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0c4a94e22f97e072b935e881c7c50e9000295fcd8ada442bd3e791971f7b10b3",
            "block_index": 146,
            "block_time": 1726172744
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 325,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 151,
                "destination": "cdc5c5045ae96fa1a75207f34408318b886f9c79ee4cb19e3763e9fb695fa671:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "8c89ebadb62b0ee2adbe434890f5cae0e967c7898c62bc35463e15e83180204e:0",
                "status": "valid",
                "tx_hash": "cdc5c5045ae96fa1a75207f34408318b886f9c79ee4cb19e3763e9fb695fa671",
                "tx_index": 38,
                "block_time": 1726172768,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "cdc5c5045ae96fa1a75207f34408318b886f9c79ee4cb19e3763e9fb695fa671",
            "block_index": 151,
            "block_time": 1726172768
        }
    ],
    "next_cursor": 322,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qtmdf5vs7f5dex2l5scrgkmgx40ww7yeswtexsg",
                "status": "valid",
                "tx_hash": "88cbd9a67cf531ebe3dcda492de6cd528727bebe35b7e702afbc10aded82d9e2",
                "tx_index": 9,
                "block_time": 1726172630,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "88cbd9a67cf531ebe3dcda492de6cd528727bebe35b7e702afbc10aded82d9e2",
            "block_index": 121,
            "block_time": 1726172630
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `190` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 190,
                    "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                    "block_time": 1726172938,
                    "previous_block_hash": "52ef47b22e3cabbbb32c98dcae4d81be5932c144acce8564879462e8ffe2d3e9",
                    "difficulty": 545259519,
                    "ledger_hash": "8313af47254b45f40a53e9d36667e8aba4369c18aa8c0286a180b130307825a6",
                    "txlist_hash": "e7fb558e8416f338163bd4f74470e24f3570d421b26908767e309dfa6c420752",
                    "messages_hash": "fffb068af98ac84f269562d1fc86a256fa39f28318c641aa8ed52b3cb640af47",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "52ef47b22e3cabbbb32c98dcae4d81be5932c144acce8564879462e8ffe2d3e9",
                    "block_time": 1726172933,
                    "previous_block_hash": "5af6eedfc220f2d1267c7e31cb396ecb8ec9327c0c0406946e9bf0e3d602bf6f",
                    "difficulty": 545259519,
                    "ledger_hash": "43158a47877fac5ef72f48251d9b27c32418c30a8a4fdb4d23d79b8634ce48ee",
                    "txlist_hash": "03e0d3975415ba928a19b146368123777ffb90c985d5340a043e60029555ae96",
                    "messages_hash": "268104e0db106e0ea9e3292c7deaa1cb44a749a3f7c066f3fe29238266d1c1fa",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 188,
                    "block_hash": "5af6eedfc220f2d1267c7e31cb396ecb8ec9327c0c0406946e9bf0e3d602bf6f",
                    "block_time": 1726172929,
                    "previous_block_hash": "52350c7e024ac0a6920393d873f25dfb6db7867277a1e33f521814e4fcac086a",
                    "difficulty": 545259519,
                    "ledger_hash": "6cce096a43641d577a82b29da1ba26682122830ce3fd79961e190d8718c35f91",
                    "txlist_hash": "305bf34addb794a0ceda481adc582a49d72eb980fae6236a446171df5c354a43",
                    "messages_hash": "3506c4146294f103cc1bb0735aed535cde82c126f44ec88cd83f0bf24c467cdc",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 187,
                    "block_hash": "52350c7e024ac0a6920393d873f25dfb6db7867277a1e33f521814e4fcac086a",
                    "block_time": 1726172925,
                    "previous_block_hash": "640c26a521d1f55a19971eface03212ff0cde3c25911decd035f7e95ad08e01d",
                    "difficulty": 545259519,
                    "ledger_hash": "26a1cc39745b4c39ca8729f6fcc885831d4595b258781b6300a8fda412133ba5",
                    "txlist_hash": "72229b7fa2a4e5833aa14502e57934becaa1e46ec1dbbf3974ae0775e0606b33",
                    "messages_hash": "23bb9950a62e7264cbd322e3c75310cf26f69e67a9166e2a51e57ff6a1ef5d6c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 186,
                    "block_hash": "640c26a521d1f55a19971eface03212ff0cde3c25911decd035f7e95ad08e01d",
                    "block_time": 1726172910,
                    "previous_block_hash": "37cdcb7fd6ae6acd01dafe5696a8bc429cd90443c63e54c5c6a7ff0c2e06d6e4",
                    "difficulty": 545259519,
                    "ledger_hash": "fee4558f99eaa485b436b00e8605191464c7243c6f91a3bfe07459e9c85c1b73",
                    "txlist_hash": "5b804b7c96ac754c66c48cad68c3c55b95ca08bce2edacecf521ef141752313c",
                    "messages_hash": "3f6cb0f468b6ed8f8f35db9d91ab98c0a34e5eacc8a028f6d33ce37e0a48078c",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 185,
            "result_count": 90
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 190,
                "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                "block_time": 1726172938,
                "previous_block_hash": "52ef47b22e3cabbbb32c98dcae4d81be5932c144acce8564879462e8ffe2d3e9",
                "difficulty": 545259519,
                "ledger_hash": "8313af47254b45f40a53e9d36667e8aba4369c18aa8c0286a180b130307825a6",
                "txlist_hash": "e7fb558e8416f338163bd4f74470e24f3570d421b26908767e309dfa6c420752",
                "messages_hash": "fffb068af98ac84f269562d1fc86a256fa39f28318c641aa8ed52b3cb640af47",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 190,
                "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                "block_time": 1726172938,
                "previous_block_hash": "52ef47b22e3cabbbb32c98dcae4d81be5932c144acce8564879462e8ffe2d3e9",
                "difficulty": 545259519,
                "ledger_hash": "8313af47254b45f40a53e9d36667e8aba4369c18aa8c0286a180b130307825a6",
                "txlist_hash": "e7fb558e8416f338163bd4f74470e24f3570d421b26908767e309dfa6c420752",
                "messages_hash": "fffb068af98ac84f269562d1fc86a256fa39f28318c641aa8ed52b3cb640af47",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor: `56` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                    "block_index": 190,
                    "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
                    "block_time": 1726172938,
                    "source": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `516` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 510,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 189,
                        "ledger_hash": "43158a47877fac5ef72f48251d9b27c32418c30a8a4fdb4d23d79b8634ce48ee",
                        "messages_hash": "268104e0db106e0ea9e3292c7deaa1cb44a749a3f7c066f3fe29238266d1c1fa",
                        "transaction_count": 1,
                        "txlist_hash": "03e0d3975415ba928a19b146368123777ffb90c985d5340a043e60029555ae96",
                        "block_time": 1726172933
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 509,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "tx_index": 55
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                },
                {
                    "event_index": 508,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 189,
                        "destination": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                        "status": "valid",
                        "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "tx_index": 55,
                        "block_time": 1726172933,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                },
                {
                    "event_index": 507,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                        "asset": "XCP",
                        "block_index": 189,
                        "calling_function": "sweep",
                        "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "quantity": 74499387833,
                        "tx_index": 55,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726172933,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                },
                {
                    "event_index": 506,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                        "asset": "XCP",
                        "block_index": 189,
                        "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "quantity": 74499387833,
                        "tx_index": 55,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726172933,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                }
            ],
            "next_cursor": 505,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 507,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                        "asset": "XCP",
                        "block_index": 189,
                        "calling_function": "sweep",
                        "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "quantity": 74499387833,
                        "tx_index": 55,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726172933,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                },
                {
                    "event_index": 505,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                        "asset": "MYASSETA",
                        "block_index": 189,
                        "calling_function": "sweep",
                        "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "quantity": 10,
                        "tx_index": 55,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726172933,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                },
                {
                    "event_index": 503,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                        "asset": "FAIRMINTA",
                        "block_index": 189,
                        "calling_function": "sweep",
                        "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                        "quantity": 500000000,
                        "tx_index": 55,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726172933,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 189,
                    "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                    "tx_index": 55,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726172933,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 189,
                    "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                    "tx_index": 55,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726172933,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 189,
                    "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                    "tx_index": 55,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726172933,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 190,
                    "address": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                    "tx_index": 56,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726172938,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `179` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "d5aa416f612493afce412409e91b6a594602c8e24d1046f7896de0bedfb774cf",
                    "block_index": 179,
                    "confirmed": true,
                    "block_time": 1726172815
                },
                {
                    "type": "order",
                    "object_id": "f0a50300a1ce126ad00e81889edd6578c4f3e2b03a396a55c3ef74786f38ad8c",
                    "block_index": 179,
                    "confirmed": true,
                    "block_time": 1726172815
                },
                {
                    "type": "order_match",
                    "object_id": "f0a50300a1ce126ad00e81889edd6578c4f3e2b03a396a55c3ef74786f38ad8c_d5aa416f612493afce412409e91b6a594602c8e24d1046f7896de0bedfb774cf",
                    "block_index": 179,
                    "confirmed": true,
                    "block_time": 1726172815
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `187` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 53,
                    "tx_hash": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272",
                    "block_index": 187,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "offer_hash": "60e937de1b5c8d108ca04e76ca55de978f1d38cb90c317a51d945b9e82f135de",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726172925
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
                    "block_index": 190,
                    "source": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726172938,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `155` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 42,
                    "tx_hash": "9fc8bfdedfeb59db705695895f2593b73662eec455875d2871ebdca67f1a9366",
                    "msg_index": 0,
                    "block_index": 155,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726172785,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `185` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 51,
                    "tx_hash": "dac903020b17aa2f31ad546313e96a3268b984a3ee9c65821e3b6fe18c99c67a",
                    "block_index": 185,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "destination": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726172906,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 51,
                    "tx_hash": "dac903020b17aa2f31ad546313e96a3268b984a3ee9c65821e3b6fe18c99c67a",
                    "block_index": 185,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "destination": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726172906,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 51,
                    "tx_hash": "dac903020b17aa2f31ad546313e96a3268b984a3ee9c65821e3b6fe18c99c67a",
                    "block_index": 185,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "destination": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726172906,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `139` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 26,
                    "dispense_index": 0,
                    "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
                    "block_index": 139,
                    "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                    "destination": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
                    "asset": "XCP",
                    "dispense_quantity": 4000,
                    "dispenser_tx_hash": "4b977a44c0f7edade194152d3b981a382ec13851d5dc7dce23ad210e627751b8",
                    "btc_amount": 4000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 24,
                        "block_index": 139,
                        "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 10,
                        "give_remaining": 0,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": null,
                        "oracle_price": null,
                        "fiat_unit": null,
                        "oracle_price_last_updated": null,
                        "satoshi_price": 1,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00000000",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000001"
                    },
                    "block_time": 1726172715,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00004000",
                    "btc_amount_normalized": "0.00004000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "a3cdba7c20d56c69eb379ffd904254cf919b5af8cb62847c838e6e25a813bbae",
                    "block_index": 189,
                    "source": "bcrt1qdvy9wadckvfs2z0a93ltvkdenf6hhqapyh9k45",
                    "destination": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726172933,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 43,
        "tx_hash": "e56ea19baae509942e2c330da8479f523fc58d9bcdbe3288c9d66485f8c552f7",
        "block_index": 156,
        "block_hash": "63ecb2d8cd43b34bdad8444c0764640622a40d5ab50aef335636da1ebf3c57e2",
        "block_time": 1726172799,
        "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef408f380000000000000000000d48656c6c6f2c20776f726c6421",
        "supported": true,
        "utxos_info": "e56ea19baae509942e2c330da8479f523fc58d9bcdbe3288c9d66485f8c552f7:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 999.0,
                "fee_fraction_int": 0,
                "text": "Hello, world!",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 48,
        "tx_hash": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7",
        "block_index": 182,
        "block_hash": "3294e36ca2c7321ac27cfad41351964786a476a9341df7b7aa63419d590b07f7",
        "block_time": 1726172893,
        "source": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
        "destination": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0ba5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
        "supported": true,
        "utxos_info": "827b3e3f064453547c9401b058d8fc5ba9a270be78f5d5dbf2bba7d8205308e7:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50",
                "tx1_hash": "b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
                "order_match_id": "a5ee2d858afdaa0809875d13c8133d05718be0e4b0e24daaf8ef014453654c50_b2b61f1954af13c3651ead3035ab8cd68136d702d2bae159a6e25a7e5a34e7ea",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 53,
        "tx_hash": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272",
        "block_index": 187,
        "block_hash": "52350c7e024ac0a6920393d873f25dfb6db7867277a1e33f521814e4fcac086a",
        "block_time": 1726172925,
        "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4660e937de1b5c8d108ca04e76ca55de978f1d38cb90c317a51d945b9e82f135de",
        "supported": true,
        "utxos_info": "52a7d64a1cb090152f54cc5c3837ca857383471b8b07d644732a712679eed272:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "60e937de1b5c8d108ca04e76ca55de978f1d38cb90c317a51d945b9e82f135de",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f",
        "block_index": 190,
        "block_hash": "769ede9d8f5d73b851f9800f4889748dc4573c40f378ad0091cd4da8bcd38d99",
        "block_time": 1726172938,
        "source": "bcrt1qe7a3alh86lsguteuzwyw39fcenats47w2yyc3r",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "4c934b83bb1e5f4b93d683e36dccc6507f5e1525bfe99b56a55704b6bafbe61f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 28,
        "tx_hash": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f",
        "block_index": 141,
        "block_hash": "115972dbe32caf1e9ef19d9285299bcd1c0c091600caa95e49758e29d0ee1aea",
        "block_time": 1726172723,
        "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000000a0000000000000001016fb463b9d89de439ca9df1c9e11510f3d136850322",
        "supported": true,
        "utxos_info": "60582ad6496f2d8cf8923fe428deee74092a513ec2dc57b8e97320148aa9418f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10,
                "mainchainrate": 1,
                "dispenser_status": 1,
                "action_address": "mwxmPfWaM6BDfT3ABz92d4VUPDUMe2nyW9",
                "oracle_address": null,
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00000010"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 26,
        "tx_hash": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a",
        "block_index": 139,
        "block_hash": "2af47316497aa855ac5e4d1c0acc478ddd1ffe4ac9646577a1451d9d301a8876",
        "block_time": 1726172715,
        "source": "bcrt1qdm7vsaktwqx6c6y2mxdw0nz63vkgx5ucvjsgk6",
        "destination": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "btc_amount": 4000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "d11a7202b5418b0eecc77468acd06de7ba32fbf7eaf23f0e1760f2600f19352a:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00004000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 36,
        "tx_hash": "1f00bd9c23e61d78a7e1b045b53eff7f7ba28e98de12ae75e6a5479e728618c9",
        "block_index": 149,
        "block_hash": "4e76161818f0e0f36d97cd18300dddc6a44c40b26328ffb70a31cc2ec5aafeb5",
        "block_time": 1726172757,
        "source": "bcrt1q2fpaq5642eps0z076lpdzghrvvg4xpahcug4l7",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
[...]
