[//]: # (Generated by genapidoc.py on 2024-09-24 17:12:40.453783. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 537,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                "block_index": 194,
                "block_time": 1727197944,
                "difficulty": 545259519,
                "previous_block_hash": "4b37da06f9b1cf772e7cea6312e1de15cb1e99134b8f7ebba689c9573c758da6"
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 525,
    "result_count": 94
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 538,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                "block_index": 194,
                "block_time": 1727197944,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                "tx_index": 60,
                "utxos_info": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 526,
    "result_count": 61
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 277,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "out_index": 0,
                "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
                "tx_index": 34,
                "block_time": 1727197754,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
            "block_index": 147,
            "block_time": 1727197754
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 542,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 194,
                "ledger_hash": "16381874665225577b7cd80338f76707ba0dd29dee5eef001cd0507a947a5fe3",
                "messages_hash": "a40641404ab17b129ab9719bbf4d455eae61f813aa7eeeda0e2b6ade8dd73f3c",
                "transaction_count": 1,
                "txlist_hash": "cb9a303295d05f8eba813d906048842b354eef1de9d3b1f50ca630f2efa37f40",
                "block_time": 1727197944
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 536,
    "result_count": 94
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 541,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                "tx_index": 60
            },
            "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 535,
    "result_count": 48
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 539,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "asset": "XCP",
                "block_index": 194,
                "event": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                "quantity": 1,
                "tx_index": 60,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727197944,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 532,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "asset": "XCP",
                "block_index": 193,
                "calling_function": "sweep",
                "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                "quantity": 74499387833,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727197940,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
            "block_index": 193,
            "block_time": 1727197940
        }
    ],
    "next_cursor": 531,
    "result_count": 68
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 491,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                "status": "valid",
                "tx_hash": "396116982a7535d9189a658d0d50902c4e22a374ff4ada93a615bbb8b0190cd0",
                "tx_index": 54,
                "block_time": 1727197909,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "396116982a7535d9189a658d0d50902c4e22a374ff4ada93a615bbb8b0190cd0",
            "block_index": 188,
            "block_time": 1727197909
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 503,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 189,
                "destination": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "valid",
                "tx_hash": "5f5d1574edd22cb9617bbd5461763ba293c4b53002fcb6528b1858e80666d152",
                "tx_index": 55,
                "block_time": 1727197914,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "5f5d1574edd22cb9617bbd5461763ba293c4b53002fcb6528b1858e80666d152",
            "block_index": 189,
            "block_time": 1727197914
        }
    ],
    "next_cursor": 502,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "SWEEP",
            "params": {
                "block_index": 193,
                "destination": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                "status": "valid",
                "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                "tx_index": 59,
                "block_time": 1727197940,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
            "block_index": 193,
            "block_time": 1727197940
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 337,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 154,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "valid",
                "tx_hash": "87d52f23e02b1c32039da1736ac9f62a82ac6760fc18e9a0e6005ca5fe7cd28f",
                "tx_index": 41,
                "block_time": 1727197783,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "87d52f23e02b1c32039da1736ac9f62a82ac6760fc18e9a0e6005ca5fe7cd28f",
            "block_index": 154,
            "block_time": 1727197783
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 387,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 160,
                "block_time": 1727197808
            },
            "tx_hash": "47b2fc83527036923550cd1ea6bc6dd8e3c30b7b3b97228d7a43f07b5404ac7f",
            "block_index": 160,
            "block_time": 1727197808
        }
    ],
    "next_cursor": 374,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 388,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 160,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "valid",
                "transfer": false,
                "tx_hash": "47b2fc83527036923550cd1ea6bc6dd8e3c30b7b3b97228d7a43f07b5404ac7f",
                "tx_index": 47,
                "block_time": 1727197808,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "47b2fc83527036923550cd1ea6bc6dd8e3c30b7b3b97228d7a43f07b5404ac7f",
            "block_index": 160,
            "block_time": 1727197808
        }
    ],
    "next_cursor": 381,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 540,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 194,
                "quantity": 1,
                "source": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                "tx_index": 60,
                "block_time": 1727197944,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
            "block_index": 194,
            "block_time": 1727197944
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 522,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 192,
                "expiration": 21,
                "expire_index": 213,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "open",
                "tx_hash": "57dc98435a9d28991bd401ead08d736cb38bbd52a6155f0a9398e711387e7aac",
                "tx_index": 58,
                "block_time": 1727197936,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "57dc98435a9d28991bd401ead08d736cb38bbd52a6155f0a9398e711387e7aac",
            "block_index": 192,
            "block_time": 1727197936
        }
    ],
    "next_cursor": 509,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 187,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9_cf93b0732aebd7544ffd216971b9a0c8953e010135fe40e1f9f9c56d993259f7",
                "match_expire_index": 207,
                "status": "pending",
                "tx0_address": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "tx0_block_index": 185,
                "tx0_expiration": 21,
                "tx0_hash": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9",
                "tx0_index": 50,
                "tx1_address": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                "tx1_block_index": 187,
                "tx1_expiration": 21,
                "tx1_hash": "cf93b0732aebd7544ffd216971b9a0c8953e010135fe40e1f9f9c56d993259f7",
                "tx1_index": 53,
                "block_time": 1727197905,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "cf93b0732aebd7544ffd216971b9a0c8953e010135fe40e1f9f9c56d993259f7",
            "block_index": 187,
            "block_time": 1727197905
        }
    ],
    "next_cursor": 468,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 514,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "6ecba9c2e1759fc3fc147319886dcd9b28af31d2b84d40c218a232c96d165f9b"
            },
            "tx_hash": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43",
            "block_index": 191,
            "block_time": 1727197921
        }
    ],
    "next_cursor": 483,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 475,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf"
            },
            "tx_hash": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35",
            "block_index": 186,
            "block_time": 1727197901
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 474,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9_e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
                "order_match_id": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9_e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
                "status": "completed"
            },
            "tx_hash": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35",
            "block_index": 186,
            "block_time": 1727197901
        }
    ],
    "next_cursor": 447,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 476,
            "event": "BTC_PAY",
            "params": {
                "block_index": 186,
                "btc_amount": 2000,
                "destination": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "order_match_id": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9_e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
                "source": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                "status": "valid",
                "tx_hash": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35",
                "tx_index": 52,
                "block_time": 1727197901,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35",
            "block_index": 186,
            "block_time": 1727197901
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 516,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 191,
                "offer_hash": "6ecba9c2e1759fc3fc147319886dcd9b28af31d2b84d40c218a232c96d165f9b",
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "valid",
                "tx_hash": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43",
                "tx_index": 57,
                "block_time": 1727197921
            },
            "tx_hash": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43",
            "block_index": 191,
            "block_time": 1727197921
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 455,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_hash": "0dbd8a210369b0beabdc1497143cab14c587789fd6882a29a1ba504e86f58cef",
                "source": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                "block_time": 1727197823
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727197823
        }
    ],
    "next_cursor": 453,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_match_id": "27bb4249f5b10ca1bc2243db016483f22c15c66cc74878577f7a8117401867eb_0dbd8a210369b0beabdc1497143cab14c587789fd6882a29a1ba504e86f58cef",
                "tx0_address": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "tx1_address": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                "block_time": 1727197823
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727197823
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "origin": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "satoshirate": 1,
                "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "status": 0,
                "tx_hash": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b",
                "tx_index": 33,
                "block_time": 1727197749,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b",
            "block_index": 146,
            "block_time": 1727197749
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 302,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "give_remaining": 0,
                "source": "mmMQv1E9m8quqXXYXh9u1wxK5Yao7BFUfG",
                "status": 10,
                "tx_hash": "d8c4d9743c70dc60ca111fcd9049da47ff04b408893eb8a73659046caf40e9d1",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "5ca9872e8c15fef788e8a9150b0773af2f48c168ebcce30460ebc75e2b7efd18",
            "block_index": 150,
            "block_time": 1727197765
        }
    ],
    "next_cursor": 279,
    "result_count": 6
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mmMQv1E9m8quqXXYXh9u1wxK5Yao7BFUfG",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "d8c4d9743c70dc60ca111fcd9049da47ff04b408893eb8a73659046caf40e9d1",
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "tx_hash": "4ef9bf3c6b9845c8479bd4df25a1ce8dd0706f42b3d93f1e934ac6472755b20d",
                "tx_index": 31,
                "block_time": 1727197731,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "4ef9bf3c6b9845c8479bd4df25a1ce8dd0706f42b3d93f1e934ac6472755b20d",
            "block_index": 144,
            "block_time": 1727197731
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 280,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qwnyzk063yhuf65jqlxydqyluamst2ltrckxj85",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b",
                "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
                "tx_index": 34,
                "block_time": 1727197754,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
            "block_index": 147,
            "block_time": 1727197754
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "0c3c9ea724b3b711491e97e68d3531f550ecea1985eb965e20a35773dcb8d16a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727197705,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "0c3c9ea724b3b711491e97e68d3531f550ecea1985eb965e20a35773dcb8d16a",
            "block_index": 138,
            "block_time": 1727197705
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "start_block": 0,
                "status": "open",
                "tx_hash": "3d65b6cc5729389e6128d3c1c4eddb613fac7642abd139a2253711684ef6fd4d",
                "tx_index": 22,
                "block_time": 1727197692
            },
            "tx_hash": "3d65b6cc5729389e6128d3c1c4eddb613fac7642abd139a2253711684ef6fd4d",
            "block_index": 135,
            "block_time": 1727197692
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ed54030f74b75858f08f505f277c85ca7c83e98e45fa2466d05fa442687341c8"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727197672
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "3d65b6cc5729389e6128d3c1c4eddb613fac7642abd139a2253711684ef6fd4d",
                "paid_quantity": 34,
                "source": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                "status": "valid",
                "tx_hash": "201f88f9894c716c618457972af68ef54a92b3eeb8876fb18286c0ea68a88c25",
                "tx_index": 23,
                "block_time": 1727197697,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "201f88f9894c716c618457972af68ef54a92b3eeb8876fb18286c0ea68a88c25",
            "block_index": 136,
            "block_time": 1727197697
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 319,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 152,
                "destination": "584eeaba5a458b221a9c08b46e34f8cfa3671b738bd6e8408f6292b7f0ddc34f:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                "status": "valid",
                "tx_hash": "584eeaba5a458b221a9c08b46e34f8cfa3671b738bd6e8408f6292b7f0ddc34f",
                "tx_index": 39,
                "block_time": 1727197774,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "584eeaba5a458b221a9c08b46e34f8cfa3671b738bd6e8408f6292b7f0ddc34f",
            "block_index": 152,
            "block_time": 1727197774
        }
    ],
    "next_cursor": 296,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 311,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "bcrt1qq4p2fw7kt494hn7hmq5g359dhqt56nu5u2gu9p",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "5ca9872e8c15fef788e8a9150b0773af2f48c168ebcce30460ebc75e2b7efd18:0",
                "status": "valid",
                "tx_hash": "4e5e668a3cc76166427fea322ae7c0f5deefad71340af9a2f004c1b19bd4167d",
                "tx_index": 38,
                "block_time": 1727197770,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "4e5e668a3cc76166427fea322ae7c0f5deefad71340af9a2f004c1b19bd4167d",
            "block_index": 151,
            "block_time": 1727197770
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 156,
                "destination": "9cc79c07e8c025023983ee67a4c6d3d6fc94fa518d3c1547b57cf071b8c918f8:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "cdf72c3a87898c26c34987139effdc8792eac0e8b234418fdb4844523f3510c9:0",
                "status": "valid",
                "tx_hash": "9cc79c07e8c025023983ee67a4c6d3d6fc94fa518d3c1547b57cf071b8c918f8",
                "tx_index": 43,
                "block_time": 1727197791,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "9cc79c07e8c025023983ee67a4c6d3d6fc94fa518d3c1547b57cf071b8c918f8",
            "block_index": 156,
            "block_time": 1727197791
        }
    ],
    "next_cursor": 353,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qyxerv7nywhqduhyezl3s8kpvw9ts8svpuu3vka",
                "status": "valid",
                "tx_hash": "4425334c064a07609b1049b0e61f4368bf0e83b7743d8b0dfa6c08c631ca5015",
                "tx_index": 9,
                "block_time": 1727197635,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "4425334c064a07609b1049b0e61f4368bf0e83b7743d8b0dfa6c08c631ca5015",
            "block_index": 121,
            "block_time": 1727197635
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `194` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                    "block_time": 1727197944,
                    "previous_block_hash": "4b37da06f9b1cf772e7cea6312e1de15cb1e99134b8f7ebba689c9573c758da6",
                    "difficulty": 545259519,
                    "ledger_hash": "16381874665225577b7cd80338f76707ba0dd29dee5eef001cd0507a947a5fe3",
                    "txlist_hash": "cb9a303295d05f8eba813d906048842b354eef1de9d3b1f50ca630f2efa37f40",
                    "messages_hash": "a40641404ab17b129ab9719bbf4d455eae61f813aa7eeeda0e2b6ade8dd73f3c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 193,
                    "block_hash": "4b37da06f9b1cf772e7cea6312e1de15cb1e99134b8f7ebba689c9573c758da6",
                    "block_time": 1727197940,
                    "previous_block_hash": "5db855c0baebf4b1be0c1b9b0885c99c81612a824ff72a82c04d92bf7c3200d0",
                    "difficulty": 545259519,
                    "ledger_hash": "8ebf0ff459fa8641d33b886fc35228153c63004c1b6d68a64ff566e9cb4de0e3",
                    "txlist_hash": "506c4191b8f52510ebd356fd01ac1b9bedff7b578efd0bc5a3bd85b08251a1a8",
                    "messages_hash": "55b40ca33d6b637a0b2410ab1e90bade3f809597ed4a502535846e0b388bc84b",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "5db855c0baebf4b1be0c1b9b0885c99c81612a824ff72a82c04d92bf7c3200d0",
                    "block_time": 1727197936,
                    "previous_block_hash": "0ba357e822a1ad9f1ee40b954ad363862e0d3afdb30fc3a5d88c175a18c38bd7",
                    "difficulty": 545259519,
                    "ledger_hash": "ed2663e807abed358c370631c393de19d2a31d71fa358bbf242406c52d095df2",
                    "txlist_hash": "4f8e1381f981afd674cfc8e4809c2409298d7d9c5b7c0a249c1185b179f0bfa3",
                    "messages_hash": "26277faaf7ebbfead3cfb663fecb912b47ae85e99f0e2711bf04cc195eeffcde",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "0ba357e822a1ad9f1ee40b954ad363862e0d3afdb30fc3a5d88c175a18c38bd7",
                    "block_time": 1727197921,
                    "previous_block_hash": "0033c741fc5613728a96e2ae19f264cc8678daa5777b8c77ee8ae758f1fe49e8",
                    "difficulty": 545259519,
                    "ledger_hash": "155de78e77691fa4852cea37b3db40e304bef521b3f2171fcb32b62a818971c0",
                    "txlist_hash": "624b1a10e023bf054ec39c1414b51f63aac8f1f5ffffa026d9203d72d86b302e",
                    "messages_hash": "123f9ccc6393e5dbc04c9b5716b7453477353af2429199386c25d88d41655d2c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "0033c741fc5613728a96e2ae19f264cc8678daa5777b8c77ee8ae758f1fe49e8",
                    "block_time": 1727197917,
                    "previous_block_hash": "5e52af4ac2e545ee9b2f874c6e6b5906d2705730d220f92fdcf1c0660e9b93cb",
                    "difficulty": 545259519,
                    "ledger_hash": "6b01ff1925c48a6193a47beff2795790910c846d74e2158ba5198c52eced339e",
                    "txlist_hash": "07bfc2fae7438d22af5ca3ab15d012058a50878d9320712da2476c6904747dde",
                    "messages_hash": "1f296eb34f29f041f13eac8f6d242af1203389ba36e46aa60938d5cfc6ef5e23",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 189,
            "result_count": 94
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                "block_time": 1727197944,
                "previous_block_hash": "4b37da06f9b1cf772e7cea6312e1de15cb1e99134b8f7ebba689c9573c758da6",
                "difficulty": 545259519,
                "ledger_hash": "16381874665225577b7cd80338f76707ba0dd29dee5eef001cd0507a947a5fe3",
                "txlist_hash": "cb9a303295d05f8eba813d906048842b354eef1de9d3b1f50ca630f2efa37f40",
                "messages_hash": "a40641404ab17b129ab9719bbf4d455eae61f813aa7eeeda0e2b6ade8dd73f3c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                "block_time": 1727197944,
                "previous_block_hash": "4b37da06f9b1cf772e7cea6312e1de15cb1e99134b8f7ebba689c9573c758da6",
                "difficulty": 545259519,
                "ledger_hash": "16381874665225577b7cd80338f76707ba0dd29dee5eef001cd0507a947a5fe3",
                "txlist_hash": "cb9a303295d05f8eba813d906048842b354eef1de9d3b1f50ca630f2efa37f40",
                "messages_hash": "a40641404ab17b129ab9719bbf4d455eae61f813aa7eeeda0e2b6ade8dd73f3c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor: `60` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                    "block_index": 194,
                    "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
                    "block_time": 1727197944,
                    "source": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `542` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 536,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 193,
                        "ledger_hash": "8ebf0ff459fa8641d33b886fc35228153c63004c1b6d68a64ff566e9cb4de0e3",
                        "messages_hash": "55b40ca33d6b637a0b2410ab1e90bade3f809597ed4a502535846e0b388bc84b",
                        "transaction_count": 1,
                        "txlist_hash": "506c4191b8f52510ebd356fd01ac1b9bedff7b578efd0bc5a3bd85b08251a1a8",
                        "block_time": 1727197940
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 535,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "tx_index": 59
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                },
                {
                    "event_index": 534,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 193,
                        "destination": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                        "status": "valid",
                        "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "tx_index": 59,
                        "block_time": 1727197940,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                },
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727197940,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                },
                {
                    "event_index": 532,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                        "asset": "XCP",
                        "block_index": 193,
                        "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727197940,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                }
            ],
            "next_cursor": 531,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727197940,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                },
                {
                    "event_index": 531,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                        "asset": "MYASSETA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "quantity": 10,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727197940,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                },
                {
                    "event_index": 529,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                        "asset": "FAIRMINTA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                        "quantity": 500000000,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727197940,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727197940,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727197940,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727197940,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "address": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                    "tx_index": 60,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727197944,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `183` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "0dbd8a210369b0beabdc1497143cab14c587789fd6882a29a1ba504e86f58cef",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727197823
                },
                {
                    "type": "order",
                    "object_id": "27bb4249f5b10ca1bc2243db016483f22c15c66cc74878577f7a8117401867eb",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727197823
                },
                {
                    "type": "order_match",
                    "object_id": "27bb4249f5b10ca1bc2243db016483f22c15c66cc74878577f7a8117401867eb_0dbd8a210369b0beabdc1497143cab14c587789fd6882a29a1ba504e86f58cef",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727197823
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `191` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 57,
                    "tx_hash": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43",
                    "block_index": 191,
                    "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "offer_hash": "6ecba9c2e1759fc3fc147319886dcd9b28af31d2b84d40c218a232c96d165f9b",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727197921
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
                    "block_index": 194,
                    "source": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727197944,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `160` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 47,
                    "tx_hash": "47b2fc83527036923550cd1ea6bc6dd8e3c30b7b3b97228d7a43f07b5404ac7f",
                    "msg_index": 0,
                    "block_index": 160,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727197808,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "5f5d1574edd22cb9617bbd5461763ba293c4b53002fcb6528b1858e80666d152",
                    "block_index": 189,
                    "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "destination": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727197914,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "5f5d1574edd22cb9617bbd5461763ba293c4b53002fcb6528b1858e80666d152",
                    "block_index": 189,
                    "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "destination": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727197914,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "5f5d1574edd22cb9617bbd5461763ba293c4b53002fcb6528b1858e80666d152",
                    "block_index": 189,
                    "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                    "destination": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727197914,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `147` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 34,
                    "dispense_index": 0,
                    "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
                    "block_index": 147,
                    "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                    "destination": "bcrt1qwnyzk063yhuf65jqlxydqyluamst2ltrckxj85",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 147,
                        "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727197754,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "e723f005b868d16f9244e5e0fa33f5b25f086cf0434f191789e781cae3413f1e",
                    "block_index": 193,
                    "source": "bcrt1q6fsv92n3npu4u8ytp2ju9lce49cclv99puemde",
                    "destination": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727197940,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "0c3c9ea724b3b711491e97e68d3531f550ecea1985eb965e20a35773dcb8d16a",
        "block_index": 138,
        "block_hash": "0f48254c4df0c5d1ed0f2e3ab66847fb82d706f14d765325f5cc700c99f20298",
        "block_time": 1727197705,
        "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "0c3c9ea724b3b711491e97e68d3531f550ecea1985eb965e20a35773dcb8d16a:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 52,
        "tx_hash": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35",
        "block_index": 186,
        "block_hash": "23715f413c2b5dfaacd98fbc7d09da3269edd75cb02570c248e4fb573680aa6f",
        "block_time": 1727197901,
        "source": "bcrt1q3uemn2m05j4zlftuhzxkac9g3ul74e7h0wz40u",
        "destination": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
        "supported": true,
        "utxos_info": "bdf59d2a2e5d103dcc11576e72003bc35c09a1b91655de1dd33d6205f338ed35:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9",
                "tx1_hash": "e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
                "order_match_id": "272414062403b3496b793cc3695ef45befd934e9c75e4b59a3171941442d8ae9_e8137cacf2174e939491ff697ea84330ced98c61060c262113fa97403dec2ebf",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 57,
        "tx_hash": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43",
        "block_index": 191,
        "block_hash": "0ba357e822a1ad9f1ee40b954ad363862e0d3afdb30fc3a5d88c175a18c38bd7",
        "block_time": 1727197921,
        "source": "bcrt1q0ljhu8af6c6tw0f5fem620t5sdlnzr4fns5ccj",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "466ecba9c2e1759fc3fc147319886dcd9b28af31d2b84d40c218a232c96d165f9b",
        "supported": true,
        "utxos_info": "2931441524be69ad53514dcbddd4ccd4012ba53a743731a923e4411f48678c43:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "6ecba9c2e1759fc3fc147319886dcd9b28af31d2b84d40c218a232c96d165f9b",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 60,
        "tx_hash": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d",
        "block_index": 194,
        "block_hash": "209a82c67ae0b7a333aac2c11519ef6d7c4b6c68b523ae8db458866cf4c4b364",
        "block_time": 1727197944,
        "source": "bcrt1qhca7qyzjsjcq3wuum6t7c53dfwp7n9550xjug2",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "dfbce0fb347e27f6fb7465949b76a500b23af2438357e891128511000c57924d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b",
        "block_index": 146,
        "block_hash": "5299ea203573879ed196eb5ff786b358150ae1bd89dffbae1ae232900e4ed5df",
        "block_time": 1727197749,
        "source": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c0000000000000001000000000000000100000000000027100000000000000001008007af16c44d1cb1d2280aae2cd75ba4d1b373fdcd",
        "supported": true,
        "utxos_info": "aa3f6c0814b54f2613e45e27a0ad77dedc3bd65b9d420e656e2c98501d87b59b:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 34,
        "tx_hash": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c",
        "block_index": 147,
        "block_hash": "7721a2b857d2ec36261c17260af7d37a772e66b562375d53d8cf48d7c50088c4",
        "block_time": 1727197754,
        "source": "bcrt1qwnyzk063yhuf65jqlxydqyluamst2ltrckxj85",
        "destination": "bcrt1qq7h3d3zdrjcay2q24ckdwkay6xeh8lwdscyj0w",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "928ae814a7a34fc4ef824234a21f2a90a40bf0e76456751d66219492ef0ffd0c:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 41,
        "tx_hash": "87d52f23e02b1c32039da1736ac9f62a82ac6760fc18e9a0e6005ca5fe7cd28f",
        "block_index": 154,
        "block_hash": "43fef80a7ca26a574e27a52b50ae7749bd5e62fc9ba05b1493fe73196d95122d",
        "block_time": 1727197783,
[...]
