[//]: # (Generated by genapidoc.py on 2024-09-26 11:23:18.123851. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 537,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                "block_index": 194,
                "block_time": 1727349782,
                "difficulty": 545259519,
                "previous_block_hash": "54672ea685fd69351a7053e700a410b78f15779452e33b33b6568680facc7d1c"
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 525,
    "result_count": 94
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 538,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                "block_index": 194,
                "block_time": 1727349782,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                "tx_index": 60,
                "utxos_info": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 526,
    "result_count": 61
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 277,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "out_index": 0,
                "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
                "tx_index": 34,
                "block_time": 1727349600,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
            "block_index": 147,
            "block_time": 1727349600
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 542,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 194,
                "ledger_hash": "6afd3dfc102fbf1274a2eeb819e3f884052abc07094a6ae2a214d492f0eaddf8",
                "messages_hash": "6b6351b7f9138a49ff6e792f7e0d5eb884ae745d994b4894b3a880c6eace487e",
                "transaction_count": 1,
                "txlist_hash": "230713c1ad13fc88b739b97038bb4243d934efd7d03b200ebc289c930c2a7d58",
                "block_time": 1727349782
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 536,
    "result_count": 94
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 541,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                "tx_index": 60
            },
            "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 535,
    "result_count": 48
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 539,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "asset": "XCP",
                "block_index": 194,
                "event": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                "quantity": 1,
                "tx_index": 60,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727349782,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 532,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "asset": "XCP",
                "block_index": 193,
                "calling_function": "sweep",
                "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                "quantity": 74499387833,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727349778,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
            "block_index": 193,
            "block_time": 1727349778
        }
    ],
    "next_cursor": 531,
    "result_count": 68
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 491,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                "status": "valid",
                "tx_hash": "ba2b62e02257afd56871a06214aa59ca231cd893239ab9555de83150c93f7a80",
                "tx_index": 54,
                "block_time": 1727349756,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "ba2b62e02257afd56871a06214aa59ca231cd893239ab9555de83150c93f7a80",
            "block_index": 188,
            "block_time": 1727349756
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 503,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 189,
                "destination": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "valid",
                "tx_hash": "c95c3eaeb282aad2a9bd7b3c74fec665200aceba41585581df0b0bb4ad6434d7",
                "tx_index": 55,
                "block_time": 1727349761,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "c95c3eaeb282aad2a9bd7b3c74fec665200aceba41585581df0b0bb4ad6434d7",
            "block_index": 189,
            "block_time": 1727349761
        }
    ],
    "next_cursor": 502,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "SWEEP",
            "params": {
                "block_index": 193,
                "destination": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                "status": "valid",
                "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                "tx_index": 59,
                "block_time": 1727349778,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
            "block_index": 193,
            "block_time": 1727349778
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 337,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 154,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "valid",
                "tx_hash": "93ad02ea00b04315ab7d89eb94788e9deed4d268a6b0be87c7d0a45682301f10",
                "tx_index": 41,
                "block_time": 1727349630,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "93ad02ea00b04315ab7d89eb94788e9deed4d268a6b0be87c7d0a45682301f10",
            "block_index": 154,
            "block_time": 1727349630
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 387,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 160,
                "block_time": 1727349655
            },
            "tx_hash": "a2fa6f1455be62f0f3dc7323d04ff355a70e7a3c9598ec831b1ebe6042414f40",
            "block_index": 160,
            "block_time": 1727349655
        }
    ],
    "next_cursor": 374,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 388,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 160,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "valid",
                "transfer": false,
                "tx_hash": "a2fa6f1455be62f0f3dc7323d04ff355a70e7a3c9598ec831b1ebe6042414f40",
                "tx_index": 47,
                "block_time": 1727349655,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "a2fa6f1455be62f0f3dc7323d04ff355a70e7a3c9598ec831b1ebe6042414f40",
            "block_index": 160,
            "block_time": 1727349655
        }
    ],
    "next_cursor": 381,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 540,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 194,
                "quantity": 1,
                "source": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                "tx_index": 60,
                "block_time": 1727349782,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
            "block_index": 194,
            "block_time": 1727349782
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 522,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 192,
                "expiration": 21,
                "expire_index": 213,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "open",
                "tx_hash": "a698de8b421cf087e348e8229a0a5fe1f94cda423531629f5c2864fde41dcd7f",
                "tx_index": 58,
                "block_time": 1727349773,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "a698de8b421cf087e348e8229a0a5fe1f94cda423531629f5c2864fde41dcd7f",
            "block_index": 192,
            "block_time": 1727349773
        }
    ],
    "next_cursor": 509,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 187,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05_c6f8c780a3c367c4f406fc77b5022d7218f701c9e98d119dd9bdacfe94ebf127",
                "match_expire_index": 207,
                "status": "pending",
                "tx0_address": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "tx0_block_index": 185,
                "tx0_expiration": 21,
                "tx0_hash": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05",
                "tx0_index": 50,
                "tx1_address": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                "tx1_block_index": 187,
                "tx1_expiration": 21,
                "tx1_hash": "c6f8c780a3c367c4f406fc77b5022d7218f701c9e98d119dd9bdacfe94ebf127",
                "tx1_index": 53,
                "block_time": 1727349752,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c6f8c780a3c367c4f406fc77b5022d7218f701c9e98d119dd9bdacfe94ebf127",
            "block_index": 187,
            "block_time": 1727349752
        }
    ],
    "next_cursor": 468,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 514,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "2800d4586e4c4189062b253bb171fd88ceb4184a559bb111b5990541e65968fc"
            },
            "tx_hash": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f",
            "block_index": 191,
            "block_time": 1727349769
        }
    ],
    "next_cursor": 483,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 475,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af"
            },
            "tx_hash": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac",
            "block_index": 186,
            "block_time": 1727349748
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 474,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05_94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
                "order_match_id": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05_94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
                "status": "completed"
            },
            "tx_hash": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac",
            "block_index": 186,
            "block_time": 1727349748
        }
    ],
    "next_cursor": 447,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 476,
            "event": "BTC_PAY",
            "params": {
                "block_index": 186,
                "btc_amount": 2000,
                "destination": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "order_match_id": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05_94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
                "source": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                "status": "valid",
                "tx_hash": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac",
                "tx_index": 52,
                "block_time": 1727349748,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac",
            "block_index": 186,
            "block_time": 1727349748
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 516,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 191,
                "offer_hash": "2800d4586e4c4189062b253bb171fd88ceb4184a559bb111b5990541e65968fc",
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "valid",
                "tx_hash": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f",
                "tx_index": 57,
                "block_time": 1727349769
            },
            "tx_hash": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f",
            "block_index": 191,
            "block_time": 1727349769
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 455,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_hash": "14d777a78cbc424d171855e5b4ba94e6fbe4ffa003915cbd1a889ff733a278c5",
                "source": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                "block_time": 1727349670
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727349670
        }
    ],
    "next_cursor": 453,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_match_id": "3c2578755f5ce3a12092ce274da102b8cc2edd176680fb729c666ddf64758de0_14d777a78cbc424d171855e5b4ba94e6fbe4ffa003915cbd1a889ff733a278c5",
                "tx0_address": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "tx1_address": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                "block_time": 1727349670
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727349670
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "origin": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "satoshirate": 1,
                "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "status": 0,
                "tx_hash": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564",
                "tx_index": 33,
                "block_time": 1727349596,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564",
            "block_index": 146,
            "block_time": 1727349596
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 302,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "give_remaining": 0,
                "source": "mxH2rQrd18EF6R1ykn18TRPT2HX5UVRJHz",
                "status": 10,
                "tx_hash": "a913a4e0d363595bbb0d8042759a3e348de369b4f3c7c1e6a0b6628bb46810a8",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "3ca36e487e877ec78ff41ab30691fb067721fa65e9a6478d0a0997847ec29966",
            "block_index": 150,
            "block_time": 1727349613
        }
    ],
    "next_cursor": 279,
    "result_count": 6
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mxH2rQrd18EF6R1ykn18TRPT2HX5UVRJHz",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "a913a4e0d363595bbb0d8042759a3e348de369b4f3c7c1e6a0b6628bb46810a8",
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "tx_hash": "9a4204cfd45d607d4fd0ef121a833318ade0f64cb0b179e4afaeb07325c392fc",
                "tx_index": 31,
                "block_time": 1727349577,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "9a4204cfd45d607d4fd0ef121a833318ade0f64cb0b179e4afaeb07325c392fc",
            "block_index": 144,
            "block_time": 1727349577
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 280,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qwjn89m6ynaf8t4s48mucjczwt375eyrga4zrhw",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564",
                "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
                "tx_index": 34,
                "block_time": 1727349600,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
            "block_index": 147,
            "block_time": 1727349600
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "f1e99ee2d6b5cb7b23efa5b5ee18acc60380cfb0045398b51eb6e97d7cdc4808",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727349552,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "f1e99ee2d6b5cb7b23efa5b5ee18acc60380cfb0045398b51eb6e97d7cdc4808",
            "block_index": 138,
            "block_time": 1727349552
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "start_block": 0,
                "status": "open",
                "tx_hash": "dcf51617ae20ec4d8e93ee5852b5ad729111cf44ffc8b1990010dc23e4946287",
                "tx_index": 22,
                "block_time": 1727349541
            },
            "tx_hash": "dcf51617ae20ec4d8e93ee5852b5ad729111cf44ffc8b1990010dc23e4946287",
            "block_index": 135,
            "block_time": 1727349541
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "b138bde3e56cbfb89568a21f4adc5db7ed53b8b04d83baeb55e9b45a0d76ac81"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727349511
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "dcf51617ae20ec4d8e93ee5852b5ad729111cf44ffc8b1990010dc23e4946287",
                "paid_quantity": 34,
                "source": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                "status": "valid",
                "tx_hash": "44a03318e1b6b030f0e328334464291e6d3341efea03a7f56f8f3c8112fac782",
                "tx_index": 23,
                "block_time": 1727349545,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "44a03318e1b6b030f0e328334464291e6d3341efea03a7f56f8f3c8112fac782",
            "block_index": 136,
            "block_time": 1727349545
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 319,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 152,
                "destination": "984bc0ec4bd08b8bc75ae3c16b95de7ac4c500b8948d9ce99ddfb27f095f5107:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                "status": "valid",
                "tx_hash": "984bc0ec4bd08b8bc75ae3c16b95de7ac4c500b8948d9ce99ddfb27f095f5107",
                "tx_index": 39,
                "block_time": 1727349621,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "984bc0ec4bd08b8bc75ae3c16b95de7ac4c500b8948d9ce99ddfb27f095f5107",
            "block_index": 152,
            "block_time": 1727349621
        }
    ],
    "next_cursor": 296,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 311,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "bcrt1qfef9ruv8npmwdjqv0qlrlcr02xtcxk0y6rwtnt",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "3ca36e487e877ec78ff41ab30691fb067721fa65e9a6478d0a0997847ec29966:0",
                "status": "valid",
                "tx_hash": "63e310052736f958559fccc2f2261467f8b9c28616ec4d26d6170d21eb932092",
                "tx_index": 38,
                "block_time": 1727349617,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "63e310052736f958559fccc2f2261467f8b9c28616ec4d26d6170d21eb932092",
            "block_index": 151,
            "block_time": 1727349617
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 156,
                "destination": "b23ccb0a8e23a72fe755d50bacdaa32963691551568f41dd970bda0e46a1f896:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "6cc93fdf5891a4a25a055fac25361c236912ebf976ada3a6e9e2f1289a9c67d6:0",
                "status": "valid",
                "tx_hash": "b23ccb0a8e23a72fe755d50bacdaa32963691551568f41dd970bda0e46a1f896",
                "tx_index": 43,
                "block_time": 1727349637,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "b23ccb0a8e23a72fe755d50bacdaa32963691551568f41dd970bda0e46a1f896",
            "block_index": 156,
            "block_time": 1727349637
        }
    ],
    "next_cursor": 353,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qz5kudmquhd3pjrkwvcm08y70nps3wd7h787nsr",
                "status": "valid",
                "tx_hash": "44abd48b32ac931edcbd9d1917248c81169903630a30d90f1f6ff2e516b2955b",
                "tx_index": 9,
                "block_time": 1727349472,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "44abd48b32ac931edcbd9d1917248c81169903630a30d90f1f6ff2e516b2955b",
            "block_index": 121,
            "block_time": 1727349472
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `194` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                    "block_time": 1727349782,
                    "previous_block_hash": "54672ea685fd69351a7053e700a410b78f15779452e33b33b6568680facc7d1c",
                    "difficulty": 545259519,
                    "ledger_hash": "6afd3dfc102fbf1274a2eeb819e3f884052abc07094a6ae2a214d492f0eaddf8",
                    "txlist_hash": "230713c1ad13fc88b739b97038bb4243d934efd7d03b200ebc289c930c2a7d58",
                    "messages_hash": "6b6351b7f9138a49ff6e792f7e0d5eb884ae745d994b4894b3a880c6eace487e",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 193,
                    "block_hash": "54672ea685fd69351a7053e700a410b78f15779452e33b33b6568680facc7d1c",
                    "block_time": 1727349778,
                    "previous_block_hash": "7f32744ac190f7103aded180f9a78843053006353de63e4a6ba2083fac6ef4f0",
                    "difficulty": 545259519,
                    "ledger_hash": "4db52c358cac39da66222d66c1ea33914646bbfc90a4248c9ec276cb191d6813",
                    "txlist_hash": "cef984ed4a7a32c5165d288d1acdeb4c7a1586edf815ed612aaf00a64d9d2140",
                    "messages_hash": "dfce0d6c33e318ae8c5d96ac38a54619cccb5ded461d2ba4d71d279962df8aa2",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "7f32744ac190f7103aded180f9a78843053006353de63e4a6ba2083fac6ef4f0",
                    "block_time": 1727349773,
                    "previous_block_hash": "5602fc933b2479e92972028900aa479b950d68de91c99d9cd2b9d4b6c9eb5fd8",
                    "difficulty": 545259519,
                    "ledger_hash": "f32819f366089e7be1d61549ea81c5bd6f92df3aa7132bbf9aa48e6e322f46c2",
                    "txlist_hash": "5902292890fd7417ab21b7576fbb3198693e6e9aafbbeccec45b7535ea25bda3",
                    "messages_hash": "5d024d4cdc4156f041f900eff02813d986819b2932fb00f6050e5bc115a5c42d",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "5602fc933b2479e92972028900aa479b950d68de91c99d9cd2b9d4b6c9eb5fd8",
                    "block_time": 1727349769,
                    "previous_block_hash": "6894c9d833a94dda96cacbd65c20855b53ab6cbf3ca4d2935db0148cdee0f627",
                    "difficulty": 545259519,
                    "ledger_hash": "56439105809a24821db850ad11b7a9bcdeb234e030a72d04a32581c3eb647af4",
                    "txlist_hash": "7021fec1d976f2f8f67baf2e23d43543c71c86219925321de732307641be9f19",
                    "messages_hash": "7327fc15905006bd050f07ce73402c55ba9f53d2429f12aa5dbd908187d6e6fe",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "6894c9d833a94dda96cacbd65c20855b53ab6cbf3ca4d2935db0148cdee0f627",
                    "block_time": 1727349765,
                    "previous_block_hash": "0aec4e04920daa7b67afa563ad13da72e656efceb46b60268f1a55bbe2271020",
                    "difficulty": 545259519,
                    "ledger_hash": "a6d03bd6b3e449b783edd211add171850d40e102c778b220531b880876557eb4",
                    "txlist_hash": "5c851aff77532fb39c7356573584f5d9df7e80f0dbdf20d105780ff406950e01",
                    "messages_hash": "5d60009e707e3dd2f42cc145b11acaeaa1676005a5dee3680dca8e0fa9cad3c8",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 189,
            "result_count": 94
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                "block_time": 1727349782,
                "previous_block_hash": "54672ea685fd69351a7053e700a410b78f15779452e33b33b6568680facc7d1c",
                "difficulty": 545259519,
                "ledger_hash": "6afd3dfc102fbf1274a2eeb819e3f884052abc07094a6ae2a214d492f0eaddf8",
                "txlist_hash": "230713c1ad13fc88b739b97038bb4243d934efd7d03b200ebc289c930c2a7d58",
                "messages_hash": "6b6351b7f9138a49ff6e792f7e0d5eb884ae745d994b4894b3a880c6eace487e",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                "block_time": 1727349782,
                "previous_block_hash": "54672ea685fd69351a7053e700a410b78f15779452e33b33b6568680facc7d1c",
                "difficulty": 545259519,
                "ledger_hash": "6afd3dfc102fbf1274a2eeb819e3f884052abc07094a6ae2a214d492f0eaddf8",
                "txlist_hash": "230713c1ad13fc88b739b97038bb4243d934efd7d03b200ebc289c930c2a7d58",
                "messages_hash": "6b6351b7f9138a49ff6e792f7e0d5eb884ae745d994b4894b3a880c6eace487e",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor: `60` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                    "block_index": 194,
                    "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
                    "block_time": 1727349782,
                    "source": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `542` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 536,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 193,
                        "ledger_hash": "4db52c358cac39da66222d66c1ea33914646bbfc90a4248c9ec276cb191d6813",
                        "messages_hash": "dfce0d6c33e318ae8c5d96ac38a54619cccb5ded461d2ba4d71d279962df8aa2",
                        "transaction_count": 1,
                        "txlist_hash": "cef984ed4a7a32c5165d288d1acdeb4c7a1586edf815ed612aaf00a64d9d2140",
                        "block_time": 1727349778
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 535,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "tx_index": 59
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                },
                {
                    "event_index": 534,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 193,
                        "destination": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                        "status": "valid",
                        "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "tx_index": 59,
                        "block_time": 1727349778,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                },
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727349778,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                },
                {
                    "event_index": 532,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                        "asset": "XCP",
                        "block_index": 193,
                        "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727349778,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                }
            ],
            "next_cursor": 531,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727349778,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                },
                {
                    "event_index": 531,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                        "asset": "MYASSETA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "quantity": 10,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727349778,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                },
                {
                    "event_index": 529,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                        "asset": "FAIRMINTA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                        "quantity": 500000000,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727349778,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727349778,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727349778,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727349778,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "address": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                    "tx_index": 60,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727349782,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `183` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "14d777a78cbc424d171855e5b4ba94e6fbe4ffa003915cbd1a889ff733a278c5",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727349670
                },
                {
                    "type": "order",
                    "object_id": "3c2578755f5ce3a12092ce274da102b8cc2edd176680fb729c666ddf64758de0",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727349670
                },
                {
                    "type": "order_match",
                    "object_id": "3c2578755f5ce3a12092ce274da102b8cc2edd176680fb729c666ddf64758de0_14d777a78cbc424d171855e5b4ba94e6fbe4ffa003915cbd1a889ff733a278c5",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727349670
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `191` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 57,
                    "tx_hash": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f",
                    "block_index": 191,
                    "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "offer_hash": "2800d4586e4c4189062b253bb171fd88ceb4184a559bb111b5990541e65968fc",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727349769
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
                    "block_index": 194,
                    "source": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727349782,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `160` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 47,
                    "tx_hash": "a2fa6f1455be62f0f3dc7323d04ff355a70e7a3c9598ec831b1ebe6042414f40",
                    "msg_index": 0,
                    "block_index": 160,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727349655,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "c95c3eaeb282aad2a9bd7b3c74fec665200aceba41585581df0b0bb4ad6434d7",
                    "block_index": 189,
                    "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "destination": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727349761,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "c95c3eaeb282aad2a9bd7b3c74fec665200aceba41585581df0b0bb4ad6434d7",
                    "block_index": 189,
                    "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "destination": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727349761,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "c95c3eaeb282aad2a9bd7b3c74fec665200aceba41585581df0b0bb4ad6434d7",
                    "block_index": 189,
                    "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                    "destination": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727349761,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `147` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 34,
                    "dispense_index": 0,
                    "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
                    "block_index": 147,
                    "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                    "destination": "bcrt1qwjn89m6ynaf8t4s48mucjczwt375eyrga4zrhw",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 147,
                        "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727349600,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "0082025e303dc867966f43f15d7df3a8c0c60a40481b734cecd3f33825ab24e1",
                    "block_index": 193,
                    "source": "bcrt1q8udnt5x86nuhees5qhcv4p9ta8g8hfydzswq37",
                    "destination": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727349778,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "f1e99ee2d6b5cb7b23efa5b5ee18acc60380cfb0045398b51eb6e97d7cdc4808",
        "block_index": 138,
        "block_hash": "2edd2865d36cd2c355b33f793e50684954367406cccbe8c03ded53f7fc253833",
        "block_time": 1727349552,
        "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "f1e99ee2d6b5cb7b23efa5b5ee18acc60380cfb0045398b51eb6e97d7cdc4808:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 52,
        "tx_hash": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac",
        "block_index": 186,
        "block_hash": "1e3ef10f2a2854e277eff75d94d9a94e30cc1801ec33ed023529c607791d8925",
        "block_time": 1727349748,
        "source": "bcrt1q80kwyrcnqdvackyar6zdtx2shtussgggmw3q6d",
        "destination": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bc0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de0594e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
        "supported": true,
        "utxos_info": "3e53e5f159119741d2f20cb51578a15e316fc0f0d4bb92eadba99103104483ac:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05",
                "tx1_hash": "94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
                "order_match_id": "c0e64defd329daf75d1cfd3cdd4466bca850ee09e61b996a4b5af9517d84de05_94e8b0e0054d6ee0096945c1edaca9a0736964d53f43a8a158850f17cfd985af",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 57,
        "tx_hash": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f",
        "block_index": 191,
        "block_hash": "5602fc933b2479e92972028900aa479b950d68de91c99d9cd2b9d4b6c9eb5fd8",
        "block_time": 1727349769,
        "source": "bcrt1q2ngvat7hhqyn3e5tcge3u3r9r4fqwhap46e4fm",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "462800d4586e4c4189062b253bb171fd88ceb4184a559bb111b5990541e65968fc",
        "supported": true,
        "utxos_info": "580ec0c7defaa9779a34e074c2046fab885ea02da799e56daed21d55a482e71f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "2800d4586e4c4189062b253bb171fd88ceb4184a559bb111b5990541e65968fc",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 60,
        "tx_hash": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c",
        "block_index": 194,
        "block_hash": "65f3b8e95b553064e136eca01ca1fad84f6980bf8b7e2372d745c2051646fdb7",
        "block_time": 1727349782,
        "source": "bcrt1qdgr4f25qey5yg2t28g3amcmqnty5r7wsmtrzcz",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "e2b0838c6777bfc19c1356df65d1b06044f6a87dbe2533da8a7d7cdd8a156d7c:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564",
        "block_index": 146,
        "block_hash": "2e2a4235c112ba0918ac538c5840253278018c0fe2240c83e162dd364a98dea2",
        "block_time": 1727349596,
        "source": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080d9773c9f6335d840fa941513a2e06478a8240f07",
        "supported": true,
        "utxos_info": "8e7f28a8c5ca3134d68d6d673d11435378a769b54dbac5264a32f33d7a45c564:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 34,
        "tx_hash": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2",
        "block_index": 147,
        "block_hash": "61634f234d53a3a70ca86ab4925496307c29dabd1fdc69ea79ac9a0ba69611c9",
        "block_time": 1727349600,
        "source": "bcrt1qwjn89m6ynaf8t4s48mucjczwt375eyrga4zrhw",
        "destination": "bcrt1qm9mne8mrxhvyp755z5f69cry0z5zgrc87js5qu",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "4bc99d7ffc03d1e4915b1ea44172e6084ee85288f44bae4e6d9043e8746f3dd2:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 41,
        "tx_hash": "93ad02ea00b04315ab7d89eb94788e9deed4d268a6b0be87c7d0a45682301f10",
        "block_index": 154,
        "block_hash": "76fe3cc3082a511cc4deebf40c1b61a71394c5e325dfd728ab53722bc3cf95bf",
        "block_time": 1727349630,
[...]
