[//]: # (Generated by genapidoc.py on 2025-01-30 14:10:34.629707. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                "block_index": 245,
                "block_time": 1738246215,
                "difficulty": 545259519,
                "previous_block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                "block_index": 245,
                "block_time": 1738246215,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "fee": 0,
                "source": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                "transaction_type": "dispense",
                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "tx_index": 121,
                "utxos_info": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1 312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "out_index": 0,
                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "tx_index": 121,
                "block_time": 1738246215,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                "transaction_count": 1,
                "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                "block_time": 1738246215
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "tx_index": 121
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                "utxo_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                "block_time": 1738246215,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738246215,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q76kxq2g5w93al3qtedku3uc4nl52cffjyhteqv",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "status": "valid",
                "tx_hash": "173046f0943b3c0886d211307de2e2bb5db68744ffe3b08de2ff9a1477e99175",
                "tx_index": 77,
                "block_time": 1738246049,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "173046f0943b3c0886d211307de2e2bb5db68744ffe3b08de2ff9a1477e99175",
            "block_index": 201,
            "block_time": 1738246049
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q76kxq2g5w93al3qtedku3uc4nl52cffjyhteqv",
                "status": "valid",
                "tx_hash": "107d52fdb177a7ae0f923a3cb18c030a5ae4efb61181f08f06c2c0c3b18ce1e6",
                "tx_index": 81,
                "block_time": 1738246063,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "107d52fdb177a7ae0f923a3cb18c030a5ae4efb61181f08f06c2c0c3b18ce1e6",
            "block_index": 205,
            "block_time": 1738246063
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qey6lvruwm4vhwl97dhhhcvpw93c4fpt8vut6vm",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qchzp54r4wmrh5d4huxzc8dqw4zreywq3hpplf9",
                "status": "valid",
                "tx_hash": "6a2b22d3a5eb4726b786cb82aee8a76efa730b06e2df2375ae3d662b187088e0",
                "tx_index": 65,
                "block_time": 1738246008,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "6a2b22d3a5eb4726b786cb82aee8a76efa730b06e2df2375ae3d662b187088e0",
            "block_index": 190,
            "block_time": 1738246008
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "status": "valid",
                "tx_hash": "c9414574db531ed787bff7b1c359a0cd7a050b1370df2d105c76a2ef719d16b4",
                "tx_index": 42,
                "block_time": 1738245864,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "c9414574db531ed787bff7b1c359a0cd7a050b1370df2d105c76a2ef719d16b4",
            "block_index": 146,
            "block_time": 1738245864
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "status": "valid",
                "transfer": false,
                "tx_hash": "bf8926a3d8dfec8691307a08f68eb601a7062ee076551903dde30e8b111e4014",
                "tx_index": 117,
                "block_time": 1738246197,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "bf8926a3d8dfec8691307a08f68eb601a7062ee076551903dde30e8b111e4014",
            "block_index": 240,
            "block_time": 1738246197
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738246207
            },
            "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
            "block_index": 243,
            "block_time": 1738246207
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "status": "valid",
                "transfer": false,
                "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
                "tx_index": 120,
                "block_time": 1738246207,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
            "block_index": 243,
            "block_time": 1738246207
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "bf8926a3d8dfec8691307a08f68eb601a7062ee076551903dde30e8b111e4014",
                "tx_index": 117,
                "block_time": 1738246197,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "bf8926a3d8dfec8691307a08f68eb601a7062ee076551903dde30e8b111e4014",
            "block_index": 240,
            "block_time": 1738246197
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "status": "open",
                "tx_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
                "tx_index": 119,
                "block_time": 1738246203,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhv7axeluvg8uv2th9kxefngxv8yh3eu844s6m9",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
            "block_index": 242,
            "block_time": 1738246203
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "1de20a8f0508e1192689ffacc697fc534a12c83836cbe191091bd9e20f909b21_662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qhv7axeluvg8uv2th9kxefngxv8yh3eu844s6m9",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "1de20a8f0508e1192689ffacc697fc534a12c83836cbe191091bd9e20f909b21",
                "tx0_index": 118,
                "tx1_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
                "tx1_index": 119,
                "block_time": 1738246203,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhv7axeluvg8uv2th9kxefngxv8yh3eu844s6m9",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
            "block_index": 242,
            "block_time": 1738246203
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "662b7ad506478ff9ed5cb2475d641e1331bee5d966ac3bfcf59c8dad0245ca7d",
            "block_index": 242,
            "block_time": 1738246203
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "6ed49b1ce7669c8c72eb17ac0c42ccd37073f4ee05b53333c0a4bf3ab05af5aa"
            },
            "tx_hash": "dc424759be5d763a4ed14a50f31c4fb93cd01cba088f02dc7d383845029eb013",
            "block_index": 182,
            "block_time": 1738245979
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "fce08d96a5702242c4838f54c090106d2330bcd491e5f5f3b4f409d2cd880514_52ddc2219abc6f5a628090db8e3d5d07ea1a8c18eddd440e1f9097e01c017056",
                "order_match_id": "fce08d96a5702242c4838f54c090106d2330bcd491e5f5f3b4f409d2cd880514_52ddc2219abc6f5a628090db8e3d5d07ea1a8c18eddd440e1f9097e01c017056",
                "status": "expired"
            },
            "tx_hash": "83c7db4d0854b1fee7dfe89b82ae93715bba3a6e5694d8858021f1cfc2ebbb93",
            "block_index": 225,
            "block_time": 1738246133
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "order_match_id": "a442f6b7ef3ea3803967c0a1c3933e7076a1d895dd7b699ecba53c82eb09895b_6ed49b1ce7669c8c72eb17ac0c42ccd37073f4ee05b53333c0a4bf3ab05af5aa",
                "source": "bcrt1q76kxq2g5w93al3qtedku3uc4nl52cffjyhteqv",
                "status": "valid",
                "tx_hash": "dc424759be5d763a4ed14a50f31c4fb93cd01cba088f02dc7d383845029eb013",
                "tx_index": 57,
                "block_time": 1738245979,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "dc424759be5d763a4ed14a50f31c4fb93cd01cba088f02dc7d383845029eb013",
            "block_index": 182,
            "block_time": 1738245979
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "ff89d4cb9465211c0a922304e29d88afa560adfaa5b7d30421ad986dac8ca85a",
                "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "status": "valid",
                "tx_hash": "eb1b97a810cc19c2999da7d5a11dc94c72b16fc3a1ba13ffe8b37b350ec1fd2e",
                "tx_index": 63,
                "block_time": 1738246000
            },
            "tx_hash": "eb1b97a810cc19c2999da7d5a11dc94c72b16fc3a1ba13ffe8b37b350ec1fd2e",
            "block_index": 188,
            "block_time": 1738246000
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "fce08d96a5702242c4838f54c090106d2330bcd491e5f5f3b4f409d2cd880514",
                "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "block_time": 1738246084
            },
            "tx_hash": "e3ca5716988ae80facace3418c9c72e847e5f741eead7f16c8ec32da91ed2161",
            "block_index": 211,
            "block_time": 1738246084
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "fce08d96a5702242c4838f54c090106d2330bcd491e5f5f3b4f409d2cd880514_52ddc2219abc6f5a628090db8e3d5d07ea1a8c18eddd440e1f9097e01c017056",
                "tx0_address": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "tx1_address": "bcrt1qchzp54r4wmrh5d4huxzc8dqw4zreywq3hpplf9",
                "block_time": 1738246133
            },
            "tx_hash": "83c7db4d0854b1fee7dfe89b82ae93715bba3a6e5694d8858021f1cfc2ebbb93",
            "block_index": 225,
            "block_time": 1738246133
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qlfrewt9874ye52x0wl5svxj2lq8epyv890mx9h",
                "satoshirate": 1,
                "source": "bcrt1qlfrewt9874ye52x0wl5svxj2lq8epyv890mx9h",
                "status": 0,
                "tx_hash": "c6efc8c1307a0481b7a62b74a780902d022dbb16d30d52fb642cbc5e048d57d9",
                "tx_index": 114,
                "block_time": 1738246182,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "c6efc8c1307a0481b7a62b74a780902d022dbb16d30d52fb642cbc5e048d57d9",
            "block_index": 236,
            "block_time": 1738246182
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "status": 0,
                "tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mqvyvQoApsvUDVXHUQwptzXwbfWDJsJCYm",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "258fe3106944247fa90706e1736c7233377f760af9999192d2e9a98ed19f4ed0",
                "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                "tx_hash": "4a566e01d2f395418da7f6a21f1e6b367119f0af07bcad6b8bf6548fa895ea1f",
                "tx_index": 31,
                "block_time": 1738245826,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "4a566e01d2f395418da7f6a21f1e6b367119f0af07bcad6b8bf6548fa895ea1f",
            "block_index": 135,
            "block_time": 1738245826
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "tx_index": 121,
                "block_time": 1738246215,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "ca902d0e35902725952791225303f97e94c81b78fc30d7819ca79a879c402d67",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738245801,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "ca902d0e35902725952791225303f97e94c81b78fc30d7819ca79a879c402d67",
            "block_index": 129,
            "block_time": 1738245801
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "start_block": 0,
                "status": "open",
                "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
                "tx_index": 120,
                "block_time": 1738246207,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
            "block_index": 243,
            "block_time": 1738246207
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "c34ba013a592da5e114c7c68454fe7454952a2fd9b6ce5a61d46c18a056eb35f"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738246142
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "2cd410f9e283e6ae95e6c3f6fa30fcf0a416d7c26d7a4a925d568b89741c87b7",
                "paid_quantity": 100000000,
                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "status": "valid",
                "tx_hash": "89cd783c6efee33d7b9fabf6f16d0f64f11017361b638b6b24fd83d561e292c2",
                "tx_index": 97,
                "block_time": 1738246118,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "89cd783c6efee33d7b9fabf6f16d0f64f11017361b638b6b24fd83d561e292c2",
            "block_index": 221,
            "block_time": 1738246118
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "74a9aa3379a06a204d8d07408fffa45eebac7c2d6509271b56ef1549ffe0300a:0",
                "destination_address": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "status": "valid",
                "tx_hash": "74a9aa3379a06a204d8d07408fffa45eebac7c2d6509271b56ef1549ffe0300a",
                "tx_index": 112,
                "block_time": 1738246177,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "74a9aa3379a06a204d8d07408fffa45eebac7c2d6509271b56ef1549ffe0300a",
            "block_index": 235,
            "block_time": 1738246177
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "3089a3c29281954d78a4afa55f2461a3543cdd25c3cf24f3d10a96481075abbf:0",
                "source_address": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                "status": "valid",
                "tx_hash": "43a29f53b046b4b663b99f15ddb5f2e4bc79f5ed557d2850a9e87c6c9b8106c7",
                "tx_index": 111,
                "block_time": 1738246173,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "43a29f53b046b4b663b99f15ddb5f2e4bc79f5ed557d2850a9e87c6c9b8106c7",
            "block_index": 234,
            "block_time": 1738246173
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                "destination_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                "source_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                "status": "valid",
                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                "tx_index": 121,
                "block_time": 1738246215,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
            "block_index": 245,
            "block_time": 1738246215
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qchzp54r4wmrh5d4huxzc8dqw4zreywq3hpplf9",
                "status": "valid",
                "tx_hash": "bc481df0d698fe932e8d9b651bf37b5b039fba124e8f85e4d74e02fb61527ad3",
                "tx_index": 9,
                "block_time": 1738245737,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "bc481df0d698fe932e8d9b651bf37b5b039fba124e8f85e4d74e02fb61527ad3",
            "block_index": 112,
            "block_time": 1738245737
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                    "block_time": 1738246215,
                    "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                    "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                    "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                    "previous_block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498",
                    "block_time": 1738246210,
                    "ledger_hash": "3cd1b533b1089c8cbedf7d85eb0f6b7f4ad6b1526803e2c3707647d8113cf938",
                    "txlist_hash": "3457f70f405e270ce479d9c382e1d74f4806ff348385425b42a6015421f458d3",
                    "messages_hash": "62f35ac8c15c39bf538d6ed9325eeac27f335856b0c4fd75737432a9a45cbbb6",
                    "previous_block_hash": "42b2a61b7e7e421a1a0e9cdd1b809ed6f182ba66d11cc51e7973cc4803156058",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "42b2a61b7e7e421a1a0e9cdd1b809ed6f182ba66d11cc51e7973cc4803156058",
                    "block_time": 1738246207,
                    "ledger_hash": "a5b0d5776087633aa9df8b6d8ffb2fbc759f56d9e9fc3156dd8db97a03ecaf2a",
                    "txlist_hash": "b7d28fcb31a56323f96669aafd307031dc71e0c303855f3399c7260dd75ebdb7",
                    "messages_hash": "25b124b5125973e29864bbd0f18c4be84fff5ec08f32fd3eb309b94f2aa83a50",
                    "previous_block_hash": "0e6a537e68a98c0ed492ecbfadfcc3ca552019b485f8a3f9149295b4637b0408",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "0e6a537e68a98c0ed492ecbfadfcc3ca552019b485f8a3f9149295b4637b0408",
                    "block_time": 1738246203,
                    "ledger_hash": "8de52f8321a64b0c99142939ef0831e048d57d8c9ca70346c58ae7c0abe88631",
                    "txlist_hash": "8504b74ffb34d4b9c84a5e82d14cdb6fb8ea96f4845708ceb24f315e44f0e436",
                    "messages_hash": "bb93b9ef29a5d2ffb32a747166e52dcce4130ffeb4669602c95fdc7c221b8bdc",
                    "previous_block_hash": "0f22e23ba421ff9bbf26490a7404ec1b359a912346f1fb3975eeadfc2bf81bba",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "0f22e23ba421ff9bbf26490a7404ec1b359a912346f1fb3975eeadfc2bf81bba",
                    "block_time": 1738246200,
                    "ledger_hash": "621f474cb028083d25dc78adc3a26f9453f1332946371a63df34f44eb4df0420",
                    "txlist_hash": "b7c1c3e5526e4a4d623e4c664604dc485ff13eb9e441e6d59c886aaa2ab73805",
                    "messages_hash": "0e61288dd00c91822dd8d285b337f92882e6e6be1e85f33c2a07fb30bf75aafe",
                    "previous_block_hash": "767623d63966734c157c209ba9e9ddc354139dd2df47a8f1193ae1636aa9d1a6",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                "block_time": 1738246215,
                "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                "previous_block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                "block_time": 1738246215,
                "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                "previous_block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                "block_time": 1738246215,
                "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                "previous_block_hash": "471ed6e73c7fc019ef0bfbff53f45e1421bacfbb348aec4a33bd056befa72498",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "block_index": 245,
                    "block_hash": "30b06bfa03d1564c24dd94fcc059196c1842e88f3ddb2dbf8e63155867486367",
                    "block_time": 1738246215,
                    "source": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "destination": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1 312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                                "destination_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                                "source_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                                "status": "valid",
                                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                                "tx_index": 121,
                                "block_time": 1738246215,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                            "block_index": 245,
                            "block_time": 1738246215
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                                "destination_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                                "source_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                                "status": "valid",
                                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                                "tx_index": 121,
                                "block_time": 1738246215,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                            "block_index": 245,
                            "block_time": 1738246215
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                                "status": 0,
                                "tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                            "block_index": 245,
                            "block_time": 1738246215
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                                "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                                "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                                "tx_index": 121,
                                "block_time": 1738246215,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                            "block_index": 245,
                            "block_time": 1738246215
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "411ce26b562ff23cb1c6dce20f6972c83e23a8beaefbd72c8b592a62fccf19e9",
                        "messages_hash": "2789f6a8d6bbaf852c0e58edc23cd2895bc59e4129b29c3c5279d97bab7daddd",
                        "transaction_count": 1,
                        "txlist_hash": "621774d5dd830c0558d5bf4c871235f74fc75e42396bd52e561de297eb0c33f8",
                        "block_time": 1738246215
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "tx_index": 121
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                        "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "tx_index": 121,
                        "block_time": 1738246215,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "status": 0,
                        "tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738246215,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738246215,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                        "utxo_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "block_time": 1738246215,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                        "utxo_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "block_time": 1738246215,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "tx_index": 121,
                    "utxo": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                    "utxo_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "tx_index": 121,
                    "utxo": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                    "utxo_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "tx_index": 121,
                    "utxo": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                    "utxo_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "tx_index": 121,
                    "utxo": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                    "utxo_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "fce08d96a5702242c4838f54c090106d2330bcd491e5f5f3b4f409d2cd880514",
                    "block_index": 211,
                    "block_time": 1738246084
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "eb1b97a810cc19c2999da7d5a11dc94c72b16fc3a1ba13ffe8b37b350ec1fd2e",
                    "block_index": 188,
                    "source": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                    "offer_hash": "ff89d4cb9465211c0a922304e29d88afa560adfaa5b7d30421ad986dac8ca85a",
                    "status": "valid",
                    "block_time": 1738246000
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "bf8926a3d8dfec8691307a08f68eb601a7062ee076551903dde30e8b111e4014",
                    "block_index": 240,
                    "source": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738246197,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qv58nza05w8r9dq60zusd8gutzhr4h2zc6twj4f",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "da64b5bd7d6355003a88e4190517e99d9f393950a145f05d3d51361ae6350730",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "issuer": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738246207,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "block_index": 245,
                    "source": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                    "destination": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "destination_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "block_index": 245,
                    "source": "3fb5b5926cec47c141bedfaf7fdb0650f5d33157b9f27234937c97b926c3aeff:1",
                    "destination": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "destination_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q02ntu3wewhvr23a2sceql3tceqp49yt0vt2x4w",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "312d08f021a9783bd33079858406cd0928cd43e816592876a276f2609fa05e88",
                    "block_index": 245,
                    "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                    "destination": "bcrt1qtcznjjp34grpn4tq8wamkjkct3k8n25tngshz2",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "20a1efb47d83b2e9fb7651fd0906761920579fdec470a55327737c44b851ed17",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qgwp8uen2lhptluncqh8c654hf27fy3h2e3zdxk",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738246215,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
