[//]: # (Generated by genapidoc.py on 2025-02-24 15:24:28.101502. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                "block_index": 245,
                "block_time": 1740410649,
                "difficulty": 545259519,
                "previous_block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                "block_index": 245,
                "block_time": 1740410649,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "fee": 0,
                "source": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                "transaction_type": "dispense",
                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "tx_index": 121,
                "utxos_info": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1 ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "out_index": 0,
                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "tx_index": 121,
                "block_time": 1740410649,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                "transaction_count": 1,
                "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                "block_time": 1740410649
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "tx_index": 121
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                "utxo_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                "block_time": 1740410649,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1740410649,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q3gfn0ut0jwm59uxukp77ayf9l9jcxgqfjrcqga",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "status": "valid",
                "tx_hash": "d455b5ecad21d403a267164ca2a2cc12b5fd5b44175808fcb5286458ddddffc9",
                "tx_index": 77,
                "block_time": 1740410467,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "d455b5ecad21d403a267164ca2a2cc12b5fd5b44175808fcb5286458ddddffc9",
            "block_index": 201,
            "block_time": 1740410467
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q3gfn0ut0jwm59uxukp77ayf9l9jcxgqfjrcqga",
                "status": "valid",
                "tx_hash": "51fb39b64fab1f7e6231d03af1370b7ccd17b1b04dd9acbcef3a5ae72f82b9c9",
                "tx_index": 81,
                "block_time": 1740410482,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "51fb39b64fab1f7e6231d03af1370b7ccd17b1b04dd9acbcef3a5ae72f82b9c9",
            "block_index": 205,
            "block_time": 1740410482
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qfpu0r7ut6aus47szstdawzlql3lpy8lnk379td",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9xlxzszynfrdhw3dlmpzt6llag8t6cghxysfmt",
                "status": "valid",
                "tx_hash": "29f55b9e1584ddee7749b1df8f0bda1de0b093f6b9fa8729826af948536489d3",
                "tx_index": 65,
                "block_time": 1740410422,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "29f55b9e1584ddee7749b1df8f0bda1de0b093f6b9fa8729826af948536489d3",
            "block_index": 190,
            "block_time": 1740410422
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "status": "valid",
                "tx_hash": "6668bd833b68c0ed63bba1d7811112e79d26a43e69f9380fcb4bffabed0fcefc",
                "tx_index": 42,
                "block_time": 1740410278,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "6668bd833b68c0ed63bba1d7811112e79d26a43e69f9380fcb4bffabed0fcefc",
            "block_index": 146,
            "block_time": 1740410278
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "status": "valid",
                "transfer": false,
                "tx_hash": "27fae6758603af74de32ffce293f0b3acca925a88cd3e19bf163b221feff7dac",
                "tx_index": 117,
                "block_time": 1740410630,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "27fae6758603af74de32ffce293f0b3acca925a88cd3e19bf163b221feff7dac",
            "block_index": 240,
            "block_time": 1740410630
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1740410640
            },
            "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
            "block_index": 243,
            "block_time": 1740410640
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "status": "valid",
                "transfer": false,
                "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
                "tx_index": 120,
                "block_time": 1740410640,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
            "block_index": 243,
            "block_time": 1740410640
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "27fae6758603af74de32ffce293f0b3acca925a88cd3e19bf163b221feff7dac",
                "tx_index": 117,
                "block_time": 1740410630,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "27fae6758603af74de32ffce293f0b3acca925a88cd3e19bf163b221feff7dac",
            "block_index": 240,
            "block_time": 1740410630
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "status": "open",
                "tx_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
                "tx_index": 119,
                "block_time": 1740410637,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qnvwt7lssg0gd9ukazmmqu6k0stqy53kngsxuvv",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qnvwt7lssg0gd9ukazmmqu6k0stqy53kngsxuvv"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
            "block_index": 242,
            "block_time": 1740410637
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "a68c0f84d50025850ec66c6c00a847ff767df5fa7d25a61ae913b0bca9598932_6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qnvwt7lssg0gd9ukazmmqu6k0stqy53kngsxuvv",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "a68c0f84d50025850ec66c6c00a847ff767df5fa7d25a61ae913b0bca9598932",
                "tx0_index": 118,
                "tx1_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
                "tx1_index": 119,
                "block_time": 1740410637,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qnvwt7lssg0gd9ukazmmqu6k0stqy53kngsxuvv",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qnvwt7lssg0gd9ukazmmqu6k0stqy53kngsxuvv"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
            "block_index": 242,
            "block_time": 1740410637
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "6e01920b85fb1c1fb6acb6592a607e3cdb5d9a3ba1fa6197b5fe57ff4b468a2b",
            "block_index": 242,
            "block_time": 1740410637
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "d59aff0cb913cd37e089927be969509177a0d2d0287c7c88634e7c0b9d172bb8"
            },
            "tx_hash": "c9af497a7e5f4f98094cff3ce1a531909f38dd556b320aeaa978ed2ccd8924ec",
            "block_index": 182,
            "block_time": 1740410395
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "e5d4c828b1e9fa96e9a90f0d1712b448f8c42d0d1466437a1f3e5cd09fc2b88a_57da453df013d2d03672a7f865668c277256bc14d6f7599cf7ba420c50e8aba7",
                "order_match_id": "e5d4c828b1e9fa96e9a90f0d1712b448f8c42d0d1466437a1f3e5cd09fc2b88a_57da453df013d2d03672a7f865668c277256bc14d6f7599cf7ba420c50e8aba7",
                "status": "expired"
            },
            "tx_hash": "6707e93a95f760c75402e7bca1b832bbe860aead8d5bda235b92abfbf86dad98",
            "block_index": 225,
            "block_time": 1740410551
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "order_match_id": "93e704e15a9dadf8766ffa37f17b991e48476acc2284ccc60488ce9764dfee48_d59aff0cb913cd37e089927be969509177a0d2d0287c7c88634e7c0b9d172bb8",
                "source": "bcrt1q3gfn0ut0jwm59uxukp77ayf9l9jcxgqfjrcqga",
                "status": "valid",
                "tx_hash": "c9af497a7e5f4f98094cff3ce1a531909f38dd556b320aeaa978ed2ccd8924ec",
                "tx_index": 57,
                "block_time": 1740410395,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "c9af497a7e5f4f98094cff3ce1a531909f38dd556b320aeaa978ed2ccd8924ec",
            "block_index": 182,
            "block_time": 1740410395
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "da40b0b497d5e2c0ba09847d4638486d35549af6e489c92186f7f81ee4ba6f2e",
                "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "status": "valid",
                "tx_hash": "32a0f4b3f0a9786804c2b053b094ea8e81b0c84dde7af6df5529eb0d18a4f07f",
                "tx_index": 63,
                "block_time": 1740410415
            },
            "tx_hash": "32a0f4b3f0a9786804c2b053b094ea8e81b0c84dde7af6df5529eb0d18a4f07f",
            "block_index": 188,
            "block_time": 1740410415
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "e5d4c828b1e9fa96e9a90f0d1712b448f8c42d0d1466437a1f3e5cd09fc2b88a",
                "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "block_time": 1740410502
            },
            "tx_hash": "c261a13c3a9e27d05001fbd91393b0ce8ae4566cd389ddb8a2974177ca0e8f2e",
            "block_index": 211,
            "block_time": 1740410502
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "e5d4c828b1e9fa96e9a90f0d1712b448f8c42d0d1466437a1f3e5cd09fc2b88a_57da453df013d2d03672a7f865668c277256bc14d6f7599cf7ba420c50e8aba7",
                "tx0_address": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "tx1_address": "bcrt1q9xlxzszynfrdhw3dlmpzt6llag8t6cghxysfmt",
                "block_time": 1740410551
            },
            "tx_hash": "6707e93a95f760c75402e7bca1b832bbe860aead8d5bda235b92abfbf86dad98",
            "block_index": 225,
            "block_time": 1740410551
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qrr9c4zvn85v93c8jv8wepmsj5pn68dv6453tgt",
                "satoshirate": 1,
                "source": "bcrt1qrr9c4zvn85v93c8jv8wepmsj5pn68dv6453tgt",
                "status": 0,
                "tx_hash": "850daa7e5aa765d39bb928cab34e841f297ebb982f5dae5b7d403fe3450a2b9d",
                "tx_index": 114,
                "block_time": 1740410616,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "850daa7e5aa765d39bb928cab34e841f297ebb982f5dae5b7d403fe3450a2b9d",
            "block_index": 236,
            "block_time": 1740410616
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "status": 0,
                "tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mjKHo8chqcndVzrK8NnBswsKxcCr4Cq3sy",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "e77ca11e88a78f6264000e72a6d167facb575caf6bc319354785cee1988d2bf3",
                "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                "tx_hash": "f47d2967db69624e72524f4ca89e48390633d06e25c4be08e42b49b43532248b",
                "tx_index": 31,
                "block_time": 1740410239,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "f47d2967db69624e72524f4ca89e48390633d06e25c4be08e42b49b43532248b",
            "block_index": 135,
            "block_time": 1740410239
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "tx_index": 121,
                "block_time": 1740410649,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "94ebfec3d0786d27c2b9b8a7e07efb1e681dc49034e4691d2d6e3a7bf3f0018e",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1740410217,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "94ebfec3d0786d27c2b9b8a7e07efb1e681dc49034e4691d2d6e3a7bf3f0018e",
            "block_index": 129,
            "block_time": 1740410217
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "start_block": 0,
                "status": "open",
                "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
                "tx_index": 120,
                "block_time": 1740410640,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
            "block_index": 243,
            "block_time": 1740410640
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "b8f797464f1a9f6d142fb45306de6c0f14922c138a943193177f5804a5888047"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1740410562
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "5b8a0eebedd84fc74c311336becdbd978b4b33dac3d4e3215539850610f61ed0",
                "paid_quantity": 100000000,
                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "status": "valid",
                "tx_hash": "15696bf680c37b08571db4ba6efb6eeca723f06a3b9a6743c068f80a7154fff6",
                "tx_index": 97,
                "block_time": 1740410536,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "15696bf680c37b08571db4ba6efb6eeca723f06a3b9a6743c068f80a7154fff6",
            "block_index": 221,
            "block_time": 1740410536
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "58fc607812b916bfadbd0f02b7bbb163fa3720322271fb38a023d0e95076c69c:0",
                "destination_address": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "status": "valid",
                "tx_hash": "58fc607812b916bfadbd0f02b7bbb163fa3720322271fb38a023d0e95076c69c",
                "tx_index": 112,
                "block_time": 1740410610,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "58fc607812b916bfadbd0f02b7bbb163fa3720322271fb38a023d0e95076c69c",
            "block_index": 235,
            "block_time": 1740410610
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "38fc94fdd920aa9df98ca5d6e04bc4983cc951db93f7c6dcff67cc91f1915b22:0",
                "source_address": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                "status": "valid",
                "tx_hash": "19e54b9f123acfd6aeb5dfd66d3f36edae83fd02fdd80f228f560bd9ed748840",
                "tx_index": 111,
                "block_time": 1740410607,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "19e54b9f123acfd6aeb5dfd66d3f36edae83fd02fdd80f228f560bd9ed748840",
            "block_index": 234,
            "block_time": 1740410607
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                "destination_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                "source_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                "status": "valid",
                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                "tx_index": 121,
                "block_time": 1740410649,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
            "block_index": 245,
            "block_time": 1740410649
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qrr9c4zvn85v93c8jv8wepmsj5pn68dv6453tgt",
                "status": "valid",
                "tx_hash": "cf9b08b95a07a6f0fc0a646b82b5ba1887abd6fa9e17db2c673864f6262e38fd",
                "tx_index": 9,
                "block_time": 1740410157,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "cf9b08b95a07a6f0fc0a646b82b5ba1887abd6fa9e17db2c673864f6262e38fd",
            "block_index": 112,
            "block_time": 1740410157
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                    "block_time": 1740410649,
                    "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                    "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                    "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                    "previous_block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0",
                    "block_time": 1740410644,
                    "ledger_hash": "92e913862f28797bbdabc5c8888b156d5c80fc215cb6c3c3a87bb15e835e0ece",
                    "txlist_hash": "0f6846028e293b7b8f1ae9ee7a0f0a83e0e7022d101c4a353bf1ed144b263798",
                    "messages_hash": "378192b7262bdc49b79a419fabb0c79df4ca613e4c978026c39bba6ce885e5d6",
                    "previous_block_hash": "460b211d55d666cb327fd37dfeed3734646844172d8041db86756071fa79bb65",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "460b211d55d666cb327fd37dfeed3734646844172d8041db86756071fa79bb65",
                    "block_time": 1740410640,
                    "ledger_hash": "b62d49ddaa3539f62bb4d3ad9cf066b76d360b0d34ff1fb9d7ec84f7ead575e2",
                    "txlist_hash": "4d6fa987ca605dc8a157f84f0d75e57c3b12e197d124556a60288c076608fe54",
                    "messages_hash": "34669d12372234bb647b1716a96b78a250882f8c242296701319f012d06f1cda",
                    "previous_block_hash": "26a8ee6f4bf8e2f7799fd9d119dc82ccddd6d7a33ba1955e2405dfb032c993d9",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "26a8ee6f4bf8e2f7799fd9d119dc82ccddd6d7a33ba1955e2405dfb032c993d9",
                    "block_time": 1740410637,
                    "ledger_hash": "df84f5c9e5e1220654ec2606def9e06042b4f77f6a251521478db69d0f1f71da",
                    "txlist_hash": "b609dad1547b16ab02c649f01c9be5df9868be968a91b21e66d2e17c8f1cd275",
                    "messages_hash": "27fd23db57d20e702429001cd22ef125d10811d73c13c4eecb438240a66d258f",
                    "previous_block_hash": "1b9b3cff10915866e0c111b0b7e285b7f0bc761c154c2f33feaa0e6493d0f331",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "1b9b3cff10915866e0c111b0b7e285b7f0bc761c154c2f33feaa0e6493d0f331",
                    "block_time": 1740410634,
                    "ledger_hash": "13061f8844480f4ab878237884ee2cad8da39148a52db0877ea2c76c7b079062",
                    "txlist_hash": "368dbc9d430e82a4d82604fff9f43c2af85b6d6c12bce9b72732edda79ec8b81",
                    "messages_hash": "6b282ffc491d4af8fe063e3fc1d58abe24830c121f243d8644c907d46eaea0f1",
                    "previous_block_hash": "356f533ab3456f2a1b751d5734d4026a5dc07154cbd0b7844556ddb8ad0ba674",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                "block_time": 1740410649,
                "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                "previous_block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                "block_time": 1740410649,
                "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                "previous_block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                "block_time": 1740410649,
                "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                "previous_block_hash": "6fe3e0ece72046f6dbcfeb2733c2e0c3bfe34ab74bdc3b82b273be4664727cb0",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&show_unconfirmed}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `False`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "block_index": 245,
                    "block_hash": "69f647dfa8b62c2a9fabd9fe452da1a6142380d88108b44d86d6fc7e733d33cb",
                    "block_time": 1740410649,
                    "source": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "destination": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1 ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                                "destination_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                                "source_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                                "status": "valid",
                                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                                "tx_index": 121,
                                "block_time": 1740410649,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                            "block_index": 245,
                            "block_time": 1740410649
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                                "destination_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                                "source_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                                "status": "valid",
                                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                                "tx_index": 121,
                                "block_time": 1740410649,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                            "block_index": 245,
                            "block_time": 1740410649
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                                "status": 0,
                                "tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                            "block_index": 245,
                            "block_time": 1740410649
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                                "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                                "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                                "tx_index": 121,
                                "block_time": 1740410649,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                            "block_index": 245,
                            "block_time": 1740410649
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed}{&verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `False`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "69369005b5c2e94a38b4cb8ee98d69d5ebd7cd2f65d60dfc23f1daa7124ff525",
                        "messages_hash": "a4ca25e565aa591de7ceb6d15f1445054d01f30e5dad0653d0f14b4c0405231f",
                        "transaction_count": 1,
                        "txlist_hash": "a4593ab7c9966269eb78f77b7e5cfcf577140737fcc2af0d8ef3c69578f74f89",
                        "block_time": 1740410649
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "tx_index": 121
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                        "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                        "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "tx_index": 121,
                        "block_time": 1740410649,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                        "status": 0,
                        "tx_hash": "52adccf2d1e5e3ae6e76bdcdd069be6f2e289548387acf31fb80fd50d7673d92",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740410649,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1740410649,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                        "utxo_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                        "block_time": 1740410649,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                        "utxo_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                        "block_time": 1740410649,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "tx_index": 121,
                    "utxo": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                    "utxo_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "tx_index": 121,
                    "utxo": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                    "utxo_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "tx_index": 121,
                    "utxo": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                    "utxo_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "tx_index": 121,
                    "utxo": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                    "utxo_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "e5d4c828b1e9fa96e9a90f0d1712b448f8c42d0d1466437a1f3e5cd09fc2b88a",
                    "block_index": 211,
                    "block_time": 1740410502
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "32a0f4b3f0a9786804c2b053b094ea8e81b0c84dde7af6df5529eb0d18a4f07f",
                    "block_index": 188,
                    "source": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                    "offer_hash": "da40b0b497d5e2c0ba09847d4638486d35549af6e489c92186f7f81ee4ba6f2e",
                    "status": "valid",
                    "block_time": 1740410415
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "27fae6758603af74de32ffce293f0b3acca925a88cd3e19bf163b221feff7dac",
                    "block_index": 240,
                    "source": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1740410630,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qytfmus4ldmk7qtkgfarm4zpzmnw0z0t9ffdz3s"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "ed9bdca9531899cc02c60ffd21f60f21489c47fafb98eb29aef89ecf8b4b14a6",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "issuer": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1740410640,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "block_index": 245,
                    "source": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                    "destination": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "destination_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f",
                    "block_index": 245,
                    "source": "4ac60692e548b02958483dd51f3eece045d67c39a6c73f5f7ed521bdf7ffa40a:1",
                    "destination": "ecef704818ca05e6818b1974c2e06cbefa6e44d6c8a646228622164e78579a7f:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qxlm7t7w3xtsa92t3jpaeyy98dtqhehd8vggs0n",
                    "destination_address": "bcrt1qlj5ucw8yycyfunmxkdftyawpyml7haccrkfxt8",
                    "block_time": 1740410649,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q22c3cx5llgu0w95naqhulvk6vr5e8swrkte6wm"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
[...]
