[//]: # (Generated by genapidoc.py on 2024-09-12 17:58:00.996913. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                "block_index": 188,
                "block_time": 1726163863,
                "difficulty": 545259519,
                "previous_block_hash": "45fa36381d454a5cbc8a6bfd8b7e405af67d24abe6f31d2a7caa41cb5ee1d289"
            },
            "tx_hash": null,
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 484,
    "result_count": 88
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 497,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                "block_index": 188,
                "block_time": 1726163863,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                "tx_index": 54,
                "utxos_info": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 485,
    "result_count": 55
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 227,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "out_index": 0,
                "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
                "tx_index": 26,
                "block_time": 1726163664,
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
            "block_index": 139,
            "block_time": 1726163664
        }
    ],
    "next_cursor": 219,
    "result_count": 2
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 501,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 188,
                "ledger_hash": "c14c84b25edd408f366810904c8c09385e85b65634c048ab21d811898ef612ea",
                "messages_hash": "3d39587448e030665a4b81fbd653468ed3df93c33259621a38d57979fd1c3640",
                "transaction_count": 1,
                "txlist_hash": "3811c50f4de48ae0e314629379872660849d848fd36a955f378b1ebc689b2d0a",
                "block_time": 1726163863
            },
            "tx_hash": null,
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 495,
    "result_count": 88
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 500,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                "tx_index": 54
            },
            "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 494,
    "result_count": 42
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 498,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "asset": "XCP",
                "block_index": 188,
                "event": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                "quantity": 1,
                "tx_index": 54,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726163863,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 491,
    "result_count": 50
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 492,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "asset": "XCP",
                "block_index": 187,
                "calling_function": "sweep",
                "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                "quantity": 74499387833,
                "tx_index": 53,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726163859,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
            "block_index": 187,
            "block_time": 1726163859
        }
    ],
    "next_cursor": 490,
    "result_count": 65
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 182,
                "destination": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                "status": "valid",
                "tx_hash": "64f65d275eef968987dd9480d6e88ea56ed8f29b90be715338ae7cd90e225fd2",
                "tx_index": 48,
                "block_time": 1726163839,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "64f65d275eef968987dd9480d6e88ea56ed8f29b90be715338ae7cd90e225fd2",
            "block_index": 182,
            "block_time": 1726163839
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 462,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 183,
                "destination": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "tx_hash": "0e821af03ec211fa0e6875697bb36a19f26529f30ca21d7cc9f22d5952217968",
                "tx_index": 49,
                "block_time": 1726163843,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "0e821af03ec211fa0e6875697bb36a19f26529f30ca21d7cc9f22d5952217968",
            "block_index": 183,
            "block_time": 1726163843
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 493,
            "event": "SWEEP",
            "params": {
                "block_index": 187,
                "destination": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                "status": "valid",
                "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                "tx_index": 53,
                "block_time": 1726163859,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
            "block_index": 187,
            "block_time": 1726163859
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 291,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 147,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "tx_hash": "4e4207782a2543b5d762779a7afbfcb64eec8488f20edfcc807167b590e2e7bc",
                "tx_index": 34,
                "block_time": 1726163698,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "4e4207782a2543b5d762779a7afbfcb64eec8488f20edfcc807167b590e2e7bc",
            "block_index": 147,
            "block_time": 1726163698
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 341,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 153,
                "block_time": 1726163724
            },
            "tx_hash": "d9cbfe5c48df13a6ad73017e0b6e1f0251b88577a236b344d18bb7670f7935d0",
            "block_index": 153,
            "block_time": 1726163724
        }
    ],
    "next_cursor": 328,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 342,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 153,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "transfer": false,
                "tx_hash": "d9cbfe5c48df13a6ad73017e0b6e1f0251b88577a236b344d18bb7670f7935d0",
                "tx_index": 40,
                "block_time": 1726163724,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "d9cbfe5c48df13a6ad73017e0b6e1f0251b88577a236b344d18bb7670f7935d0",
            "block_index": 153,
            "block_time": 1726163724
        }
    ],
    "next_cursor": 335,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 499,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "quantity": 1,
                "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                "tx_index": 54,
                "block_time": 1726163863,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
            "block_index": 188,
            "block_time": 1726163863
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 481,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 186,
                "expiration": 21,
                "expire_index": 207,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "open",
                "tx_hash": "1586660b9165c4db0f96ee97121cee35fba6060a6485f626808437395a2b982e",
                "tx_index": 52,
                "block_time": 1726163855,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "1586660b9165c4db0f96ee97121cee35fba6060a6485f626808437395a2b982e",
            "block_index": 186,
            "block_time": 1726163855
        }
    ],
    "next_cursor": 468,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 181,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4_7306c8e408ff65629b9e409ca2b908077edb8958bf9d962e9cb7014dd97dd897",
                "match_expire_index": 201,
                "status": "pending",
                "tx0_address": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "tx0_block_index": 179,
                "tx0_expiration": 21,
                "tx0_hash": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4",
                "tx0_index": 44,
                "tx1_address": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                "tx1_block_index": 181,
                "tx1_expiration": 21,
                "tx1_hash": "7306c8e408ff65629b9e409ca2b908077edb8958bf9d962e9cb7014dd97dd897",
                "tx1_index": 47,
                "block_time": 1726163835,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "7306c8e408ff65629b9e409ca2b908077edb8958bf9d962e9cb7014dd97dd897",
            "block_index": 181,
            "block_time": 1726163835
        }
    ],
    "next_cursor": 427,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 473,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "8a9f9266034971c498ac7ccc3942c7ed7d860cd4e339fd50dfaeb84a8bc80384"
            },
            "tx_hash": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4",
            "block_index": 185,
            "block_time": 1726163852
        }
    ],
    "next_cursor": 442,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 434,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9"
            },
            "tx_hash": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745",
            "block_index": 180,
            "block_time": 1726163831
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 433,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4_13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
                "order_match_id": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4_13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
                "status": "completed"
            },
            "tx_hash": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745",
            "block_index": 180,
            "block_time": 1726163831
        }
    ],
    "next_cursor": 406,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 435,
            "event": "BTC_PAY",
            "params": {
                "block_index": 180,
                "btc_amount": 2000,
                "destination": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "order_match_id": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4_13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
                "source": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "status": "valid",
                "tx_hash": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745",
                "tx_index": 46,
                "block_time": 1726163831,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745",
            "block_index": 180,
            "block_time": 1726163831
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 475,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 185,
                "offer_hash": "8a9f9266034971c498ac7ccc3942c7ed7d860cd4e339fd50dfaeb84a8bc80384",
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "tx_hash": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4",
                "tx_index": 51,
                "block_time": 1726163852
            },
            "tx_hash": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4",
            "block_index": 185,
            "block_time": 1726163852
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 414,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 177,
                "order_hash": "a7bc5591144a993b60681a8aeb05cd0cb6b7bca9ddc9887c9b433e3c11aa1023",
                "source": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "block_time": 1726163754
            },
            "tx_hash": null,
            "block_index": 177,
            "block_time": 1726163754
        }
    ],
    "next_cursor": 412,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 409,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 177,
                "order_match_id": "79ededb48aa3ebb673cf9133ce9e420a9c8305fc6f97be90db157bfe310dd676_a7bc5591144a993b60681a8aeb05cd0cb6b7bca9ddc9887c9b433e3c11aa1023",
                "tx0_address": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "tx1_address": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "block_time": 1726163754
            },
            "tx_hash": null,
            "block_index": 177,
            "block_time": 1726163754
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 236,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 140,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": null,
                "origin": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "satoshirate": 1,
                "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                "status": 0,
                "tx_hash": "b29f4889368ddb5b3d0a7d1c16a3bfd4d871a45cc4af04ddc190a9427d5ce4b5",
                "tx_index": 27,
                "block_time": 1726163668,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "b29f4889368ddb5b3d0a7d1c16a3bfd4d871a45cc4af04ddc190a9427d5ce4b5",
            "block_index": 140,
            "block_time": 1726163668
        }
    ],
    "next_cursor": 214,
    "result_count": 2
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 229,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 0,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": 10,
                "tx_hash": "0ea38e7003cf4690405bd92189eef2244c85212036f7c8e8af777de311896130",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
            "block_index": 139,
            "block_time": 1726163664
        }
    ],
    "next_cursor": 221,
    "result_count": 2
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 230,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 139,
                "btc_amount": 4000,
                "destination": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "dispense_index": 0,
                "dispense_quantity": 4000,
                "dispenser_tx_hash": "0ea38e7003cf4690405bd92189eef2244c85212036f7c8e8af777de311896130",
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
                "tx_index": 26,
                "block_time": 1726163664,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00004000",
                "btc_amount_normalized": "0.00004000"
            },
            "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
            "block_index": 139,
            "block_time": 1726163664
        }
    ],
    "next_cursor": 222,
    "result_count": 2
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 348,
            "event": "BROADCAST",
            "params": {
                "block_index": 154,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "text": "Hello, world!",
                "timestamp": 4003903983,
                "tx_hash": "5d537ec8c3ac05b4799b3b3148d7426564b89c73629ab21c1f1d486a7a975eb8",
                "tx_index": 41,
                "value": 999.0,
                "block_time": 1726163738,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "5d537ec8c3ac05b4799b3b3148d7426564b89c73629ab21c1f1d486a7a975eb8",
            "block_index": 154,
            "block_time": 1726163738
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "start_block": 0,
                "status": "open",
                "tx_hash": "6501d37244ab1bea70162c1d01cd9821ac49052be599464e71bb5e13fb88cb7d",
                "tx_index": 22,
                "block_time": 1726163647
            },
            "tx_hash": "6501d37244ab1bea70162c1d01cd9821ac49052be599464e71bb5e13fb88cb7d",
            "block_index": 135,
            "block_time": 1726163647
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "eb7be3255844bb25747726f8c42a044cce8ed6755b36dc129dbd853f210f485f"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726163616
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "6501d37244ab1bea70162c1d01cd9821ac49052be599464e71bb5e13fb88cb7d",
                "paid_quantity": 34,
                "source": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                "status": "valid",
                "tx_hash": "3e52781713f221658c8056f55ac433eb43713f04a4b9df35866def8d04561cf3",
                "tx_index": 23,
                "block_time": 1726163651,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "3e52781713f221658c8056f55ac433eb43713f04a4b9df35866def8d04561cf3",
            "block_index": 136,
            "block_time": 1726163651
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 273,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 145,
                "destination": "f42befbb5d2b33be42b85c8bd7171228eee9800a361f331ef3193d06481dcd9c:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                "status": "valid",
                "tx_hash": "f42befbb5d2b33be42b85c8bd7171228eee9800a361f331ef3193d06481dcd9c",
                "tx_index": 32,
                "block_time": 1726163690,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f42befbb5d2b33be42b85c8bd7171228eee9800a361f331ef3193d06481dcd9c",
            "block_index": 145,
            "block_time": 1726163690
        }
    ],
    "next_cursor": 252,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 265,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 144,
                "destination": "bcrt1qhr0fsw4g5rzp6x62apcjf9472fzk8har09d7pe",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "b2b9dd441264916db329da97b00afc72ae9b5d5c4fea835a149e25771db10e79:0",
                "status": "valid",
                "tx_hash": "24fe8c7a352d42d4cbaf0549e14c55097dfaee9b0f33399f88b468210b17269b",
                "tx_index": 31,
                "block_time": 1726163685,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "24fe8c7a352d42d4cbaf0549e14c55097dfaee9b0f33399f88b468210b17269b",
            "block_index": 144,
            "block_time": 1726163685
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 310,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 149,
                "destination": "b0c12668b58b4ae854c33dae36370b3f514d019b91414ea8f1185d522959e1ad:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "4ca1e3a9870ea0238f416344d514859a29c4775e13a92a6c940abfe9e7afecb7:0",
                "status": "valid",
                "tx_hash": "b0c12668b58b4ae854c33dae36370b3f514d019b91414ea8f1185d522959e1ad",
                "tx_index": 36,
                "block_time": 1726163707,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "b0c12668b58b4ae854c33dae36370b3f514d019b91414ea8f1185d522959e1ad",
            "block_index": 149,
            "block_time": 1726163707
        }
    ],
    "next_cursor": 307,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qxrhuky7rjaw0atcftg7y25tejjz4cn45lulxad",
                "status": "valid",
                "tx_hash": "14eeb5767d6b22bd613fd20dea76ddbfb720515dc36164a57fa68702c10a33ae",
                "tx_index": 9,
                "block_time": 1726163579,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "14eeb5767d6b22bd613fd20dea76ddbfb720515dc36164a57fa68702c10a33ae",
            "block_index": 121,
            "block_time": 1726163579
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `188` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 188,
                    "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                    "block_time": 1726163863,
                    "previous_block_hash": "45fa36381d454a5cbc8a6bfd8b7e405af67d24abe6f31d2a7caa41cb5ee1d289",
                    "difficulty": 545259519,
                    "ledger_hash": "c14c84b25edd408f366810904c8c09385e85b65634c048ab21d811898ef612ea",
                    "txlist_hash": "3811c50f4de48ae0e314629379872660849d848fd36a955f378b1ebc689b2d0a",
                    "messages_hash": "3d39587448e030665a4b81fbd653468ed3df93c33259621a38d57979fd1c3640",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 187,
                    "block_hash": "45fa36381d454a5cbc8a6bfd8b7e405af67d24abe6f31d2a7caa41cb5ee1d289",
                    "block_time": 1726163859,
                    "previous_block_hash": "3f44380172334aa11d554fe169b4f550ac96380f8ce4f559fc43036e60f758bb",
                    "difficulty": 545259519,
                    "ledger_hash": "862e728a7c02c6fb8c1244e5d0e3e3d42601e1cca40aaa73c847668404bcf882",
                    "txlist_hash": "2e70a3841fa92b647e873b4eda4a5a08559ab378fc7ad29b096384ff359f4726",
                    "messages_hash": "85425d55d0fa05bc0d65d5794aea66ec5e795b371bea57929dae83e91e73f282",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 186,
                    "block_hash": "3f44380172334aa11d554fe169b4f550ac96380f8ce4f559fc43036e60f758bb",
                    "block_time": 1726163855,
                    "previous_block_hash": "768efbb92c28a4804cbfd8209f668c21d7f615903697b53680e951bf9dc33b21",
                    "difficulty": 545259519,
                    "ledger_hash": "d59157973a1f2e7d4c9a3d5ae65d3aec0295d9d0da6987d8bb4a881e6e383e9f",
                    "txlist_hash": "66de2b57359896248417ad8e191a6425613ae36a8ce11cf8fd0f8649b6efd22a",
                    "messages_hash": "d5c6f1c241d0fc010738261ba7b9225e497da9d8013ea24f9dc6371b5aede6c9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 185,
                    "block_hash": "768efbb92c28a4804cbfd8209f668c21d7f615903697b53680e951bf9dc33b21",
                    "block_time": 1726163852,
                    "previous_block_hash": "42fb8bd319c3cf0d335b92ed01527121e0fee1f62247b38239f333be97b6adb3",
                    "difficulty": 545259519,
                    "ledger_hash": "641ca3980bd8dd0d06839731ad36866c6d267870fdc44efe5974fc6560d0735f",
                    "txlist_hash": "ebd650cf3cab4f4a80eacb26da1d13262f6dcc629cd0dfe7df3af526f8ceceb6",
                    "messages_hash": "b2ae1696b5c170bd3a19ee5222999505d2823de4537a8dcdc18533147cc8911a",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 184,
                    "block_hash": "42fb8bd319c3cf0d335b92ed01527121e0fee1f62247b38239f333be97b6adb3",
                    "block_time": 1726163847,
                    "previous_block_hash": "5831c39b74b2df7d846183922e607eb27e86e5aee7efb99fff596b5ad3320552",
                    "difficulty": 545259519,
                    "ledger_hash": "e58c20b9c563834aaf3447855996b263a94589107702a0ec166fa32df3110622",
                    "txlist_hash": "18bf624529464e1647e3adf0c8b01dfaef20aa19f4083a74a896cca6dda431bc",
                    "messages_hash": "b9e41bca5a9b773eb16c6f8db3a048d048fa8d7425fb945ac5fcc8a877e2a8ef",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 183,
            "result_count": 88
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 188,
                "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                "block_time": 1726163863,
                "previous_block_hash": "45fa36381d454a5cbc8a6bfd8b7e405af67d24abe6f31d2a7caa41cb5ee1d289",
                "difficulty": 545259519,
                "ledger_hash": "c14c84b25edd408f366810904c8c09385e85b65634c048ab21d811898ef612ea",
                "txlist_hash": "3811c50f4de48ae0e314629379872660849d848fd36a955f378b1ebc689b2d0a",
                "messages_hash": "3d39587448e030665a4b81fbd653468ed3df93c33259621a38d57979fd1c3640",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 188,
                "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                "block_time": 1726163863,
                "previous_block_hash": "45fa36381d454a5cbc8a6bfd8b7e405af67d24abe6f31d2a7caa41cb5ee1d289",
                "difficulty": 545259519,
                "ledger_hash": "c14c84b25edd408f366810904c8c09385e85b65634c048ab21d811898ef612ea",
                "txlist_hash": "3811c50f4de48ae0e314629379872660849d848fd36a955f378b1ebc689b2d0a",
                "messages_hash": "3d39587448e030665a4b81fbd653468ed3df93c33259621a38d57979fd1c3640",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor: `54` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                    "block_index": 188,
                    "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
                    "block_time": 1726163863,
                    "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `187` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `501` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 495,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 187,
                        "ledger_hash": "862e728a7c02c6fb8c1244e5d0e3e3d42601e1cca40aaa73c847668404bcf882",
                        "messages_hash": "85425d55d0fa05bc0d65d5794aea66ec5e795b371bea57929dae83e91e73f282",
                        "transaction_count": 1,
                        "txlist_hash": "2e70a3841fa92b647e873b4eda4a5a08559ab378fc7ad29b096384ff359f4726",
                        "block_time": 1726163859
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 494,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "tx_index": 53
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                },
                {
                    "event_index": 493,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 187,
                        "destination": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                        "status": "valid",
                        "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "tx_index": 53,
                        "block_time": 1726163859,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                },
                {
                    "event_index": 492,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                        "asset": "XCP",
                        "block_index": 187,
                        "calling_function": "sweep",
                        "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "quantity": 74499387833,
                        "tx_index": 53,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726163859,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                },
                {
                    "event_index": 491,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                        "asset": "XCP",
                        "block_index": 187,
                        "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "quantity": 74499387833,
                        "tx_index": 53,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726163859,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                }
            ],
            "next_cursor": 490,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `187` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 492,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                        "asset": "XCP",
                        "block_index": 187,
                        "calling_function": "sweep",
                        "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "quantity": 74499387833,
                        "tx_index": 53,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726163859,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                },
                {
                    "event_index": 490,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                        "asset": "MYASSETA",
                        "block_index": 187,
                        "calling_function": "sweep",
                        "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "quantity": 10,
                        "tx_index": 53,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726163859,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                },
                {
                    "event_index": 488,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                        "asset": "FAIRMINTA",
                        "block_index": 187,
                        "calling_function": "sweep",
                        "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                        "quantity": 500000000,
                        "tx_index": 53,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726163859,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `187` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 187,
                    "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                    "tx_index": 53,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726163859,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 187,
                    "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                    "tx_index": 53,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726163859,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 187,
                    "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                    "tx_index": 53,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726163859,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 188,
                    "address": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                    "tx_index": 54,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726163863,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `177` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "a7bc5591144a993b60681a8aeb05cd0cb6b7bca9ddc9887c9b433e3c11aa1023",
                    "block_index": 177,
                    "confirmed": true,
                    "block_time": 1726163754
                },
                {
                    "type": "order",
                    "object_id": "79ededb48aa3ebb673cf9133ce9e420a9c8305fc6f97be90db157bfe310dd676",
                    "block_index": 177,
                    "confirmed": true,
                    "block_time": 1726163754
                },
                {
                    "type": "order_match",
                    "object_id": "79ededb48aa3ebb673cf9133ce9e420a9c8305fc6f97be90db157bfe310dd676_a7bc5591144a993b60681a8aeb05cd0cb6b7bca9ddc9887c9b433e3c11aa1023",
                    "block_index": 177,
                    "confirmed": true,
                    "block_time": 1726163754
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `185` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 51,
                    "tx_hash": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4",
                    "block_index": 185,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "offer_hash": "8a9f9266034971c498ac7ccc3942c7ed7d860cd4e339fd50dfaeb84a8bc80384",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726163852
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
                    "block_index": 188,
                    "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726163863,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `153` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 40,
                    "tx_hash": "d9cbfe5c48df13a6ad73017e0b6e1f0251b88577a236b344d18bb7670f7935d0",
                    "msg_index": 0,
                    "block_index": 153,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726163724,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `183` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 49,
                    "tx_hash": "0e821af03ec211fa0e6875697bb36a19f26529f30ca21d7cc9f22d5952217968",
                    "block_index": 183,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "destination": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726163843,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 49,
                    "tx_hash": "0e821af03ec211fa0e6875697bb36a19f26529f30ca21d7cc9f22d5952217968",
                    "block_index": 183,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "destination": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726163843,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 49,
                    "tx_hash": "0e821af03ec211fa0e6875697bb36a19f26529f30ca21d7cc9f22d5952217968",
                    "block_index": 183,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "destination": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726163843,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `139` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 26,
                    "dispense_index": 0,
                    "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
                    "block_index": 139,
                    "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "destination": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
                    "asset": "XCP",
                    "dispense_quantity": 4000,
                    "dispenser_tx_hash": "0ea38e7003cf4690405bd92189eef2244c85212036f7c8e8af777de311896130",
                    "btc_amount": 4000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 24,
                        "block_index": 139,
                        "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 10,
                        "give_remaining": 0,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": null,
                        "oracle_price": null,
                        "fiat_unit": null,
                        "oracle_price_last_updated": null,
                        "satoshi_price": 1,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00000000",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000001"
                    },
                    "block_time": 1726163664,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00004000",
                    "btc_amount_normalized": "0.00004000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `187` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 53,
                    "tx_hash": "7496c4232d4c9c6f1186463e31cb0f7cc103b583fc91ecb4ce5f8ea631a593ec",
                    "block_index": 187,
                    "source": "bcrt1qckcasymdruquhzgcrez9ppsfc00x8hjg4lmn2f",
                    "destination": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726163859,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 41,
        "tx_hash": "5d537ec8c3ac05b4799b3b3148d7426564b89c73629ab21c1f1d486a7a975eb8",
        "block_index": 154,
        "block_hash": "699b14226a1191820875a78258bb6f0f9a81dc566b9d757b808f5ca039b35599",
        "block_time": 1726163738,
        "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef408f380000000000000000000d48656c6c6f2c20776f726c6421",
        "supported": true,
        "utxos_info": "5d537ec8c3ac05b4799b3b3148d7426564b89c73629ab21c1f1d486a7a975eb8:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 999.0,
                "fee_fraction_int": 0,
                "text": "Hello, world!",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 46,
        "tx_hash": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745",
        "block_index": 180,
        "block_hash": "084a23dc65a698a60440a2069cb991774b05fc1b12d492ee224afdd6d91fb550",
        "block_time": 1726163831,
        "source": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
        "destination": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e413b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
        "supported": true,
        "utxos_info": "f1f032ebadca35f5db9cec5c3b32ff1cc5d995f68759d67889d34d6a021e8745:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4",
                "tx1_hash": "13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
                "order_match_id": "5e11884aed457c5254a0ced7c059fda0687384d0073d41f0b1c07ebcdfdb04e4_13b920f56ae00b82538748a6eccc6a0ba7d165ac0fe0ab77e15d01b0f282faf9",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4",
        "block_index": 185,
        "block_hash": "768efbb92c28a4804cbfd8209f668c21d7f615903697b53680e951bf9dc33b21",
        "block_time": 1726163852,
        "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "468a9f9266034971c498ac7ccc3942c7ed7d860cd4e339fd50dfaeb84a8bc80384",
        "supported": true,
        "utxos_info": "ccc2485f4278ef6b185ea7182aceab5aab27124c0055726730ef09966e4eeda4:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "8a9f9266034971c498ac7ccc3942c7ed7d860cd4e339fd50dfaeb84a8bc80384",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 54,
        "tx_hash": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd",
        "block_index": 188,
        "block_hash": "37dade647520d225b0cc0feca39d180599771830b9e106535e036e3b972abf81",
        "block_time": 1726163863,
        "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "7431504c67f5000a6a34e6600d28dd846a0ff72f659edfea1bf47cbd28f5e8fd:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 27,
        "tx_hash": "b29f4889368ddb5b3d0a7d1c16a3bfd4d871a45cc4af04ddc190a9427d5ce4b5",
        "block_index": 140,
        "block_hash": "29098f7f86930a4bb936e257779e708b8ab745ff56af566264d5be79a74994fd",
        "block_time": 1726163668,
        "source": "bcrt1qdfvle2l2psll5g6x5ptm43t4ssnsmhwfgraluy",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100",
        "supported": true,
        "utxos_info": "b29f4889368ddb5b3d0a7d1c16a3bfd4d871a45cc4af04ddc190a9427d5ce4b5:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": null,
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 26,
        "tx_hash": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59",
        "block_index": 139,
        "block_hash": "528915b97aadb91114bb7607f23b00f184a078105f125143975196c54329f850",
        "block_time": 1726163664,
        "source": "bcrt1q8ej6uuhrp097knaxl7zu2y2pm0q657wunndmu4",
        "destination": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
        "btc_amount": 4000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "d04cae791ce9d1d5e76ef4e4ce81a7885b2d75f541e66c8def18ee0c19cbeb59:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00004000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 34,
        "tx_hash": "4e4207782a2543b5d762779a7afbfcb64eec8488f20edfcc807167b590e2e7bc",
        "block_index": 147,
        "block_hash": "1904a4fc27d5dcb3590891000b7f9c53fe4c933f7bb5c265148f8405533fe655",
        "block_time": 1726163698,
        "source": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "320000000005f5e100000000182b37176e0000000000000001",
        "supported": true,
        "utxos_info": "4e4207782a2543b5d762779a7afbfcb64eec8488f20edfcc807167b590e2e7bc:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dividend",
            "message_type_id": 50,
            "message_data": {
                "asset": "MYASSETA",
                "quantity_per_unit": 100000000,
                "dividend_asset": "XCP",
                "status": "valid",
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q49pkzqk07gyexr5zlhq6705qcf0zd4n20phdve",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
[...]
