[//]: # (Generated by genapidoc.py on 2024-09-19 19:30:10.387027. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                "block_index": 193,
                "block_time": 1726774194,
                "difficulty": 545259519,
                "previous_block_hash": "1f9ddccf0b6074a98b6114241c60bf5b0b86a347726d0a390c33333aad11d09d"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                "block_index": 193,
                "block_time": 1726774194,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                "tx_index": 59,
                "utxos_info": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "out_index": 0,
                "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
                "tx_index": 33,
                "block_time": 1726773999,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
            "block_index": 146,
            "block_time": 1726773999
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "f6d24ca8803c303ea689de2f2b6b151c6898d0f17c23ed2f8818ec427c218ba7",
                "messages_hash": "ffaa92281c34cd326d8f5827df097b93a78ef336e9ef91222fef85a5ed6a1d1a",
                "transaction_count": 1,
                "txlist_hash": "8a852d2d71ba98d2164c3421ab7805a817d816e7f8d9e2df75026288be185e2a",
                "block_time": 1726774194
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                "tx_index": 59
            },
            "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "asset": "XCP",
                "block_index": 193,
                "event": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726774194,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726774190,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
            "block_index": 192,
            "block_time": 1726774190
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                "status": "valid",
                "tx_hash": "47761b13598c396c4e0a034e7cee0ea4c37ea2100e8c046c87ceeac533f1f1d5",
                "tx_index": 53,
                "block_time": 1726774169,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "47761b13598c396c4e0a034e7cee0ea4c37ea2100e8c046c87ceeac533f1f1d5",
            "block_index": 187,
            "block_time": 1726774169
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "valid",
                "tx_hash": "adfb731e5590e5708f8d3c7c42b65f4360df401b3b467dc84a5f2929df87f714",
                "tx_index": 54,
                "block_time": 1726774173,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "adfb731e5590e5708f8d3c7c42b65f4360df401b3b467dc84a5f2929df87f714",
            "block_index": 188,
            "block_time": 1726774173
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                "status": "valid",
                "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                "tx_index": 58,
                "block_time": 1726774190,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
            "block_index": 192,
            "block_time": 1726774190
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "valid",
                "tx_hash": "2367d1a35384d513f7abcfbe8822c982a935ecc7a1e507b0c0d6f073a168e9a6",
                "tx_index": 40,
                "block_time": 1726774028,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "2367d1a35384d513f7abcfbe8822c982a935ecc7a1e507b0c0d6f073a168e9a6",
            "block_index": 153,
            "block_time": 1726774028
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726774063
            },
            "tx_hash": "73d59c8f1eb810ee22d7a55b461a1cf03067bb5cf684b18e2e961afd182f3a04",
            "block_index": 159,
            "block_time": 1726774063
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "valid",
                "transfer": false,
                "tx_hash": "73d59c8f1eb810ee22d7a55b461a1cf03067bb5cf684b18e2e961afd182f3a04",
                "tx_index": 46,
                "block_time": 1726774063,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "73d59c8f1eb810ee22d7a55b461a1cf03067bb5cf684b18e2e961afd182f3a04",
            "block_index": 159,
            "block_time": 1726774063
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                "tx_index": 59,
                "block_time": 1726774194,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
            "block_index": 193,
            "block_time": 1726774194
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "open",
                "tx_hash": "fea8fabe8387cd2ba8ad235b01b846556bb361f4a81912ca7f62c026a6af2f4e",
                "tx_index": 57,
                "block_time": 1726774186,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "fea8fabe8387cd2ba8ad235b01b846556bb361f4a81912ca7f62c026a6af2f4e",
            "block_index": 191,
            "block_time": 1726774186
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032_69c13c98819367272ee2ff61dd5a5c37d8ced52b7aa652fe2342039132334646",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032",
                "tx0_index": 49,
                "tx1_address": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "69c13c98819367272ee2ff61dd5a5c37d8ced52b7aa652fe2342039132334646",
                "tx1_index": 52,
                "block_time": 1726774164,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "69c13c98819367272ee2ff61dd5a5c37d8ced52b7aa652fe2342039132334646",
            "block_index": 186,
            "block_time": 1726774164
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "ea4b57755b31820d7baf02c49c33fa0aac716e21cc2ecdaaad137b3143da837e"
            },
            "tx_hash": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031",
            "block_index": 190,
            "block_time": 1726774182
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f"
            },
            "tx_hash": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72",
            "block_index": 185,
            "block_time": 1726774160
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032_e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
                "order_match_id": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032_e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
                "status": "completed"
            },
            "tx_hash": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72",
            "block_index": 185,
            "block_time": 1726774160
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "order_match_id": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032_e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
                "source": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                "status": "valid",
                "tx_hash": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72",
                "tx_index": 51,
                "block_time": 1726774160,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72",
            "block_index": 185,
            "block_time": 1726774160
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "ea4b57755b31820d7baf02c49c33fa0aac716e21cc2ecdaaad137b3143da837e",
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "valid",
                "tx_hash": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031",
                "tx_index": 56,
                "block_time": 1726774182
            },
            "tx_hash": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031",
            "block_index": 190,
            "block_time": 1726774182
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "1cb6b06e663bba8b4783833d661fa60e93783a12750cda6613ec5c187688fc46",
                "source": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                "block_time": 1726774079
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726774079
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "2a6fd55c8dac6baadbbe52dd54d1e9c29a92db627c33b141e93d8a0bd1c2b8e3_1cb6b06e663bba8b4783833d661fa60e93783a12750cda6613ec5c187688fc46",
                "tx0_address": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "tx1_address": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                "block_time": 1726774079
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726774079
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "origin": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "satoshirate": 1,
                "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "status": 0,
                "tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
                "tx_index": 32,
                "block_time": 1726773995,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
            "block_index": 145,
            "block_time": 1726773995
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "status": 0,
                "tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
            "block_index": 146,
            "block_time": 1726773999
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mnMNuY8rdFkTAqCBgrNvdm4pYk5Emb6kRP",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "51735aedef989952f6214819fcb36efd3a63aebc59b9e0cd5daf137cf895e871",
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "tx_hash": "03a5ab84754e8fde5c6f7f3e14c6a0f69339979e800a1e7fa16f82baa3cf62d7",
                "tx_index": 31,
                "block_time": 1726773991,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "03a5ab84754e8fde5c6f7f3e14c6a0f69339979e800a1e7fa16f82baa3cf62d7",
            "block_index": 144,
            "block_time": 1726773991
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qn8r8ryhg8ucrj3lsdpfw0ehzk5krj8twdlhc3f",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
                "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
                "tx_index": 33,
                "block_time": 1726773999,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
            "block_index": 146,
            "block_time": 1726773999
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "16ae436eb65fa2cda9ae144b1cafcf9d324690702f4c5fd61624ab0516acbc9c",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726773966,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "16ae436eb65fa2cda9ae144b1cafcf9d324690702f4c5fd61624ab0516acbc9c",
            "block_index": 138,
            "block_time": 1726773966
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "start_block": 0,
                "status": "open",
                "tx_hash": "c606e2cab0fab65445d615b3135af274925148b1156babae30e3ea60dd841d40",
                "tx_index": 22,
                "block_time": 1726773953
            },
            "tx_hash": "c606e2cab0fab65445d615b3135af274925148b1156babae30e3ea60dd841d40",
            "block_index": 135,
            "block_time": 1726773953
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "8bf6a822f10cccc625da7811b776e108fadf45d1b9255b1ab005583ec7c9df68"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726773912
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "c606e2cab0fab65445d615b3135af274925148b1156babae30e3ea60dd841d40",
                "paid_quantity": 34,
                "source": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                "status": "valid",
                "tx_hash": "ed4ea8c5e199862917e614d38a53e76af1da07f9c981ba9c4c961244f169fea7",
                "tx_index": 23,
                "block_time": 1726773957,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "ed4ea8c5e199862917e614d38a53e76af1da07f9c981ba9c4c961244f169fea7",
            "block_index": 136,
            "block_time": 1726773957
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "53ded9ffacbc10873033f614018f591e782af129765476d8e416f496a6be161e:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                "status": "valid",
                "tx_hash": "53ded9ffacbc10873033f614018f591e782af129765476d8e416f496a6be161e",
                "tx_index": 38,
                "block_time": 1726774019,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "53ded9ffacbc10873033f614018f591e782af129765476d8e416f496a6be161e",
            "block_index": 151,
            "block_time": 1726774019
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qdpq99w3vep4q6ugzufu2d8v7k3v5eg4fxanfg9",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "67db055172fd889ca6fa9cc47fa2ab086efcdc03871cefc9a0e6833aa2cffadc:0",
                "status": "valid",
                "tx_hash": "1cfb953bd23a5d5edaeccfd49b0528b6597e10acdd7f9956bc3ea49468400cfd",
                "tx_index": 37,
                "block_time": 1726774015,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "1cfb953bd23a5d5edaeccfd49b0528b6597e10acdd7f9956bc3ea49468400cfd",
            "block_index": 150,
            "block_time": 1726774015
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "7ad57447c4a262d50e07b2c51d2169d12003fdccdc935a773d15cace8aad2ab4:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "b50b9489e11a3841734f9bfa4ef3777ff4dc55be0688de2719b9a9c003970d4f:0",
                "status": "valid",
                "tx_hash": "7ad57447c4a262d50e07b2c51d2169d12003fdccdc935a773d15cace8aad2ab4",
                "tx_index": 42,
                "block_time": 1726774036,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "7ad57447c4a262d50e07b2c51d2169d12003fdccdc935a773d15cace8aad2ab4",
            "block_index": 155,
            "block_time": 1726774036
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qx026kexytkv73h2sucljqxmu6dz8q5qsfvp3mw",
                "status": "valid",
                "tx_hash": "b7f0dde4bbad6994cc0193c8774206f9809c5f83989c87a66b294ca6afb2a852",
                "tx_index": 9,
                "block_time": 1726773875,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "b7f0dde4bbad6994cc0193c8774206f9809c5f83989c87a66b294ca6afb2a852",
            "block_index": 121,
            "block_time": 1726773875
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                    "block_time": 1726774194,
                    "previous_block_hash": "1f9ddccf0b6074a98b6114241c60bf5b0b86a347726d0a390c33333aad11d09d",
                    "difficulty": 545259519,
                    "ledger_hash": "f6d24ca8803c303ea689de2f2b6b151c6898d0f17c23ed2f8818ec427c218ba7",
                    "txlist_hash": "8a852d2d71ba98d2164c3421ab7805a817d816e7f8d9e2df75026288be185e2a",
                    "messages_hash": "ffaa92281c34cd326d8f5827df097b93a78ef336e9ef91222fef85a5ed6a1d1a",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "1f9ddccf0b6074a98b6114241c60bf5b0b86a347726d0a390c33333aad11d09d",
                    "block_time": 1726774190,
                    "previous_block_hash": "169d7677beac5b7072d1018a6b568b0777dd5156141c1bb464de15fec30c53c8",
                    "difficulty": 545259519,
                    "ledger_hash": "65803d38379c30b6ac2d05ad148ef1ce11251447ffe401556c7bf9c06eebd906",
                    "txlist_hash": "a10e0fed77cc0ef6274cddbef2c672fb7ebe1ed630d31ee561671205aac9ecd0",
                    "messages_hash": "034324fb557a2ab6042fd66134a2f5c9a4a5183ee5ddde1a03677c06c17172eb",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "169d7677beac5b7072d1018a6b568b0777dd5156141c1bb464de15fec30c53c8",
                    "block_time": 1726774186,
                    "previous_block_hash": "651e3b0cf4808037e35d34560665bfc4d692e40ccd883d2bbc7f46c761f7ee32",
                    "difficulty": 545259519,
                    "ledger_hash": "d0d4cc486e16045bdeffd6704f0f275cb2c4f6073bc259daaf2ec310bfdc3062",
                    "txlist_hash": "2d66b5f605dc1728fbeb9e5b41f8e04a57ae32c137af8d438199d7309d8bd408",
                    "messages_hash": "83f1641453993b2ab8575ad53e07994f91c1d0cf5c67544bf00e47422bc9f8a9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "651e3b0cf4808037e35d34560665bfc4d692e40ccd883d2bbc7f46c761f7ee32",
                    "block_time": 1726774182,
                    "previous_block_hash": "0892483cda3b2359321d54521d71b9cdb5179631f9afd3a6815afbf31654f10a",
                    "difficulty": 545259519,
                    "ledger_hash": "1898591abedb9c6efebfb7c361c3867e5598e6c92c71620cda963dfbbe4edd8e",
                    "txlist_hash": "89cf7a5f82297c2a7e8572eb0a362c74f3dc2ec3b01f0fdac01a8445b32c2d62",
                    "messages_hash": "7d0c9df38a19bbf929f126f7fd0fc7d514c2ae87adea140b9285e754ab4c6fdb",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "0892483cda3b2359321d54521d71b9cdb5179631f9afd3a6815afbf31654f10a",
                    "block_time": 1726774177,
                    "previous_block_hash": "21c746c1d8a7a666598b18913fd73535305caee24703a5b741f5dfc04e1ad59d",
                    "difficulty": 545259519,
                    "ledger_hash": "de085f2fd32217117cc9f9b6cb78b3136bf9153af0b2127518bcb3fe9c100452",
                    "txlist_hash": "0cfa2c2e5403d9416acafcf271cd9ddfd121009f1c9d60ac249e22acda1e2aa1",
                    "messages_hash": "6ee20d350c2f943b261ad04265acdf29297c93220360a20d862f110e2d7af316",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                "block_time": 1726774194,
                "previous_block_hash": "1f9ddccf0b6074a98b6114241c60bf5b0b86a347726d0a390c33333aad11d09d",
                "difficulty": 545259519,
                "ledger_hash": "f6d24ca8803c303ea689de2f2b6b151c6898d0f17c23ed2f8818ec427c218ba7",
                "txlist_hash": "8a852d2d71ba98d2164c3421ab7805a817d816e7f8d9e2df75026288be185e2a",
                "messages_hash": "ffaa92281c34cd326d8f5827df097b93a78ef336e9ef91222fef85a5ed6a1d1a",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                "block_time": 1726774194,
                "previous_block_hash": "1f9ddccf0b6074a98b6114241c60bf5b0b86a347726d0a390c33333aad11d09d",
                "difficulty": 545259519,
                "ledger_hash": "f6d24ca8803c303ea689de2f2b6b151c6898d0f17c23ed2f8818ec427c218ba7",
                "txlist_hash": "8a852d2d71ba98d2164c3421ab7805a817d816e7f8d9e2df75026288be185e2a",
                "messages_hash": "ffaa92281c34cd326d8f5827df097b93a78ef336e9ef91222fef85a5ed6a1d1a",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                    "block_index": 193,
                    "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
                    "block_time": 1726774194,
                    "source": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "65803d38379c30b6ac2d05ad148ef1ce11251447ffe401556c7bf9c06eebd906",
                        "messages_hash": "034324fb557a2ab6042fd66134a2f5c9a4a5183ee5ddde1a03677c06c17172eb",
                        "transaction_count": 1,
                        "txlist_hash": "a10e0fed77cc0ef6274cddbef2c672fb7ebe1ed630d31ee561671205aac9ecd0",
                        "block_time": 1726774190
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "tx_index": 58
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                        "status": "valid",
                        "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "tx_index": 58,
                        "block_time": 1726774190,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726774190,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726774190,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726774190,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726774190,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726774190,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726774190,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726774190,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726774190,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726774194,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "1cb6b06e663bba8b4783833d661fa60e93783a12750cda6613ec5c187688fc46",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726774079
                },
                {
                    "type": "order",
                    "object_id": "2a6fd55c8dac6baadbbe52dd54d1e9c29a92db627c33b141e93d8a0bd1c2b8e3",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726774079
                },
                {
                    "type": "order_match",
                    "object_id": "2a6fd55c8dac6baadbbe52dd54d1e9c29a92db627c33b141e93d8a0bd1c2b8e3_1cb6b06e663bba8b4783833d661fa60e93783a12750cda6613ec5c187688fc46",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726774079
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031",
                    "block_index": 190,
                    "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "offer_hash": "ea4b57755b31820d7baf02c49c33fa0aac716e21cc2ecdaaad137b3143da837e",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726774182
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
                    "block_index": 193,
                    "source": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726774194,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "73d59c8f1eb810ee22d7a55b461a1cf03067bb5cf684b18e2e961afd182f3a04",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726774063,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "adfb731e5590e5708f8d3c7c42b65f4360df401b3b467dc84a5f2929df87f714",
                    "block_index": 188,
                    "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "destination": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726774173,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "adfb731e5590e5708f8d3c7c42b65f4360df401b3b467dc84a5f2929df87f714",
                    "block_index": 188,
                    "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "destination": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726774173,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "adfb731e5590e5708f8d3c7c42b65f4360df401b3b467dc84a5f2929df87f714",
                    "block_index": 188,
                    "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                    "destination": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726774173,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
                    "block_index": 146,
                    "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                    "destination": "bcrt1qn8r8ryhg8ucrj3lsdpfw0ehzk5krj8twdlhc3f",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726773999,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "a12f632d1381bc168fa9785d918c941d335789271dd5d7bee78fc70b7ecf636b",
                    "block_index": 192,
                    "source": "bcrt1q7zwj89g3amjzt0sr84qr6hxrtnp8r7gx9qmegr",
                    "destination": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726774190,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "16ae436eb65fa2cda9ae144b1cafcf9d324690702f4c5fd61624ab0516acbc9c",
        "block_index": 138,
        "block_hash": "363da8bf54ec6bd2e21c312451d2572a6a55f610a9200b984aebf79e24b7f4ba",
        "block_time": 1726773966,
        "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "16ae436eb65fa2cda9ae144b1cafcf9d324690702f4c5fd61624ab0516acbc9c:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72",
        "block_index": 185,
        "block_hash": "4079d9964616962b4485c46f0b95a71d419ff12d2ce66578ed3e1ce2381779a6",
        "block_time": 1726774160,
        "source": "bcrt1q55wn2gv6usv298trtwpwjxggsyjcedry433kqv",
        "destination": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
        "supported": true,
        "utxos_info": "c7c422243731c43f427a9ab49003326fa23d678aa709a05e8be75caf2b214e72:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032",
                "tx1_hash": "e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
                "order_match_id": "32f496e84b31c754c1fc2fa15fa6fdf17efad323e4e8f6991127f6a2b4010032_e96157e56011374afe3fac448daad8ca6de093877d33d4c9830de9f2557b586f",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031",
        "block_index": 190,
        "block_hash": "651e3b0cf4808037e35d34560665bfc4d692e40ccd883d2bbc7f46c761f7ee32",
        "block_time": 1726774182,
        "source": "bcrt1q2ed7648xpnnry4xg5l7yeg3mkz2j60a5784e6u",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46ea4b57755b31820d7baf02c49c33fa0aac716e21cc2ecdaaad137b3143da837e",
        "supported": true,
        "utxos_info": "0a44fe12cf05fd81919217a2f3b7fe5c16bd716b808db669d617d46c3e83c031:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "ea4b57755b31820d7baf02c49c33fa0aac716e21cc2ecdaaad137b3143da837e",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c",
        "block_index": 193,
        "block_hash": "66859845dc0b4c70aa3f316f8323a7e72f4a77a1db2e7feb4a641893a198f6fd",
        "block_time": 1726774194,
        "source": "bcrt1q8wlr5mwjx5wug5hs75lzukz8uwrh6y80vpuynd",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "6ba3d583a4a63150db7c7c3c44ccb2eac47cdafde496ee59c2a4e1e9588fab0c:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e",
        "block_index": 145,
        "block_hash": "148b96e6f2494b1f3955a8e2a4ee98633bcb37c92d38c7b0c00aafb200083d2c",
        "block_time": 1726773995,
        "source": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080da5d062545564f695405ef9ede0dbb3b5ce31f51",
        "supported": true,
        "utxos_info": "db4c1efb5a8a102c3c13e13a251d09f19de8b9c419c2c838d9c65f9516690c3e:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942",
        "block_index": 146,
        "block_hash": "36abd62a234e24d1f4132324ccd2ac7e58ea0ff5583091d815626c4ef168fe09",
        "block_time": 1726773999,
        "source": "bcrt1qn8r8ryhg8ucrj3lsdpfw0ehzk5krj8twdlhc3f",
        "destination": "bcrt1qmfwsvf292e8kj4q9a70durdm8dwwx8638z0guu",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "cfb3b97ca7c0a0f76a71e11a0c47f2a7c0982e24eb4dbccb3702aaecf663d942:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "2367d1a35384d513f7abcfbe8822c982a935ecc7a1e507b0c0d6f073a168e9a6",
        "block_index": 153,
        "block_hash": "152433c838e5b41e76817a93f3bf02b2b848bd3ce00d14e4a6e62c29a37e85b6",
        "block_time": 1726774028,
[...]
