[//]: # (Generated by genapidoc.py on 2025-01-31 17:09:58.639095. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                "block_index": 245,
                "block_time": 1738343379,
                "difficulty": 545259519,
                "previous_block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                "block_index": 245,
                "block_time": 1738343379,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "fee": 0,
                "source": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                "transaction_type": "dispense",
                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "tx_index": 121,
                "utxos_info": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1 c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "out_index": 0,
                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "tx_index": 121,
                "block_time": 1738343379,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                "transaction_count": 1,
                "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                "block_time": 1738343379
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "tx_index": 121
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                "utxo_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                "block_time": 1738343379,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738343379,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q2gn4tsvr7c7zas3kr376ll8wfpynpm94n42ztw",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "status": "valid",
                "tx_hash": "5353c36119e6786d2ff6185be1dfb528ceccd2b485b238fd6ce9f60d875e2c7d",
                "tx_index": 77,
                "block_time": 1738343207,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "5353c36119e6786d2ff6185be1dfb528ceccd2b485b238fd6ce9f60d875e2c7d",
            "block_index": 201,
            "block_time": 1738343207
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q2gn4tsvr7c7zas3kr376ll8wfpynpm94n42ztw",
                "status": "valid",
                "tx_hash": "4db0089fc5cf1fe0d67fa799f435f1b40c3f3fe65ab1450bca0ed6ec5dd3d5be",
                "tx_index": 81,
                "block_time": 1738343222,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "4db0089fc5cf1fe0d67fa799f435f1b40c3f3fe65ab1450bca0ed6ec5dd3d5be",
            "block_index": 205,
            "block_time": 1738343222
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q4gmnffp7288h5k29vdp8tgxrpjydxuu90vppfl",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q2ypl929jr6y487865030r5d0w3gha82dkta2np",
                "status": "valid",
                "tx_hash": "4ea344c937c807cae056dd4b9bc277615c7687f25d7f43e202d289b69a57b8d9",
                "tx_index": 65,
                "block_time": 1738343165,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "4ea344c937c807cae056dd4b9bc277615c7687f25d7f43e202d289b69a57b8d9",
            "block_index": 190,
            "block_time": 1738343165
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "status": "valid",
                "tx_hash": "1dd9f3b05eeb8261db05e72194ba6d6ae6665733515968f2d2dfd3b085375650",
                "tx_index": 42,
                "block_time": 1738343022,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "1dd9f3b05eeb8261db05e72194ba6d6ae6665733515968f2d2dfd3b085375650",
            "block_index": 146,
            "block_time": 1738343022
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "status": "valid",
                "transfer": false,
                "tx_hash": "e5623cd86e9912559e7cfaf896f038c3c50a36704ea681dee4abb4ff2d6fd1bb",
                "tx_index": 117,
                "block_time": 1738343359,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e5623cd86e9912559e7cfaf896f038c3c50a36704ea681dee4abb4ff2d6fd1bb",
            "block_index": 240,
            "block_time": 1738343359
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738343370
            },
            "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
            "block_index": 243,
            "block_time": 1738343370
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": "valid",
                "transfer": false,
                "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
                "tx_index": 120,
                "block_time": 1738343370,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
            "block_index": 243,
            "block_time": 1738343370
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "e5623cd86e9912559e7cfaf896f038c3c50a36704ea681dee4abb4ff2d6fd1bb",
                "tx_index": 117,
                "block_time": 1738343359,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "e5623cd86e9912559e7cfaf896f038c3c50a36704ea681dee4abb4ff2d6fd1bb",
            "block_index": 240,
            "block_time": 1738343359
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": "open",
                "tx_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
                "tx_index": 119,
                "block_time": 1738343366,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qds4w0a6xeukvfler60478tdu2yv3a8jlc75rwv",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
            "block_index": 242,
            "block_time": 1738343366
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "dd8dc93955bb062d18f11b61995a79d6cd1d5465e772b9eab5eab3418bbcb2ef_7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qds4w0a6xeukvfler60478tdu2yv3a8jlc75rwv",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "dd8dc93955bb062d18f11b61995a79d6cd1d5465e772b9eab5eab3418bbcb2ef",
                "tx0_index": 118,
                "tx1_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
                "tx1_index": 119,
                "block_time": 1738343366,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qds4w0a6xeukvfler60478tdu2yv3a8jlc75rwv",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
            "block_index": 242,
            "block_time": 1738343366
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "7a6ee1d8aa5c83e1c8b0e9408c7159c30283fb1bdea47f329de475238a7452cf",
            "block_index": 242,
            "block_time": 1738343366
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "648aa34947d015f161e51cbc9d77c8f6c4dc827430f78db7a4d37de0a2a07bfb"
            },
            "tx_hash": "190351c2918dba2f025114351296605b0ff0337b58ff5c304839db86ec0bbf89",
            "block_index": 182,
            "block_time": 1738343137
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4be250c0c38192ec8361592b0345f0f10f557539f6c40e823c98980f51ceb720_8f6243a05607fb81e642fcd3e24a3e55f3a896b36458645b59ebac44ce23ab98",
                "order_match_id": "4be250c0c38192ec8361592b0345f0f10f557539f6c40e823c98980f51ceb720_8f6243a05607fb81e642fcd3e24a3e55f3a896b36458645b59ebac44ce23ab98",
                "status": "expired"
            },
            "tx_hash": "d1dc607ac673d58e2cd37017c0b08ef8be31d3ccaf0f4e2934444c58c4b430ec",
            "block_index": 225,
            "block_time": 1738343293
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "order_match_id": "cf0c67cc73db10e4f49e3af36fe2d0b07c09fc6116b3d7bb9fabe3d5d96b2d3a_648aa34947d015f161e51cbc9d77c8f6c4dc827430f78db7a4d37de0a2a07bfb",
                "source": "bcrt1q2gn4tsvr7c7zas3kr376ll8wfpynpm94n42ztw",
                "status": "valid",
                "tx_hash": "190351c2918dba2f025114351296605b0ff0337b58ff5c304839db86ec0bbf89",
                "tx_index": 57,
                "block_time": 1738343137,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "190351c2918dba2f025114351296605b0ff0337b58ff5c304839db86ec0bbf89",
            "block_index": 182,
            "block_time": 1738343137
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "ba7b5deafc06ca38c544153b17359e77536d2256fbfcc5ad069df1fddb326e40",
                "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "status": "valid",
                "tx_hash": "c055a0e6ebefd687e2bbbd4784c9b80dc4a312388f9718e8a84ae72dde23bbd7",
                "tx_index": 63,
                "block_time": 1738343157
            },
            "tx_hash": "c055a0e6ebefd687e2bbbd4784c9b80dc4a312388f9718e8a84ae72dde23bbd7",
            "block_index": 188,
            "block_time": 1738343157
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "4be250c0c38192ec8361592b0345f0f10f557539f6c40e823c98980f51ceb720",
                "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "block_time": 1738343243
            },
            "tx_hash": "a1da2c297633dba12febb1ba7f0f5aa0f682e816870b89637b47c9e317bf1daf",
            "block_index": 211,
            "block_time": 1738343243
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "4be250c0c38192ec8361592b0345f0f10f557539f6c40e823c98980f51ceb720_8f6243a05607fb81e642fcd3e24a3e55f3a896b36458645b59ebac44ce23ab98",
                "tx0_address": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "tx1_address": "bcrt1q2ypl929jr6y487865030r5d0w3gha82dkta2np",
                "block_time": 1738343293
            },
            "tx_hash": "d1dc607ac673d58e2cd37017c0b08ef8be31d3ccaf0f4e2934444c58c4b430ec",
            "block_index": 225,
            "block_time": 1738343293
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qgupextfkmlyfwmspltjvgdk23437htnf65vnr2",
                "satoshirate": 1,
                "source": "bcrt1qgupextfkmlyfwmspltjvgdk23437htnf65vnr2",
                "status": 0,
                "tx_hash": "4f6d02b6cc81d261697b047a758aec35cca54bf7f07154fe1f37acc69b4395ac",
                "tx_index": 114,
                "block_time": 1738343346,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "4f6d02b6cc81d261697b047a758aec35cca54bf7f07154fe1f37acc69b4395ac",
            "block_index": 236,
            "block_time": 1738343346
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": 0,
                "tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mraxLWwJJFxs4ph1W1EzfbmNads8V8SStE",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "31ab7501bc13e04202de3b41948b0ce52174411d3ec79f7f3186be546af911d8",
                "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                "tx_hash": "6c94ffbf08a96568a3989fb6adff185a3df800ce79f5275b39b1684e1d097f78",
                "tx_index": 31,
                "block_time": 1738342984,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "6c94ffbf08a96568a3989fb6adff185a3df800ce79f5275b39b1684e1d097f78",
            "block_index": 135,
            "block_time": 1738342984
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "tx_index": 121,
                "block_time": 1738343379,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "74c4a739357d966dda5cb2f518f4103fc61489fb7022555d59efc2ec0c67b709",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738342963,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "74c4a739357d966dda5cb2f518f4103fc61489fb7022555d59efc2ec0c67b709",
            "block_index": 129,
            "block_time": 1738342963
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "start_block": 0,
                "status": "open",
                "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
                "tx_index": 120,
                "block_time": 1738343370,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
            "block_index": 243,
            "block_time": 1738343370
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "12c945b249b117d05a42777409bbeee718edc3efce02a6ec730fa2fe39d754a0"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738343303
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "909238a6d554f3a799caac1bd2097762bc9646dfcd21b0d1b9546b745179561f",
                "paid_quantity": 100000000,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": "valid",
                "tx_hash": "e526d2631164e1758989add01cfb8e52509c93c4b8a6faac896386a50c56921d",
                "tx_index": 97,
                "block_time": 1738343280,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "e526d2631164e1758989add01cfb8e52509c93c4b8a6faac896386a50c56921d",
            "block_index": 221,
            "block_time": 1738343280
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "5387648f85347f6afc04c9bc910d9d788118c322fab46fdf07db6075cd09afca:0",
                "destination_address": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "status": "valid",
                "tx_hash": "5387648f85347f6afc04c9bc910d9d788118c322fab46fdf07db6075cd09afca",
                "tx_index": 112,
                "block_time": 1738343340,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5387648f85347f6afc04c9bc910d9d788118c322fab46fdf07db6075cd09afca",
            "block_index": 235,
            "block_time": 1738343340
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "2044bbfd4d100f1856ad529074895dc6f069b47975cb60bc3580205e6cea3136:0",
                "source_address": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                "status": "valid",
                "tx_hash": "387572bc103bd0f17d6aa179372477b6305682d24591af052e5934ade0218ee1",
                "tx_index": 111,
                "block_time": 1738343337,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "387572bc103bd0f17d6aa179372477b6305682d24591af052e5934ade0218ee1",
            "block_index": 234,
            "block_time": 1738343337
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                "destination_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                "source_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                "status": "valid",
                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                "tx_index": 121,
                "block_time": 1738343379,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
            "block_index": 245,
            "block_time": 1738343379
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                "status": "valid",
                "tx_hash": "c79a666dcbea7f5fda0f3a8e9956aa50a954898714cefb707ec53742290478f3",
                "tx_index": 9,
                "block_time": 1738342903,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "c79a666dcbea7f5fda0f3a8e9956aa50a954898714cefb707ec53742290478f3",
            "block_index": 112,
            "block_time": 1738342903
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                    "block_time": 1738343379,
                    "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                    "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                    "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                    "previous_block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d",
                    "block_time": 1738343374,
                    "ledger_hash": "f504ffb728025bebae4c80a566c21ba2d3da9904c0053ec6a8dd4f9b9ff3233c",
                    "txlist_hash": "67cb308e2e99e4560180f1367a1f608bfa4132ed51b2f6e647ef398fc99fdccc",
                    "messages_hash": "fe61e54f586c41f68b3d651373d67419334e3b8c316c423dbd966ac09fefb68f",
                    "previous_block_hash": "72c8c43cbdab0080298617a727abc62c74491b24f079e559c916c12320d738ec",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "72c8c43cbdab0080298617a727abc62c74491b24f079e559c916c12320d738ec",
                    "block_time": 1738343370,
                    "ledger_hash": "ebce4658b25bcf1b38f81e38aba86bc8f23ea4e0cf4d96e7841a75f66492d9d7",
                    "txlist_hash": "9b7f635ab8da823173db003a0d138f6164b75c0e14c45c08f9ac365b4c0da39a",
                    "messages_hash": "e50644496a211b4258a3139a653a9e9b255eb59f4f60354c0934e21b1141b30b",
                    "previous_block_hash": "376741b9f3c6a094dc29577ab117f8aec152067f210fa324060b3190c6211b30",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "376741b9f3c6a094dc29577ab117f8aec152067f210fa324060b3190c6211b30",
                    "block_time": 1738343366,
                    "ledger_hash": "742e01369e639361b919b482c74fe1a8a55ee0b3ed32a0b3c4e1cd6cd3452a58",
                    "txlist_hash": "9671749482ac826ebff02dd152d54a26b8e00bea2aca290fbf3eed8fc767349f",
                    "messages_hash": "c8c1cdd7d3a2a00410efc01fdd916092c5c5aa90220f7c4b673d0752e52b7b7c",
                    "previous_block_hash": "168e68a9544202142ba043dd58602f4ec40fc17a94367621b0f629727cb1bfd8",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "168e68a9544202142ba043dd58602f4ec40fc17a94367621b0f629727cb1bfd8",
                    "block_time": 1738343363,
                    "ledger_hash": "771d94bc2225735a46f679cfcd2b60e33129e1d2911ee6e28cfe12b05aa927fd",
                    "txlist_hash": "39aa875bb9408baa2daa42a1c336b7d86d43cd542fd281ff6e142beedd7ec304",
                    "messages_hash": "c283cf97567015e93c1b93799ffe1f9098585cc5a0b4fd92eb21ed45f4fd690b",
                    "previous_block_hash": "37eebe263274694915955d2f0334364843126381ff1169b16dd6d61b74ce6ea9",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                "block_time": 1738343379,
                "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                "previous_block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                "block_time": 1738343379,
                "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                "previous_block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                "block_time": 1738343379,
                "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                "previous_block_hash": "201ff14909b92deb2c9448ec3fe92b17e90b5a8b58db20934446b2c27b087a2d",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "block_index": 245,
                    "block_hash": "3e5a14796d8ee6d6c859689215ea62e3ea182a892381fd774ec30b596234e945",
                    "block_time": 1738343379,
                    "source": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "destination": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1 c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                                "destination_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                                "source_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                                "status": "valid",
                                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                                "tx_index": 121,
                                "block_time": 1738343379,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                            "block_index": 245,
                            "block_time": 1738343379
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                                "destination_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                                "source_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                                "status": "valid",
                                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                                "tx_index": 121,
                                "block_time": 1738343379,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                            "block_index": 245,
                            "block_time": 1738343379
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                                "status": 0,
                                "tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                            "block_index": 245,
                            "block_time": 1738343379
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                                "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                                "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                                "tx_index": 121,
                                "block_time": 1738343379,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                            "block_index": 245,
                            "block_time": 1738343379
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "9b0e93d892e48e46e94120f6e332dd84b5b22820c7b200ff772d8c08953e1097",
                        "messages_hash": "8b12eb40b67c672dbc00d5fd6cdbe001e919f0d1559b776795d9ec15dc34d0cc",
                        "transaction_count": 1,
                        "txlist_hash": "f8edc58e8525dcb62e27b1d3262d2404aee07ca210f2ce74124ce81670fc1db9",
                        "block_time": 1738343379
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "tx_index": 121
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                        "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "tx_index": 121,
                        "block_time": 1738343379,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "status": 0,
                        "tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738343379,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738343379,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                        "utxo_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "block_time": 1738343379,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                        "utxo_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "block_time": 1738343379,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "tx_index": 121,
                    "utxo": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                    "utxo_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "tx_index": 121,
                    "utxo": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                    "utxo_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "tx_index": 121,
                    "utxo": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                    "utxo_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "tx_index": 121,
                    "utxo": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                    "utxo_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "4be250c0c38192ec8361592b0345f0f10f557539f6c40e823c98980f51ceb720",
                    "block_index": 211,
                    "block_time": 1738343243
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "c055a0e6ebefd687e2bbbd4784c9b80dc4a312388f9718e8a84ae72dde23bbd7",
                    "block_index": 188,
                    "source": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                    "offer_hash": "ba7b5deafc06ca38c544153b17359e77536d2256fbfcc5ad069df1fddb326e40",
                    "status": "valid",
                    "block_time": 1738343157
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "e5623cd86e9912559e7cfaf896f038c3c50a36704ea681dee4abb4ff2d6fd1bb",
                    "block_index": 240,
                    "source": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738343359,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qsnfs043744uzzu0fp02dc57knu7cd2c4h5djd4",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "88825b932624976288d6425b22cf6a93bc1bfd06d6560b881b4033c6d19acf58",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "issuer": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738343370,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "block_index": 245,
                    "source": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                    "destination": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "destination_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "block_index": 245,
                    "source": "91aa253c06f249b89fdf16746b0da147377bba9b886803f388ed07d7d3384a28:1",
                    "destination": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "destination_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q072rvv2mu0hm3x6dk9gakhjn7s8avn7jswsp53",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "c58358680ca5a4b685dd4efe66c4b13086133f19c95526686bc6b33fe6725e03",
                    "block_index": 245,
                    "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                    "destination": "bcrt1qja3f3pstjrek32qmvsnqu5utfd0eg4zawtna87",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "b0d042be8d16155edef88d9b89a2313aff48f4f35e4bc9d445e09a2966009b3f",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q6djh0a7wld9cheghyvn23pttqeuty6z2n7pz0c",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738343379,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
