[//]: # (Generated by genapidoc.py on 2024-09-19 09:13:08.405600. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                "block_index": 193,
                "block_time": 1726737169,
                "difficulty": 545259519,
                "previous_block_hash": "14b942fb8b1cbd3d3d0c13b5c713365f2ef2c45ae0867e4ea90971906befdbcf"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                "block_index": 193,
                "block_time": 1726737169,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                "tx_index": 59,
                "utxos_info": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "out_index": 0,
                "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
                "tx_index": 33,
                "block_time": 1726736947,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
            "block_index": 146,
            "block_time": 1726736947
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "38a219843f778b99ab99063d662703dfc8f09558aafdf330d1c4183479ccaa27",
                "messages_hash": "fbc2cf41c663bcc09295409180f1153d0a4de8189f41353dd15754e92d81d205",
                "transaction_count": 1,
                "txlist_hash": "2b150d9f5b292ab77547d2791051bb0486ba528e30944151d214d1258a13702a",
                "block_time": 1726737169
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                "tx_index": 59
            },
            "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "asset": "XCP",
                "block_index": 193,
                "event": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726737169,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726737165,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
            "block_index": 192,
            "block_time": 1726737165
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                "status": "valid",
                "tx_hash": "c046de9acb73488be0f7fc074e87cc25f544fb9653be192b846d2d8c4638877a",
                "tx_index": 53,
                "block_time": 1726737134,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "c046de9acb73488be0f7fc074e87cc25f544fb9653be192b846d2d8c4638877a",
            "block_index": 187,
            "block_time": 1726737134
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "valid",
                "tx_hash": "cb979ff44401d98c768d8b9f500c7231c078998af64de19d9c89df57cb84a86e",
                "tx_index": 54,
                "block_time": 1726737138,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "cb979ff44401d98c768d8b9f500c7231c078998af64de19d9c89df57cb84a86e",
            "block_index": 188,
            "block_time": 1726737138
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                "status": "valid",
                "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                "tx_index": 58,
                "block_time": 1726737165,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
            "block_index": 192,
            "block_time": 1726737165
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "valid",
                "tx_hash": "b6068e1997e0c8e90f021bc48ce59e2e06341261e9e4daefeedc58a5b8827b61",
                "tx_index": 40,
                "block_time": 1726736978,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "b6068e1997e0c8e90f021bc48ce59e2e06341261e9e4daefeedc58a5b8827b61",
            "block_index": 153,
            "block_time": 1726736978
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726737024
            },
            "tx_hash": "d3dab755a6ead5e79fdb8407788d22ba75d63bceb87dbc6ab0c6b564b7d61f4c",
            "block_index": 159,
            "block_time": 1726737024
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "valid",
                "transfer": false,
                "tx_hash": "d3dab755a6ead5e79fdb8407788d22ba75d63bceb87dbc6ab0c6b564b7d61f4c",
                "tx_index": 46,
                "block_time": 1726737024,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "d3dab755a6ead5e79fdb8407788d22ba75d63bceb87dbc6ab0c6b564b7d61f4c",
            "block_index": 159,
            "block_time": 1726737024
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                "tx_index": 59,
                "block_time": 1726737169,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
            "block_index": 193,
            "block_time": 1726737169
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "open",
                "tx_hash": "08505bd85ec47ced67cdaa4009f19a3cbb72e393f53b56bbbe96e515a64ab625",
                "tx_index": 57,
                "block_time": 1726737160,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "08505bd85ec47ced67cdaa4009f19a3cbb72e393f53b56bbbe96e515a64ab625",
            "block_index": 191,
            "block_time": 1726737160
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60_80568ce9fb7abca5e6daf7c3eba61ac375a2a675295f1ae81812cee15fcfd543",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60",
                "tx0_index": 49,
                "tx1_address": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "80568ce9fb7abca5e6daf7c3eba61ac375a2a675295f1ae81812cee15fcfd543",
                "tx1_index": 52,
                "block_time": 1726737130,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "80568ce9fb7abca5e6daf7c3eba61ac375a2a675295f1ae81812cee15fcfd543",
            "block_index": 186,
            "block_time": 1726737130
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "0dc852d5475b8d650a07f7a79fdd8a55a4c3957bdf9c3892917584d81b98b861"
            },
            "tx_hash": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe",
            "block_index": 190,
            "block_time": 1726737147
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a"
            },
            "tx_hash": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4",
            "block_index": 185,
            "block_time": 1726737126
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60_396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
                "order_match_id": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60_396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
                "status": "completed"
            },
            "tx_hash": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4",
            "block_index": 185,
            "block_time": 1726737126
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "order_match_id": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60_396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
                "source": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                "status": "valid",
                "tx_hash": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4",
                "tx_index": 51,
                "block_time": 1726737126,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4",
            "block_index": 185,
            "block_time": 1726737126
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "0dc852d5475b8d650a07f7a79fdd8a55a4c3957bdf9c3892917584d81b98b861",
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "valid",
                "tx_hash": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe",
                "tx_index": 56,
                "block_time": 1726737147
            },
            "tx_hash": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe",
            "block_index": 190,
            "block_time": 1726737147
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "cf3a02494633ddd19f86daab82ed7f91da20392c528897eb2e224e32448fde18",
                "source": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                "block_time": 1726737039
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726737039
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "66f414987780e993c8508634ba4ecc9c721af1a8ca10d5b425492491383d2805_cf3a02494633ddd19f86daab82ed7f91da20392c528897eb2e224e32448fde18",
                "tx0_address": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "tx1_address": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                "block_time": 1726737039
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726737039
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "origin": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "satoshirate": 1,
                "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "status": 0,
                "tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
                "tx_index": 32,
                "block_time": 1726736943,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
            "block_index": 145,
            "block_time": 1726736943
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "status": 0,
                "tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
            "block_index": 146,
            "block_time": 1726736947
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mm9iEM6Zd8MsTTeQYBytE5NgVcLxeewVdf",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "4c419419d3279ab2b646149dd3826b99c8d0ed6761ceb30ecf1b71c3cca6e3c6",
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "tx_hash": "3509b22642f2e8b091100d07ba3ece1aeaa96297a8eeade7e78a68f83c8cbc96",
                "tx_index": 31,
                "block_time": 1726736939,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "3509b22642f2e8b091100d07ba3ece1aeaa96297a8eeade7e78a68f83c8cbc96",
            "block_index": 144,
            "block_time": 1726736939
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qjreqx4jspnkwm89gh6wn4r3h8wnspjg7mlr8sa",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
                "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
                "tx_index": 33,
                "block_time": 1726736947,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
            "block_index": 146,
            "block_time": 1726736947
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "05facf9306977cdf6068e481a0ee4deb1444f208bd02ca03f356df26a3d6477d",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726736913,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "05facf9306977cdf6068e481a0ee4deb1444f208bd02ca03f356df26a3d6477d",
            "block_index": 138,
            "block_time": 1726736913
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "start_block": 0,
                "status": "open",
                "tx_hash": "bdc1b8bbc13a2274b49c9a2864b13105c0ffe748a2dec526616c541110429573",
                "tx_index": 22,
                "block_time": 1726736900
            },
            "tx_hash": "bdc1b8bbc13a2274b49c9a2864b13105c0ffe748a2dec526616c541110429573",
            "block_index": 135,
            "block_time": 1726736900
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "c4de72bddcecc2b88f8e0746e02446a566b0fca27fe3e4b9bd4c20e550f9089a"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726736879
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "bdc1b8bbc13a2274b49c9a2864b13105c0ffe748a2dec526616c541110429573",
                "paid_quantity": 34,
                "source": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                "status": "valid",
                "tx_hash": "661c344111ceedee5cbe79a2043e49979922a9af9ced08540254cf13090082ac",
                "tx_index": 23,
                "block_time": 1726736905,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "661c344111ceedee5cbe79a2043e49979922a9af9ced08540254cf13090082ac",
            "block_index": 136,
            "block_time": 1726736905
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "5e9ad7cb5f60763546e17907916ea9154afc582d52367b3df049e063825fd5c9:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                "status": "valid",
                "tx_hash": "5e9ad7cb5f60763546e17907916ea9154afc582d52367b3df049e063825fd5c9",
                "tx_index": 38,
                "block_time": 1726736969,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5e9ad7cb5f60763546e17907916ea9154afc582d52367b3df049e063825fd5c9",
            "block_index": 151,
            "block_time": 1726736969
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qg7cyalxfu25jn9rpy5nk02cs59twhxzpkylg7m",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "35f402483a54a03e637b77b2ff618642d6e435f34c3c89219374add7f500dc22:0",
                "status": "valid",
                "tx_hash": "0c30ebe84e9981d88766592125043c857961de991168503a78e10fa95416df3b",
                "tx_index": 37,
                "block_time": 1726736965,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0c30ebe84e9981d88766592125043c857961de991168503a78e10fa95416df3b",
            "block_index": 150,
            "block_time": 1726736965
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "e7b4a35620738d0e8bab641fbe92b227bac2e39fcd47b97a21a159d87240c147:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "486028388ff1dddaab50ec57189a486463dcfd155f3499385bea0b00f7b08bd5:0",
                "status": "valid",
                "tx_hash": "e7b4a35620738d0e8bab641fbe92b227bac2e39fcd47b97a21a159d87240c147",
                "tx_index": 42,
                "block_time": 1726736988,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "e7b4a35620738d0e8bab641fbe92b227bac2e39fcd47b97a21a159d87240c147",
            "block_index": 155,
            "block_time": 1726736988
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qvf529w4jc36v4txgxtthdzc2jvgzn0qpkdd8tw",
                "status": "valid",
                "tx_hash": "accb843c4f0dc47c8feaca2ac467eb476f25798fa16c2133aa4f15da2e62a5e5",
                "tx_index": 9,
                "block_time": 1726736841,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "accb843c4f0dc47c8feaca2ac467eb476f25798fa16c2133aa4f15da2e62a5e5",
            "block_index": 121,
            "block_time": 1726736841
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                    "block_time": 1726737169,
                    "previous_block_hash": "14b942fb8b1cbd3d3d0c13b5c713365f2ef2c45ae0867e4ea90971906befdbcf",
                    "difficulty": 545259519,
                    "ledger_hash": "38a219843f778b99ab99063d662703dfc8f09558aafdf330d1c4183479ccaa27",
                    "txlist_hash": "2b150d9f5b292ab77547d2791051bb0486ba528e30944151d214d1258a13702a",
                    "messages_hash": "fbc2cf41c663bcc09295409180f1153d0a4de8189f41353dd15754e92d81d205",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "14b942fb8b1cbd3d3d0c13b5c713365f2ef2c45ae0867e4ea90971906befdbcf",
                    "block_time": 1726737165,
                    "previous_block_hash": "0302537c51db185647346cc3f81c1665bc6f92a82ce62ccfdaebf9756185232b",
                    "difficulty": 545259519,
                    "ledger_hash": "113b4ac64bf9ac160f8e8708650a5d11015244d91fd17d01b3de1fe04be70c78",
                    "txlist_hash": "558fec084db1e752436b64f7b0a16b3d23bf95d65f565c7bde658319eeb33077",
                    "messages_hash": "e5e85dcca0aa0aa18c5bd712553a8598a4d416411dc2dacbd84c40a2c8d16364",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "0302537c51db185647346cc3f81c1665bc6f92a82ce62ccfdaebf9756185232b",
                    "block_time": 1726737160,
                    "previous_block_hash": "183beca9c1ae5f954cb62ccbcb7ab1d73a8c48927fe3ba9543532d5b9ce910a3",
                    "difficulty": 545259519,
                    "ledger_hash": "e81ac0e53866984f932b80f2481beac540f6cc62a16e792fd5056b013d9fc368",
                    "txlist_hash": "d429caa4bda24381dc9fd8efe17f587c45fe10a0f370ab48e62444a53da33cba",
                    "messages_hash": "a0f05767e14a8d26fd1451e64665fe70bcc522860d08bc04b455175e7199d414",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "183beca9c1ae5f954cb62ccbcb7ab1d73a8c48927fe3ba9543532d5b9ce910a3",
                    "block_time": 1726737147,
                    "previous_block_hash": "0ce6237c027d6772c41adb9614ce3b0d9186a8717abe802fc140e2388d92a79c",
                    "difficulty": 545259519,
                    "ledger_hash": "f2adce4e7e612e6ae389add9f0a919d791cfb4cbea7689f82caafa294c330b13",
                    "txlist_hash": "95250702feb0be119b1a92970c680ea45a022baeec5f15f5c2b7456912db0ce1",
                    "messages_hash": "b0206ae41b307f14e98b1207f8d922b3a15d8eda41c476236a094f7c3c175aae",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "0ce6237c027d6772c41adb9614ce3b0d9186a8717abe802fc140e2388d92a79c",
                    "block_time": 1726737143,
                    "previous_block_hash": "20fc4d1702a5f56963ec395c69b45622b30c4a6f58fa15a26a7d15d06d9cc299",
                    "difficulty": 545259519,
                    "ledger_hash": "36d4783cd8aea1ea7b029dd8d1eea5f46adea1ef5d654fa2dea650c59e90332e",
                    "txlist_hash": "939204c57db25fa23f6522046856c4e3e84de481fe58083f6f111f10a769a049",
                    "messages_hash": "e57ab6f69b0cff918442af68a2ed4fdcfef1108674370c8291235532833c2d84",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                "block_time": 1726737169,
                "previous_block_hash": "14b942fb8b1cbd3d3d0c13b5c713365f2ef2c45ae0867e4ea90971906befdbcf",
                "difficulty": 545259519,
                "ledger_hash": "38a219843f778b99ab99063d662703dfc8f09558aafdf330d1c4183479ccaa27",
                "txlist_hash": "2b150d9f5b292ab77547d2791051bb0486ba528e30944151d214d1258a13702a",
                "messages_hash": "fbc2cf41c663bcc09295409180f1153d0a4de8189f41353dd15754e92d81d205",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                "block_time": 1726737169,
                "previous_block_hash": "14b942fb8b1cbd3d3d0c13b5c713365f2ef2c45ae0867e4ea90971906befdbcf",
                "difficulty": 545259519,
                "ledger_hash": "38a219843f778b99ab99063d662703dfc8f09558aafdf330d1c4183479ccaa27",
                "txlist_hash": "2b150d9f5b292ab77547d2791051bb0486ba528e30944151d214d1258a13702a",
                "messages_hash": "fbc2cf41c663bcc09295409180f1153d0a4de8189f41353dd15754e92d81d205",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                    "block_index": 193,
                    "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
                    "block_time": 1726737169,
                    "source": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "113b4ac64bf9ac160f8e8708650a5d11015244d91fd17d01b3de1fe04be70c78",
                        "messages_hash": "e5e85dcca0aa0aa18c5bd712553a8598a4d416411dc2dacbd84c40a2c8d16364",
                        "transaction_count": 1,
                        "txlist_hash": "558fec084db1e752436b64f7b0a16b3d23bf95d65f565c7bde658319eeb33077",
                        "block_time": 1726737165
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "tx_index": 58
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                        "status": "valid",
                        "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "tx_index": 58,
                        "block_time": 1726737165,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726737165,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726737165,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726737165,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726737165,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726737165,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726737165,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726737165,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726737165,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726737169,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "cf3a02494633ddd19f86daab82ed7f91da20392c528897eb2e224e32448fde18",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726737039
                },
                {
                    "type": "order",
                    "object_id": "66f414987780e993c8508634ba4ecc9c721af1a8ca10d5b425492491383d2805",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726737039
                },
                {
                    "type": "order_match",
                    "object_id": "66f414987780e993c8508634ba4ecc9c721af1a8ca10d5b425492491383d2805_cf3a02494633ddd19f86daab82ed7f91da20392c528897eb2e224e32448fde18",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726737039
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe",
                    "block_index": 190,
                    "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "offer_hash": "0dc852d5475b8d650a07f7a79fdd8a55a4c3957bdf9c3892917584d81b98b861",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726737147
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
                    "block_index": 193,
                    "source": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726737169,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "d3dab755a6ead5e79fdb8407788d22ba75d63bceb87dbc6ab0c6b564b7d61f4c",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726737024,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "cb979ff44401d98c768d8b9f500c7231c078998af64de19d9c89df57cb84a86e",
                    "block_index": 188,
                    "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "destination": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726737138,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "cb979ff44401d98c768d8b9f500c7231c078998af64de19d9c89df57cb84a86e",
                    "block_index": 188,
                    "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "destination": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726737138,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "cb979ff44401d98c768d8b9f500c7231c078998af64de19d9c89df57cb84a86e",
                    "block_index": 188,
                    "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                    "destination": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726737138,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
                    "block_index": 146,
                    "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                    "destination": "bcrt1qjreqx4jspnkwm89gh6wn4r3h8wnspjg7mlr8sa",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726736947,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "d501edaa19996bf27c5c93dfb377c15dcd6a04cf4d6875a45051b419f3092ea9",
                    "block_index": 192,
                    "source": "bcrt1q8ce8j8ftsy5ejudevs3em24qpxdfg4cg5l2ctw",
                    "destination": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726737165,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "05facf9306977cdf6068e481a0ee4deb1444f208bd02ca03f356df26a3d6477d",
        "block_index": 138,
        "block_hash": "7e45acb73fcefa7403009355078611bc9181758c2aba38ea6c5674b00813e95a",
        "block_time": 1726736913,
        "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "05facf9306977cdf6068e481a0ee4deb1444f208bd02ca03f356df26a3d6477d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4",
        "block_index": 185,
        "block_hash": "4cf4464c33d15629e0bd0b037dd008ce660191a9b79778db1087bc9214247f38",
        "block_time": 1726737126,
        "source": "bcrt1q5eg9pfnm7v3w6nztr0cx0xx5km80a20ncx8wz9",
        "destination": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
        "supported": true,
        "utxos_info": "405287d41bd760217fff8e47c26c0df4d0fe49993e637ca783839d246d5cbdb4:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60",
                "tx1_hash": "396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
                "order_match_id": "5aa015c1bb1a90effdbf7479223ab9e41275fba1396f00091698eba541718e60_396078a9040cd81a5991cc78762d50d20cad7b7baaaf6e6f60f221bed385237a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe",
        "block_index": 190,
        "block_hash": "183beca9c1ae5f954cb62ccbcb7ab1d73a8c48927fe3ba9543532d5b9ce910a3",
        "block_time": 1726737147,
        "source": "bcrt1q0ncfkq906xqu0e9rdx85r2nnc58qlezw8u6n2c",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "460dc852d5475b8d650a07f7a79fdd8a55a4c3957bdf9c3892917584d81b98b861",
        "supported": true,
        "utxos_info": "c1c162ad8808c66e6c0ef9e854890163646dac1da198068207331f29422541fe:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "0dc852d5475b8d650a07f7a79fdd8a55a4c3957bdf9c3892917584d81b98b861",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24",
        "block_index": 193,
        "block_hash": "404435c7de853c59ac9380b190cc75932f01dad0e8cf492ce62a8c00ba838bf0",
        "block_time": 1726737169,
        "source": "bcrt1qaqt02432pm5u4dsp29emhhkjaaa43jja7q2kzs",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "71cb0ee84933c646777d7419ccbffd224b24fce2d84c2847c915860707973c24:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192",
        "block_index": 145,
        "block_hash": "5a1fddd926c162cbb2e49d165e7606e6a605f1983946530be746dd7a170c6a19",
        "block_time": 1726736943,
        "source": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080bf447925768a63c1bdf7d15051c4f4704b2ca54b",
        "supported": true,
        "utxos_info": "a73f6edfe48b50cf5da394d45a04e803254930582eb30dad37e0ccfefe4be192:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2",
        "block_index": 146,
        "block_hash": "5aae8081748439fb42fccc2fdec0c9c2f714f056b807c7196d8f3bc6fc268d57",
        "block_time": 1726736947,
        "source": "bcrt1qjreqx4jspnkwm89gh6wn4r3h8wnspjg7mlr8sa",
        "destination": "bcrt1qhaz8jftk3f3ur00h69g9r385wp9jef2te74y08",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "7f5a003dd771d7825bd0e6592a2b19eae4c722e305878287c886a79f992677b2:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "b6068e1997e0c8e90f021bc48ce59e2e06341261e9e4daefeedc58a5b8827b61",
        "block_index": 153,
        "block_hash": "006b8118bd7d7af418ab681b8d3b0439c7326e7eece9aa487598d029ff8848e0",
        "block_time": 1726736978,
[...]
