FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended (and only supported) way to query the state of a Counterparty node. 

Please see [Apiary](https://counterpartycore.docs.apiary.io/) for interactive documentation.

API routes are divided into 11 groups:

- [`/blocks`](#/reference/blocks)
- [`/transactions`](#/reference/transactions)
- [`/addresses`](#/reference/addresses)
- [`/compose`](#/reference/compose)
- [`/assets`](#/reference/assets)
- [`/orders`](#/reference/orders)
- [`/bets`](#/reference/bets)
- [`/dispensers`](#/reference/dispensers)
- [`/burns`](#/reference/burns)
- [`/events`](#/reference/events)
- [`/mempool`](#/reference/mempool)
- [`/bitcoin`](#/reference/bitcoin)
- [`/v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the blocks are not yet parsed, all routes return a 503 error except `/` and those in the `/blocks`, `/transactions` and `/backend` groups which always return a result.

All API responses contain the following 3 headers:

    * `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
    * `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
    * `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

- All API responses follow the following format:

    ```
    {
        "error": <error_messsage_if_success_is_false>,
        "result": <result_of_the_query_if_success_is_true>
    }
    ```

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is being able to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 17526130,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "00000000000000000001a3d22c71ff68eb3e38e40f4dbb68165b06a4294951e6",
                "block_index": 843858,
                "block_time": 1715948839,
                "difficulty": 386097818,
                "previous_block_hash": "00000000000000000002bf12bc59d204a5ff0df85b7b7ced9bd476ee1a2e726e"
            },
            "tx_hash": null,
            "block_index": 843858,
            "timestamp": 1715948880
        }
    ]
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 17526117,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "00000000000000000002bf12bc59d204a5ff0df85b7b7ced9bd476ee1a2e726e",
                "block_index": 843857,
                "block_time": 1715948790,
                "btc_amount": 0,
                "data": "46b563220d970cc3d1ba8038f0d229a55711f5a95459a513022914bf7f581cb39a",
                "destination": "",
                "fee": 3072,
                "source": "bc1qpla28vwvlh3wg9gxt8gj7zzr0kuzuvp5dq9grc",
                "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
                "tx_index": 2732100
            },
            "tx_hash": null,
            "block_index": 843857,
            "timestamp": 1715948805
        }
    ]
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 17526058,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 843856,
                "btc_amount": 82201,
                "destination": "1BSMzXEmsKLRNCxWnDD1NU69R4332yBZib",
                "out_index": 0,
                "tx_hash": "d6d9d8529d17f7567445f4a635cdb3b357d08e5f0f4122b28596498afff5c06f",
                "tx_index": 2732097
            },
            "tx_hash": null,
            "block_index": 843856,
            "timestamp": 1715947888
        }
    ]
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 17526131,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 843858,
                "ledger_hash": "23efa3807fac187d746d4cace232aed6527d51e44b25a965e7b8f17e745c5fb1",
                "messages_hash": "447eb3d67b4990eeec0aacc61ef89dafb29f4bb5f764f6fe979bb093f1151017",
                "txlist_hash": "b09a00f5c380c0feaf9d8aeae4dca98760199114bdbf47c4f0949998d49cb429"
            },
            "tx_hash": null,
            "block_index": 843858,
            "timestamp": 1715948881
        }
    ]
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 17526128,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
                "tx_index": 2732100
            },
            "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 17526118,
            "event": "DEBIT",
            "params": {
                "action": "open order",
                "address": "1NfJnJdAdmm2rJCFW54NsAKqqTTMexCNJ3",
                "asset": "XCP",
                "block_index": 843857,
                "event": "dabee4dddec8048ff9e2422b0563c5a706991798f7c674fa6f2099b5ebc5a1ad",
                "quantity": 1000000000,
                "tx_index": 2732098,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "quantity_normalized": "10"
            },
            "tx_hash": "dabee4dddec8048ff9e2422b0563c5a706991798f7c674fa6f2099b5ebc5a1ad",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 17526126,
            "event": "CREDIT",
            "params": {
                "address": "bc1qpla28vwvlh3wg9gxt8gj7zzr0kuzuvp5dq9grc",
                "asset": "MUNETOPEPE",
                "block_index": 843857,
                "calling_function": "cancel order",
                "event": "b563220d970cc3d1ba8038f0d229a55711f5a95459a513022914bf7f581cb39a",
                "quantity": 1,
                "tx_index": 2732100,
                "asset_info": {
                    "asset_longname": null,
                    "description": "res.indiesquare.me/json/MUNETOPEPE.json",
                    "issuer": "1HxpuXAdaWbGr81bRXE5GKKw3aPZxoxzBg",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 17526063,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "DOGECOINCARD",
                "block_index": 843856,
                "destination": "17yFMXyx8DHz8NqJjFiRmViSsEKWHUFkcm",
                "memo": null,
                "quantity": 50,
                "source": "1NSBhF1RnWxhaEyYensi2Hye6rCipMdELg",
                "status": "valid",
                "tx_hash": "f581acc7c8e59fa54b89fb89cb4b5b5167aa1a28d6d42952299f7996f41430d8",
                "tx_index": 2732083,
                "asset_info": {
                    "asset_longname": null,
                    "description": "SOG card",
                    "issuer": "1EewCNrN1oypSYZE81HBiqrjuhkLcz1qXR",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "50"
            },
            "tx_hash": "f581acc7c8e59fa54b89fb89cb4b5b5167aa1a28d6d42952299f7996f41430d8",
            "block_index": 843856,
            "timestamp": 1715947889
        }
    ]
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 17525598,
            "event": "MPMA_SEND",
            "params": {
                "asset": "RAREORIGINS",
                "block_index": 843847,
                "destination": "1A36UrLHxeg9ABoS4zPsRUegyCWTWER2kF",
                "memo": "",
                "msg_index": 16,
                "quantity": 1,
                "source": "159ASxthSZaS3ob7AQkpdcKtB1fXEKfix1",
                "status": "valid",
                "tx_hash": "a5a14aa3bd5263cbf4edde89844c6a7a3344eaa1a8cb67e2a5cac63407415221",
                "tx_index": 2732024,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/aiflnv/RAREO.json",
                    "issuer": "1MahKbQ4v2mTEdrEGEjX3yGCWyRGXPZ2k4",
                    "divisible": 0,
                    "locked": 0
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "a5a14aa3bd5263cbf4edde89844c6a7a3344eaa1a8cb67e2a5cac63407415221",
            "block_index": 843847,
            "timestamp": 1715941951
        }
    ]
}
```

#### `SEND`

```
{
    "result": [
        {
            "event_index": 17511788,
            "event": "SEND",
            "params": {
                "asset": "CONSPIRATARD",
                "block_index": 843044,
                "destination": "1BNbjw2wQLbpPCi5gPEzXCcs7mR64uggkv",
                "quantity": 1,
                "source": "1Q8xYzcqyr5yPuVahbcnLV2264Lwu1Faen",
                "status": "valid",
                "tx_hash": "48e5dd99d1566d47412d4ebfea087adfa8dac3edb4841188a57557f89cd48c0f",
                "tx_index": 2730005,
                "asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/CONSPIRATARD.json",
                    "issuer": "1JDogZS6tQcSxwfxhv6XKKjcyicYA4Feev",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "48e5dd99d1566d47412d4ebfea087adfa8dac3edb4841188a57557f89cd48c0f",
            "block_index": 843044,
            "timestamp": 1715690790
        }
    ]
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [
        {
            "event_index": 17519768,
            "event": "ASSET_TRANSFER",
            "params": {
                "asset": "A9826143785906924000",
                "asset_longname": null,
                "block_index": 843554,
                "call_date": 0,
                "call_price": 0.0,
                "callable": 0,
                "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVR42mNgGITgPxTT1PD/tDb8P60N/09rw6lmyf/bGxvgGGYwGp9yw5+fXoliKBZLybcA2XBsmGILCOGhYcGyPB0wRjYYJkauBRiuvDQ3AasYVSygRRD9p0sczKyJxGUg9SzAZgkMg+SoYgE+TFULbp3d/V9DmhNMU8UCWDDQzAfIYU1tw3EW1dSsD6iW3mlqAQDPvsolwlliWwAAAABJRU5ErkJggg==",
                "divisible": 0,
                "fee_paid": 0,
                "issuer": "1GRiXRTe9hwGdHHhiRAJSLAUF8MnCDdytm",
                "locked": 1,
                "msg_index": 149,
                "quantity": 0,
                "reset": false,
                "source": "1HxxvCFTaUWjFo46AVjVEKkvGCKt3mkiBR",
                "status": "valid",
                "transfer": true,
                "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
                "tx_index": 2731050,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVR42mNgGITgPxTT1PD/tDb8P60N/09rw6lmyf/bGxvgGGYwGp9yw5+fXoliKBZLybcA2XBsmGILCOGhYcGyPB0wRjYYJkauBRiuvDQ3AasYVSygRRD9p0sczKyJxGUg9SzAZgkMg+SoYgE+TFULbp3d/V9DmhNMU8UCWDDQzAfIYU1tw3EW1dSsD6iW3mlqAQDPvsolwlliWwAAAABJRU5ErkJggg==",
                    "issuer": "1GRiXRTe9hwGdHHhiRAJSLAUF8MnCDdytm",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "0"
            },
            "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
            "block_index": 843554,
            "timestamp": 1715941288
        }
    ]
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 17519769,
            "event": "SWEEP",
            "params": {
                "block_index": 843554,
                "destination": "1GRiXRTe9hwGdHHhiRAJSLAUF8MnCDdytm",
                "fee_paid": 89400000,
                "flags": 3,
                "memo": null,
                "source": "16n4hLSNxLFFeSvFjF8nBxtF5Zg23Joj8K",
                "status": "valid",
                "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
                "tx_index": 2731050
            },
            "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
            "block_index": 843554,
            "timestamp": 1715941288
        }
    ]
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 17525971,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "A10565470204951350000",
                "block_index": 843853,
                "dividend_asset": "A629927318401912907",
                "fee_paid": 3280000,
                "quantity_per_unit": 1,
                "source": "1GuXARUatYP5Wdm2XxyFBmrVDrW3jy8r4S",
                "status": "valid",
                "tx_hash": "3e8e9cc8ef949ada6047fad823c843799ffc16b4193d92de734bfe450dbb1e95",
                "tx_index": 2732069,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABtQTFRF/7QAbcQWoIFfiYeDCgMR5G0j////6tGiVIoecAlCuwAAAHpJREFUeNrUkEsOwCAIBUHxc/8TFxVaqNZ00U0n0ZcwQVSAPxKZsbeclGVyiG1hC2ejlKs6Y0V1OZ0caVAl0dqYKTNUJb2kUSTNlay06ASdZWee102e/mC4dQqpP+uhE70EnNlJ+/U7B4EpXCxB8Y5tudxLGT6XhwADAGSqBOvAmNefAAAAAElFTkSuQmCC",
                    "issuer": "1GuXARUatYP5Wdm2XxyFBmrVDrW3jy8r4S",
                    "divisible": 0,
                    "locked": 1
                }
            },
            "tx_hash": "3e8e9cc8ef949ada6047fad823c843799ffc16b4193d92de734bfe450dbb1e95",
            "block_index": 843853,
            "timestamp": 1715945289
        }
    ]
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17505451,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "WAROFTHEPEPE",
                "asset_longname": null,
                "block_index": 842523,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "https://easyasset.art/j/5hnkao/WAROF.json",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                "locked": false,
                "quantity": 135,
                "reset": true,
                "source": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                "status": "valid",
                "transfer": false,
                "tx_hash": "f9b84a75743241b9183e439c9f09446a5dd4c6723c41dd7e48f1f8314031c1c7",
                "tx_index": 2729333,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/exbi01/WAROF.json",
                    "issuer": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "135"
            },
            "tx_hash": "f9b84a75743241b9183e439c9f09446a5dd4c6723c41dd7e48f1f8314031c1c7",
            "block_index": 842523,
            "timestamp": 1715690163
        }
    ]
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 17525118,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "14029912601990230000",
                "asset_longname": null,
                "asset_name": "A14029912601990230000",
                "block_index": 843830
            },
            "tx_hash": "3355d750baab5309ec57fbcaf302b36ffbfa0372b1e352dfe3483935aa0f8205",
            "block_index": 843830,
            "timestamp": 1715941664
        }
    ]
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17525119,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A14029912601990230000",
                "asset_longname": null,
                "block_index": 843830,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "STAMP:721|c:A11153411995139178000|op:mint",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "bc1qs6nlfwxuwpdcfqua5dyutdwww96wjzawq4efea",
                "locked": true,
                "quantity": 1,
                "reset": false,
                "source": "bc1qs6nlfwxuwpdcfqua5dyutdwww96wjzawq4efea",
                "status": "valid",
                "transfer": false,
                "tx_hash": "3355d750baab5309ec57fbcaf302b36ffbfa0372b1e352dfe3483935aa0f8205",
                "tx_index": 2731933,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:721|c:A11153411995139178000|op:mint",
                    "issuer": "bc1qs6nlfwxuwpdcfqua5dyutdwww96wjzawq4efea",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "3355d750baab5309ec57fbcaf302b36ffbfa0372b1e352dfe3483935aa0f8205",
            "block_index": 843830,
            "timestamp": 1715941664
        }
    ]
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 17525771,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "FAKEGREENS",
                "block_index": 843853,
                "quantity": 1,
                "source": "bc1q0ck6x5m2800kyjh3plj0el8u2qheev6v06pvfe",
                "status": "valid",
                "tag": "4c46474f474f",
                "tx_hash": "06b11fb163af54f2ed93c120904712bbc0b8d8210537091b3f06d99954d7855e",
                "tx_index": 2732060,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": 0,
                    "locked": 1
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "06b11fb163af54f2ed93c120904712bbc0b8d8210537091b3f06d99954d7855e",
            "block_index": 843853,
            "timestamp": 1715945289
        }
    ]
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 17526119,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 843857,
                "expiration": 8064,
                "expire_index": 851921,
                "fee_provided": 5000,
                "fee_provided_remaining": 5000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "MUNETOPEPE",
                "get_quantity": 1,
                "get_remaining": 1,
                "give_asset": "XCP",
                "give_quantity": 1000000000,
                "give_remaining": 1000000000,
                "source": "1NfJnJdAdmm2rJCFW54NsAKqqTTMexCNJ3",
                "status": "open",
                "tx_hash": "dabee4dddec8048ff9e2422b0563c5a706991798f7c674fa6f2099b5ebc5a1ad",
                "tx_index": 2732098,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "res.indiesquare.me/json/MUNETOPEPE.json",
                    "issuer": "1HxpuXAdaWbGr81bRXE5GKKw3aPZxoxzBg",
                    "divisible": 0,
                    "locked": 1
                },
                "give_quantity_normalized": "10",
                "get_quantity_normalized": "1",
                "get_remaining_normalized": "1",
                "give_remaining_normalized": "10"
            },
            "tx_hash": "dabee4dddec8048ff9e2422b0563c5a706991798f7c674fa6f2099b5ebc5a1ad",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 17525803,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "XCP",
                "backward_quantity": 2000000000,
                "block_index": 843853,
                "fee_paid": 0,
                "forward_asset": "PUPS",
                "forward_quantity": 100000000,
                "id": "1ca61545687c92497c4f8788fe76255ff6894c11759373c16c425a5f7c758006_27d888cc586d18e83941fb00ac312f40d3f90e0fdd657910c1f7072967f66355",
                "match_expire_index": 843873,
                "status": "completed",
                "tx0_address": "19QWXpMXeLkoEKEJv2xo9rn8wkPCyxACSX",
                "tx0_block_index": 843833,
                "tx0_expiration": 8064,
                "tx0_hash": "1ca61545687c92497c4f8788fe76255ff6894c11759373c16c425a5f7c758006",
                "tx0_index": 2731926,
                "tx1_address": "1JBEzg8ZcQQiLwJtDgp6Q4ssNxexoYQx8N",
                "tx1_block_index": 843853,
                "tx1_expiration": 8064,
                "tx1_hash": "27d888cc586d18e83941fb00ac312f40d3f90e0fdd657910c1f7072967f66355",
                "tx1_index": 2732068
            },
            "tx_hash": "27d888cc586d18e83941fb00ac312f40d3f90e0fdd657910c1f7072967f66355",
            "block_index": 843853,
            "timestamp": 1715945289
        }
    ]
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17526125,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "b563220d970cc3d1ba8038f0d229a55711f5a95459a513022914bf7f581cb39a"
            },
            "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 17490554,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "041d838c801be45411d476716bf708845dae6dbbd6c95d05e7e82e21ffa82781"
            },
            "tx_hash": "2aaa019919846c2874ccd1a673f036e37ac6b9d071ba6b6f3164098bad8298fd",
            "block_index": 841327,
            "timestamp": 1715478026
        }
    ]
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 17512458,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "fc6390ec3d7c9cd71bb041b64ec96ce811af8e511c1e293707d22a4b3d872d66_3e353d2118c431140a3eb65ea1e9c327d4c91fffca1a30ed53f9bbc490998471",
                "order_match_id": "fc6390ec3d7c9cd71bb041b64ec96ce811af8e511c1e293707d22a4b3d872d66_3e353d2118c431140a3eb65ea1e9c327d4c91fffca1a30ed53f9bbc490998471",
                "status": "expired"
            },
            "tx_hash": null,
            "block_index": 843094,
            "timestamp": 1715690862
        }
    ]
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 17505814,
            "event": "BTC_PAY",
            "params": {
                "block_index": 842560,
                "btc_amount": 7113635,
                "destination": "1JsPoV5USoFM7441KtGXtvMH5ezNwq9Uak",
                "order_match_id": "e470416a9500fb046835192da013f48e6468a07dba1bede4a0b68e666ed23c8d_18223b1418beec4ebfd349f37a8cadb0a5377e0d62b67512167cb3cd996f6845",
                "source": "bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l",
                "status": "valid",
                "tx_hash": "32bec73c6b682823ee7b304e3c2b81661b9e32558de8ce1fbbdb5213cf119cc4",
                "tx_index": 2729382
            },
            "tx_hash": "32bec73c6b682823ee7b304e3c2b81661b9e32558de8ce1fbbdb5213cf119cc4",
            "block_index": 842560,
            "timestamp": 1715690211
        }
    ]
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 17526127,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 843857,
                "offer_hash": "b563220d970cc3d1ba8038f0d229a55711f5a95459a513022914bf7f581cb39a",
                "source": "bc1qpla28vwvlh3wg9gxt8gj7zzr0kuzuvp5dq9grc",
                "status": "valid",
                "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
                "tx_index": 2732100
            },
            "tx_hash": "899ac9890f19d570f044734eeaaa688cb2a8eb8c32dc320113a8d59963338fdd",
            "block_index": 843857,
            "timestamp": 1715948806
        }
    ]
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17525133,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 843831,
                "order_hash": "f69d32d3a9677d86fc1e02030bc69df690f59d0d44f7e757c2c1d3598da00ff4",
                "source": "1GQ5NWA5RBo5N3BTmSN14YVntfoBCaDhfJ"
            },
            "tx_hash": null,
            "block_index": 843831,
            "timestamp": 1715941665
        }
    ]
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17512461,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 843094,
                "order_match_id": "fc6390ec3d7c9cd71bb041b64ec96ce811af8e511c1e293707d22a4b3d872d66_3e353d2118c431140a3eb65ea1e9c327d4c91fffca1a30ed53f9bbc490998471",
                "tx0_address": "bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l",
                "tx1_address": "1JsPoV5USoFM7441KtGXtvMH5ezNwq9Uak"
            },
            "tx_hash": null,
            "block_index": 843094,
            "timestamp": 1715690862
        }
    ]
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17526107,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "A5626279227908146000",
                "block_index": 843856,
                "dispense_count": 0,
                "escrow_quantity": 1,
                "give_quantity": 1,
                "give_remaining": 1,
                "oracle_address": null,
                "origin": "1Am23UQ7fdaXQ2nZDzgSqyZuAYyBZMgMF9",
                "satoshirate": 325000,
                "source": "bc1q9wk9agkg8dgnzvsu5re8dp6audntfmrn9xfwne",
                "status": 0,
                "tx_hash": "4485c35c37dd0af5e69f1d370677383b54a2b231226ad7854aee175f07599e3a",
                "tx_index": 2732096,
                "asset_info": {
                    "asset_longname": null,
                    "description": "stamp:eyJwIjoic3JjLTcyMSIsIm9wIjoibWludCIsImMiOiJBOTI4NjgyMzI5MzU4Njg0ODAwMCIsInN5bWJvbCI6IkFWSU1FIiwidHMiOlsxMCw2LDMsOSwxLDIsMF19",
                    "issuer": "1Am23UQ7fdaXQ2nZDzgSqyZuAYyBZMgMF9",
                    "divisible": 0,
                    "locked": 1
                },
                "give_quantity_normalized": "1",
                "give_remaining_normalized": "1",
                "escrow_quantity_normalized": "1"
            },
            "tx_hash": "4485c35c37dd0af5e69f1d370677383b54a2b231226ad7854aee175f07599e3a",
            "block_index": 843856,
            "timestamp": 1715947889
        }
    ]
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17526110,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 0,
                "source": "1BSMzXEmsKLRNCxWnDD1NU69R4332yBZib",
                "status": 10,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "give_remaining_normalized": "0"
            },
            "tx_hash": "d6d9d8529d17f7567445f4a635cdb3b357d08e5f0f4122b28596498afff5c06f",
            "block_index": 843856,
            "timestamp": 1715947889
        }
    ]
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17492424,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "LRDBLCKSCHLD",
                "block_index": 841430,
                "destination": "1BAAXMdcT3Jt9hjSoquWqAVdAy4vNsyvdk",
                "dispense_quantity": 8,
                "dispenser_tx_hash": "966b79db0d742d28722561ca1f6cee69e48c4dd43d453c178467723e683f69be",
                "source": "193J7RVEY2BgA5aKfL6BBAVSyiS1UyBRG6",
                "tx_hash": "6b15ba26a139b8d8b7addfb3cab8e25813b55a78119c18084f88c2d1f9dd71fb",
                "tx_index": 2727823,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://4n7zuzbehhv3xdoaoa735qejyh3p4m2vk44g4flzh7ihfv5z5tjq.arweave.net/43-aZCQ567uNwHA_vsCJwfb-M1VXOG4VeT_Qcte57NM/LRDBL.json",
                    "issuer": "193J7RVEY2BgA5aKfL6BBAVSyiS1UyBRG6",
                    "divisible": 0,
                    "locked": 1
                },
                "dispense_quantity_normalized": "8"
            },
            "tx_hash": "6b15ba26a139b8d8b7addfb3cab8e25813b55a78119c18084f88c2d1f9dd71fb",
            "block_index": 841430,
            "timestamp": 1715478046
        }
    ]
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 17526111,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 843856,
                "destination": "1LL6YBeKxVTTvHokdJy6QEMvjjWacL1DP9",
                "dispense_index": 0,
                "dispense_quantity": 600000000,
                "dispenser_tx_hash": "5569d9ec0e666f815c51a4db3240025e75d8ab766109a22256e02057af58c778",
                "source": "1BSMzXEmsKLRNCxWnDD1NU69R4332yBZib",
                "tx_hash": "d6d9d8529d17f7567445f4a635cdb3b357d08e5f0f4122b28596498afff5c06f",
                "tx_index": 2732097,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "dispense_quantity_normalized": "6"
            },
            "tx_hash": "d6d9d8529d17f7567445f4a635cdb3b357d08e5f0f4122b28596498afff5c06f",
            "block_index": 843856,
            "timestamp": 1715947889
        }
    ]
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 17520178,
            "event": "BROADCAST",
            "params": {
                "block_index": 843564,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "19eubDCBqS6CND5CDMGV2yNx9Vbb2p9dyc",
                "status": "valid",
                "text": "yooo",
                "timestamp": 1715780181,
                "tx_hash": "d5d776f5280f5387df8f8763c6ac95dcd3b581f816bfd43f841b97f30d163ce8",
                "tx_index": 2731083,
                "value": 0.0
            },
            "tx_hash": "d5d776f5280f5387df8f8763c6ac95dcd3b581f816bfd43f841b97f30d163ce8",
            "block_index": 843564,
            "timestamp": 1715941304
        }
    ]
}
```

### Bets

#### `OPEN_BET`

```
{
    "result": [
        {
            "event_index": 5779772,
            "event": "OPEN_BET",
            "params": {
                "bet_type": 2,
                "block_index": 471011,
                "counterwager_quantity": 2799999999,
                "counterwager_remaining": 2799999999,
                "deadline": 471400,
                "expiration": 565,
                "expire_index": 471576,
                "fee_fraction_int": 0.0,
                "feed_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "leverage": 5040,
                "source": "1AuspQ6wRmryPQ3SuPoy4LaVJSRdafF1Wj",
                "status": "invalid: feed doesn\u2019t exist",
                "target_value": 7.0,
                "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
                "tx_index": 957135,
                "wager_quantity": 200000000,
                "wager_remaining": 200000000
            },
            "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
            "block_index": 471011,
            "timestamp": 1715457586
        }
    ]
}
```

#### `BET_UPDATE`

```
{
    "result": [
        {
            "event_index": 5798131,
            "event": "BET_UPDATE",
            "params": {
                "status": "expired",
                "tx_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462"
            },
            "tx_hash": null,
            "block_index": 471534,
            "timestamp": 1715457620
        }
    ]
}
```

#### `BET_MATCH`

```
{
    "result": [
        {
            "event_index": 5234759,
            "event": "BET_MATCH",
            "params": {
                "backward_quantity": 50000000,
                "block_index": 460217,
                "deadline": 1491577200,
                "fee_fraction_int": 3000000,
                "feed_address": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ",
                "forward_quantity": 699999999,
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "initial_value": 10.0,
                "leverage": 5040,
                "match_expire_index": 460775,
                "status": "pending",
                "target_value": 7.0,
                "tx0_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "tx0_bet_type": 3,
                "tx0_block_index": 460217,
                "tx0_expiration": 558,
                "tx0_hash": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c",
                "tx0_index": 866660,
                "tx1_address": "1AEV18DTJjJBUWXhqm2aWCkLHWV2tGVTVY",
                "tx1_bet_type": 2,
                "tx1_block_index": 460625,
                "tx1_expiration": 273,
                "tx1_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "tx1_index": 869523
            },
            "tx_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
            "block_index": 460625,
            "timestamp": 1715456877
        }
    ]
}
```

#### `BET_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 5242791,
            "event": "BET_MATCH_UPDATE",
            "params": {
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "status": "settled: for equal"
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "timestamp": 1715456885
        }
    ]
}
```

#### `BET_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 5798133,
            "event": "BET_EXPIRATION",
            "params": {
                "bet_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462",
                "bet_index": 956800,
                "block_index": 471534,
                "source": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ"
            },
            "tx_hash": null,
            "block_index": 471534,
            "timestamp": 1715457620
        }
    ]
}
```

#### `BET_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 2713911,
            "event": "BET_MATCH_EXPIRATION",
            "params": {
                "bet_match_id": "f1200f1e6fff75b3791455e7692b9a5e296f00d0b1cec5cef2d5491ae249b300_bc07aed52c4cc853d10932624f37de5854f4c3f0825f731259af1f071b8ea0bc",
                "block_index": 403907,
                "tx0_address": "1Ch9trfp2ULuPxnU81cA3TDvW17L8YRw6r",
                "tx1_address": "1BsQTfk6tyKgVyReFCoADSrv33bJ6mfMYv"
            },
            "tx_hash": null,
            "block_index": 403907,
            "timestamp": 1715453950
        }
    ]
}
```

#### `BET_MATCH_RESOLUTON`

```
{
    "result": [
        {
            "event_index": 5242790,
            "event": "BET_MATCH_RESOLUTON",
            "params": {
                "bear_credit": null,
                "bet_match_id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "bet_match_type_id": 5,
                "block_index": 460878,
                "bull_credit": null,
                "escrow_less_fee": 727500000,
                "fee": 22499999,
                "settled": null,
                "winner": "Equal"
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "timestamp": 1715456885
        }
    ]
}
```

#### `CANCEL_BET`

```
{
    "result": [
        {
            "event_index": 851178,
            "event": "CANCEL_BET",
            "params": {
                "block_index": 334697,
                "offer_hash": "b8b101d796b4977d8a7a33486cd17484f3750c01c29675981a775b73622476d1",
                "source": "1PLh4si7FFZ7NSbFpeDbtdVwgwzNH7DHnT",
                "status": "valid",
                "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
                "tx_index": 126800
            },
            "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
            "block_index": 334697,
            "timestamp": 1715452231
        }
    ]
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 21378,
            "event": "BURN",
            "params": {
                "block_index": "283810",
                "burned": "10000000",
                "earned": "10000000000",
                "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                "status": "valid",
                "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                "tx_index": 3070
            },
            "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
            "block_index": 283810,
            "timestamp": 1715450713
        }
    ]
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "server_ready": true,
        "network": "mainnet",
        "version": "10.1.2",
        "backend_height": 840796,
        "counterparty_height": 840796,
        "routes": [
            <API Documentation in JSON>
        ]
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?last}{&limit}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + last: `840000` (int, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `2` (int, optional) - The number of blocks to return
        + Default: `10`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840000,
                    "block_hash": "0000000000000000000320283a032748cef8227873ff4872689bf23f1cda83a5",
                    "block_time": 1713571767,
                    "previous_block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "difficulty": 86388558925171.02,
                    "ledger_hash": "b91dd54cfbd3aff07b358a038bf6174ddc06f36bd00cdccf048e8281bcd56224",
                    "txlist_hash": "b641c3e190b9941fcd5c84a7c07e66c03559ef26dcea892e2db1cf1d8392a4f2",
                    "messages_hash": "5c5de34009839ee66ebc3097ecd28bd5deee9553966b3ee39e8a08e123ac9adc"
                },
                {
                    "block_index": 839999,
                    "block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "block_time": 1713571533,
                    "previous_block_hash": "00000000000000000001dcce6ce7c8a45872cafd1fb04732b447a14a91832591",
                    "difficulty": 86388558925171.02,
                    "ledger_hash": "e2b2e23c2ac1060dafe2395da01fe5907f323b5a644816f45f003411c612ac30",
                    "txlist_hash": "f33f800ef166e6ef5b3df15a0733f9fd3ebb0b799f39ef1951e6709118b7c0fd",
                    "messages_hash": "16b7d40543b7b80587f4d98c84fcdfdceb2d1c18abba82c7064c09c2795b7ab2"
                }
            ]
        }
    ```

### Get Block [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d",
                "difficulty": 86388558925171.02,
                "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46",
                "messages_hash": "801d961c45a257f85ef0f10a6a8fdf048a520ae4861c0903f26365b3eaaaf540"
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "block_index": 840464,
                    "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                    "block_time": 1713852783,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "destination": "",
                    "btc_amount": 0,
                    "fee": 56565,
                    "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                    "supported": 1
                }
            ]
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?last}{&limit}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 14194760,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 840464,
                        "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                        "messages_hash": "801d961c45a257f85ef0f10a6a8fdf048a520ae4861c0903f26365b3eaaaf540",
                        "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46"
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194759,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194758,
                    "event": "CREDIT",
                    "params": {
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "UNNEGOTIABLE",
                        "block_index": 840464,
                        "calling_function": "issuance",
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 1,
                        "tx_index": 2726605,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                            "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194757,
                    "event": "ASSET_ISSUANCE",
                    "params": {
                        "asset": "UNNEGOTIABLE",
                        "asset_longname": null,
                        "block_index": 840464,
                        "call_date": 0,
                        "call_price": 0.0,
                        "callable": false,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "divisible": false,
                        "fee_paid": 50000000,
                        "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "locked": false,
                        "quantity": 1,
                        "reset": false,
                        "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "status": "valid",
                        "transfer": false,
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                            "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194756,
                    "event": "ASSET_CREATION",
                    "params": {
                        "asset_id": "75313533584419238",
                        "asset_longname": null,
                        "asset_name": "UNNEGOTIABLE",
                        "block_index": 840464
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194755,
                    "event": "DEBIT",
                    "params": {
                        "action": "issuance fee",
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "XCP",
                        "block_index": 840464,
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 50000000,
                        "tx_index": 2726605,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": "Counterparty",
                            "description": "The Counterparty protocol native currency",
                            "locked": true
                        },
                        "quantity_normalized": "0.5"
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194754,
                    "event": "NEW_TRANSACTION",
                    "params": {
                        "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                        "block_index": 840464,
                        "block_time": 1713852783,
                        "btc_amount": 0,
                        "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                        "destination": "",
                        "fee": 56565,
                        "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "tx_index": 2726605
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 14194753,
                    "event": "NEW_BLOCK",
                    "params": {
                        "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                        "block_index": 840464,
                        "block_time": 1713852783,
                        "difficulty": 86388558925171.02,
                        "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d"
                    },
                    "tx_hash": null
                }
            ]
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "ASSET_CREATION",
                    "event_count": 1
                },
                {
                    "event": "ASSET_ISSUANCE",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                },
                {
                    "event": "CREDIT",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                }
            ]
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?last}{&limit}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 14194758,
                    "event": "CREDIT",
                    "params": {
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "UNNEGOTIABLE",
                        "block_index": 840464,
                        "calling_function": "issuance",
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 1,
                        "tx_index": 2726605,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                            "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": null
                }
            ]
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "calling_function": "issuance",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                        "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "divisible": 0,
                        "locked": 1
                    },
                    "quantity_normalized": "1"
                }
            ]
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "XCP",
                    "quantity": 50000000,
                    "action": "issuance fee",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "0.5"
                }
            ]
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `840356` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "533d5c0ecd8ca9c2946d3298cc5e570eee55b62b887dd85c95de6de4fdc7f441"
                },
                {
                    "type": "order",
                    "object_id": "b048661afeee3f266792481168024abc0d7648fe0e019e4a1e0fd9867c2c0ffc"
                }
            ]
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `839746` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2725738,
                    "tx_hash": "793af9129c7368f974c3ea0c87ad38131f0d82d19fbaf1adf8aaf2e657ec42b8",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "04b258ac37f73e3b9a8575110320d67c752e1baace0f516da75845f388911735",
                    "status": "valid"
                },
                {
                    "tx_index": 2725739,
                    "tx_hash": "2071e8a6fbc0c443b152d513c754356f8f962db2fa694de8c6826b57413cc190",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "b1622dbe4f0ce740cb6c18f6f136876bc4949c40a62bc8cceefa81fd6679a57f",
                    "status": "valid"
                }
            ]
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `839988` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726496,
                    "tx_hash": "f5609facc8dac6cdf70b15c514ea15a9acc24a9bd86dcac2b845d5740fbcc50b",
                    "block_index": 839988,
                    "source": "1FpLAtreZjTVCMcj1pq1AHWuqcs3n7obMm",
                    "asset": "COBBEE",
                    "quantity": 50000,
                    "tag": "",
                    "status": "valid",
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://easyasset.art/j/m4dl0x/COBBE.json",
                        "issuer": "1P3KQWLsTPXVWimiF2Q6WSES5vbJE8be5i",
                        "divisible": 0,
                        "locked": 0
                    },
                    "quantity_normalized": "50000"
                }
            ]
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "msg_index": 0,
                    "block_index": 840464,
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "divisible": 0,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "transfer": 0,
                    "callable": 0,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "fee_paid": 50000000,
                    "locked": 0,
                    "status": "valid",
                    "asset_longname": null,
                    "reset": 0
                }
            ]
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?limit}{&offset}{&verbose}]

Returns the sends of a block

+ Parameters
    + block_index: `840459` (int, required) - The index of the block to return
    + limit: `5` (int, optional) - The maximum number of sends to return
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the sends to return
        + Default: `0`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726604,
                    "tx_hash": "b4bbb14c99dd260eb634243e5c595e1b7213459979857a32850de84989bb71ec",
                    "block_index": 840459,
                    "source": "13Hnmhs5gy2yXKVBx4wSM5HCBdKnaSBZJH",
                    "destination": "1LfT83WAxbN9qKhtrXxcQA6xgdhfZk21Hz",
                    "asset": "GAMESOFTRUMP",
                    "quantity": 1,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
                        "divisible": 0,
                        "locked": 0
                    },
                    "quantity_normalized": "1"
                }
            ]
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `840322` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726580,
                    "dispense_index": 0,
                    "tx_hash": "e7f0f2c9bef7a492b714a5952ec61b283be344419c5bc33f405f9af41ebfa48b",
                    "block_index": 840322,
                    "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                    "destination": "bc1qzcdkhnexpjc8wvkyrpyrsn0f5xzcpu877mjmgj",
                    "asset": "FLOCK",
                    "dispense_quantity": 90000000000,
                    "dispenser_tx_hash": "753787004d6e93e71f6e0aa1e0932cc74457d12276d53856424b2e4088cc542a",
                    "dispenser": {
                        "tx_index": 2536311,
                        "block_index": 840322,
                        "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "give_quantity": 10000000000,
                        "escrow_quantity": 250000000000,
                        "satoshirate": 330000,
                        "status": 0,
                        "give_remaining": 140000000000,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "dispense_count": 2,
                        "give_quantity_normalized": "100",
                        "give_remaining_normalized": "1400",
                        "escrow_quantity_normalized": "2500"
                    },
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "18VNeRv8vL528HF7ruKwxycrfNEeoqmHpa",
                        "divisible": 1,
                        "locked": 1
                    }
                }
            ]
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?verbose}]

Returns the sweeps of a block

+ Parameters
    + block_index: `836519` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2720536,
                    "tx_hash": "9309a4c0aed426e281a52e5d48acadd1464999269a5e75cf2293edd0277d743d",
                    "block_index": 836519,
                    "source": "1DMVnJuqBobXA9xYioabBsR4mN8bvVtCAW",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                },
                {
                    "tx_index": 2720537,
                    "tx_hash": "d8db6281abffdbf6c320d5ade06aeb6fad2f7bfa1a2c2243c6726020a27107d3",
                    "block_index": 836519,
                    "source": "18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                }
            ]
        }
    ```

## Group Transactions

### Info [GET /v2/transactions/info{?rawtransaction}{&block_index}{&verbose}]

Returns Counterparty information from a raw transaction in hex format.

+ Parameters
    + rawtransaction: `01000000017828697743c03aef6a3a8ba54b22bf579ffcab8161faf20e7b20c4ecd75cc986010000006b483045022100d1bd0531bb1ed2dd2cbf77d6933273e792a3dbfa84327d419169850ddd5976f502205d1ab0f7bcbf1a0cc183f0520c9aa8f711d41cb790c0c4ac39da6da4a093d798012103d3b1f711e907acb556e239f6cafb6a4f7fe40d8dd809b0e06e739c2afd73f202ffffffff0200000000000000004d6a4bf29880b93b0711524c7ef9c76835752088db8bd4113a3daf41fc45ffdc8867ebdbf26817fae377696f36790e52f51005806e9399a427172fedf348cf798ed86e548002ee96909eef0775ec3c2b0100000000001976a91443434cf159cc585fbd74daa9c4b833235b19761b88ac00000000` (str, required) - Raw transaction in hex format
    + block_index (int, optional) - Block index mandatory for transactions before block 335000
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Unpack [GET /v2/transactions/unpack{?datahex}{&block_index}{&verbose}]

Unpacks Counterparty data in hex format and returns the message type and data.

+ Parameters
    + datahex: `16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245` (str, required) - Data in hex format
    + block_index (int, optional) - Block index of the transaction containing this data
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "message_type": "issuance",
                "message_type_id": 22,
                "message_data": {
                    "asset_id": 75313533584419238,
                    "asset": "UNNEGOTIABLE",
                    "subasset_longname": null,
                    "quantity": 1,
                    "divisible": false,
                    "lock": false,
                    "reset": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "status": "valid"
                }
            }
        }
    ```

### Get Transaction By Tx Index [GET /v2/transactions/{tx_index}{?verbose}]

Returns a transaction by its index.

+ Parameters
    + tx_index: `10000` (int, required) - The index of the transaction
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "tx_index": 10000,
                "tx_hash": "f91fcf4e6f432037ca8d5844d64e4347bf0127cfbec6041982a9f1d048187160",
                "block_index": 297259,
                "block_hash": "00000000000000009aa8a70b99b6dc29ad52399246d86cf586768661bfcc5391",
                "block_time": 1398229406,
                "source": "1PVHbRqh1eYsGCVZ7t18UCQ6oPzXFR3HQz",
                "destination": null,
                "btc_amount": null,
                "fee": 20000,
                "data": "000000464f84c0428938f794972cd62c67a022f4f3d9d3802041015e49fd1581c95afc99",
                "supported": 1,
                "unpacked_data": {
                    "message_type": "cancel",
                    "message_type_id": 70,
                    "message_data": {
                        "offer_hash": "4f84c0428938f794972cd62c67a022f4f3d9d3802041015e49fd1581c95afc99",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Get Transaction By Hash [GET /v2/transactions/{tx_hash}{?verbose}]

Returns a transaction by its hash.

+ Parameters
    + tx_hash: `876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5` (str, required) - The hash of the transaction
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "tx_index": 2726605,
                "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "supported": 1,
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Get Events By Transaction Index [GET /v2/transactions/{tx_index}/events{?last}{&limit}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_index: `1000` (int, required) - The index of the transaction to return
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 7464,
                    "event": "BURN",
                    "params": {
                        "block_index": "280480",
                        "burned": "100000000",
                        "earned": "130272727273",
                        "source": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "status": "valid",
                        "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "tx_index": 1000
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                },
                {
                    "event_index": 7463,
                    "event": "CREDIT",
                    "params": {
                        "address": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "asset": "XCP",
                        "block_index": 280480,
                        "calling_function": "burn",
                        "event": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "quantity": 130272727273,
                        "tx_index": 1000,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": "Counterparty",
                            "description": "The Counterparty protocol native currency",
                            "locked": true
                        },
                        "quantity_normalized": "1302.7273"
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                }
            ]
        }
    ```

### Get Events By Transaction Hash [GET /v2/transactions/{tx_hash}/events{?last}{&limit}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_hash: `84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040` (str, required) - The hash of the transaction to return
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 14226375,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                        "tx_index": 2729603
                    },
                    "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                    "block_index": 842680,
                    "timestamp": 1715249118
                },
                {
                    "event_index": 14226374,
                    "event": "ENHANCED_SEND",
                    "params": {
                        "asset": "PEPEBERLUSCA",
                        "block_index": 842680,
                        "destination": "14KPsMQwqeV478CGYjSDCgYKyNfMMA1bW9",
                        "memo": null,
                        "quantity": 1,
                        "source": "1HDMT9EV4RqRSfPwFYCRzq1dUgHmuHH2ui",
                        "status": "valid",
                        "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                        "tx_index": 2729603,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "",
                            "issuer": "12C72gY3tw2CUqno3o8FaCk7vzk9Q4LUox",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                    "block_index": 842680,
                    "timestamp": 1715249118
                },
                {
                    "event_index": 14226373,
                    "event": "CREDIT",
                    "params": {
                        "address": "14KPsMQwqeV478CGYjSDCgYKyNfMMA1bW9",
                        "asset": "PEPEBERLUSCA",
                        "block_index": 842680,
                        "calling_function": "send",
                        "event": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                        "quantity": 1,
                        "tx_index": 2729603,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "",
                            "issuer": "12C72gY3tw2CUqno3o8FaCk7vzk9Q4LUox",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                    "block_index": 842680,
                    "timestamp": 1715249118
                },
                {
                    "event_index": 14226372,
                    "event": "DEBIT",
                    "params": {
                        "action": "send",
                        "address": "1HDMT9EV4RqRSfPwFYCRzq1dUgHmuHH2ui",
                        "asset": "PEPEBERLUSCA",
                        "block_index": 842680,
                        "event": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                        "quantity": 1,
                        "tx_index": 2729603,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "",
                            "issuer": "12C72gY3tw2CUqno3o8FaCk7vzk9Q4LUox",
                            "divisible": 0,
                            "locked": 1
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": "84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040",
                    "block_index": 842680,
                    "timestamp": 1715249118
                }
            ]
        }
    ```

### Get Events By Transaction Index And Event [GET /v2/transactions/{tx_index}/events/{event}{?last}{&limit}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_index: `1000` (int, required) - The index of the transaction to return
    + event: `CREDIT` (str, required) - The event to filter by
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 7463,
                    "event": "CREDIT",
                    "params": {
                        "address": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "asset": "XCP",
                        "block_index": 280480,
                        "calling_function": "burn",
                        "event": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "quantity": 130272727273,
                        "tx_index": 1000,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": "Counterparty",
                            "description": "The Counterparty protocol native currency",
                            "locked": true
                        },
                        "quantity_normalized": "1302.7273"
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                }
            ]
        }
    ```

### Get Events By Transaction Hash And Event [GET /v2/transactions/{tx_hash}/events/{event}{?last}{&limit}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_hash: `84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040` (str, required) - The hash of the transaction to return
    + event: `CREDIT` (str, required) - The event to filter by
    + last: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": []
        }
    ```

## Group Addresses

### Get Address Balances [GET /v2/addresses/{address}/balances{?verbose}]

Returns the balances of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "1042"
                }
            ]
        }
    ```

### Get Balance By Address And Asset [GET /v2/addresses/{address}/balances/{asset}{?verbose}]

Returns the balance of an address and asset

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + asset: `XCP` (str, required) - The asset to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                "asset": "XCP",
                "quantity": 104200000000,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "quantity_normalized": "1042"
            }
        }
    ```

### Get Credits By Address [GET /v2/addresses/{address}/credits{?limit}{&offset}{&verbose}]

Returns the credits of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the credits to return
        + Default: `0`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 830981,
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "calling_function": "send",
                    "event": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "tx_index": 2677412,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "1042"
                }
            ]
        }
    ```

### Get Debits By Address [GET /v2/addresses/{address}/debits{?limit}{&offset}{&verbose}]

Returns the debits of an address

+ Parameters
    + address: `bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y` (str, required) - The address to return
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the debits to return
        + Default: `0`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 836949,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 40000000000,
                    "action": "open dispenser",
                    "event": "53ed08176d3479f49986e9282293da85cebc03835b128d8e790ee587f9f1c750",
                    "tx_index": 2721524,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "400"
                },
                {
                    "block_index": 840388,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 250000000000,
                    "action": "send",
                    "event": "bc54968ba7d0a59a47b276602e2dbdcf01b14009742e0d7b50272cbae529a9a4",
                    "tx_index": 2726594,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "2500"
                }
            ]
        }
    ```

### Get Bet By Feed [GET /v2/addresses/{address}/bets{?status}{&verbose}]

Returns the bets of a feed

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address of the feed
    + status: `filled` (str, optional) - The status of the bet
        + Default: `open`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 15106,
                    "tx_hash": "5d097b4729cb74d927b4458d365beb811a26fcee7f8712f049ecbe780eb496ed",
                    "block_index": 304063,
                    "source": "18ZNyaAcH4HugeofwbrpLoUNiayxJRH65c",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 3,
                    "deadline": 1401828300,
                    "wager_quantity": 50000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 50000000,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 11,
                    "expire_index": 304073,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                },
                {
                    "tx_index": 61338,
                    "tx_hash": "0fcc7f5190c028f6c5534554d10ec5b4a9246d63826421cd58be2d572d11f088",
                    "block_index": 320704,
                    "source": "1Ew38GxczvV1KxjzZsq9f8UuRzHkHQrL5C",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 2,
                    "deadline": 1410728400,
                    "wager_quantity": 1000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 1999991,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 13,
                    "expire_index": 320715,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                }
            ]
        }
    ```

### Get Broadcasts By Source [GET /v2/addresses/{address}/broadcasts{?status}{&order_by}{&verbose}]

Returns the broadcasts of a source

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address to return
    + status: `valid` (str, optional) - The status of the broadcasts to return
        + Default: `valid`
    + order_by: `ASC` (str, optional) - The order of the broadcasts to return
        + Default: `DESC`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 15055,
                    "tx_hash": "774887e555a6ae5a8c058ebc0185058307977f01a2d4d326e71f37d6dd977154",
                    "block_index": 304048,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1401815290,
                    "value": -1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": 0,
                    "status": "valid"
                },
                {
                    "tx_index": 61477,
                    "tx_hash": "5d49993bec727622c7b41c84e2b1e65c368f33390d633d217131ffcc5b592f0d",
                    "block_index": 320718,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1410732503,
                    "value": 1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": 0,
                    "status": "valid"
                }
            ]
        }
    ```

### Get Burns By Address [GET /v2/addresses/{address}/burns{?verbose}]

Returns the burns of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 3070,
                    "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                    "block_index": 283810,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "burned": 10000000,
                    "earned": 10000000000,
                    "status": "valid"
                }
            ]
        }
    ```

### Get Sends By Address [GET /v2/addresses/{address}/sends{?limit}{&offset}{&verbose}]

Returns the sends of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return
    + limit: `5` (int, optional) - The maximum number of sends to return
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the sends to return
        + Default: `0`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 163106,
                    "tx_hash": "1c447b41816f1cfbb83f125c8e05faeaae70dbf27255745ba7393f809bd388eb",
                    "block_index": 343049,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "destination": "16cRBUNnTWiUh2sXWNn1P7KHyJUmyMkdfH",
                    "asset": "XCP",
                    "quantity": 10000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "100"
                }
            ]
        }
    ```

### Get Receive By Address [GET /v2/addresses/{address}/receives{?limit}{&offset}{&verbose}]

Returns the receives of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + limit: `5` (int, optional) - The maximum number of receives to return
        + Default: `100`
    + offset: `0` (int, optional) - The offset of the receives to return
        + Default: `0`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2677412,
                    "tx_hash": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "block_index": 830981,
                    "source": "bc1qqxr9grqw73dm95cen3g56mzswuj6eqjedu6csx",
                    "destination": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "1042"
                }
            ]
        }
    ```

### Get Sends By Address And Asset [GET /v2/addresses/{address}/sends/{asset}{?verbose}]

Returns the sends of an address and asset

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return
    + asset: `XCP` (str, required) - The asset to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 163106,
[...]
