[//]: # (Generated by genapidoc.py on 2025-01-31 13:22:04.079555. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                "block_index": 245,
                "block_time": 1738329706,
                "difficulty": 545259519,
                "previous_block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                "block_index": 245,
                "block_time": 1738329706,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "fee": 0,
                "source": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                "transaction_type": "dispense",
                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "tx_index": 121,
                "utxos_info": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1 7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "out_index": 0,
                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "tx_index": 121,
                "block_time": 1738329706,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                "transaction_count": 1,
                "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                "block_time": 1738329706
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "tx_index": 121
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                "utxo_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                "block_time": 1738329706,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1738329706,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q7uau64ufpqvu6mak6h6ttxuwvyddyerlyxtkg5",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "status": "valid",
                "tx_hash": "751c2e607b880bde3a2be5592596d1d323e86103deba5be476a6dd0b0e882c9b",
                "tx_index": 77,
                "block_time": 1738329535,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "751c2e607b880bde3a2be5592596d1d323e86103deba5be476a6dd0b0e882c9b",
            "block_index": 201,
            "block_time": 1738329535
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q7uau64ufpqvu6mak6h6ttxuwvyddyerlyxtkg5",
                "status": "valid",
                "tx_hash": "4ef939914773d10c43b71e40157d106ae77baf3b52ba96e99f8ca86af79fca0e",
                "tx_index": 81,
                "block_time": 1738329550,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "4ef939914773d10c43b71e40157d106ae77baf3b52ba96e99f8ca86af79fca0e",
            "block_index": 205,
            "block_time": 1738329550
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q8ak2fqydwndp4jzdavnt9xgcmut26l8qt2rzck",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q83eharp6n8ewdgyggx2vfpwf5aqum5j3px7rht",
                "status": "valid",
                "tx_hash": "e26206cef7909fa707df25ce27c05c75bbe327e8f3f7a8251057eba3777f7a03",
                "tx_index": 65,
                "block_time": 1738329493,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "e26206cef7909fa707df25ce27c05c75bbe327e8f3f7a8251057eba3777f7a03",
            "block_index": 190,
            "block_time": 1738329493
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "status": "valid",
                "tx_hash": "baebc0421deda4541eb3dc59aef0871209b5d00d7b070ee7c40d0a9a00d6d41c",
                "tx_index": 42,
                "block_time": 1738329353,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "baebc0421deda4541eb3dc59aef0871209b5d00d7b070ee7c40d0a9a00d6d41c",
            "block_index": 146,
            "block_time": 1738329353
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "status": "valid",
                "transfer": false,
                "tx_hash": "fff516cc4576af2044bc205b59e90eb94f493f172ccdb5a85e1f5d27c645b6e3",
                "tx_index": 117,
                "block_time": 1738329686,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "fff516cc4576af2044bc205b59e90eb94f493f172ccdb5a85e1f5d27c645b6e3",
            "block_index": 240,
            "block_time": 1738329686
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1738329697
            },
            "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
            "block_index": 243,
            "block_time": 1738329697
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "status": "valid",
                "transfer": false,
                "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
                "tx_index": 120,
                "block_time": 1738329697,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
            "block_index": 243,
            "block_time": 1738329697
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "fff516cc4576af2044bc205b59e90eb94f493f172ccdb5a85e1f5d27c645b6e3",
                "tx_index": 117,
                "block_time": 1738329686,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "fff516cc4576af2044bc205b59e90eb94f493f172ccdb5a85e1f5d27c645b6e3",
            "block_index": 240,
            "block_time": 1738329686
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "status": "open",
                "tx_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
                "tx_index": 119,
                "block_time": 1738329694,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qn0qtmxgukzdrp9c3m4d5nyem5hl5z069rck5t5",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
            "block_index": 242,
            "block_time": 1738329694
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "0ffbae70afa20085bf6628e40a793774ff28e387d5b78bddc67b6659397b0a9c_4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qn0qtmxgukzdrp9c3m4d5nyem5hl5z069rck5t5",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "0ffbae70afa20085bf6628e40a793774ff28e387d5b78bddc67b6659397b0a9c",
                "tx0_index": 118,
                "tx1_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
                "tx1_index": 119,
                "block_time": 1738329694,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qn0qtmxgukzdrp9c3m4d5nyem5hl5z069rck5t5",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
            "block_index": 242,
            "block_time": 1738329694
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "4b8bfb0b5d963722d20b447b1a1602b9c2cd1ea77b913fd1492af1ff246ada7d",
            "block_index": 242,
            "block_time": 1738329694
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "451e9500910fcb30bfbad8093bcbc11e29a4aa38f59a1c2ae5913002c748738c"
            },
            "tx_hash": "40c88d86f526b9e0c3518d2ae85900b6a8b912b0e2c060637ce746a46dd18e26",
            "block_index": 182,
            "block_time": 1738329467
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "c1db891c96ef387e1f876f580867fa248592685f59d249c8da72deedd035b436_549d807a5ec7dab8bbb61fdc87d5d9e788190472d5eb6246fe9640bfa2605dc8",
                "order_match_id": "c1db891c96ef387e1f876f580867fa248592685f59d249c8da72deedd035b436_549d807a5ec7dab8bbb61fdc87d5d9e788190472d5eb6246fe9640bfa2605dc8",
                "status": "expired"
            },
            "tx_hash": "7636ab01c9e4d51a940b86f1af0e32fe1f8ff577dcf49c24715c0e0b47dc8c82",
            "block_index": 225,
            "block_time": 1738329620
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "order_match_id": "9f8c433c4b9a50165d6da72053c0c806e1464bf2abfdbb28232856b4ddc576bb_451e9500910fcb30bfbad8093bcbc11e29a4aa38f59a1c2ae5913002c748738c",
                "source": "bcrt1q7uau64ufpqvu6mak6h6ttxuwvyddyerlyxtkg5",
                "status": "valid",
                "tx_hash": "40c88d86f526b9e0c3518d2ae85900b6a8b912b0e2c060637ce746a46dd18e26",
                "tx_index": 57,
                "block_time": 1738329467,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "40c88d86f526b9e0c3518d2ae85900b6a8b912b0e2c060637ce746a46dd18e26",
            "block_index": 182,
            "block_time": 1738329467
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "c683810d0be56cc9f0c2870b250eb6c240d18968a922b4463b7a94493e91e8c0",
                "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "status": "valid",
                "tx_hash": "d5803bdfd0ac2543f50b7aed083ad9479bf374b712b75e01b36a229ba80b764d",
                "tx_index": 63,
                "block_time": 1738329486
            },
            "tx_hash": "d5803bdfd0ac2543f50b7aed083ad9479bf374b712b75e01b36a229ba80b764d",
            "block_index": 188,
            "block_time": 1738329486
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "c1db891c96ef387e1f876f580867fa248592685f59d249c8da72deedd035b436",
                "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "block_time": 1738329571
            },
            "tx_hash": "dd97cfe12f26560b8baf068690a30579c5b1686f0c50769e74f8a0d4eb4a27dd",
            "block_index": 211,
            "block_time": 1738329571
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "c1db891c96ef387e1f876f580867fa248592685f59d249c8da72deedd035b436_549d807a5ec7dab8bbb61fdc87d5d9e788190472d5eb6246fe9640bfa2605dc8",
                "tx0_address": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "tx1_address": "bcrt1q83eharp6n8ewdgyggx2vfpwf5aqum5j3px7rht",
                "block_time": 1738329620
            },
            "tx_hash": "7636ab01c9e4d51a940b86f1af0e32fe1f8ff577dcf49c24715c0e0b47dc8c82",
            "block_index": 225,
            "block_time": 1738329620
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qruzmwdc6gsw68rsld45gmw3s2q3nc77jautxwr",
                "satoshirate": 1,
                "source": "bcrt1qruzmwdc6gsw68rsld45gmw3s2q3nc77jautxwr",
                "status": 0,
                "tx_hash": "fe7436ee93aed1374bd49cf183f291431704a8e56d311ccd39d627b0e959f3b8",
                "tx_index": 114,
                "block_time": 1738329670,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "fe7436ee93aed1374bd49cf183f291431704a8e56d311ccd39d627b0e959f3b8",
            "block_index": 236,
            "block_time": 1738329670
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "status": 0,
                "tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mmZw6YHh9BmzAMKUAUdoMvF3hC8xyWmCGj",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "9d78bddf06c48bfb74ec649429dd7e9ffba34b4e345a2b2a54c5ba42fd654961",
                "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                "tx_hash": "e26b89ca52b195ce049c0e95bb396505e2668c8ea2f635c7158c99c3c66bf2b1",
                "tx_index": 31,
                "block_time": 1738329312,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "e26b89ca52b195ce049c0e95bb396505e2668c8ea2f635c7158c99c3c66bf2b1",
            "block_index": 135,
            "block_time": 1738329312
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "tx_index": 121,
                "block_time": 1738329706,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "21e8311f88f330474cbd800ebbc3343d96cced819b5e0da0fbfe63b132b4b426",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1738329290,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "21e8311f88f330474cbd800ebbc3343d96cced819b5e0da0fbfe63b132b4b426",
            "block_index": 129,
            "block_time": 1738329290
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "start_block": 0,
                "status": "open",
                "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
                "tx_index": 120,
                "block_time": 1738329697,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
            "block_index": 243,
            "block_time": 1738329697
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "2286e2226e9ecc094ffc4d2de20ca4259cba6c167a037385bbdd2a9185115989"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1738329629
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "8833c5467c2bf1f8137ffdd1239134599788f800da1a040aa2325a9fc298f67a",
                "paid_quantity": 100000000,
                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "status": "valid",
                "tx_hash": "75230f29e85426b812a5e422f36c835fdd255b0c011e136d0c2fb00f46fb9561",
                "tx_index": 97,
                "block_time": 1738329604,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "75230f29e85426b812a5e422f36c835fdd255b0c011e136d0c2fb00f46fb9561",
            "block_index": 221,
            "block_time": 1738329604
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "16ea3532e86f10309aaeb5de360e66c8370d17edb1a7c8360c7ce224e7fc38eb:0",
                "destination_address": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "status": "valid",
                "tx_hash": "16ea3532e86f10309aaeb5de360e66c8370d17edb1a7c8360c7ce224e7fc38eb",
                "tx_index": 112,
                "block_time": 1738329664,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "16ea3532e86f10309aaeb5de360e66c8370d17edb1a7c8360c7ce224e7fc38eb",
            "block_index": 235,
            "block_time": 1738329664
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "e331eb5ba63de029be878e1a83e6f8505d85cb2188ac06ea059af0f8870560ac:0",
                "source_address": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                "status": "valid",
                "tx_hash": "16e5238f9513fe7a999c74981b4e45f90c89c577918c3a607c045a3af0f3c4c0",
                "tx_index": 111,
                "block_time": 1738329660,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "16e5238f9513fe7a999c74981b4e45f90c89c577918c3a607c045a3af0f3c4c0",
            "block_index": 234,
            "block_time": 1738329660
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                "destination_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                "source_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                "status": "valid",
                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                "tx_index": 121,
                "block_time": 1738329706,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
            "block_index": 245,
            "block_time": 1738329706
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qn0qtmxgukzdrp9c3m4d5nyem5hl5z069rck5t5",
                "status": "valid",
                "tx_hash": "6a82c07fd8ba1c2a252205d961d48e04fa2675fea8d81015c0f8145efccb0ded",
                "tx_index": 9,
                "block_time": 1738329225,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "6a82c07fd8ba1c2a252205d961d48e04fa2675fea8d81015c0f8145efccb0ded",
            "block_index": 112,
            "block_time": 1738329225
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.9.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                    "block_time": 1738329706,
                    "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                    "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                    "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                    "previous_block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300",
                    "block_time": 1738329700,
                    "ledger_hash": "21055b892d27217de7f902aafb659a9a51fa0fef6eb56885bcbea45a51702f6d",
                    "txlist_hash": "4270dcff8077527ecedbfed1bd3cbfec7aef372c31206287efb8732812432c7d",
                    "messages_hash": "b9268998eb4175410b4d0ac241bd14e4c87da0e637653619f0b5b174c71df9ae",
                    "previous_block_hash": "7c0b7ed34a3eca295bcff00d1765473a2090f3a841d07a4dd78931d6b0fab41a",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "7c0b7ed34a3eca295bcff00d1765473a2090f3a841d07a4dd78931d6b0fab41a",
                    "block_time": 1738329697,
                    "ledger_hash": "4b39b90351b299c11dfec2967659829d21e636c503ba62eb20d461137041af8c",
                    "txlist_hash": "80bee8f69e0df73955ea1ec31cbdcc3fafb68748ce8259be61d8d113ff1b98de",
                    "messages_hash": "604b2dc2ed097bd56e578de7989ad9c76713eba4337d60397894b87a5015386a",
                    "previous_block_hash": "24ef09700e2def57c5ae27dcb6fd2691090c898839998e56d86728255aa61032",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "24ef09700e2def57c5ae27dcb6fd2691090c898839998e56d86728255aa61032",
                    "block_time": 1738329694,
                    "ledger_hash": "1e9951618013c135e99bdae55d56116cf6cb4de46d655fb2ee2db4ff72be193f",
                    "txlist_hash": "a05b41636e05cf6e68289c47454dc5496d00800372f596bed01edc3debfd792c",
                    "messages_hash": "56ce2636452f48edca9b52f8211905498e7d824e8a8e8bf261a78f2bd45951b4",
                    "previous_block_hash": "385850865352f132181531e4b625b0f671a4fee9479fffed5562996312f53b91",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "385850865352f132181531e4b625b0f671a4fee9479fffed5562996312f53b91",
                    "block_time": 1738329689,
                    "ledger_hash": "cded09898c25d0de4b33438d1b7850fb435a49815df10931489920196ddfce6b",
                    "txlist_hash": "e808413321db4b94bf9700484af80926113b0944af27b78ee4902b6bf803789f",
                    "messages_hash": "ea55338c93a289835f3e60b92fab185e2ba7df527e76884250137ff7b98084d3",
                    "previous_block_hash": "2c2983edcc93281cdc3ee21ad588065fc2689eeaf193b732417746781cb6b549",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                "block_time": 1738329706,
                "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                "previous_block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                "block_time": 1738329706,
                "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                "previous_block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                "block_time": 1738329706,
                "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                "previous_block_hash": "7480d23ceeb0fde1665b866bcb7f329fb1d87966e42a3f10047a5090e28c0300",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "block_index": 245,
                    "block_hash": "6fdfe793b73f66668bc7bf39524f534ae5d000e8103630212b50b715965d7a51",
                    "block_time": 1738329706,
                    "source": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "destination": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1 7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                                "destination_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                                "source_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                                "status": "valid",
                                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                                "tx_index": 121,
                                "block_time": 1738329706,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                            "block_index": 245,
                            "block_time": 1738329706
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                                "destination_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                                "source_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                                "status": "valid",
                                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                                "tx_index": 121,
                                "block_time": 1738329706,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                            "block_index": 245,
                            "block_time": 1738329706
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                                "status": 0,
                                "tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                            "block_index": 245,
                            "block_time": 1738329706
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                                "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                                "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                                "tx_index": 121,
                                "block_time": 1738329706,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                            "block_index": 245,
                            "block_time": 1738329706
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "8c9c33e9b2b72c0142754f85a41a1fa84e3948bf702ea7284cded823ce93d660",
                        "messages_hash": "3e12f46e861f0d3a15c3ab58e8758fd8a97c2eb57737a712400ba665c51c70af",
                        "transaction_count": 1,
                        "txlist_hash": "6b0e4c9a3b1f1e73e41dd95cd536888967cfdc3f5694f676c5a031d99504f337",
                        "block_time": 1738329706
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "tx_index": 121
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                        "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "tx_index": 121,
                        "block_time": 1738329706,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "status": 0,
                        "tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738329706,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1738329706,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                        "utxo_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "block_time": 1738329706,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                        "utxo_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "block_time": 1738329706,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "tx_index": 121,
                    "utxo": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                    "utxo_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "tx_index": 121,
                    "utxo": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                    "utxo_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "tx_index": 121,
                    "utxo": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                    "utxo_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "tx_index": 121,
                    "utxo": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                    "utxo_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "c1db891c96ef387e1f876f580867fa248592685f59d249c8da72deedd035b436",
                    "block_index": 211,
                    "block_time": 1738329571
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "d5803bdfd0ac2543f50b7aed083ad9479bf374b712b75e01b36a229ba80b764d",
                    "block_index": 188,
                    "source": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                    "offer_hash": "c683810d0be56cc9f0c2870b250eb6c240d18968a922b4463b7a94493e91e8c0",
                    "status": "valid",
                    "block_time": 1738329486
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "fff516cc4576af2044bc205b59e90eb94f493f172ccdb5a85e1f5d27c645b6e3",
                    "block_index": 240,
                    "source": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1738329686,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1quftx97q0kkfy2znxkuqer9nt6lrmqp7j3nly8h",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "638853fd80b8dd1c4a5a6ccce67be38c20db0e89f0b15b2cd2e30e41318df67c",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "issuer": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1738329697,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "block_index": 245,
                    "source": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                    "destination": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "destination_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "block_index": 245,
                    "source": "1c56a44ba1331fafed56ded5dd8f6b4d6a1c467eafdb75e423d574ca055f4030:1",
                    "destination": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "destination_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q72j0fnmxrfjhg436sdr9mw3xc82dqdau95xwdc",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "7344515b73ec6f4e36558c51287548f7913034a702f74d27d562cce74346e48c",
                    "block_index": 245,
                    "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                    "destination": "bcrt1qtcx38fm0yc6xvnkp5afcut5es704h6cp25tru9",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "e641cdf032ae05da7e9a1c354726f980a590b8eea41ef331f1355e3d353aaef0",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qmqj09xyw252fq2pcuajysmg5e9hvr8tsvjf9yq",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1738329706,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
