[//]: # (Generated by genapidoc.py on 2024-07-23 11:45:30.747924. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into 11 groups:

- [`/blocks`](#/reference/blocks)
- [`/transactions`](#/reference/transactions)
- [`/addresses`](#/reference/addresses)
- [`/compose`](#/reference/compose)
- [`/assets`](#/reference/assets)
- [`/orders`](#/reference/orders)
- [`/bets`](#/reference/bets)
- [`/dispensers`](#/reference/dispensers)
- [`/burns`](#/reference/burns)
- [`/events`](#/reference/events)
- [`/mempool`](#/reference/mempool)
- [`/bitcoin`](#/reference/bitcoin)
- [`/v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 17629384,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "0000000000000000000339c6ab00f6555027c412c765653d1a23d7165221c3b6",
                "block_index": 852293,
                "block_time": 1721040354,
                "difficulty": 386108013,
                "previous_block_hash": "00000000000000000003216497b00a24d109c2dd72746364494328dc659af1f7"
            },
            "tx_hash": null,
            "block_index": 852293,
            "block_time": 1721040354
        }
    ],
    "next_cursor": 17629382,
    "result_count": 574024
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 17629366,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "00000000000000000001bb8513d7a3f729df921440e2fcdb5ba1c22d0609d3af",
                "block_index": 852286,
                "block_time": 1721037148,
                "btc_amount": 0,
                "data": "0200079c7f3133a6fe000000000000000100eeb5deba84cad1c8831861bb8dd943d5ed90806b",
                "destination": "",
                "fee": 1000,
                "source": "bc1q4x2r7eau6vpnr4dya3keqt97qduf5xuh5kakx2",
                "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
                "tx_index": 2740786,
                "unpacked_data": {
                    "message_type": "enhanced_send",
                    "message_type_id": 2,
                    "message_data": {
                        "asset": "PEPETHEFROG",
                        "quantity": 1,
                        "address": "1NmBhD1hainXiAGQweQgtJjfvZvoDcAFdF",
                        "memo": null,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "I'm PEPE THE FROG",
                            "issuer": "1M7HN2wh32YU4AMfMatrAnCcdyfmuow7V3",
                            "divisible": false,
                            "locked": true
                        },
                        "quantity_normalized": "1"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": null,
            "block_index": 852286,
            "block_time": 1721037148
        }
    ],
    "next_cursor": 17629355,
    "result_count": 2740787
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 17629285,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 852278,
                "btc_amount": 11200,
                "destination": "1L3z9ar5eyPM3pLbMtdkr27C9QzBKUaS5r",
                "out_index": 0,
                "tx_hash": "0d545b6460c605fbc1323d1ba19ead6a6a9abd175fd0a4db00e4e5b399c4e717",
                "tx_index": 2740774,
                "block_time": 1721031667,
                "btc_amount_normalized": "0.00011200"
            },
            "tx_hash": null,
            "block_index": 852278,
            "block_time": 1721031667
        }
    ],
    "next_cursor": 17629283,
    "result_count": 14573
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 17629385,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 852293,
                "ledger_hash": "787dc34df0bdd1ef4f9281b18070f79ef138c2aa084bd2f1ff3635b648a18e3d",
                "messages_hash": "8390334c4efa1fec2977e7c198ccd1597d3b5b370b5b432509ea9e74e5425e07",
                "transaction_count": 0,
                "txlist_hash": "ab6263b924db4ec90dab3ff4d90cd431ec576ee9c5eb57369f7a449d1ec0dab7",
                "block_time": 1721040354
            },
            "tx_hash": null,
            "block_index": 852293,
            "block_time": 1721040354
        }
    ],
    "next_cursor": 17629383,
    "result_count": 574024
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 17629370,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
                "tx_index": 2740786
            },
            "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
            "block_index": 852286,
            "block_time": 1721037148
        }
    ],
    "next_cursor": 17629363,
    "result_count": 2737963
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 17629367,
            "event": "DEBIT",
            "params": {
                "action": "send",
                "address": "bc1q4x2r7eau6vpnr4dya3keqt97qduf5xuh5kakx2",
                "asset": "PEPETHEFROG",
                "block_index": 852286,
                "event": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
                "quantity": 1,
                "tx_index": 2740786,
                "block_time": 1721037148,
                "asset_info": {
                    "asset_longname": null,
                    "description": "I'm PEPE THE FROG",
                    "issuer": "1M7HN2wh32YU4AMfMatrAnCcdyfmuow7V3",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
            "block_index": 852286,
            "block_time": 1721037148
        }
    ],
    "next_cursor": 17629361,
    "result_count": 2640435
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 17629368,
            "event": "CREDIT",
            "params": {
                "address": "1NmBhD1hainXiAGQweQgtJjfvZvoDcAFdF",
                "asset": "PEPETHEFROG",
                "block_index": 852286,
                "calling_function": "send",
                "event": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
                "quantity": 1,
                "tx_index": 2740786,
                "block_time": 1721037148,
                "asset_info": {
                    "asset_longname": null,
                    "description": "I'm PEPE THE FROG",
                    "issuer": "1M7HN2wh32YU4AMfMatrAnCcdyfmuow7V3",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
            "block_index": 852286,
            "block_time": 1721037148
        }
    ],
    "next_cursor": 17629360,
    "result_count": 3688776
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 17629369,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "PEPETHEFROG",
                "block_index": 852286,
                "destination": "1NmBhD1hainXiAGQweQgtJjfvZvoDcAFdF",
                "memo": null,
                "quantity": 1,
                "source": "bc1q4x2r7eau6vpnr4dya3keqt97qduf5xuh5kakx2",
                "status": "valid",
                "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
                "tx_index": 2740786,
                "block_time": 1721037148,
                "asset_info": {
                    "asset_longname": null,
                    "description": "I'm PEPE THE FROG",
                    "issuer": "1M7HN2wh32YU4AMfMatrAnCcdyfmuow7V3",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "573e31bbdb677d7b52eacda010af7d498161d7367a8e8f7bdad19fbfa3e5aed6",
            "block_index": 852286,
            "block_time": 1721037148
        }
    ],
    "next_cursor": 17629311,
    "result_count": 542604
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 17629234,
            "event": "MPMA_SEND",
            "params": {
                "asset": "DANKPEPEGARD",
                "block_index": 852271,
                "destination": "15yG8DX3QWEhKPCSxiHkZ4cmEda6ExnLyi",
                "memo": "",
                "msg_index": 1,
                "quantity": 1,
                "source": "1Lhoi43wAkTgei1WK5drpSF9V8Y76jnj89",
                "status": "valid",
                "tx_hash": "28148e0405626dddcaf06cbe15dccc697f08529b78b531bdb756a7f727d3c7ae",
                "tx_index": 2740771,
                "block_time": 1721029657,
                "asset_info": {
                    "asset_longname": null,
                    "description": "imgur/FtxWcKu.jpeg;DANKPEPEGARD",
                    "issuer": "1Lhoi43wAkTgei1WK5drpSF9V8Y76jnj89",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "28148e0405626dddcaf06cbe15dccc697f08529b78b531bdb756a7f727d3c7ae",
            "block_index": 852271,
            "block_time": 1721029657
        }
    ],
    "next_cursor": 17629233,
    "result_count": 283295
}
```

#### `SEND`

```
{
    "result": [
        {
            "event_index": 17628137,
            "event": "SEND",
            "params": {
                "asset": "KATYPEPE",
                "block_index": 852197,
                "destination": "1PuBN63JiiUNMzVBEesq3CyPH7SFCh5Kz",
                "quantity": 1,
                "source": "13pqEEceUhRH7nBd7aTUCaxMd2S2sVZH1V",
                "status": "valid",
                "tx_hash": "278b89cef6fa96ca889f2b18cf529d42edb6e5dfcdddcc5892e0ca72ff500ba9",
                "tx_index": 2740658,
                "block_time": 1720992774,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "1A36UrLHxeg9ABoS4zPsRUegyCWTWER2kF",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "278b89cef6fa96ca889f2b18cf529d42edb6e5dfcdddcc5892e0ca72ff500ba9",
            "block_index": 852197,
            "block_time": 1720992774
        }
    ],
    "next_cursor": 17628133,
    "result_count": 805989
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [
        {
            "event_index": 17608852,
            "event": "ASSET_TRANSFER",
            "params": {
                "asset": "BEACHBOBO",
                "asset_longname": null,
                "block_index": 850620,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "https://easyasset.art/j/1ma577/BEACH.json",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "1LSbNkNGUidmQavQPqbqPR1MxqmHzwwEuY",
                "locked": true,
                "msg_index": 6,
                "quantity": 0,
                "reset": false,
                "source": "1C4jK4TtZ6mr9p7AbebJtALvRD2Z6JVppg",
                "status": "valid",
                "transfer": true,
                "tx_hash": "5e53fb0be50118ce278f32116817443e47aeed0c8ca7ffd5e01c12aa3ae94b67",
                "tx_index": 2738937,
                "block_time": 1720063963,
                "quantity_normalized": "0",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5e53fb0be50118ce278f32116817443e47aeed0c8ca7ffd5e01c12aa3ae94b67",
            "block_index": 850620,
            "block_time": 1720063963
        }
    ],
    "next_cursor": 17608851,
    "result_count": 11045
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 17618751,
            "event": "SWEEP",
            "params": {
                "block_index": 851491,
                "destination": "16F1n49WqX9jFcY3j6CfGCURhCd44uaHUx",
                "fee_paid": 14000000,
                "flags": 3,
                "memo": null,
                "source": "1AmdRiWxB9pNR59j2xpPCm5r7ruipX8NHo",
                "status": "valid",
                "tx_hash": "7e1caf7ffa6db66be3ecd227962e23ccf79d941a1266babf88cab1fa500dec94",
                "tx_index": 2739895,
                "block_time": 1720578229,
                "fee_paid_normalized": "0.14000000"
            },
            "tx_hash": "7e1caf7ffa6db66be3ecd227962e23ccf79d941a1266babf88cab1fa500dec94",
            "block_index": 851491,
            "block_time": 1720578229
        }
    ],
    "next_cursor": 17618560,
    "result_count": 1064
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 17625396,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "HARDCORE",
                "block_index": 851997,
                "dividend_asset": "BARF",
                "fee_paid": 680000,
                "quantity_per_unit": 1,
                "source": "1RUDEjgtMCY8kSJUUvTv4KHMGFgg9LrgF",
                "status": "valid",
                "tx_hash": "9136a360b3ffb28ac66a4f3ee59736e60e285ac36a8848c016d194c6fbccc071",
                "tx_index": 2740389,
                "block_time": 1720887741,
                "asset_info": {
                    "asset_longname": null,
                    "description": "ruderelics.io/json/xcp/HARDCORE.json",
                    "issuer": "1RUDEjgtMCY8kSJUUvTv4KHMGFgg9LrgF",
                    "divisible": false,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "ruderelics.io/json/xcp/BARF.json",
                    "issuer": "1RUDEjgtMCY8kSJUUvTv4KHMGFgg9LrgF",
                    "divisible": false,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1",
                "fee_paid_normalized": "0.00680000"
            },
            "tx_hash": "9136a360b3ffb28ac66a4f3ee59736e60e285ac36a8848c016d194c6fbccc071",
            "block_index": 851997,
            "block_time": 1720887741
        }
    ],
    "next_cursor": 17625340,
    "result_count": 4115
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17625212,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "ROOTS",
                "asset_longname": null,
                "block_index": 851992,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "14KPsMQwqeV478CGYjSDCgYKyNfMMA1bW9",
                "locked": false,
                "quantity": 1,
                "reset": true,
                "source": "14KPsMQwqeV478CGYjSDCgYKyNfMMA1bW9",
                "status": "valid",
                "transfer": false,
                "tx_hash": "1db43e8b07406f315d445059adecbad6389428819bac7da1bfa22a1aabe84a0c",
                "tx_index": 2740374,
                "block_time": 1720886374,
                "quantity_normalized": "0.00000001",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "1db43e8b07406f315d445059adecbad6389428819bac7da1bfa22a1aabe84a0c",
            "block_index": 851992,
            "block_time": 1720886374
        }
    ],
    "next_cursor": 17580792,
    "result_count": 457
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 17629341,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "838828713842287188",
                "asset_longname": null,
                "asset_name": "A838828713842287188",
                "block_index": 852283,
                "block_time": 1721036182
            },
            "tx_hash": "8192721f8cd61ee8cc4644e360a583ce9b4d367b26a269907a0159f9cd6309f1",
            "block_index": 852283,
            "block_time": 1721036182
        }
    ],
    "next_cursor": 17629333,
    "result_count": 237113
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17629357,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "ROUNDDECLOCK",
                "asset_longname": null,
                "block_index": 852285,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "https://easyasset.art/j/8osoah/ROUND.json",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "1KsT1iuaEYXE4cj1a3vC8Q6tmrHmyBLaoT",
                "locked": true,
                "quantity": 0,
                "reset": false,
                "source": "1KsT1iuaEYXE4cj1a3vC8Q6tmrHmyBLaoT",
                "status": "valid",
                "transfer": false,
                "tx_hash": "3e8b38590be753a2ae8482908198efccfc8317cc609513babb14fe9a18d192e9",
                "tx_index": 2740784,
                "block_time": 1721036618,
                "quantity_normalized": "0",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "3e8b38590be753a2ae8482908198efccfc8317cc609513babb14fe9a18d192e9",
            "block_index": 852285,
            "block_time": 1721036618
        }
    ],
    "next_cursor": 17629342,
    "result_count": 324416
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 17628431,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "BASSMINT",
                "block_index": 852218,
                "quantity": 1,
                "source": "16GfbRzKdkekA3D9khLA3bVvNWwJ4Hs6Kc",
                "status": "valid",
                "tag": "444c55584c55582d68747470733a2f2f617277656176652e6e65742f587664757671",
                "tx_hash": "a5a113540fd334e4996b5e1349f3a08b548359a3ae38b9d53ccbe001731e3303",
                "tx_index": 2740705,
                "block_time": 1721000486,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/bqsvtm/BASSMINT.json",
                    "issuer": "17hhaQLGEBNMBxruLYEA2aeW473n8YNEZ5",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "a5a113540fd334e4996b5e1349f3a08b548359a3ae38b9d53ccbe001731e3303",
            "block_index": 852218,
            "block_time": 1721000486
        }
    ],
    "next_cursor": 17628186,
    "result_count": 11304
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 17629338,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 852283,
                "expiration": 8064,
                "expire_index": 860347,
                "fee_provided": 1680,
                "fee_provided_remaining": 1680,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "NINJASUIT",
                "get_quantity": 1,
                "get_remaining": 1,
                "give_asset": "TEST",
                "give_quantity": 1,
                "give_remaining": 1,
                "source": "1NfJnJdAdmm2rJCFW54NsAKqqTTMexCNJ3",
                "status": "open",
                "tx_hash": "ea5cdfc8ba91824b6cc5f1185d2aae6f7093963dd8aa0d9cc2ba41ac70dc565b",
                "tx_index": 2740781,
                "block_time": 1721036182,
                "give_asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/TEST.json",
                    "issuer": "1MPtWb2WkrEaL1vznGNBtLkTvYgq3hL3g4",
                    "divisible": false,
                    "locked": false
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "res.indiesquare.net/json/NINJASUIT.json",
                    "issuer": "1Nh4tPtQjHZSoYdToTF7T3xbaKrTNKM3wP",
                    "divisible": false,
                    "locked": true
                },
                "give_quantity_normalized": "1",
                "get_quantity_normalized": "1",
                "get_remaining_normalized": "1",
                "give_remaining_normalized": "1",
                "fee_provided_normalized": "0.00001680",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00001680"
            },
            "tx_hash": "ea5cdfc8ba91824b6cc5f1185d2aae6f7093963dd8aa0d9cc2ba41ac70dc565b",
            "block_index": 852283,
            "block_time": 1721036182
        }
    ],
    "next_cursor": 17629227,
    "result_count": 533350
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 17626267,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "XCP",
                "backward_quantity": 200000000,
                "block_index": 852052,
                "fee_paid": 0,
                "forward_asset": "DANKNEWPEPA",
                "forward_quantity": 1,
                "id": "5d7f8aa158481de8b4af9275f49f7c637b020871bc6faeb48709e32f12708be5_08a54f64907e794fb3c801c5cf278a09e52c37d6f399097aa283ff94aaa79d31",
                "match_expire_index": 852072,
                "status": "completed",
                "tx0_address": "19QWXpMXeLkoEKEJv2xo9rn8wkPCyxACSX",
                "tx0_block_index": 844021,
                "tx0_expiration": 8064,
                "tx0_hash": "5d7f8aa158481de8b4af9275f49f7c637b020871bc6faeb48709e32f12708be5",
                "tx0_index": 2732780,
                "tx1_address": "14QSKTMmMNQ9tGg1ahEGTEaPj1EhxXz2zN",
                "tx1_block_index": 852052,
                "tx1_expiration": 8064,
                "tx1_hash": "08a54f64907e794fb3c801c5cf278a09e52c37d6f399097aa283ff94aaa79d31",
                "tx1_index": 2740434,
                "block_time": 1720914794,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/DANKNEWPEPA.json",
                    "issuer": "1LQfMD2VWmWJvFfoyUmCN4s2q7ny5Z7QF9",
                    "divisible": false,
                    "locked": true
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "forward_quantity_normalized": "1",
                "backward_quantity_normalized": "2.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "08a54f64907e794fb3c801c5cf278a09e52c37d6f399097aa283ff94aaa79d31",
            "block_index": 852052,
            "block_time": 1720914794
        }
    ],
    "next_cursor": 17626112,
    "result_count": 209786
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17629348,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "3b670bc771bfb1fb6df3358c6db9642b8735f059ec2662fc0a6840f6f00d37d4"
            },
            "tx_hash": "d36130058341be438f40a322b95b1d8d6d8de6b8b227e20ec72ada68bbdba620",
            "block_index": 852284,
            "block_time": 1721036400
        }
    ],
    "next_cursor": 17629270,
    "result_count": 736081
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 17624472,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "dccd48a7c5b4b66ea1f5eab4c5569d18df300f2a92aa4acf0f05c6411673b717"
            },
            "tx_hash": "5c8371dff064ffddc23b17744ab52fb7b9e83369f36e3bef00d184af5824f3c3",
            "block_index": 851940,
            "block_time": 1720856155
        }
    ],
    "next_cursor": 17624471,
    "result_count": 819
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 17626778,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "f7602d8219a860400f9912af1d29989c041474aaef185e306d1041d3bfcae5dc_8eeb3abb8d6ce3dcbe8ef5cd9012f451620a0a4067ae86c4433aab6e4399c871",
                "order_match_id": "f7602d8219a860400f9912af1d29989c041474aaef185e306d1041d3bfcae5dc_8eeb3abb8d6ce3dcbe8ef5cd9012f451620a0a4067ae86c4433aab6e4399c871",
                "status": "expired"
            },
            "tx_hash": null,
            "block_index": 852063,
            "block_time": 1720921721
        }
    ],
    "next_cursor": 17626066,
    "result_count": 23786
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 17624473,
            "event": "BTC_PAY",
            "params": {
                "block_index": 851940,
                "btc_amount": 11440000,
                "destination": "16mrwziWRBYhSPcWdJkaCvBuawXosLnTeG",
                "order_match_id": "3f57223ffc3144a3fc4d36e81fa7c378206d279005705ee1dad23eeb71750224_dccd48a7c5b4b66ea1f5eab4c5569d18df300f2a92aa4acf0f05c6411673b717",
                "source": "bc1qp54rfvgmcevef7x3r07nll53nhgkklwkk7ma0s",
                "status": "valid",
                "tx_hash": "5c8371dff064ffddc23b17744ab52fb7b9e83369f36e3bef00d184af5824f3c3",
                "tx_index": 2740352,
                "block_time": 1720856155,
                "btc_amount_normalized": "0.11440000"
            },
            "tx_hash": "5c8371dff064ffddc23b17744ab52fb7b9e83369f36e3bef00d184af5824f3c3",
            "block_index": 851940,
            "block_time": 1720856155
        }
    ],
    "next_cursor": 17624372,
    "result_count": 2938
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 17629350,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 852284,
                "offer_hash": "3b670bc771bfb1fb6df3358c6db9642b8735f059ec2662fc0a6840f6f00d37d4",
                "source": "bc1q4x2r7eau6vpnr4dya3keqt97qduf5xuh5kakx2",
                "status": "valid",
                "tx_hash": "d36130058341be438f40a322b95b1d8d6d8de6b8b227e20ec72ada68bbdba620",
                "tx_index": 2740783,
                "block_time": 1721036400
            },
            "tx_hash": "d36130058341be438f40a322b95b1d8d6d8de6b8b227e20ec72ada68bbdba620",
            "block_index": 852284,
            "block_time": 1721036400
        }
    ],
    "next_cursor": 17628955,
    "result_count": 80364
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17629272,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 852276,
                "order_hash": "2d458430e2b13bd6715763ea24ceef1c34d9b662258a06e9bcb6c038895adf91",
                "source": "19QWXpMXeLkoEKEJv2xo9rn8wkPCyxACSX",
                "block_time": 1721031433
            },
            "tx_hash": null,
            "block_index": 852276,
            "block_time": 1721031433
        }
    ],
    "next_cursor": 17629266,
    "result_count": 198329
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17626781,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 852063,
                "order_match_id": "f7602d8219a860400f9912af1d29989c041474aaef185e306d1041d3bfcae5dc_8eeb3abb8d6ce3dcbe8ef5cd9012f451620a0a4067ae86c4433aab6e4399c871",
                "tx0_address": "1MwGHzUm3gjb8S4EHhaGKDf1L6rNRugrE2",
                "tx1_address": "bc1qreefy33thdnsrjk4my23upe3qpsf2g6hfc44gk",
                "block_time": 1720921721
            },
            "tx_hash": null,
            "block_index": 852063,
            "block_time": 1720921721
        }
    ],
    "next_cursor": 17626069,
    "result_count": 20940
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17627167,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "A4592516168610987000",
                "block_index": 853554,
                "dispense_count": 0,
                "escrow_quantity": 1,
                "give_quantity": 1,
                "give_remaining": 1,
                "oracle_address": null,
                "origin": "1MkY4ZABm1bG6h8wug68D8UQjZrbgmRJ1A",
                "satoshirate": 280000,
                "source": "bc1q2wl52mkdy4se92pkhyx09hqdc52jk2h0gam5f2",
                "status": 0,
                "tx_hash": "a845aa75f9f509150261e2e75e709bf15c1f1d9fb5e1d7504d84b9c35e444054",
                "tx_index": 2742077,
                "block_time": 1721735040,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:R0lGODlhHAAcAMQAACuAtm3EFvbbPvfw8DQ5RP///9bR0eRtIwoDEVSKHvXppCyAti2Ati2Bti+Cti2BtTKDtDSEtC+CtDyIsjmGsgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQEMgAAACwAAAAAHAAcAAAF1yAgjmRpnmiqrmzrvuUgzzMa3HdM70O5CAKFUCgYGY5IZG3UADoDQBEuYJhSl4DmE1q0VqcGLOBhlVoT3rBsFClbb+j3sTcq2AuAdyAuD5MIgAQABQh3dgmEhgVUfiOBggiFdwkJkYY3XwGOgQCWk5WSdgEDmZuAAEmpqqQ4poIHsLGys6yjrp2Rubq6B6Rzt7PBsaNzdAuPABCZV3qkWMgNPNI7I8ecCwDT0yTWgQ1S02Ulj6eDdkCKdyjkjwUCduyc4/EE7vD0gvPs9gX4+frt3vXDJyIEACH5BAQyAAAALAAAAAAcABwAAAXqICCOwmieZ6maJdqijyALD/DaLOqK966zsx9vNCgajUMcIMBkno7Q4kywYMgUWOzLwO12kSPHVBCQiZhkQ5NpAAPEM3RpHVCv20WThH4uNxN0XG4TfGtkAYB0dW1DBY4FS4qJioJAZgUCj44JmJoFiwOWKpmPCQkymmxNJEGopaekjgEDdgGsZl65urSro2YHwMHCw7yzPFMACMrLzMwHtJXHv8PUwLOCoQBWQRS1dQOK127IDlHmUCPbZgwA5+cmC2MOZwJQ9XxJYy2Prp6QSdL0dcKkz0yKgplIITSoBOHAhS1uFHy4UEQIADs=",
                    "issuer": "14EnqBDJMHF5QWrmwCYE7WvfinyZZGHo89",
                    "divisible": false,
                    "locked": true
                },
                "give_quantity_normalized": "1",
                "give_remaining_normalized": "1",
                "escrow_quantity_normalized": "1",
                "satoshirate_normalized": "0.00280000"
            },
            "tx_hash": "a845aa75f9f509150261e2e75e709bf15c1f1d9fb5e1d7504d84b9c35e444054",
            "block_index": 853554,
            "confirmed": true,
            "block_time": 1721735040
        }
    ],
    "next_cursor": 17627159,
    "result_count": 90076
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17629295,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "PEPECASH",
                "dispense_count": 2,
                "give_remaining": 24935400000000,
                "source": "1L3z9ar5eyPM3pLbMtdkr27C9QzBKUaS5r",
                "status": 0,
                "tx_hash": "1d9de82b6d758c378d6799e332f3124c8444dcc3f4e03ebfd57f6a4438f98409",
                "asset_info": {
                    "asset_longname": null,
                    "description": "http://rarepepedirectory.com/json/pc.json",
                    "issuer": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "249354.00000000"
            },
            "tx_hash": "0d545b6460c605fbc1323d1ba19ead6a6a9abd175fd0a4db00e4e5b399c4e717",
            "block_index": 852278,
            "block_time": 1721031667
        }
    ],
    "next_cursor": 17629291,
    "result_count": 232534
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17611801,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "BITCRYSTALS",
                "block_index": 850828,
                "destination": "1LvbMVzJNRDBJxWZC1eAmGLQ98DMiZtwMq",
                "dispense_quantity": 200000000000,
                "dispenser_tx_hash": "afd5edcc9cd3b10673f1c0585f76152d754bb3def3d2ea278267a28343908a5a",
                "source": "1GGPR9a7CmdkGp6eSjg79nDEGYCM2CBqGr",
                "tx_hash": "12e58d871c943c3ecbc52fac822e1bad76f8498eac503dfe87744ca08ec7f690",
                "tx_index": 2739177,
                "block_time": 1720204537,
                "asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/BITCRYSTALS.json",
                    "issuer": "1PWqaoM6xhfmbHWFMqcLGMeAXcx8DvT3iK",
                    "divisible": true,
                    "locked": false
                },
                "dispense_quantity_normalized": "2000.00000000"
            },
            "tx_hash": "12e58d871c943c3ecbc52fac822e1bad76f8498eac503dfe87744ca08ec7f690",
            "block_index": 850828,
            "block_time": 1720204537
        }
    ],
    "next_cursor": 17505345,
    "result_count": 189
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 17629296,
            "event": "DISPENSE",
            "params": {
                "asset": "PEPECASH",
                "block_index": 852278,
                "btc_amount": 11200,
                "destination": "1AnhxE3qcBU9zyyZzkYs4TY7AMj5spqEK9",
                "dispense_index": 0,
                "dispense_quantity": 20000000000,
                "dispenser_tx_hash": "1d9de82b6d758c378d6799e332f3124c8444dcc3f4e03ebfd57f6a4438f98409",
                "source": "1L3z9ar5eyPM3pLbMtdkr27C9QzBKUaS5r",
                "tx_hash": "0d545b6460c605fbc1323d1ba19ead6a6a9abd175fd0a4db00e4e5b399c4e717",
                "tx_index": 2740774,
                "block_time": 1721031667,
                "asset_info": {
                    "asset_longname": null,
                    "description": "http://rarepepedirectory.com/json/pc.json",
                    "issuer": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "200.00000000",
                "btc_amount_normalized": "0.00011200"
            },
            "tx_hash": "0d545b6460c605fbc1323d1ba19ead6a6a9abd175fd0a4db00e4e5b399c4e717",
            "block_index": 852278,
            "block_time": 1721031667
        }
    ],
    "next_cursor": 17629292,
    "result_count": 193191
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 17628269,
            "event": "BROADCAST",
            "params": {
                "block_index": 852204,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "1CRjCTJkLcmEBJBZn2UE2obfS6v9FMqmWN",
                "status": "valid",
                "text": "bt:MINT|0|GAS|60",
                "timestamp": 1709019240,
                "tx_hash": "7ee0bd6bad2c6e6e46c04d59e2af5339b2708d89c8e7e774939bb4da89af4868",
                "tx_index": 2740688,
                "value": 0.0,
                "block_time": 1720994963,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "7ee0bd6bad2c6e6e46c04d59e2af5339b2708d89c8e7e774939bb4da89af4868",
            "block_index": 852204,
            "block_time": 1720994963
        }
    ],
    "next_cursor": 17628267,
    "result_count": 106578
}
```

### Bets

#### `OPEN_BET`

```
{
    "result": [
        {
            "event_index": 5779773,
            "event": "OPEN_BET",
            "params": {
                "bet_type": 2,
                "block_index": 471011,
                "counterwager_quantity": 2799999999,
                "counterwager_remaining": 2799999999,
                "deadline": 471400,
                "expiration": 565,
                "expire_index": 471576,
                "fee_fraction_int": 0.0,
                "feed_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "leverage": 5040,
                "source": "1AuspQ6wRmryPQ3SuPoy4LaVJSRdafF1Wj",
                "status": "invalid: feed doesn\u2019t exist",
                "target_value": 7.0,
                "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
                "tx_index": 957135,
                "wager_quantity": 200000000,
                "wager_remaining": 200000000,
                "block_time": 1497305046,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
            "block_index": 471011,
            "block_time": 1497305046
        }
    ],
    "next_cursor": 5777249,
    "result_count": 1149
}
```

#### `BET_UPDATE`

```
{
    "result": [
        {
            "event_index": 5798143,
            "event": "BET_UPDATE",
            "params": {
                "status": "expired",
                "tx_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462"
            },
            "tx_hash": null,
            "block_index": 471534,
            "block_time": 1497614713
        }
    ],
    "next_cursor": 5346000,
    "result_count": 1474
}
```

#### `BET_MATCH`

```
{
    "result": [
        {
            "event_index": 5234766,
            "event": "BET_MATCH",
            "params": {
                "backward_quantity": 50000000,
                "block_index": 460217,
                "deadline": 1491577200,
                "fee_fraction_int": 3000000,
                "feed_address": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ",
                "forward_quantity": 699999999,
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "initial_value": 10.0,
                "leverage": 5040,
                "match_expire_index": 460775,
                "status": "pending",
                "target_value": 7.0,
                "tx0_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "tx0_bet_type": 3,
                "tx0_block_index": 460217,
                "tx0_expiration": 558,
                "tx0_hash": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c",
                "tx0_index": 866660,
                "tx1_address": "1AEV18DTJjJBUWXhqm2aWCkLHWV2tGVTVY",
                "tx1_bet_type": 2,
                "tx1_block_index": 460625,
                "tx1_expiration": 273,
                "tx1_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "tx1_index": 869523,
                "block_time": 1491221704,
                "fee_fraction_int_normalized": "0.03000000"
            },
            "tx_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
            "block_index": 460625,
            "block_time": 1491461927
        }
    ],
    "next_cursor": 5216626,
    "result_count": 397
}
```

#### `BET_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 5242801,
            "event": "BET_MATCH_UPDATE",
            "params": {
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "status": "settled: for equal"
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "block_time": 1491604209
        }
    ],
    "next_cursor": 5242797,
    "result_count": 397
}
```

#### `BET_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 5798145,
            "event": "BET_EXPIRATION",
            "params": {
                "bet_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462",
                "bet_index": 956800,
                "block_index": 471534,
                "source": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ",
                "block_time": 1497614713
            },
            "tx_hash": null,
            "block_index": 471534,
            "block_time": 1497614713
        }
    ],
    "next_cursor": 5346002,
    "result_count": 588
}
```

#### `BET_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 2713911,
            "event": "BET_MATCH_EXPIRATION",
            "params": {
                "bet_match_id": "f1200f1e6fff75b3791455e7692b9a5e296f00d0b1cec5cef2d5491ae249b300_bc07aed52c4cc853d10932624f37de5854f4c3f0825f731259af1f071b8ea0bc",
                "block_index": 403907,
                "tx0_address": "1Ch9trfp2ULuPxnU81cA3TDvW17L8YRw6r",
                "tx1_address": "1BsQTfk6tyKgVyReFCoADSrv33bJ6mfMYv",
                "block_time": 1458731182
            },
            "tx_hash": null,
            "block_index": 403907,
            "block_time": 1458731182
        }
    ],
    "next_cursor": 881018,
    "result_count": 9
}
```

#### `BET_MATCH_RESOLUTON`

```
{
    "result": [
        {
            "event_index": 5242800,
            "event": "BET_MATCH_RESOLUTON",
            "params": {
                "bear_credit": null,
                "bet_match_id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "bet_match_type_id": 5,
                "block_index": 460878,
                "bull_credit": null,
                "escrow_less_fee": 727500000,
                "fee": 22499999,
                "settled": null,
                "winner": "Equal",
                "block_time": 1491604209
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "block_time": 1491604209
        }
    ],
    "next_cursor": 5242796,
    "result_count": 387
}
```

#### `CANCEL_BET`

```
{
    "result": [
        {
            "event_index": 851182,
            "event": "CANCEL_BET",
            "params": {
                "block_index": 334697,
                "offer_hash": "b8b101d796b4977d8a7a33486cd17484f3750c01c29675981a775b73622476d1",
                "source": "1PLh4si7FFZ7NSbFpeDbtdVwgwzNH7DHnT",
                "status": "valid",
                "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
                "tx_index": 126800,
                "block_time": 1418823249
            },
            "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
            "block_index": 334697,
            "block_time": 1418823249
        }
    ],
    "next_cursor": 847023,
    "result_count": 101
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 21378,
            "event": "BURN",
            "params": {
                "block_index": 283810,
                "burned": 10000000,
                "earned": 10000000000,
                "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                "status": "valid",
                "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                "tx_index": 3070,
                "block_time": 1391371108,
                "burned_normalized": "0.10000000",
                "earned_normalized": "100.00000000"
            },
            "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
            "block_index": 283810,
            "block_time": 1391371108
        }
    ],
    "next_cursor": 21373,
    "result_count": 2576
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `840000` (int, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `2` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840000,
                    "block_hash": "0000000000000000000320283a032748cef8227873ff4872689bf23f1cda83a5",
                    "block_time": 1713571767,
                    "previous_block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "difficulty": 386089497,
                    "ledger_hash": "b91dd54cfbd3aff07b358a038bf6174ddc06f36bd00cdccf048e8281bcd56224",
                    "txlist_hash": "b641c3e190b9941fcd5c84a7c07e66c03559ef26dcea892e2db1cf1d8392a4f2",
                    "messages_hash": "b78474359d6a78ba55f6706a5154032bef9b17ae5cf5b45bc8f23d25e90fc3aa",
                    "transaction_count": 0
                },
                {
                    "block_index": 839999,
                    "block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "block_time": 1713571533,
                    "previous_block_hash": "00000000000000000001dcce6ce7c8a45872cafd1fb04732b447a14a91832591",
                    "difficulty": 386089497,
                    "ledger_hash": "e2b2e23c2ac1060dafe2395da01fe5907f323b5a644816f45f003411c612ac30",
                    "txlist_hash": "f33f800ef166e6ef5b3df15a0733f9fd3ebb0b799f39ef1951e6709118b7c0fd",
                    "messages_hash": "c9a39bd697aa1392f878bbc52ee35348ce355c182af257872bf94770384cad59",
                    "transaction_count": 0
                }
            ],
            "next_cursor": 839998,
            "result_count": 574024
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d",
                "difficulty": 386089497,
                "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46",
                "messages_hash": "feec71dcf40367eeb0e3371aee4caf4e7406bcdf2e88f574710957e32d0fcfab",
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `0000000000000000000073b0a277154cbc420e04fd8c699ae188d8d4421418ad` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 844401,
                "block_hash": "0000000000000000000073b0a277154cbc420e04fd8c699ae188d8d4421418ad",
                "block_time": 1716270324,
                "previous_block_hash": "00000000000000000000108f5c32f545b2a1727e3a5f4b216d195a0e5150ebd5",
                "difficulty": 386097818,
                "ledger_hash": "f15379c7451713abb91776214fbdcee0218fa6043a9b7754f18671a2957e1bc8",
                "txlist_hash": "232407297ace6ecd2d133e84462e8126c4fb32edf98851188416f3fc2519aee7",
                "messages_hash": "11704b592c6c19194ca39f1124b83ac378c68c25217300cb5f53d5aa2f534797",
                "transaction_count": 0
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor: `10665092` (int, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "block_index": 840464,
                    "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                    "block_time": 1713852783,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "destination": "",
                    "btc_amount": 0,
                    "fee": 56565,
                    "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                    "supported": true,
                    "unpacked_data": {
                        "message_type": "issuance",
                        "message_type_id": 22,
                        "message_data": {
                            "asset_id": 75313533584419238,
                            "asset": "UNNEGOTIABLE",
                            "subasset_longname": null,
                            "quantity": 1,
                            "divisible": false,
                            "lock": false,
                            "reset": false,
                            "callable": false,
                            "call_date": 0,
                            "call_price": 0.0,
                            "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                            "status": "valid",
                            "quantity_normalized": "1"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 8
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "CREDIT",
                    "event_count": 1
                }
            ],
            "next_cursor": "BLOCK_PARSED",
            "result_count": 8
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 17489369,
                    "event": "CREDIT",
                    "params": {
                        "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "asset": "UNNEGOTIABLE",
                        "block_index": 840464,
                        "calling_function": "issuance",
                        "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                        "quantity": 1,
                        "tx_index": 2726605,
                        "block_time": 1713852783,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                            "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                            "divisible": false,
                            "locked": true
                        },
                        "quantity_normalized": "1"
                    },
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "calling_function": "issuance",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "block_time": 1713852783,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                        "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "divisible": false,
                        "locked": true
                    },
                    "quantity_normalized": "1"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "XCP",
                    "quantity": 50000000,
                    "action": "issuance fee",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "block_time": 1713852783,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `840356` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "b048661afeee3f266792481168024abc0d7648fe0e019e4a1e0fd9867c2c0ffc",
                    "block_index": 840356,
                    "block_time": 1713797719
                },
                {
                    "type": "order",
                    "object_id": "533d5c0ecd8ca9c2946d3298cc5e570eee55b62b887dd85c95de6de4fdc7f441",
                    "block_index": 840356,
                    "block_time": 1713797719
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `839746` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2725739,
                    "tx_hash": "2071e8a6fbc0c443b152d513c754356f8f962db2fa694de8c6826b57413cc190",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "b1622dbe4f0ce740cb6c18f6f136876bc4949c40a62bc8cceefa81fd6679a57f",
                    "status": "valid",
                    "block_time": 1713429399
                },
                {
                    "tx_index": 2725738,
                    "tx_hash": "793af9129c7368f974c3ea0c87ad38131f0d82d19fbaf1adf8aaf2e657ec42b8",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "04b258ac37f73e3b9a8575110320d67c752e1baace0f516da75845f388911735",
                    "status": "valid",
                    "block_time": 1713429399
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `839988` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726496,
                    "tx_hash": "f5609facc8dac6cdf70b15c514ea15a9acc24a9bd86dcac2b845d5740fbcc50b",
                    "block_index": 839988,
                    "source": "1FpLAtreZjTVCMcj1pq1AHWuqcs3n7obMm",
                    "asset": "COBBEE",
                    "quantity": 50000,
                    "tag": "",
                    "status": "valid",
                    "block_time": 1713564405,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://easyasset.art/j/m4dl0x/COBBE.json",
                        "issuer": "1P3KQWLsTPXVWimiF2Q6WSES5vbJE8be5i",
                        "divisible": false,
                        "locked": false
                    },
                    "quantity_normalized": "50000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "msg_index": 0,
                    "block_index": 840464,
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "divisible": false,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "locked": false,
                    "reset": false,
                    "block_time": 1713852783,
                    "quantity_normalized": "1",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `840459` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726604,
                    "tx_hash": "b4bbb14c99dd260eb634243e5c595e1b7213459979857a32850de84989bb71ec",
                    "block_index": 840459,
                    "source": "13Hnmhs5gy2yXKVBx4wSM5HCBdKnaSBZJH",
                    "destination": "1LfT83WAxbN9qKhtrXxcQA6xgdhfZk21Hz",
                    "asset": "GAMESOFTRUMP",
                    "quantity": 1,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "block_time": 1713849616,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
                        "divisible": false,
                        "locked": false
                    },
                    "quantity_normalized": "1"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `840322` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726580,
                    "dispense_index": 0,
                    "tx_hash": "e7f0f2c9bef7a492b714a5952ec61b283be344419c5bc33f405f9af41ebfa48b",
                    "block_index": 840322,
                    "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                    "destination": "bc1qzcdkhnexpjc8wvkyrpyrsn0f5xzcpu877mjmgj",
                    "asset": "FLOCK",
                    "dispense_quantity": 90000000000,
                    "dispenser_tx_hash": "753787004d6e93e71f6e0aa1e0932cc74457d12276d53856424b2e4088cc542a",
                    "btc_amount": 2994590,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 2536311,
                        "block_index": 817905,
                        "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "give_quantity": 10000000000,
                        "escrow_quantity": 250000000000,
                        "satoshirate": 330000,
                        "status": 0,
                        "give_remaining": 140000000000,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": null,
                        "oracle_price": null,
                        "fiat_unit": null,
                        "oracle_price_last_updated": null,
                        "satoshi_price": 330000,
                        "give_quantity_normalized": "100.00000000",
                        "give_remaining_normalized": "1400.00000000",
                        "escrow_quantity_normalized": "2500.00000000",
                        "satoshirate_normalized": "0.00330000",
                        "satoshi_price_normalized": "0.00330000"
                    },
                    "block_time": 1713778817,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "18VNeRv8vL528HF7ruKwxycrfNEeoqmHpa",
                        "divisible": true,
                        "locked": true
                    },
                    "dispense_quantity_normalized": "900.00000000",
                    "btc_amount_normalized": "0.02994590"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `836519` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2720537,
                    "tx_hash": "d8db6281abffdbf6c320d5ade06aeb6fad2f7bfa1a2c2243c6726020a27107d3",
                    "block_index": 836519,
                    "source": "18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000,
                    "block_time": 1711548175,
                    "fee_paid_normalized": "0.01400000"
                },
                {
                    "tx_index": 2720536,
                    "tx_hash": "9309a4c0aed426e281a52e5d48acadd1464999269a5e75cf2293edd0277d743d",
                    "block_index": 836519,
                    "source": "1DMVnJuqBobXA9xYioabBsR4mN8bvVtCAW",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000,
                    "block_time": 1711548175,
                    "fee_paid_normalized": "0.01400000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

## Group Transactions

There are 14 types of transactions:

- `bet`
- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `send`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Bet**

```
{
    "result": {
        "tx_index": 957135,
        "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
        "block_index": 471011,
        "block_hash": "000000000000000000414e0e6d1b730eafadcc10fe7f537669e93ae623a81b61",
        "block_time": 1497305046,
        "source": "1AuspQ6wRmryPQ3SuPoy4LaVJSRdafF1Wj",
        "destination": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
        "btc_amount": 5470,
        "fee": 20000,
        "data": "00000028000200073168000000000bebc20000000000a6e49bff401c000000000000000013b000000235",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "bet",
            "message_type_id": 40,
            "message_data": {
                "bet_type": 2,
                "deadline": 471400,
                "wager_quantity": 200000000,
                "counterwager_quantity": 2799999999,
                "target_value": 7.0,
                "leverage": 5040,
                "expiration": 565,
                "status": "open"
            }
        },
        "btc_amount_normalized": "0.00005470"
    }
}
```

**Broadcast**

```
{
    "result": {
        "tx_index": 2738294,
        "tx_hash": "ac53a9c1a209b3d697ba818d5dce34b83622e44c64d7127187472604d845d33a",
        "block_index": 850011,
        "block_hash": "000000000000000000017912ccf5b59ef92442857dbcea7ddb8b6a0a42e0b524",
        "block_time": 1719693241,
        "source": "1D5bx2MFe5toDDvzrZdYsUVoEgZNkSfJqX",
        "destination": "",
        "btc_amount": 0,
        "fee": 4240,
        "data": "1e66806f740000000000000000000000001062743a4d494e547c307c4761737c3630",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 1719693172,
                "value": 0.0,
                "fee_fraction_int": 0,
                "text": "bt:MINT|0|Gas|60",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 2736361,
        "tx_hash": "907ce0bf1cc9c24297900478cd387922817373acd208d1b8fd0aa91c0bf198b6",
        "block_index": 847877,
        "block_hash": "000000000000000000034979023781bbc63e5d3af9902e4b9a9b3876132ee400",
        "block_time": 1718355576,
        "source": "bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l",
        "destination": "1JsPoV5USoFM7441KtGXtvMH5ezNwq9Uak",
        "btc_amount": 9120000,
        "fee": 7092,
        "data": "0b5cb3043e99f063f12b57d0a50884d662d165448aa67527d7cb1df46fe1487d8ad0f296cab5cc8ad4d2bc425f080c22a7d19991499ecb3294a0d8d642b0ef47fc",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "5cb3043e99f063f12b57d0a50884d662d165448aa67527d7cb1df46fe1487d8a",
                "tx1_hash": "d0f296cab5cc8ad4d2bc425f080c22a7d19991499ecb3294a0d8d642b0ef47fc",
                "order_match_id": "5cb3043e99f063f12b57d0a50884d662d165448aa67527d7cb1df46fe1487d8a_d0f296cab5cc8ad4d2bc425f080c22a7d19991499ecb3294a0d8d642b0ef47fc",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.09120000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 2738503,
        "tx_hash": "849ef3d0e16e5ebed4fd9a993dec006c30f9dc29e3cb4ae7e1250b3c1181b946",
        "block_index": 850222,
        "block_hash": "00000000000000000001c10dd16cfe47cc1855e67f6fd959b3d39fba0c32d114",
        "block_time": 1719831390,
        "source": "bc1q4x2r7eau6vpnr4dya3keqt97qduf5xuh5kakx2",
        "destination": "",
        "btc_amount": 0,
        "fee": 2200,
        "data": "4672da46818180380665d18dea685ad1ba0ca7963fa8ea7e815e3ae5447ce5d288",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "72da46818180380665d18dea685ad1ba0ca7963fa8ea7e815e3ae5447ce5d288",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 2738497,
        "tx_hash": "379d40c067f8ecfbbdc59e030a383d746b7f94e8a1a7e2cd8f66cd2bd3523d4b",
        "block_index": 850219,
        "block_hash": "00000000000000000000e1f253086abcdea99ff90dd42e90b45d3e469dac35b2",
        "block_time": 1719830372,
        "source": "1GkD5tN9L81uYs9bkdbGSzccXnNpXLUPsn",
        "destination": "",
        "btc_amount": 0,
        "fee": 2497,
        "data": "6e20b233cf961188a60000000000000001",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "A2356002521737169062",
                "quantity": 1,
                "tag": "",
                "asset_info": {
                    "asset_longname": "FAKECATTELAN.REDEEM",
                    "description": "",
                    "issuer": "1AXJ8G5KwoTbtxbGHQQUp9dFwKP2RHPRwh",
                    "divisible": false,
                    "locked": false
                },
                "quantity_normalized": "1"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 2738502,
        "tx_hash": "7f7c862b7cee2fcd9f87006a93ec71c80fe61175dfd634c6241f6f04d4007b8d",
        "block_index": 850221,
        "block_hash": "00000000000000000000e1b31f01483f50e297a5b8ffe8cd53aa4b16c80d54fd",
        "block_time": 1719830596,
        "source": "1DX4C1VxK2xKQSm3XPBcNHajXoEocL1TFa",
        "destination": "",
        "btc_amount": 0,
        "fee": 2000,
        "data": "0c54ef9bde73de17f60000000000000001000000000000000100000000000186a00180f82043b8e1916c864a013aa3c529281653473062",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "A6120281798348773366",
                "give_quantity": 1,
                "escrow_quantity": 1,
                "mainchainrate": 100000,
                "dispenser_status": 1,
                "action_address": "bc1qlqsy8w8pj9kgvjsp823u22fgzef5wvrzagtacf",
                "oracle_address": null,
                "status": "valid",
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAG1BMVEX/3Llp8K7xwjL/2Wb//wD3smv2Kyv///8AAAAkF/boAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAaklEQVR4nL3QUQ7AIAgD0KqAu/+JF0RJQPa7fvrSGkX7CP6DMfrQtAR6lgQHeo+Ccw4gCPYNcBg3hAoc5jNNMjCzdYopWyuAlwSYp5FhNUSkBNFcoPNr6WqY6I8V7+BewS5kIAJAF5DH4QWxwQNpBkRxPAAAAABJRU5ErkJggg==",
                    "issuer": "15WzA2u8yBsMnhAVnGLmuSYHqB2vivD6jK",
                    "divisible": false,
                    "locked": true
                },
                "give_quantity_normalized": "1",
                "escrow_quantity_normalized": "1"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 2738489,
        "tx_hash": "0fbe9c14868ba246ad4ca57cf198e567e7febbbac163b1f94f11c222734ac697",
        "block_index": 850214,
        "block_hash": "00000000000000000001871ce6a6452bb27a3463af09470d9a9ee1d8ef9069e9",
        "block_time": 1719826076,
        "source": "1PHnxfHgojebxzW6muz8zfbE4bkDtbEudx",
        "destination": "1L7aoyA1ZJ75ZW6bLfzpxySfxA1hWZdxEK",
        "btc_amount": 80000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {}
        },
        "btc_amount_normalized": "0.00080000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 2738123,
        "tx_hash": "24d1085df0c76f1360a0d9673cd526bc7ab1da0d3c35b76089376be45bd9ba79",
        "block_index": 849884,
        "block_hash": "0000000000000000000147eba3ff17ccc705b72d1d4b35d04728ecec44c64461",
        "block_time": 1719621970,
        "source": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
        "destination": "",
        "btc_amount": 0,
        "fee": 3760,
        "data": "3200000000000000010000200383b7de32000002da470a5f44",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dividend",
            "message_type_id": 50,
            "message_data": {
                "asset": "GMONEYPEPE",
                "quantity_per_unit": 1,
                "dividend_asset": "PANICINDC",
                "status": "valid",
                "asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/GMONEYPEPE.json",
                    "issuer": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
                    "divisible": false,
                    "locked": true
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/o7qpwv/PANIC.json",
                    "issuer": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
                    "divisible": false,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Issuance**

```
{
    "result": {
        "tx_index": 2738473,
        "tx_hash": "6317d1aaad7475da9b371009a2294f89865f399cc5b7757767ca439c2e5c5d34",
        "block_index": 850188,
        "block_hash": "00000000000000000001b6d27a8e395696a9228642f5453b4ccab62f86114900",
        "block_time": 1719806248,
        "source": "1L7aoyA1ZJ75ZW6bLfzpxySfxA1hWZdxEK",
        "destination": "",
        "btc_amount": 0,
        "fee": 3000,
        "data": "16000000000bddfb6f0000000000000000000100c04e554c4c",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "issuance",
            "message_type_id": 22,
            "message_data": {
                "asset_id": 199097199,
                "asset": "QTRUMP",
                "subasset_longname": null,
                "quantity": 0,
                "divisible": false,
                "lock": true,
                "reset": false,
                "callable": false,
                "call_date": 0,
                "call_price": 0.0,
                "description": "https://easyasset.art/j/lpv7ts/QTRUM.json",
                "status": "valid",
                "quantity_normalized": "0"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Order**

```
{
    "result": {
        "tx_index": 2738470,
        "tx_hash": "9fb644511d310b97d674d5698a8ae5723321d7862340edf7bb44af10c6a698dc",
        "block_index": 850181,
        "block_hash": "00000000000000000000a598e3869af01ef154d1b2e032166c050e08eb79912b",
        "block_time": 1719801301,
        "source": "1CcMMYuzcquFRaKQdGf4dJiVXQaK9Q7VUS",
        "destination": "",
        "btc_amount": 0,
        "fee": 2578,
        "data": "0a001c2d4c30eb537200000000000000150000001c61620c4b0000016eb550c6001f800000000000000000",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "order",
            "message_type_id": 10,
            "message_data": {
                "give_asset": "CEETHREEPEPE",
                "give_quantity": 21,
                "get_asset": "PEPECASH",
                "get_quantity": 1575000000000,
                "expiration": 8064,
                "fee_required": 0,
                "status": "open",
                "give_asset_info": {
                    "asset_longname": null,
                    "description": "All the derps",
                    "issuer": "175SqKu9i3N7iPmXLisUAHEsXAKQnaF5cb",
                    "divisible": false,
                    "locked": true
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "http://rarepepedirectory.com/json/pc.json",
                    "issuer": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "21",
                "get_quantity_normalized": "15750.00000000",
                "fee_required_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Send**

```
{
    "result": {
        "tx_index": 1998453,
        "tx_hash": "4f9e6c847d414599adee5ea7ac46ddb337088da3669b7b4d0ebdd4979184b541",
        "block_index": 732164,
        "block_hash": "00000000000000000003d36e3bb282c3a853e8c7d161f4e2532a15a8492a63f0",
        "block_time": 1650140576,
        "source": "1JcJkDKdBsuqs5kxQc2BPzxwmdY5WtsoPT",
        "destination": "1GvgPBLRhH1v6sBZK4mmoJ6Gi42STTmw68",
        "btc_amount": 5470,
        "fee": 34530,
        "data": "00000000000003bd11d79ed60000000005f5e100",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "send",
            "message_type_id": 0,
            "message_data": {
                "asset": "TRUMPRARE",
                "quantity": 100000000,
                "asset_info": {
                    "asset_longname": null,
                    "description": "http://rarepepedirectory.com/json/rt.json",
                    "issuer": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "100000000"
            }
        },
        "btc_amount_normalized": "0.00005470"
    }
}
```

**Enhanced_send**

```
{
    "result": {
        "tx_index": 2738498,
        "tx_hash": "278636eefa95ab79a2a529c72e15844b54c34882b316434244cabc69bbc1fa72",
        "block_index": 850219,
        "block_hash": "00000000000000000000e1f253086abcdea99ff90dd42e90b45d3e469dac35b2",
        "block_time": 1719830372,
        "source": "1C7voQZn3Px9WYZn3X8KNzDwXDyQJkYRMB",
        "destination": "",
        "btc_amount": 0,
        "fee": 2480,
        "data": "0200000001a95261fd0000000000000001000514c868dac1bcf472a652d5e27a9aaafb4de365",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "enhanced_send",
            "message_type_id": 2,
            "message_data": {
                "asset": "XCPCARD",
                "quantity": 1,
                "address": "1TsGyfES65xE1J2hQQCSzitL97v448gJc",
                "memo": null,
                "asset_info": {
                    "asset_longname": null,
                    "description": "Counterparty card",
                    "issuer": "1EewCNrN1oypSYZE81HBiqrjuhkLcz1qXR",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Mpma_send**

```
{
    "result": {
        "tx_index": 2738388,
        "tx_hash": "17d98afaf691218ecdf3f1ddca9eb91e75c8a91238c979c8a8a1179796ee35e1",
        "block_index": 850126,
        "block_hash": "000000000000000000010ba34c827bd79586966c94a51ee47dcc660762402605",
        "block_time": 1719769276,
        "source": "15WzA2u8yBsMnhAVnGLmuSYHqB2vivD6jK",
        "destination": "",
        "btc_amount": 0,
        "fee": 5000,
        "data": "03000100533c940b158eae03f5bf71f1195d757c819c2e0c400000007a03471a80000000000000006020002068d1625ffd000000000000000030100004d55c9878fe800000000000000018080049924d3461df90000000000000003400",
        "supported": true,
        "confirmed": true,
        "unpacked_data": {
            "message_type": "mpma_send",
            "message_type_id": 3,
            "message_data": [
                {
                    "asset": "BANECOCO",
                    "destination": "18b7eyatTwZ8mvSCXRRxjNjvr3DPwhh6bU",
                    "quantity": 1,
                    "memo": "",
                    "memo_is_hex": false,
                    "asset_info": {
                        "asset_longname": null,
[...]
