[//]: # (Generated by genapidoc.py on 2024-09-24 10:17:09.701169. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                "block_index": 193,
                "block_time": 1727173013,
                "difficulty": 545259519,
                "previous_block_hash": "5220f925317bd380eb737cc229ca6937a27c36773824f8b47961e0f32bb2ac20"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                "block_index": 193,
                "block_time": 1727173013,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                "tx_index": 59,
                "utxos_info": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "out_index": 0,
                "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
                "tx_index": 33,
                "block_time": 1727172806,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
            "block_index": 146,
            "block_time": 1727172806
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "534b4a3628caa97303e6cc1269983b4fced45884385013703dd4dc796e5b4c74",
                "messages_hash": "b5d09ae5cbee61ab8850477703c767f527e3ef58ea87ac3c00b0219e561fe4b5",
                "transaction_count": 1,
                "txlist_hash": "9da6df7a15171ec8be20262b3b357947ec9c44a0ef66c23af472a4069a2602fd",
                "block_time": 1727173013
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                "tx_index": 59
            },
            "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "asset": "XCP",
                "block_index": 193,
                "event": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727173013,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727173009,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
            "block_index": 192,
            "block_time": 1727173009
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                "status": "valid",
                "tx_hash": "138f078f0aa7b5d446536e9bbb71971f50472dd926b5f661abe015aa693d36d5",
                "tx_index": 53,
                "block_time": 1727172988,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "138f078f0aa7b5d446536e9bbb71971f50472dd926b5f661abe015aa693d36d5",
            "block_index": 187,
            "block_time": 1727172988
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "valid",
                "tx_hash": "01cfe478cf54eafbd50cc362f71a7d15bdfc2e1ced01310242aeffa61f103444",
                "tx_index": 54,
                "block_time": 1727172992,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "01cfe478cf54eafbd50cc362f71a7d15bdfc2e1ced01310242aeffa61f103444",
            "block_index": 188,
            "block_time": 1727172992
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                "status": "valid",
                "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                "tx_index": 58,
                "block_time": 1727173009,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
            "block_index": 192,
            "block_time": 1727173009
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "valid",
                "tx_hash": "71f8562ab2707a2e93982852e21dcda5c74d04d4a5cfc062edea3fb8f9de5609",
                "tx_index": 40,
                "block_time": 1727172836,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "71f8562ab2707a2e93982852e21dcda5c74d04d4a5cfc062edea3fb8f9de5609",
            "block_index": 153,
            "block_time": 1727172836
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727172872
            },
            "tx_hash": "67a59ad859450731f87d3604b29ac38783b33f4887738be6dfb25dfc59e21e79",
            "block_index": 159,
            "block_time": 1727172872
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "valid",
                "transfer": false,
                "tx_hash": "67a59ad859450731f87d3604b29ac38783b33f4887738be6dfb25dfc59e21e79",
                "tx_index": 46,
                "block_time": 1727172872,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "67a59ad859450731f87d3604b29ac38783b33f4887738be6dfb25dfc59e21e79",
            "block_index": 159,
            "block_time": 1727172872
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                "tx_index": 59,
                "block_time": 1727173013,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
            "block_index": 193,
            "block_time": 1727173013
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "open",
                "tx_hash": "1d9b9a9951d82027ca432c8043c929e87d7f68f688d0600cadc9a20627a4afd9",
                "tx_index": 57,
                "block_time": 1727173005,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "1d9b9a9951d82027ca432c8043c929e87d7f68f688d0600cadc9a20627a4afd9",
            "block_index": 191,
            "block_time": 1727173005
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8_5808a5d48473537ea22f7ceb26b0efdb4a56312cbbdf037522b04bd75655662f",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8",
                "tx0_index": 49,
                "tx1_address": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "5808a5d48473537ea22f7ceb26b0efdb4a56312cbbdf037522b04bd75655662f",
                "tx1_index": 52,
                "block_time": 1727172973,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5808a5d48473537ea22f7ceb26b0efdb4a56312cbbdf037522b04bd75655662f",
            "block_index": 186,
            "block_time": 1727172973
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "07b876f551586bc8be3a7f058b357ca87c39f55ade65c934219aabc479ecee06"
            },
            "tx_hash": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17",
            "block_index": 190,
            "block_time": 1727173001
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e"
            },
            "tx_hash": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52",
            "block_index": 185,
            "block_time": 1727172969
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8_ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
                "order_match_id": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8_ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
                "status": "completed"
            },
            "tx_hash": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52",
            "block_index": 185,
            "block_time": 1727172969
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "order_match_id": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8_ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
                "source": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                "status": "valid",
                "tx_hash": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52",
                "tx_index": 51,
                "block_time": 1727172969,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52",
            "block_index": 185,
            "block_time": 1727172969
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "07b876f551586bc8be3a7f058b357ca87c39f55ade65c934219aabc479ecee06",
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "valid",
                "tx_hash": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17",
                "tx_index": 56,
                "block_time": 1727173001
            },
            "tx_hash": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17",
            "block_index": 190,
            "block_time": 1727173001
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "0ffc736b04e2fb632f1d71e9406c187c2256184e85d66eeddfaeb547d2ff764e",
                "source": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                "block_time": 1727172888
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727172888
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "c3cfa2bb155a0d7b7fc4ff225cfebafa83c7cb7ca8a87528673f136ea2dc3785_0ffc736b04e2fb632f1d71e9406c187c2256184e85d66eeddfaeb547d2ff764e",
                "tx0_address": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "tx1_address": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                "block_time": 1727172888
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727172888
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "origin": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "satoshirate": 1,
                "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "status": 0,
                "tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
                "tx_index": 32,
                "block_time": 1727172802,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
            "block_index": 145,
            "block_time": 1727172802
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "status": 0,
                "tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
            "block_index": 146,
            "block_time": 1727172806
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mmrTk1uWkJbzqpooxUaCcr7B4jGgGg1KQv",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "6c080efcc17677b29ea701b4f2d0ecfbbcb8173ff1c335a829c26efca51058ab",
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "tx_hash": "d7510384be95e1cf002f98fbbcb6b4abf6a6be9ef00f5d0b38a409f15af32e6f",
                "tx_index": 31,
                "block_time": 1727172798,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "d7510384be95e1cf002f98fbbcb6b4abf6a6be9ef00f5d0b38a409f15af32e6f",
            "block_index": 144,
            "block_time": 1727172798
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qcgsekprpcqxgfpyuvsqf5j3aettdga6ptsv82e",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
                "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
                "tx_index": 33,
                "block_time": 1727172806,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
            "block_index": 146,
            "block_time": 1727172806
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "2baf2a4360134c4b98718f3a40e08d837b5bcbdfac3ef1b65dcd857892dcc81f",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727172762,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "2baf2a4360134c4b98718f3a40e08d837b5bcbdfac3ef1b65dcd857892dcc81f",
            "block_index": 138,
            "block_time": 1727172762
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "start_block": 0,
                "status": "open",
                "tx_hash": "0eeeca68a04415f262edac7040876f250b76aa12324afcc6bf364ed72de7db0b",
                "tx_index": 22,
                "block_time": 1727172750
            },
            "tx_hash": "0eeeca68a04415f262edac7040876f250b76aa12324afcc6bf364ed72de7db0b",
            "block_index": 135,
            "block_time": 1727172750
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "c768c790db646fe20b33e0828c0042c6705ee66248d68fde588e91455ea70222"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727172729
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "0eeeca68a04415f262edac7040876f250b76aa12324afcc6bf364ed72de7db0b",
                "paid_quantity": 34,
                "source": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                "status": "valid",
                "tx_hash": "7f69a52eaeb924d936bb756185de09623ce5fc4623732debde3ceb5f2c01dcb1",
                "tx_index": 23,
                "block_time": 1727172754,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "7f69a52eaeb924d936bb756185de09623ce5fc4623732debde3ceb5f2c01dcb1",
            "block_index": 136,
            "block_time": 1727172754
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "8d54d321dbda9fa60c42f9f457a7c32e55a9c1b3c702eb29cea34e37a2e11796:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                "status": "valid",
                "tx_hash": "8d54d321dbda9fa60c42f9f457a7c32e55a9c1b3c702eb29cea34e37a2e11796",
                "tx_index": 38,
                "block_time": 1727172827,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8d54d321dbda9fa60c42f9f457a7c32e55a9c1b3c702eb29cea34e37a2e11796",
            "block_index": 151,
            "block_time": 1727172827
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1q933vzu0xczduymfwzrzjk49rgn4jdvafylvf6u",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "21b3e83b0b0df662cf0bd787cf0aa89d24f2ff8a271d6fc2859150e567f2d8af:0",
                "status": "valid",
                "tx_hash": "88ce36f56bec0bde16401bf8d29fc724911d18c4b2e04c5381143b345405c019",
                "tx_index": 37,
                "block_time": 1727172823,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "88ce36f56bec0bde16401bf8d29fc724911d18c4b2e04c5381143b345405c019",
            "block_index": 150,
            "block_time": 1727172823
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "01eb1e5280c959b562b228d00468d8e0b9915c7451fcab121e34f6963ba18800:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "8cba24adc20d74ea2be59a63ec96cc5b12cbed62b116a70e5c15f9ce68a1120a:0",
                "status": "valid",
                "tx_hash": "01eb1e5280c959b562b228d00468d8e0b9915c7451fcab121e34f6963ba18800",
                "tx_index": 42,
                "block_time": 1727172845,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "01eb1e5280c959b562b228d00468d8e0b9915c7451fcab121e34f6963ba18800",
            "block_index": 155,
            "block_time": 1727172845
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qx8nq65mcz45h8s0zdjjssw5cx8ln5utgc6xt67",
                "status": "valid",
                "tx_hash": "fb670497b1b7bdfefa37ae903873231799070c083dad68feaeffa589cb749da7",
                "tx_index": 9,
                "block_time": 1727172691,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "fb670497b1b7bdfefa37ae903873231799070c083dad68feaeffa589cb749da7",
            "block_index": 121,
            "block_time": 1727172691
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                    "block_time": 1727173013,
                    "previous_block_hash": "5220f925317bd380eb737cc229ca6937a27c36773824f8b47961e0f32bb2ac20",
                    "difficulty": 545259519,
                    "ledger_hash": "534b4a3628caa97303e6cc1269983b4fced45884385013703dd4dc796e5b4c74",
                    "txlist_hash": "9da6df7a15171ec8be20262b3b357947ec9c44a0ef66c23af472a4069a2602fd",
                    "messages_hash": "b5d09ae5cbee61ab8850477703c767f527e3ef58ea87ac3c00b0219e561fe4b5",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "5220f925317bd380eb737cc229ca6937a27c36773824f8b47961e0f32bb2ac20",
                    "block_time": 1727173009,
                    "previous_block_hash": "15c6ddc3e967df59e4ab93e09af645abb0470b883b1c0b1544742c7b898f8ada",
                    "difficulty": 545259519,
                    "ledger_hash": "7c5a10c60e0adda273a820ac0f140981f23ec027153fdaf5863e9fbb1950b507",
                    "txlist_hash": "10113b203d2e9b08f332a14a1a7b1e357fe1b95667c66460e14365341f37e508",
                    "messages_hash": "469a73b1b8afe332b56deab233991be89b015331b31aa3cc7daa11de356308f7",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "15c6ddc3e967df59e4ab93e09af645abb0470b883b1c0b1544742c7b898f8ada",
                    "block_time": 1727173005,
                    "previous_block_hash": "02f6700fcf36370ae093a8b30af0f487ddbd03c2c43ad683a4ba98deb4c51323",
                    "difficulty": 545259519,
                    "ledger_hash": "46e56e1c4701cacad891239b4357cdbe904d35306f95f374e48651661bd28119",
                    "txlist_hash": "74aadb7ca23cc44a9d5530bab8d1037e502d28f47c1bdaa139c4a792ea767333",
                    "messages_hash": "a9eaf5c9f4f1f092d273b6e208fca477dcbcf9f65e7245e4b371514b7299ebf9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "02f6700fcf36370ae093a8b30af0f487ddbd03c2c43ad683a4ba98deb4c51323",
                    "block_time": 1727173001,
                    "previous_block_hash": "0fc8aabb62aabd549bddf7c7b53943e2152520c9e1bf3e24ab8aac1977208f47",
                    "difficulty": 545259519,
                    "ledger_hash": "fd99cd30b4b6ceb23579445adeb2ff01abb843af3232ccf152f83b8da6fc6088",
                    "txlist_hash": "b85a789a31429c13b3e556a4f0665a31733ea0ca06d5026a81333e5708b27b20",
                    "messages_hash": "0265d415f94f48d43cd18b77e5033b2d22270632f66d4eda2a07ea4ad26f6371",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "0fc8aabb62aabd549bddf7c7b53943e2152520c9e1bf3e24ab8aac1977208f47",
                    "block_time": 1727172996,
                    "previous_block_hash": "4a56fb7af76004d2f0d9e697200b176b68422435a6c64d80053a15e2d76b9bbb",
                    "difficulty": 545259519,
                    "ledger_hash": "8de4e9ba279dcf9d61fe03dd631ac235f92b565f6f5c5b787273ca791ed092a4",
                    "txlist_hash": "2d26a9f871599f84b034aec8fbe8ec79d1e34902055e7a40c8517899e9b69ca3",
                    "messages_hash": "071c88ddb360523caf0a6070d8c9955a2749d7afee700bc45d0e7185f8b65d3a",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                "block_time": 1727173013,
                "previous_block_hash": "5220f925317bd380eb737cc229ca6937a27c36773824f8b47961e0f32bb2ac20",
                "difficulty": 545259519,
                "ledger_hash": "534b4a3628caa97303e6cc1269983b4fced45884385013703dd4dc796e5b4c74",
                "txlist_hash": "9da6df7a15171ec8be20262b3b357947ec9c44a0ef66c23af472a4069a2602fd",
                "messages_hash": "b5d09ae5cbee61ab8850477703c767f527e3ef58ea87ac3c00b0219e561fe4b5",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                "block_time": 1727173013,
                "previous_block_hash": "5220f925317bd380eb737cc229ca6937a27c36773824f8b47961e0f32bb2ac20",
                "difficulty": 545259519,
                "ledger_hash": "534b4a3628caa97303e6cc1269983b4fced45884385013703dd4dc796e5b4c74",
                "txlist_hash": "9da6df7a15171ec8be20262b3b357947ec9c44a0ef66c23af472a4069a2602fd",
                "messages_hash": "b5d09ae5cbee61ab8850477703c767f527e3ef58ea87ac3c00b0219e561fe4b5",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                    "block_index": 193,
                    "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
                    "block_time": 1727173013,
                    "source": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "7c5a10c60e0adda273a820ac0f140981f23ec027153fdaf5863e9fbb1950b507",
                        "messages_hash": "469a73b1b8afe332b56deab233991be89b015331b31aa3cc7daa11de356308f7",
                        "transaction_count": 1,
                        "txlist_hash": "10113b203d2e9b08f332a14a1a7b1e357fe1b95667c66460e14365341f37e508",
                        "block_time": 1727173009
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "tx_index": 58
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                        "status": "valid",
                        "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "tx_index": 58,
                        "block_time": 1727173009,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727173009,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727173009,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727173009,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727173009,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727173009,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727173009,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727173009,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727173009,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727173013,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "0ffc736b04e2fb632f1d71e9406c187c2256184e85d66eeddfaeb547d2ff764e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727172888
                },
                {
                    "type": "order",
                    "object_id": "c3cfa2bb155a0d7b7fc4ff225cfebafa83c7cb7ca8a87528673f136ea2dc3785",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727172888
                },
                {
                    "type": "order_match",
                    "object_id": "c3cfa2bb155a0d7b7fc4ff225cfebafa83c7cb7ca8a87528673f136ea2dc3785_0ffc736b04e2fb632f1d71e9406c187c2256184e85d66eeddfaeb547d2ff764e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727172888
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17",
                    "block_index": 190,
                    "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "offer_hash": "07b876f551586bc8be3a7f058b357ca87c39f55ade65c934219aabc479ecee06",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727173001
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
                    "block_index": 193,
                    "source": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727173013,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "67a59ad859450731f87d3604b29ac38783b33f4887738be6dfb25dfc59e21e79",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727172872,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "01cfe478cf54eafbd50cc362f71a7d15bdfc2e1ced01310242aeffa61f103444",
                    "block_index": 188,
                    "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "destination": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727172992,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "01cfe478cf54eafbd50cc362f71a7d15bdfc2e1ced01310242aeffa61f103444",
                    "block_index": 188,
                    "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "destination": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727172992,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "01cfe478cf54eafbd50cc362f71a7d15bdfc2e1ced01310242aeffa61f103444",
                    "block_index": 188,
                    "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                    "destination": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727172992,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
                    "block_index": 146,
                    "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                    "destination": "bcrt1qcgsekprpcqxgfpyuvsqf5j3aettdga6ptsv82e",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727172806,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "81268d5be436732c2dd8fd04b397957427db17311e26a1b409bf777ce12df4d5",
                    "block_index": 192,
                    "source": "bcrt1q4edcw6n4jw5mc7w7y2tfyq7ywmlal57m92uzuu",
                    "destination": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727173009,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "2baf2a4360134c4b98718f3a40e08d837b5bcbdfac3ef1b65dcd857892dcc81f",
        "block_index": 138,
        "block_hash": "016501740eb2e2bbe5dbf3cc03bfc157c53bbab3308053b5dd16a698f2c43386",
        "block_time": 1727172762,
        "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "2baf2a4360134c4b98718f3a40e08d837b5bcbdfac3ef1b65dcd857892dcc81f:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52",
        "block_index": 185,
        "block_hash": "1d6980459044b891166b8b08040dbfaf7f1e6bf6b4eabe8b4847304731354204",
        "block_time": 1727172969,
        "source": "bcrt1q2v42cyt08jc8kyd7xa7kfzye4qr489caumf2nz",
        "destination": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
        "supported": true,
        "utxos_info": "04fcdc16c87ca09062322b330848ea027530a679792c3295aa1c32c32f2f0b52:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8",
                "tx1_hash": "ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
                "order_match_id": "592f9fcd760a18acdefdde4bdc24af049871226c2c67bbb2c2868cbe2f30f5d8_ed4b69a16480bb93f5d89ca90adc7decd26beb52baef04bb09bfd9e4092d432e",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17",
        "block_index": 190,
        "block_hash": "02f6700fcf36370ae093a8b30af0f487ddbd03c2c43ad683a4ba98deb4c51323",
        "block_time": 1727173001,
        "source": "bcrt1q2kvnz6l8q46k9wg5dc7s8nrw5s5j8vddgs4pql",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4607b876f551586bc8be3a7f058b357ca87c39f55ade65c934219aabc479ecee06",
        "supported": true,
        "utxos_info": "9ec5314100571438b84aaf93fcbbc733bac2276cec79498a1d61b528defc3f17:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "07b876f551586bc8be3a7f058b357ca87c39f55ade65c934219aabc479ecee06",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526",
        "block_index": 193,
        "block_hash": "16d3567ceffe2388df69fc2f0cf407c4d2fe4cc8ddc6169f61397a51c81ba240",
        "block_time": 1727173013,
        "source": "bcrt1q6s57sda9vufcp5j8qft00xlm0cyhp8nlyckkhn",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "37a42cc0f04a0659abe4dcc3d74a2fdd90f6be98998e2d7f1dd81fdf1a6b3526:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0",
        "block_index": 145,
        "block_hash": "3f2649d7462b851aad641625387bbaaebdca0732229f48ff37f55b631752a272",
        "block_time": 1727172802,
        "source": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100802a7de4784b2a5ac19d0f38d5234d48473a9330bf",
        "supported": true,
        "utxos_info": "2ca06fa151cc698242cdc1914c7e7b611df2de46a7b7f8fc02efbdcb246423b0:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9",
        "block_index": 146,
        "block_hash": "326eafa2366f787138a43075c3502bcb5cc7bb9e23f33a2e9bd6e5edea5e367c",
        "block_time": 1727172806,
        "source": "bcrt1qcgsekprpcqxgfpyuvsqf5j3aettdga6ptsv82e",
        "destination": "bcrt1q9f77g7zt9fdvr8g08r2jxn2gguafxv9l9zvuhl",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "c0fafdbddad3ac3aba9d1beef5a7f90c922d804eed89a3dee0e78fada380eaa9:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "71f8562ab2707a2e93982852e21dcda5c74d04d4a5cfc062edea3fb8f9de5609",
        "block_index": 153,
        "block_hash": "2cdf300ab7a5282d725bc408eca397e49d623f369f6faff1f334f61d814502c5",
        "block_time": 1727172836,
[...]
