[//]: # (Generated by genapidoc.py on 2024-09-24 18:03:51.493332. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 537,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                "block_index": 194,
                "block_time": 1727201016,
                "difficulty": 545259519,
                "previous_block_hash": "72aff9bcfbc6a9f61cd1c192dc2322be91c061a847e81cc3b45854c9af31a6d5"
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 525,
    "result_count": 94
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 538,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                "block_index": 194,
                "block_time": 1727201016,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                "tx_index": 60,
                "utxos_info": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 526,
    "result_count": 61
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 277,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "out_index": 0,
                "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
                "tx_index": 34,
                "block_time": 1727200827,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
            "block_index": 147,
            "block_time": 1727200827
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 542,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 194,
                "ledger_hash": "d16329e826a589a6af06767a820f5914ee69e22398c8612ed0c73909a1ab9b1f",
                "messages_hash": "1bc8906db34e5bf45f47eca127e2b4cc60e46bbc8cf4301617e02c6f29b32301",
                "transaction_count": 1,
                "txlist_hash": "555a7b8103a776f23b649ec297d2177fe885443dc976750a259547be47cd26e7",
                "block_time": 1727201016
            },
            "tx_hash": null,
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 536,
    "result_count": 94
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 541,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                "tx_index": 60
            },
            "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 535,
    "result_count": 48
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 539,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "asset": "XCP",
                "block_index": 194,
                "event": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                "quantity": 1,
                "tx_index": 60,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727201016,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 532,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "asset": "XCP",
                "block_index": 193,
                "calling_function": "sweep",
                "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                "quantity": 74499387833,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727201012,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
            "block_index": 193,
            "block_time": 1727201012
        }
    ],
    "next_cursor": 531,
    "result_count": 68
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 491,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                "status": "valid",
                "tx_hash": "e7989369eefaec09cec5770c6128eb548023225e666d57bbed74b3d03240e9c3",
                "tx_index": 54,
                "block_time": 1727200991,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "e7989369eefaec09cec5770c6128eb548023225e666d57bbed74b3d03240e9c3",
            "block_index": 188,
            "block_time": 1727200991
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 503,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 189,
                "destination": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "valid",
                "tx_hash": "4cd813fae2558e89f2f9411f38daa7d4c10c94a267daa38155cf18fb4d9fd055",
                "tx_index": 55,
                "block_time": 1727200995,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "4cd813fae2558e89f2f9411f38daa7d4c10c94a267daa38155cf18fb4d9fd055",
            "block_index": 189,
            "block_time": 1727200995
        }
    ],
    "next_cursor": 502,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "SWEEP",
            "params": {
                "block_index": 193,
                "destination": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                "status": "valid",
                "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                "tx_index": 59,
                "block_time": 1727201012,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
            "block_index": 193,
            "block_time": 1727201012
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 337,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 154,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "valid",
                "tx_hash": "1b9303b3959067c0857fe1abb4fdd4b3684c7534c12691382004cc31a9afcca4",
                "tx_index": 41,
                "block_time": 1727200857,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "1b9303b3959067c0857fe1abb4fdd4b3684c7534c12691382004cc31a9afcca4",
            "block_index": 154,
            "block_time": 1727200857
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 387,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 160,
                "block_time": 1727200884
            },
            "tx_hash": "efd20bb15eb6a7ce22645a0fb33b1873d00dc0cdeb9533d37037e0fd6a63f512",
            "block_index": 160,
            "block_time": 1727200884
        }
    ],
    "next_cursor": 374,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 388,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 160,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "valid",
                "transfer": false,
                "tx_hash": "efd20bb15eb6a7ce22645a0fb33b1873d00dc0cdeb9533d37037e0fd6a63f512",
                "tx_index": 47,
                "block_time": 1727200884,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "efd20bb15eb6a7ce22645a0fb33b1873d00dc0cdeb9533d37037e0fd6a63f512",
            "block_index": 160,
            "block_time": 1727200884
        }
    ],
    "next_cursor": 381,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 540,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 194,
                "quantity": 1,
                "source": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                "tx_index": 60,
                "block_time": 1727201016,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
            "block_index": 194,
            "block_time": 1727201016
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 522,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 192,
                "expiration": 21,
                "expire_index": 213,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "open",
                "tx_hash": "132d67269995e3bc9e40d83bc0badefad56d85f0229eedfb0e2ccdf829d03d28",
                "tx_index": 58,
                "block_time": 1727201008,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "132d67269995e3bc9e40d83bc0badefad56d85f0229eedfb0e2ccdf829d03d28",
            "block_index": 192,
            "block_time": 1727201008
        }
    ],
    "next_cursor": 509,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 187,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6_467f7e82754021f4a8a7e07800c1785d2619004c75fd9200884f7aa4def7caa7",
                "match_expire_index": 207,
                "status": "pending",
                "tx0_address": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "tx0_block_index": 185,
                "tx0_expiration": 21,
                "tx0_hash": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6",
                "tx0_index": 50,
                "tx1_address": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                "tx1_block_index": 187,
                "tx1_expiration": 21,
                "tx1_hash": "467f7e82754021f4a8a7e07800c1785d2619004c75fd9200884f7aa4def7caa7",
                "tx1_index": 53,
                "block_time": 1727200986,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "467f7e82754021f4a8a7e07800c1785d2619004c75fd9200884f7aa4def7caa7",
            "block_index": 187,
            "block_time": 1727200986
        }
    ],
    "next_cursor": 468,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 514,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "83919cf82dd5eb1e2e1f6d3f3f752d34d41636ed00ab8ff78369eb81475b8e57"
            },
            "tx_hash": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197",
            "block_index": 191,
            "block_time": 1727201003
        }
    ],
    "next_cursor": 483,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 475,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63"
            },
            "tx_hash": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb",
            "block_index": 186,
            "block_time": 1727200982
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 474,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6_e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
                "order_match_id": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6_e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
                "status": "completed"
            },
            "tx_hash": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb",
            "block_index": 186,
            "block_time": 1727200982
        }
    ],
    "next_cursor": 447,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 476,
            "event": "BTC_PAY",
            "params": {
                "block_index": 186,
                "btc_amount": 2000,
                "destination": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "order_match_id": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6_e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
                "source": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                "status": "valid",
                "tx_hash": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb",
                "tx_index": 52,
                "block_time": 1727200982,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb",
            "block_index": 186,
            "block_time": 1727200982
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 516,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 191,
                "offer_hash": "83919cf82dd5eb1e2e1f6d3f3f752d34d41636ed00ab8ff78369eb81475b8e57",
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "valid",
                "tx_hash": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197",
                "tx_index": 57,
                "block_time": 1727201003
            },
            "tx_hash": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197",
            "block_index": 191,
            "block_time": 1727201003
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 455,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_hash": "3a7ea4dc466a608d47050ca02aa94f8d84ae9ea60b94dcf727b3e6eb8728e8d8",
                "source": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                "block_time": 1727200899
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727200899
        }
    ],
    "next_cursor": 453,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 450,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 183,
                "order_match_id": "f90bb3520b4cd8e8f43ae4a416ea102f6a45a4cfd10b4620066271057abde926_3a7ea4dc466a608d47050ca02aa94f8d84ae9ea60b94dcf727b3e6eb8728e8d8",
                "tx0_address": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "tx1_address": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                "block_time": 1727200899
            },
            "tx_hash": null,
            "block_index": 183,
            "block_time": 1727200899
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "origin": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "satoshirate": 1,
                "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "status": 0,
                "tx_hash": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea",
                "tx_index": 33,
                "block_time": 1727200823,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea",
            "block_index": 146,
            "block_time": 1727200823
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 302,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "give_remaining": 0,
                "source": "mtFzzdWHLZqWVVMGKENQscisyMTejQamk6",
                "status": 10,
                "tx_hash": "e6a18e565cab14aec4ba641f48a311c8643793f8fa84b25141ced517eaefc6f9",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00000000"
            },
            "tx_hash": "664b33a2858e0961f08c6a45f5ec6b98042d62a4f4e98faf6862f374be802724",
            "block_index": 150,
            "block_time": 1727200840
        }
    ],
    "next_cursor": 279,
    "result_count": 6
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mtFzzdWHLZqWVVMGKENQscisyMTejQamk6",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "e6a18e565cab14aec4ba641f48a311c8643793f8fa84b25141ced517eaefc6f9",
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "tx_hash": "b1e16747a30649a1850561f22204365ba5a8721325f1509544a91cbd364ea876",
                "tx_index": 31,
                "block_time": 1727200815,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "b1e16747a30649a1850561f22204365ba5a8721325f1509544a91cbd364ea876",
            "block_index": 144,
            "block_time": 1727200815
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 280,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 147,
                "btc_amount": 10000,
                "destination": "bcrt1qfvucymcd7u04hpd7eafsmxwnashcmaqs54q79p",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea",
                "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
                "tx_index": 34,
                "block_time": 1727200827,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
            "block_index": 147,
            "block_time": 1727200827
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "28499c6a50363ce063ee5e7f5de4d43ea5bf86a19dc05ea650443b343c00e258",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727200790,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "28499c6a50363ce063ee5e7f5de4d43ea5bf86a19dc05ea650443b343c00e258",
            "block_index": 138,
            "block_time": 1727200790
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "start_block": 0,
                "status": "open",
                "tx_hash": "5f1bb112a42ace59fa09d6a6fc1916eec2a940d44682b160c97bbae14494b127",
                "tx_index": 22,
                "block_time": 1727200777
            },
            "tx_hash": "5f1bb112a42ace59fa09d6a6fc1916eec2a940d44682b160c97bbae14494b127",
            "block_index": 135,
            "block_time": 1727200777
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "ef8994a7c4750636583ff8d92fe09ac8c38d280813f2e2e923e07c9b9a3d9cda"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727200756
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "5f1bb112a42ace59fa09d6a6fc1916eec2a940d44682b160c97bbae14494b127",
                "paid_quantity": 34,
                "source": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                "status": "valid",
                "tx_hash": "bccbb42deef048209e07d9fb0f7340bb2b1e8f10c5e54f1cfa55accb8ac66283",
                "tx_index": 23,
                "block_time": 1727200781,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "bccbb42deef048209e07d9fb0f7340bb2b1e8f10c5e54f1cfa55accb8ac66283",
            "block_index": 136,
            "block_time": 1727200781
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 319,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 152,
                "destination": "10c98431b6929b14e27a040b17f2d22aafc7813478587e2bbaca26c1c6197538:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                "status": "valid",
                "tx_hash": "10c98431b6929b14e27a040b17f2d22aafc7813478587e2bbaca26c1c6197538",
                "tx_index": 39,
                "block_time": 1727200849,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "10c98431b6929b14e27a040b17f2d22aafc7813478587e2bbaca26c1c6197538",
            "block_index": 152,
            "block_time": 1727200849
        }
    ],
    "next_cursor": 296,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 311,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "bcrt1qe4v63z8qa2kvy5yzt4ssr8zhwxgqw84j8nmhvg",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "664b33a2858e0961f08c6a45f5ec6b98042d62a4f4e98faf6862f374be802724:0",
                "status": "valid",
                "tx_hash": "f409e618a14bf7943a7027f7f66f55aaf0604d8c0cafc7c0062f5c6bdf82d7b6",
                "tx_index": 38,
                "block_time": 1727200844,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f409e618a14bf7943a7027f7f66f55aaf0604d8c0cafc7c0062f5c6bdf82d7b6",
            "block_index": 151,
            "block_time": 1727200844
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 356,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 156,
                "destination": "ca11a87b6b09143626cafffbc32be68d26d43df5facbb48aa919ce857c1aa739:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "9d347b5453e8bf2608768d2b109367ce3aaf5a12d4bc63526fa6fb59eab1901d:0",
                "status": "valid",
                "tx_hash": "ca11a87b6b09143626cafffbc32be68d26d43df5facbb48aa919ce857c1aa739",
                "tx_index": 43,
                "block_time": 1727200867,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "ca11a87b6b09143626cafffbc32be68d26d43df5facbb48aa919ce857c1aa739",
            "block_index": 156,
            "block_time": 1727200867
        }
    ],
    "next_cursor": 353,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1quygvuzd7gsxym55nf7w85agucgajyp9p5jduqp",
                "status": "valid",
                "tx_hash": "bb35e686d434cae9951da80cf904917280d38b8251f1626625123d1a058d4a6d",
                "tx_index": 9,
                "block_time": 1727200719,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "bb35e686d434cae9951da80cf904917280d38b8251f1626625123d1a058d4a6d",
            "block_index": 121,
            "block_time": 1727200719
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `194` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                    "block_time": 1727201016,
                    "previous_block_hash": "72aff9bcfbc6a9f61cd1c192dc2322be91c061a847e81cc3b45854c9af31a6d5",
                    "difficulty": 545259519,
                    "ledger_hash": "d16329e826a589a6af06767a820f5914ee69e22398c8612ed0c73909a1ab9b1f",
                    "txlist_hash": "555a7b8103a776f23b649ec297d2177fe885443dc976750a259547be47cd26e7",
                    "messages_hash": "1bc8906db34e5bf45f47eca127e2b4cc60e46bbc8cf4301617e02c6f29b32301",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 193,
                    "block_hash": "72aff9bcfbc6a9f61cd1c192dc2322be91c061a847e81cc3b45854c9af31a6d5",
                    "block_time": 1727201012,
                    "previous_block_hash": "7aa8cd7d46e84e234d53f8c14736afd98d1d5b8441f4f425fe8c6a52c3f33c87",
                    "difficulty": 545259519,
                    "ledger_hash": "fe72f9a183bbe8818f70ff6fff77b10468c2dc87a83499c4efa91349405a7d67",
                    "txlist_hash": "aba2669687ed43d3c307f90145085717cceb79038c715445f52cb587817ca510",
                    "messages_hash": "2d72a21fa2540f29a91bb2530c0078d445e984faccd9deb0b88d92a542a6c1bb",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "7aa8cd7d46e84e234d53f8c14736afd98d1d5b8441f4f425fe8c6a52c3f33c87",
                    "block_time": 1727201008,
                    "previous_block_hash": "6df0e71250aea0de3e29c053f2ca49cc02c029f911a25356f455303c447d0a63",
                    "difficulty": 545259519,
                    "ledger_hash": "b628adecb3a2aaf9e34fdd69db9d8deca8cd034cc5003533e94931ea8e2b3eb9",
                    "txlist_hash": "7907f570d25dd6ee1b06021b8124df870185e5dff3ed08257498d094cd0986b2",
                    "messages_hash": "fbc2a23c6dbea37463fe9e7b83b6f116bcdc875ab356c17de0eed630e0ca9998",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "6df0e71250aea0de3e29c053f2ca49cc02c029f911a25356f455303c447d0a63",
                    "block_time": 1727201003,
                    "previous_block_hash": "0878eceac6ded73fd8e873772ed9f93c488a46bdde659e59451e65eb9a3ee390",
                    "difficulty": 545259519,
                    "ledger_hash": "ca55ff06d6da636d78ab4e2f239b3e1f55fba257aad9da3ba207987ddef60d4f",
                    "txlist_hash": "15073748e67fe9f89a59617d6f98dd6825510a84aa9a81c8a71ab8e0d78371cb",
                    "messages_hash": "794947a3274da460c59e4e508e48909c67ed76799d6d25c045d0f2ae92fd60e9",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "0878eceac6ded73fd8e873772ed9f93c488a46bdde659e59451e65eb9a3ee390",
                    "block_time": 1727200999,
                    "previous_block_hash": "73be93be2c91012204c8a1e8321475345c6c634627235302e1e7abe56fcb5755",
                    "difficulty": 545259519,
                    "ledger_hash": "c242b73b2ee5c7a4cb1a18658d3d1c025310777e321d11722eff7c218b55df48",
                    "txlist_hash": "d647e554d1cfd1e9685fb03b192d224c788e4e30b2e0aad469691108c00abd60",
                    "messages_hash": "ed415b2226b65db4bdc25bfb21ecca24635074bfa76649c0f9e9458187b5da57",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 189,
            "result_count": 94
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                "block_time": 1727201016,
                "previous_block_hash": "72aff9bcfbc6a9f61cd1c192dc2322be91c061a847e81cc3b45854c9af31a6d5",
                "difficulty": 545259519,
                "ledger_hash": "d16329e826a589a6af06767a820f5914ee69e22398c8612ed0c73909a1ab9b1f",
                "txlist_hash": "555a7b8103a776f23b649ec297d2177fe885443dc976750a259547be47cd26e7",
                "messages_hash": "1bc8906db34e5bf45f47eca127e2b4cc60e46bbc8cf4301617e02c6f29b32301",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 194,
                "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                "block_time": 1727201016,
                "previous_block_hash": "72aff9bcfbc6a9f61cd1c192dc2322be91c061a847e81cc3b45854c9af31a6d5",
                "difficulty": 545259519,
                "ledger_hash": "d16329e826a589a6af06767a820f5914ee69e22398c8612ed0c73909a1ab9b1f",
                "txlist_hash": "555a7b8103a776f23b649ec297d2177fe885443dc976750a259547be47cd26e7",
                "messages_hash": "1bc8906db34e5bf45f47eca127e2b4cc60e46bbc8cf4301617e02c6f29b32301",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor: `60` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                    "block_index": 194,
                    "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
                    "block_time": 1727201016,
                    "source": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `542` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 536,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 193,
                        "ledger_hash": "fe72f9a183bbe8818f70ff6fff77b10468c2dc87a83499c4efa91349405a7d67",
                        "messages_hash": "2d72a21fa2540f29a91bb2530c0078d445e984faccd9deb0b88d92a542a6c1bb",
                        "transaction_count": 1,
                        "txlist_hash": "aba2669687ed43d3c307f90145085717cceb79038c715445f52cb587817ca510",
                        "block_time": 1727201012
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 535,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "tx_index": 59
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                },
                {
                    "event_index": 534,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 193,
                        "destination": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                        "status": "valid",
                        "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "tx_index": 59,
                        "block_time": 1727201012,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                },
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727201012,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                },
                {
                    "event_index": 532,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                        "asset": "XCP",
                        "block_index": 193,
                        "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727201012,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                }
            ],
            "next_cursor": 531,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 533,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                        "asset": "XCP",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "quantity": 74499387833,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727201012,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                },
                {
                    "event_index": 531,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                        "asset": "MYASSETA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "quantity": 10,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727201012,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                },
                {
                    "event_index": 529,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                        "asset": "FAIRMINTA",
                        "block_index": 193,
                        "calling_function": "sweep",
                        "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                        "quantity": 500000000,
                        "tx_index": 59,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727201012,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727201012,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727201012,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 193,
                    "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727201012,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 194,
                    "address": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                    "tx_index": 60,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727201016,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `183` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "3a7ea4dc466a608d47050ca02aa94f8d84ae9ea60b94dcf727b3e6eb8728e8d8",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727200899
                },
                {
                    "type": "order",
                    "object_id": "f90bb3520b4cd8e8f43ae4a416ea102f6a45a4cfd10b4620066271057abde926",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727200899
                },
                {
                    "type": "order_match",
                    "object_id": "f90bb3520b4cd8e8f43ae4a416ea102f6a45a4cfd10b4620066271057abde926_3a7ea4dc466a608d47050ca02aa94f8d84ae9ea60b94dcf727b3e6eb8728e8d8",
                    "block_index": 183,
                    "confirmed": true,
                    "block_time": 1727200899
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `191` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 57,
                    "tx_hash": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197",
                    "block_index": 191,
                    "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "offer_hash": "83919cf82dd5eb1e2e1f6d3f3f752d34d41636ed00ab8ff78369eb81475b8e57",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727201003
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `194` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 60,
                    "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
                    "block_index": 194,
                    "source": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727201016,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `160` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 47,
                    "tx_hash": "efd20bb15eb6a7ce22645a0fb33b1873d00dc0cdeb9533d37037e0fd6a63f512",
                    "msg_index": 0,
                    "block_index": 160,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727200884,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `189` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 55,
                    "tx_hash": "4cd813fae2558e89f2f9411f38daa7d4c10c94a267daa38155cf18fb4d9fd055",
                    "block_index": 189,
                    "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "destination": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727200995,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "4cd813fae2558e89f2f9411f38daa7d4c10c94a267daa38155cf18fb4d9fd055",
                    "block_index": 189,
                    "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "destination": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727200995,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 55,
                    "tx_hash": "4cd813fae2558e89f2f9411f38daa7d4c10c94a267daa38155cf18fb4d9fd055",
                    "block_index": 189,
                    "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                    "destination": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727200995,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `147` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 34,
                    "dispense_index": 0,
                    "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
                    "block_index": 147,
                    "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                    "destination": "bcrt1qfvucymcd7u04hpd7eafsmxwnashcmaqs54q79p",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 147,
                        "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727200827,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "ef57fe404a275352ef8de6701efaf60dd0225ba63f29cfa502ceed9e51804774",
                    "block_index": 193,
                    "source": "bcrt1q9cf2ed4wk37qye08wlppw39l7prxws7afa3krk",
                    "destination": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727201012,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "28499c6a50363ce063ee5e7f5de4d43ea5bf86a19dc05ea650443b343c00e258",
        "block_index": 138,
        "block_hash": "52b94d96284b74f21a236b814dc80c27bd7526673be9e9f5f03132ffe82ec736",
        "block_time": 1727200790,
        "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "28499c6a50363ce063ee5e7f5de4d43ea5bf86a19dc05ea650443b343c00e258:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 52,
        "tx_hash": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb",
        "block_index": 186,
        "block_hash": "68d8ed672f554db585e5508b660624d769c3a49fe8bfc118cf4109c241833983",
        "block_time": 1727200982,
        "source": "bcrt1q2nqm5v62ryf0jc6n7ygf8zf8cezllyryfdfnk9",
        "destination": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
        "supported": true,
        "utxos_info": "c78a916b13975e32514ea6fac0324481adfcc972f1db2cbabb96677db4d026cb:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6",
                "tx1_hash": "e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
                "order_match_id": "4844c5f31805a95e25af849d3e888b41d4cba82846300010c82895f4072e57f6_e2f9612faf4a7e6249958ba9d24aaf9e3d7a70b0dafaa5fb94dc51a088e6cf63",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 57,
        "tx_hash": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197",
        "block_index": 191,
        "block_hash": "6df0e71250aea0de3e29c053f2ca49cc02c029f911a25356f455303c447d0a63",
        "block_time": 1727201003,
        "source": "bcrt1q0kfl7h5k624gxq4sn5mxz2zaa3lf6fatfnkfhs",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4683919cf82dd5eb1e2e1f6d3f3f752d34d41636ed00ab8ff78369eb81475b8e57",
        "supported": true,
        "utxos_info": "1d314894d90254c43598647c4ebca9b8f3f0d20a522eb8130d9955e95ea1c197:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "83919cf82dd5eb1e2e1f6d3f3f752d34d41636ed00ab8ff78369eb81475b8e57",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 60,
        "tx_hash": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb",
        "block_index": 194,
        "block_hash": "52ace614bdf700970fae116cbd930af95fe09c4faee117d3d3c0c24860eedf93",
        "block_time": 1727201016,
        "source": "bcrt1qd3zmq3esxuxu0emca5sqcx0j9gyvqe9ftwxxct",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "da0a0e76bfc982e2bbed2679a71f4e2d3ebc01140b448f430bb01b50f7ceaabb:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea",
        "block_index": 146,
        "block_hash": "215f39f41a87d5f6354042ac92070b24c411fc9bbb411f2c1764a69a9b49f415",
        "block_time": 1727200823,
        "source": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080cc2e38633a610c78c64a09e9dcc2667f64581a4b",
        "supported": true,
        "utxos_info": "1e7bea513de78cabf444b974fdb0efb4304b18bd990a889d7a0f8b0e3d21b6ea:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 34,
        "tx_hash": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12",
        "block_index": 147,
        "block_hash": "4b369e0db5f19121d207f0d2d84fd61e32d377921941ee8f24f922a7707f3929",
        "block_time": 1727200827,
        "source": "bcrt1qfvucymcd7u04hpd7eafsmxwnashcmaqs54q79p",
        "destination": "bcrt1qeshrsce6vyx833j2p85aesnx0aj9sxjtt79jak",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "6b21482e6e461d42ded8e74826ff88a8b23621baaa45e714c7c2a20457bd6c12:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 41,
        "tx_hash": "1b9303b3959067c0857fe1abb4fdd4b3684c7534c12691382004cc31a9afcca4",
        "block_index": 154,
        "block_hash": "57e37c492b79206924ab8071e1d0686daf1d8a37ede6747cf3cd7ce3de8b0998",
        "block_time": 1727200857,
[...]
