[//]: # (Generated by genapidoc.py on 2024-09-19 10:53:45.941213. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                "block_index": 193,
                "block_time": 1726743198,
                "difficulty": 545259519,
                "previous_block_hash": "370a6974137c94158fd0d478c2311289cc60cf39677697b5a316c3dd03ad2c50"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                "block_index": 193,
                "block_time": 1726743198,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                "tx_index": 59,
                "utxos_info": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "out_index": 0,
                "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
                "tx_index": 33,
                "block_time": 1726743009,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
            "block_index": 146,
            "block_time": 1726743009
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "c98d9219740771cd82ec469372c2a3fb761f1f04060e9a989a81799a62529589",
                "messages_hash": "7c1fdf186bfa5a7ca8bbfa5e39fff7a75fbc51abec09d7352e5f25e25e45707c",
                "transaction_count": 1,
                "txlist_hash": "76e3343e76807139efcd72e2d027a231f6002a493ee1f0e22f9a9a15bdf0ad60",
                "block_time": 1726743198
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                "tx_index": 59
            },
            "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "asset": "XCP",
                "block_index": 193,
                "event": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726743198,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726743194,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
            "block_index": 192,
            "block_time": 1726743194
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                "status": "valid",
                "tx_hash": "977fdc68698a3d43ee3dea83fc000c35643e5e9be3181915a183998f465488f3",
                "tx_index": 53,
                "block_time": 1726743172,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "977fdc68698a3d43ee3dea83fc000c35643e5e9be3181915a183998f465488f3",
            "block_index": 187,
            "block_time": 1726743172
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "valid",
                "tx_hash": "1431fea4569c797143584aa9d01147d327fb78ab15905fe151d472c74d7c7926",
                "tx_index": 54,
                "block_time": 1726743177,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "1431fea4569c797143584aa9d01147d327fb78ab15905fe151d472c74d7c7926",
            "block_index": 188,
            "block_time": 1726743177
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                "status": "valid",
                "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                "tx_index": 58,
                "block_time": 1726743194,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
            "block_index": 192,
            "block_time": 1726743194
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "valid",
                "tx_hash": "a37b34715637644d0877a85c19a4b9942c9039d3e5a9cd9a4f4e80ff7e029bdc",
                "tx_index": 40,
                "block_time": 1726743039,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "a37b34715637644d0877a85c19a4b9942c9039d3e5a9cd9a4f4e80ff7e029bdc",
            "block_index": 153,
            "block_time": 1726743039
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726743075
            },
            "tx_hash": "59087472a9dba0ff7986240622bc6702c62afd2af9db780d12fae2d13138bb9a",
            "block_index": 159,
            "block_time": 1726743075
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "valid",
                "transfer": false,
                "tx_hash": "59087472a9dba0ff7986240622bc6702c62afd2af9db780d12fae2d13138bb9a",
                "tx_index": 46,
                "block_time": 1726743075,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "59087472a9dba0ff7986240622bc6702c62afd2af9db780d12fae2d13138bb9a",
            "block_index": 159,
            "block_time": 1726743075
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                "tx_index": 59,
                "block_time": 1726743198,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
            "block_index": 193,
            "block_time": 1726743198
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "open",
                "tx_hash": "d3a3f6430e1f19e4f7f3ca8a4ddc93734757de091fa4c2bb081f4165eabd8e6b",
                "tx_index": 57,
                "block_time": 1726743189,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "d3a3f6430e1f19e4f7f3ca8a4ddc93734757de091fa4c2bb081f4165eabd8e6b",
            "block_index": 191,
            "block_time": 1726743189
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5_b87671c8be72b818e672b61defbaa1252f44f4925b406fc430fc0cb87cbe5e62",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5",
                "tx0_index": 49,
                "tx1_address": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "b87671c8be72b818e672b61defbaa1252f44f4925b406fc430fc0cb87cbe5e62",
                "tx1_index": 52,
                "block_time": 1726743168,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b87671c8be72b818e672b61defbaa1252f44f4925b406fc430fc0cb87cbe5e62",
            "block_index": 186,
            "block_time": 1726743168
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "d06666ecdac4b33ddf47219e00297ad761e48db10b48b3779fa61d9c373f3bba"
            },
            "tx_hash": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7",
            "block_index": 190,
            "block_time": 1726743185
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e"
            },
            "tx_hash": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a",
            "block_index": 185,
            "block_time": 1726743164
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5_8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
                "order_match_id": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5_8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
                "status": "completed"
            },
            "tx_hash": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a",
            "block_index": 185,
            "block_time": 1726743164
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "order_match_id": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5_8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
                "source": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                "status": "valid",
                "tx_hash": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a",
                "tx_index": 51,
                "block_time": 1726743164,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a",
            "block_index": 185,
            "block_time": 1726743164
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "d06666ecdac4b33ddf47219e00297ad761e48db10b48b3779fa61d9c373f3bba",
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "valid",
                "tx_hash": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7",
                "tx_index": 56,
                "block_time": 1726743185
            },
            "tx_hash": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7",
            "block_index": 190,
            "block_time": 1726743185
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "d173c38c2fedff547dbe3246a950f481e68bcf01ee7afdd4360b1c0b7640f616",
                "source": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                "block_time": 1726743090
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726743090
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "67c9a887b978f49a8d51f7625735f0aadf81c18b531e49734bb1e5d5d6fadab6_d173c38c2fedff547dbe3246a950f481e68bcf01ee7afdd4360b1c0b7640f616",
                "tx0_address": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "tx1_address": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                "block_time": 1726743090
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726743090
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "origin": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "satoshirate": 1,
                "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "status": 0,
                "tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
                "tx_index": 32,
                "block_time": 1726743004,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
            "block_index": 145,
            "block_time": 1726743004
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "status": 0,
                "tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
            "block_index": 146,
            "block_time": 1726743009
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mv4u3AwUQLhBtZSeqKQQ4En5zjMMhPVAV2",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "c46184752a6659d44df21150126f56adb03c6d6c8c9aad39f091e0d86bcb1147",
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "tx_hash": "9798f9cfd72e95f6e239fc93bec2216bae9623155fff3be184ac3dac823863b1",
                "tx_index": 31,
                "block_time": 1726743000,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "9798f9cfd72e95f6e239fc93bec2216bae9623155fff3be184ac3dac823863b1",
            "block_index": 144,
            "block_time": 1726743000
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qqn4xr7c46uv6ak8ru8cd0va4fe2sneyq63223g",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
                "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
                "tx_index": 33,
                "block_time": 1726743009,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
            "block_index": 146,
            "block_time": 1726743009
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "a619400824e7539bc073f75d595518cc404f0972690c002ebf78a00f3f729a20",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726742975,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "a619400824e7539bc073f75d595518cc404f0972690c002ebf78a00f3f729a20",
            "block_index": 138,
            "block_time": 1726742975
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "start_block": 0,
                "status": "open",
                "tx_hash": "08b31db1b9bdc59268bce076aa2401737de5eef8162e4d2027927cbcc0b719df",
                "tx_index": 22,
                "block_time": 1726742962
            },
            "tx_hash": "08b31db1b9bdc59268bce076aa2401737de5eef8162e4d2027927cbcc0b719df",
            "block_index": 135,
            "block_time": 1726742962
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "630338ac26f1db216809652acb490bc36058561df42b4800c28e5064bc629a2f"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726742942
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "08b31db1b9bdc59268bce076aa2401737de5eef8162e4d2027927cbcc0b719df",
                "paid_quantity": 34,
                "source": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                "status": "valid",
                "tx_hash": "7b33dfa114bb715eb9f145b2f1bbaaaef414b6b4a96bb8c6eaeb491bb5acbb6d",
                "tx_index": 23,
                "block_time": 1726742966,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "7b33dfa114bb715eb9f145b2f1bbaaaef414b6b4a96bb8c6eaeb491bb5acbb6d",
            "block_index": 136,
            "block_time": 1726742966
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "fe3c9c397b1f9962f15ff83488a2aba708be78d99bd6a87abf88944b739ff38d:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                "status": "valid",
                "tx_hash": "fe3c9c397b1f9962f15ff83488a2aba708be78d99bd6a87abf88944b739ff38d",
                "tx_index": 38,
                "block_time": 1726743030,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "fe3c9c397b1f9962f15ff83488a2aba708be78d99bd6a87abf88944b739ff38d",
            "block_index": 151,
            "block_time": 1726743030
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qnjaupzaade799zszwvpnzmfzez34jtxz36jee3",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "2ff828784db699b93166c91bdc316c84bddfdb710a3c1d1f68665a7198728737:0",
                "status": "valid",
                "tx_hash": "de71c5607ca8fcdc386738b1f1eebb812aeee0e012a4ce691d1ac9f894810f09",
                "tx_index": 37,
                "block_time": 1726743026,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "de71c5607ca8fcdc386738b1f1eebb812aeee0e012a4ce691d1ac9f894810f09",
            "block_index": 150,
            "block_time": 1726743026
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "28c01da1e99442d96c12b22a49d82615db304af8aa1800624930e9322d9d8220:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "f525e470f1af1a47c0a67afe779935bf7cc0c1ae7df9953b1634d888b1d1bc1a:0",
                "status": "valid",
                "tx_hash": "28c01da1e99442d96c12b22a49d82615db304af8aa1800624930e9322d9d8220",
                "tx_index": 42,
                "block_time": 1726743048,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "28c01da1e99442d96c12b22a49d82615db304af8aa1800624930e9322d9d8220",
            "block_index": 155,
            "block_time": 1726743048
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qsvdraccy4y6g937r7kzwjttq6j7htuuzvuzcpx",
                "status": "valid",
                "tx_hash": "8cb6afe98c6fd78fe63d3400ff07363c80671a5aa675d073676e7be684d2d8a7",
                "tx_index": 9,
                "block_time": 1726742903,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "8cb6afe98c6fd78fe63d3400ff07363c80671a5aa675d073676e7be684d2d8a7",
            "block_index": 121,
            "block_time": 1726742903
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                    "block_time": 1726743198,
                    "previous_block_hash": "370a6974137c94158fd0d478c2311289cc60cf39677697b5a316c3dd03ad2c50",
                    "difficulty": 545259519,
                    "ledger_hash": "c98d9219740771cd82ec469372c2a3fb761f1f04060e9a989a81799a62529589",
                    "txlist_hash": "76e3343e76807139efcd72e2d027a231f6002a493ee1f0e22f9a9a15bdf0ad60",
                    "messages_hash": "7c1fdf186bfa5a7ca8bbfa5e39fff7a75fbc51abec09d7352e5f25e25e45707c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "370a6974137c94158fd0d478c2311289cc60cf39677697b5a316c3dd03ad2c50",
                    "block_time": 1726743194,
                    "previous_block_hash": "08aeea522d1ab6fc942eaab85f506d56d9aaf98a01ca64c67d8657f63295729d",
                    "difficulty": 545259519,
                    "ledger_hash": "f5ce379ab00c2982a4a45f4ad87c82d7b3198e7fa39818af38a9702a68da9521",
                    "txlist_hash": "52eff7cd239691d1efa5da6dbc00227fd5fe9d2ebc1e525f4abec71f1c847da8",
                    "messages_hash": "427641ca80d9aee9afc778c264a77c308a6be71a5761db8532a744992561bb63",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "08aeea522d1ab6fc942eaab85f506d56d9aaf98a01ca64c67d8657f63295729d",
                    "block_time": 1726743189,
                    "previous_block_hash": "47b3fb7b19695ffc7ac303e23eb3315b747c15d26456b38b337030006305e979",
                    "difficulty": 545259519,
                    "ledger_hash": "97c6a9a9dfd360766c66484b6a2371fc523c88768dd82631e77ddafcc71a8b60",
                    "txlist_hash": "a3a75d3eef307cc600ea559da8c7e6114eeb7c089d783c0aca0a09c91a3c9aff",
                    "messages_hash": "585ca23f5198daa88c7c982d0e320b36405d74b4e4520ac95c0f150c80e25ae8",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "47b3fb7b19695ffc7ac303e23eb3315b747c15d26456b38b337030006305e979",
                    "block_time": 1726743185,
                    "previous_block_hash": "1257ebae1dd6b4cdc6b62a8ed6a80f99571bd3bc27f37129fb28997aca21f3e1",
                    "difficulty": 545259519,
                    "ledger_hash": "52e23c330c89b46771efd78aa458e3f82def371c7cbf1ee4c0921bc347339f58",
                    "txlist_hash": "4f40bf44aa9fe5ec1030dd443132aa6c993ee869442ae6fe6e452a9933b12633",
                    "messages_hash": "86586a2a004808ca3cdaa719be924b71770a53050fa445fcd6b7a3635f663e96",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "1257ebae1dd6b4cdc6b62a8ed6a80f99571bd3bc27f37129fb28997aca21f3e1",
                    "block_time": 1726743181,
                    "previous_block_hash": "427129e75f1858594b1c563d06e55db5f97f7e6425d5c064a509dec7a90698b2",
                    "difficulty": 545259519,
                    "ledger_hash": "d8889a73fe9dd722a5624327b070c876b4d4d73ab28b7b4af363169b20c82d56",
                    "txlist_hash": "89b6834dab2d42c9ed636574a742baa1b920fdd2df6ff29af5654633cd1bd291",
                    "messages_hash": "2a78bccf0050c392e1f1435a8eb950e5e21e20d28b0310a6d344702a10a45fca",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                "block_time": 1726743198,
                "previous_block_hash": "370a6974137c94158fd0d478c2311289cc60cf39677697b5a316c3dd03ad2c50",
                "difficulty": 545259519,
                "ledger_hash": "c98d9219740771cd82ec469372c2a3fb761f1f04060e9a989a81799a62529589",
                "txlist_hash": "76e3343e76807139efcd72e2d027a231f6002a493ee1f0e22f9a9a15bdf0ad60",
                "messages_hash": "7c1fdf186bfa5a7ca8bbfa5e39fff7a75fbc51abec09d7352e5f25e25e45707c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                "block_time": 1726743198,
                "previous_block_hash": "370a6974137c94158fd0d478c2311289cc60cf39677697b5a316c3dd03ad2c50",
                "difficulty": 545259519,
                "ledger_hash": "c98d9219740771cd82ec469372c2a3fb761f1f04060e9a989a81799a62529589",
                "txlist_hash": "76e3343e76807139efcd72e2d027a231f6002a493ee1f0e22f9a9a15bdf0ad60",
                "messages_hash": "7c1fdf186bfa5a7ca8bbfa5e39fff7a75fbc51abec09d7352e5f25e25e45707c",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                    "block_index": 193,
                    "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
                    "block_time": 1726743198,
                    "source": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "f5ce379ab00c2982a4a45f4ad87c82d7b3198e7fa39818af38a9702a68da9521",
                        "messages_hash": "427641ca80d9aee9afc778c264a77c308a6be71a5761db8532a744992561bb63",
                        "transaction_count": 1,
                        "txlist_hash": "52eff7cd239691d1efa5da6dbc00227fd5fe9d2ebc1e525f4abec71f1c847da8",
                        "block_time": 1726743194
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "tx_index": 58
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                        "status": "valid",
                        "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "tx_index": 58,
                        "block_time": 1726743194,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726743194,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726743194,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726743194,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726743194,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726743194,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726743194,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726743194,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726743194,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726743198,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "d173c38c2fedff547dbe3246a950f481e68bcf01ee7afdd4360b1c0b7640f616",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726743090
                },
                {
                    "type": "order",
                    "object_id": "67c9a887b978f49a8d51f7625735f0aadf81c18b531e49734bb1e5d5d6fadab6",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726743090
                },
                {
                    "type": "order_match",
                    "object_id": "67c9a887b978f49a8d51f7625735f0aadf81c18b531e49734bb1e5d5d6fadab6_d173c38c2fedff547dbe3246a950f481e68bcf01ee7afdd4360b1c0b7640f616",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726743090
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7",
                    "block_index": 190,
                    "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "offer_hash": "d06666ecdac4b33ddf47219e00297ad761e48db10b48b3779fa61d9c373f3bba",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726743185
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
                    "block_index": 193,
                    "source": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726743198,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "59087472a9dba0ff7986240622bc6702c62afd2af9db780d12fae2d13138bb9a",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726743075,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "1431fea4569c797143584aa9d01147d327fb78ab15905fe151d472c74d7c7926",
                    "block_index": 188,
                    "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "destination": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726743177,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "1431fea4569c797143584aa9d01147d327fb78ab15905fe151d472c74d7c7926",
                    "block_index": 188,
                    "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "destination": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726743177,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "1431fea4569c797143584aa9d01147d327fb78ab15905fe151d472c74d7c7926",
                    "block_index": 188,
                    "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                    "destination": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726743177,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
                    "block_index": 146,
                    "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                    "destination": "bcrt1qqn4xr7c46uv6ak8ru8cd0va4fe2sneyq63223g",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726743009,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "fdbff5612b635c6c65916314923732f0612facea062ed6d629c050b755bbe13d",
                    "block_index": 192,
                    "source": "bcrt1qdfgucanzzhdhu9f6lntqhdpadswxrnlctrx33v",
                    "destination": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726743194,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "a619400824e7539bc073f75d595518cc404f0972690c002ebf78a00f3f729a20",
        "block_index": 138,
        "block_hash": "40b7d2b2f91ac007e251245971c029e99041307eba2caa7e230e1e97017bf0cd",
        "block_time": 1726742975,
        "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "a619400824e7539bc073f75d595518cc404f0972690c002ebf78a00f3f729a20:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a",
        "block_index": 185,
        "block_hash": "2e3c3d44591be34a2361ad5452925ffafe95f3ead188d15cba2bfc08d0bc2745",
        "block_time": 1726743164,
        "source": "bcrt1q8p49hd69kxagf4v48dm5qezha9q4wp9px2em0a",
        "destination": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0bdf69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a58b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
        "supported": true,
        "utxos_info": "269749fe9500db71a35921b2ff571dad1578ea832d9e04b84615836842dc649a:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5",
                "tx1_hash": "8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
                "order_match_id": "df69f8d0ca6b84dbcc9168f1093c37c72e87dba81acb06fca5d07f7a33c6f5a5_8b3c60d1aca3fe52f166f2ff3c3d3d4d4af07b854daa7e808980dd450d2b9f2e",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7",
        "block_index": 190,
        "block_hash": "47b3fb7b19695ffc7ac303e23eb3315b747c15d26456b38b337030006305e979",
        "block_time": 1726743185,
        "source": "bcrt1q5kxz068v6sg0dpyt027hufhn2k7wzhwcm94pxk",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46d06666ecdac4b33ddf47219e00297ad761e48db10b48b3779fa61d9c373f3bba",
        "supported": true,
        "utxos_info": "b7cd52d51d25249446d0ee80430362f78252c1c865a75f321e9cbd7a9fb4ffe7:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "d06666ecdac4b33ddf47219e00297ad761e48db10b48b3779fa61d9c373f3bba",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7",
        "block_index": 193,
        "block_hash": "3245f6b54998b417b5bef1f10799e2aefa8ce6cb6eae9873f3b696e6b2acbc86",
        "block_time": 1726743198,
        "source": "bcrt1qffdavzedg4xv2jgnpuu9h9xk8kmzd8qzzcdvmj",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "086230a177a7d77ecb0ff13192f0722231085f22d0a8717ab10da5ca0bab5ab7:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892",
        "block_index": 145,
        "block_hash": "4c30f1cd067582d1da225db2560d0c4fb431a388d40e6aba52007cddf9e42504",
        "block_time": 1726743004,
        "source": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c0000000000000001000000000000000100000000000027100000000000000001008002bb60a8fb0d463362922422eb8ec7a4b57f2f22",
        "supported": true,
        "utxos_info": "6beddb3ca6fde46e22e402611e64897b4d996bd8e0443b73ca2327110a650892:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc",
        "block_index": 146,
        "block_hash": "6dbfdf8a6821f528293d7c3e91ef9bf75276801b91172dfa114f3ea3d42746ed",
        "block_time": 1726743009,
        "source": "bcrt1qqn4xr7c46uv6ak8ru8cd0va4fe2sneyq63223g",
        "destination": "bcrt1qq2akp28mp4rrxc5jys3whrk85j6h7tez8z60h4",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "452aba1d9cc79ceed819c88f8e946ca9cead4a3d789fb94e867f8ed4a3af2cdc:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "a37b34715637644d0877a85c19a4b9942c9039d3e5a9cd9a4f4e80ff7e029bdc",
        "block_index": 153,
        "block_hash": "593b1516c224742a97169f1523b456457ef396989bb7a2c10247482baad3a464",
        "block_time": 1726743039,
[...]
