[//]: # (Generated by genapidoc.py on 2024-09-23 12:37:37.956634. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                "block_index": 193,
                "block_time": 1727095038,
                "difficulty": 545259519,
                "previous_block_hash": "6c851fb7d6fcdcf86b0d18920db550be26b0b586b6aa39744d4f2ab8fb40722f"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                "block_index": 193,
                "block_time": 1727095038,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                "tx_index": 59,
                "utxos_info": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "out_index": 0,
                "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
                "tx_index": 33,
                "block_time": 1727094846,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
            "block_index": 146,
            "block_time": 1727094846
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "f0a654cc552b39b5c0c9b3eec07b23dfe7a0c0c242b242092065f2c11f4c592f",
                "messages_hash": "7d6c3e3b87a160f25b13eb6107e1aec60e653ddfe56bc6b616baaf96a1b68e8b",
                "transaction_count": 1,
                "txlist_hash": "35bb990776fbfb6595582009e6cb412f1c703d02e9c88fa9098ed7ee3ff04f8a",
                "block_time": 1727095038
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                "tx_index": 59
            },
            "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "asset": "XCP",
                "block_index": 193,
                "event": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727095038,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1727095033,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
            "block_index": 192,
            "block_time": 1727095033
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                "status": "valid",
                "tx_hash": "dadf7112349a12aa84a46c6fde1c0b850710b88769de54bcb8cee82f16279039",
                "tx_index": 53,
                "block_time": 1727095012,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "dadf7112349a12aa84a46c6fde1c0b850710b88769de54bcb8cee82f16279039",
            "block_index": 187,
            "block_time": 1727095012
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "valid",
                "tx_hash": "561abb32888dcdd6d6d70c5d388ee399fe3b51d10bb30730cb99e53138f9713d",
                "tx_index": 54,
                "block_time": 1727095016,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "561abb32888dcdd6d6d70c5d388ee399fe3b51d10bb30730cb99e53138f9713d",
            "block_index": 188,
            "block_time": 1727095016
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                "status": "valid",
                "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                "tx_index": 58,
                "block_time": 1727095033,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
            "block_index": 192,
            "block_time": 1727095033
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "valid",
                "tx_hash": "2ad6ea5800704edd0f1bb6a85670427ad3a4fb74fea0334094062c913276970c",
                "tx_index": 40,
                "block_time": 1727094875,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "2ad6ea5800704edd0f1bb6a85670427ad3a4fb74fea0334094062c913276970c",
            "block_index": 153,
            "block_time": 1727094875
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1727094911
            },
            "tx_hash": "c0a4c29c5a9c611e4142f07295862c455ebf6d077cf69de2ba16105d13991b18",
            "block_index": 159,
            "block_time": 1727094911
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "valid",
                "transfer": false,
                "tx_hash": "c0a4c29c5a9c611e4142f07295862c455ebf6d077cf69de2ba16105d13991b18",
                "tx_index": 46,
                "block_time": 1727094911,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c0a4c29c5a9c611e4142f07295862c455ebf6d077cf69de2ba16105d13991b18",
            "block_index": 159,
            "block_time": 1727094911
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                "tx_index": 59,
                "block_time": 1727095038,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
            "block_index": 193,
            "block_time": 1727095038
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "open",
                "tx_hash": "0d0751273609d09dc42f23b5fc57ab7bd24822572fca475df89b9c559d1bcf6d",
                "tx_index": 57,
                "block_time": 1727095029,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "0d0751273609d09dc42f23b5fc57ab7bd24822572fca475df89b9c559d1bcf6d",
            "block_index": 191,
            "block_time": 1727095029
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126_8029542728201f4b143b8724f25f38084f9bf7f5e0a1533944731cf3581b5df2",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126",
                "tx0_index": 49,
                "tx1_address": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "8029542728201f4b143b8724f25f38084f9bf7f5e0a1533944731cf3581b5df2",
                "tx1_index": 52,
                "block_time": 1727095009,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8029542728201f4b143b8724f25f38084f9bf7f5e0a1533944731cf3581b5df2",
            "block_index": 186,
            "block_time": 1727095009
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "5cac1cf782b06a302a15b8da814f4317c48d263455fd78fe051a038c04b2453e"
            },
            "tx_hash": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a",
            "block_index": 190,
            "block_time": 1727095025
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811"
            },
            "tx_hash": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf",
            "block_index": 185,
            "block_time": 1727095004
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126_e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
                "order_match_id": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126_e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
                "status": "completed"
            },
            "tx_hash": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf",
            "block_index": 185,
            "block_time": 1727095004
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "order_match_id": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126_e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
                "source": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                "status": "valid",
                "tx_hash": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf",
                "tx_index": 51,
                "block_time": 1727095004,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf",
            "block_index": 185,
            "block_time": 1727095004
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "5cac1cf782b06a302a15b8da814f4317c48d263455fd78fe051a038c04b2453e",
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "valid",
                "tx_hash": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a",
                "tx_index": 56,
                "block_time": 1727095025
            },
            "tx_hash": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a",
            "block_index": 190,
            "block_time": 1727095025
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "a15988767ecd3c583512ae5baadbf07adb1f136940e5436fd63c2af1f580bc80",
                "source": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                "block_time": 1727094927
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727094927
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "5b90bafebdcd1bd6ce9785fd16d685350c21b2b77fe92dc87a046fca0504adf6_a15988767ecd3c583512ae5baadbf07adb1f136940e5436fd63c2af1f580bc80",
                "tx0_address": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "tx1_address": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                "block_time": 1727094927
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1727094927
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "origin": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "satoshirate": 1,
                "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "status": 0,
                "tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
                "tx_index": 32,
                "block_time": 1727094842,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
            "block_index": 145,
            "block_time": 1727094842
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "status": 0,
                "tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
            "block_index": 146,
            "block_time": 1727094846
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mswKMJEVhPVAQYJDEPVBvaADKf2fmZC6hN",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "a1f2b8abe3029bc7762072ba4541176a2041c8906593f230a9bf57cb68eb89eb",
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "tx_hash": "cc547f0e1d0b1b9e9bedbdb98174f8bb688efdaabade4e76ce52efe2f4cda71b",
                "tx_index": 31,
                "block_time": 1727094839,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "cc547f0e1d0b1b9e9bedbdb98174f8bb688efdaabade4e76ce52efe2f4cda71b",
            "block_index": 144,
            "block_time": 1727094839
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qvj4ypq0mwfnz6wvydr0kft3vsfr7rtg0xj97nj",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
                "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
                "tx_index": 33,
                "block_time": 1727094846,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
            "block_index": 146,
            "block_time": 1727094846
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "b954884f043ed193d673afe90c44b7401a8697a965a37eceeebb30802b82330a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1727094803,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "b954884f043ed193d673afe90c44b7401a8697a965a37eceeebb30802b82330a",
            "block_index": 138,
            "block_time": 1727094803
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "start_block": 0,
                "status": "open",
                "tx_hash": "e6e0d3f2b7434a60c9a1ba5068283e2f27a4822fc08b3e0997bb6c04ee9e4d6e",
                "tx_index": 22,
                "block_time": 1727094790
            },
            "tx_hash": "e6e0d3f2b7434a60c9a1ba5068283e2f27a4822fc08b3e0997bb6c04ee9e4d6e",
            "block_index": 135,
            "block_time": 1727094790
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "801ce5c24ea2170c2937ab2d624deefa78877919ee48f5b5d5134b4b1c1d545e"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1727094760
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "e6e0d3f2b7434a60c9a1ba5068283e2f27a4822fc08b3e0997bb6c04ee9e4d6e",
                "paid_quantity": 34,
                "source": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                "status": "valid",
                "tx_hash": "cfa6d447a379922dd0da484f07f975e5f68176b84d2aee0d31fa0acec398bb72",
                "tx_index": 23,
                "block_time": 1727094794,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "cfa6d447a379922dd0da484f07f975e5f68176b84d2aee0d31fa0acec398bb72",
            "block_index": 136,
            "block_time": 1727094794
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "406e0799a50f4be9ad6bcb08bac49b76dec02b47846183ad93f3e0faf62ba5aa:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                "status": "valid",
                "tx_hash": "406e0799a50f4be9ad6bcb08bac49b76dec02b47846183ad93f3e0faf62ba5aa",
                "tx_index": 38,
                "block_time": 1727094866,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "406e0799a50f4be9ad6bcb08bac49b76dec02b47846183ad93f3e0faf62ba5aa",
            "block_index": 151,
            "block_time": 1727094866
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qkttq3lajq6s964300ywfdvjwghegjazhhg2wgu",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "28492d2ebdcfa146b86f026a77270b902bd2a4ee130b1cb59bd4b51a8eabf1d4:0",
                "status": "valid",
                "tx_hash": "2ab44625e41aa03c78b532beacdd49dde9f69aa713170235cd829fdf3bde631a",
                "tx_index": 37,
                "block_time": 1727094862,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2ab44625e41aa03c78b532beacdd49dde9f69aa713170235cd829fdf3bde631a",
            "block_index": 150,
            "block_time": 1727094862
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "543857810d42e3597f0dc3a582410344dc2abcf3dd411d6171896ae3eb5c7940:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "bd0e07bbc6cb8d701160a57014ec93f841f511677aea2faafb54423f74de17ea:0",
                "status": "valid",
                "tx_hash": "543857810d42e3597f0dc3a582410344dc2abcf3dd411d6171896ae3eb5c7940",
                "tx_index": 42,
                "block_time": 1727094884,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "543857810d42e3597f0dc3a582410344dc2abcf3dd411d6171896ae3eb5c7940",
            "block_index": 155,
            "block_time": 1727094884
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qzlgv5ud7ygwd6qudn3fpnh7a97lhyu2yp4uggk",
                "status": "valid",
                "tx_hash": "43093d52e847e4f5f87c441d762c47e61b2b30dd12418bb88f8a1ec5686fb269",
                "tx_index": 9,
                "block_time": 1727094721,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "43093d52e847e4f5f87c441d762c47e61b2b30dd12418bb88f8a1ec5686fb269",
            "block_index": 121,
            "block_time": 1727094721
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                    "block_time": 1727095038,
                    "previous_block_hash": "6c851fb7d6fcdcf86b0d18920db550be26b0b586b6aa39744d4f2ab8fb40722f",
                    "difficulty": 545259519,
                    "ledger_hash": "f0a654cc552b39b5c0c9b3eec07b23dfe7a0c0c242b242092065f2c11f4c592f",
                    "txlist_hash": "35bb990776fbfb6595582009e6cb412f1c703d02e9c88fa9098ed7ee3ff04f8a",
                    "messages_hash": "7d6c3e3b87a160f25b13eb6107e1aec60e653ddfe56bc6b616baaf96a1b68e8b",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "6c851fb7d6fcdcf86b0d18920db550be26b0b586b6aa39744d4f2ab8fb40722f",
                    "block_time": 1727095033,
                    "previous_block_hash": "25e82b6a8ad98c584597a4d980b6516598f245f85774ccbbfbfb67a7a97fbdc6",
                    "difficulty": 545259519,
                    "ledger_hash": "f4b76f07514166cfabd35b7a2da674150970518d1c613f55e96eddbd99affaf0",
                    "txlist_hash": "d6781ffd27f34f36d002569e3fb9f70d46aec42a19059e55ac6a3e950c33e0c9",
                    "messages_hash": "82aa539e8b22a466290d78e0276fa997beab8c70a841cd1f1c5941772500745c",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "25e82b6a8ad98c584597a4d980b6516598f245f85774ccbbfbfb67a7a97fbdc6",
                    "block_time": 1727095029,
                    "previous_block_hash": "15b333419e3b9742692eeb0e5dcbbc123b0bc51e93ef5afa59e3467566caf68d",
                    "difficulty": 545259519,
                    "ledger_hash": "1806c223db9e0630602852badf94b7487b3c6315bce8f305c31354cd74e960ed",
                    "txlist_hash": "1a83d74b83b692b715dea5270ac39c6824aa58e9f5a474f018f9daaff4fd3211",
                    "messages_hash": "07f3dd746c35a1a10b151ff73117c7aa3a1530bd686c33e2753e4211f8b434a8",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "15b333419e3b9742692eeb0e5dcbbc123b0bc51e93ef5afa59e3467566caf68d",
                    "block_time": 1727095025,
                    "previous_block_hash": "131c3eb09ef4a1fb5a9b6b20241ec06f87662e2b8ef1a964e039a96020523d95",
                    "difficulty": 545259519,
                    "ledger_hash": "7fae07ae63846d69d3335162f6207534a432c0cccf4a99433d8e6a76522affb7",
                    "txlist_hash": "3be2ee8d28f225529efdf0dc294e36cbd4fbe28b12585d248f6bc7aeb50ca123",
                    "messages_hash": "548e424c951f748549371636b9496042d366811563c345d7e46e804ec5d24ecf",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "131c3eb09ef4a1fb5a9b6b20241ec06f87662e2b8ef1a964e039a96020523d95",
                    "block_time": 1727095020,
                    "previous_block_hash": "0e7d90a67c58b55067a8a1fedf031c4d5fe6e616c5739c5832c179189357078a",
                    "difficulty": 545259519,
                    "ledger_hash": "18965373ea5ad513653401944234b465dcbf5681e0e083b48847e8a9db288909",
                    "txlist_hash": "5213ad907f4dae2e1e4de6f216c9bdeb0ea1895c63b69ac233b71b47a4027475",
                    "messages_hash": "482e0ad064e0485873002d4a555c8e59c1abcbdf6f8dff3a329d8762d9e8ec20",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                "block_time": 1727095038,
                "previous_block_hash": "6c851fb7d6fcdcf86b0d18920db550be26b0b586b6aa39744d4f2ab8fb40722f",
                "difficulty": 545259519,
                "ledger_hash": "f0a654cc552b39b5c0c9b3eec07b23dfe7a0c0c242b242092065f2c11f4c592f",
                "txlist_hash": "35bb990776fbfb6595582009e6cb412f1c703d02e9c88fa9098ed7ee3ff04f8a",
                "messages_hash": "7d6c3e3b87a160f25b13eb6107e1aec60e653ddfe56bc6b616baaf96a1b68e8b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                "block_time": 1727095038,
                "previous_block_hash": "6c851fb7d6fcdcf86b0d18920db550be26b0b586b6aa39744d4f2ab8fb40722f",
                "difficulty": 545259519,
                "ledger_hash": "f0a654cc552b39b5c0c9b3eec07b23dfe7a0c0c242b242092065f2c11f4c592f",
                "txlist_hash": "35bb990776fbfb6595582009e6cb412f1c703d02e9c88fa9098ed7ee3ff04f8a",
                "messages_hash": "7d6c3e3b87a160f25b13eb6107e1aec60e653ddfe56bc6b616baaf96a1b68e8b",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                    "block_index": 193,
                    "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
                    "block_time": 1727095038,
                    "source": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "f4b76f07514166cfabd35b7a2da674150970518d1c613f55e96eddbd99affaf0",
                        "messages_hash": "82aa539e8b22a466290d78e0276fa997beab8c70a841cd1f1c5941772500745c",
                        "transaction_count": 1,
                        "txlist_hash": "d6781ffd27f34f36d002569e3fb9f70d46aec42a19059e55ac6a3e950c33e0c9",
                        "block_time": 1727095033
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "tx_index": 58
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                        "status": "valid",
                        "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "tx_index": 58,
                        "block_time": 1727095033,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727095033,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727095033,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727095033,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727095033,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1727095033,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727095033,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727095033,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727095033,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1727095038,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "a15988767ecd3c583512ae5baadbf07adb1f136940e5436fd63c2af1f580bc80",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727094927
                },
                {
                    "type": "order",
                    "object_id": "5b90bafebdcd1bd6ce9785fd16d685350c21b2b77fe92dc87a046fca0504adf6",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727094927
                },
                {
                    "type": "order_match",
                    "object_id": "5b90bafebdcd1bd6ce9785fd16d685350c21b2b77fe92dc87a046fca0504adf6_a15988767ecd3c583512ae5baadbf07adb1f136940e5436fd63c2af1f580bc80",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1727094927
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a",
                    "block_index": 190,
                    "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "offer_hash": "5cac1cf782b06a302a15b8da814f4317c48d263455fd78fe051a038c04b2453e",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727095025
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
                    "block_index": 193,
                    "source": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1727095038,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "c0a4c29c5a9c611e4142f07295862c455ebf6d077cf69de2ba16105d13991b18",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1727094911,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "561abb32888dcdd6d6d70c5d388ee399fe3b51d10bb30730cb99e53138f9713d",
                    "block_index": 188,
                    "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "destination": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727095016,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "561abb32888dcdd6d6d70c5d388ee399fe3b51d10bb30730cb99e53138f9713d",
                    "block_index": 188,
                    "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "destination": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727095016,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "561abb32888dcdd6d6d70c5d388ee399fe3b51d10bb30730cb99e53138f9713d",
                    "block_index": 188,
                    "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                    "destination": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1727095016,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
                    "block_index": 146,
                    "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                    "destination": "bcrt1qvj4ypq0mwfnz6wvydr0kft3vsfr7rtg0xj97nj",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1727094846,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "b97152ea14f6c300d0f31bd3a64794a734e1c50199408782e22feca524ed21dc",
                    "block_index": 192,
                    "source": "bcrt1qfm7nya7hskz3hudlkx80867ea2rn9am9w00dj7",
                    "destination": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1727095033,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "b954884f043ed193d673afe90c44b7401a8697a965a37eceeebb30802b82330a",
        "block_index": 138,
        "block_hash": "715c39366978061f27066029ccbcfc33dd26d440388e9696977ea887b0335190",
        "block_time": 1727094803,
        "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "b954884f043ed193d673afe90c44b7401a8697a965a37eceeebb30802b82330a:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf",
        "block_index": 185,
        "block_hash": "4a9667cee3f15e9c8483631f9b833f99a1c792e7a9edb176af5ef5397aaff5a6",
        "block_time": 1727095004,
        "source": "bcrt1qe4xvu3370erw38k0rsj659pu3fey7kg6sdefxv",
        "destination": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
        "supported": true,
        "utxos_info": "40c904300e73042666d4db6c6f40f17d1acb56063dfb927951613a7c60f02dcf:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126",
                "tx1_hash": "e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
                "order_match_id": "0a1ecc9b9485a15f0acaf538c5e35f7fae7abfdd4bc8959fb5db22cb33e76126_e6976c0211a12415c14e16c96edfa586451a1d5ea6df0fcbc7020be8f6d16811",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a",
        "block_index": 190,
        "block_hash": "15b333419e3b9742692eeb0e5dcbbc123b0bc51e93ef5afa59e3467566caf68d",
        "block_time": 1727095025,
        "source": "bcrt1qaq56qgtvffghgnder3pltw6k7hc4qafu55fkku",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "465cac1cf782b06a302a15b8da814f4317c48d263455fd78fe051a038c04b2453e",
        "supported": true,
        "utxos_info": "27e3be27947895dd2a33380deff6cdd5955f6ba483f4c1e87e98937d27bab62a:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "5cac1cf782b06a302a15b8da814f4317c48d263455fd78fe051a038c04b2453e",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d",
        "block_index": 193,
        "block_hash": "348999d0a7fbb169e01ec7ac14694f7c038470e4703e748e4296cad2232c9d52",
        "block_time": 1727095038,
        "source": "bcrt1qk93ypcvzlnan69phkyy2vqqrd3u2079z9sszzu",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "baaa4887496bfaa81f72343175039e8431b8028eb41b6e213ed976b7b499937d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf",
        "block_index": 145,
        "block_hash": "204201de2525d52f3b6bb40197a9bfeef65554dfeeb7705ffdc2ed23194386e2",
        "block_time": 1727094842,
        "source": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c000000000000000100000000000000010000000000002710000000000000000100805f3661ede0bb8faf3dacaca835a6cac6e8c9c0f1",
        "supported": true,
        "utxos_info": "c4f52cbeae8fa8cc21038f648c523c192b810cc53c1734f6af8031c25f137adf:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9",
        "block_index": 146,
        "block_hash": "6b8becbdf9342a2a85170e63ff82820e772f5a0777a1f2b2b70d8a5468aa9a7c",
        "block_time": 1727094846,
        "source": "bcrt1qvj4ypq0mwfnz6wvydr0kft3vsfr7rtg0xj97nj",
        "destination": "bcrt1qtumxrm0qhw8670dv4j5rtfk2cm5vns83umpexq",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "8bbd88ea8e1d886f9d4216ccfc238b07c1aad3710115ef40eed0386d473e4ae9:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "2ad6ea5800704edd0f1bb6a85670427ad3a4fb74fea0334094062c913276970c",
        "block_index": 153,
        "block_hash": "14f622ac71894170ac2f4827468e63aeeda4db73b0ee356968aa8006ea7dfb6d",
        "block_time": 1727094875,
[...]
