[//]: # (Generated by genapidoc.py on 2024-09-20 09:44:39.686481. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                "block_index": 193,
                "block_time": 1726825461,
                "difficulty": 545259519,
                "previous_block_hash": "666ed1a2f7c2924a82e4d8e9d3b3d6c367f1850f8cdb1303858ab48bbf78d7b6"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                "block_index": 193,
                "block_time": 1726825461,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                "tx_index": 59,
                "utxos_info": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "out_index": 0,
                "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
                "tx_index": 33,
                "block_time": 1726825274,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
            "block_index": 146,
            "block_time": 1726825274
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "16a2a4d25db0bdbc4b8b59436e96066cfb1fae75bf3485f694e86481b001a4d8",
                "messages_hash": "f4dc020ee1b28cf6418bf348d583d9fd9eb4670253b0537a52e0820b98904bd7",
                "transaction_count": 1,
                "txlist_hash": "15f051ecea1b0e7dc7afa64a941fb638b8014c03d0f629c8426274d9bd419803",
                "block_time": 1726825461
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                "tx_index": 59
            },
            "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "asset": "XCP",
                "block_index": 193,
                "event": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726825461,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726825457,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
            "block_index": 192,
            "block_time": 1726825457
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                "status": "valid",
                "tx_hash": "59e81ffd913405acb74f32dfc79bccf2605e8b41c6117f26b184127c9adaf747",
                "tx_index": 53,
                "block_time": 1726825436,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "59e81ffd913405acb74f32dfc79bccf2605e8b41c6117f26b184127c9adaf747",
            "block_index": 187,
            "block_time": 1726825436
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "valid",
                "tx_hash": "e27a3017a09a0ec0fedd589c1eefa7bfeb4a9b008f1e9176c6484ab44156191d",
                "tx_index": 54,
                "block_time": 1726825440,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "e27a3017a09a0ec0fedd589c1eefa7bfeb4a9b008f1e9176c6484ab44156191d",
            "block_index": 188,
            "block_time": 1726825440
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                "status": "valid",
                "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                "tx_index": 58,
                "block_time": 1726825457,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
            "block_index": 192,
            "block_time": 1726825457
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "valid",
                "tx_hash": "d22395f5efbb725b78d56169f6842702cd2385cf553b9c03ad30193da257e9a8",
                "tx_index": 40,
                "block_time": 1726825303,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "d22395f5efbb725b78d56169f6842702cd2385cf553b9c03ad30193da257e9a8",
            "block_index": 153,
            "block_time": 1726825303
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726825340
            },
            "tx_hash": "10cfae46493da7d2e6bf22d408237bbce06107cad0667073471cd7a2b03ac7e6",
            "block_index": 159,
            "block_time": 1726825340
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "valid",
                "transfer": false,
                "tx_hash": "10cfae46493da7d2e6bf22d408237bbce06107cad0667073471cd7a2b03ac7e6",
                "tx_index": 46,
                "block_time": 1726825340,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "10cfae46493da7d2e6bf22d408237bbce06107cad0667073471cd7a2b03ac7e6",
            "block_index": 159,
            "block_time": 1726825340
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                "tx_index": 59,
                "block_time": 1726825461,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
            "block_index": 193,
            "block_time": 1726825461
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "open",
                "tx_hash": "e096ede5b2f739182dfa1c191ac3d0ed50284cff86cbfdee9cb43da41571c608",
                "tx_index": 57,
                "block_time": 1726825453,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e096ede5b2f739182dfa1c191ac3d0ed50284cff86cbfdee9cb43da41571c608",
            "block_index": 191,
            "block_time": 1726825453
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25_694dcae1375c9c53ccb825be6605b9244a5f982c54dd23fcbe947fbbfd8e33be",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25",
                "tx0_index": 49,
                "tx1_address": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "694dcae1375c9c53ccb825be6605b9244a5f982c54dd23fcbe947fbbfd8e33be",
                "tx1_index": 52,
                "block_time": 1726825432,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "694dcae1375c9c53ccb825be6605b9244a5f982c54dd23fcbe947fbbfd8e33be",
            "block_index": 186,
            "block_time": 1726825432
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "060d850bea4c2c484281aefbeaea7bde50f51751c2de5774d016c8e849e4b62a"
            },
            "tx_hash": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752",
            "block_index": 190,
            "block_time": 1726825449
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff"
            },
            "tx_hash": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d",
            "block_index": 185,
            "block_time": 1726825427
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25_2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
                "order_match_id": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25_2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
                "status": "completed"
            },
            "tx_hash": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d",
            "block_index": 185,
            "block_time": 1726825427
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "order_match_id": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25_2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
                "source": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                "status": "valid",
                "tx_hash": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d",
                "tx_index": 51,
                "block_time": 1726825427,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d",
            "block_index": 185,
            "block_time": 1726825427
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "060d850bea4c2c484281aefbeaea7bde50f51751c2de5774d016c8e849e4b62a",
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "valid",
                "tx_hash": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752",
                "tx_index": 56,
                "block_time": 1726825449
            },
            "tx_hash": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752",
            "block_index": 190,
            "block_time": 1726825449
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "7896ac5fa27a056de9df69f0d55bd3b9395b5074ea556d7d378cfd4bea8d49c1",
                "source": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                "block_time": 1726825356
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726825356
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "27d544d919433994421cccb00655c95de5f867a1d016db020fa70e8e6a5fbd1b_7896ac5fa27a056de9df69f0d55bd3b9395b5074ea556d7d378cfd4bea8d49c1",
                "tx0_address": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "tx1_address": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                "block_time": 1726825356
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726825356
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "origin": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "satoshirate": 1,
                "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "status": 0,
                "tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
                "tx_index": 32,
                "block_time": 1726825270,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
            "block_index": 145,
            "block_time": 1726825270
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "status": 0,
                "tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
            "block_index": 146,
            "block_time": 1726825274
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "ms48hnZTjeTsNXyBuLcWPRMrqz7Ko9awMB",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "a5fce55057a25a0e4f1a17eca63c2121a48e1802c130a7b0b5d172928cfa9141",
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "tx_hash": "a99e0620b36a633808a6dc3d6e4ec0e63145e9cc43b20653ac99776d26d23da5",
                "tx_index": 31,
                "block_time": 1726825266,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "a99e0620b36a633808a6dc3d6e4ec0e63145e9cc43b20653ac99776d26d23da5",
            "block_index": 144,
            "block_time": 1726825266
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qmnxnt2u65xsesug2c0rtu2nhhwn3mmqzc9w3nt",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
                "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
                "tx_index": 33,
                "block_time": 1726825274,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
            "block_index": 146,
            "block_time": 1726825274
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "7afd835b6e2698c872818ef165eacb80569bf7feb379434a7a8500f2ca203a5e",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726825230,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "7afd835b6e2698c872818ef165eacb80569bf7feb379434a7a8500f2ca203a5e",
            "block_index": 138,
            "block_time": 1726825230
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "start_block": 0,
                "status": "open",
                "tx_hash": "70a08a09be7e7db658afd9643104aa69036256014c37028c4cf48c03228597bd",
                "tx_index": 22,
                "block_time": 1726825217
            },
            "tx_hash": "70a08a09be7e7db658afd9643104aa69036256014c37028c4cf48c03228597bd",
            "block_index": 135,
            "block_time": 1726825217
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "019c1a0e87d4fc9a572746bc4785e4a308e1827daaa4e9a77bc61c0d0ce7fc75"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726825197
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "70a08a09be7e7db658afd9643104aa69036256014c37028c4cf48c03228597bd",
                "paid_quantity": 34,
                "source": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                "status": "valid",
                "tx_hash": "df594a32bdedb9f8407dde28c2412506a53badab07b2cbce3e4919633c06b316",
                "tx_index": 23,
                "block_time": 1726825221,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "df594a32bdedb9f8407dde28c2412506a53badab07b2cbce3e4919633c06b316",
            "block_index": 136,
            "block_time": 1726825221
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "b144bf44a59f20f97233b6b2f8df8815e33ae7cd0fd284bfe3f95e1da2f77164:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                "status": "valid",
                "tx_hash": "b144bf44a59f20f97233b6b2f8df8815e33ae7cd0fd284bfe3f95e1da2f77164",
                "tx_index": 38,
                "block_time": 1726825295,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "b144bf44a59f20f97233b6b2f8df8815e33ae7cd0fd284bfe3f95e1da2f77164",
            "block_index": 151,
            "block_time": 1726825295
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qer50mmddxamklxlnhp2ts8wg0ajzqns2mleqhf",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "330e4c148d12cfcceb7de4268c14d00bf280ab8a2d4d34fd7681c805ce7932aa:0",
                "status": "valid",
                "tx_hash": "0d50c7d10fe1a5942c143ae0b53b6fa4e48148c36d47ab3de093dc895c38146b",
                "tx_index": 37,
                "block_time": 1726825290,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "0d50c7d10fe1a5942c143ae0b53b6fa4e48148c36d47ab3de093dc895c38146b",
            "block_index": 150,
            "block_time": 1726825290
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "207cc8f37658b5af48478c80434d2b6c9ec76f17e2244de79cbaf6524c7a4d2f:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "3fef13f6bcdd2af88bb1ea176f0e66bd711f27abee3a15cd5d9f024a2ca9712b:0",
                "status": "valid",
                "tx_hash": "207cc8f37658b5af48478c80434d2b6c9ec76f17e2244de79cbaf6524c7a4d2f",
                "tx_index": 42,
                "block_time": 1726825313,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "207cc8f37658b5af48478c80434d2b6c9ec76f17e2244de79cbaf6524c7a4d2f",
            "block_index": 155,
            "block_time": 1726825313
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qy6cw9lzzwxl4z390c2kml2pgpxu6stzez3l2xz",
                "status": "valid",
                "tx_hash": "c724be97644ba07ec1c9f927fbec7f0af277326c1db1abbd8979c6cc79c326e9",
                "tx_index": 9,
                "block_time": 1726825158,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "c724be97644ba07ec1c9f927fbec7f0af277326c1db1abbd8979c6cc79c326e9",
            "block_index": 121,
            "block_time": 1726825158
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                    "block_time": 1726825461,
                    "previous_block_hash": "666ed1a2f7c2924a82e4d8e9d3b3d6c367f1850f8cdb1303858ab48bbf78d7b6",
                    "difficulty": 545259519,
                    "ledger_hash": "16a2a4d25db0bdbc4b8b59436e96066cfb1fae75bf3485f694e86481b001a4d8",
                    "txlist_hash": "15f051ecea1b0e7dc7afa64a941fb638b8014c03d0f629c8426274d9bd419803",
                    "messages_hash": "f4dc020ee1b28cf6418bf348d583d9fd9eb4670253b0537a52e0820b98904bd7",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "666ed1a2f7c2924a82e4d8e9d3b3d6c367f1850f8cdb1303858ab48bbf78d7b6",
                    "block_time": 1726825457,
                    "previous_block_hash": "55cbd37166a9a25349e5eaecdc54a6013ce7f007f24bbf56a470c2578737fc07",
                    "difficulty": 545259519,
                    "ledger_hash": "f898081f65b9981e398a8502a2e441e7abd1321ab93252d4353c96a4acf0a685",
                    "txlist_hash": "3bebbb53ce9aff00b0ae5909d2243058aa5d933feffe201661700ee25d4310fa",
                    "messages_hash": "f09546e6c48a207ce7fc47a675010669410a22ff1d3de883fbd80e9bd1e07ffa",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "55cbd37166a9a25349e5eaecdc54a6013ce7f007f24bbf56a470c2578737fc07",
                    "block_time": 1726825453,
                    "previous_block_hash": "29da6fc91ec18423fdab22602a03b65cabcc1f6f52b45b347cab54af4b046c6e",
                    "difficulty": 545259519,
                    "ledger_hash": "806e045cfdcfc22f111825aaabd7170dc263f334df2cf07fc8f72b12dc6cc8b0",
                    "txlist_hash": "4af9fb0462cf23828287fdde6ff78dc9fd5d3ee90d8f91fc3521fd96a7730c3e",
                    "messages_hash": "b7d7069be27f784a3c7f26eeba8f5a5560711cf7eb1d5841dd4af572166380a0",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "29da6fc91ec18423fdab22602a03b65cabcc1f6f52b45b347cab54af4b046c6e",
                    "block_time": 1726825449,
                    "previous_block_hash": "7b9ff65175ed743c0a5542fb04c596ca46b7752c4a3ec2f771df6fc22bcad206",
                    "difficulty": 545259519,
                    "ledger_hash": "944f18d3c0f37a64d83d3f872e3cc9a60416b0110253531f01e4616a3c427879",
                    "txlist_hash": "e7d539bfda76c14bd4571ea2d7c69da172693ffe2c4ba7f4003ab4da2b3caf47",
                    "messages_hash": "461c9c152e9322aa08eb5271568e0793b2cf973623a51c5643521464178f9446",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "7b9ff65175ed743c0a5542fb04c596ca46b7752c4a3ec2f771df6fc22bcad206",
                    "block_time": 1726825444,
                    "previous_block_hash": "43ca72a55a007c72d131f08f74c4674102ecd3bdf4d74f223797109d9f4add01",
                    "difficulty": 545259519,
                    "ledger_hash": "bf23941d3159971a54eade390d8700bd726f7d245134562b27d8f04cb82e96bc",
                    "txlist_hash": "34ebae5c201471e5d1f2bd73e518d23ad23c8bd099cdc094e0eff97e7d59f271",
                    "messages_hash": "760514fe06d25689b4803ead6b0d6f580fcc7517c124ac2c16fef19a2c2d3b97",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                "block_time": 1726825461,
                "previous_block_hash": "666ed1a2f7c2924a82e4d8e9d3b3d6c367f1850f8cdb1303858ab48bbf78d7b6",
                "difficulty": 545259519,
                "ledger_hash": "16a2a4d25db0bdbc4b8b59436e96066cfb1fae75bf3485f694e86481b001a4d8",
                "txlist_hash": "15f051ecea1b0e7dc7afa64a941fb638b8014c03d0f629c8426274d9bd419803",
                "messages_hash": "f4dc020ee1b28cf6418bf348d583d9fd9eb4670253b0537a52e0820b98904bd7",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                "block_time": 1726825461,
                "previous_block_hash": "666ed1a2f7c2924a82e4d8e9d3b3d6c367f1850f8cdb1303858ab48bbf78d7b6",
                "difficulty": 545259519,
                "ledger_hash": "16a2a4d25db0bdbc4b8b59436e96066cfb1fae75bf3485f694e86481b001a4d8",
                "txlist_hash": "15f051ecea1b0e7dc7afa64a941fb638b8014c03d0f629c8426274d9bd419803",
                "messages_hash": "f4dc020ee1b28cf6418bf348d583d9fd9eb4670253b0537a52e0820b98904bd7",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                    "block_index": 193,
                    "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
                    "block_time": 1726825461,
                    "source": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "f898081f65b9981e398a8502a2e441e7abd1321ab93252d4353c96a4acf0a685",
                        "messages_hash": "f09546e6c48a207ce7fc47a675010669410a22ff1d3de883fbd80e9bd1e07ffa",
                        "transaction_count": 1,
                        "txlist_hash": "3bebbb53ce9aff00b0ae5909d2243058aa5d933feffe201661700ee25d4310fa",
                        "block_time": 1726825457
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "tx_index": 58
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                        "status": "valid",
                        "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "tx_index": 58,
                        "block_time": 1726825457,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726825457,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726825457,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726825457,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726825457,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726825457,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726825457,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726825457,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726825457,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726825461,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "7896ac5fa27a056de9df69f0d55bd3b9395b5074ea556d7d378cfd4bea8d49c1",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726825356
                },
                {
                    "type": "order",
                    "object_id": "27d544d919433994421cccb00655c95de5f867a1d016db020fa70e8e6a5fbd1b",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726825356
                },
                {
                    "type": "order_match",
                    "object_id": "27d544d919433994421cccb00655c95de5f867a1d016db020fa70e8e6a5fbd1b_7896ac5fa27a056de9df69f0d55bd3b9395b5074ea556d7d378cfd4bea8d49c1",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726825356
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752",
                    "block_index": 190,
                    "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "offer_hash": "060d850bea4c2c484281aefbeaea7bde50f51751c2de5774d016c8e849e4b62a",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726825449
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
                    "block_index": 193,
                    "source": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726825461,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "10cfae46493da7d2e6bf22d408237bbce06107cad0667073471cd7a2b03ac7e6",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726825340,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "e27a3017a09a0ec0fedd589c1eefa7bfeb4a9b008f1e9176c6484ab44156191d",
                    "block_index": 188,
                    "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "destination": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726825440,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "e27a3017a09a0ec0fedd589c1eefa7bfeb4a9b008f1e9176c6484ab44156191d",
                    "block_index": 188,
                    "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "destination": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726825440,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "e27a3017a09a0ec0fedd589c1eefa7bfeb4a9b008f1e9176c6484ab44156191d",
                    "block_index": 188,
                    "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                    "destination": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726825440,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
                    "block_index": 146,
                    "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                    "destination": "bcrt1qmnxnt2u65xsesug2c0rtu2nhhwn3mmqzc9w3nt",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726825274,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "8d8f95a2791ef08784966a94c93811197f84b351b5bf664e0c91211163d11ed8",
                    "block_index": 192,
                    "source": "bcrt1q82ft7elanx9cgjm75xj9tmr8c3kyh36h7njgtk",
                    "destination": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726825457,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "7afd835b6e2698c872818ef165eacb80569bf7feb379434a7a8500f2ca203a5e",
        "block_index": 138,
        "block_hash": "6032c132605fad646fda185c792150f4679730ad5dbaa82d41ad980f7e6007a8",
        "block_time": 1726825230,
        "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "7afd835b6e2698c872818ef165eacb80569bf7feb379434a7a8500f2ca203a5e:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d",
        "block_index": 185,
        "block_hash": "052570879ea11bd318935d12ea062dab4311e14f3694e245eaae0e58b7012c93",
        "block_time": 1726825427,
        "source": "bcrt1q6d9hm9563paefxx5s0k08d27aqhcu2v6e53q79",
        "destination": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf252ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
        "supported": true,
        "utxos_info": "87a3e60f43caea223ae4f90d0d39cc30af94357c0bb69e756bf17823d71eae1d:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25",
                "tx1_hash": "2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
                "order_match_id": "78fd39e3d20b04cfef70cae6b2458e49a0fffdc5cdac1402ae07e3dbac1baf25_2ecca561a170b5243dd50d5b9283a4688bc020a8f9713d076f2c4a96fd4a08ff",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752",
        "block_index": 190,
        "block_hash": "29da6fc91ec18423fdab22602a03b65cabcc1f6f52b45b347cab54af4b046c6e",
        "block_time": 1726825449,
        "source": "bcrt1q5yyd0vl9h56dsh4660e63eh90hm95ukv2x0shh",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "46060d850bea4c2c484281aefbeaea7bde50f51751c2de5774d016c8e849e4b62a",
        "supported": true,
        "utxos_info": "97f1e8881c0ba42d902c6f15a80e2259a36219b51fc55322050b90cf1684c752:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "060d850bea4c2c484281aefbeaea7bde50f51751c2de5774d016c8e849e4b62a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982",
        "block_index": 193,
        "block_hash": "4d4a4ebf37f6f9d8459965b1ad8a75d398a6911695c3e3075245f51e149306f9",
        "block_time": 1726825461,
        "source": "bcrt1q8av20y535fjlvy88f0c48h9zj67rn8ajprn7wz",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "960012dfd82223bf994c580c7e3c89fc7901cd4a9c65e5adcd6f62fd561e7982:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97",
        "block_index": 145,
        "block_hash": "6f7a06d0c9d3a0fa390d894ed91c6c0d3f31a1ac9cefb6ac0953ddebf85dd504",
        "block_time": 1726825270,
        "source": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080b1a1898f6b831c7349e6dc47e354b91e4797bd88",
        "supported": true,
        "utxos_info": "46d6a03a52b47291bba12ff7e0612266533e49c06b191b88d7af89f634408d97:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566",
        "block_index": 146,
        "block_hash": "297f5e7c699513584f7004d78d3ea652fe6e9edbd8c37b3d69182a73695f65b4",
        "block_time": 1726825274,
        "source": "bcrt1qmnxnt2u65xsesug2c0rtu2nhhwn3mmqzc9w3nt",
        "destination": "bcrt1qkxscnrmtsvw8xj0xm3r7x49erere00vg8zftu0",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "0403c32351945ccb0f8dd29c5a3c3d4779ecf29f3628f7bf8661cc65a7376566:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "d22395f5efbb725b78d56169f6842702cd2385cf553b9c03ad30193da257e9a8",
        "block_index": 153,
        "block_hash": "2490875440fa912ba86f80bb7fbfcd30e77984fbf403f928bb2b7ecccb2d404d",
        "block_time": 1726825303,
[...]
