[//]: # (Generated by genapidoc.py on 2024-09-20 06:56:42.337437. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                "block_index": 193,
                "block_time": 1726815376,
                "difficulty": 545259519,
                "previous_block_hash": "62147c1d9cc39595807a029e240ab3a68a952e88ce5b71fff7844b86e0cb8c7f"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                "block_index": 193,
                "block_time": 1726815376,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                "tx_index": 59,
                "utxos_info": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "out_index": 0,
                "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
                "tx_index": 33,
                "block_time": 1726815183,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
            "block_index": 146,
            "block_time": 1726815183
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "c35cac3a55dd455eda44fec6808f4b04601d54416913965cf9981a7187e4ca9b",
                "messages_hash": "64af7906004d705fe89433fbcec64aab6a352ca56eda19f6490882cfff161834",
                "transaction_count": 1,
                "txlist_hash": "ffc04a3314302eecc9ed3c67fe1acc91b47b4510370eb27342c9779b5f7490e9",
                "block_time": 1726815376
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                "tx_index": 59
            },
            "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "asset": "XCP",
                "block_index": 193,
                "event": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726815376,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726815372,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
            "block_index": 192,
            "block_time": 1726815372
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                "status": "valid",
                "tx_hash": "2af0fdfddaf6d357f3e80c38f3319a244b08c584a2b714b8214d8123abc752fb",
                "tx_index": 53,
                "block_time": 1726815350,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "2af0fdfddaf6d357f3e80c38f3319a244b08c584a2b714b8214d8123abc752fb",
            "block_index": 187,
            "block_time": 1726815350
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "valid",
                "tx_hash": "7762d51f9fd9223de97519585aeb1165bcbf482d9ac3ec7b2c67f62217f1c5e3",
                "tx_index": 54,
                "block_time": 1726815355,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "7762d51f9fd9223de97519585aeb1165bcbf482d9ac3ec7b2c67f62217f1c5e3",
            "block_index": 188,
            "block_time": 1726815355
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                "status": "valid",
                "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                "tx_index": 58,
                "block_time": 1726815372,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
            "block_index": 192,
            "block_time": 1726815372
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "valid",
                "tx_hash": "dcbb0ed93017ca7c7094614dd81d4f371e646cd0eb13285cdfa302d15ecd0a4d",
                "tx_index": 40,
                "block_time": 1726815213,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "dcbb0ed93017ca7c7094614dd81d4f371e646cd0eb13285cdfa302d15ecd0a4d",
            "block_index": 153,
            "block_time": 1726815213
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726815249
            },
            "tx_hash": "9a110287c955eba18bfaed58bbce05b2312cb4f078cbb0c0a7cf71d5a12486ed",
            "block_index": 159,
            "block_time": 1726815249
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "valid",
                "transfer": false,
                "tx_hash": "9a110287c955eba18bfaed58bbce05b2312cb4f078cbb0c0a7cf71d5a12486ed",
                "tx_index": 46,
                "block_time": 1726815249,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "9a110287c955eba18bfaed58bbce05b2312cb4f078cbb0c0a7cf71d5a12486ed",
            "block_index": 159,
            "block_time": 1726815249
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                "tx_index": 59,
                "block_time": 1726815376,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
            "block_index": 193,
            "block_time": 1726815376
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "open",
                "tx_hash": "c1c080b6d03a01d82b8c01d674f514968b6c1d7914ac286108e242bbd7be8aba",
                "tx_index": 57,
                "block_time": 1726815367,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "c1c080b6d03a01d82b8c01d674f514968b6c1d7914ac286108e242bbd7be8aba",
            "block_index": 191,
            "block_time": 1726815367
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346_598b82ec9d99f0541528715712f70c0cf7e779dcc2f8ec220153d346eaf26872",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346",
                "tx0_index": 49,
                "tx1_address": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "598b82ec9d99f0541528715712f70c0cf7e779dcc2f8ec220153d346eaf26872",
                "tx1_index": 52,
                "block_time": 1726815346,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "598b82ec9d99f0541528715712f70c0cf7e779dcc2f8ec220153d346eaf26872",
            "block_index": 186,
            "block_time": 1726815346
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "13dba7a88acddbe687401f1ba4374f6cf1df378550f77726e9f4d3b9e56aef9b"
            },
            "tx_hash": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2",
            "block_index": 190,
            "block_time": 1726815363
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392"
            },
            "tx_hash": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8",
            "block_index": 185,
            "block_time": 1726815342
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346_8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
                "order_match_id": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346_8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
                "status": "completed"
            },
            "tx_hash": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8",
            "block_index": 185,
            "block_time": 1726815342
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "order_match_id": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346_8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
                "source": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                "status": "valid",
                "tx_hash": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8",
                "tx_index": 51,
                "block_time": 1726815342,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8",
            "block_index": 185,
            "block_time": 1726815342
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "13dba7a88acddbe687401f1ba4374f6cf1df378550f77726e9f4d3b9e56aef9b",
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "valid",
                "tx_hash": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2",
                "tx_index": 56,
                "block_time": 1726815363
            },
            "tx_hash": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2",
            "block_index": 190,
            "block_time": 1726815363
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "18bd2377dfd4b83a1010dcad2ca53d0b4b14dc303693f948e75f4c405f77f569",
                "source": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                "block_time": 1726815264
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726815264
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "d03041070c15fba3d77e65d5aeb9c3f88c777ab03a5639e0ed845cbdfde234e7_18bd2377dfd4b83a1010dcad2ca53d0b4b14dc303693f948e75f4c405f77f569",
                "tx0_address": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "tx1_address": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                "block_time": 1726815264
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726815264
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "origin": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "satoshirate": 1,
                "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "status": 0,
                "tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
                "tx_index": 32,
                "block_time": 1726815178,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
            "block_index": 145,
            "block_time": 1726815178
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "status": 0,
                "tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
            "block_index": 146,
            "block_time": 1726815183
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mxTLR1ydnf6nAJYW3zCbbSZeyBGcXHkpRw",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "02762a4f55190e571b19a19348ee8f6412b45913745ee7cb62c747172108246c",
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "tx_hash": "0acc5f3d95d0e78f09173f0037021916649ab252b2c55455e8c0fcc6f15143ff",
                "tx_index": 31,
                "block_time": 1726815174,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "0acc5f3d95d0e78f09173f0037021916649ab252b2c55455e8c0fcc6f15143ff",
            "block_index": 144,
            "block_time": 1726815174
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qhr9ppws373yl4skncqlp5e503xj03lk3whp7we",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
                "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
                "tx_index": 33,
                "block_time": 1726815183,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
            "block_index": 146,
            "block_time": 1726815183
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "8b28dd31f49228d2203cd7fcfa8b9062b26a1691283c8ed214f508aebe94a44e",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726815138,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "8b28dd31f49228d2203cd7fcfa8b9062b26a1691283c8ed214f508aebe94a44e",
            "block_index": 138,
            "block_time": 1726815138
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "start_block": 0,
                "status": "open",
                "tx_hash": "f2ee7f4036c7cc051cf8e2a20e32425a200f9b9166a04d94e90279ccdd5d024b",
                "tx_index": 22,
                "block_time": 1726815126
            },
            "tx_hash": "f2ee7f4036c7cc051cf8e2a20e32425a200f9b9166a04d94e90279ccdd5d024b",
            "block_index": 135,
            "block_time": 1726815126
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "35a7ddf4a16bb7075ce86310a406d213e899b51a36556396066c9db61b876ace"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726815104
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "f2ee7f4036c7cc051cf8e2a20e32425a200f9b9166a04d94e90279ccdd5d024b",
                "paid_quantity": 34,
                "source": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                "status": "valid",
                "tx_hash": "adf60b006a2dcd134e0e5faadf2d887a7f868f9bc6480ce7ad700283036454ef",
                "tx_index": 23,
                "block_time": 1726815130,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "adf60b006a2dcd134e0e5faadf2d887a7f868f9bc6480ce7ad700283036454ef",
            "block_index": 136,
            "block_time": 1726815130
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "73f33445bb6ef1ba7081a2f649acc7c7d63d07e8ae0bda9324481991a50c3dc9:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                "status": "valid",
                "tx_hash": "73f33445bb6ef1ba7081a2f649acc7c7d63d07e8ae0bda9324481991a50c3dc9",
                "tx_index": 38,
                "block_time": 1726815204,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "73f33445bb6ef1ba7081a2f649acc7c7d63d07e8ae0bda9324481991a50c3dc9",
            "block_index": 151,
            "block_time": 1726815204
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qdp2athf6h3fqgwf5wkz79lg2a7m8gj06zptffm",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "a765061f6252188ff4cc3b6558223a79dcdb9ce3924998af5a62e47f793ce837:0",
                "status": "valid",
                "tx_hash": "107375514b4bf3351449b9cbbd7ddf635e1f9a7e87c1cb923ada7d25c334534f",
                "tx_index": 37,
                "block_time": 1726815200,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "107375514b4bf3351449b9cbbd7ddf635e1f9a7e87c1cb923ada7d25c334534f",
            "block_index": 150,
            "block_time": 1726815200
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "5a3a78267f88593ce235c3a8b2246a96a39b0cdff5e2b10730c8bf7a50d43751:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "4fe40db20831d35ad52100fa53258383faa657107021697a63a3be4cb3382ac9:0",
                "status": "valid",
                "tx_hash": "5a3a78267f88593ce235c3a8b2246a96a39b0cdff5e2b10730c8bf7a50d43751",
                "tx_index": 42,
                "block_time": 1726815221,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "5a3a78267f88593ce235c3a8b2246a96a39b0cdff5e2b10730c8bf7a50d43751",
            "block_index": 155,
            "block_time": 1726815221
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qs6kaxznfkfgmxhalmv840fldjqr2d7hnltn6xh",
                "status": "valid",
                "tx_hash": "6734c2c20a328e6e65f4464f0e38b929b8cf906f0e0c4016af2baebe977fac4c",
                "tx_index": 9,
                "block_time": 1726815066,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "6734c2c20a328e6e65f4464f0e38b929b8cf906f0e0c4016af2baebe977fac4c",
            "block_index": 121,
            "block_time": 1726815066
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.4.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                    "block_time": 1726815376,
                    "previous_block_hash": "62147c1d9cc39595807a029e240ab3a68a952e88ce5b71fff7844b86e0cb8c7f",
                    "difficulty": 545259519,
                    "ledger_hash": "c35cac3a55dd455eda44fec6808f4b04601d54416913965cf9981a7187e4ca9b",
                    "txlist_hash": "ffc04a3314302eecc9ed3c67fe1acc91b47b4510370eb27342c9779b5f7490e9",
                    "messages_hash": "64af7906004d705fe89433fbcec64aab6a352ca56eda19f6490882cfff161834",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "62147c1d9cc39595807a029e240ab3a68a952e88ce5b71fff7844b86e0cb8c7f",
                    "block_time": 1726815372,
                    "previous_block_hash": "45a751b71cef3a2ed4eeef78f7d3a06c48b05e9819a016f433d396d15b756609",
                    "difficulty": 545259519,
                    "ledger_hash": "2a02edf6dfa0fe34ec607651a25dc50c13dac9a41c1fbfd52a053f1dab281ba7",
                    "txlist_hash": "707f4edd41824c8716d6099fff29f4b60bdb9f141f9f033b38f2cd14bea206a0",
                    "messages_hash": "844c5288536dd9e848722eccc59300b721384dbfc6129a99d046d702e4583f54",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "45a751b71cef3a2ed4eeef78f7d3a06c48b05e9819a016f433d396d15b756609",
                    "block_time": 1726815367,
                    "previous_block_hash": "03c9daadfc62a0379b3555a56a0c850b85b892d210480b1f6aee311b9514e48e",
                    "difficulty": 545259519,
                    "ledger_hash": "2b978fd4ac2cc814bae485afdd290650940d9eeb9751fab31b797f9e3b4e52f5",
                    "txlist_hash": "5d200caee57178c87dc179c9594792a81eb29bfeda467bf8b145e99a5de435c7",
                    "messages_hash": "82d68494b63f5147da5f501878a4a9ddb1418bcbf8ea422d49b8b14a887a7724",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "03c9daadfc62a0379b3555a56a0c850b85b892d210480b1f6aee311b9514e48e",
                    "block_time": 1726815363,
                    "previous_block_hash": "43757dfbcbe54d34557ebc3d81564ab86aaae2cc310f3788b63fc7550ee05b56",
                    "difficulty": 545259519,
                    "ledger_hash": "b8e8c0a20b5245bf0f31edf1c53b60f116f0c9a2980afad5e72505211be7f4e0",
                    "txlist_hash": "27a3166c79f5f9b71d82217b5c45cbb607eca5fe89dfc6c2a28e92b7b2658c88",
                    "messages_hash": "a7f9d97a8439f581242c6d3d9d9ec2a569702450c0cd488c31fbecc3daffc065",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "43757dfbcbe54d34557ebc3d81564ab86aaae2cc310f3788b63fc7550ee05b56",
                    "block_time": 1726815359,
                    "previous_block_hash": "5ec7ddd08ae9307a292f17db43da8e8586ed140a86b3fac7df8639ab2bfb5df1",
                    "difficulty": 545259519,
                    "ledger_hash": "48e8e4a7ee33c7ba93781c7ce661d57afac099a607bcaa14c91365a571aaa60c",
                    "txlist_hash": "487d7f0a887f961c184b78de3b96075160f4b0f931fcb52cc761e205fdbea9f4",
                    "messages_hash": "f1a551bfec8113baf559ccb5c8bc159f656d15d3dd2335f70fbc86a3be2495d1",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                "block_time": 1726815376,
                "previous_block_hash": "62147c1d9cc39595807a029e240ab3a68a952e88ce5b71fff7844b86e0cb8c7f",
                "difficulty": 545259519,
                "ledger_hash": "c35cac3a55dd455eda44fec6808f4b04601d54416913965cf9981a7187e4ca9b",
                "txlist_hash": "ffc04a3314302eecc9ed3c67fe1acc91b47b4510370eb27342c9779b5f7490e9",
                "messages_hash": "64af7906004d705fe89433fbcec64aab6a352ca56eda19f6490882cfff161834",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                "block_time": 1726815376,
                "previous_block_hash": "62147c1d9cc39595807a029e240ab3a68a952e88ce5b71fff7844b86e0cb8c7f",
                "difficulty": 545259519,
                "ledger_hash": "c35cac3a55dd455eda44fec6808f4b04601d54416913965cf9981a7187e4ca9b",
                "txlist_hash": "ffc04a3314302eecc9ed3c67fe1acc91b47b4510370eb27342c9779b5f7490e9",
                "messages_hash": "64af7906004d705fe89433fbcec64aab6a352ca56eda19f6490882cfff161834",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                    "block_index": 193,
                    "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
                    "block_time": 1726815376,
                    "source": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "2a02edf6dfa0fe34ec607651a25dc50c13dac9a41c1fbfd52a053f1dab281ba7",
                        "messages_hash": "844c5288536dd9e848722eccc59300b721384dbfc6129a99d046d702e4583f54",
                        "transaction_count": 1,
                        "txlist_hash": "707f4edd41824c8716d6099fff29f4b60bdb9f141f9f033b38f2cd14bea206a0",
                        "block_time": 1726815372
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "tx_index": 58
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                        "status": "valid",
                        "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "tx_index": 58,
                        "block_time": 1726815372,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726815372,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726815372,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726815372,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726815372,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726815372,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726815372,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726815372,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726815372,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726815376,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "18bd2377dfd4b83a1010dcad2ca53d0b4b14dc303693f948e75f4c405f77f569",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726815264
                },
                {
                    "type": "order",
                    "object_id": "d03041070c15fba3d77e65d5aeb9c3f88c777ab03a5639e0ed845cbdfde234e7",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726815264
                },
                {
                    "type": "order_match",
                    "object_id": "d03041070c15fba3d77e65d5aeb9c3f88c777ab03a5639e0ed845cbdfde234e7_18bd2377dfd4b83a1010dcad2ca53d0b4b14dc303693f948e75f4c405f77f569",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726815264
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2",
                    "block_index": 190,
                    "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "offer_hash": "13dba7a88acddbe687401f1ba4374f6cf1df378550f77726e9f4d3b9e56aef9b",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726815363
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
                    "block_index": 193,
                    "source": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726815376,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "9a110287c955eba18bfaed58bbce05b2312cb4f078cbb0c0a7cf71d5a12486ed",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726815249,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "7762d51f9fd9223de97519585aeb1165bcbf482d9ac3ec7b2c67f62217f1c5e3",
                    "block_index": 188,
                    "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "destination": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726815355,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "7762d51f9fd9223de97519585aeb1165bcbf482d9ac3ec7b2c67f62217f1c5e3",
                    "block_index": 188,
                    "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "destination": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726815355,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "7762d51f9fd9223de97519585aeb1165bcbf482d9ac3ec7b2c67f62217f1c5e3",
                    "block_index": 188,
                    "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                    "destination": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726815355,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
                    "block_index": 146,
                    "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                    "destination": "bcrt1qhr9ppws373yl4skncqlp5e503xj03lk3whp7we",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726815183,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "4546a69988dd5a4d96db8f6f611739347af4ad4d7f29b9cf4c4b43b5d045656c",
                    "block_index": 192,
                    "source": "bcrt1q4c7djjlwcjnkfwvks0d9r69a0ytcpztm9fkswl",
                    "destination": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726815372,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "8b28dd31f49228d2203cd7fcfa8b9062b26a1691283c8ed214f508aebe94a44e",
        "block_index": 138,
        "block_hash": "386e5394234079299bd30d5bf56fbbcd0fb45c95d855caa8e91a886d60853081",
        "block_time": 1726815138,
        "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "8b28dd31f49228d2203cd7fcfa8b9062b26a1691283c8ed214f508aebe94a44e:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8",
        "block_index": 185,
        "block_hash": "6859748d6c0acc7ced001814e3f23267264ee6d1cd289792025fe34c0cc8c627",
        "block_time": 1726815342,
        "source": "bcrt1q3lhljlgagn9wvqxcy2qj7nlmegpr282yhpjsaf",
        "destination": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0b8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a3468eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
        "supported": true,
        "utxos_info": "85ed946aefb8bc2f75e5c983d94c8480b4ff7f62d1ac364f1ddd964a83529eb8:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346",
                "tx1_hash": "8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
                "order_match_id": "8b7b278ba8e7e71a3d52e644927627803a9a79c77d7e8071ce109cda4fa1a346_8eaae9a6414adde96dfa8c5077722bcd8346f99bad61f40f972a152fe7001392",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2",
        "block_index": 190,
        "block_hash": "03c9daadfc62a0379b3555a56a0c850b85b892d210480b1f6aee311b9514e48e",
        "block_time": 1726815363,
        "source": "bcrt1q2t6gq9freq855jdwezganx7zm7larn5az7qwh3",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "4613dba7a88acddbe687401f1ba4374f6cf1df378550f77726e9f4d3b9e56aef9b",
        "supported": true,
        "utxos_info": "802601a53ec681d6b4aba1c5b47fc2b6575b6d3923373a3a5e649c0f753083d2:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "13dba7a88acddbe687401f1ba4374f6cf1df378550f77726e9f4d3b9e56aef9b",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b",
        "block_index": 193,
        "block_hash": "57afe5cea5c9d23e39261789a1d0ba65de1ea9230e925b50209b143efe4df02c",
        "block_time": 1726815376,
        "source": "bcrt1qc5c29t0f3uv4ufwjp7yr9cvvx27qz6nauzw45e",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "70431fe65593fcf7cdd94f62ae9a00dbe3d2df44f961791222ffd2063449836b:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818",
        "block_index": 145,
        "block_hash": "01add2a8c14c6bb5355876e4cbdc4695a8c3f04451bc6eaa06ce1453c68f260e",
        "block_time": 1726815178,
        "source": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c0000000000000001000000000000000100000000000027100000000000000001008068e21bd6dc7f30b4166003fcc046574add94ec15",
        "supported": true,
        "utxos_info": "3e0169a0fbcacfb257ca5a182116254f61692f1496884288fa9f475a45eee818:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05",
        "block_index": 146,
        "block_hash": "4608a70673492315b02a19a28a083d4325dea0146621f97094e48ebff95160f7",
        "block_time": 1726815183,
        "source": "bcrt1qhr9ppws373yl4skncqlp5e503xj03lk3whp7we",
        "destination": "bcrt1qdr3ph4ku0uctg9nqq07vq3jhftwefmq4f55n9n",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "b72599be1d2708a1f83b2e0bfeaeb498be57da2a938e21881d72b8da73d41d05:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "dcbb0ed93017ca7c7094614dd81d4f371e646cd0eb13285cdfa302d15ecd0a4d",
        "block_index": 153,
        "block_hash": "37dbc5fb0b3f2e56c5912878a15bedc05fa3061645cf904228fada61745ec380",
        "block_time": 1726815213,
[...]
