[//]: # (Generated by genapidoc.py on 2024-05-30 14:29:26.222649. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

Please see [Apiary](https://counterpartycore.docs.apiary.io/) for interactive documentation.

API routes are divided into 11 groups:

- [`/blocks`](#/reference/blocks)
- [`/transactions`](#/reference/transactions)
- [`/addresses`](#/reference/addresses)
- [`/compose`](#/reference/compose)
- [`/assets`](#/reference/assets)
- [`/orders`](#/reference/orders)
- [`/bets`](#/reference/bets)
- [`/dispensers`](#/reference/dispensers)
- [`/burns`](#/reference/burns)
- [`/events`](#/reference/events)
- [`/mempool`](#/reference/mempool)
- [`/bitcoin`](#/reference/bitcoin)
- [`/v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZMQ Publisher

You can enable a ZMQ server by starting `counteparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.

### Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 17538426,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "000000000000000000027ad35f1914a1b67974a512f20d20fb752f6c4c82c4b0",
                "block_index": 844577,
                "block_time": 1716376015,
                "difficulty": 386097818,
                "previous_block_hash": "00000000000000000000e7aee62554c3087d45b3ef8e7d62382725763d34b6a6"
            },
            "tx_hash": null,
            "block_index": 844577,
            "timestamp": 1716376046
        }
    ],
    "next_cursor": 17538424,
    "result_count": 566308
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 17538427,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "000000000000000000027ad35f1914a1b67974a512f20d20fb752f6c4c82c4b0",
                "block_index": 844577,
                "block_time": 1716376015,
                "btc_amount": 0,
                "data": "02000018c3c7e3e26400000000000000010025473f18d333589523b94e2c218e23dcb74092c8",
                "destination": "",
                "fee": 5000,
                "source": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
                "tx_index": 2734017
            },
            "tx_hash": null,
            "block_index": 844577,
            "timestamp": 1716376046
        }
    ],
    "next_cursor": 17538412,
    "result_count": 2734018
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 17537952,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 844518,
                "btc_amount": 159091,
                "destination": "13gfTRvHYWP4DyX46X6mhnfDS6WnUf9GBi",
                "out_index": 0,
                "tx_hash": "ea153fee9e4948d595cd1b392ea6f51d4e38662d09802ec5ef528efdd498eb9f",
                "tx_index": 2733967
            },
            "tx_hash": null,
            "block_index": 844518,
            "timestamp": 1716362386
        }
    ],
    "next_cursor": 17537937,
    "result_count": 459
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 17538432,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 844577,
                "ledger_hash": "ca2cbebd948a05e2397f28476ad86f2e93ceb298dedaf4e43515e2548ab3c703",
                "messages_hash": "f837215f83e95076993ea20f34d4ef6c511f33c00a3e1935e2d0d6deb6966b65",
                "txlist_hash": "4242c7353e8d1cc3cbeb28d6de15cf503904ee335e2c1712572bfb11a7c7bfa7"
            },
            "tx_hash": null,
            "block_index": 844577,
            "timestamp": 1716376047
        }
    ],
    "next_cursor": 17538425,
    "result_count": 566308
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 17538431,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
                "tx_index": 2734017
            },
            "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
            "block_index": 844577,
            "timestamp": 1716376047
        }
    ],
    "next_cursor": 17538416,
    "result_count": 2731197
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 17538428,
            "event": "DEBIT",
            "params": {
                "action": "send",
                "address": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                "asset": "FAKEGREENS",
                "block_index": 844577,
                "event": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
                "quantity": 1,
                "tx_index": 2734017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
            "block_index": 844577,
            "timestamp": 1716376047
        }
    ],
    "next_cursor": 17538413,
    "result_count": 2626930
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 17538429,
            "event": "CREDIT",
            "params": {
                "address": "14Q7MPb23WL8LjMks6mU8ELGW8WsEfYoLT",
                "asset": "FAKEGREENS",
                "block_index": 844577,
                "calling_function": "send",
                "event": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
                "quantity": 1,
                "tx_index": 2734017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
            "block_index": 844577,
            "timestamp": 1716376047
        }
    ],
    "next_cursor": 17538414,
    "result_count": 3670341
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 17538430,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "FAKEGREENS",
                "block_index": 844577,
                "destination": "14Q7MPb23WL8LjMks6mU8ELGW8WsEfYoLT",
                "memo": null,
                "quantity": 1,
                "source": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                "status": "valid",
                "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
                "tx_index": 2734017,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "6340bec466445da9a70e3204c7e062a46e0bd2b611ea014b0825832cff294645",
            "block_index": 844577,
            "timestamp": 1716376047
        }
    ],
    "next_cursor": 17538415,
    "result_count": 540260
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 17538048,
            "event": "MPMA_SEND",
            "params": {
                "asset": "A98998639560885377",
                "block_index": 844524,
                "destination": "bc1qpq6g0dhvl9229gqndxjy366m5aqwatd2xevjty",
                "memo": null,
                "msg_index": 18,
                "quantity": 15,
                "source": "bc1qwu6dtn6rjfecd0x4su3lcwsncs972zk0jr2ag8",
                "status": "valid",
                "tx_hash": "889f79f16c939db63afb8df7d733f17fb23be0a1f9289a1d7dd452ff5f508251",
                "tx_index": 2733971,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:",
                    "issuer": "bc1qwu6dtn6rjfecd0x4su3lcwsncs972zk0jr2ag8",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "15"
            },
            "tx_hash": "889f79f16c939db63afb8df7d733f17fb23be0a1f9289a1d7dd452ff5f508251",
            "block_index": 844524,
            "timestamp": 1716362395
        }
    ],
    "next_cursor": 17538047,
    "result_count": 280836
}
```

#### `SEND`

```
{
    "result": [
        {
            "event_index": 17537126,
            "event": "SEND",
            "params": {
                "asset": "REXDEUS",
                "block_index": 844416,
                "destination": "1F5ViAh8FJZXZXK1UXXeKMWC6qZsGNJ76m",
                "quantity": 0,
                "source": "1KYgNdaKwXKMYYoJLArr5r3S2Js68Zpu1D",
                "status": "invalid: insufficient funds",
                "tx_hash": "c7497d0c427083df81a884ff39e282e176943a436a82f4c0a0878afdc601229f",
                "tx_index": 2733863,
                "asset_info": {
                    "asset_longname": null,
                    "description": "REXDEUS is double LOCKED.",
                    "issuer": "1F5ViAh8FJZXZXK1UXXeKMWC6qZsGNJ76m",
                    "divisible": false,
                    "locked": false
                },
                "quantity_normalized": "0"
            },
            "tx_hash": "c7497d0c427083df81a884ff39e282e176943a436a82f4c0a0878afdc601229f",
            "block_index": 844416,
            "timestamp": 1716280349
        }
    ],
    "next_cursor": 17537124,
    "result_count": 805987
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [
        {
            "event_index": 17519768,
            "event": "ASSET_TRANSFER",
            "params": {
                "asset": "A9826143785906924000",
                "asset_longname": null,
                "block_index": 843554,
                "call_date": 0,
                "call_price": 0.0,
                "callable": 0,
                "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVR42mNgGITgPxTT1PD/tDb8P60N/09rw6lmyf/bGxvgGGYwGp9yw5+fXoliKBZLybcA2XBsmGILCOGhYcGyPB0wRjYYJkauBRiuvDQ3AasYVSygRRD9p0sczKyJxGUg9SzAZgkMg+SoYgE+TFULbp3d/V9DmhNMU8UCWDDQzAfIYU1tw3EW1dSsD6iW3mlqAQDPvsolwlliWwAAAABJRU5ErkJggg==",
                "divisible": 0,
                "fee_paid": 0,
                "issuer": "1GRiXRTe9hwGdHHhiRAJSLAUF8MnCDdytm",
                "locked": 1,
                "msg_index": 149,
                "quantity": 0,
                "reset": false,
                "source": "1HxxvCFTaUWjFo46AVjVEKkvGCKt3mkiBR",
                "status": "valid",
                "transfer": true,
                "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
                "tx_index": 2731050,
                "asset_info": {
                    "asset_longname": null,
                    "description": "STAMP:iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAlElEQVR42mNgGITgPxTT1PD/tDb8P60N/09rw6lmyf/bGxvgGGYwGp9yw5+fXoliKBZLybcA2XBsmGILCOGhYcGyPB0wRjYYJkauBRiuvDQ3AasYVSygRRD9p0sczKyJxGUg9SzAZgkMg+SoYgE+TFULbp3d/V9DmhNMU8UCWDDQzAfIYU1tw3EW1dSsD6iW3mlqAQDPvsolwlliWwAAAABJRU5ErkJggg==",
                    "issuer": "1GRiXRTe9hwGdHHhiRAJSLAUF8MnCDdytm",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "0"
            },
            "tx_hash": "3c460633f6df558e17361538275352c58ebb22fae41b54ac46adc41bc2e70d66",
            "block_index": 843554,
            "timestamp": 1715941288
        }
    ],
    "next_cursor": 17519767,
    "result_count": 10793
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 17537591,
            "event": "SWEEP",
            "params": {
                "block_index": 844472,
                "destination": "1MKVARB58XMfhvGfKCcNrLhwjwUNVQZg9V",
                "fee_paid": 1800000,
                "flags": 3,
                "memo": null,
                "source": "1NZgkbjdGcag8JR8aZhASMYBgnN9mGnNpr",
                "status": "valid",
                "tx_hash": "45d91936a8dceff243ee8c4c9a708b0a62b030405dcea9a0a147590ad9f8e980",
                "tx_index": 2733925
            },
            "tx_hash": "45d91936a8dceff243ee8c4c9a708b0a62b030405dcea9a0a147590ad9f8e980",
            "block_index": 844472,
            "timestamp": 1716315791
        }
    ],
    "next_cursor": 17536294,
    "result_count": 1039
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 17532048,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "A16944354328229950323",
                "block_index": 844152,
                "dividend_asset": "OLDINAL",
                "fee_paid": 200000,
                "quantity_per_unit": 420,
                "source": "1BH9sBVQ645gx2D3pfkc95SSvvEXpFhw2N",
                "status": "valid",
                "tx_hash": "9821a25bbb80b91644459999c78286aa93f1b7bcf5a7b5d52e7c928c7ffe72f9",
                "tx_index": 2733056,
                "asset_info": {
                    "asset_longname": "ILUMINATRARE.MMXXII",
                    "description": "imgur/rKEBDU7.png; MMXXII",
                    "issuer": "1BH9sBVQ645gx2D3pfkc95SSvvEXpFhw2N",
                    "divisible": false,
                    "locked": true
                }
            },
            "tx_hash": "9821a25bbb80b91644459999c78286aa93f1b7bcf5a7b5d52e7c928c7ffe72f9",
            "block_index": 844152,
            "timestamp": 1716203565
        }
    ],
    "next_cursor": 17531902,
    "result_count": 4105
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17505451,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "WAROFTHEPEPE",
                "asset_longname": null,
                "block_index": 842523,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "https://easyasset.art/j/5hnkao/WAROF.json",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                "locked": false,
                "quantity": 135,
                "reset": true,
                "source": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                "status": "valid",
                "transfer": false,
                "tx_hash": "f9b84a75743241b9183e439c9f09446a5dd4c6723c41dd7e48f1f8314031c1c7",
                "tx_index": 2729333,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/exbi01/WAROF.json",
                    "issuer": "1CR9NYcwDhMgebeMtBpoGWLF7JeCZdKK3w",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "135"
            },
            "tx_hash": "f9b84a75743241b9183e439c9f09446a5dd4c6723c41dd7e48f1f8314031c1c7",
            "block_index": 842523,
            "timestamp": 1715690163
        }
    ],
    "next_cursor": 17438757,
    "result_count": 455
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 17538140,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "2691204070103030304",
                "asset_longname": null,
                "asset_name": "A2691204070103030304",
                "block_index": 844536
            },
            "tx_hash": "c382f47b2d9c86df644b7ecd5f2b7517d35b2cbd9ec68056dc17e1e224f382f3",
            "block_index": 844536,
            "timestamp": 1716362407
        }
    ],
    "next_cursor": 17538081,
    "result_count": 236751
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 17538368,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "LORDOFGOATS",
                "asset_longname": null,
                "block_index": 844569,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": false,
                "fee_paid": 0,
                "issuer": "18UXAw9MkAMKh9sRSCwNxfXNysvQvhwVg7",
                "locked": true,
                "quantity": 0,
                "reset": false,
                "source": "18UXAw9MkAMKh9sRSCwNxfXNysvQvhwVg7",
                "status": "valid",
                "transfer": false,
                "tx_hash": "2f6ad7f6eaef456564a846b2ca352e19ab9fa05b75664c4414a03629b2f08ae3",
                "tx_index": 2734009,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "18UXAw9MkAMKh9sRSCwNxfXNysvQvhwVg7",
                    "divisible": false,
                    "locked": true
                },
                "quantity_normalized": "0"
            },
            "tx_hash": "2f6ad7f6eaef456564a846b2ca352e19ab9fa05b75664c4414a03629b2f08ae3",
            "block_index": 844569,
            "timestamp": 1716372826
        }
    ],
    "next_cursor": 17538141,
    "result_count": 323766
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 17537136,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "UNDEADPEPE",
                "block_index": 844417,
                "quantity": 1,
                "source": "1AaukiXRgi4KaG7qYZBszwkyc2BWEdFiJD",
                "status": "valid",
                "tag": "6d616e656c6b6132302d32343941",
                "tx_hash": "7e32c93fbf272d4e53af0deb776ef4113bc6158a0297f534a575c6c26028f692",
                "tx_index": 2733865,
                "asset_info": {
                    "asset_longname": null,
                    "description": "xcp.coindaddy.io/UNDEADPEPE.json",
                    "issuer": "18Hng7i8hdecRFFexoQZ9dkPh7FrshipHS",
                    "divisible": false,
                    "locked": false
                },
                "quantity_normalized": "1"
            },
            "tx_hash": "7e32c93fbf272d4e53af0deb776ef4113bc6158a0297f534a575c6c26028f692",
            "block_index": 844417,
            "timestamp": 1716280996
        }
    ],
    "next_cursor": 17536940,
    "result_count": 11205
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 17538321,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 844560,
                "expiration": 8064,
                "expire_index": 852624,
                "fee_provided": 3348,
                "fee_provided_remaining": 3348,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "PEPECASH",
                "get_quantity": 6400000000000,
                "get_remaining": 6400000000000,
                "give_asset": "DRSTRNGEPEPE",
                "give_quantity": 8,
                "give_remaining": 8,
                "source": "1BH9sBVQ645gx2D3pfkc95SSvvEXpFhw2N",
                "status": "open",
                "tx_hash": "6d9942205575dfc016e9fbcf2c15df8435034740cf33b076ce5ce2aafa4364d8",
                "tx_index": 2734003,
                "give_asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "17hxupddtL5z3RusNNgUUmK1EQiCXUhe6z",
                    "divisible": false,
                    "locked": true
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "http://rarepepedirectory.com/json/pc.json",
                    "issuer": "1GQhaWqejcGJ4GhQar7SjcCfadxvf5DNBD",
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "8",
                "get_quantity_normalized": "64000",
                "get_remaining_normalized": "64000",
                "give_remaining_normalized": "8"
            },
            "tx_hash": "6d9942205575dfc016e9fbcf2c15df8435034740cf33b076ce5ce2aafa4364d8",
            "block_index": 844560,
            "timestamp": 1716367006
        }
    ],
    "next_cursor": 17538216,
    "result_count": 532549
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 17537262,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 151876,
                "block_index": 844431,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 948632105,
                "id": "49341db1c4f6f16f111562049b86b28df38146cacc2314575e6b638d79e2a10e_7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
                "match_expire_index": 844451,
                "status": "pending",
                "tx0_address": "14dhSWLxYYSds1CBrvEUqBcfCVEPKXPZNg",
                "tx0_block_index": 841345,
                "tx0_expiration": 8064,
                "tx0_hash": "49341db1c4f6f16f111562049b86b28df38146cacc2314575e6b638d79e2a10e",
                "tx0_index": 2726780,
                "tx1_address": "1NZgkbjdGcag8JR8aZhASMYBgnN9mGnNpr",
                "tx1_block_index": 844431,
                "tx1_expiration": 8064,
                "tx1_hash": "7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
                "tx1_index": 2733884
            },
            "tx_hash": "7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
            "block_index": 844431,
            "timestamp": 1716292056
        }
    ],
    "next_cursor": 17536557,
    "result_count": 209631
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17538313,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "expired",
                "tx_hash": "4b4731684083fa9c4407552c3cc3662b26cd86c3b760a936292890fbc7b18ebf"
            },
            "tx_hash": null,
            "block_index": 844560,
            "timestamp": 1716367006
        }
    ],
    "next_cursor": 17538304,
    "result_count": 733776
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 17490554,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "041d838c801be45411d476716bf708845dae6dbbd6c95d05e7e82e21ffa82781"
            },
            "tx_hash": "2aaa019919846c2874ccd1a673f036e37ac6b9d071ba6b6f3164098bad8298fd",
            "block_index": 841327,
            "timestamp": 1715478026
        }
    ],
    "next_cursor": 17490548,
    "result_count": 809
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 17537429,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "49341db1c4f6f16f111562049b86b28df38146cacc2314575e6b638d79e2a10e_7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
                "order_match_id": "49341db1c4f6f16f111562049b86b28df38146cacc2314575e6b638d79e2a10e_7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
                "status": "expired"
            },
            "tx_hash": null,
            "block_index": 844452,
            "timestamp": 1716307648
        }
    ],
    "next_cursor": 17532900,
    "result_count": 23738
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 17505814,
            "event": "BTC_PAY",
            "params": {
                "block_index": 842560,
                "btc_amount": 7113635,
                "destination": "1JsPoV5USoFM7441KtGXtvMH5ezNwq9Uak",
                "order_match_id": "e470416a9500fb046835192da013f48e6468a07dba1bede4a0b68e666ed23c8d_18223b1418beec4ebfd349f37a8cadb0a5377e0d62b67512167cb3cd996f6845",
                "source": "bc1qsteve3tfxfg9pcmvzw645sr9zy7es5rx645p6l",
                "status": "valid",
                "tx_hash": "32bec73c6b682823ee7b304e3c2b81661b9e32558de8ce1fbbdb5213cf119cc4",
                "tx_index": 2729382
            },
            "tx_hash": "32bec73c6b682823ee7b304e3c2b81661b9e32558de8ce1fbbdb5213cf119cc4",
            "block_index": 842560,
            "timestamp": 1715690211
        }
    ],
    "next_cursor": 17505792,
    "result_count": 2928
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 17538306,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 844559,
                "offer_hash": "a582052e2d44dc3242c7d7a95c6666b1eefef3b18cfd99292f43b6cf9bdf43b0",
                "source": "bc1query8r32jhda5x9zrlstlvhdhlaqusxet2kgfk",
                "status": "valid",
                "tx_hash": "7761a560fd78ff2f2b5534eceb20cbc41d13e1d79ddc15d8837d6c079dfd66ca",
                "tx_index": 2734001
            },
            "tx_hash": "7761a560fd78ff2f2b5534eceb20cbc41d13e1d79ddc15d8837d6c079dfd66ca",
            "block_index": 844559,
            "timestamp": 1716366769
        }
    ],
    "next_cursor": 17537480,
    "result_count": 80276
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17538315,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 844560,
                "order_hash": "4b4731684083fa9c4407552c3cc3662b26cd86c3b760a936292890fbc7b18ebf",
                "source": "1LnYFKsS575LqYKTqywaSgvVBe3NUxm673"
            },
            "tx_hash": null,
            "block_index": 844560,
            "timestamp": 1716367006
        }
    ],
    "next_cursor": 17538300,
    "result_count": 196483
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 17537431,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 844452,
                "order_match_id": "49341db1c4f6f16f111562049b86b28df38146cacc2314575e6b638d79e2a10e_7a75e4f79edf5a96498d6be7ed4ed6b0b19d6a93ea4200bd24147d251f911ce2",
                "tx0_address": "14dhSWLxYYSds1CBrvEUqBcfCVEPKXPZNg",
                "tx1_address": "1NZgkbjdGcag8JR8aZhASMYBgnN9mGnNpr"
            },
            "tx_hash": null,
            "block_index": 844452,
            "timestamp": 1716307648
        }
    ],
    "next_cursor": 17532903,
    "result_count": 20902
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17538406,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "SHART",
                "block_index": 844570,
                "dispense_count": 0,
                "escrow_quantity": 1,
                "give_quantity": 1,
                "give_remaining": 1,
                "oracle_address": null,
                "origin": "18Rsggx51jeBfTU6dARyqHJqRBjkctkyA5",
                "satoshirate": 500000,
                "source": "1NtBCRxVbQj67UEwMtH5DA6MJPKfA7SnAG",
                "status": 0,
                "tx_hash": "d57921d195a944c0927fd42d903a960df945eefd65dc73b3cd2f75197969e2e9",
                "tx_index": 2734015,
                "asset_info": {
                    "asset_longname": null,
                    "description": "ruderelics.io/json/xcp/SHART.json",
                    "issuer": "1RUDEjgtMCY8kSJUUvTv4KHMGFgg9LrgF",
                    "divisible": false,
                    "locked": true
                },
                "give_quantity_normalized": "1",
                "give_remaining_normalized": "1",
                "escrow_quantity_normalized": "1"
            },
            "tx_hash": "d57921d195a944c0927fd42d903a960df945eefd65dc73b3cd2f75197969e2e9",
            "block_index": 844570,
            "timestamp": 1716373363
        }
    ],
    "next_cursor": 17538401,
    "result_count": 88873
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 17537959,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "FAKEGREENS",
                "dispense_count": 6,
                "give_remaining": 37,
                "source": "13gfTRvHYWP4DyX46X6mhnfDS6WnUf9GBi",
                "status": 0,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": false,
                    "locked": true
                },
                "give_remaining_normalized": "37"
            },
            "tx_hash": "ea153fee9e4948d595cd1b392ea6f51d4e38662d09802ec5ef528efdd498eb9f",
            "block_index": 844518,
            "timestamp": 1716362387
        }
    ],
    "next_cursor": 17537939,
    "result_count": 230414
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 17492424,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "LRDBLCKSCHLD",
                "block_index": 841430,
                "destination": "1BAAXMdcT3Jt9hjSoquWqAVdAy4vNsyvdk",
                "dispense_quantity": 8,
                "dispenser_tx_hash": "966b79db0d742d28722561ca1f6cee69e48c4dd43d453c178467723e683f69be",
                "source": "193J7RVEY2BgA5aKfL6BBAVSyiS1UyBRG6",
                "tx_hash": "6b15ba26a139b8d8b7addfb3cab8e25813b55a78119c18084f88c2d1f9dd71fb",
                "tx_index": 2727823,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://4n7zuzbehhv3xdoaoa735qejyh3p4m2vk44g4flzh7ihfv5z5tjq.arweave.net/43-aZCQ567uNwHA_vsCJwfb-M1VXOG4VeT_Qcte57NM/LRDBL.json",
                    "issuer": "193J7RVEY2BgA5aKfL6BBAVSyiS1UyBRG6",
                    "divisible": false,
                    "locked": true
                },
                "dispense_quantity_normalized": "8"
            },
            "tx_hash": "6b15ba26a139b8d8b7addfb3cab8e25813b55a78119c18084f88c2d1f9dd71fb",
            "block_index": 841430,
            "timestamp": 1715478046
        }
    ],
    "next_cursor": 16803346,
    "result_count": 188
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 17537960,
            "event": "DISPENSE",
            "params": {
                "asset": "FAKEGREENS",
                "block_index": 844518,
                "destination": "1AosTY3K66rfQSbmUXDX8DHpy65pPVea84",
                "dispense_index": 0,
                "dispense_quantity": 1,
                "dispenser_tx_hash": "bb4b7b33c896b65379f16d5344342174d3ef26163d6e33c24326bc3807b48c4d",
                "source": "13gfTRvHYWP4DyX46X6mhnfDS6WnUf9GBi",
                "tx_hash": "ea153fee9e4948d595cd1b392ea6f51d4e38662d09802ec5ef528efdd498eb9f",
                "tx_index": 2733967,
                "asset_info": {
                    "asset_longname": null,
                    "description": "https://easyasset.art/j/kdobte/FANSK.json",
                    "issuer": "13HHKVNFBrkfor66LPMbSfvDVNKvhPmSGH",
                    "divisible": false,
                    "locked": true
                },
                "dispense_quantity_normalized": "1"
            },
            "tx_hash": "ea153fee9e4948d595cd1b392ea6f51d4e38662d09802ec5ef528efdd498eb9f",
            "block_index": 844518,
            "timestamp": 1716362387
        }
    ],
    "next_cursor": 17537940,
    "result_count": 191908
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 17533164,
            "event": "BROADCAST",
            "params": {
                "block_index": 844205,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bc1qr3rcetrczgh7e97vmct0musyg0k8ratuptk49a",
                "status": "valid",
                "text": "bt:MINT|0|GAS|60",
                "timestamp": 1712562000,
                "tx_hash": "907d71942d1871d91190a0abe382bc294dc3531dfd5250655d0034cd5f9c5068",
                "tx_index": 2733252,
                "value": 0.0
            },
            "tx_hash": "907d71942d1871d91190a0abe382bc294dc3531dfd5250655d0034cd5f9c5068",
            "block_index": 844205,
            "timestamp": 1716203619
        }
    ],
    "next_cursor": 17533162,
    "result_count": 106541
}
```

### Bets

#### `OPEN_BET`

```
{
    "result": [
        {
            "event_index": 5779772,
            "event": "OPEN_BET",
            "params": {
                "bet_type": 2,
                "block_index": 471011,
                "counterwager_quantity": 2799999999,
                "counterwager_remaining": 2799999999,
                "deadline": 471400,
                "expiration": 565,
                "expire_index": 471576,
                "fee_fraction_int": 0.0,
                "feed_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "leverage": 5040,
                "source": "1AuspQ6wRmryPQ3SuPoy4LaVJSRdafF1Wj",
                "status": "invalid: feed doesn\u2019t exist",
                "target_value": 7.0,
                "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
                "tx_index": 957135,
                "wager_quantity": 200000000,
                "wager_remaining": 200000000
            },
            "tx_hash": "6f2deeab17f2559edcdd952e8d942ac7adf2679df382bfdbf2a554beb32729cf",
            "block_index": 471011,
            "timestamp": 1715457586
        }
    ],
    "next_cursor": 5777249,
    "result_count": 1149
}
```

#### `BET_UPDATE`

```
{
    "result": [
        {
            "event_index": 5798131,
            "event": "BET_UPDATE",
            "params": {
                "status": "expired",
                "tx_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462"
            },
            "tx_hash": null,
            "block_index": 471534,
            "timestamp": 1715457620
        }
    ],
    "next_cursor": 5345982,
    "result_count": 1474
}
```

#### `BET_MATCH`

```
{
    "result": [
        {
            "event_index": 5234759,
            "event": "BET_MATCH",
            "params": {
                "backward_quantity": 50000000,
                "block_index": 460217,
                "deadline": 1491577200,
                "fee_fraction_int": 3000000,
                "feed_address": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ",
                "forward_quantity": 699999999,
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "initial_value": 10.0,
                "leverage": 5040,
                "match_expire_index": 460775,
                "status": "pending",
                "target_value": 7.0,
                "tx0_address": "1A9kQfFmz5UvVmhqSZgRcsfFT1HVE2MYNX",
                "tx0_bet_type": 3,
                "tx0_block_index": 460217,
                "tx0_expiration": 558,
                "tx0_hash": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c",
                "tx0_index": 866660,
                "tx1_address": "1AEV18DTJjJBUWXhqm2aWCkLHWV2tGVTVY",
                "tx1_bet_type": 2,
                "tx1_block_index": 460625,
                "tx1_expiration": 273,
                "tx1_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "tx1_index": 869523
            },
            "tx_hash": "262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
            "block_index": 460625,
            "timestamp": 1715456877
        }
    ],
    "next_cursor": 5216626,
    "result_count": 397
}
```

#### `BET_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 5242791,
            "event": "BET_MATCH_UPDATE",
            "params": {
                "id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "status": "settled: for equal"
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "timestamp": 1715456885
        }
    ],
    "next_cursor": 5242787,
    "result_count": 397
}
```

#### `BET_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 5798133,
            "event": "BET_EXPIRATION",
            "params": {
                "bet_hash": "7b215450a2d417e59b44e82ce9a67abd3a46d8fc53da62ddf8da30ced6a55462",
                "bet_index": 956800,
                "block_index": 471534,
                "source": "1BetXQ5w9mMmJosZ21jUtrebdpgMhYQUaZ"
            },
            "tx_hash": null,
            "block_index": 471534,
            "timestamp": 1715457620
        }
    ],
    "next_cursor": 5345984,
    "result_count": 588
}
```

#### `BET_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 2713911,
            "event": "BET_MATCH_EXPIRATION",
            "params": {
                "bet_match_id": "f1200f1e6fff75b3791455e7692b9a5e296f00d0b1cec5cef2d5491ae249b300_bc07aed52c4cc853d10932624f37de5854f4c3f0825f731259af1f071b8ea0bc",
                "block_index": 403907,
                "tx0_address": "1Ch9trfp2ULuPxnU81cA3TDvW17L8YRw6r",
                "tx1_address": "1BsQTfk6tyKgVyReFCoADSrv33bJ6mfMYv"
            },
            "tx_hash": null,
            "block_index": 403907,
            "timestamp": 1715453950
        }
    ],
    "next_cursor": 881016,
    "result_count": 9
}
```

#### `BET_MATCH_RESOLUTON`

```
{
    "result": [
        {
            "event_index": 5242790,
            "event": "BET_MATCH_RESOLUTON",
            "params": {
                "bear_credit": null,
                "bet_match_id": "f51d8ea6707b9aeafe8291461ce927d40e9f6cad11c9c831972ac61be07bea3c_262e629266b15a769be35a0cc702b10785ed40e15655baf3b1e6a8b4ae056821",
                "bet_match_type_id": 5,
                "block_index": 460878,
                "bull_credit": null,
                "escrow_less_fee": 727500000,
                "fee": 22499999,
                "settled": null,
                "winner": "Equal"
            },
            "tx_hash": "858a2d20b1627da9eea4ffd7730743a47bfb9ad89d69dd685f0fce13ddea68ba",
            "block_index": 460878,
            "timestamp": 1715456885
        }
    ],
    "next_cursor": 5242786,
    "result_count": 387
}
```

#### `CANCEL_BET`

```
{
    "result": [
        {
            "event_index": 851178,
            "event": "CANCEL_BET",
            "params": {
                "block_index": 334697,
                "offer_hash": "b8b101d796b4977d8a7a33486cd17484f3750c01c29675981a775b73622476d1",
                "source": "1PLh4si7FFZ7NSbFpeDbtdVwgwzNH7DHnT",
                "status": "valid",
                "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
                "tx_index": 126800
            },
            "tx_hash": "8c489164534b467cec90aa8d5582e37208327de5e4a129b538c01db96b8b163f",
            "block_index": 334697,
            "timestamp": 1715452231
        }
    ],
    "next_cursor": 847018,
    "result_count": 101
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 21378,
            "event": "BURN",
            "params": {
                "block_index": "283810",
                "burned": "10000000",
                "earned": "10000000000",
                "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                "status": "valid",
                "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                "tx_index": 3070
            },
            "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
            "block_index": 283810,
            "timestamp": 1715450713
        }
    ],
    "next_cursor": 21373,
    "result_count": 2576
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "server_ready": true,
        "network": "mainnet",
        "version": "10.1.2",
        "backend_height": 840796,
        "counterparty_height": 840796,
        "routes": [
            <API Documentation in JSON>
        ]
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `840000` (int, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `2` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840000,
                    "block_hash": "0000000000000000000320283a032748cef8227873ff4872689bf23f1cda83a5",
                    "block_time": 1713571767,
                    "previous_block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "difficulty": 386089497,
                    "ledger_hash": "b91dd54cfbd3aff07b358a038bf6174ddc06f36bd00cdccf048e8281bcd56224",
                    "txlist_hash": "b641c3e190b9941fcd5c84a7c07e66c03559ef26dcea892e2db1cf1d8392a4f2",
                    "messages_hash": "7a706a4f9d75395569dbdba65dbf2a8d7df5391553d11f1e503a94b4cb9e4c2d"
                },
                {
                    "block_index": 839999,
                    "block_hash": "0000000000000000000172014ba58d66455762add0512355ad651207918494ab",
                    "block_time": 1713571533,
                    "previous_block_hash": "00000000000000000001dcce6ce7c8a45872cafd1fb04732b447a14a91832591",
                    "difficulty": 86388558925171.02,
                    "ledger_hash": "e2b2e23c2ac1060dafe2395da01fe5907f323b5a644816f45f003411c612ac30",
                    "txlist_hash": "f33f800ef166e6ef5b3df15a0733f9fd3ebb0b799f39ef1951e6709118b7c0fd",
                    "messages_hash": "3039ba14f9d6d65f8778f251f9d654aae986d62e59a54cc8f3118fa930d3234d"
                }
            ],
            "next_cursor": 839998,
            "result_count": 566308
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 844577,
                "block_hash": "000000000000000000027ad35f1914a1b67974a512f20d20fb752f6c4c82c4b0",
                "block_time": 1716376015,
                "previous_block_hash": "00000000000000000000e7aee62554c3087d45b3ef8e7d62382725763d34b6a6",
                "difficulty": 386097818,
                "ledger_hash": "ca2cbebd948a05e2397f28476ad86f2e93ceb298dedaf4e43515e2548ab3c703",
                "txlist_hash": "4242c7353e8d1cc3cbeb28d6de15cf503904ee335e2c1712572bfb11a7c7bfa7",
                "messages_hash": "f837215f83e95076993ea20f34d4ef6c511f33c00a3e1935e2d0d6deb6966b65"
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "previous_block_hash": "00000000000000000002db1e5aa19784eec3de949f98ec757e7a7f2fc392079d",
                "difficulty": 386089497,
                "ledger_hash": "b3f8cbb50b0705a5c4a8495f8b5128de13a32daebd8ac5e8316a010f0d203584",
                "txlist_hash": "84bdc5b9073f775a2b65de7da2b10b89a2235f3501883b0a836e41e68cd00d46",
                "messages_hash": "adfb435171c82fe319c3d825992dec3152af1f2db4ad3fda630cd264571e0fce"
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `0000000000000000000073b0a277154cbc420e04fd8c699ae188d8d4421418ad` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 844401,
                "block_hash": "0000000000000000000073b0a277154cbc420e04fd8c699ae188d8d4421418ad",
                "block_time": 1716270324,
                "previous_block_hash": "00000000000000000000108f5c32f545b2a1727e3a5f4b216d195a0e5150ebd5",
                "difficulty": 386097818,
                "ledger_hash": "f15379c7451713abb91776214fbdcee0218fa6043a9b7754f18671a2957e1bc8",
                "txlist_hash": "232407297ace6ecd2d133e84462e8126c4fb32edf98851188416f3fc2519aee7",
                "messages_hash": "5f68018f64f657d922de5f50a73dbe45becc6a3ada3d391f87aadf76990c5dc2"
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor: `10665092` (int, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "block_index": 840464,
                    "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                    "block_time": 1713852783,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "destination": "",
                    "btc_amount": 0,
                    "fee": 56565,
                    "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                    "supported": true
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 8
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "CREDIT",
                    "event_count": 1
                }
            ],
            "next_cursor": "BLOCK_PARSED",
            "result_count": 8
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (int, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "calling_function": "issuance",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://zawqddvy75sz6dwqllsrupumldqwi26kk3amlz4fqci7hrsuqcfq.arweave.net/yC0Bjrj_ZZ8O0FrlGj6MWOFka8pWwMXnhYCR88ZUgIs/UNNEG.json",
                        "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                        "divisible": false,
                        "locked": true
                    },
                    "quantity_normalized": "1"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 840464,
                    "address": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "asset": "XCP",
                    "quantity": 50000000,
                    "action": "issuance fee",
                    "event": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "tx_index": 2726605,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "0.5"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `840356` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "b048661afeee3f266792481168024abc0d7648fe0e019e4a1e0fd9867c2c0ffc",
                    "block_index": 840356,
                    "cursor_id": "840356_order_195954"
                },
                {
                    "type": "order",
                    "object_id": "533d5c0ecd8ca9c2946d3298cc5e570eee55b62b887dd85c95de6de4fdc7f441",
                    "block_index": 840356,
                    "cursor_id": "840356_order_195953"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `839746` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2725739,
                    "tx_hash": "2071e8a6fbc0c443b152d513c754356f8f962db2fa694de8c6826b57413cc190",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "b1622dbe4f0ce740cb6c18f6f136876bc4949c40a62bc8cceefa81fd6679a57f",
                    "status": "valid"
                },
                {
                    "tx_index": 2725738,
                    "tx_hash": "793af9129c7368f974c3ea0c87ad38131f0d82d19fbaf1adf8aaf2e657ec42b8",
                    "block_index": 839746,
                    "source": "1E6tyJ2zCyX74XgEK8t9iNMjxjNVLCGR1u",
                    "offer_hash": "04b258ac37f73e3b9a8575110320d67c752e1baace0f516da75845f388911735",
                    "status": "valid"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `839988` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726496,
                    "tx_hash": "f5609facc8dac6cdf70b15c514ea15a9acc24a9bd86dcac2b845d5740fbcc50b",
                    "block_index": 839988,
                    "source": "1FpLAtreZjTVCMcj1pq1AHWuqcs3n7obMm",
                    "asset": "COBBEE",
                    "quantity": 50000,
                    "tag": "",
                    "status": "valid",
                    "asset_info": {
                        "asset_longname": null,
                        "description": "https://easyasset.art/j/m4dl0x/COBBE.json",
                        "issuer": "1P3KQWLsTPXVWimiF2Q6WSES5vbJE8be5i",
                        "divisible": false,
                        "locked": false
                    },
                    "quantity_normalized": "50000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `840464` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726605,
                    "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                    "msg_index": 0,
                    "block_index": 840464,
                    "asset": "UNNEGOTIABLE",
                    "quantity": 1,
                    "divisible": false,
                    "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "issuer": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "fee_paid": 50000000,
                    "locked": false,
                    "status": "valid",
                    "asset_longname": null,
                    "reset": false
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}]

Returns the sends of a block

+ Parameters
    + block_index: `840459` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726604,
                    "tx_hash": "b4bbb14c99dd260eb634243e5c595e1b7213459979857a32850de84989bb71ec",
                    "block_index": 840459,
                    "source": "13Hnmhs5gy2yXKVBx4wSM5HCBdKnaSBZJH",
                    "destination": "1LfT83WAxbN9qKhtrXxcQA6xgdhfZk21Hz",
                    "asset": "GAMESOFTRUMP",
                    "quantity": 1,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "1JJP986hdU9Qy9b49rafM9FoXdbz1Mgbjo",
                        "divisible": false,
                        "locked": false
                    },
                    "quantity_normalized": "1"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `840322` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2726580,
                    "dispense_index": 0,
                    "tx_hash": "e7f0f2c9bef7a492b714a5952ec61b283be344419c5bc33f405f9af41ebfa48b",
                    "block_index": 840322,
                    "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                    "destination": "bc1qzcdkhnexpjc8wvkyrpyrsn0f5xzcpu877mjmgj",
                    "asset": "FLOCK",
                    "dispense_quantity": 90000000000,
                    "dispenser_tx_hash": "753787004d6e93e71f6e0aa1e0932cc74457d12276d53856424b2e4088cc542a",
                    "dispenser": {
                        "tx_index": 2536311,
                        "block_index": 840322,
                        "source": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "give_quantity": 10000000000,
                        "escrow_quantity": 250000000000,
                        "satoshirate": 330000,
                        "status": 0,
                        "give_remaining": 140000000000,
                        "oracle_address": null,
                        "last_status_tx_hash": null,
                        "origin": "bc1qq735dv8peps2ayr3qwwwdwylq4ddwcgrpyg9r2",
                        "dispense_count": 2,
                        "give_quantity_normalized": "100",
                        "give_remaining_normalized": "1400",
                        "escrow_quantity_normalized": "2500"
                    },
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "18VNeRv8vL528HF7ruKwxycrfNEeoqmHpa",
                        "divisible": true,
                        "locked": true
                    }
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}]

Returns the sweeps of a block

+ Parameters
    + block_index: `836519` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 2720537,
                    "tx_hash": "d8db6281abffdbf6c320d5ade06aeb6fad2f7bfa1a2c2243c6726020a27107d3",
                    "block_index": 836519,
                    "source": "18szqTVJUWwYrtRHq98Wn4DhCGGiy3jZ87",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                },
                {
                    "tx_index": 2720536,
                    "tx_hash": "9309a4c0aed426e281a52e5d48acadd1464999269a5e75cf2293edd0277d743d",
                    "block_index": 836519,
                    "source": "1DMVnJuqBobXA9xYioabBsR4mN8bvVtCAW",
                    "destination": "1HC2q92SfH1ZHzS4CrDwp6KAipV4FqUL4T",
                    "flags": 3,
                    "status": "valid",
                    "memo": null,
                    "fee_paid": 1400000
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

## Group Transactions

### Info [GET /v2/transactions/info{?rawtransaction}{&block_index}{&verbose}]

Returns Counterparty information from a raw transaction in hex format.

+ Parameters
    + rawtransaction: `01000000017828697743c03aef6a3a8ba54b22bf579ffcab8161faf20e7b20c4ecd75cc986010000006b483045022100d1bd0531bb1ed2dd2cbf77d6933273e792a3dbfa84327d419169850ddd5976f502205d1ab0f7bcbf1a0cc183f0520c9aa8f711d41cb790c0c4ac39da6da4a093d798012103d3b1f711e907acb556e239f6cafb6a4f7fe40d8dd809b0e06e739c2afd73f202ffffffff0200000000000000004d6a4bf29880b93b0711524c7ef9c76835752088db8bd4113a3daf41fc45ffdc8867ebdbf26817fae377696f36790e52f51005806e9399a427172fedf348cf798ed86e548002ee96909eef0775ec3c2b0100000000001976a91443434cf159cc585fbd74daa9c4b833235b19761b88ac00000000` (str, required) - Raw transaction in hex format
    + block_index (int, optional) - Block index mandatory for transactions before block 335000
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Unpack [GET /v2/transactions/unpack{?datahex}{&block_index}{&verbose}]

Unpacks Counterparty data in hex format and returns the message type and data.

+ Parameters
    + datahex: `16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245` (str, required) - Data in hex format
    + block_index (int, optional) - Block index of the transaction containing this data
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "message_type": "issuance",
                "message_type_id": 22,
                "message_data": {
                    "asset_id": 75313533584419238,
                    "asset": "UNNEGOTIABLE",
                    "subasset_longname": null,
                    "quantity": 1,
                    "divisible": false,
                    "lock": false,
                    "reset": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                    "status": "valid"
                }
            }
        }
    ```

### Get Transaction By Tx Index [GET /v2/transactions/{tx_index}{?verbose}]

Returns a transaction by its index.

+ Parameters
    + tx_index: `10000` (int, required) - The index of the transaction
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "tx_index": 10000,
                "tx_hash": "f91fcf4e6f432037ca8d5844d64e4347bf0127cfbec6041982a9f1d048187160",
                "block_index": 297259,
                "block_hash": "00000000000000009aa8a70b99b6dc29ad52399246d86cf586768661bfcc5391",
                "block_time": 1398229406,
                "source": "1PVHbRqh1eYsGCVZ7t18UCQ6oPzXFR3HQz",
                "destination": null,
                "btc_amount": null,
                "fee": 20000,
                "data": "000000464f84c0428938f794972cd62c67a022f4f3d9d3802041015e49fd1581c95afc99",
                "supported": true,
                "unpacked_data": {
                    "message_type": "cancel",
                    "message_type_id": 70,
                    "message_data": {
                        "offer_hash": "4f84c0428938f794972cd62c67a022f4f3d9d3802041015e49fd1581c95afc99",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Get Transaction By Hash [GET /v2/transactions/{tx_hash}{?verbose}]

Returns a transaction by its hash.

+ Parameters
    + tx_hash: `876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5` (str, required) - The hash of the transaction
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "tx_index": 2726605,
                "tx_hash": "876a6cfbd4aa22ba4fa85c2e1953a1c66649468a43a961ad16ea4d5329e3e4c5",
                "block_index": 840464,
                "block_hash": "00000000000000000001093d4d6b21b80800fff6e5ea15cce6d65066f482cce9",
                "block_time": 1713852783,
                "source": "178etygrwEeeyQso9we85rUqYZbkiqzL4A",
                "destination": "",
                "btc_amount": 0,
                "fee": 56565,
                "data": "16010b9142801429a60000000000000001000000554e4e45474f544941424c45205745204d555354204245434f4d4520554e4e45474f544941424c4520574520415245",
                "supported": true,
                "unpacked_data": {
                    "message_type": "issuance",
                    "message_type_id": 22,
                    "message_data": {
                        "asset_id": 75313533584419238,
                        "asset": "UNNEGOTIABLE",
                        "subasset_longname": null,
                        "quantity": 1,
                        "divisible": false,
                        "lock": false,
                        "reset": false,
                        "callable": false,
                        "call_date": 0,
                        "call_price": 0.0,
                        "description": "UNNEGOTIABLE WE MUST BECOME UNNEGOTIABLE WE ARE",
                        "status": "valid"
                    }
                }
            }
        }
    ```

### Get Events By Transaction Index [GET /v2/transactions/{tx_index}/events{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_index: `1000` (int, required) - The index of the transaction to return
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 7464,
                    "event": "BURN",
                    "params": {
                        "block_index": "280480",
                        "burned": "100000000",
                        "earned": "130272727273",
                        "source": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "status": "valid",
                        "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "tx_index": 1000
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                },
                {
                    "event_index": 7463,
                    "event": "CREDIT",
                    "params": {
                        "address": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "asset": "XCP",
                        "block_index": 280480,
                        "calling_function": "burn",
                        "event": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "quantity": 130272727273,
                        "tx_index": 1000,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": "Counterparty",
                            "description": "The Counterparty protocol native currency",
                            "locked": true
                        },
                        "quantity_normalized": "1302.7273"
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Events By Transaction Hash [GET /v2/transactions/{tx_hash}/events{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_hash: `84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040` (str, required) - The hash of the transaction to return
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 4
        }
    ```

### Get Events By Transaction Index And Event [GET /v2/transactions/{tx_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_index: `1000` (int, required) - The index of the transaction to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 7463,
                    "event": "CREDIT",
                    "params": {
                        "address": "16Pc1CgQpLHA77KFZVd8RCCR8NVmYAvBgZ",
                        "asset": "XCP",
                        "block_index": 280480,
                        "calling_function": "burn",
                        "event": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                        "quantity": 130272727273,
                        "tx_index": 1000,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": "Counterparty",
                            "description": "The Counterparty protocol native currency",
                            "locked": true
                        },
                        "quantity_normalized": "1302.7273"
                    },
                    "tx_hash": "8d720a855affae0b99f83bb22de553af72cdc2747ab336ca6bf606406cffcca7",
                    "block_index": 280480,
                    "timestamp": 1715450705
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Transaction Hash And Event [GET /v2/transactions/{tx_hash}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a transaction

+ Parameters
    + tx_hash: `84b34b19d971adc2ad2dc6bfc5065ca976db1488f207df4887da976fbf2fd040` (str, required) - The hash of the transaction to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor: `10665092` (int, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Addresses

### Get Address Balances [GET /v2/addresses/{address}/balances{?cursor}{&limit}{&offset}{&verbose}]

Returns the balances of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + cursor (int, optional) - The last index of the balances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of balances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "1042"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Balance By Address And Asset [GET /v2/addresses/{address}/balances/{asset}{?verbose}]

Returns the balance of an address and asset

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + asset: `XCP` (str, required) - The asset to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                "asset": "XCP",
                "quantity": 104200000000,
                "block_index": 830981,
                "tx_index": 2677412,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": "Counterparty",
                    "description": "The Counterparty protocol native currency",
                    "locked": true
                },
                "quantity_normalized": "1042"
            }
        }
    ```

### Get Credits By Address [GET /v2/addresses/{address}/credits{?cursor}{&limit}{&offset}{&verbose}]

Returns the credits of an address

+ Parameters
    + address: `1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs` (str, required) - The address to return
    + cursor (int, optional) - The last index of the credits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 830981,
                    "address": "1C3uGcoSGzKVgFqyZ3kM2DBq9CYttTMAVs",
                    "asset": "XCP",
                    "quantity": 104200000000,
                    "calling_function": "send",
                    "event": "7e4fbb0a1eeeee34bf499955f1027fb78c514d63a3c8ff2e28c6dad005e4d850",
                    "tx_index": 2677412,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "1042"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Debits By Address [GET /v2/addresses/{address}/debits{?cursor}{&limit}{&offset}{&verbose}]

Returns the debits of an address

+ Parameters
    + address: `bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y` (str, required) - The address to return
    + cursor (int, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 844326,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 21500000000,
                    "action": "open dispenser",
                    "event": "a5aa565f23c3f0ecc09f7148f75ddfdef36e510c9b1f4ff09abb21590dec17b1",
                    "tx_index": 2733626,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "215"
                },
                {
                    "block_index": 840388,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 250000000000,
                    "action": "send",
                    "event": "bc54968ba7d0a59a47b276602e2dbdcf01b14009742e0d7b50272cbae529a9a4",
                    "tx_index": 2726594,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "2500"
                },
                {
                    "block_index": 836949,
                    "address": "bc1q7787j6msqczs58asdtetchl3zwe8ruj57p9r9y",
                    "asset": "XCP",
                    "quantity": 40000000000,
                    "action": "open dispenser",
                    "event": "53ed08176d3479f49986e9282293da85cebc03835b128d8e790ee587f9f1c750",
                    "tx_index": 2721524,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": "Counterparty",
                        "description": "The Counterparty protocol native currency",
                        "locked": true
                    },
                    "quantity_normalized": "400"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Bet By Feed [GET /v2/addresses/{address}/bets{?status}{&cursor}{&limit}{&offset}{&verbose}]

Returns the bets of a feed

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address of the feed
    + status: `filled` (str, optional) - The status of the bet
        + Default: `open`
    + cursor (int, optional) - The last index of the bets to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of bets to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 61338,
                    "tx_hash": "0fcc7f5190c028f6c5534554d10ec5b4a9246d63826421cd58be2d572d11f088",
                    "block_index": 320704,
                    "source": "1Ew38GxczvV1KxjzZsq9f8UuRzHkHQrL5C",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 2,
                    "deadline": 1410728400,
                    "wager_quantity": 1000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 1999991,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 13,
                    "expire_index": 320715,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                },
                {
                    "tx_index": 15106,
                    "tx_hash": "5d097b4729cb74d927b4458d365beb811a26fcee7f8712f049ecbe780eb496ed",
                    "block_index": 304063,
                    "source": "18ZNyaAcH4HugeofwbrpLoUNiayxJRH65c",
                    "feed_address": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "bet_type": 3,
                    "deadline": 1401828300,
                    "wager_quantity": 50000000,
                    "wager_remaining": 0,
                    "counterwager_quantity": 50000000,
                    "counterwager_remaining": 0,
                    "target_value": 1.0,
                    "leverage": 5040,
                    "expiration": 11,
                    "expire_index": 304073,
                    "fee_fraction_int": 1000000,
                    "status": "filled"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Broadcasts By Source [GET /v2/addresses/{address}/broadcasts{?status}{&cursor}{&limit}{&offset}{&verbose}]

Returns the broadcasts of a source

+ Parameters
    + address: `1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk` (str, required) - The address to return
    + status: `valid` (str, optional) - The status of the broadcasts to return
        + Default: `valid`
    + cursor (int, optional) - The last index of the broadcasts to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of broadcasts to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 61477,
                    "tx_hash": "5d49993bec727622c7b41c84e2b1e65c368f33390d633d217131ffcc5b592f0d",
                    "block_index": 320718,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1410732503,
                    "value": 1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": false,
                    "status": "valid"
                },
                {
                    "tx_index": 15055,
                    "tx_hash": "774887e555a6ae5a8c058ebc0185058307977f01a2d4d326e71f37d6dd977154",
                    "block_index": 304048,
                    "source": "1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "timestamp": 1401815290,
                    "value": -1.0,
                    "fee_fraction_int": 1000000,
                    "text": "xbet.io/feed/1QKEpuxEmdp428KEBSDZAKL46noSXWJBkk",
                    "locked": false,
                    "status": "valid"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Burns By Address [GET /v2/addresses/{address}/burns{?cursor}{&limit}{&offset}{&verbose}]

Returns the burns of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return
    + cursor (int, optional) - The last index of the burns to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of burns to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 3070,
                    "tx_hash": "4560d0e3d04927108b615ab106040489aca9c4aceedcf69d2b71f63b3139c7ae",
                    "block_index": 283810,
                    "source": "1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W",
                    "burned": 10000000,
                    "earned": 10000000000,
                    "status": "valid"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Address [GET /v2/addresses/{address}/sends{?cursor}{&limit}{&offset}{&verbose}]

Returns the sends of an address

+ Parameters
    + address: `1HVgrYx3U258KwvBEvuG7R8ss1RN2Z9J1W` (str, required) - The address to return
    + cursor (int, optional) - The last index of the sends to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sends to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 163106,
                    "tx_hash": "1c447b41816f1cfbb83f125c8e05faeaae70dbf27255745ba7393f809bd388eb",
                    "block_index": 343049,
[...]
