[//]: # (Generated by genapidoc.py on 2025-03-20 13:44:55.056790. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                "block_index": 245,
                "block_time": 1742478271,
                "difficulty": 545259519,
                "previous_block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                "block_index": 245,
                "block_time": 1742478271,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "fee": 0,
                "source": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                "transaction_type": "dispense",
                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "tx_index": 121,
                "utxos_info": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1 dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "out_index": 0,
                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "tx_index": 121,
                "block_time": 1742478271,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                "transaction_count": 1,
                "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                "block_time": 1742478271
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "tx_index": 121
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                "utxo_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                "block_time": 1742478271,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1742478271,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q5kf4curfk6ajfjyy45edkce0xd84edrxmehm5p",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "status": "valid",
                "tx_hash": "5ee8b27c7e5af4264e3acf9f57f88085beb5f515e181345c673f3f75b2c4ba93",
                "tx_index": 77,
                "block_time": 1742478079,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "5ee8b27c7e5af4264e3acf9f57f88085beb5f515e181345c673f3f75b2c4ba93",
            "block_index": 201,
            "block_time": 1742478079
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q5kf4curfk6ajfjyy45edkce0xd84edrxmehm5p",
                "status": "valid",
                "tx_hash": "d5df57185e95744bc9b9dbbe2fc81a9d32edec828ff5b05478ab3fb45a2feff7",
                "tx_index": 81,
                "block_time": 1742478094,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "d5df57185e95744bc9b9dbbe2fc81a9d32edec828ff5b05478ab3fb45a2feff7",
            "block_index": 205,
            "block_time": 1742478094
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qlsffwrl6r8qtcw7zg2tayffkhqcgmqs682ulhc",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1ql0zmlyz84hg6lydju34edf8nmvr92ep6ynlh82",
                "status": "valid",
                "tx_hash": "c83a663722842ab633173db83d1a16aed19be6064cf6e5ce0674eb4aeefef19e",
                "tx_index": 65,
                "block_time": 1742478034,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "c83a663722842ab633173db83d1a16aed19be6064cf6e5ce0674eb4aeefef19e",
            "block_index": 190,
            "block_time": 1742478034
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "status": "valid",
                "tx_hash": "20a2379c8d76fc5ef7bc0731594afbddd58001400f1adc51887045556cb20991",
                "tx_index": 42,
                "block_time": 1742477888,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "20a2379c8d76fc5ef7bc0731594afbddd58001400f1adc51887045556cb20991",
            "block_index": 146,
            "block_time": 1742477888
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "status": "valid",
                "transfer": false,
                "tx_hash": "136b9bafbe69609469951cbd2bd0279985af74775849588a30d7a236fb9f3823",
                "tx_index": 117,
                "block_time": 1742478252,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "136b9bafbe69609469951cbd2bd0279985af74775849588a30d7a236fb9f3823",
            "block_index": 240,
            "block_time": 1742478252
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1742478262
            },
            "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
            "block_index": 243,
            "block_time": 1742478262
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "status": "valid",
                "transfer": false,
                "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
                "tx_index": 120,
                "block_time": 1742478262,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
            "block_index": 243,
            "block_time": 1742478262
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "136b9bafbe69609469951cbd2bd0279985af74775849588a30d7a236fb9f3823",
                "tx_index": 117,
                "block_time": 1742478252,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "136b9bafbe69609469951cbd2bd0279985af74775849588a30d7a236fb9f3823",
            "block_index": 240,
            "block_time": 1742478252
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "status": "open",
                "tx_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
                "tx_index": 119,
                "block_time": 1742478259,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpchp2fztejclndlj3g32h9g2fjmeqjt9uzu2gm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpchp2fztejclndlj3g32h9g2fjmeqjt9uzu2gm"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
            "block_index": 242,
            "block_time": 1742478259
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "975d0b2e60ed57737a6a0a09bfb7acdd9c7316dfb288296fa097418f83d308ef_08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qpchp2fztejclndlj3g32h9g2fjmeqjt9uzu2gm",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "975d0b2e60ed57737a6a0a09bfb7acdd9c7316dfb288296fa097418f83d308ef",
                "tx0_index": 118,
                "tx1_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
                "tx1_index": 119,
                "block_time": 1742478259,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qpchp2fztejclndlj3g32h9g2fjmeqjt9uzu2gm",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qpchp2fztejclndlj3g32h9g2fjmeqjt9uzu2gm"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
            "block_index": 242,
            "block_time": 1742478259
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "08f530534e3490f550af4b620e55102cd71e0d460ad730581381af3bc63ce282",
            "block_index": 242,
            "block_time": 1742478259
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "3c596eb855d50fad180bf5658e09cb2bfc553c2293e0a4ea0dca4c2703f7b633"
            },
            "tx_hash": "fb531252fe09e270e9deb46d615dd1fc38f69bb1d684359a9fa3832e65ebb39c",
            "block_index": 182,
            "block_time": 1742478006
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "b8d80681bb62b02a4a6f68ab1e2eed363fe68c9ff38f2b5c5a477eeab8019ef1_50d04fa683061974d7d145a54083a84138b1c26b2ae574ac45c00e1d3a6572bc",
                "order_match_id": "b8d80681bb62b02a4a6f68ab1e2eed363fe68c9ff38f2b5c5a477eeab8019ef1_50d04fa683061974d7d145a54083a84138b1c26b2ae574ac45c00e1d3a6572bc",
                "status": "expired"
            },
            "tx_hash": "6c4e0dc6a034d4c5d866aa6d91a95b5191bde3d2bb752c3161dc3a2098a4a5c4",
            "block_index": 225,
            "block_time": 1742478167
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "order_match_id": "3028c8702c388180abf6ca4902023d1a0339606b8a3fe8a3eeb58e782cee66ce_3c596eb855d50fad180bf5658e09cb2bfc553c2293e0a4ea0dca4c2703f7b633",
                "source": "bcrt1q5kf4curfk6ajfjyy45edkce0xd84edrxmehm5p",
                "status": "valid",
                "tx_hash": "fb531252fe09e270e9deb46d615dd1fc38f69bb1d684359a9fa3832e65ebb39c",
                "tx_index": 57,
                "block_time": 1742478006,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "fb531252fe09e270e9deb46d615dd1fc38f69bb1d684359a9fa3832e65ebb39c",
            "block_index": 182,
            "block_time": 1742478006
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "834345043c3fc2161a948293778fb9082865bfc277aaa183d69acb1653d3b43e",
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "status": "valid",
                "tx_hash": "84a45131665d8430da78153b918624a4d39856937ee4581381983960e532c27a",
                "tx_index": 63,
                "block_time": 1742478026
            },
            "tx_hash": "84a45131665d8430da78153b918624a4d39856937ee4581381983960e532c27a",
            "block_index": 188,
            "block_time": 1742478026
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "b8d80681bb62b02a4a6f68ab1e2eed363fe68c9ff38f2b5c5a477eeab8019ef1",
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "block_time": 1742478115
            },
            "tx_hash": "a601445dc23b4364b30a4b4444202bb82242ed1f002e373adbf423c1258e1009",
            "block_index": 211,
            "block_time": 1742478115
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "b8d80681bb62b02a4a6f68ab1e2eed363fe68c9ff38f2b5c5a477eeab8019ef1_50d04fa683061974d7d145a54083a84138b1c26b2ae574ac45c00e1d3a6572bc",
                "tx0_address": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "tx1_address": "bcrt1ql0zmlyz84hg6lydju34edf8nmvr92ep6ynlh82",
                "block_time": 1742478167
            },
            "tx_hash": "6c4e0dc6a034d4c5d866aa6d91a95b5191bde3d2bb752c3161dc3a2098a4a5c4",
            "block_index": 225,
            "block_time": 1742478167
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qrc58dvzek9rgywkquz35sf3je66928gljpth5a",
                "satoshirate": 1,
                "source": "bcrt1qrc58dvzek9rgywkquz35sf3je66928gljpth5a",
                "status": 0,
                "tx_hash": "6330425be0132f930d1c7580b24fe25dd85304c84a81937318b0e71ebf007936",
                "tx_index": 114,
                "block_time": 1742478236,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "6330425be0132f930d1c7580b24fe25dd85304c84a81937318b0e71ebf007936",
            "block_index": 236,
            "block_time": 1742478236
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "status": 0,
                "tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mnCRsnqLsLXCy92zZGTGFLwneC2k381f3f",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "9cba0fb753accb78b2e26a32a8bccc7c8f14e9e7c6fc78ee882d16c6c1af73c5",
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "tx_hash": "8ef3f976370178ad5751b6ae7c79f5c2f3107819095a316dfc7673a77da8f359",
                "tx_index": 31,
                "block_time": 1742477850,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "8ef3f976370178ad5751b6ae7c79f5c2f3107819095a316dfc7673a77da8f359",
            "block_index": 135,
            "block_time": 1742477850
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "tx_index": 121,
                "block_time": 1742478271,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "1f4c30df59bb7b2adfdd5e244473e925926097941265c3cb80e1e6153e3c058a",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1742477828,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "1f4c30df59bb7b2adfdd5e244473e925926097941265c3cb80e1e6153e3c058a",
            "block_index": 129,
            "block_time": 1742477828
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "start_block": 0,
                "status": "open",
                "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
                "tx_index": 120,
                "block_time": 1742478262,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
            "block_index": 243,
            "block_time": 1742478262
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "63bdb98f666d8ef6884d5f9c2156877e5f42b169739da0afee4d893ed1210490"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1742478177
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "97a7421f3f76ff3e7bc4223de10217ccc001c8bccc452c43e1450dda707afc3c",
                "paid_quantity": 100000000,
                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "status": "valid",
                "tx_hash": "c970b797970c44f2710b1c478b7e9e8d3210b48935ec20a24c3d0241cdac79d6",
                "tx_index": 97,
                "block_time": 1742478151,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "c970b797970c44f2710b1c478b7e9e8d3210b48935ec20a24c3d0241cdac79d6",
            "block_index": 221,
            "block_time": 1742478151
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "8a4b2f1e1abf2dd589fc1912a3ae0ff9428857aa2de08880c01f41648f14f12c:0",
                "destination_address": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "status": "valid",
                "tx_hash": "8a4b2f1e1abf2dd589fc1912a3ae0ff9428857aa2de08880c01f41648f14f12c",
                "tx_index": 112,
                "block_time": 1742478229,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8a4b2f1e1abf2dd589fc1912a3ae0ff9428857aa2de08880c01f41648f14f12c",
            "block_index": 235,
            "block_time": 1742478229
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "dd3bb2fc22eaebae0be2b77ecf01a81b12c7a06d7e7d19195205e92a7d497811:0",
                "source_address": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                "status": "valid",
                "tx_hash": "5699fd2d8bcbcf20b56fccd0d3d14db1d27aa059dedc9fe943dbb7cdd01e4718",
                "tx_index": 111,
                "block_time": 1742478226,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5699fd2d8bcbcf20b56fccd0d3d14db1d27aa059dedc9fe943dbb7cdd01e4718",
            "block_index": 234,
            "block_time": 1742478226
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                "destination_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                "source_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                "status": "valid",
                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                "tx_index": 121,
                "block_time": 1742478271,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
            "block_index": 245,
            "block_time": 1742478271
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                "status": "valid",
                "tx_hash": "88a58abd06b9f81cff097f56981cad902489153833bf9d7c8005878f1a3e25ef",
                "tx_index": 9,
                "block_time": 1742477766,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "88a58abd06b9f81cff097f56981cad902489153833bf9d7c8005878f1a3e25ef",
            "block_index": 112,
            "block_time": 1742477766
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                    "block_time": 1742478271,
                    "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                    "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                    "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                    "previous_block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02",
                    "block_time": 1742478265,
                    "ledger_hash": "8ad853ce510b353ce889f9500641bc72b61bbdbe638cc63ecfe91dde90c35fd8",
                    "txlist_hash": "d6d36d25ca20fccd2a2a0323d9e50ed196dc1c5e276a015c5fc008dc07bf198d",
                    "messages_hash": "dcf72310850ecbfdd602bca4fca942a2b90ae83aac386ef5277cdbd66bae50dd",
                    "previous_block_hash": "5c1b1e6b31b8141e756a738e254b7e1db308e1d6570d0201358b345c949383db",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "5c1b1e6b31b8141e756a738e254b7e1db308e1d6570d0201358b345c949383db",
                    "block_time": 1742478262,
                    "ledger_hash": "bcf90012267538713e3dccf967fb05e766cc716d2f65dcdbd74d716ec7984ccc",
                    "txlist_hash": "b8a6b1cff3b49d7b4ab4e4fa17d711375147dbaf5019fcbf9bb3dd3eb76a93ae",
                    "messages_hash": "8c1d08d23426eac8172fd9a769c269964bfb62cef33940f7c7471dcece20f2e0",
                    "previous_block_hash": "0d5e5ea77250202f28dd5b6c282d935f6847fba12331327fe55f9f8f647204f5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "0d5e5ea77250202f28dd5b6c282d935f6847fba12331327fe55f9f8f647204f5",
                    "block_time": 1742478259,
                    "ledger_hash": "fc4a895713399408b0e7647f41cd9b67add1d97db513b2709ad26395e858e260",
                    "txlist_hash": "451318a4ad54f4e1283c1bf2360543a6bb735f88329c3d82e77e21b12bb8fc78",
                    "messages_hash": "6a631be3637ba09eca0be2213b0c50215d5ad4bd9a0649aa46eb6ebc7aa3ffcb",
                    "previous_block_hash": "39eb0597d51ab0a4bb9335eb74c4d4221519aaf514618aac60c11aaebcc0f786",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "39eb0597d51ab0a4bb9335eb74c4d4221519aaf514618aac60c11aaebcc0f786",
                    "block_time": 1742478255,
                    "ledger_hash": "edbc2715cffef11ad6299ebe3963a3781b2b38bca7e57c6e81ae13dfd87acb5a",
                    "txlist_hash": "aa01dd17c8119375bfdad336c279926abe823ed8fd7b17742629a9d70c43b84d",
                    "messages_hash": "9327fde1f86b9c91a06c07f100a80ed032c4f0c131a0cda6dfabd3e96aa8ff75",
                    "previous_block_hash": "4ac278dfa1a0691738f4cb74dc676616380209abe65043d2131a308047b592a6",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                "block_time": 1742478271,
                "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                "previous_block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                "block_time": 1742478271,
                "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                "previous_block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                "block_time": 1742478271,
                "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                "previous_block_hash": "2396031ac5c0a9df6cc585ffe1b7c8d0c8af55e38fbcfebe901f4adc0777ac02",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "block_index": 245,
                    "block_hash": "14341748d7ed000db45f7f2bfd38956b2f60be161312923d260b66400d3ddab9",
                    "block_time": 1742478271,
                    "source": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "destination": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1 dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                                "destination_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                                "source_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                                "status": "valid",
                                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                                "tx_index": 121,
                                "block_time": 1742478271,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                            "block_index": 245,
                            "block_time": 1742478271
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                                "destination_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                                "source_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                                "status": "valid",
                                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                                "tx_index": 121,
                                "block_time": 1742478271,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                            "block_index": 245,
                            "block_time": 1742478271
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                                "status": 0,
                                "tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                            "block_index": 245,
                            "block_time": 1742478271
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                                "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                                "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                                "tx_index": 121,
                                "block_time": 1742478271,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                            "block_index": 245,
                            "block_time": 1742478271
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "3bc8c73d2fd661d2abc5bd852ecad0ec959b4cc94c54c20c0c0b6f0b7f26510a",
                        "messages_hash": "8b2a4791d3192faf0d266dd8e06c743f289df019b199f3d94d94878fe1b43686",
                        "transaction_count": 1,
                        "txlist_hash": "d5310f379f75e929a7e5b132ab416dc56d3c5ba1ec3fc2b2200940e8c1cefc83",
                        "block_time": 1742478271
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "tx_index": 121
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                        "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                        "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "tx_index": 121,
                        "block_time": 1742478271,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                        "status": 0,
                        "tx_hash": "bdc0cf7e8d47a037c099fc8e89bc83917ebeca79270b406b64a6f70d991f832a",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1742478271,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1742478271,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                        "utxo_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                        "block_time": 1742478271,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                        "utxo_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                        "block_time": 1742478271,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "tx_index": 121,
                    "utxo": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                    "utxo_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "tx_index": 121,
                    "utxo": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                    "utxo_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "tx_index": 121,
                    "utxo": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                    "utxo_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "tx_index": 121,
                    "utxo": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                    "utxo_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "b8d80681bb62b02a4a6f68ab1e2eed363fe68c9ff38f2b5c5a477eeab8019ef1",
                    "block_index": 211,
                    "block_time": 1742478115
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "84a45131665d8430da78153b918624a4d39856937ee4581381983960e532c27a",
                    "block_index": 188,
                    "source": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                    "offer_hash": "834345043c3fc2161a948293778fb9082865bfc277aaa183d69acb1653d3b43e",
                    "status": "valid",
                    "block_time": 1742478026
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "136b9bafbe69609469951cbd2bd0279985af74775849588a30d7a236fb9f3823",
                    "block_index": 240,
                    "source": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1742478252,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qwdwtfddjqgq3z5e8e4f7quvskf88klaa3scqt0"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "67275e1583859441b2e0cdd7345c5f058d36ff6b246d2e839ceffaa584038e8f",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "issuer": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1742478262,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "block_index": 245,
                    "source": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                    "destination": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "destination_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def",
                    "block_index": 245,
                    "source": "0219eca52a72d3d2eb608e7f0a9f2cf994dd803e2034850a55dd7042aed0583d:1",
                    "destination": "dc8b245cdf2e05a075124f69a98579da765c6ac96a9ba2e0f83dcb6195d95def:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qt0yfuq4mp4nzgqrunp8xa0jl7yl7ygj0xc5duz",
                    "destination_address": "bcrt1qnjwh9prq24szudav4r2d7y2pmnqzr3ruxmx2ya",
                    "block_time": 1742478271,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q2lx0vza8u2eqvxhe8z583yjwp2hk0vezas82xl"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
