[//]: # (Generated by genapidoc.py on 2024-09-13 11:54:41.515031. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 530,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                "block_index": 193,
                "block_time": 1726228466,
                "difficulty": 545259519,
                "previous_block_hash": "56038b7f12cfce91ab11a30991639e037d87ffdc711915f95eebf376da708133"
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 518,
    "result_count": 93
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 531,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                "block_index": 193,
                "block_time": 1726228466,
                "btc_amount": 0,
                "data": "6e0000000000000001000000000000000164657374726f79",
                "destination": "",
                "fee": 10000,
                "source": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                "tx_index": 59,
                "utxos_info": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3:1",
                "unpacked_data": {
                    "message_type": "destroy",
                    "message_type_id": 110,
                    "message_data": {
                        "asset": "XCP",
                        "quantity": 1,
                        "tag": "64657374726f79",
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "0.00000001"
                    }
                },
                "btc_amount_normalized": "0.00000000"
            },
            "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 519,
    "result_count": 60
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 272,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "out_index": 0,
                "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
                "tx_index": 33,
                "block_time": 1726228264,
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
            "block_index": 146,
            "block_time": 1726228264
        }
    ],
    "next_cursor": 237,
    "result_count": 3
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 535,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 193,
                "ledger_hash": "40dda9a8ad0ba5d5027bc296977dcb5f1f0c712c0c8959a09007cff3a68543eb",
                "messages_hash": "4bf53e6272b63044d470efe5f6fe0be3589cdbbfdeb24afef5bbc4ad4764b1bc",
                "transaction_count": 1,
                "txlist_hash": "c3728d4b6c62301e7689207fece6fc230ebd008c3256a3117b3f04590da53f43",
                "block_time": 1726228466
            },
            "tx_hash": null,
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 529,
    "result_count": 93
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 534,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                "tx_index": 59
            },
            "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 528,
    "result_count": 47
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 532,
            "event": "DEBIT",
            "params": {
                "action": "destroy",
                "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "asset": "XCP",
                "block_index": 193,
                "event": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                "quantity": 1,
                "tx_index": 59,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726228466,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 525,
    "result_count": 54
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 526,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "asset": "XCP",
                "block_index": 192,
                "calling_function": "sweep",
                "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                "quantity": 74499387833,
                "tx_index": 58,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1726228461,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "744.99388000"
            },
            "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
            "block_index": 192,
            "block_time": 1726228461
        }
    ],
    "next_cursor": 524,
    "result_count": 67
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 484,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 187,
                "destination": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "memo": null,
                "quantity": 10000,
                "source": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                "status": "valid",
                "tx_hash": "c4a1ad19c5c44a263dbf09540cdfbf03e825786a26b5def059e36802cdc7cc43",
                "tx_index": 53,
                "block_time": 1726228441,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00010000"
            },
            "tx_hash": "c4a1ad19c5c44a263dbf09540cdfbf03e825786a26b5def059e36802cdc7cc43",
            "block_index": 187,
            "block_time": 1726228441
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 496,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 188,
                "destination": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                "memo": null,
                "msg_index": 2,
                "quantity": 10,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "valid",
                "tx_hash": "5a4eb88a6a3b17324b8dad0d6d4a026818596d350e91267efe25267e0c753a28",
                "tx_index": 54,
                "block_time": 1726228445,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "5a4eb88a6a3b17324b8dad0d6d4a026818596d350e91267efe25267e0c753a28",
            "block_index": 188,
            "block_time": 1726228445
        }
    ],
    "next_cursor": 495,
    "result_count": 3
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 527,
            "event": "SWEEP",
            "params": {
                "block_index": 192,
                "destination": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                "status": "valid",
                "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                "tx_index": 58,
                "block_time": 1726228461,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
            "block_index": 192,
            "block_time": 1726228461
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 330,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 153,
                "dividend_asset": "XCP",
                "fee_paid": 40000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "valid",
                "tx_hash": "0ea70edc51f354e607368bb03cc806ee87edbb3821e62897d7b06adc39befac4",
                "tx_index": 40,
                "block_time": 1726228294,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00040000"
            },
            "tx_hash": "0ea70edc51f354e607368bb03cc806ee87edbb3821e62897d7b06adc39befac4",
            "block_index": 153,
            "block_time": 1726228294
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 380,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "95428956980101314",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "asset_name": "A95428956980101314",
                "block_index": 159,
                "block_time": 1726228330
            },
            "tx_hash": "21293e2c636642ca9891a23e4faf348d33c684780896c3d78e6fb9925c85d8d9",
            "block_index": 159,
            "block_time": 1726228330
        }
    ],
    "next_cursor": 367,
    "result_count": 9
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 381,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "A95428956980101314",
                "asset_events": "creation",
                "asset_longname": "A95428959745315388.SUBNUMERIC",
                "block_index": 159,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "A subnumeric asset",
                "description_locked": false,
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "locked": false,
                "quantity": 100000000000,
                "reset": false,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "valid",
                "transfer": false,
                "tx_hash": "21293e2c636642ca9891a23e4faf348d33c684780896c3d78e6fb9925c85d8d9",
                "tx_index": 46,
                "block_time": 1726228330,
                "quantity_normalized": "1000.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "21293e2c636642ca9891a23e4faf348d33c684780896c3d78e6fb9925c85d8d9",
            "block_index": 159,
            "block_time": 1726228330
        }
    ],
    "next_cursor": 374,
    "result_count": 21
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 533,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "XCP",
                "block_index": 193,
                "quantity": 1,
                "source": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                "status": "valid",
                "tag": "64657374726f79",
                "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                "tx_index": 59,
                "block_time": 1726228466,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            },
            "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
            "block_index": 193,
            "block_time": 1726228466
        }
    ],
    "next_cursor": 157,
    "result_count": 2
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 515,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 191,
                "expiration": 21,
                "expire_index": 212,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "BTC",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "XCP",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "open",
                "tx_hash": "a49a46b236bf1bbe0babf3fdc440a2ea092a2b487ec53a187793d757ab057d75",
                "tx_index": 57,
                "block_time": 1726228457,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "get_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "a49a46b236bf1bbe0babf3fdc440a2ea092a2b487ec53a187793d757ab057d75",
            "block_index": 191,
            "block_time": 1726228457
        }
    ],
    "next_cursor": 502,
    "result_count": 7
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 477,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 3000,
                "block_index": 186,
                "fee_paid": 0,
                "forward_asset": "XCP",
                "forward_quantity": 3000,
                "id": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2_67b583484747ca02e51e256918975cc7b0b95323f21c6169b643755ef8e79550",
                "match_expire_index": 206,
                "status": "pending",
                "tx0_address": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "tx0_block_index": 184,
                "tx0_expiration": 21,
                "tx0_hash": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2",
                "tx0_index": 49,
                "tx1_address": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                "tx1_block_index": 186,
                "tx1_expiration": 21,
                "tx1_hash": "67b583484747ca02e51e256918975cc7b0b95323f21c6169b643755ef8e79550",
                "tx1_index": 52,
                "block_time": 1726228427,
                "forward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00003000",
                "backward_quantity_normalized": "0.00003000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "67b583484747ca02e51e256918975cc7b0b95323f21c6169b643755ef8e79550",
            "block_index": 186,
            "block_time": 1726228427
        }
    ],
    "next_cursor": 461,
    "result_count": 3
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_UPDATE",
            "params": {
                "status": "cancelled",
                "tx_hash": "1f5e9aff1aa7186453f1b8769368daa4c39397f0fa945d9592ed365e25b42b2a"
            },
            "tx_hash": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84",
            "block_index": 190,
            "block_time": 1726228453
        }
    ],
    "next_cursor": 476,
    "result_count": 11
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 468,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf"
            },
            "tx_hash": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd",
            "block_index": 185,
            "block_time": 1726228423
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 467,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2_4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
                "order_match_id": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2_4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
                "status": "completed"
            },
            "tx_hash": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd",
            "block_index": 185,
            "block_time": 1726228423
        }
    ],
    "next_cursor": 440,
    "result_count": 2
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 469,
            "event": "BTC_PAY",
            "params": {
                "block_index": 185,
                "btc_amount": 2000,
                "destination": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "order_match_id": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2_4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
                "source": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                "status": "valid",
                "tx_hash": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd",
                "tx_index": 51,
                "block_time": 1726228423,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd",
            "block_index": 185,
            "block_time": 1726228423
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 509,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 190,
                "offer_hash": "1f5e9aff1aa7186453f1b8769368daa4c39397f0fa945d9592ed365e25b42b2a",
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "valid",
                "tx_hash": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84",
                "tx_index": 56,
                "block_time": 1726228453
            },
            "tx_hash": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84",
            "block_index": 190,
            "block_time": 1726228453
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 448,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_hash": "59836a523ebfdca113ab91f376e1c78fd38100e0b2118d2f3e10d9745fbd8b5e",
                "source": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                "block_time": 1726228345
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726228345
        }
    ],
    "next_cursor": 446,
    "result_count": 2
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 443,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 182,
                "order_match_id": "9cfc346a0412bab2d4a7951c8fb314f592ad848f153f9ce433c26b3a3109f8af_59836a523ebfdca113ab91f376e1c78fd38100e0b2118d2f3e10d9745fbd8b5e",
                "tx0_address": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "tx1_address": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                "block_time": 1726228345
            },
            "tx_hash": null,
            "block_index": 182,
            "block_time": 1726228345
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 267,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 145,
                "dispense_count": 0,
                "escrow_quantity": 10000,
                "give_quantity": 1,
                "give_remaining": 10000,
                "oracle_address": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "origin": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "satoshirate": 1,
                "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "status": 0,
                "tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
                "tx_index": 32,
                "block_time": 1726228259,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00010000",
                "escrow_quantity_normalized": "0.00010000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
            "block_index": 145,
            "block_time": 1726228259
        }
    ],
    "next_cursor": 254,
    "result_count": 4
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 274,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 1,
                "give_remaining": 9334,
                "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "status": 0,
                "tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_remaining_normalized": "0.00009334"
            },
            "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
            "block_index": 146,
            "block_time": 1726228264
        }
    ],
    "next_cursor": 260,
    "result_count": 4
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 261,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 144,
                "destination": "mpBpGr3sSyY12xD8uAJoHZvDofSa4wHP8f",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "f1131f6a2030859c67873717135574d57603f77cffa6ed85e59037f5948dd8e2",
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "tx_hash": "3cd5a90f4387088ed2e0fb26505c8a8376c6d9a23eb1715d2f85683b413825bb",
                "tx_index": 31,
                "block_time": 1726228255,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "3cd5a90f4387088ed2e0fb26505c8a8376c6d9a23eb1715d2f85683b413825bb",
            "block_index": 144,
            "block_time": 1726228255
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 275,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 146,
                "btc_amount": 10000,
                "destination": "bcrt1qx22xy2thvt048nj24dznarp7rhx9xslqqzxdz3",
                "dispense_index": 0,
                "dispense_quantity": 666,
                "dispenser_tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
                "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
                "tx_index": 33,
                "block_time": 1726228264,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "dispense_quantity_normalized": "0.00000666",
                "btc_amount_normalized": "0.00010000"
            },
            "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
            "block_index": 146,
            "block_time": 1726228264
        }
    ],
    "next_cursor": 240,
    "result_count": 3
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 218,
            "event": "BROADCAST",
            "params": {
                "block_index": 138,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "62db4fe0e69addfdb7edd78a828da4ac17c554e194ef98dc62663e6f79d8266b",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1726228220,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "62db4fe0e69addfdb7edd78a828da4ac17c554e194ef98dc62663e6f79d8266b",
            "block_index": 138,
            "block_time": 1726228220
        }
    ],
    "next_cursor": 213,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 196,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "FAIRMINTD",
                "asset_longname": "",
                "asset_parent": "",
                "block_index": 135,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 0,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 50,
                "quantity_by_price": 60,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "start_block": 0,
                "status": "open",
                "tx_hash": "08eaae458c3264cd9573abdbcd7c301b3c37d708c065dd847b3758c28f5ec894",
                "tx_index": 22,
                "block_time": 1726228207
            },
            "tx_hash": "08eaae458c3264cd9573abdbcd7c301b3c37d708c065dd847b3758c28f5ec894",
            "block_index": 135,
            "block_time": 1726228207
        }
    ],
    "next_cursor": 161,
    "result_count": 4
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 155,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "3c1b0d5814c97c867b913f8eb2a054b71e759230ac7acb440e99b62063bd81b3"
            },
            "tx_hash": null,
            "block_index": 130,
            "block_time": 1726228186
        }
    ],
    "next_cursor": 110,
    "result_count": 2
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 207,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "FAIRMINTD",
                "block_index": 136,
                "commission": 0,
                "earn_quantity": 40,
                "fairminter_tx_hash": "08eaae458c3264cd9573abdbcd7c301b3c37d708c065dd847b3758c28f5ec894",
                "paid_quantity": 34,
                "source": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                "status": "valid",
                "tx_hash": "f3d6fa6c9ca520b954c004d4fb2c6f31b76944e047e8e16921fe34e09913afcd",
                "tx_index": 23,
                "block_time": 1726228211,
                "asset_info": {
                    "asset_longname": "",
                    "description": "",
                    "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "divisible": true,
                    "locked": false
                }
            },
            "tx_hash": "f3d6fa6c9ca520b954c004d4fb2c6f31b76944e047e8e16921fe34e09913afcd",
            "block_index": 136,
            "block_time": 1726228211
        }
    ],
    "next_cursor": 190,
    "result_count": 10
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 312,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 151,
                "destination": "63d003f9a3c8fd5e746ce35da5e134e96d3f4952e33383d008cb19e382030874:1",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 1000000000,
                "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                "status": "valid",
                "tx_hash": "63d003f9a3c8fd5e746ce35da5e134e96d3f4952e33383d008cb19e382030874",
                "tx_index": 38,
                "block_time": 1726228285,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "10.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "63d003f9a3c8fd5e746ce35da5e134e96d3f4952e33383d008cb19e382030874",
            "block_index": 151,
            "block_time": 1726228285
        }
    ],
    "next_cursor": 291,
    "result_count": 2
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 304,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "MYASSETA",
                "block_index": 150,
                "destination": "bcrt1qjg0su922n9prr4h3g9jtjaj5jet89nwhypxxuc",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 500000000,
                "source": "8a45771dc1ddb6c77991d4690dd07417b8b5177cba344af708c98cfcebbec874:0",
                "status": "valid",
                "tx_hash": "8fb634cbc61188ec10ea688def5f82bd30991d0b6b69bb8358a5c958a692bc84",
                "tx_index": 37,
                "block_time": 1726228281,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "5.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "8fb634cbc61188ec10ea688def5f82bd30991d0b6b69bb8358a5c958a692bc84",
            "block_index": 150,
            "block_time": 1726228281
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 349,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 155,
                "destination": "742e2148cfa51c6d040dd497c8ae6b723f83bcb8ea5d2b025d9c7bee1039371c:1",
                "msg_index": 1,
                "quantity": 1500000000,
                "source": "d2dc80e0827cbd069464c32b874ba4b9392e3d60b58530ace8ee455c54200715:0",
                "status": "valid",
                "tx_hash": "742e2148cfa51c6d040dd497c8ae6b723f83bcb8ea5d2b025d9c7bee1039371c",
                "tx_index": 42,
                "block_time": 1726228302,
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "15.00000000"
            },
            "tx_hash": "742e2148cfa51c6d040dd497c8ae6b723f83bcb8ea5d2b025d9c7bee1039371c",
            "block_index": 155,
            "block_time": 1726228302
        }
    ],
    "next_cursor": 346,
    "result_count": 7
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 70,
            "event": "BURN",
            "params": {
                "block_index": 121,
                "burned": 50000000,
                "earned": 74999996667,
                "source": "bcrt1qz3vp80s9lv2fmvek5snam78pz8z6azc03q0htw",
                "status": "valid",
                "tx_hash": "ede5b48c52ba1c2dc86b099252ca65ef855d7f4cf59baa6ec9ee373e578ed8f0",
                "tx_index": 9,
                "block_time": 1726228147,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99997000"
            },
            "tx_hash": "ede5b48c52ba1c2dc86b099252ca65ef855d7f4cf59baa6ec9ee373e578ed8f0",
            "block_index": 121,
            "block_time": 1726228147
        }
    ],
    "next_cursor": 65,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.3.2",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `193` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                    "block_time": 1726228466,
                    "previous_block_hash": "56038b7f12cfce91ab11a30991639e037d87ffdc711915f95eebf376da708133",
                    "difficulty": 545259519,
                    "ledger_hash": "40dda9a8ad0ba5d5027bc296977dcb5f1f0c712c0c8959a09007cff3a68543eb",
                    "txlist_hash": "c3728d4b6c62301e7689207fece6fc230ebd008c3256a3117b3f04590da53f43",
                    "messages_hash": "4bf53e6272b63044d470efe5f6fe0be3589cdbbfdeb24afef5bbc4ad4764b1bc",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 192,
                    "block_hash": "56038b7f12cfce91ab11a30991639e037d87ffdc711915f95eebf376da708133",
                    "block_time": 1726228461,
                    "previous_block_hash": "11b068fe75ae3e362369d75527c67ded7f3de1a042ac20cd8d8e80e80e6ec45c",
                    "difficulty": 545259519,
                    "ledger_hash": "98ed783b7525a29fd8d9c279b80599021f370042a1c1b2b370ec48af81e10cd4",
                    "txlist_hash": "f39ad3b76aa195c459a52b6e48b49463ef0dd345ec2a5361ab5fe13d28b41fde",
                    "messages_hash": "116685b4cc895fd59692fdb0385b5fdf484d585ba99ca06671c829fb09ca9f98",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 191,
                    "block_hash": "11b068fe75ae3e362369d75527c67ded7f3de1a042ac20cd8d8e80e80e6ec45c",
                    "block_time": 1726228457,
                    "previous_block_hash": "4168e1a95147274cee8a7e4bb75cd4b8bd98a6f3585a4f295e8e66498bb254e8",
                    "difficulty": 545259519,
                    "ledger_hash": "51bc099380213e381341fdeb9cedf53580bcfed965820d466b88e902e537e1d2",
                    "txlist_hash": "46f00acca8b974d57d42c7e70f0b1f7c38b0057301b8de7b14c4a8af644efbc0",
                    "messages_hash": "c22a66c4f23b0afd0653713e8ad8ddfee3a70d238ea039c33eabe4d932ebf0d0",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 190,
                    "block_hash": "4168e1a95147274cee8a7e4bb75cd4b8bd98a6f3585a4f295e8e66498bb254e8",
                    "block_time": 1726228453,
                    "previous_block_hash": "0fcd7fdb2cbb3c4b9455fe6f7ac93c8c3d0893bb95e10ccc7ad7b2406afc2cde",
                    "difficulty": 545259519,
                    "ledger_hash": "5ceb304d5806842ee00e70ee6796edb2116cca02ddad4f99dbc8717c508ea72b",
                    "txlist_hash": "6c124f231c519c7827a7de4471be0b3e6a12739cd1219784f9941d94433fc8a3",
                    "messages_hash": "855e657d90d246dafe3656e1ad6960ab89c8ab69c10385f8105d4b02cebe991e",
                    "transaction_count": 1,
                    "confirmed": true
                },
                {
                    "block_index": 189,
                    "block_hash": "0fcd7fdb2cbb3c4b9455fe6f7ac93c8c3d0893bb95e10ccc7ad7b2406afc2cde",
                    "block_time": 1726228450,
                    "previous_block_hash": "32bd26a31dd33f01b2e05e339beecd2d4bceb8c3898985202068ffa2bd91e448",
                    "difficulty": 545259519,
                    "ledger_hash": "35ac62f849c392de5b210681ef0be0d1a2d03ca2cf53448297ac5289be6bcb4e",
                    "txlist_hash": "5617ad3927e033310daeffb333f2c6ee757dbf608871b77a4a033d88a4878e5d",
                    "messages_hash": "f8110b230d21db86367c07e3fb356516393dfc530da0ac1e1b6e0eb7f7abe885",
                    "transaction_count": 1,
                    "confirmed": true
                }
            ],
            "next_cursor": 188,
            "result_count": 93
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}{&show_unconfirmed}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                "block_time": 1726228466,
                "previous_block_hash": "56038b7f12cfce91ab11a30991639e037d87ffdc711915f95eebf376da708133",
                "difficulty": 545259519,
                "ledger_hash": "40dda9a8ad0ba5d5027bc296977dcb5f1f0c712c0c8959a09007cff3a68543eb",
                "txlist_hash": "c3728d4b6c62301e7689207fece6fc230ebd008c3256a3117b3f04590da53f43",
                "messages_hash": "4bf53e6272b63044d470efe5f6fe0be3589cdbbfdeb24afef5bbc4ad4764b1bc",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}{&show_unconfirmed}]

Return the information of a block

+ Parameters
    + block_hash: `010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 193,
                "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                "block_time": 1726228466,
                "previous_block_hash": "56038b7f12cfce91ab11a30991639e037d87ffdc711915f95eebf376da708133",
                "difficulty": 545259519,
                "ledger_hash": "40dda9a8ad0ba5d5027bc296977dcb5f1f0c712c0c8959a09007cff3a68543eb",
                "txlist_hash": "c3728d4b6c62301e7689207fece6fc230ebd008c3256a3117b3f04590da53f43",
                "messages_hash": "4bf53e6272b63044d470efe5f6fe0be3589cdbbfdeb24afef5bbc4ad4764b1bc",
                "transaction_count": 1,
                "confirmed": true
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the transactions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor: `59` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                    "block_index": 193,
                    "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
                    "block_time": 1726228466,
                    "source": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "destination": null,
                    "btc_amount": 0,
                    "fee": 10000,
                    "data": "6e0000000000000001000000000000000164657374726f79",
                    "supported": true,
                    "utxos_info": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3:1",
                    "confirmed": true,
                    "unpacked_data": {
                        "message_type": "destroy",
                        "message_type_id": 110,
                        "message_data": {
                            "asset": "XCP",
                            "quantity": 1,
                            "tag": "64657374726f79",
                            "asset_info": {
                                "divisible": true,
                                "asset_longname": null,
                                "description": "The Counterparty protocol native currency",
                                "locked": true,
                                "issuer": null
                            },
                            "quantity_normalized": "0.00000001"
                        }
                    },
                    "btc_amount_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `535` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 529,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 192,
                        "ledger_hash": "98ed783b7525a29fd8d9c279b80599021f370042a1c1b2b370ec48af81e10cd4",
                        "messages_hash": "116685b4cc895fd59692fdb0385b5fdf484d585ba99ca06671c829fb09ca9f98",
                        "transaction_count": 1,
                        "txlist_hash": "f39ad3b76aa195c459a52b6e48b49463ef0dd345ec2a5361ab5fe13d28b41fde",
                        "block_time": 1726228461
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 528,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "tx_index": 58
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                },
                {
                    "event_index": 527,
                    "event": "SWEEP",
                    "params": {
                        "block_index": 192,
                        "destination": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                        "fee_paid": 600000,
                        "flags": 1,
                        "memo": "sweep my assets",
                        "source": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                        "status": "valid",
                        "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "tx_index": 58,
                        "block_time": 1726228461,
                        "fee_paid_normalized": "0.00600000"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                },
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726228461,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                },
                {
                    "event_index": 525,
                    "event": "DEBIT",
                    "params": {
                        "action": "sweep",
                        "address": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                        "asset": "XCP",
                        "block_index": 192,
                        "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726228461,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                }
            ],
            "next_cursor": 524,
            "result_count": 12
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the event counts of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                },
                {
                    "event": "DEBIT",
                    "event_count": 1
                },
                {
                    "event": "BLOCK_PARSED",
                    "event_count": 1
                }
            ],
            "next_cursor": "ASSET_DESTRUCTION",
            "result_count": 6
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 526,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                        "asset": "XCP",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "quantity": 74499387833,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726228461,
                        "asset_info": {
                            "divisible": true,
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "locked": true,
                            "issuer": null
                        },
                        "quantity_normalized": "744.99388000"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                },
                {
                    "event_index": 524,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                        "asset": "MYASSETA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "quantity": 10,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726228461,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "0.00000010"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                },
                {
                    "event_index": 522,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                        "asset": "FAIRMINTA",
                        "block_index": 192,
                        "calling_function": "sweep",
                        "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                        "quantity": 500000000,
                        "tx_index": 58,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1726228461,
                        "asset_info": {
                            "asset_longname": "",
                            "description": "",
                            "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "5.00000000"
                    },
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the credits of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 192,
                    "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "XCP",
                    "quantity": 74499387833,
                    "calling_function": "sweep",
                    "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726228461,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "744.99388000"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "calling_function": "sweep",
                    "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726228461,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010"
                },
                {
                    "block_index": 192,
                    "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "FAIRMINTA",
                    "quantity": 500000000,
                    "calling_function": "sweep",
                    "event": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                    "tx_index": 58,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726228461,
                    "asset_info": {
                        "asset_longname": "",
                        "description": "",
                        "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "5.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the debits of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 193,
                    "address": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "XCP",
                    "quantity": 1,
                    "action": "destroy",
                    "event": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                    "tx_index": 59,
                    "utxo": null,
                    "utxo_address": null,
                    "confirmed": true,
                    "block_time": 1726228466,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the expirations of a block

+ Parameters
    + block_index: `182` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "59836a523ebfdca113ab91f376e1c78fd38100e0b2118d2f3e10d9745fbd8b5e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726228345
                },
                {
                    "type": "order",
                    "object_id": "9cfc346a0412bab2d4a7951c8fb314f592ad848f153f9ce433c26b3a3109f8af",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726228345
                },
                {
                    "type": "order_match",
                    "object_id": "9cfc346a0412bab2d4a7951c8fb314f592ad848f153f9ce433c26b3a3109f8af_59836a523ebfdca113ab91f376e1c78fd38100e0b2118d2f3e10d9745fbd8b5e",
                    "block_index": 182,
                    "confirmed": true,
                    "block_time": 1726228345
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the cancels of a block

+ Parameters
    + block_index: `190` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 56,
                    "tx_hash": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84",
                    "block_index": 190,
                    "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "offer_hash": "1f5e9aff1aa7186453f1b8769368daa4c39397f0fa945d9592ed365e25b42b2a",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726228453
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Destructions [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the destructions of a block

+ Parameters
    + block_index: `193` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 59,
                    "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
                    "block_index": 193,
                    "source": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "XCP",
                    "quantity": 1,
                    "tag": "64657374726f79",
                    "status": "valid",
                    "confirmed": true,
                    "block_time": 1726228466,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000001"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the issuances of a block

+ Parameters
    + block_index: `159` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 46,
                    "tx_hash": "21293e2c636642ca9891a23e4faf348d33c684780896c3d78e6fb9925c85d8d9",
                    "msg_index": 0,
                    "block_index": 159,
                    "asset": "A95428956980101314",
                    "quantity": 100000000000,
                    "divisible": true,
                    "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "A subnumeric asset",
                    "fee_paid": 0,
                    "status": "valid",
                    "asset_longname": "A95428959745315388.SUBNUMERIC",
                    "locked": false,
                    "reset": false,
                    "description_locked": false,
                    "fair_minting": false,
                    "asset_events": "creation",
                    "confirmed": true,
                    "block_time": 1726228330,
                    "quantity_normalized": "1000.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 54,
                    "tx_hash": "5a4eb88a6a3b17324b8dad0d6d4a026818596d350e91267efe25267e0c753a28",
                    "block_index": 188,
                    "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "destination": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
                    "asset": "XCP",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 2,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726228445,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "5a4eb88a6a3b17324b8dad0d6d4a026818596d350e91267efe25267e0c753a28",
                    "block_index": 188,
                    "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "destination": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726228445,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 54,
                    "tx_hash": "5a4eb88a6a3b17324b8dad0d6d4a026818596d350e91267efe25267e0c753a28",
                    "block_index": 188,
                    "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                    "destination": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                    "asset": "MYASSETA",
                    "quantity": 10,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "confirmed": true,
                    "block_time": 1726228445,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000010",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the dispenses of a block

+ Parameters
    + block_index: `146` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 33,
                    "dispense_index": 0,
                    "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
                    "block_index": 146,
                    "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                    "destination": "bcrt1qx22xy2thvt048nj24dznarp7rhx9xslqqzxdz3",
                    "asset": "XCP",
                    "dispense_quantity": 666,
                    "dispenser_tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
                    "btc_amount": 10000,
                    "confirmed": true,
                    "dispenser": {
                        "tx_index": 32,
                        "block_index": 146,
                        "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9334,
                        "oracle_address": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                        "dispense_count": 1,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 138,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009334",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1726228264,
                    "asset_info": {
                        "divisible": true,
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "locked": true,
                        "issuer": null
                    },
                    "dispense_quantity_normalized": "0.00000666",
                    "btc_amount_normalized": "0.00010000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sweeps By Block [GET /v2/blocks/{block_index}/sweeps{?cursor}{&limit}{&offset}{&verbose}{&show_unconfirmed}]

Returns the sweeps of a block

+ Parameters
    + block_index: `192` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the sweeps to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of sweeps to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`
    + show_unconfirmed (bool, optional) - Include results from Mempool.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 58,
                    "tx_hash": "1726a6e226d342af1f9a5fad66992b10be4d912c18df9c85bd0a34340b85581d",
                    "block_index": 192,
                    "source": "bcrt1qeu9ng4p8xjl6l70n3vugsn067pfezgy6xe8uw9",
                    "destination": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
                    "flags": 1,
                    "status": "valid",
                    "memo": "sweep my assets",
                    "fee_paid": 600000,
                    "confirmed": true,
                    "block_time": 1726228461,
                    "fee_paid_normalized": "0.00600000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

## Group Transactions

There are 12 types of transactions:

- `broadcast`
- `btcpay`
- `cancel`
- `destroy`
- `dispenser`
- `dispense`
- `dividend`
- `issuance`
- `order`
- `enhanced_send`
- `mpma_send`
- `sweep`

Here is sample API output for each of these transactions:

**Broadcast**

```
{
    "result": {
        "tx_index": 25,
        "tx_hash": "62db4fe0e69addfdb7edd78a828da4ac17c554e194ef98dc62663e6f79d8266b",
        "block_index": 138,
        "block_hash": "5a98c0caca914ffd2411edec69bb7c14a490dfe804fce22e41a41178656b0936",
        "block_time": 1726228220,
        "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "1eeea6b9ef40f0428000000000000000000970726963652d555344",
        "supported": true,
        "utxos_info": "62db4fe0e69addfdb7edd78a828da4ac17c554e194ef98dc62663e6f79d8266b:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "broadcast",
            "message_type_id": 30,
            "message_data": {
                "timestamp": 4003903983,
                "value": 66600.0,
                "fee_fraction_int": 0,
                "text": "price-USD",
                "status": "valid",
                "fee_fraction_int_normalized": "0.00000000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Btcpay**

```
{
    "result": {
        "tx_index": 51,
        "tx_hash": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd",
        "block_index": 185,
        "block_hash": "2045e9130ab134526b7a55acc0f32ad2c758cc93d11cf779552755c86a2ca14c",
        "block_time": 1726228423,
        "source": "bcrt1qe739tpkm6heaw4r8wus9gg3ktvwdj5grjzxcfg",
        "destination": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
        "btc_amount": 2000,
        "fee": 10000,
        "data": "0ba8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c24db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
        "supported": true,
        "utxos_info": "fa1dd5f3b573e382d925b01a31598b493a1ed3459068b4dae0bdb60a9e9b76dd:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "btcpay",
            "message_type_id": 11,
            "message_data": {
                "tx0_hash": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2",
                "tx1_hash": "4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
                "order_match_id": "a8e5e4ef7b8a464a3bd59d000d7c525f8e4830d294ba0b7df92b9f4251a539c2_4db8f1e69f6c167966212f4934f63b5aa10504605ab1cefff869f78eace55caf",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00002000"
    }
}
```

**Cancel**

```
{
    "result": {
        "tx_index": 56,
        "tx_hash": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84",
        "block_index": 190,
        "block_hash": "4168e1a95147274cee8a7e4bb75cd4b8bd98a6f3585a4f295e8e66498bb254e8",
        "block_time": 1726228453,
        "source": "bcrt1q9nhpk9l7wy434sflxkwc4rjn8jcsqln8z03cmg",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "461f5e9aff1aa7186453f1b8769368daa4c39397f0fa945d9592ed365e25b42b2a",
        "supported": true,
        "utxos_info": "4c39849e04bbbed57e2a1025239811d3fd0a9c4a53881191800e1f132e091a84:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "cancel",
            "message_type_id": 70,
            "message_data": {
                "offer_hash": "1f5e9aff1aa7186453f1b8769368daa4c39397f0fa945d9592ed365e25b42b2a",
                "status": "valid"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Destroy**

```
{
    "result": {
        "tx_index": 59,
        "tx_hash": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3",
        "block_index": 193,
        "block_hash": "010db7b0fd134629d20500ec07705f057045c31a41716c3a96387d40fda47038",
        "block_time": 1726228466,
        "source": "bcrt1qhqryw79f80rj0ng68yjmqc7p5fa9qdp3pk4kz0",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "6e0000000000000001000000000000000164657374726f79",
        "supported": true,
        "utxos_info": "4c66d06640601b28aa7557f6bcebb4b7a17a5839535dcfd0b52fe9f763ccc5c3:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "destroy",
            "message_type_id": 110,
            "message_data": {
                "asset": "XCP",
                "quantity": 1,
                "tag": "64657374726f79",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "quantity_normalized": "0.00000001"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispenser**

```
{
    "result": {
        "tx_index": 32,
        "tx_hash": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d",
        "block_index": 145,
        "block_hash": "733c8ce26b1632ca4e189d658c8674aeaa196eef584eb00b595bb14200765e07",
        "block_time": 1726228259,
        "source": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
        "destination": null,
        "btc_amount": 0,
        "fee": 10000,
        "data": "0c00000000000000010000000000000001000000000000271000000000000000010080e2826b58a79ac0a79bb2558d2883f71d9c6a8203",
        "supported": true,
        "utxos_info": "73c98717b6b4addcd573836cbfe67890e874268253a188efbe5b0317288ce78d:1",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispenser",
            "message_type_id": 12,
            "message_data": {
                "asset": "XCP",
                "give_quantity": 1,
                "escrow_quantity": 10000,
                "mainchainrate": 1,
                "dispenser_status": 0,
                "action_address": null,
                "oracle_address": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
                "status": "valid",
                "asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "locked": true,
                    "issuer": null
                },
                "give_quantity_normalized": "0.00000001",
                "escrow_quantity_normalized": "0.00010000"
            }
        },
        "btc_amount_normalized": "0.00000000"
    }
}
```

**Dispense**

```
{
    "result": {
        "tx_index": 33,
        "tx_hash": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643",
        "block_index": 146,
        "block_hash": "44df9ec81da33316f9c54309a26d9eb91f1a436ebdaa92e4a80c371b133969e7",
        "block_time": 1726228264,
        "source": "bcrt1qx22xy2thvt048nj24dznarp7rhx9xslqqzxdz3",
        "destination": "bcrt1qu2pxkk98ntq20xaj2kxj3qlhrkwx4qsr08we6v",
        "btc_amount": 10000,
        "fee": 0,
        "data": "0d00",
        "supported": true,
        "utxos_info": "7b35eed68f2c1670f3c3e19f5887038a899130350ef3f5d7c5f2c260655c9643:0",
        "confirmed": true,
        "unpacked_data": {
            "message_type": "dispense",
            "message_type_id": 13,
            "message_data": {
                "data": "00"
            }
        },
        "btc_amount_normalized": "0.00010000"
    }
}
```

**Dividend**

```
{
    "result": {
        "tx_index": 40,
        "tx_hash": "0ea70edc51f354e607368bb03cc806ee87edbb3821e62897d7b06adc39befac4",
        "block_index": 153,
        "block_hash": "1817d02f45bb8e624b3969cbcaab37c664ec6f501d0c76cee168bc2464d18562",
        "block_time": 1726228294,
[...]
