[//]: # (Generated by genapidoc.py on 2025-04-15 09:43:41.551935. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                "block_index": 245,
                "block_time": 1744710203,
                "difficulty": 545259519,
                "previous_block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                "block_index": 245,
                "block_time": 1744710203,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "fee": 0,
                "source": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                "transaction_type": "dispense",
                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "tx_index": 121,
                "utxos_info": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1 dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "out_index": 0,
                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "tx_index": 121,
                "block_time": 1744710203,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                "transaction_count": 1,
                "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                "block_time": 1744710203
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "tx_index": 121
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                "utxo_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                "block_time": 1744710203,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1744710203,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q7q0hmx5slwxfuumk02d3hd8u4jwprv2fz7amyk",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "status": "valid",
                "tx_hash": "b10e0888a38d9b82b542156c56db3186e167fd203176598a0c1fe2b179cfb965",
                "tx_index": 77,
                "block_time": 1744709998,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "b10e0888a38d9b82b542156c56db3186e167fd203176598a0c1fe2b179cfb965",
            "block_index": 201,
            "block_time": 1744709998
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q7q0hmx5slwxfuumk02d3hd8u4jwprv2fz7amyk",
                "status": "valid",
                "tx_hash": "f77b7b2a5e47b65329783f9e827c41c43cea1d3d47d0695cd9d3e8fb37a62547",
                "tx_index": 81,
                "block_time": 1744710015,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "f77b7b2a5e47b65329783f9e827c41c43cea1d3d47d0695cd9d3e8fb37a62547",
            "block_index": 205,
            "block_time": 1744710015
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1q9addttvlw5ln64repcjtsfys5x6pg8wf4qm9an",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q98q94ev3t7nwacupdq0zc0tm77q7a0vdysnen7",
                "status": "valid",
                "tx_hash": "aa72702f1ce46c5e3dd150333740b0983cd3c705120a58fc57248bee47c5ca47",
                "tx_index": 65,
                "block_time": 1744709950,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "aa72702f1ce46c5e3dd150333740b0983cd3c705120a58fc57248bee47c5ca47",
            "block_index": 190,
            "block_time": 1744709950
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "status": "valid",
                "tx_hash": "817527c80d8b83dfa569b4aeaf2f0c9c0845f02d3bfff9e4d869bca1928eb132",
                "tx_index": 42,
                "block_time": 1744709795,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "817527c80d8b83dfa569b4aeaf2f0c9c0845f02d3bfff9e4d869bca1928eb132",
            "block_index": 146,
            "block_time": 1744709795
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "status": "valid",
                "transfer": false,
                "tx_hash": "7ac3585d72416e6a6b9e8b338166d2e42bde2ea3ebe4921c4dfd3bddcabe9247",
                "tx_index": 117,
                "block_time": 1744710180,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "7ac3585d72416e6a6b9e8b338166d2e42bde2ea3ebe4921c4dfd3bddcabe9247",
            "block_index": 240,
            "block_time": 1744710180
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1744710192
            },
            "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
            "block_index": 243,
            "block_time": 1744710192
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "locked": false,
                "mime_type": "text/plain",
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "status": "valid",
                "transfer": false,
                "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
                "tx_index": 120,
                "block_time": 1744710192,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
            "block_index": 243,
            "block_time": 1744710192
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "7ac3585d72416e6a6b9e8b338166d2e42bde2ea3ebe4921c4dfd3bddcabe9247",
                "tx_index": 117,
                "block_time": 1744710180,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "7ac3585d72416e6a6b9e8b338166d2e42bde2ea3ebe4921c4dfd3bddcabe9247",
            "block_index": 240,
            "block_time": 1744710180
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "status": "open",
                "tx_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
                "tx_index": 119,
                "block_time": 1744710188,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
            "block_index": 242,
            "block_time": 1744710188
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "5e8851e5af25161961591219824066c7c777c5190746d12571ca618e374fb0ca_5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "5e8851e5af25161961591219824066c7c777c5190746d12571ca618e374fb0ca",
                "tx0_index": 118,
                "tx1_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
                "tx1_index": 119,
                "block_time": 1744710188,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
            "block_index": 242,
            "block_time": 1744710188
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "5c8ba320dbac45c12bb0a2a448de72d3989015de61d529d0dd082dd7055f5755",
            "block_index": 242,
            "block_time": 1744710188
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "543686339843cccbfde6a535f29a45ee68f1f37c597728d8b98a41eebd55dece"
            },
            "tx_hash": "6611d443c35dafd8d9c84b97b9952ef2e3c6fc7d6d3c0e12401140ab91d24257",
            "block_index": 182,
            "block_time": 1744709921
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "d9e50b1c417bb16e2311ae8d308049159c185e1dd41a96db1f949a966b56bbe5_9324b41b36df2d4fc890a8a577feebc24fa455e1b58b057d68510fe9a8d8ce47",
                "order_match_id": "d9e50b1c417bb16e2311ae8d308049159c185e1dd41a96db1f949a966b56bbe5_9324b41b36df2d4fc890a8a577feebc24fa455e1b58b057d68510fe9a8d8ce47",
                "status": "expired"
            },
            "tx_hash": "3caff5c3066d94bdfba7847a3a3510ac084331bcf51d58a25546d2788052f8d5",
            "block_index": 225,
            "block_time": 1744710095
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "order_match_id": "9c4f943f5ba3f540afbb257a0cf9e1c36bf0645253d1f58fec416c07f9095b13_543686339843cccbfde6a535f29a45ee68f1f37c597728d8b98a41eebd55dece",
                "source": "bcrt1q7q0hmx5slwxfuumk02d3hd8u4jwprv2fz7amyk",
                "status": "valid",
                "tx_hash": "6611d443c35dafd8d9c84b97b9952ef2e3c6fc7d6d3c0e12401140ab91d24257",
                "tx_index": 57,
                "block_time": 1744709921,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "6611d443c35dafd8d9c84b97b9952ef2e3c6fc7d6d3c0e12401140ab91d24257",
            "block_index": 182,
            "block_time": 1744709921
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "42c7d9e130acb2978ae751a5dfc0a87b084632710df44d9a5d98856e8c3b3d11",
                "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "status": "valid",
                "tx_hash": "36ef4f636db553d2f79cfdf4ffb4047028cffad08466244bd97b6af2271ef0be",
                "tx_index": 63,
                "block_time": 1744709942
            },
            "tx_hash": "36ef4f636db553d2f79cfdf4ffb4047028cffad08466244bd97b6af2271ef0be",
            "block_index": 188,
            "block_time": 1744709942
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "d9e50b1c417bb16e2311ae8d308049159c185e1dd41a96db1f949a966b56bbe5",
                "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "block_time": 1744710040
            },
            "tx_hash": "18d05919d5c8dcd60705ded407773a15b08896ec14b13e565d70d3fd71420bf4",
            "block_index": 211,
            "block_time": 1744710040
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "d9e50b1c417bb16e2311ae8d308049159c185e1dd41a96db1f949a966b56bbe5_9324b41b36df2d4fc890a8a577feebc24fa455e1b58b057d68510fe9a8d8ce47",
                "tx0_address": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "tx1_address": "bcrt1q98q94ev3t7nwacupdq0zc0tm77q7a0vdysnen7",
                "block_time": 1744710095
            },
            "tx_hash": "3caff5c3066d94bdfba7847a3a3510ac084331bcf51d58a25546d2788052f8d5",
            "block_index": 225,
            "block_time": 1744710095
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qurp9nuauxv3eya5pcu5am3u32a5yk3deu7dnug",
                "satoshirate": 1,
                "source": "bcrt1qurp9nuauxv3eya5pcu5am3u32a5yk3deu7dnug",
                "status": 0,
                "tx_hash": "8566b4b9c0046839cc4e283ef82dbd9a5fd4dd40cfd0641bc6a10ef1dddfaf9e",
                "tx_index": 114,
                "block_time": 1744710164,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "8566b4b9c0046839cc4e283ef82dbd9a5fd4dd40cfd0641bc6a10ef1dddfaf9e",
            "block_index": 236,
            "block_time": 1744710164
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "status": 0,
                "tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mnkoZpCNC3cpJRbpm42yndRLXCbN5NLVPq",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "6ab68f905d326fbfb017304b6f35794e83a260bc03003f3715974211451e4191",
                "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                "tx_hash": "dd5f02c3c73a5ea2d3cb668e3afd41b021f06ab4a853a5b47a10129cdad0c4e7",
                "tx_index": 31,
                "block_time": 1744709751,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "dd5f02c3c73a5ea2d3cb668e3afd41b021f06ab4a853a5b47a10129cdad0c4e7",
            "block_index": 135,
            "block_time": 1744709751
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "tx_index": 121,
                "block_time": 1744710203,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "mime_type": "text/plain",
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "5a5612ba50c763bbcd9ad11b22e8206d6dfe5cc5f9abfb446f839b982b2e410b",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1744709726,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "5a5612ba50c763bbcd9ad11b22e8206d6dfe5cc5f9abfb446f839b982b2e410b",
            "block_index": 129,
            "block_time": 1744709726
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "mime_type": "text/plain",
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "start_block": 0,
                "status": "open",
                "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
                "tx_index": 120,
                "block_time": 1744710192,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
            "block_index": 243,
            "block_time": 1744710192
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "42d871f629c15c9426b051a68ebf3b30415b9d661966e5943da12b63bcfa2151"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1744710106
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "ddfd20a8a2f8095a8794baac2978f5980fe899069f30a97d5665c0a2e17930e8",
                "paid_quantity": 100000000,
                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "status": "valid",
                "tx_hash": "79cdf5d6101dc3997807a4d6cd24d160eaa4d2cb70e63c25530b270fbf945a4a",
                "tx_index": 97,
                "block_time": 1744710078,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "79cdf5d6101dc3997807a4d6cd24d160eaa4d2cb70e63c25530b270fbf945a4a",
            "block_index": 221,
            "block_time": 1744710078
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "ebc6359e0b268e6a63ebd55a0e155fff1d8233a239fe4e2203ec26e0e49ffca5:0",
                "destination_address": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "status": "valid",
                "tx_hash": "ebc6359e0b268e6a63ebd55a0e155fff1d8233a239fe4e2203ec26e0e49ffca5",
                "tx_index": 112,
                "block_time": 1744710159,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "ebc6359e0b268e6a63ebd55a0e155fff1d8233a239fe4e2203ec26e0e49ffca5",
            "block_index": 235,
            "block_time": 1744710159
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "59d4187471429921ea40cc734d5f2ea33c66dadfacb318f9fbf1603d560da2ac:0",
                "source_address": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                "status": "valid",
                "tx_hash": "c3b70b93991b3c8d0350cea842505ec74397b3d5a137604cd442623d091688fa",
                "tx_index": 111,
                "block_time": 1744710156,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "c3b70b93991b3c8d0350cea842505ec74397b3d5a137604cd442623d091688fa",
            "block_index": 234,
            "block_time": 1744710156
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                "destination_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                "source_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                "status": "valid",
                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                "tx_index": 121,
                "block_time": 1744710203,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
            "block_index": 245,
            "block_time": 1744710203
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qt6v2n8agylksputldfs5tf5ulxx9xwuv86hxgt",
                "status": "valid",
                "tx_hash": "5d72864803d5d2adc0bc76619b045891bfb2ffbd9451355b76d7ef0a9918fef4",
                "tx_index": 9,
                "block_time": 1744709660,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "5d72864803d5d2adc0bc76619b045891bfb2ffbd9451355b76d7ef0a9918fef4",
            "block_index": 112,
            "block_time": 1744709660
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-rc.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                    "block_time": 1744710203,
                    "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                    "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                    "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                    "previous_block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68",
                    "block_time": 1744710196,
                    "ledger_hash": "daa9406defe2f47b967e6ba956812f11fdaa2d29765c1c95a0a7dd434e60cc19",
                    "txlist_hash": "7a38ad57223586baec5058e1a344fadadd25e422522a90df208a8d1d8e25dbc2",
                    "messages_hash": "09de5c450a39fcfceb8d4315b6d1e1e0fe7d4a7664ea59c18638f9419fea62a7",
                    "previous_block_hash": "3d70649b343afc15e5c81356390a9097213092734586a3e161eebdbb9d7f97e6",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "3d70649b343afc15e5c81356390a9097213092734586a3e161eebdbb9d7f97e6",
                    "block_time": 1744710192,
                    "ledger_hash": "841a8d2830c2c76441922d9c73b78d0aac028889746799147e92af85966aa382",
                    "txlist_hash": "8bfe277e7987467d2da3cd5c012c86e1e3984159a8f7add85e897658b5e85b42",
                    "messages_hash": "7902c823658bae5eea2f4152d73e857f484930b66e07d5e47fccdd354f5a690b",
                    "previous_block_hash": "497294a4c69671cfd48a6c068cea29336cc735efb23112158b590e05a2c61b9b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "497294a4c69671cfd48a6c068cea29336cc735efb23112158b590e05a2c61b9b",
                    "block_time": 1744710188,
                    "ledger_hash": "c33e9650be8e75d34242740a24a38f7a8b684c6c569ee172084cd119c94d3a14",
                    "txlist_hash": "7d5b430567a730bdd3cacfff9d98a6551d6be92349d34a60e262e30dca5aa820",
                    "messages_hash": "f2e3984eedb0fb8fd7150d97de6876145ca8c79a8aa6ca921a94f5c3a8560f19",
                    "previous_block_hash": "29a11f742a4468c5d1101d48194b51052d90fc5142fa432a468805aef73b68ce",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "29a11f742a4468c5d1101d48194b51052d90fc5142fa432a468805aef73b68ce",
                    "block_time": 1744710184,
                    "ledger_hash": "58a113eb5ee3df3151a1ff25adb4f5396a9a282bdcc5c5c26a63f2b5e298a5f0",
                    "txlist_hash": "3e0c1f4b27ff810c4ba8409346240386d2738ce57563d7415bdda1463bd3e7af",
                    "messages_hash": "c2c84e6c60821b07c309868c5d0a1d7ca226a8e5d8cac542577f256f3508d3bc",
                    "previous_block_hash": "3e837667c1a575891dadc0346b770ff7df7c889a2d97b5552591aef41142f2e5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                "block_time": 1744710203,
                "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                "previous_block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                "block_time": 1744710203,
                "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                "previous_block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                "block_time": 1744710203,
                "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                "previous_block_hash": "1efce278a837f4aecdbeb6d867cfa5665f3475a93e9e495f0dd776de81019c68",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "block_index": 245,
                    "block_hash": "441664ef9831b329467fb1be015defcd88dba362febeb04f045c586dbfe88f93",
                    "block_time": 1744710203,
                    "source": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "destination": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1 dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                                "destination_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                                "source_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                                "status": "valid",
                                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                                "tx_index": 121,
                                "block_time": 1744710203,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                            "block_index": 245,
                            "block_time": 1744710203
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                                "destination_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                                "source_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                                "status": "valid",
                                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                                "tx_index": 121,
                                "block_time": 1744710203,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                            "block_index": 245,
                            "block_time": 1744710203
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                                "status": 0,
                                "tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                            "block_index": 245,
                            "block_time": 1744710203
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                                "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                                "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                                "tx_index": 121,
                                "block_time": 1744710203,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                            "block_index": 245,
                            "block_time": 1744710203
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "e635c66ab1da226febe42e06e91bd3051aae90645dcd8510b222128d5a706268",
                        "messages_hash": "2cd2ecc74e66d8744fba83cebacaa1795f57b5357d9abd57f43d026f01217791",
                        "transaction_count": 1,
                        "txlist_hash": "ce52d3a4dd98f7b9d260d9a4b1d5ee2a78a2e10a71a485c68220eebe5cd87a40",
                        "block_time": 1744710203
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "tx_index": 121
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                        "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                        "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "tx_index": 121,
                        "block_time": 1744710203,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                        "status": 0,
                        "tx_hash": "7c5ce3ae5415c97b2bfbed526dbeeed2b07ad9db380599e87a48a5d08522ff30",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1744710203,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1744710203,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                        "utxo_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                        "block_time": 1744710203,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                        "utxo_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                        "block_time": 1744710203,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "tx_index": 121,
                    "utxo": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                    "utxo_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "tx_index": 121,
                    "utxo": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                    "utxo_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "tx_index": 121,
                    "utxo": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                    "utxo_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "tx_index": 121,
                    "utxo": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                    "utxo_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "d9e50b1c417bb16e2311ae8d308049159c185e1dd41a96db1f949a966b56bbe5",
                    "block_index": 211,
                    "block_time": 1744710040
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "36ef4f636db553d2f79cfdf4ffb4047028cffad08466244bd97b6af2271ef0be",
                    "block_index": 188,
                    "source": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                    "offer_hash": "42c7d9e130acb2978ae751a5dfc0a87b084632710df44d9a5d98856e8c3b3d11",
                    "status": "valid",
                    "block_time": 1744709942
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "7ac3585d72416e6a6b9e8b338166d2e42bde2ea3ebe4921c4dfd3bddcabe9247",
                    "block_index": 240,
                    "source": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1744710180,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qz5q99hzd8pslcecsvp0fm0xrl9xv3rk0nwgjev"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "1d7f472d13f140d47d30c7002cb9bc86b0164f2380b0f8c260833e1d76377948",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "issuer": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "mime_type": "text/plain",
                    "block_time": 1744710192,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "block_index": 245,
                    "source": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                    "destination": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "destination_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62",
                    "block_index": 245,
                    "source": "892e6511c7b857e956fec633bbd6cee10b41c11cfc71bb73bb08236f6e422446:1",
                    "destination": "dc8002c1cd227610effe695d822557763be19b26485c098d52b697c33f072c62:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qv25c66d732zpxcj6wd64mvtrlt6hltwxk8um5a",
                    "destination_address": "bcrt1qplhnlpl92r768lquj5hcm9ne6tdhkqacn690dm",
                    "block_time": 1744710203,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q4gktemx25j4phlg50x95ml5cvcvnv4wn70ke8x"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
[...]
