[//]: # (Generated by genapidoc.py on 2025-02-13 15:47:29.300411. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                "block_index": 245,
                "block_time": 1739461629,
                "difficulty": 545259519,
                "previous_block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                "block_index": 245,
                "block_time": 1739461629,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "fee": 0,
                "source": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                "transaction_type": "dispense",
                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "tx_index": 121,
                "utxos_info": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1 aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "out_index": 0,
                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "tx_index": 121,
                "block_time": 1739461629,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                "transaction_count": 1,
                "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                "block_time": 1739461629
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "tx_index": 121
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                "utxo_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                "block_time": 1739461629,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1739461629,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q2qs4wavty2ccja7h85e9lxw4dwmcwp6vukgctz",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "status": "valid",
                "tx_hash": "3b7262063e9f3e84f05603bfa6781b5172ce0ea78a46dfa5a11f48bdb89d8f85",
                "tx_index": 77,
                "block_time": 1739461460,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "3b7262063e9f3e84f05603bfa6781b5172ce0ea78a46dfa5a11f48bdb89d8f85",
            "block_index": 201,
            "block_time": 1739461460
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q2qs4wavty2ccja7h85e9lxw4dwmcwp6vukgctz",
                "status": "valid",
                "tx_hash": "d3c51d9fcc72f255b63c15d4b5cb1ddb09676bace0960ac0cb964afe4fdde899",
                "tx_index": 81,
                "block_time": 1739461474,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "d3c51d9fcc72f255b63c15d4b5cb1ddb09676bace0960ac0cb964afe4fdde899",
            "block_index": 205,
            "block_time": 1739461474
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qaxk9g2ycllwcv24f4fes3sx8k5j8frullzcwxm",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q3acuscxapg2wvjwgx28cmu5ldt5jhjr4can6ne",
                "status": "valid",
                "tx_hash": "1476e1b08c3a9f3e6ebcfbfe725f48e3abd065dd8e073df43bcdb0d620b78495",
                "tx_index": 65,
                "block_time": 1739461421,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "1476e1b08c3a9f3e6ebcfbfe725f48e3abd065dd8e073df43bcdb0d620b78495",
            "block_index": 190,
            "block_time": 1739461421
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "status": "valid",
                "tx_hash": "268372e7dbcdb88806e1a307210d5150820fab9117b627153a9a7bbc7a3b8de4",
                "tx_index": 42,
                "block_time": 1739461275,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                    "divisible": true,
                    "locked": false
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "268372e7dbcdb88806e1a307210d5150820fab9117b627153a9a7bbc7a3b8de4",
            "block_index": 146,
            "block_time": 1739461275
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "status": "valid",
                "transfer": false,
                "tx_hash": "505f6a762c360069796142deba1b40a696de30304085facd17d5e0035da3ec03",
                "tx_index": 117,
                "block_time": 1739461609,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "505f6a762c360069796142deba1b40a696de30304085facd17d5e0035da3ec03",
            "block_index": 240,
            "block_time": 1739461609
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1739461620
            },
            "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
            "block_index": 243,
            "block_time": 1739461620
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "status": "valid",
                "transfer": false,
                "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
                "tx_index": 120,
                "block_time": 1739461620,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
            "block_index": 243,
            "block_time": 1739461620
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "505f6a762c360069796142deba1b40a696de30304085facd17d5e0035da3ec03",
                "tx_index": 117,
                "block_time": 1739461609,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "505f6a762c360069796142deba1b40a696de30304085facd17d5e0035da3ec03",
            "block_index": 240,
            "block_time": 1739461609
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "status": "open",
                "tx_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
                "tx_index": 119,
                "block_time": 1739461616,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhx77tm7fguh4w0gmsumngar3sf7ekduk37lcg2",
                    "divisible": true,
                    "locked": false
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
            "block_index": 242,
            "block_time": 1739461616
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "9047b4a1d531f89ffacecca9329ee1400fb607d1316afd74a491309bb52e14c0_e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qhx77tm7fguh4w0gmsumngar3sf7ekduk37lcg2",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "9047b4a1d531f89ffacecca9329ee1400fb607d1316afd74a491309bb52e14c0",
                "tx0_index": 118,
                "tx1_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
                "tx1_index": 119,
                "block_time": 1739461616,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qhx77tm7fguh4w0gmsumngar3sf7ekduk37lcg2",
                    "divisible": true,
                    "locked": false
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
            "block_index": 242,
            "block_time": 1739461616
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "e7e630e29f3f769939047a93b71ca267d885bf806e15061db301710bc532f883",
            "block_index": 242,
            "block_time": 1739461616
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "4b6b07d0ea2bd8d8a350a4f3f2a15c128b3a46c1395833e0cf8ff148fc437b2f"
            },
            "tx_hash": "9f7a4110ebef9ea3f4d09a6f061479402ff656a63afa48777eb86288800a883f",
            "block_index": 182,
            "block_time": 1739461393
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "9f51be84369926eb9949468e89a6686e93c3a18a7f5cec3c0cf04be5fcb8fcb8_a4acd523965284e65e138c64ae3568c60cf499cbb582976179ba0ebeee68ee24",
                "order_match_id": "9f51be84369926eb9949468e89a6686e93c3a18a7f5cec3c0cf04be5fcb8fcb8_a4acd523965284e65e138c64ae3568c60cf499cbb582976179ba0ebeee68ee24",
                "status": "expired"
            },
            "tx_hash": "de4808e5803da82145906f6918ce5efd176c4a899676278b687cb1f7aa34d8ef",
            "block_index": 225,
            "block_time": 1739461544
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "order_match_id": "d11793334e9bb18a980e2b7c1f154da7e1ef8cc36e48529df4a0f44127f7775d_4b6b07d0ea2bd8d8a350a4f3f2a15c128b3a46c1395833e0cf8ff148fc437b2f",
                "source": "bcrt1q2qs4wavty2ccja7h85e9lxw4dwmcwp6vukgctz",
                "status": "valid",
                "tx_hash": "9f7a4110ebef9ea3f4d09a6f061479402ff656a63afa48777eb86288800a883f",
                "tx_index": 57,
                "block_time": 1739461393,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "9f7a4110ebef9ea3f4d09a6f061479402ff656a63afa48777eb86288800a883f",
            "block_index": 182,
            "block_time": 1739461393
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "7437c0924a0048b4867a8952e2eac1293d65ed6917042ed4ee1ef134b414a183",
                "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "status": "valid",
                "tx_hash": "c1e63fa208c1ba2c8a9fb4d1e61890df9bd38ae1d64397c04d323ba0c41ae872",
                "tx_index": 63,
                "block_time": 1739461414
            },
            "tx_hash": "c1e63fa208c1ba2c8a9fb4d1e61890df9bd38ae1d64397c04d323ba0c41ae872",
            "block_index": 188,
            "block_time": 1739461414
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "9f51be84369926eb9949468e89a6686e93c3a18a7f5cec3c0cf04be5fcb8fcb8",
                "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "block_time": 1739461494
            },
            "tx_hash": "c3021695dace7a1d18035f550a588ab76ff2aeeb8b7962adf915d765ac4d3ea6",
            "block_index": 211,
            "block_time": 1739461494
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "9f51be84369926eb9949468e89a6686e93c3a18a7f5cec3c0cf04be5fcb8fcb8_a4acd523965284e65e138c64ae3568c60cf499cbb582976179ba0ebeee68ee24",
                "tx0_address": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "tx1_address": "bcrt1q3acuscxapg2wvjwgx28cmu5ldt5jhjr4can6ne",
                "block_time": 1739461544
            },
            "tx_hash": "de4808e5803da82145906f6918ce5efd176c4a899676278b687cb1f7aa34d8ef",
            "block_index": 225,
            "block_time": 1739461544
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qj0zayaaapxfgz78kt8quj2ejcjdglxlwqg2wkg",
                "satoshirate": 1,
                "source": "bcrt1qj0zayaaapxfgz78kt8quj2ejcjdglxlwqg2wkg",
                "status": 0,
                "tx_hash": "c6a5a602d1c24fb152e86addd1fca5d021b17c3bf1a67f5809e59cfc63b2a285",
                "tx_index": 114,
                "block_time": 1739461596,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "c6a5a602d1c24fb152e86addd1fca5d021b17c3bf1a67f5809e59cfc63b2a285",
            "block_index": 236,
            "block_time": 1739461596
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "status": 0,
                "tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "mrpgufejE25yFtHCDAatYovNY4vGnqjC3g",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "9e91bea5aa388adb8ff5404df7487a7a5f3c0bdb2e1ae577c2a62a20a3c5058d",
                "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                "tx_hash": "fbd8d1d0b79d8be533864feb6c61d5859039b715fdf3eff33f64db362d0a1a77",
                "tx_index": 31,
                "block_time": 1739461236,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "fbd8d1d0b79d8be533864feb6c61d5859039b715fdf3eff33f64db362d0a1a77",
            "block_index": 135,
            "block_time": 1739461236
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "tx_index": 121,
                "block_time": 1739461629,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "9a87b31d977b15818de53d8e2c04df59a65e589fc3d13e04fe34802a33b461b2",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1739461215,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "9a87b31d977b15818de53d8e2c04df59a65e589fc3d13e04fe34802a33b461b2",
            "block_index": 129,
            "block_time": 1739461215
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "start_block": 0,
                "status": "open",
                "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
                "tx_index": 120,
                "block_time": 1739461620,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
            "block_index": 243,
            "block_time": 1739461620
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "5db10d5ecee54e59c55bbe7133051fc8696a1f9a4ffbce183d632feec9dfbc17"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1739461554
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "4e1013d2d2b6ff1d25e6c8e1a13946a3c481b4344615969637e11543fd18167e",
                "paid_quantity": 100000000,
                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "status": "valid",
                "tx_hash": "21c9af84a5065c32cac164ef6eb2207d80c5ab847915a92e401a446e7fffd559",
                "tx_index": 97,
                "block_time": 1739461531,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                    "divisible": true,
                    "locked": true
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "21c9af84a5065c32cac164ef6eb2207d80c5ab847915a92e401a446e7fffd559",
            "block_index": 221,
            "block_time": 1739461531
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "e8e75f251da85c1fa204ae7125f01d7552b1a6b7dbb59ebe953752a1093f2985:0",
                "destination_address": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "status": "valid",
                "tx_hash": "e8e75f251da85c1fa204ae7125f01d7552b1a6b7dbb59ebe953752a1093f2985",
                "tx_index": 112,
                "block_time": 1739461590,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "e8e75f251da85c1fa204ae7125f01d7552b1a6b7dbb59ebe953752a1093f2985",
            "block_index": 235,
            "block_time": 1739461590
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "8563866791f336ed60ae3eba0ba584e13b6244bde51332b763be3947237ea355:0",
                "source_address": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                "status": "valid",
                "tx_hash": "2225f63c7ae44756c2e60f004d765a585e0a42989252060661d51bd2a5d742ba",
                "tx_index": 111,
                "block_time": 1739461587,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                    "divisible": true,
                    "locked": false
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "2225f63c7ae44756c2e60f004d765a585e0a42989252060661d51bd2a5d742ba",
            "block_index": 234,
            "block_time": 1739461587
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                "destination_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                "source_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                "status": "valid",
                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                "tx_index": 121,
                "block_time": 1739461629,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
            "block_index": 245,
            "block_time": 1739461629
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qj0zayaaapxfgz78kt8quj2ejcjdglxlwqg2wkg",
                "status": "valid",
                "tx_hash": "0c8ab94d61b37397224b529e9704e698be8c107a135ce74b0361fbee6fdc4feb",
                "tx_index": 9,
                "block_time": 1739461154,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "0c8ab94d61b37397224b529e9704e698be8c107a135ce74b0361fbee6fdc4feb",
            "block_index": 112,
            "block_time": 1739461154
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "10.10.0",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor}{&limit}{&offset}{&verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (str, optional) - The index of the most recent block to return
        + Default: `None`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                    "block_time": 1739461629,
                    "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                    "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                    "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                    "previous_block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934",
                    "block_time": 1739461623,
                    "ledger_hash": "31904cc4febbb2fbebd85e148bb50a1527a668ecb0f68444dd23795f977fd0ec",
                    "txlist_hash": "75ded36e4aa29b92052e64c6743b85bc4a7527894c2d3bb160c67a0aad3e141b",
                    "messages_hash": "779fbe88d77bdf39f8f32c88fb41d741586c35c16ab559cbe1c264fe18a2ec85",
                    "previous_block_hash": "6351e06bfdbe4bfd8042a595b6f590cef0956bbb5db946b96e2f35cb5b95910e",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "6351e06bfdbe4bfd8042a595b6f590cef0956bbb5db946b96e2f35cb5b95910e",
                    "block_time": 1739461620,
                    "ledger_hash": "c425a58caaa288882adc9e2a0888723617f580cec85c9989ceb2916ecba0d3bc",
                    "txlist_hash": "863e4c8d9a9450741480447083e2b4369b716799b2beafb9b2d9e82610b5dcf0",
                    "messages_hash": "86a02b7153f17017e192b3a651dd1b65d3a4f2afd438fffbd93a08a8526078d2",
                    "previous_block_hash": "2cc2fcf5c33a2503afb2fe34e2133878fd669f3a33c15cfe48fa77fce7399456",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "2cc2fcf5c33a2503afb2fe34e2133878fd669f3a33c15cfe48fa77fce7399456",
                    "block_time": 1739461616,
                    "ledger_hash": "c60c76047ec0660b35c4a7f1e5d8192d043e6dfc89042909e88ef1a08b35c8d0",
                    "txlist_hash": "9d2aec318fc293916c80ed04edab63e027a50f3fd5952d4fce38ef40987dfab1",
                    "messages_hash": "cccef4a4d98dd0bce3b1bf14ece53aeb928089da3b9cc60857f691ed365937a5",
                    "previous_block_hash": "60a5dbd95a797b371cef4b1c28ca72a1c411c3148c5af3e1d1f0111837055329",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "60a5dbd95a797b371cef4b1c28ca72a1c411c3148c5af3e1d1f0111837055329",
                    "block_time": 1739461612,
                    "ledger_hash": "bb6d140534b5a0677f83548c0d272475521769d68804a224b3674b2db70467b4",
                    "txlist_hash": "ba2f17671087915dad9dc777cac0c0532493fe8396bf6dd696bebdd91a851065",
                    "messages_hash": "c9ff954261cce967fe8a62f3cebc0d1effb3d004ca171248afd3f2463dd631b7",
                    "previous_block_hash": "0bd245c7c176f64fa4d3542aedcd0ec928d3fb9aa539c8f904829a70ccd6f68b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                "block_time": 1739461629,
                "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                "previous_block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                "block_time": 1739461629,
                "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                "previous_block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                "block_time": 1739461629,
                "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                "previous_block_hash": "47bdf4995d2819b86a6dd067fda9ec5e016c18030a691cf0a950e1268152e934",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + cursor: `121` (str, optional) - The last transaction index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "block_index": 245,
                    "block_hash": "4fe9dff84ceffcb843ba3367f057dcb1c50a4f79672ef0b4a466ddd324b4b9ff",
                    "block_time": 1739461629,
                    "source": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "destination": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1 aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                                "destination_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                                "source_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                                "status": "valid",
                                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                                "tx_index": 121,
                                "block_time": 1739461629,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                                    "divisible": true,
                                    "locked": false
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                            "block_index": 245,
                            "block_time": 1739461629
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                                "destination_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                                "source_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                                "status": "valid",
                                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                                "tx_index": 121,
                                "block_time": 1739461629,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                            "block_index": 245,
                            "block_time": 1739461629
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                                "status": 0,
                                "tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                            "block_index": 245,
                            "block_time": 1739461629
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                                "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                                "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                                "tx_index": 121,
                                "block_time": 1739461629,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                            "block_index": 245,
                            "block_time": 1739461629
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name}{&cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `None`
    + cursor: `1042` (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "26e7477b0fe4526fdc8aa1a064a0c84497459a265f6eba88c7b6cb90db2a1ed0",
                        "messages_hash": "fad53c811caf6e59eda3b6971afcf0d6bd03f31a41cd923a0a43c01d4329e097",
                        "transaction_count": 1,
                        "txlist_hash": "c623d99072a1979a5cdf3fb1fe0135546737e1f9e90d73eb1955461c3123a8a5",
                        "block_time": 1739461629
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "tx_index": 121
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                        "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "tx_index": 121,
                        "block_time": 1739461629,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "status": 0,
                        "tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1739461629,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor}{&limit}{&offset}{&verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor}{&limit}{&offset}{&verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (str, optional) - The last event index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1739461629,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                        "utxo_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "block_time": 1739461629,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                        "utxo_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "block_time": 1739461629,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                            "divisible": true,
                            "locked": false
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (str, optional) - The last credit index to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "tx_index": 121,
                    "utxo": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                    "utxo_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "tx_index": 121,
                    "utxo": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                    "utxo_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action}{&cursor}{&limit}{&offset}{&verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `None`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "tx_index": 121,
                    "utxo": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                    "utxo_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "tx_index": 121,
                    "utxo": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                    "utxo_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor}{&limit}{&offset}{&verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the expirations to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "9f51be84369926eb9949468e89a6686e93c3a18a7f5cec3c0cf04be5fcb8fcb8",
                    "block_index": 211,
                    "block_time": 1739461494
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor}{&limit}{&offset}{&verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the cancels to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "c1e63fa208c1ba2c8a9fb4d1e61890df9bd38ae1d64397c04d323ba0c41ae872",
                    "block_index": 188,
                    "source": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                    "offer_hash": "7437c0924a0048b4867a8952e2eac1293d65ed6917042ed4ee1ef134b414a183",
                    "status": "valid",
                    "block_time": 1739461414
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor}{&limit}{&offset}{&verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the destructions to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "505f6a762c360069796142deba1b40a696de30304085facd17d5e0035da3ec03",
                    "block_index": 240,
                    "source": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1739461609,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1quhlclfpe423w9qtkw8fa7yr6kgtc32azl88prw",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events}{&cursor}{&limit}{&offset}{&verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (str, optional) - The last index of the issuances to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "40405252d6b62ae9ae5097088dc0c88752ef432ffc56ca6efca80602819a874c",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "issuer": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1739461620,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type}{&cursor}{&limit}{&offset}{&verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (str, optional) - The last index of the debits to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "block_index": 245,
                    "source": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                    "destination": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "destination_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "block_index": 245,
                    "source": "31b3f6ab0dfc66f06b1f4d1ed006935f180eb29ad49f218f0d7af538814d056e:1",
                    "destination": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "destination_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q2n35lqww74a2uak0m8kgm7w8gzlzdvykzatrza",
                        "divisible": true,
                        "locked": false
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor}{&limit}{&offset}{&verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last index of the dispenses to return
        + Default: `None`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `None`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "dispense_index": 0,
                    "tx_hash": "aa77351132770d15b3c564518cf3f59970f93226c19474db95bb6d8ad4a75f30",
                    "block_index": 245,
                    "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                    "destination": "bcrt1qmpw64f9ts2suq73t9jcwpycjyt936ckr7ju299",
                    "asset": "XCP",
                    "dispense_quantity": 66,
                    "dispenser_tx_hash": "4f2cdaddb2e9121b17353751dc607d4579b1419ef0057fc888213eb430014eac",
                    "btc_amount": 1000,
                    "dispenser": {
                        "tx_index": 33,
                        "block_index": 245,
                        "source": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "give_quantity": 1,
                        "escrow_quantity": 10000,
                        "satoshirate": 1,
                        "status": 0,
                        "give_remaining": 9268,
                        "oracle_address": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "last_status_tx_hash": null,
                        "origin": "bcrt1qd3raeg5l543kyy39lup5ewrj49x73z5n6ayg90",
                        "dispense_count": 2,
                        "last_status_tx_source": null,
                        "close_block_index": null,
                        "fiat_price": 0.01,
                        "oracle_price": 66600.0,
                        "fiat_unit": "USD",
                        "oracle_price_last_updated": 129,
                        "satoshi_price": 16,
                        "give_quantity_normalized": "0.00000001",
                        "give_remaining_normalized": "0.00009268",
                        "escrow_quantity_normalized": "0.00010000",
                        "satoshirate_normalized": "0.00000001",
                        "satoshi_price_normalized": "0.00000016"
                    },
                    "block_time": 1739461629,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
[...]
