[//]: # (Generated by genapidoc.py on 2025-03-20 15:37:50.027721. Do not edit manually.)
FORMAT: 1A
HOST: https://api.counterparty.io:4000

# Counterparty Core API

The Counterparty Core API is the recommended way to query the state of a Counterparty node. All other methods have no official support.

API routes are divided into groups:

- [`blocks`](#/reference/blocks)
- [`transactions`](#/reference/transactions)
- [`addresses`](#/reference/addresses)
- [`utxos`](#/reference/utxos)
- [`compose`](#/reference/compose)
- [`assets`](#/reference/assets)
- [`orders`](#/reference/orders)
- [`order_matches`](#/reference/order_matches)
- [`bets`](#/reference/bets)
- [`burns`](#/reference/burns)
- [`dispensers`](#/reference/dispensers)
- [`dividends`](#/reference/dividends)
- [`events`](#/reference/events)
- [`destructions`](#/reference/destructions)
- [`dispenses`](#/reference/dispenses)
- [`sends`](#/reference/sends)
- [`issuances`](#/reference/issuances)
- [`sweeps`](#/reference/sweeps)
- [`broadcasts`](#/reference/broadcasts)
- [`fairminters`](#/reference/fairminters)
- [`fairmints`](#/reference/fairmints)
- [`bitcoin`](#/reference/bitcoin)
- [`mempool`](#/reference/mempool)
- [`routes`](#/reference/routes)
- [`Z-Pages`](#/reference/Z-Pages)
- [`v1`](#/reference/v1)


## Headers and HTTP Code

When the server is not ready, that is to say when all the extant blocks have not yet been parsed, every route will return a `503` error, except `/` and those routes that are in the `/blocks`, `/transactions` and `/backend` groups.

All API responses contain the following 3 headers:

* `X-COUNTERPARTY-HEIGHT` contains the last block parsed by Counterparty
* `X-BITCOIN-HEIGHT` contains the last block known to Bitcoin Core
* `X-COUNTERPARTY-READY` contains true if `X-COUNTERPARTY-HEIGHT` >= `X-BITCOIN-HEIGHT` - 1
* `X-LEDGER-STATE` contains `Starting`, `Catching Up`, `Following` or `Stopping`

## Responses Format

All API responses follow the following format:

```
{
    "error": <error_messsage_if_success_is_false>,
    "result": <result_of_the_query_if_success_is_true>,
    "next_cursor": <cursor_value_to_get_the_next_page>,
    "result_count": <number_of_results>
}
```

## Pagination

For all routes that return a list of results from the database, you can choose between two pagination modes:

- With the `cursor` and `limit` parameters
- With the `offset` and `limit` parameters

The `cursor` parameter allows you to get results from a certain index. This index is generally retrieved from the `next_cursor` field of the previous result (see above).
The `offset` parameter allows you to ignore a certain number of results before returning the rest.

For example:
`/v2/blocks?limit=5&cursor=844575` allows you to recover blocks 844575 to 844570.
`/v2/blocks?limit=5&offset=5` allows you to retrieve the 5th to the tenth most recent blocks.

All responses contain a `result_count` field allowing you to calculate the number of pages.

## Bitcoin Core Proxy

Routes in the `/v2/bitcoin` group serve as a proxy to make requests to Bitcoin Core.

## Events API

One of the new features of API v2 is the ability to make requests by events. This is the most powerful way to recover the vast majority of data.

For example to retrieve events concerning dispensers for a given block:

```
/v2/blocks/<int:block_index>/events/OPEN_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSER_UPDATE
/v2/blocks/<int:block_index>/events/REFILL_DISPENSER
/v2/blocks/<int:block_index>/events/DISPENSE
```

Or to know the events triggered by a given transaction:

`/v2/transactions/<tx_hash>/events`

You can also obtain the events triggered by a transaction using the `verbose` flag:

`/v2/transactions?verbose=true`

However, please note that in this way, the following events are excluded from the list of events:
`NEW_TRANSACTION`, `TRANSACTION_PARSED`, `CREDIT`, `DEBIT`, `INCREMENT_TRANSACTION_COUNT`, `NEW_TRANSACTION_OUTPUT`.

### ZeroMQ Publisher

You can enable the ZeroMQ server by starting `counterparty-server` with the `--enable-zmq-publisher` flag.
All events are published, each in a specific topic. You can subscribe to the events that interest you. For example in Python:

```
context = zmq.asyncio.Context()
socket = context.socket(zmq.SUB)
socket.setsockopt(zmq.RCVHWM, 0)
socket.setsockopt_string(zmq.SUBSCRIBE, "CREDIT")
socket.setsockopt_string(zmq.SUBSCRIBE, "DEBIT")
```

You can use an empty string to subscribe to all events.

By default events are published on port `4001`, you can customize this port with the flag `--zmq-publisher-port`.

You can see a complete, working example in Python here: https://github.com/CounterpartyXCP/counterparty-core/blob/master/counterparty-core/tools/zmqclient.py.


### Notes about update events

For the events `DISPENSER_UPDATE` and `ORDER_UPDATE`, depending on the reason for the update, the fields present in `params` may be different.

Here are the different possibilities for `DISPENSER_UPDATE`:

On refill dispenser and on dispense:

- give_remaining
- dispense_count
- source
- asset
- status

On closing dispenser with delay:

- last_status_tx_hash
- source
- asset
- status

On closing dispenser:

- give_remaining
- source
- asset
- status

and those for `ORDER_UPDATE`:

On order cancellation:

- status
- tx_hash

On order match cancellation:

- give_remaining
- get_remaining
- status
- fee_required_remaining

On order match:

- give_remaining
- get_remaining
- fee_required_remaining
- fee_provided_remaining
- status

## Events Reference

Here is a list of events classified by theme and for each an example response:


### Blocks and Transactions

#### `NEW_BLOCK`

```
{
    "result": [
        {
            "event_index": 1029,
            "event": "NEW_BLOCK",
            "params": {
                "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                "block_index": 245,
                "block_time": 1742485043,
                "difficulty": 545259519,
                "previous_block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b"
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1027,
    "result_count": 145
}
```

#### `NEW_TRANSACTION`

```
{
    "result": [
        {
            "event_index": 1030,
            "event": "NEW_TRANSACTION",
            "params": {
                "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                "block_index": 245,
                "block_time": 1742485043,
                "btc_amount": 1000,
                "data": "0d00",
                "destination": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "fee": 0,
                "source": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                "transaction_type": "dispense",
                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "tx_index": 121,
                "utxos_info": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1 a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0 3 1",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1020,
    "result_count": 122
}
```

#### `NEW_TRANSACTION_OUTPUT`

```
{
    "result": [
        {
            "event_index": 1031,
            "event": "NEW_TRANSACTION_OUTPUT",
            "params": {
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "out_index": 0,
                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "tx_index": 121,
                "block_time": 1742485043,
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 981,
    "result_count": 6
}
```

#### `BLOCK_PARSED`

```
{
    "result": [
        {
            "event_index": 1042,
            "event": "BLOCK_PARSED",
            "params": {
                "block_index": 245,
                "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                "transaction_count": 1,
                "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                "block_time": 1742485043
            },
            "tx_hash": null,
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1028,
    "result_count": 145
}
```

#### `TRANSACTION_PARSED`

```
{
    "result": [
        {
            "event_index": 1041,
            "event": "TRANSACTION_PARSED",
            "params": {
                "supported": true,
                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "tx_index": 121
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1025,
    "result_count": 122
}
```

### Asset Movements

#### `DEBIT`

```
{
    "result": [
        {
            "event_index": 1035,
            "event": "DEBIT",
            "params": {
                "action": "utxo move",
                "address": null,
                "asset": "XCP",
                "block_index": 245,
                "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "quantity": 2000000000,
                "tx_index": 121,
                "utxo": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                "utxo_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                "block_time": 1742485043,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1032,
    "result_count": 106
}
```

#### `CREDIT`

```
{
    "result": [
        {
            "event_index": 1038,
            "event": "CREDIT",
            "params": {
                "address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                "asset": "XCP",
                "block_index": 245,
                "calling_function": "dispense",
                "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "quantity": 66,
                "tx_index": 121,
                "utxo": null,
                "utxo_address": null,
                "block_time": 1742485043,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000066"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1036,
    "result_count": 126
}
```

#### `ENHANCED_SEND`

```
{
    "result": [
        {
            "event_index": 653,
            "event": "ENHANCED_SEND",
            "params": {
                "asset": "MPMASSET",
                "block_index": 201,
                "destination": "bcrt1q73hqx6dlua67v683ge0g5jqmzy2qc9cv3qpuad",
                "memo": null,
                "msg_index": 0,
                "quantity": 1000,
                "send_type": "send",
                "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "status": "valid",
                "tx_hash": "8beedb57523cedda969bfa94eef79fec5ebbbfefc7eda796e08a4ba5773f49ad",
                "tx_index": 77,
                "block_time": 1742484846,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset B",
                    "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                },
                "quantity_normalized": "0.00001000"
            },
            "tx_hash": "8beedb57523cedda969bfa94eef79fec5ebbbfefc7eda796e08a4ba5773f49ad",
            "block_index": 201,
            "block_time": 1742484846
        }
    ],
    "next_cursor": 528,
    "result_count": 3
}
```

#### `MPMA_SEND`

```
{
    "result": [
        {
            "event_index": 713,
            "event": "MPMA_SEND",
            "params": {
                "asset": "XCP",
                "block_index": 205,
                "destination": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "memo": "memo1",
                "msg_index": 2,
                "quantity": 10,
                "send_type": "send",
                "source": "bcrt1q73hqx6dlua67v683ge0g5jqmzy2qc9cv3qpuad",
                "status": "valid",
                "tx_hash": "e6884cffa8a90b755150f25f445450634db06e80eecdb1f249f2296bc410560b",
                "tx_index": 81,
                "block_time": 1742484862,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "0.00000010"
            },
            "tx_hash": "e6884cffa8a90b755150f25f445450634db06e80eecdb1f249f2296bc410560b",
            "block_index": 205,
            "block_time": 1742484862
        }
    ],
    "next_cursor": 712,
    "result_count": 15
}
```

#### `SEND`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `ASSET_TRANSFER`

```
{
    "result": [],
    "next_cursor": null,
    "result_count": 0
}
```

#### `SWEEP`

```
{
    "result": [
        {
            "event_index": 571,
            "event": "SWEEP",
            "params": {
                "block_index": 190,
                "destination": "bcrt1qfd03avl9r6p0me2vaygtlz682j7skeskade94z",
                "fee_paid": 600000,
                "flags": 1,
                "memo": "sweep my assets",
                "source": "bcrt1q90tmm7zz7h9l07zqwpv96yrut04j23dsvwl6l4",
                "status": "valid",
                "tx_hash": "480ee9615bd2693102832175c6393f3352c8beebe3e637b924e23f5e200807a0",
                "tx_index": 65,
                "block_time": 1742484796,
                "fee_paid_normalized": "0.00600000"
            },
            "tx_hash": "480ee9615bd2693102832175c6393f3352c8beebe3e637b924e23f5e200807a0",
            "block_index": 190,
            "block_time": 1742484796
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_DIVIDEND`

```
{
    "result": [
        {
            "event_index": 338,
            "event": "ASSET_DIVIDEND",
            "params": {
                "asset": "MYASSETA",
                "block_index": 146,
                "dividend_asset": "XCP",
                "fee_paid": 20000,
                "quantity_per_unit": 100000000,
                "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "status": "valid",
                "tx_hash": "264b8062e0980a13931999ad3e73846d954c7ce8d53017dcf05620b7cda0465e",
                "tx_index": 42,
                "block_time": 1742484651,
                "asset_info": {
                    "asset_longname": null,
                    "description": "My super asset A",
                    "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                },
                "dividend_asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_per_unit_normalized": "1.00000000",
                "fee_paid_normalized": "0.00020000"
            },
            "tx_hash": "264b8062e0980a13931999ad3e73846d954c7ce8d53017dcf05620b7cda0465e",
            "block_index": 146,
            "block_time": 1742484651
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

### Asset Creation and Destruction

#### `RESET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1001,
            "event": "RESET_ISSUANCE",
            "params": {
                "asset": "RESET",
                "asset_events": "reset",
                "asset_longname": null,
                "block_index": 240,
                "call_date": 0,
                "call_price": 0.0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fee_paid": 0,
                "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "locked": false,
                "quantity": 1200000000,
                "reset": true,
                "source": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "status": "valid",
                "transfer": false,
                "tx_hash": "765cbac1d97db5e901fc79aea1ac278c9727243bc3edb3923f6abfac77db7bbd",
                "tx_index": 117,
                "block_time": 1742485023,
                "quantity_normalized": "12.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "765cbac1d97db5e901fc79aea1ac278c9727243bc3edb3923f6abfac77db7bbd",
            "block_index": 240,
            "block_time": 1742485023
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ASSET_CREATION`

```
{
    "result": [
        {
            "event_index": 1022,
            "event": "ASSET_CREATION",
            "params": {
                "asset_id": "117132633401",
                "asset_longname": null,
                "asset_name": "OPENFAIR",
                "block_index": 243,
                "block_time": 1742485034
            },
            "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
            "block_index": 243,
            "block_time": 1742485034
        }
    ],
    "next_cursor": 992,
    "result_count": 30
}
```

#### `ASSET_ISSUANCE`

```
{
    "result": [
        {
            "event_index": 1023,
            "event": "ASSET_ISSUANCE",
            "params": {
                "asset": "OPENFAIR",
                "asset_events": "open_fairminter",
                "asset_longname": null,
                "block_index": 243,
                "call_date": 0,
                "call_price": 0,
                "callable": false,
                "description": "",
                "divisible": true,
                "fair_minting": true,
                "fee_paid": 50000000.0,
                "issuer": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "locked": false,
                "quantity": 0,
                "reset": false,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": "valid",
                "transfer": false,
                "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
                "tx_index": 120,
                "block_time": 1742485034,
                "quantity_normalized": "0.00000000",
                "fee_paid_normalized": "0.50000000"
            },
            "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
            "block_index": 243,
            "block_time": 1742485034
        }
    ],
    "next_cursor": 993,
    "result_count": 55
}
```

#### `ASSET_DESTRUCTION`

```
{
    "result": [
        {
            "event_index": 1000,
            "event": "ASSET_DESTRUCTION",
            "params": {
                "asset": "RESET",
                "block_index": 240,
                "quantity": 12,
                "source": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "status": "valid",
                "tag": "reset",
                "tx_hash": "765cbac1d97db5e901fc79aea1ac278c9727243bc3edb3923f6abfac77db7bbd",
                "tx_index": 117,
                "block_time": 1742485023,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8"
                },
                "quantity_normalized": "0.00000012"
            },
            "tx_hash": "765cbac1d97db5e901fc79aea1ac278c9727243bc3edb3923f6abfac77db7bbd",
            "block_index": 240,
            "block_time": 1742485023
        }
    ],
    "next_cursor": 885,
    "result_count": 5
}
```

### DEX

#### `OPEN_ORDER`

```
{
    "result": [
        {
            "event_index": 1013,
            "event": "OPEN_ORDER",
            "params": {
                "block_index": 242,
                "expiration": 21,
                "expire_index": 263,
                "fee_provided": 10000,
                "fee_provided_remaining": 10000,
                "fee_required": 0,
                "fee_required_remaining": 0,
                "get_asset": "UTXOASSET",
                "get_quantity": 1000,
                "get_remaining": 1000,
                "give_asset": "BTC",
                "give_quantity": 1000,
                "give_remaining": 1000,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": "open",
                "tx_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
                "tx_index": 119,
                "block_time": 1742485031,
                "give_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "get_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qwgehuf2m0w282yse8a48xa4fen87py3fkcx4kl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwgehuf2m0w282yse8a48xa4fen87py3fkcx4kl"
                },
                "give_quantity_normalized": "0.00001000",
                "get_quantity_normalized": "0.00001000",
                "get_remaining_normalized": "0.00001000",
                "give_remaining_normalized": "0.00001000",
                "fee_provided_normalized": "0.00010000",
                "fee_required_normalized": "0.00000000",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
            "block_index": 242,
            "block_time": 1742485031
        }
    ],
    "next_cursor": 1008,
    "result_count": 9
}
```

#### `ORDER_MATCH`

```
{
    "result": [
        {
            "event_index": 1016,
            "event": "ORDER_MATCH",
            "params": {
                "backward_asset": "BTC",
                "backward_quantity": 1000,
                "block_index": 242,
                "fee_paid": 0,
                "forward_asset": "UTXOASSET",
                "forward_quantity": 1000,
                "id": "0de44ea2517d2225b90ba28a5de72b13d4df6356d6c40ea1bb30f70096a5a815_d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
                "match_expire_index": 262,
                "status": "pending",
                "tx0_address": "bcrt1qwgehuf2m0w282yse8a48xa4fen87py3fkcx4kl",
                "tx0_block_index": 241,
                "tx0_expiration": 21,
                "tx0_hash": "0de44ea2517d2225b90ba28a5de72b13d4df6356d6c40ea1bb30f70096a5a815",
                "tx0_index": 118,
                "tx1_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "tx1_block_index": 242,
                "tx1_expiration": 21,
                "tx1_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
                "tx1_index": 119,
                "block_time": 1742485031,
                "forward_asset_info": {
                    "asset_longname": null,
                    "description": "My super asset",
                    "issuer": "bcrt1qwgehuf2m0w282yse8a48xa4fen87py3fkcx4kl",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qwgehuf2m0w282yse8a48xa4fen87py3fkcx4kl"
                },
                "backward_asset_info": {
                    "divisible": true,
                    "asset_longname": null,
                    "description": "The Bitcoin cryptocurrency",
                    "locked": false,
                    "issuer": null
                },
                "forward_quantity_normalized": "0.00001000",
                "backward_quantity_normalized": "0.00001000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
            "block_index": 242,
            "block_time": 1742485031
        }
    ],
    "next_cursor": 691,
    "result_count": 5
}
```

#### `ORDER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1015,
            "event": "ORDER_UPDATE",
            "params": {
                "fee_provided_remaining": 10000,
                "fee_required_remaining": 0,
                "get_remaining": 0,
                "give_remaining": 0,
                "status": "open",
                "tx_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
                "fee_required_remaining_normalized": "0.00000000",
                "fee_provided_remaining_normalized": "0.00010000"
            },
            "tx_hash": "d817632f220b54247c03cfad0ba89e6c966e7371aa3483749c4e21d957e9b062",
            "block_index": 242,
            "block_time": 1742485031
        }
    ],
    "next_cursor": 1014,
    "result_count": 19
}
```

#### `ORDER_FILLED`

```
{
    "result": [
        {
            "event_index": 507,
            "event": "ORDER_FILLED",
            "params": {
                "status": "filled",
                "tx_hash": "8e7f8ac9a9df1291f390de5fa17cd6f40889520485fd088c9e38b5cbb3fdeee6"
            },
            "tx_hash": "0bf5da8b38249d0a0018fea1bc6b11ccf9e7870c6940d9adf63bb6fcaf197f0a",
            "block_index": 182,
            "block_time": 1742484767
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_MATCH_UPDATE`

```
{
    "result": [
        {
            "event_index": 859,
            "event": "ORDER_MATCH_UPDATE",
            "params": {
                "id": "92bddef8c9dbdfda16751d1b3392020fedf14c65f2e2c9f7c4fc161d711fed0a_d7e6082919333fc47e83db03c43afe8e9c17f5ea393a4da2ae4ec0bd36244a84",
                "order_match_id": "92bddef8c9dbdfda16751d1b3392020fedf14c65f2e2c9f7c4fc161d711fed0a_d7e6082919333fc47e83db03c43afe8e9c17f5ea393a4da2ae4ec0bd36244a84",
                "status": "expired"
            },
            "tx_hash": "e087e58e2444f8c014dc24f0c88886d69098975022f9b10a98c16df602940a22",
            "block_index": 225,
            "block_time": 1742484937
        }
    ],
    "next_cursor": 685,
    "result_count": 4
}
```

#### `BTC_PAY`

```
{
    "result": [
        {
            "event_index": 508,
            "event": "BTC_PAY",
            "params": {
                "block_index": 182,
                "btc_amount": 2000,
                "destination": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "order_match_id": "9687e83691dec5d589fb3647702671f5454f60781923d8534434a07e21237ab9_8e7f8ac9a9df1291f390de5fa17cd6f40889520485fd088c9e38b5cbb3fdeee6",
                "source": "bcrt1q73hqx6dlua67v683ge0g5jqmzy2qc9cv3qpuad",
                "status": "valid",
                "tx_hash": "0bf5da8b38249d0a0018fea1bc6b11ccf9e7870c6940d9adf63bb6fcaf197f0a",
                "tx_index": 57,
                "block_time": 1742484767,
                "btc_amount_normalized": "0.00002000"
            },
            "tx_hash": "0bf5da8b38249d0a0018fea1bc6b11ccf9e7870c6940d9adf63bb6fcaf197f0a",
            "block_index": 182,
            "block_time": 1742484767
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `CANCEL_ORDER`

```
{
    "result": [
        {
            "event_index": 553,
            "event": "CANCEL_ORDER",
            "params": {
                "block_index": 188,
                "offer_hash": "1d025cfe1868d8e7678d776eac77e67cd834d5ceccdece1283c08648e3d25e7b",
                "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "status": "valid",
                "tx_hash": "0fe8191047984bd7923203c7b1db0cceb8405c00ee2ffe3157906dc5d634986c",
                "tx_index": 63,
                "block_time": 1742484788
            },
            "tx_hash": "0fe8191047984bd7923203c7b1db0cceb8405c00ee2ffe3157906dc5d634986c",
            "block_index": 188,
            "block_time": 1742484788
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `ORDER_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 758,
            "event": "ORDER_EXPIRATION",
            "params": {
                "block_index": 211,
                "order_hash": "92bddef8c9dbdfda16751d1b3392020fedf14c65f2e2c9f7c4fc161d711fed0a",
                "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "block_time": 1742484885
            },
            "tx_hash": "34e5b6d893610ea13bab05cab9eafa3c2f4d361402c7a0239d25fab64d90aa18",
            "block_index": 211,
            "block_time": 1742484885
        }
    ],
    "next_cursor": 705,
    "result_count": 5
}
```

#### `ORDER_MATCH_EXPIRATION`

```
{
    "result": [
        {
            "event_index": 861,
            "event": "ORDER_MATCH_EXPIRATION",
            "params": {
                "block_index": 225,
                "order_match_id": "92bddef8c9dbdfda16751d1b3392020fedf14c65f2e2c9f7c4fc161d711fed0a_d7e6082919333fc47e83db03c43afe8e9c17f5ea393a4da2ae4ec0bd36244a84",
                "tx0_address": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "tx1_address": "bcrt1q90tmm7zz7h9l07zqwpv96yrut04j23dsvwl6l4",
                "block_time": 1742484937
            },
            "tx_hash": "e087e58e2444f8c014dc24f0c88886d69098975022f9b10a98c16df602940a22",
            "block_index": 225,
            "block_time": 1742484937
        }
    ],
    "next_cursor": 688,
    "result_count": 3
}
```

### Dispenser

#### `OPEN_DISPENSER`

```
{
    "result": [
        {
            "event_index": 976,
            "event": "OPEN_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 236,
                "dispense_count": 0,
                "escrow_quantity": 5000,
                "give_quantity": 1,
                "give_remaining": 5000,
                "oracle_address": null,
                "origin": "bcrt1qxqeqmrqj90h4j53ya3qc974psnxa30xt6xq9e4",
                "satoshirate": 1,
                "source": "bcrt1qxqeqmrqj90h4j53ya3qc974psnxa30xt6xq9e4",
                "status": 0,
                "tx_hash": "8c3b4d9fb213643af61c6c0710b05012cc9cda25b592eae1d6fb285cb6b5d5d6",
                "tx_index": 114,
                "block_time": 1742485007,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_quantity_normalized": "0.00000001",
                "give_remaining_normalized": "0.00005000",
                "escrow_quantity_normalized": "0.00005000",
                "satoshirate_normalized": "0.00000001"
            },
            "tx_hash": "8c3b4d9fb213643af61c6c0710b05012cc9cda25b592eae1d6fb285cb6b5d5d6",
            "block_index": 236,
            "block_time": 1742485007
        }
    ],
    "next_cursor": 587,
    "result_count": 6
}
```

#### `DISPENSER_UPDATE`

```
{
    "result": [
        {
            "event_index": 1039,
            "event": "DISPENSER_UPDATE",
            "params": {
                "asset": "XCP",
                "dispense_count": 2,
                "give_remaining": 9268,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": 0,
                "tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "give_remaining_normalized": "0.00009268"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 983,
    "result_count": 9
}
```

#### `REFILL_DISPENSER`

```
{
    "result": [
        {
            "event_index": 253,
            "event": "REFILL_DISPENSER",
            "params": {
                "asset": "XCP",
                "block_index": 135,
                "destination": "n2DPfMKGRVQrydMeTtcP4aoP2eRL4Ltrop",
                "dispense_quantity": 10,
                "dispenser_tx_hash": "467a2638739c0be18ac87ae7d36a1bdcc65dbc6c9221b242ef6f421cc5ec2113",
                "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                "tx_hash": "a7d6997211c6f1656801e965f10b34fbcb6c3e9750acf7eb32680f7dfa863372",
                "tx_index": 31,
                "block_time": 1742484609,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000010"
            },
            "tx_hash": "a7d6997211c6f1656801e965f10b34fbcb6c3e9750acf7eb32680f7dfa863372",
            "block_index": 135,
            "block_time": 1742484609
        }
    ],
    "next_cursor": null,
    "result_count": 1
}
```

#### `DISPENSE`

```
{
    "result": [
        {
            "event_index": 1040,
            "event": "DISPENSE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "btc_amount": 1000,
                "destination": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                "dispense_index": 0,
                "dispense_quantity": 66,
                "dispenser_tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "tx_index": 121,
                "block_time": 1742485043,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "dispense_quantity_normalized": "0.00000066",
                "btc_amount_normalized": "0.00001000"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 984,
    "result_count": 6
}
```

### Broadcast

#### `BROADCAST`

```
{
    "result": [
        {
            "event_index": 210,
            "event": "BROADCAST",
            "params": {
                "block_index": 129,
                "fee_fraction_int": 0,
                "locked": false,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": "valid",
                "text": "price-USD",
                "timestamp": 4003903983,
                "tx_hash": "a772e74b31c75bbd7f56facc66b3d621ec068c58b81bfbf059c824a62d661795",
                "tx_index": 25,
                "value": 66600.0,
                "block_time": 1742484588,
                "fee_fraction_int_normalized": "0.00000000"
            },
            "tx_hash": "a772e74b31c75bbd7f56facc66b3d621ec068c58b81bfbf059c824a62d661795",
            "block_index": 129,
            "block_time": 1742484588
        }
    ],
    "next_cursor": 205,
    "result_count": 2
}
```

### Fair Minting

#### `NEW_FAIRMINTER`

```
{
    "result": [
        {
            "event_index": 1021,
            "event": "NEW_FAIRMINTER",
            "params": {
                "asset": "OPENFAIR",
                "asset_longname": null,
                "asset_parent": null,
                "block_index": 243,
                "burn_payment": false,
                "description": "",
                "divisible": true,
                "end_block": 0,
                "hard_cap": 0,
                "lock_description": false,
                "lock_quantity": false,
                "max_mint_per_address": 0,
                "max_mint_per_tx": 10,
                "minted_asset_commission_int": 0,
                "pre_minted": false,
                "premint_quantity": 0,
                "price": 0,
                "quantity_by_price": 1,
                "soft_cap": 0,
                "soft_cap_deadline_block": 0,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "start_block": 0,
                "status": "open",
                "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
                "tx_index": 120,
                "block_time": 1742485034,
                "price_normalized": "0.0000000000000000",
                "hard_cap_normalized": "0.00000000",
                "soft_cap_normalized": "0.00000000",
                "quantity_by_price_normalized": "0.00000001",
                "max_mint_per_tx_normalized": "0.00000010",
                "premint_quantity_normalized": "0.00000000"
            },
            "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
            "block_index": 243,
            "block_time": 1742485034
        }
    ],
    "next_cursor": 874,
    "result_count": 18
}
```

#### `FAIRMINTER_UPDATE`

```
{
    "result": [
        {
            "event_index": 883,
            "event": "FAIRMINTER_UPDATE",
            "params": {
                "status": "closed",
                "tx_hash": "2a267333f13b68eb5b488d878343fa97d1f1c0a331b8df3c8508c292145bf27b"
            },
            "tx_hash": null,
            "block_index": 228,
            "block_time": 1742484949
        }
    ],
    "next_cursor": 869,
    "result_count": 8
}
```

#### `NEW_FAIRMINT`

```
{
    "result": [
        {
            "event_index": 835,
            "event": "NEW_FAIRMINT",
            "params": {
                "asset": "BURNER",
                "block_index": 221,
                "commission": 20000000,
                "earn_quantity": 80000000,
                "fairminter_tx_hash": "933579aae37b212d27c874b550a4e841cc78ac3337f832435b0f10a226793ce7",
                "paid_quantity": 100000000,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": "valid",
                "tx_hash": "7ab698e8f4aa84fd567ca823687758651eed4e337d70e3056d27f10aca9b5aea",
                "tx_index": 97,
                "block_time": 1742484923,
                "asset_info": {
                    "asset_longname": null,
                    "description": "let's burn it",
                    "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                    "divisible": true,
                    "locked": true,
                    "owner": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8"
                },
                "earn_quantity_normalized": "0.80000000",
                "commission_normalized": "0.20000000",
                "paid_quantity_normalized": "1.00000000"
            },
            "tx_hash": "7ab698e8f4aa84fd567ca823687758651eed4e337d70e3056d27f10aca9b5aea",
            "block_index": 221,
            "block_time": 1742484923
        }
    ],
    "next_cursor": 816,
    "result_count": 15
}
```

### UTXO Support

#### `ATTACH_TO_UTXO`

```
{
    "result": [
        {
            "event_index": 965,
            "event": "ATTACH_TO_UTXO",
            "params": {
                "asset": "DETACHA",
                "block_index": 235,
                "destination": "57f0de87ec022eaebffc7e524d4af6d940bcac29a03cd7a52219292563342b40:0",
                "destination_address": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "fee_paid": 0,
                "msg_index": 0,
                "quantity": 100000000,
                "send_type": "attach",
                "source": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "status": "valid",
                "tx_hash": "57f0de87ec022eaebffc7e524d4af6d940bcac29a03cd7a52219292563342b40",
                "tx_index": 112,
                "block_time": 1742485001,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "57f0de87ec022eaebffc7e524d4af6d940bcac29a03cd7a52219292563342b40",
            "block_index": 235,
            "block_time": 1742485001
        }
    ],
    "next_cursor": 944,
    "result_count": 9
}
```

#### `DETACH_FROM_UTXO`

```
{
    "result": [
        {
            "event_index": 957,
            "event": "DETACH_FROM_UTXO",
            "params": {
                "asset": "DETACHB",
                "block_index": 234,
                "destination": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "fee_paid": 0,
                "msg_index": 1,
                "quantity": 100000000,
                "send_type": "detach",
                "source": "f4db575a32c4176788fe0781505c81a10432863805689829b8b5c96b24fdd4fc:0",
                "source_address": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                "status": "valid",
                "tx_hash": "f4af8d96d7eb7aed5ed967ca7d69e287afdaeda6e7038fca2884e2e73fbc5468",
                "tx_index": 111,
                "block_time": 1742484997,
                "asset_info": {
                    "asset_longname": null,
                    "description": "",
                    "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                    "divisible": true,
                    "locked": false,
                    "owner": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8"
                },
                "quantity_normalized": "1.00000000",
                "fee_paid_normalized": "0.00000000"
            },
            "tx_hash": "f4af8d96d7eb7aed5ed967ca7d69e287afdaeda6e7038fca2884e2e73fbc5468",
            "block_index": 234,
            "block_time": 1742484997
        }
    ],
    "next_cursor": 954,
    "result_count": 5
}
```

#### `UTXO_MOVE`

```
{
    "result": [
        {
            "event_index": 1037,
            "event": "UTXO_MOVE",
            "params": {
                "asset": "XCP",
                "block_index": 245,
                "destination": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                "destination_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "msg_index": 1,
                "quantity": 2000000000,
                "send_type": "move",
                "source": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                "source_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                "status": "valid",
                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                "tx_index": 121,
                "block_time": 1742485043,
                "asset_info": {
                    "asset_longname": null,
                    "description": "The Counterparty protocol native currency",
                    "issuer": null,
                    "divisible": true,
                    "locked": true,
                    "owner": null
                },
                "quantity_normalized": "20.00000000"
            },
            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
            "block_index": 245,
            "block_time": 1742485043
        }
    ],
    "next_cursor": 1034,
    "result_count": 14
}
```

### Burns

#### `BURN`

```
{
    "result": [
        {
            "event_index": 61,
            "event": "BURN",
            "params": {
                "block_index": 112,
                "burned": 50000000,
                "earned": 74999998167,
                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                "status": "valid",
                "tx_hash": "c3d532cb8d6ec74c0a47cda56e19e51d11b9538fbda17fd26fe5034385421dd9",
                "tx_index": 9,
                "block_time": 1742484526,
                "burned_normalized": "0.50000000",
                "earned_normalized": "749.99998167"
            },
            "tx_hash": "c3d532cb8d6ec74c0a47cda56e19e51d11b9538fbda17fd26fe5034385421dd9",
            "block_index": 112,
            "block_time": 1742484526
        }
    ],
    "next_cursor": 58,
    "result_count": 10
}
```


# Counterparty API Root [/v2/]

### Get Server Info [GET /v2/]

Returns server information and the list of documented routes in JSON format.

+ Response 200 (application/json)

    ```
    {
        "result": {
            "server_ready": true,
            "network": "mainnet",
            "version": "11.0.0-alpha.1",
            "backend_height": 850214,
            "counterparty_height": 850214,
            "ledger_state": "following",
            "documentation": "https://counterpartycore.docs.apiary.io/",
            "blueprint": "http://localhost:4000/v2/blueprint"
        }
    }
    ```

## Mempool API

The `/v2/mempool/events` route allows to retrieve events generated by transactions that have not yet been confirmed.
Unconfirmed transactions are considered unordered and each one is parsed independently of the others. Therefore some transactions can be invalid once parsed in the mempool and valid once confirmed, or valid in the mempool and invalid once confirmed. For example, if a utxo move is chained after an attach, it will be invalid in the mempool but valid once confirmed.


## Group Blocks

### Get Blocks [GET /v2/blocks{?cursor,limit,offset,verbose}]

Returns the list of the last ten blocks

+ Parameters
    + cursor: `245` (int, optional) - The index of the most recent block to return
        + Default: `null`
    + limit: `5` (int, optional) - The number of blocks to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                    "block_time": 1742485043,
                    "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                    "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                    "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                    "previous_block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 244,
                    "block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b",
                    "block_time": 1742485037,
                    "ledger_hash": "e8a7df375d2fa2993688e9e9df52ddfa2dc41063ae076881b24f5828bead1c55",
                    "txlist_hash": "d11083c7af22a6600280fa1a3f3c2c2afbf4afe48383a4fc3c84624a5a505d37",
                    "messages_hash": "751c449b4a3c9bf9cabd26fbcc97c6d83c23149bcf9ed2f1797bbec54166331e",
                    "previous_block_hash": "32897b2f458262fb0458d4408af067848fea52f684faf015b974553e2c62482b",
                    "difficulty": 545259519,
                    "transaction_count": 0
                },
                {
                    "block_index": 243,
                    "block_hash": "32897b2f458262fb0458d4408af067848fea52f684faf015b974553e2c62482b",
                    "block_time": 1742485034,
                    "ledger_hash": "eb770a7db7b59bf4da7aa1586431024830f8056c340306774575059ed6169654",
                    "txlist_hash": "eaac935a18641a3f00c81c33e61d5a68b990d5275e850528fd71d785e7ae1f57",
                    "messages_hash": "937e7683c6bd0f2655167b9dc5f765418f9bc1307150cddfc6c2512a22058985",
                    "previous_block_hash": "1bd7cf79a3797d584e909d93fa5d66fb86fc38fa2b0856339f39af019dd30d92",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 242,
                    "block_hash": "1bd7cf79a3797d584e909d93fa5d66fb86fc38fa2b0856339f39af019dd30d92",
                    "block_time": 1742485031,
                    "ledger_hash": "2710fce453866d6c2cae81f45372f2fd0e32efc68bcfda74910e6feb286cfda3",
                    "txlist_hash": "1618aba8198e077617acce6534dadbb23e6a5aa75b8d72fc944f7d8b2d41aa4c",
                    "messages_hash": "db1e0d80ad91b6976708c306437b56f9c9ef0aeed9a4785ca4b515c303eca9d8",
                    "previous_block_hash": "5f035aea437447fc44d9891b5e839fd141ea7b86d1574543186b6d074f6595e8",
                    "difficulty": 545259519,
                    "transaction_count": 1
                },
                {
                    "block_index": 241,
                    "block_hash": "5f035aea437447fc44d9891b5e839fd141ea7b86d1574543186b6d074f6595e8",
                    "block_time": 1742485027,
                    "ledger_hash": "c38e0d1bb5768b3f80e8e23f26ffaf1cb3ad615dd816da564f81cc415bec0c75",
                    "txlist_hash": "270b0923772d3e51b02f2f95089e53ce153b28c34ad11149bc3857b9fbe8d57f",
                    "messages_hash": "c659abf430f57f639a46b69280d3631e0c5f6a2b04416533216f8b831c5f2a3d",
                    "previous_block_hash": "7d71a49b892177ee407da1f185d8a4437497a0338b0e16dd2de086b4635edac5",
                    "difficulty": 545259519,
                    "transaction_count": 1
                }
            ],
            "next_cursor": 240,
            "result_count": 145
        }
    ```

### Get Last Block [GET /v2/blocks/last{?verbose}]

Return the information of the last block

+ Parameters
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                "block_time": 1742485043,
                "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                "previous_block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Height [GET /v2/blocks/{block_index}{?verbose}]

Return the information of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                "block_time": 1742485043,
                "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                "previous_block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Block By Hash [GET /v2/blocks/{block_hash}{?verbose}]

Return the information of a block

+ Parameters
    + block_hash: `1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6` (str, required) - The index of the block to return
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": {
                "block_index": 245,
                "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                "block_time": 1742485043,
                "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                "previous_block_hash": "30474412eda2c4607ff586e3953e7546eb88da44e811a9e220409067998c2a6b",
                "difficulty": 545259519,
                "transaction_count": 1
            }
        }
    ```

### Get Transactions By Block [GET /v2/blocks/{block_index}/transactions{?type,show_unconfirmed,cursor,limit,offset,verbose}]

Returns the transactions of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + type (enum[str], optional) - The type of the transaction to return
        + Default: `all`
        + Members
            + `all`
            + `bet`
            + `broadcast`
            + `btcpay`
            + `cancel`
            + `destroy`
            + `dispenser`
            + `dispense`
            + `dividend`
            + `issuance`
            + `order`
            + `send`
            + `enhanced_send`
            + `mpma`
            + `rps`
            + `rpsresolve`
            + `sweep`
            + `fairminter`
            + `fairmint`
            + `attach`
            + `detach`
            + `utxomove`
            + `unknown`
    + show_unconfirmed (bool, optional) - Show unconfirmed transactions
        + Default: `null`
    + cursor: `121` (int, optional) - The last transaction index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of transactions to return
        + Default: `10`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "block_index": 245,
                    "block_hash": "1ddd869beef8e73f2ddc2299e9f30cd1cd64593ab664de0b563b995e76a078c6",
                    "block_time": 1742485043,
                    "source": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "destination": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "btc_amount": 1000,
                    "fee": 0,
                    "data": "0d00",
                    "supported": true,
                    "utxos_info": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1 a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0 3 1",
                    "transaction_type": "dispense",
                    "events": [
                        {
                            "event_index": 1034,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "MYASSETA",
                                "block_index": 245,
                                "destination": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                                "destination_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                                "msg_index": 0,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                                "source_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                                "status": "valid",
                                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                                "tx_index": 121,
                                "block_time": 1742485043,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "My super asset A",
                                    "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                                    "divisible": true,
                                    "locked": false,
                                    "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                            "block_index": 245,
                            "block_time": 1742485043
                        },
                        {
                            "event_index": 1037,
                            "event": "UTXO_MOVE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "destination": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                                "destination_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                                "msg_index": 1,
                                "quantity": 2000000000,
                                "send_type": "move",
                                "source": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                                "source_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                                "status": "valid",
                                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                                "tx_index": 121,
                                "block_time": 1742485043,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "quantity_normalized": "20.00000000"
                            },
                            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                            "block_index": 245,
                            "block_time": 1742485043
                        },
                        {
                            "event_index": 1039,
                            "event": "DISPENSER_UPDATE",
                            "params": {
                                "asset": "XCP",
                                "dispense_count": 2,
                                "give_remaining": 9268,
                                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                                "status": 0,
                                "tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "give_remaining_normalized": "0.00009268"
                            },
                            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                            "block_index": 245,
                            "block_time": 1742485043
                        },
                        {
                            "event_index": 1040,
                            "event": "DISPENSE",
                            "params": {
                                "asset": "XCP",
                                "block_index": 245,
                                "btc_amount": 1000,
                                "destination": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                                "dispense_index": 0,
                                "dispense_quantity": 66,
                                "dispenser_tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                                "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                                "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                                "tx_index": 121,
                                "block_time": 1742485043,
                                "asset_info": {
                                    "asset_longname": null,
                                    "description": "The Counterparty protocol native currency",
                                    "issuer": null,
                                    "divisible": true,
                                    "locked": true,
                                    "owner": null
                                },
                                "dispense_quantity_normalized": "0.00000066",
                                "btc_amount_normalized": "0.00001000"
                            },
                            "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                            "block_index": 245,
                            "block_time": 1742485043
                        }
                    ],
                    "unpacked_data": {
                        "message_type": "dispense",
                        "message_type_id": 13,
                        "message_data": {
                            "data": "00"
                        }
                    },
                    "btc_amount_normalized": "0.00001000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Transaction Types Count By Block [GET /v2/blocks/{block_index}/transactions/counts{?count_unconfirmed,verbose}]

Returns the count of each transaction type

+ Parameters
    + block_index: `121` (int, required) - The index of the block to return
    + count_unconfirmed (bool, optional) - Count unconfirmed transactions
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [],
            "next_cursor": null,
            "result_count": 0
        }
    ```

### Get Events By Block [GET /v2/blocks/{block_index}/events{?event_name,cursor,limit,offset,verbose}]

Returns the events of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event_name (str, optional) - Comma separated list of events to return
        + Default: `null`
    + cursor: `1042` (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1042,
                    "event": "BLOCK_PARSED",
                    "params": {
                        "block_index": 245,
                        "ledger_hash": "45697b68373d47749251b8f97d18a233684443f85b4d7aba32e004e62d7341bd",
                        "messages_hash": "c8432e10c1954bce714d8848343a4e086019cf2648f9010b07f1d7b41ad85b32",
                        "transaction_count": 1,
                        "txlist_hash": "f540791c02694ed89766817b6ceeba2d4438233ff3612ea36dc768582bbdeea8",
                        "block_time": 1742485043
                    },
                    "tx_hash": null
                },
                {
                    "event_index": 1041,
                    "event": "TRANSACTION_PARSED",
                    "params": {
                        "supported": true,
                        "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "tx_index": 121
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                },
                {
                    "event_index": 1040,
                    "event": "DISPENSE",
                    "params": {
                        "asset": "XCP",
                        "block_index": 245,
                        "btc_amount": 1000,
                        "destination": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                        "dispense_index": 0,
                        "dispense_quantity": 66,
                        "dispenser_tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                        "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                        "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "tx_index": 121,
                        "block_time": 1742485043,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "dispense_quantity_normalized": "0.00000066",
                        "btc_amount_normalized": "0.00001000"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                },
                {
                    "event_index": 1039,
                    "event": "DISPENSER_UPDATE",
                    "params": {
                        "asset": "XCP",
                        "dispense_count": 2,
                        "give_remaining": 9268,
                        "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                        "status": 0,
                        "tx_hash": "309849b07b0c7f933e88d126b4385a5bf876859880d539d1d06840dfaa90327b",
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "give_remaining_normalized": "0.00009268"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                },
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1742485043,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                }
            ],
            "next_cursor": 1037,
            "result_count": 14
        }
    ```

### Get Event Counts By Block [GET /v2/blocks/{block_index}/events/counts{?cursor,limit,offset,verbose}]

Returns the event counts of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (str, optional) - The last event name to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event": "UTXO_MOVE",
                    "event_count": 2
                },
                {
                    "event": "TRANSACTION_PARSED",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION_OUTPUT",
                    "event_count": 1
                },
                {
                    "event": "NEW_TRANSACTION",
                    "event_count": 1
                },
                {
                    "event": "NEW_BLOCK",
                    "event_count": 1
                }
            ],
            "next_cursor": "DISPENSER_UPDATE",
            "result_count": 10
        }
    ```

### Get Events By Block And Event [GET /v2/blocks/{block_index}/events/{event}{?cursor,limit,offset,verbose}]

Returns the events of a block filtered by event

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + event: `CREDIT` (str, required) - The event to filter by
    + cursor (int, optional) - The last event index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of events to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "event_index": 1038,
                    "event": "CREDIT",
                    "params": {
                        "address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "dispense",
                        "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "quantity": 66,
                        "tx_index": 121,
                        "utxo": null,
                        "utxo_address": null,
                        "block_time": 1742485043,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "0.00000066"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                },
                {
                    "event_index": 1036,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "XCP",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                        "utxo_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                        "block_time": 1742485043,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "The Counterparty protocol native currency",
                            "issuer": null,
                            "divisible": true,
                            "locked": true,
                            "owner": null
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                },
                {
                    "event_index": 1033,
                    "event": "CREDIT",
                    "params": {
                        "address": null,
                        "asset": "MYASSETA",
                        "block_index": 245,
                        "calling_function": "utxo move",
                        "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                        "quantity": 2000000000,
                        "tx_index": 121,
                        "utxo": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                        "utxo_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                        "block_time": 1742485043,
                        "asset_info": {
                            "asset_longname": null,
                            "description": "My super asset A",
                            "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                            "divisible": true,
                            "locked": false,
                            "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                        },
                        "quantity_normalized": "20.00000000"
                    },
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Credits By Block [GET /v2/blocks/{block_index}/credits{?action,cursor,limit,offset,verbose}]

Returns the credits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `Closed: Max dispenses reached`
            + `bet settled: for equal`
            + `bet settled: for notequal`
            + `bet settled: liquidated for bear`
            + `btcpay`
            + `burn`
            + `cancel order`
            + `close dispenser`
            + `dispense`
            + `dispenser close`
            + `dividend`
            + `feed fee`
            + `filled`
            + `issuance`
            + `mpma send`
            + `open dispenser empty addr`
            + `order cancelled`
            + `order expired`
            + `order match`
            + `recredit backward quantity`
            + `recredit forward quantity`
            + `recredit wager`
            + `recredit wager remaining`
            + `reset issuance`
            + `send`
            + `sweep`
            + `wins`
    + cursor (int, optional) - The last credit index to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of credits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "asset": "XCP",
                    "quantity": 66,
                    "calling_function": "dispense",
                    "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "tx_index": 121,
                    "utxo": null,
                    "utxo_address": null,
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "0.00000066"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "tx_index": 121,
                    "utxo": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                    "utxo_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "calling_function": "utxo move",
                    "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "tx_index": 121,
                    "utxo": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                    "utxo_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 3
        }
    ```

### Get Debits By Block [GET /v2/blocks/{block_index}/debits{?action,cursor,limit,offset,verbose}]

Returns the debits of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + action (enum[str], optional) - The action to filter by
        + Default: `null`
        + Members
            + `None`
            + `bet`
            + `destroy`
            + `dividend`
            + `dividend fee`
            + `issuance fee`
            + `mpma send`
            + `open RPS`
            + `open dispenser`
            + `open dispenser empty addr`
            + `open order`
            + `refill dispenser`
            + `reopen RPS after matching expiration`
            + `reset destroy`
            + `send`
            + `sweep`
            + `sweep fee`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "tx_index": 121,
                    "utxo": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                    "utxo_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000"
                },
                {
                    "block_index": 245,
                    "address": null,
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "action": "utxo move",
                    "event": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "tx_index": 121,
                    "utxo": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                    "utxo_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                    },
                    "quantity_normalized": "20.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Expirations [GET /v2/blocks/{block_index}/expirations{?cursor,limit,offset,verbose}]

Returns the expirations of a block

+ Parameters
    + block_index: `211` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the expirations to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of expirations to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "type": "order",
                    "object_id": "92bddef8c9dbdfda16751d1b3392020fedf14c65f2e2c9f7c4fc161d711fed0a",
                    "block_index": 211,
                    "block_time": 1742484885
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Cancels [GET /v2/blocks/{block_index}/cancels{?cursor,limit,offset,verbose}]

Returns the cancels of a block

+ Parameters
    + block_index: `188` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the cancels to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of cancels to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 63,
                    "tx_hash": "0fe8191047984bd7923203c7b1db0cceb8405c00ee2ffe3157906dc5d634986c",
                    "block_index": 188,
                    "source": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                    "offer_hash": "1d025cfe1868d8e7678d776eac77e67cd834d5ceccdece1283c08648e3d25e7b",
                    "status": "valid",
                    "block_time": 1742484788
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Valid Destructions By Block [GET /v2/blocks/{block_index}/destructions{?cursor,limit,offset,verbose}]

Returns the destructions of a block

+ Parameters
    + block_index: `240` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the destructions to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of destructions to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 117,
                    "tx_hash": "765cbac1d97db5e901fc79aea1ac278c9727243bc3edb3923f6abfac77db7bbd",
                    "block_index": 240,
                    "source": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                    "asset": "RESET",
                    "quantity": 12,
                    "tag": "reset",
                    "status": "valid",
                    "block_time": 1742485023,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "",
                        "issuer": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1qz729he8m6s6fd90t0jjlyn7f20tsyjcscx2aj8"
                    },
                    "quantity_normalized": "0.00000012"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Issuances By Block [GET /v2/blocks/{block_index}/issuances{?asset_events,cursor,limit,offset,verbose}]

Returns the issuances of a block

+ Parameters
    + block_index: `243` (int, required) - The index of the block to return
    + asset_events (enum[str], optional) - Filter result by one or several comma separated asset events
        + Default: `all`
        + Members
            + `all`
            + `creation`
            + `reissuance`
            + `lock_quantity`
            + `reset`
            + `change_description`
            + `transfer`
            + `open_fairminter`
            + `fairmint`
            + `lock_description`
    + cursor (int, optional) - The last index of the issuances to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of issuances to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 120,
                    "tx_hash": "402d31057fcf2fb230447465e327217971d298b86956f3c42789cf844084d314",
                    "msg_index": 0,
                    "block_index": 243,
                    "asset": "OPENFAIR",
                    "quantity": 0,
                    "divisible": true,
                    "source": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "issuer": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "transfer": false,
                    "callable": false,
                    "call_date": 0,
                    "call_price": 0.0,
                    "description": "",
                    "fee_paid": 50000000,
                    "status": "valid",
                    "asset_longname": null,
                    "description_locked": false,
                    "fair_minting": true,
                    "asset_events": "open_fairminter",
                    "locked": false,
                    "reset": false,
                    "block_time": 1742485034,
                    "quantity_normalized": "0.00000000",
                    "fee_paid_normalized": "0.50000000"
                }
            ],
            "next_cursor": null,
            "result_count": 1
        }
    ```

### Get Sends By Block [GET /v2/blocks/{block_index}/sends{?send_type,cursor,limit,offset,verbose}]

Returns the sends, include Enhanced and MPMA sends, of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + send_type (enum[str], optional) - The type of the send to return
        + Default: `all`
        + Members
            + `all`
            + `send`
            + `attach`
            + `move`
            + `detach`
    + cursor (int, optional) - The last index of the debits to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of debits to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
            "result": [
                {
                    "tx_index": 121,
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "block_index": 245,
                    "source": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                    "destination": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                    "asset": "XCP",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 1,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "destination_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "The Counterparty protocol native currency",
                        "issuer": null,
                        "divisible": true,
                        "locked": true,
                        "owner": null
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                },
                {
                    "tx_index": 121,
                    "tx_hash": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902",
                    "block_index": 245,
                    "source": "4ce9f120b7049542bcb75a20688c55bb8bb06280cfada5109302fdac80c2f9bf:1",
                    "destination": "a7fb33bbcab537b8de2c6fee8548b56c329eb0d0cf8c848decd9309a032b7902:0",
                    "asset": "MYASSETA",
                    "quantity": 2000000000,
                    "status": "valid",
                    "msg_index": 0,
                    "memo": null,
                    "fee_paid": 0,
                    "send_type": "move",
                    "source_address": "bcrt1qy7wnnpp736hj4vsvcq8kpnnsuryr7lt9q3gmye",
                    "destination_address": "bcrt1qtue74kduu8uswjcpgydtpy8kq6avd7chfdh3ed",
                    "block_time": 1742485043,
                    "asset_info": {
                        "asset_longname": null,
                        "description": "My super asset A",
                        "issuer": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf",
                        "divisible": true,
                        "locked": false,
                        "owner": "bcrt1q060qlcep84j67tgc0l8tyznn9v7ql5jns2yvtf"
                    },
                    "quantity_normalized": "20.00000000",
                    "fee_paid_normalized": "0.00000000"
                }
            ],
            "next_cursor": null,
            "result_count": 2
        }
    ```

### Get Dispenses By Block [GET /v2/blocks/{block_index}/dispenses{?cursor,limit,offset,verbose}]

Returns the dispenses of a block

+ Parameters
    + block_index: `245` (int, required) - The index of the block to return
    + cursor (int, optional) - The last index of the dispenses to return
        + Default: `null`
    + limit: `5` (int, optional) - The maximum number of dispenses to return
        + Default: `100`
    + offset (int, optional) - The number of lines to skip before returning results (overrides the `cursor` parameter)
        + Default: `null`
    + verbose: `true` (bool, optional) - Include asset and dispenser info and normalized quantities in the response.
        + Default: `false`

+ Response 200 (application/json)

    ```
        {
[...]
