apsw==3.49.0.0
appdirs==1.4.4
python-dateutil==2.8.2
Flask-HTTPAuth==4.8.0
Flask==3.0.0
prettytable==3.9.0
json-rpc==1.15.0
pycryptodome==3.20.0
ripemd-hash==1.0.1
safe-pysha3==1.0.4
pytest==7.4.4
pytest-cov==4.1.0
python-bitcoinlib==0.12.2
requests==2.32.2
tendo==0.3.0
xmltodict==0.13.0
cachetools==5.3.2
bitstring==4.1.4
Werkzeug==3.0.6
itsdangerous==2.1.2
arc4==0.4.0
halo==0.0.31
termcolor==2.4.0
sentry-sdk==2.22.0
docstring_parser==0.16
psutil==5.9.8
influxdb-client==1.42.0
python-gnupg==0.5.2
pyzmq==26.3.0
gevent==24.11.1
JSON-log-formatter==1.0
yoyo-migrations==8.2.0
gunicorn==23.0.0
waitress==3.0.1
hypothesis==6.116.0
bitcoin-utils==0.7.1
pyzstd==0.16.2
dredd_hooks==0.2.0
sh==2.0.6
PyYAML==6.0.2
multiprocessing-logging==0.3.4
locust==2.32.8
pygit2==1.17.0
counterparty-rs==11.0.0-rc.1
