apsw==3.45.1.0
appdirs==1.4.4
setuptools-markdown==0.4.1
python-dateutil==2.8.2
Flask-HTTPAuth==4.8.0
Flask==3.0.0
prettytable==3.9.0
json-rpc==1.15.0
pycoin==0.92.20230326
pycryptodome==3.20.0
ripemd-hash==1.0.1
safe-pysha3==1.0.4
pytest==7.4.4
pytest-cov==4.1.0
python-bitcoinlib==0.12.2
requests==2.32.0
tendo==0.3.0
xmltodict==0.13.0
cachetools==5.3.2
bitstring==4.1.4
Werkzeug==3.0.6
itsdangerous==2.1.2
plyvel==1.5.1
arc4==0.4.0
halo==0.0.31
termcolor==2.4.0
sentry-sdk==2.10.0
docstring_parser==0.16
psutil==5.9.8
influxdb-client==1.42.0
python-gnupg==0.5.2
pyzmq==26.0.3
JSON-log-formatter==1.0
yoyo-migrations==8.2.0
gunicorn==23.0.0
waitress==3.0.1
hypothesis==6.116.0
bitcoin-utils==0.7.1
counterparty-rs==10.7.4
